Repository ethereum/ethereum-org-website, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📖, tooling 🔧, dependencies 📦, config ⚙️, translation 🌍, content 🖋️, event 📅

.github/labeler.yml:

"documentation 📖":
  - README.md
  - docs/**/*

"tooling 🔧":
  - .github/**/*
  - src/scripts/**/*
  - src/lib/**/*
  - src/hooks/**/*
  - .storybook/**/*

"dependencies 📦":
  - package.json
  - yarn.lock

"config ⚙️":
  - i18n.config.json
  - next.config.js
  - next-sitemap.config.js
  - tsconfig.json
  - .nvmrc
  - .eslintignore
  - .eslintrc.json
  - .prettierignore
  - .prettierrc
  - netlify.toml

"translation 🌍":
  - public/content/translations/**/*
  - src/intl/**/*

"content 🖋️":
  - src/intl/en/**
  - public/content/**/*

"event 📅":
  - src/data/community-events.json

refactor: use BigNumber for demo
  src/components/Resources/useResources.tsx
Labels: none

feat: create chart components (area, bar, radial)
  src/components/AreaChart/index.tsx
  src/components/BarChart/index.tsx
  src/components/RadialChart/index.tsx
Labels: none

Made review changes.
  src/components/NetworkMaturity.tsx
Labels: none

soulbond typo fixed
  public/content/translations/ru/desci/index.md
Labels: translation 🌍, content 🖋️

more client components
  src/components/Logo/index.tsx
  src/components/TranslationChartImage/index.tsx
Labels: none

add basic error & not found pages
  app/[locale]/error.tsx
  app/[locale]/not-found.tsx
  app/layout.tsx
  app/not-found.tsx
Labels: none

feat: add block countdown, median tx cost
  src/components/RadialChart/index.tsx
  src/components/Resources/useResources.tsx
  src/pages/resources.tsx
Labels: none

Update applying-storybook.md
  docs/applying-storybook.md
Labels: documentation 📖

Update best-practices.md
  docs/best-practices.md
Labels: documentation 📖

Update header-ids.md
  docs/header-ids.md
Labels: documentation 📖

Update translation-program.md
  docs/translation-program.md
Labels: documentation 📖

Update 404 link index.md
  public/content/translations/ha/dao/index.md
Labels: translation 🌍, content 🖋️

Update community events
  src/data/community-events.json
Labels: event 📅

Update Crowdin contributors
  src/data/crowdin/combined-translators.json
Labels: none

fix dead links around the site
  public/content/dao/index.md
  public/content/defi/index.md
  public/content/enterprise/index.md
  public/content/wrapped-eth/index.md
Labels: content 🖋️

fix inconsistent heading formats
  public/content/community/online/index.md
Labels: content 🖋️
