Repository ethereum/ethereum-org-website, pull requests merged in 2019-11, with the labels that each got.

#359 Add unit test suite
  .babelrc
  README.md
  __tests__/components/AssetItem.spec.js
  __tests__/components/HomePage.spec.js
  __tests__/components/LanguagesPage.spec.js
  __tests__/components/__snapshots__/AssetItem.spec.js.snap
  __tests__/components/__snapshots__/HomePage.spec.js.snap
  __tests__/components/__snapshots__/LanguagesPage.spec.js.snap
  __tests__/mocks/FileMock.js
  __tests__/theme/components/DropdownLink.spec.js
  __tests__/theme/components/DropdownTransition.spec.js
  __tests__/theme/components/Footer.spec.js
  __tests__/theme/components/Header.spec.js
  __tests__/theme/components/Hero.spec.js
  __tests__/theme/components/LanguageDropdown.spec.js
  __tests__/theme/components/LanguageIcon.spec.js
  __tests__/theme/components/NavLink.spec.js
  __tests__/theme/components/NavLinks.spec.js
  __tests__/theme/components/SearchBox.spec.js
  __tests__/theme/components/Sidebar.spec.js
  __tests__/theme/components/SidebarButton.spec.js
  __tests__/theme/components/SidebarGroup.spec.js
  __tests__/theme/components/SidebarLink.spec.js
  __tests__/theme/components/__snapshots__/DropdownLink.spec.js.snap
  __tests__/theme/components/__snapshots__/DropdownTransition.spec.js.snap
  __tests__/theme/components/__snapshots__/Footer.spec.js.snap
  __tests__/theme/components/__snapshots__/Header.spec.js.snap
  __tests__/theme/components/__snapshots__/Hero.spec.js.snap
  __tests__/theme/components/__snapshots__/LanguageDropdown.spec.js.snap
  __tests__/theme/components/__snapshots__/LanguageIcon.spec.js.snap
  __tests__/theme/components/__snapshots__/NavLink.spec.js.snap
  __tests__/theme/components/__snapshots__/NavLinks.spec.js.snap
  __tests__/theme/components/__snapshots__/SearchBox.spec.js.snap
  __tests__/theme/components/__snapshots__/Sidebar.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarButton.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarGroup.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarLink.spec.js.snap
  package.json
  yarn.lock
Labels: Status: Review Needed

#356 Add "Last Updated" To The Website
  docs/.vuepress/config.js
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/components/Footer.vue
  package.json
  yarn.lock
Labels: Status: Review Needed

#381 Add translations for "last updated" [Fixes #378]
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/components/Footer.vue
  docs/.vuepress/theme/styles/responsive.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/.vuepress/theme/utils/translations.js
Labels: Type: Translation

#382 Deploy 404 page & last updated timestamps
  .babelrc
  .github/workflows/label.yml
  README.md
  __tests__/components/AssetItem.spec.js
  __tests__/components/HomePage.spec.js
  __tests__/components/LanguagesPage.spec.js
  __tests__/components/__snapshots__/AssetItem.spec.js.snap
  __tests__/components/__snapshots__/HomePage.spec.js.snap
  __tests__/components/__snapshots__/LanguagesPage.spec.js.snap
  __tests__/mocks/FileMock.js
  __tests__/theme/components/DropdownLink.spec.js
  __tests__/theme/components/DropdownTransition.spec.js
  __tests__/theme/components/Footer.spec.js
  __tests__/theme/components/Header.spec.js
  __tests__/theme/components/Hero.spec.js
  __tests__/theme/components/LanguageDropdown.spec.js
  __tests__/theme/components/LanguageIcon.spec.js
  __tests__/theme/components/NavLink.spec.js
  __tests__/theme/components/NavLinks.spec.js
  __tests__/theme/components/SearchBox.spec.js
  __tests__/theme/components/Sidebar.spec.js
  __tests__/theme/components/SidebarButton.spec.js
  __tests__/theme/components/SidebarGroup.spec.js
  __tests__/theme/components/SidebarLink.spec.js
  __tests__/theme/components/__snapshots__/DropdownLink.spec.js.snap
  __tests__/theme/components/__snapshots__/DropdownTransition.spec.js.snap
  __tests__/theme/components/__snapshots__/Footer.spec.js.snap
  __tests__/theme/components/__snapshots__/Header.spec.js.snap
  __tests__/theme/components/__snapshots__/Hero.spec.js.snap
  __tests__/theme/components/__snapshots__/LanguageDropdown.spec.js.snap
  __tests__/theme/components/__snapshots__/LanguageIcon.spec.js.snap
  __tests__/theme/components/__snapshots__/NavLink.spec.js.snap
  __tests__/theme/components/__snapshots__/NavLinks.spec.js.snap
  __tests__/theme/components/__snapshots__/SearchBox.spec.js.snap
  __tests__/theme/components/__snapshots__/Sidebar.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarButton.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarGroup.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarLink.spec.js.snap
  docs/.vuepress/components/DefaultList.vue
  docs/.vuepress/components/RandomAppList.vue
  docs/.vuepress/components/RandomList.vue
  docs/.vuepress/config.js
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/NotFound.vue
  docs/.vuepress/theme/components/Footer.vue
  docs/.vuepress/theme/components/Header.vue
  docs/.vuepress/theme/styles/responsive.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/.vuepress/theme/utils/translations.js
  docs/developers/index.md
  docs/use/index.md
  package.json
  yarn.lock
Labels: Type: Documentation, Type: Tooling

#383 Revert "Add unit test suite"
  .babelrc
  README.md
  __tests__/components/AssetItem.spec.js
  __tests__/components/HomePage.spec.js
  __tests__/components/LanguagesPage.spec.js
  __tests__/components/__snapshots__/AssetItem.spec.js.snap
  __tests__/components/__snapshots__/HomePage.spec.js.snap
  __tests__/components/__snapshots__/LanguagesPage.spec.js.snap
  __tests__/mocks/FileMock.js
  __tests__/theme/components/DropdownLink.spec.js
  __tests__/theme/components/DropdownTransition.spec.js
  __tests__/theme/components/Footer.spec.js
  __tests__/theme/components/Header.spec.js
  __tests__/theme/components/Hero.spec.js
  __tests__/theme/components/LanguageDropdown.spec.js
  __tests__/theme/components/LanguageIcon.spec.js
  __tests__/theme/components/NavLink.spec.js
  __tests__/theme/components/NavLinks.spec.js
  __tests__/theme/components/SearchBox.spec.js
  __tests__/theme/components/Sidebar.spec.js
  __tests__/theme/components/SidebarButton.spec.js
  __tests__/theme/components/SidebarGroup.spec.js
  __tests__/theme/components/SidebarLink.spec.js
  __tests__/theme/components/__snapshots__/DropdownLink.spec.js.snap
  __tests__/theme/components/__snapshots__/DropdownTransition.spec.js.snap
  __tests__/theme/components/__snapshots__/Footer.spec.js.snap
  __tests__/theme/components/__snapshots__/Header.spec.js.snap
  __tests__/theme/components/__snapshots__/Hero.spec.js.snap
  __tests__/theme/components/__snapshots__/LanguageDropdown.spec.js.snap
  __tests__/theme/components/__snapshots__/LanguageIcon.spec.js.snap
  __tests__/theme/components/__snapshots__/NavLink.spec.js.snap
  __tests__/theme/components/__snapshots__/NavLinks.spec.js.snap
  __tests__/theme/components/__snapshots__/SearchBox.spec.js.snap
  __tests__/theme/components/__snapshots__/Sidebar.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarButton.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarGroup.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarLink.spec.js.snap
  package.json
  yarn.lock
Labels: Type: Documentation

#364 Add Unit Test Suite [Fixes #350]
  README.md
  babel.config.js
  docs/.vuepress/components/RandomAppList.vue
  docs/.vuepress/components/RandomList.vue
  docs/.vuepress/components/__tests__/AssetItem.spec.js
  docs/.vuepress/components/__tests__/DefaultList.spec.js
  docs/.vuepress/components/__tests__/HomePage.spec.js
  docs/.vuepress/components/__tests__/LanguagesPage.spec.js
  docs/.vuepress/components/__tests__/RandomAppList.spec.js
  docs/.vuepress/components/__tests__/RandomList.spec.js
  docs/.vuepress/components/__tests__/__snapshots__/AssetItem.spec.js.snap
  docs/.vuepress/components/__tests__/__snapshots__/DefaultList.spec.js.snap
  docs/.vuepress/components/__tests__/__snapshots__/HomePage.spec.js.snap
  docs/.vuepress/components/__tests__/__snapshots__/LanguagesPage.spec.js.snap
  docs/.vuepress/components/__tests__/__snapshots__/RandomAppList.spec.js.snap
  docs/.vuepress/components/__tests__/__snapshots__/RandomList.spec.js.snap
  docs/.vuepress/theme/components/SidebarLink.vue
  docs/.vuepress/theme/components/__tests__/DropdownLink.spec.js
  docs/.vuepress/theme/components/__tests__/DropdownTransition.spec.js
  docs/.vuepress/theme/components/__tests__/Footer.spec.js
  docs/.vuepress/theme/components/__tests__/Header.spec.js
  docs/.vuepress/theme/components/__tests__/Hero.spec.js
  docs/.vuepress/theme/components/__tests__/LanguageDropdown.spec.js
  docs/.vuepress/theme/components/__tests__/LanguageIcon.spec.js
  docs/.vuepress/theme/components/__tests__/NavLink.spec.js
  docs/.vuepress/theme/components/__tests__/NavLinks.spec.js
  docs/.vuepress/theme/components/__tests__/SearchBox.spec.js
  docs/.vuepress/theme/components/__tests__/Sidebar.spec.js
  docs/.vuepress/theme/components/__tests__/SidebarButton.spec.js
  docs/.vuepress/theme/components/__tests__/SidebarGroup.spec.js
  docs/.vuepress/theme/components/__tests__/SidebarLink.spec.js
  docs/.vuepress/theme/components/__tests__/__snapshots__/DropdownLink.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/DropdownTransition.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Footer.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Header.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Hero.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/LanguageDropdown.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/LanguageIcon.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/NavLink.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/NavLinks.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/SearchBox.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Sidebar.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/SidebarButton.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/SidebarGroup.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/SidebarLink.spec.js.snap
  docs/.vuepress/theme/scripts/__mocks__/morpher.js
  docs/.vuepress/theme/utils/__mocks__/translations.js
  docs/.vuepress/theme/utils/__mocks__/util.js
  jest.config.js
  package.json
  yarn.lock
Labels: Status: Review Needed, Type: Bounty

#370 updated besu references and outdated gitter
  docs/java/index.md
Labels: Status: Review Needed

#369 Support explicit heading IDs [Fixes #272]
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/SidebarLink.vue
  docs/.vuepress/theme/utils/markdown.js
  docs/.vuepress/theme/utils/util.js
  docs/beginners/index.md
  docs/de/beginners/index.md
  docs/de/developers/index.md
  docs/de/learn/index.md
  docs/de/use/index.md
  docs/developers/index.md
  docs/el/beginners/index.md
  docs/el/developers/index.md
  docs/el/learn/index.md
  docs/el/use/index.md
  docs/es/beginners/index.md
  docs/es/developers/index.md
  docs/es/learn/index.md
  docs/es/use/index.md
  docs/fa/beginners/index.md
  docs/fa/developers/index.md
  docs/fa/learn/index.md
  docs/fa/use/index.md
  docs/fr/beginners/index.md
  docs/fr/developers/index.md
  docs/fr/learn/index.md
  docs/fr/use/index.md
  docs/it/beginners/index.md
  docs/it/developers/index.md
  docs/it/learn/index.md
  docs/it/use/index.md
  docs/ja/beginners/index.md
  docs/ja/developers/index.md
  docs/ja/learn/index.md
  docs/ja/use/index.md
  docs/ko/beginners/index.md
  docs/ko/developers/index.md
  docs/ko/learn/index.md
  docs/ko/use/index.md
  docs/learn/index.md
  docs/ru/beginners/index.md
  docs/ru/developers/index.md
  docs/ru/learn/index.md
  docs/ru/use/index.md
  docs/sk/beginners/index.md
  docs/sk/developers/index.md
  docs/sk/learn/index.md
  docs/sk/use/index.md
  docs/use/index.md
  docs/zh/beginners/index.md
  docs/zh/developers/index.md
  docs/zh/learn/index.md
  docs/zh/use/index.md
  package.json
  scripts/generateHeadingIDs.js
  yarn.lock
Labels: Status: Question, Type: Bounty

#375 Adding Dutch and Polish translations [fixes #357 #358]
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/nl/beginners/index.md
  docs/nl/developers/index.md
  docs/nl/index.md
  docs/nl/learn/index.md
  docs/nl/use/index.md
  docs/pl/beginners/index.md
  docs/pl/developers/index.md
  docs/pl/index.md
  docs/pl/learn/index.md
  docs/pl/use/index.md
Labels: Type: Bounty

#385 Update to universal header ids
  docs/.vuepress/components/HomePage.vue
  docs/.vuepress/components/__tests__/__snapshots__/HomePage.spec.js.snap
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/DropdownLink.vue
  docs/.vuepress/theme/components/__tests__/Footer.spec.js
  docs/.vuepress/theme/components/__tests__/__snapshots__/Footer.spec.js.snap
  docs/.vuepress/theme/utils/__mocks__/translations.js
  docs/.vuepress/theme/utils/translations.js
  docs/beginners/index.md
  docs/de/beginners/index.md
  docs/de/learn/index.md
  docs/de/use/index.md
  docs/el/beginners/index.md
  docs/el/learn/index.md
  docs/el/use/index.md
  docs/es/beginners/index.md
  docs/es/learn/index.md
  docs/es/use/index.md
  docs/fa/beginners/index.md
  docs/fa/learn/index.md
  docs/fa/use/index.md
  docs/fr/beginners/index.md
  docs/fr/learn/index.md
  docs/fr/use/index.md
  docs/it/beginners/index.md
  docs/it/learn/index.md
  docs/it/use/index.md
  docs/ja/beginners/index.md
  docs/ja/learn/index.md
  docs/ja/use/index.md
  docs/ko/beginners/index.md
  docs/ko/learn/index.md
  docs/ko/use/index.md
  docs/learn/index.md
  docs/nl/beginners/index.md
  docs/nl/developers/index.md
  docs/nl/learn/index.md
  docs/nl/use/index.md
  docs/pl/beginners/index.md
  docs/pl/developers/index.md
  docs/pl/learn/index.md
  docs/pl/use/index.md
  docs/ru/beginners/index.md
  docs/ru/learn/index.md
  docs/ru/use/index.md
  docs/sk/beginners/index.md
  docs/sk/learn/index.md
  docs/sk/use/index.md
  docs/use/index.md
  docs/zh/beginners/index.md
  docs/zh/learn/index.md
  docs/zh/use/index.md
Labels: Status: Review Needed, Type: Translation

#392 Remove (newly) paywalled bloomberg article
  docs/learn/index.md
Labels: Status: Review Needed

#391 Updated title and "last updated" date for "90+ Ethereum apps..."
  docs/use/index.md
Labels: Status: Review Needed

#313 Added link to Smart Contract Security Verification Standard [Fixes #3…
  docs/developers/index.md
Labels: Status: Review Needed

#400 Fix broken link to Zubin Koticha article
  docs/learn/index.md
Labels: Status: Review Needed

#402 Deploy /build copy change
  docs/.vuepress/components/BuildPage.vue
  docs/learn/index.md
Labels: Status: Review Needed

#360 Add .NET developer page
  docs/developers/index.md
  docs/dot-net/index.md
Labels: Status: Review Needed, Type: Bounty

#361 Added language specific page for Rust [resolves #266]
  docs/developers/index.md
  docs/rust/index.md
Labels: Status: Review Needed, Type: Bounty

#365 Programming Language Specific Page: Golang [Fixes #265]
  docs/developers/index.md
  docs/golang/index.md
Labels: Status: Review Needed, Type: Bounty

#353 Configured ESLint & Prettier
  .eslintignore
  .eslintrc.js
  .prettierrc.js
  package.json
  yarn.lock
Labels: Type: Bounty

#366 Added language specific page for Golang [resolves #265]
  docs/golang/index.md
Labels: Type: Bounty

#367 Add Rust Developer Docs
  docs/rust/index.md
Labels: Type: Bounty

#349 Update vuepress to 1.2.0
  package.json
  yarn.lock
Labels: Type: Dependencies

#517 Deploy Rust, Golang & .NET pages
  .all-contributorsrc
  .eslintignore
  .eslintrc.js
  .prettierrc.js
  README.md
  docs/.vuepress/components/__tests__/__snapshots__/HomePage.spec.js.snap
  docs/.vuepress/components/__tests__/__snapshots__/LanguagesPage.spec.js.snap
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/components/Header.vue
  docs/.vuepress/theme/components/Hero.vue
  docs/.vuepress/theme/components/__tests__/__snapshots__/DropdownLink.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Footer.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Header.spec.js.snap
  docs/assets/index.md
  docs/de/developers/index.md
  docs/developers/index.md
  docs/dot-net/index.md
  docs/el/developers/index.md
  docs/es/developers/index.md
  docs/fa/developers/index.md
  docs/fr/developers/index.md
  docs/golang/index.md
  docs/it/developers/index.md
  docs/javascript/index.md
  docs/ko/use/index.md
  docs/nl/developers/index.md
  docs/pl/developers/index.md
  docs/ru/developers/index.md
  docs/rust/index.md
  docs/sk/developers/index.md
  docs/zh/developers/index.md
  package.json
  scripts/generateHeadingIDs.js
  yarn.lock
Labels: Status: Review Needed, Type: Documentation
