Repository ethereum/ethereum-org-website, pull requests merged in 2019-10, with the labels that each got.

#273 Add active state styles for sidebars
  docs/.vuepress/theme/components/SidebarLink.vue
  docs/.vuepress/theme/index.js
  package.json
  yarn.lock
Labels: design, enhancement

#284 Add Greek translations [Resolves #218]
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/el/beginners/index.md
  docs/el/developers/index.md
  docs/el/index.md
  docs/el/learn/index.md
  docs/el/use/index.md
Labels: translation

#277 Add Spanish translation [Resolves #229]
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/es/beginners/index.md
  docs/es/developers/index.md
  docs/es/index.md
  docs/es/learn/index.md
  docs/es/use/index.md
Labels: translation

#283 Add Slovak translations [Resolves #275]
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/sk/beginners/index.md
  docs/sk/developers/index.md
  docs/sk/index.md
  docs/sk/learn/index.md
  docs/sk/use/index.md
Labels: translation

#282 Add Russian translations [Resolves #230]
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/ru/beginners/index.md
  docs/ru/developers/index.md
  docs/ru/index.md
  docs/ru/learn/index.md
  docs/ru/use/index.md
Labels: translation

#274 Add Italian translations [Resolves #213]
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/it/beginners/index.md
  docs/it/developers/index.md
  docs/it/index.md
  docs/it/learn/index.md
  docs/it/use/index.md
Labels: translation

#201 Add SmartContract.Codes to Security Tools
  docs/developers/index.md
Labels: question

#268 WIP Javascript page
  docs/developers/index.md
  docs/fr/developers/index.md
  docs/ja/developers/index.md
  docs/java/index.md
  docs/javascript/index.md
  docs/ko/developers/index.md
  docs/python/index.md
  docs/zh/developers/index.md
Labels: wip

#280 [ImgBot] Optimize images
  docs/.vuepress/public/og-image-twitter.png
  docs/.vuepress/public/og-image.png
  docs/.vuepress/theme/images/dash-white.svg
  docs/.vuepress/theme/images/dash.svg
  docs/.vuepress/theme/images/hamburger-white.svg
  docs/.vuepress/theme/images/hamburger.svg
  docs/.vuepress/theme/images/hero-dark.gif
  docs/.vuepress/theme/images/hero-dark.jpg
  docs/.vuepress/theme/images/hero.gif
  docs/.vuepress/theme/images/hero.jpg
  docs/.vuepress/theme/images/highlight-dark.svg
  docs/.vuepress/theme/images/highlight.svg
  docs/.vuepress/theme/images/icon-github-white.svg
  docs/.vuepress/theme/images/icon-github.svg
  docs/.vuepress/theme/images/icon-moon.svg
  docs/.vuepress/theme/images/icon-search-white.svg
  docs/.vuepress/theme/images/icon-search.svg
  docs/.vuepress/theme/images/icon-sun.svg
  eth.png
  netlify-deploy-preview.png
Labels: question

#340 Add Github Action: Labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Type: Dependencies, Type: Documentation, Type: Tooling, Type: Translation

#345 Disable Labeler action for forks [Fixes #344]
  .github/workflows/label.yml
Labels: Type: Tooling

#339 Update hero CDN links to local files [Fixes #335]
  docs/.vuepress/public/ethereum-hero-dark.mp4
  docs/.vuepress/public/ethereum-hero-light.mp4
  docs/.vuepress/theme/components/Hero.vue
Labels: Type: Internal, Type: Refactor

#346 Deploy CDN link fix & Netlify redirects
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labeler.yml
  .github/workflows/label.yml
  .gitignore
  docs/.vuepress/config.js
  docs/.vuepress/public/ethereum-hero-dark.mp4
  docs/.vuepress/public/ethereum-hero-light.mp4
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/components/Hero.vue
  docs/.vuepress/theme/utils/translations.js
  docs/developers/index.md
  docs/enterprise/index.md
  netlify.toml
  package.json
  yarn.lock
Labels: Status: Review Needed, Type: Dependencies, Type: Tooling, Type: Translation

#348 Add robots.txt & sitemap.xml
  docs/.vuepress/config.js
  docs/.vuepress/public/robots.txt
  package.json
  yarn.lock
Labels: Type: Dependencies

#333 Language page v2
  README.md
  docs/.vuepress/components/HomePage.vue
  docs/.vuepress/components/LanguagesPage.vue
  docs/.vuepress/config.js
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/styles/theme.styl
  docs/.vuepress/theme/utils/translations.js
  docs/de/beginners/index.md
  docs/de/developers/index.md
  docs/de/index.md
  docs/de/learn/index.md
  docs/de/use/index.md
  docs/developers/index.md
  docs/el/beginners/index.md
  docs/el/developers/index.md
  docs/el/index.md
  docs/el/learn/index.md
  docs/el/use/index.md
  docs/es/beginners/index.md
  docs/es/developers/index.md
  docs/es/index.md
  docs/es/learn/index.md
  docs/es/use/index.md
  docs/fa/beginners/index.md
  docs/fa/developers/index.md
  docs/fa/index.md
  docs/fa/learn/index.md
  docs/fa/use/index.md
  docs/fr/index.md
  docs/fr/learn/index.md
  docs/fr/use/index.md
  docs/it/beginners/index.md
  docs/it/developers/index.md
  docs/it/index.md
  docs/it/learn/index.md
  docs/it/use/index.md
  docs/ja/beginners/index.md
  docs/ja/developers/index.md
  docs/ja/index.md
  docs/ja/learn/index.md
  docs/ja/use/index.md
  docs/ko/beginners/index.md
  docs/ko/developers/index.md
  docs/ko/index.md
  docs/ko/learn/index.md
  docs/ko/use/index.md
  docs/languages/index.md
  docs/ru/beginners/index.md
  docs/ru/developers/index.md
  docs/ru/index.md
  docs/ru/learn/index.md
  docs/ru/use/index.md
  docs/sk/beginners/index.md
  docs/sk/developers/index.md
  docs/sk/index.md
  docs/sk/learn/index.md
  docs/sk/use/index.md
  lambda/crowdin.js
  package.json
  yarn.lock
Labels: Status: In Progress, Status: Review Needed, Type: Content, Type: Documentation, Type: Feature, Type: Translation

#371 Avoid running GH labeler on forks [Fixes #344]
  .github/workflows/label.yml
Labels: Type: Tooling

#310 Using a simple, translatable 404 page that uses the sites global theme
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/NotFound.vue
  docs/.vuepress/theme/utils/translations.js
Labels: Status: Review Needed

#372 Add Nethermind to Clients
  docs/developers/index.md
Labels: Status: Review Needed

#374 Clean up NotFound component
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/NotFound.vue
  docs/.vuepress/theme/components/Header.vue
  docs/.vuepress/theme/utils/translations.js
Labels: Type: Translation
