Repository ethereum/ethereum-org-website, pull requests merged in 2020-07, with the labels that each got.

#1181 New "What is Ethereum" page
  src/components/ActionCard.js
  src/components/Callout.js
  src/components/Card.js
  src/components/Footer.js
  src/components/Layout.js
  src/components/SharedStyledComponents.js
  src/components/Sidebar.js
  src/components/Theme.js
  src/content/what-is-ethereum/index.md
  src/images/eth-logo.png
  src/images/wallets-cropped.png
  src/images/what-is-ethereum.png
  src/pages/index.js
  src/pages/what-is-ethereum.js
  src/styles/layout.css
  src/templates/static.js
Labels: Status: In Progress, Type: Content, Type: Design, Type: Feature

#1179 Add Morpher [Fixes #1151]
  src/components/Morpher.js
  src/pages/index.js
Labels: Type: Feature

#1196 Typo fix
  src/pages/what-is-ethereum.js
Labels: Type: Bug

#1198 Add soliditydeveloper.com blog
  src/content/developers/index.md
Labels: Status: Review Needed

#1219 Add Lithuanian (v1.0)
  .github/workflows/docsearchConfig.json
  src/content/translations/cs/use/index.md
  src/content/translations/cs/what-is-ethereum/index.md
  src/content/translations/ig/use/index.md
  src/content/translations/ig/what-is-ethereum/index.md
  src/content/translations/lt/developers/index.md
  src/content/translations/lt/learn/index.md
  src/content/translations/lt/use/index.md
  src/content/translations/lt/what-is-ethereum/index.md
  src/content/translations/pt-br/use/index.md
  src/content/translations/pt/use/index.md
  src/content/translations/pt/what-is-ethereum/index.md
  src/intl/lt.json
  src/utils/translations.js
Labels: Type: Content, Type: Feature, Type: Translation

#1221 Update Italian to v1.1
  src/content/translations/it/dapps/index.md
  src/content/translations/it/developers/index.md
  src/content/translations/it/dot-net/index.md
  src/content/translations/it/enterprise/index.md
  src/content/translations/it/eth/index.md
  src/content/translations/it/golang/index.md
  src/content/translations/it/java/index.md
  src/content/translations/it/javascript/index.md
  src/content/translations/it/learn/index.md
  src/content/translations/it/python/index.md
  src/content/translations/it/rust/index.md
  src/content/translations/it/use/index.md
  src/content/translations/it/wallets/index.md
  src/content/translations/it/what-is-ethereum/index.md
  src/intl/it.json
  src/utils/translations.js
Labels: Type: Content, Type: Feature, Type: Translation

#1223 Add Ukranian v1.1
  src/content/translations/uk/dapps/index.md
  src/content/translations/uk/developers/index.md
  src/content/translations/uk/dot-net/index.md
  src/content/translations/uk/enterprise/index.md
  src/content/translations/uk/eth/index.md
  src/content/translations/uk/golang/index.md
  src/content/translations/uk/java/index.md
  src/content/translations/uk/javascript/index.md
  src/content/translations/uk/learn/index.md
  src/content/translations/uk/python/index.md
  src/content/translations/uk/rust/index.md
  src/content/translations/uk/wallets/index.md
  src/content/translations/uk/what-is-ethereum/index.md
  src/intl/uk.json
  src/utils/translations.js
Labels: Type: Content, Type: Feature, Type: Translation

#1229 Prevent external link arrow from being wrapped around
  src/components/Link.js
  src/components/SharedStyledComponents.js
  src/templates/static.js
Labels: Status: Review Needed

#1246 Update dependencies
  yarn.lock
Labels: Type: Dependencies, Type: Internal

#1242 Update link styles [Fixes #1187]
  src/components/ActionCard.js
  src/components/Button.js
  src/components/CardList.js
  src/components/Footer.js
  src/components/MeetupList.js
  src/components/Nav/Dropdown.js
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
  src/components/Roadmap.js
  src/components/Search/index.js
  src/components/Sidebar.js
  src/components/Theme.js
  src/pages/build.js
  src/pages/languages.js
Labels: Type: Design, Type: Feature

#1259 Matched button styles to DS [Fixes #1249]
  src/components/Button.js
  src/components/Theme.js
Labels: Type: Design, Type: Feature

#1248 Contributing reorg [Fixes #1103 + #1247]
  LICENSE
  README.md
  gatsby-config.js
  package.json
  purpose.md
  src/components/ActionCard.js
  src/components/Contributors.js
  src/components/Footer.js
  src/components/Roadmap.js
  src/components/Theme.js
  src/content/about/index.md
  src/content/community/index.md
  src/content/contributing/adding-articles/index.md
  src/content/contributing/adding-developer-tools/index.md
  src/content/contributing/adding-products/index.md
  src/content/contributing/design-principles/index.md
  src/content/contributing/index.md
  src/content/translations/pl/what-is-ethereum/index.md
  src/data/contributors.json
  src/intl/ar.json
  src/intl/bn.json
  src/intl/de.json
  src/intl/en.json
  src/intl/fr.json
  src/intl/id.json
  src/intl/it.json
  src/intl/lt.json
  src/intl/ml.json
  src/intl/nb.json
  src/intl/pt.json
  src/intl/ro.json
  src/intl/se.json
  src/intl/sk.json
  src/intl/tr.json
  src/intl/uk.json
  src/pages/build.js
  src/pages/index.js
  src/scripts/copyContributors.js
  src/styles/layout.css
  src/templates/static.js
Labels: Type: Content, Type: Feature

#1244 Add Trinity client
  src/content/developers/index.md
Labels: Type: Content, Type: Feature
