Repository ethereum/ethereum-org-website, pull requests merged in 2020-11, with the labels that each got.

#1673 [WIP] Glossary Page #1127
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/glossary/index.md
  src/intl/en.json
Labels: Status: Review Needed, Type: Content, Type: Internal, Type: Translation

#1716 Adds list item styling [alternative fix to #1714]
  src/components/SharedStyledComponents.js
  src/templates/docs.js
  src/templates/static.js
  src/templates/tutorial.js
Labels: Status: Review Needed

#1719 v2.8.0
  package.json
Labels: Type: Dependencies

#1720 Deploy v2.8.0
  .all-contributorsrc
  README.md
  package.json
  src/components/Footer.js
  src/components/Icon.js
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
  src/components/SharedStyledComponents.js
  src/components/SideNav.js
  src/components/Tag.js
  src/content/about/index.md
  src/content/community/index.md
  src/content/developers/docs/ethereum-stack/index.md
  src/content/developers/docs/evm/index.md
  src/content/developers/docs/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/smart-contracts/deploying/index.md
  src/content/developers/docs/smart-contracts/index.md
  src/content/developers/docs/smart-contracts/testing/index.md
  src/content/developers/docs/standards/tokens/erc-721/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/developers/tutorials/testing-smart-contract-with-waffle/index.md
  src/content/eth2/get-involved/index.md
  src/content/eth2/index.md
  src/content/glossary/index.md
  src/intl/en.json
  src/intl/tr.json
  src/pages-conditional/assets.js
  src/pages-conditional/developers/local-environment.js
  src/pages-conditional/wallets/find-wallet.js
  src/pages/get-eth.js
  src/templates/docs.js
  src/templates/static.js
  src/templates/tutorial.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Translation

#1711 Add styled-system to project
  package.json
  src/components/AssetDownload.js
  src/components/ButtonLink.js
  src/components/Emoji.js
  src/components/EthPriceCard.js
  src/components/Footer.js
  src/components/InfoBanner.js
  src/components/Layout.js
  src/components/MeetupList.js
  src/components/SectionNav.js
  src/components/SelectableCard.js
  src/components/SharedStyledComponents.js
  src/components/TableOfContents.js
  src/components/TutorialMetadata.js
  src/components/WalletCompare.js
  src/content/translations/fa/what-is-ethereum/index.md
  src/content/translations/nl/what-is-ethereum/index.md
  src/content/translations/pl/what-is-ethereum/index.md
  src/content/translations/ru/what-is-ethereum/index.md
  src/content/translations/sl/what-is-ethereum/index.md
  src/pages-conditional/developers/learning-tools.js
  src/pages-conditional/developers/tutorials.js
  src/pages/build.js
  src/pages/languages.js
  src/theme.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Design, Type: Internal, Type: Tooling, Type: Translation

#1733 Increase top to account for Nav
  src/components/SideNav.js
  src/components/TableOfContents.js
  src/pages/eth2/deposit-contract.js
Labels: Status: Review Needed

#1735 Adds r/ethstaker to community page [Fixes #1726]
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#1736 Capitalized Ethereum where needed [Fixes #1727]
  src/content/community/index.md
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/enterprise/index.md
  src/intl/en.json
Labels: Status: Review Needed, Type: Content, Type: Translation

#1734 Added more links to Discord from readme
  README.md
Labels: Type: Documentation

#1730 removed "no gas fees" from description of dharma
  src/data/wallets.csv
Labels: Status: Review Needed

#1728 Adds glossary contribution page [Helps with #1718]
  .github/ISSUE_TEMPLATE/suggest_glossary_term.md
  src/content/contributing/adding-glossary-terms/index.md
  src/content/contributing/index.md
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content, Type: Tooling

#1691 Eth2 Deposit Contract Page
  gatsby-node.js
  src/components/Layout.js
  src/data/addresses.js
  src/pages/eth2/deposit-contract.js
Labels: Status: Review Needed, Type: Internal

#1740 v2.9.0
  package.json
Labels: Type: Dependencies

#1741 Deploy v2.9.0
  .all-contributorsrc
  .github/ISSUE_TEMPLATE/suggest_glossary_term.md
  README.md
  gatsby-node.js
  package.json
  src/components/AssetDownload.js
  src/components/ButtonLink.js
  src/components/Emoji.js
  src/components/EthPriceCard.js
  src/components/Footer.js
  src/components/InfoBanner.js
  src/components/Layout.js
  src/components/MeetupList.js
  src/components/SectionNav.js
  src/components/SelectableCard.js
  src/components/SharedStyledComponents.js
  src/components/SideNav.js
  src/components/TableOfContents.js
  src/components/TutorialMetadata.js
  src/components/WalletCompare.js
  src/content/community/index.md
  src/content/contributing/adding-glossary-terms/index.md
  src/content/contributing/index.md
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/enterprise/index.md
  src/content/glossary/index.md
  src/content/translations/fa/what-is-ethereum/index.md
  src/content/translations/nl/what-is-ethereum/index.md
  src/content/translations/pl/what-is-ethereum/index.md
  src/content/translations/ru/what-is-ethereum/index.md
  src/content/translations/sl/what-is-ethereum/index.md
  src/data/addresses.js
  src/data/wallets.csv
  src/intl/en.json
  src/pages-conditional/developers/learning-tools.js
  src/pages-conditional/developers/tutorials.js
  src/pages/build.js
  src/pages/eth2/deposit-contract.js
  src/pages/languages.js
  src/theme.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#1742 Deposit contract tweaks
  package.json
  src/assets/eth2-staking/ef-blog-logo.png
  src/components/Eth2Articles.js
  src/pages/eth2/deposit-contract.js
Labels: Status: Review Needed, Type: Dependencies

#1744 Add EthHub deposit contract link
  package.json
  src/pages/eth2/deposit-contract.js
Labels: Status: Review Needed, Type: Dependencies

#1732 Replace EVMC with evmone in EVM implementations list
  src/content/developers/docs/evm/index.md
Labels: Status: Review Needed, Type: Content

#1746 Deploy v2.9.2
  .all-contributorsrc
  README.md
  package.json
  src/content/developers/docs/evm/index.md
  src/pages/eth2/deposit-contract.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal

#1747 Add new wallets & exchanges
  src/assets/wallets/atomic.png
  src/assets/wallets/bitski.png
  src/assets/wallets/blockchain.png
  src/assets/wallets/eidoo.png
  src/assets/wallets/eql.png
  src/assets/wallets/lumi.png
  src/components/WalletCompare.js
  src/data/exchanges-by-country.csv
  src/data/wallets.csv
Labels: Status: Review Needed

#1760 Adding Solidity Language Portal to Solidity Links
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: Status: Review Needed, Type: Content

#1759 Update index.md
  src/content/developers/docs/security/index.md
Labels: Status: Review Needed, Type: Content

#1542 Add "consensus mechanisms" docs section
  src/components/MarkdownTable.js
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/consensus-mechanisms/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/transactions/index.md
  src/content/learn/index.md
  src/data/developer-docs-links.yaml
  src/pages-conditional/developers/index.js
  src/templates/docs.js
Labels: Status: Help Wanted, Status: In Progress, Status: Review Needed, Type: Content

#1765 v2.10.0
  package.json
Labels: Type: Dependencies

#1767 Add beacon chain page redirect
  netlify.toml
Labels: Type: Tooling

#1769 Eth2 style bugs
  src/content/eth2/docking/index.md
  src/content/eth2/shard-chains/index.md
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
  src/templates/eth2.js
Labels: Status: Review Needed, Type: Content

#1771 Eth2 bug fixes (nesting/margin)
  src/pages/eth2/get-involved/index.js
  src/pages/eth2/index.js
Labels: Status: Review Needed

#1770 Adds component import/exports to templates [Fixes #1768]
  src/content/eth2/get-involved/staking-community-grants/index.md
  src/templates/static.js
Labels: Status: Review Needed, Type: Content, Type: Internal

#1791 Fix Eth2 banner display [Fixes #1768]
  src/components/Layout.js
Labels: Status: Review Needed

#1794 Removes color styling override of external links [Fixes #1788]
  src/components/Link.js
Labels: Status: Review Needed

#1793 Type correction [Fixes #1790]
  src/content/developers/docs/smart-contracts/index.md
  src/pages/eth2/index.js
Labels: Status: Review Needed, Type: Content

#1683 Added Optimistic rollups info
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/docs/layer-2-scaling/optimistic-rollups.png
Labels: Status: Review Needed, Type: Content

#1724 Glossary-to-docs linking [Fixed #1717]
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#1725 Adds glossary term content [contributes to #1718]
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#1750 New enterprise structure [wip]
  src/components/Nav/index.js
  src/content/enterprise/index.md
  src/content/enterprise/private-ethereum/index.md
  src/intl/en.json
Labels: Status: In Progress, Status: Review Needed, Type: Content, Type: Translation

#1798 Sidenav padding
  package.json
  src/components/SideNav.js
Labels: Status: Review Needed, Type: Dependencies

#1796 v2.11.0
  package.json
Labels: Type: Dependencies

#1799 Deploy v2.11.0
  .all-contributorsrc
  README.md
  netlify.toml
  package.json
  src/components/Layout.js
  src/components/Link.js
  src/components/Nav/index.js
  src/components/SharedStyledComponents.js
  src/components/SideNav.js
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/docs/layer-2-scaling/optimistic-rollups.png
  src/content/developers/docs/smart-contracts/index.md
  src/content/enterprise/index.md
  src/content/enterprise/private-ethereum/index.md
  src/content/eth2/docking/index.md
  src/content/eth2/get-involved/staking-community-grants/index.md
  src/content/eth2/shard-chains/index.md
  src/content/glossary/index.md
  src/intl/en.json
  src/pages/eth2/get-involved/index.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
  src/templates/eth2.js
  src/templates/static.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#1738 Updated nav structure and added new home icon [Extends PR #1721]
  README.md
  gatsby-config.js
  src/assets/eth-home-icon.png
  src/components/Footer.js
  src/components/Nav/Dropdown.js
  src/components/Nav/index.js
  src/content/enterprise/index.md
  src/intl/en.json
Labels: Status: Review Needed, Type: Content, Type: Documentation, Type: Internal, Type: Translation

#1802 About page bug fix (Missing custom ID on header)
  src/content/about/index.md
Labels: Status: Review Needed, Type: Content

#1803 Content pages bug fix (Missing custom ID on header)
  src/content/contributing/translation-program/index.md
  src/content/enterprise/index.md
Labels: Status: Review Needed, Type: Content

#1804 Update Alchemy Description and add community discord for support/questions
  src/content/developers/docs/apis/backend/index.md
Labels: Status: Review Needed, Type: Content

#1809 Fixed broken link at staking page
  src/pages/eth2/staking.js
Labels: Status: Review Needed

#1805 Add Alchemy
  src/content/developers/docs/frameworks/index.md
Labels: Status: Review Needed, Type: Content

#1801 Add Netlify status badge
  README.md
Labels: Type: Documentation

#1815 Mechanism typo
  netlify.toml
  src/content/developers/docs/consensus-mechanisms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: Status: Review Needed, Type: Content, Type: Tooling

#1816 Add link to private Ethereum page
  src/content/enterprise/index.md
Labels: Status: Review Needed, Type: Content

#1764 removed past events and a dead projects
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#1812 Spelling correction
  src/components/Eth2Articles.js
Labels: Status: Review Needed

#1819 Updated Buidler to Hardhat (rebranded)
  src/assets/devtools/hardhat.png
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/frameworks/index.md
  src/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/ar/developers/index.md
  src/content/translations/bn/developers/index.md
  src/content/translations/cs/developers/index.md
  src/content/translations/de/developers/index.md
  src/content/translations/el/developers/index.md
  src/content/translations/es/developers/index.md
  src/content/translations/fa/developers/index.md
  src/content/translations/fi/developers/index.md
  src/content/translations/fr/developers/index.md
  src/content/translations/hu/developers/index.md
  src/content/translations/id/developers/index.md
  src/content/translations/ig/developers/index.md
  src/content/translations/it/developers/index.md
  src/content/translations/ja/developers/index.md
  src/content/translations/ko/developers/index.md
  src/content/translations/lt/developers/index.md
  src/content/translations/ml/developers/index.md
  src/content/translations/nb/developers/index.md
  src/content/translations/nl/developers/index.md
  src/content/translations/pl/developers/index.md
  src/content/translations/pt-br/developers/index.md
  src/content/translations/pt/developers/index.md
  src/content/translations/ro/developers/index.md
  src/content/translations/ru/developers/index.md
  src/content/translations/se/developers/index.md
  src/content/translations/sk/developers/index.md
  src/content/translations/sl/developers/index.md
  src/content/translations/tr/developers/index.md
  src/content/translations/uk/developers/index.md
  src/content/translations/vi/developers/index.md
  src/content/translations/zh-tw/developers/index.md
  src/content/translations/zh/developers/index.md
  src/pages-conditional/developers/local-environment.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#1820 v2.11.1
  package.json
Labels: Type: Dependencies

#1821 Deploy v2.11.1
  .all-contributorsrc
  README.md
  gatsby-config.js
  netlify.toml
  package.json
  src/assets/devtools/hardhat.png
  src/assets/eth-home-icon.png
  src/components/DocLink.js
  src/components/Eth2Articles.js
  src/components/Footer.js
  src/components/Icon.js
  src/components/Nav/Dropdown.js
  src/components/Nav/index.js
  src/content/about/index.md
  src/content/community/index.md
  src/content/contributing/translation-program/index.md
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/consensus-mechanisms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/frameworks/index.md
  src/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/enterprise/index.md
  src/content/glossary/index.md
  src/content/translations/ar/developers/index.md
  src/content/translations/bn/developers/index.md
  src/content/translations/cs/developers/index.md
  src/content/translations/de/developers/index.md
  src/content/translations/el/developers/index.md
  src/content/translations/es/developers/index.md
  src/content/translations/fa/developers/index.md
  src/content/translations/fi/developers/index.md
  src/content/translations/fr/developers/index.md
  src/content/translations/hu/developers/index.md
  src/content/translations/id/developers/index.md
  src/content/translations/ig/developers/index.md
  src/content/translations/it/developers/index.md
  src/content/translations/ja/developers/index.md
  src/content/translations/ko/developers/index.md
  src/content/translations/lt/developers/index.md
  src/content/translations/ml/developers/index.md
  src/content/translations/nb/developers/index.md
  src/content/translations/nl/developers/index.md
  src/content/translations/pl/developers/index.md
  src/content/translations/pt-br/developers/index.md
  src/content/translations/pt/developers/index.md
  src/content/translations/ro/developers/index.md
  src/content/translations/ru/developers/index.md
  src/content/translations/se/developers/index.md
  src/content/translations/sk/developers/index.md
  src/content/translations/sl/developers/index.md
  src/content/translations/tr/developers/index.md
  src/content/translations/uk/developers/index.md
  src/content/translations/vi/developers/index.md
  src/content/translations/zh-tw/developers/index.md
  src/content/translations/zh/developers/index.md
  src/intl/en.json
  src/pages-conditional/developers/local-environment.js
  src/pages/eth2/staking.js
  src/templates/static.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#1800 Added reference to eth2 phases
  src/content/eth2/beacon-chain/index.md
  src/content/eth2/docking/index.md
  src/content/eth2/shard-chains/index.md
  src/pages/eth2/index.js
  src/templates/eth2.js
Labels: Status: Review Needed, Type: Content

#1824 Further reading about gas
  src/content/developers/docs/gas/index.md
Labels: Status: Review Needed, Type: Content

#1823 Add src/data/contributors.json to gitignore
  .gitignore
  src/data/contributors.json
Labels: Status: Review Needed

#1829 Prevent nav item text wrapping [Fixes #1813]
  src/components/Nav/Dropdown.js
  src/components/Nav/index.js
  src/intl/en.json
Labels: Status: Review Needed, Type: Translation

#1827 Create flexible summaryPoints frontmatter field
  gatsby-node.js
  src/content/eth2/beacon-chain/index.md
  src/content/eth2/docking/index.md
  src/content/eth2/shard-chains/index.md
  src/templates/eth2.js
Labels: Status: Review Needed, Type: Content, Type: Internal

#1834 Correction for typo "an" to "can"
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: Status: Review Needed, Type: Content

#1840 Revert "Add src/data/contributors.json to gitignore"
  src/data/contributors.json
Labels: Status: Review Needed

#1836 Fix InfoColumn mobile styles [Fixes #1772]
  src/components/Eth2TableOfContents.js
  src/pages/eth2/vision.js
  src/templates/eth2.js
Labels: Status: Review Needed

#1830 Refactor BannerNotification [Fixes #1768]
  src/components/BannerNotification.js
  src/components/Layout.js
  src/templates/docs.js
  src/templates/eth2.js
Labels: Status: Review Needed

#1792 Update index.md
  src/content/developers/docs/nodes-and-clients/client-diagram.png
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Status: Review Needed, Type: Content

#1853 Mobile menu closes when tapping outside on larger devices [Fixes #1850]
  src/components/Nav/Mobile.js
Labels: Status: Review Needed

#1851 Adds GIF support with gatsby-remark-copy-linked-files [Fixes #1845]
  gatsby-config.js
  package.json
  yarn.lock
Labels: Type: Dependencies, Type: Internal

#1844 Alchemy tutorials [#1751 and #1752]
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/alchemy-dashboard.png
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/create-app.png
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/ethereum-alchemy.png
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/pull-api-keys.gif
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/mempool.png
Labels: Status: Review Needed, Type: Content

#1641 Add a new Waffle tutorial
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/test-one.png
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/test-three.png
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/test-two.png
Labels: Status: Review Needed, Type: Content, Type: Dependencies

#1838 Make docs links full width on mobile
  src/components/DocsNav.js
Labels: Status: Review Needed

#1839 Add DismissibleCard [Fixes #1837]
  src/components/DismissibleCard.js
  src/templates/eth2.js
Labels: Status: Review Needed

#1860 Update tutorial template styles [Fixes #1842]
  src/components/TutorialMetadata.js
  src/templates/tutorial.js
Labels: Status: Review Needed

#1855 Update "Pillar Project" to "Pillar"
  src/data/wallets.csv
Labels: Status: Review Needed

#1857 Updates to layer 2 across site
  src/components/DocLink.js
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/enterprise/index.md
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#1859 Move translation metadata to /data/ directory
  src/data/translations.json
  src/intl/en.json
  src/pages/languages.js
  src/utils/translations.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#1861 v2.11.2
  package.json
Labels: Type: Dependencies

#1862 Deploy v2.11.2
  .all-contributorsrc
  .gitignore
  README.md
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/BannerNotification.js
  src/components/DismissibleCard.js
  src/components/DocLink.js
  src/components/DocsNav.js
  src/components/Eth2TableOfContents.js
  src/components/Layout.js
  src/components/Nav/Dropdown.js
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
  src/components/TutorialMetadata.js
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/docs/nodes-and-clients/client-diagram.png
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/alchemy-dashboard.png
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/create-app.png
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/ethereum-alchemy.png
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/pull-api-keys.gif
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/mempool.png
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/test-one.png
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/test-three.png
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/test-two.png
  src/content/enterprise/index.md
  src/content/eth2/beacon-chain/index.md
  src/content/eth2/docking/index.md
  src/content/eth2/shard-chains/index.md
  src/content/glossary/index.md
  src/data/translations.json
  src/data/wallets.csv
  src/intl/en.json
  src/pages/eth2/index.js
  src/pages/eth2/vision.js
  src/pages/languages.js
  src/templates/docs.js
  src/templates/eth2.js
  src/templates/tutorial.js
  src/utils/translations.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Translation

#1864 Update index.md
  src/content/developers/docs/apis/javascript/index.md
Labels: Status: Review Needed, Type: Content

#1865 Display Trilemma except on mobile
  src/components/Trilemma.js
  src/pages/eth2/vision.js
Labels: Status: Review Needed

#1863 Add link to Eth2 clients
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Status: Review Needed, Type: Content

#1723 Adding dOrg DAO to the list of DAOs
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#1870 Small content updates
  src/intl/en.json
  src/pages-conditional/eth.js
  src/pages-conditional/what-is-ethereum.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#1871 Re-add Medalla data challenge
  src/content/eth2/get-involved/medalla-data-challenge/index.md
Labels: Status: Review Needed, Type: Content

#1872 v2.11.3
  package.json
Labels: Type: Dependencies

#1873 Deploy v2.11.3
  package.json
  src/components/Trilemma.js
  src/content/community/index.md
  src/content/developers/docs/apis/javascript/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/eth2/get-involved/medalla-data-challenge/index.md
  src/intl/en.json
  src/pages-conditional/eth.js
  src/pages-conditional/what-is-ethereum.js
  src/pages/eth2/vision.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Translation

#1876 Update suggest_wallet.md with new security language
  .github/ISSUE_TEMPLATE/suggest_wallet.md
Labels: Type: Tooling

#1841 Adds custom footer breakpoints [Fixes #1828]
  src/components/Footer.js
Labels: Status: Review Needed

#1879 Fix de-duping of contributors [Fixes #1878]
  src/components/FileContributors.js
Labels: Status: Review Needed

#1877 Simplify footer layout [Fixes #1828]
  src/components/Footer.js
  src/intl/en.json
Labels: Status: Review Needed, Type: Translation

#1875 Updated language around security/audit on product listing policy
  src/content/contributing/adding-products/index.md
Labels: Status: Review Needed, Type: Content

#1885 Add tools to "Dapp Tools"
  src/content/developers/docs/dapps/index.md
Labels: Status: Review Needed, Type: Content

#1891 Add reference to Nethereum new Discord group
  src/content/developers/docs/programming-languages/dot-net/index.md
Labels: Status: Review Needed, Type: Content

#1884 Refactor card sections to css grid [Fixes #1883]
  src/components/WalletCard.js
  src/components/WalletCompare.js
Labels: Status: Review Needed

#1888 Add link to Medalla data challenge results
  src/content/eth2/get-involved/medalla-data-challenge/index.md
Labels: Status: Review Needed, Type: Content

#1810 New dapps page
  .github/ISSUE_TEMPLATE/suggest_dapp.md
  gatsby-browser.js
  gatsby-node.js
  src/assets/dapps/aave.png
  src/assets/dapps/audius.png
  src/assets/dapps/augur.png
  src/assets/dapps/axie.png
  src/assets/dapps/brave.png
  src/assets/dapps/compound.png
  src/assets/dapps/cryptopunks.png
  src/assets/dapps/cryptovoxels.png
  src/assets/dapps/darkforest.png
  src/assets/dapps/decentraland.png
  src/assets/dapps/ens.png
  src/assets/dapps/foundation.png
  src/assets/dapps/gitcoin.png
  src/assets/dapps/gods.png
  src/assets/dapps/golem.png
  src/assets/dapps/loopring.png
  src/assets/dapps/marble.png
  src/assets/dapps/matcha.png
  src/assets/dapps/nifty.png
  src/assets/dapps/opensea.png
  src/assets/dapps/opera.png
  src/assets/dapps/polymarket.png
  src/assets/dapps/pooltogether.png
  src/assets/dapps/radicle.png
  src/assets/dapps/rarible.png
  src/assets/dapps/sablier.png
  src/assets/dapps/set.png
  src/assets/dapps/stabledai.png
  src/assets/dapps/superrare.png
  src/assets/dapps/tornado.png
  src/assets/dapps/uni.png
  src/assets/exchanges/1inch.png
  src/assets/exchanges/dydx.png
  src/assets/magicians.png
  src/components/BoxGrid.js
  src/components/Footer.js
  src/components/GhostCard.js
  src/components/Icon.js
  src/components/Link.js
  src/components/Nav/Dropdown.js
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
  src/components/PageMetadata.js
  src/components/Pill.js
  src/components/ProductCard.js
  src/components/ProductList.js
  src/components/SharedStyledComponents.js
  src/content/glossary/index.md
  src/intl/en.json
  src/pages-conditional/dapps.js
  src/pages-conditional/developers/learning-tools.js
  src/pages-conditional/developers/local-environment.js
  src/pages/eth2/get-involved/index.js
  src/pages/get-eth.js
  src/theme.js
Labels: Status: Review Needed, Type: Content, Type: Design, Type: Internal, Type: Tooling, Type: Translation

#1897 Updated footer social links
  src/components/Footer.js
  src/components/Icon.js
Labels: Status: Review Needed

#1902 v2.12.0
  package.json
Labels: Type: Dependencies

#1887 Refactor Layout to function component
  gatsby-browser.js
  gatsby-ssr.js
  src/components/Layout.js
Labels: Status: Review Needed, Type: Internal

#1912 Decapitalise mainnet
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: Status: Review Needed, Type: Content

#1914 More header tag fixes
  src/content/developers/docs/consensus-mechanisms/index.md
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/developers/tutorials/secure-development-workflow/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/developers/tutorials/testing-smart-contract-with-waffle/index.md
  src/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/enterprise/private-ethereum/index.md
  src/content/eth2/get-involved/medalla-data-challenge/index.md
Labels: Status: Review Needed, Type: Content

#1908 Corrects raspi-eth1.img.zip sha256 checksum [Fixes #1901]
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: Status: Review Needed, Type: Content

#1919 typo in index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: Status: Review Needed, Type: Content

#1906 Add Ethereum API library for .NET
  src/content/developers/docs/apis/backend/index.md
Labels: Status: Review Needed, Type: Content

#1909 Decapitalised mainnet and fixed "transation" typo
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/enterprise/index.md
  src/content/enterprise/private-ethereum/index.md
  src/content/translations/de/developers/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#1926 Fix a link
  src/content/developers/docs/apis/javascript/index.md
Labels: Status: Review Needed, Type: Content

#1893 Phil/set up eth2 translations
  src/components/BugBountyCards.js
  src/components/Eth2Articles.js
  src/components/ExpandableCard.js
  src/components/Leaderboard.js
  src/intl/en.json
  src/pages/eth2/deposit-contract.js
  src/pages/eth2/get-involved/bug-bounty.js
  src/pages/eth2/get-involved/index.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
Labels: Status: Review Needed, Type: Translation

#1899 Add interactive Eth2 diagram
  src/components/Eth2Diagram.js
  src/content/glossary/index.md
  src/pages/eth2/index.js
  src/theme.js
Labels: Status: Review Needed, Type: Content

#1895 Phil/set up developer translations
  src/intl/en.json
  src/pages-conditional/developers/index.js
  src/pages-conditional/developers/learning-tools.js
  src/pages-conditional/developers/local-environment.js
  src/pages-conditional/developers/tutorials.js
Labels: Status: Review Needed, Type: Translation

#1933 Removes squarelink [#1868]
  src/data/wallets.csv
Labels: Status: Review Needed

#1939 Eth2 translation cleanup
  src/components/Eth2Articles.js
  src/components/Eth2Clients.js
  src/components/Eth2TableOfContents.js
  src/components/ExpandableCard.js
  src/components/Layout.js
  src/content/developers/docs/smart-contracts/languages/index.md
  src/intl/en.json
  src/pages-conditional/developers/learning-tools.js
  src/pages/eth2/deposit-contract.js
  src/pages/eth2/get-involved/bug-bounty.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
  src/templates/eth2.js
  src/templates/static.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#1913 Links to static image assets bypass intl and open in new tab [Closes #1807, Closes #1918]
  src/components/Link.js
Labels: Status: Review Needed

#1915 Adds Tutorial card to dev home [Fixes #1781]
  src/pages-conditional/developers/index.js
Labels: Status: Review Needed

#1917 Fixes links within mdx h2/h3, adjusts `code` css [Fixes #1843]
  src/components/SharedStyledComponents.js
  src/styles/layout.css
Labels: Status: Review Needed

#1920 Adds gaming definition
  src/pages-conditional/dapps.js
  src/pages/eth2/staking.js
Labels: Status: Review Needed, Type: Content

#1923 Create nodes-as-a-service
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/data/developer-docs-links.yaml
Labels: Status: Review Needed, Type: Content

#1942 Add translation strings for tutorials card
  src/intl/en.json
  src/pages-conditional/developers/index.js
Labels: Status: Review Needed, Type: Translation

#1946 Add Twitter button
  README.md
Labels: Type: Documentation

#1944 Refactor docs links to support translations [Fixes #1943]
  src/components/DocsNav.js
  src/components/SideNav.js
  src/components/SideNavMobile.js
  src/data/developer-docs-links.yaml
  src/intl/en.json
Labels: Status: Review Needed, Type: Translation

#1940 Dapps page set up to support multiple languages [Fixes #1936]
  src/content/developers/docs/apis/javascript/index.md
  src/intl/en.json
  src/pages-conditional/dapps.js
  src/utils/translations.js
Labels: Status: Review Needed, Type: Content, Type: Documentation, Type: Translation

#1898 Add Blockchair’s Ethereum explorer to list of explorers
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: Status: Review Needed, Type: Content

#1931 Eth2 updates and InfoBanner update [#1928, #1927]
  src/components/Eth2Articles.js
  src/components/Eth2BeaconChainActions.js
  src/components/Footer.js
  src/components/InfoBanner.js
  src/components/Nav/index.js
  src/components/Warning.js
  src/content/eth2/beacon-chain/index.md
  src/intl/en.json
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/find-wallet.js
  src/pages/get-eth.js
  src/theme.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#1949 Removed duplicate trailing slash on Oasis link
  src/pages-conditional/dapps.js
Labels: Status: Review Needed, Type: Content

#1952 Refactor Warning into InfoBanner [Fixes #1951]
  src/components/InfoBanner.js
  src/components/Warning.js
  src/content/developers/tutorials/write-hello-world-contract/index.md
  src/content/eth2/beacon-chain/index.md
  src/content/eth2/get-involved/medalla-data-challenge/index.md
  src/content/eth2/get-involved/staking-community-grants/index.md
  src/content/eth2/shard-chains/index.md
  src/pages-conditional/dapps.js
  src/pages-conditional/developers/learning-tools.js
  src/pages-conditional/eth.js
  src/pages/eth2/deposit-contract.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/get-eth.js
  src/templates/docs.js
  src/templates/eth2.js
  src/templates/static.js
  src/templates/tutorial.js
Labels: Status: Review Needed, Type: Content

#1954 CardGrid adjusted to prevent overflow/horiz scroll on small screen [Fixed #1953]
  src/components/SharedStyledComponents.js
Labels: Status: Review Needed

#1963 Add Blockchair to list of block explorers + description
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: Status: Review Needed, Type: Content

#1961 Studio redirect
  package.json
  src/components/Icon.js
  src/content/developers/tutorials/write-hello-world-contract/compile.png
  src/content/developers/tutorials/write-hello-world-contract/contract.png
  src/content/developers/tutorials/write-hello-world-contract/deploy.png
  src/content/developers/tutorials/write-hello-world-contract/deployed.png
  src/content/developers/tutorials/write-hello-world-contract/function_update.png
  src/content/developers/tutorials/write-hello-world-contract/index.md
  src/content/developers/tutorials/write-hello-world-contract/studio-ide.png
  src/content/developers/tutorials/write-hello-world-contract/web-app.png
  src/pages-conditional/developers/learning-tools.js
  src/pages/studio.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies

#1956 Add TockenPocket & Multis to wallets.csv
  package.json
  src/assets/wallets/multis.png
  src/assets/wallets/tokenpocket.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed, Type: Dependencies

#1969 Fixed grammar on staking community grants flyer page
  src/content/eth2/get-involved/staking-community-grants/index.md
Labels: Status: Review Needed, Type: Content

#1976 Add check for user object [Fixes #1972]
  src/components/FileContributors.js
Labels: Status: Review Needed

#1983 Add useStaticQuery in Eth2BeaconChainActions [Fixes #1982]
  package.json
  src/components/Eth2BeaconChainActions.js
Labels: Status: Review Needed, Type: Dependencies

#1979 add 0.000000001 in scientific notation as well
  src/content/developers/docs/gas/index.md
Labels: Status: Review Needed, Type: Content

#1990 removed dangling bullet point
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: Status: Review Needed, Type: Content

#1989 changed from isn't to is as that makes more sense.
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: Status: Review Needed, Type: Content

#1988 Updating Solidity links to soliditylang.org domain
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: Status: Review Needed, Type: Content

#1984 Deploy v2.12.2
  .all-contributorsrc
  README.md
  package.json
  src/components/Eth2BeaconChainActions.js
  src/components/FileContributors.js
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal

#1950 Phil/set up eth2 translations 2
  src/components/CardList.js
  src/components/Eth2BeaconChainActions.js
  src/components/Eth2Diagram.js
  src/components/Roadmap.js
  src/components/Trilemma.js
  src/components/UpgradeStatus.js
  src/intl/en.json
  src/pages-conditional/developers/learning-tools.js
  src/pages/eth2/get-involved/bug-bounty.js
  src/templates/eth2.js
Labels: Status: Review Needed, Type: Translation

#1973 Layout refactor using `sticky` [Closes #1848, Closes #1867]
  src/components/Layout.js
  src/components/Nav/index.js
  src/components/SideNavMobile.js
Labels: Status: Review Needed

#1676 Add a new Waffle tutorial
  src/content/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
Labels: Status: Review Needed, Type: Content

#1775 Adds search on mobile header [#1774]
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
Labels: Status: Review Needed

#1808 Upgrades ProductCard component (adds subjects / GitHub info) [Closes #1782, Closes #1783]
  src/components/GitStars.js
  src/components/ProductCard.js
  src/content/community/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/pages-conditional/developers/learning-tools.js
  src/pages-conditional/developers/local-environment.js
  src/pages/eth2/get-involved/index.js
Labels: Status: Review Needed, Type: Content, Type: Documentation

#1958 Adds className prop to DocLink component [Fixes #1869]
  src/components/DocLink.js
Labels: Status: Review Needed

#1948 Fix translated alt tags
  src/pages-conditional/what-is-ethereum.js
Labels: Status: Review Needed, Type: Content

#1967 Added Danny's latest Eth2article
  src/components/Eth2Articles.js
Labels: Status: Review Needed

#1978 Fix typos
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/apis/javascript/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/frameworks/index.md
  src/content/developers/docs/ides/index.md
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/docs/security/index.md
  src/content/developers/docs/smart-contracts/anatomy/index.md
  src/content/developers/docs/smart-contracts/index.md
  src/content/developers/docs/standards/index.md
  src/content/developers/docs/storage/index.md
Labels: Status: Review Needed, Type: Content
