Repository ethereum/ethereum-org-website, pull requests merged in 2020-12, with the labels that each got.

#2003 Fix Eth2 bug bounty submission form
  src/components/BugBountyCards.js
  src/pages/eth2/get-involved/bug-bounty.js
Labels: Status: Review Needed

#1998 Adds className prop to CardList component
  src/components/CardList.js
Labels: Status: Review Needed

#2001 Fixes link for EthStaker YT video on Grants page [Fixes #1996]
  src/content/eth2/get-involved/staking-community-grants/index.md
Labels: Status: Review Needed, Type: Content

#2002 Removes trailing underlined space on internal links
  src/components/Link.js
Labels: Status: Review Needed

#2009 Fixes DAI reward for High Risk bug bounty [Fixes #2005]
  src/intl/en.json
Labels: Status: Review Needed, Type: Translation

#2000 Proof-of-work typo correction on vision page [Fixes #1999]
  src/intl/en.json
  src/pages/eth2/vision.js
Labels: Status: Review Needed, Type: Translation

#2011 Beacon chain live updates 🚀
  src/components/Eth2Articles.js
  src/content/eth2/beacon-chain/index.md
  src/intl/en.json
  src/pages/eth2/get-involved/index.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#1992 Update markdown images to transparent background
  gatsby-config.js
  src/content/whitepaper/ether-state-transition.png
  src/content/whitepaper/ethereum-apply-block-diagram.png
  src/content/whitepaper/ethereum-blocks.png
  src/content/whitepaper/ethereum-inflation.png
  src/content/whitepaper/ethereum-state-transition.png
  src/content/whitepaper/spv-bitcoin.png
Labels: Status: Review Needed, Type: Content, Type: Internal

#1993 adding diagrams and vids to docs
  src/content/developers/docs/accounts/accounts.png
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/blocks/tx-block.png
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/evm/evm-stack.png
  src/content/developers/docs/evm/evm.png
  src/content/developers/docs/evm/index.md
  src/content/developers/docs/gas/gas.png
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/transactions/gas-tx.png
  src/content/developers/docs/transactions/index.md
  src/content/developers/docs/transactions/tx.png
Labels: Status: Review Needed, Type: Content

#2004 Add eth2 attacknet winners to eth2 bug bounty leaderboard
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed

#2008 Expands translation support
  src/components/EthExchanges.js
  src/components/FileContributors.js
  src/components/ProductList.js
  src/components/SectionNav.js
  src/components/TranslationsInProgress.js
  src/components/TutorialMetadata.js
  src/intl/en.json
  src/pages/languages.js
  src/templates/docs.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#2010 Phil/remaining translations
  src/components/AssetDownload.js
  src/components/BugBountyPoints.js
  src/components/CallToContribute.js
  src/components/Codeblock.js
  src/components/DocsNav.js
  src/intl/en.json
Labels: Status: Review Needed, Type: Translation

#1968 Trilemma mobile [Fixes #1932]
  README.md
  src/components/Eth2BeaconChainActions.js
  src/components/Trilemma.js
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
  src/intl/en.json
  src/pages/eth2/vision.js
  src/pages/studio.js
Labels: Status: Review Needed, Type: Content, Type: Documentation, Type: Translation

#2017 Translate TOC component [Fixes #2006]
  src/components/TableOfContents.js
  src/intl/en.json
Labels: Status: Review Needed, Type: Translation

#2019 Made all tutorial tags lowercase
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
Labels: Status: Review Needed, Type: Content

#2014 Added websockets tutorial [#1925]
  package.json
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/using-websockets/index.md
  src/content/developers/tutorials/using-websockets/use-websockets.gif
Labels: Status: Review Needed, Type: Content

#2023 Removes duplicate en.json ID ("page-dapps-title")
  src/intl/en.json
Labels: Status: Review Needed, Type: Translation

#2022 Removes community events that have passed as of 12/1
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2027 Studio links
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/developers/docs/ides/index.md
  src/content/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/ar/developers/index.md
  src/content/translations/bn/developers/index.md
  src/content/translations/de/developers/index.md
  src/content/translations/es/developers/index.md
  src/content/translations/fi/developers/index.md
  src/content/translations/fr/developers/index.md
  src/content/translations/hu/developers/index.md
  src/content/translations/id/developers/index.md
  src/content/translations/it/developers/index.md
  src/content/translations/ja/developers/index.md
  src/content/translations/ko/developers/index.md
  src/content/translations/ml/developers/index.md
  src/content/translations/nb/developers/index.md
  src/content/translations/pt-br/developers/index.md
  src/content/translations/ro/developers/index.md
  src/content/translations/se/developers/index.md
  src/content/translations/sk/developers/index.md
  src/content/translations/tr/developers/index.md
  src/content/translations/uk/developers/index.md
  src/content/translations/vi/developers/index.md
  src/content/translations/zh-tw/developers/index.md
  src/content/translations/zh/developers/index.md
  src/pages/build.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#2028 Support wallet translations
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed, Type: Translation

#2030 Refactored whitepaper images for dark mode [Fixes #2013]
  src/content/developers/docs/nodes-and-clients/nodes.png
  src/content/whitepaper/ether-state-transition.png
  src/content/whitepaper/ethereum-apply-block-diagram.png
  src/content/whitepaper/ethereum-blocks.png
  src/content/whitepaper/ethereum-inflation.png
  src/content/whitepaper/ethereum-state-transition.png
  src/content/whitepaper/spv-bitcoin.png
Labels: Status: Review Needed, Type: Content

#2032 Refactored codebase using `translateMessageId` [Fixes #2029]
  src/components/Breadcrumbs.js
  src/components/ButtonDropdown.js
  src/components/Nav/Dropdown.js
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
  src/components/PageMetadata.js
  src/components/Search/Input.js
  src/pages-conditional/developers/index.js
  src/pages-conditional/developers/local-environment.js
  src/pages-conditional/developers/tutorials.js
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/find-wallet.js
  src/pages-conditional/what-is-ethereum.js
  src/pages/build.js
  src/pages/eth2/deposit-contract.js
  src/pages/eth2/get-involved/index.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
  src/pages/get-eth.js
  src/pages/index.js
  src/pages/languages.js
Labels: Status: Review Needed, Type: Content

#2036 Update Trust Wallet logo
  src/assets/wallets/trust.png
Labels: Status: Review Needed

#2040 Use full URL for Twitter meta image [Fixes #1910]
  src/components/PageMetadata.js
Labels: Status: Review Needed

#2031 Update Studio page copy
  src/pages/studio.js
Labels: Status: Review Needed, Type: Content

#2016 Add CODEOWNERS for Eth2 bounties
  .github/CODEOWNERS
Labels: Type: Tooling

#2015 New eth2 terms for the glossary
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#2034 Sanitizes tutorial tags before grouping [Fixes #2020]
  src/pages-conditional/developers/tutorials.js
Labels: Status: Review Needed

#1965 Added oracle content [#1881]
  src/content/developers/docs/oracles/index.md
Labels: Status: Review Needed, Type: Content

#2041 Translate metadata
  package.json
  src/intl/en.json
  src/pages-conditional/dapps.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Translation

#2043 Add bounty code owners
  .github/CODEOWNERS
Labels: Type: Tooling

#2045 Fix CODEOWNERS conflict
  .github/CODEOWNERS
Labels: Type: Tooling

#2052 Typo in developers/docs/accounts
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#2058 Remove grid from node client projects
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/translations/ar/developers/index.md
  src/content/translations/ar/javascript/index.md
  src/content/translations/bn/developers/index.md
  src/content/translations/bn/javascript/index.md
  src/content/translations/de/developers/index.md
  src/content/translations/de/javascript/index.md
  src/content/translations/es/developers/index.md
  src/content/translations/es/javascript/index.md
  src/content/translations/fi/developers/index.md
  src/content/translations/fi/javascript/index.md
  src/content/translations/fr/developers/index.md
  src/content/translations/fr/javascript/index.md
  src/content/translations/hu/developers/index.md
  src/content/translations/hu/javascript/index.md
  src/content/translations/id/developers/index.md
  src/content/translations/id/javascript/index.md
  src/content/translations/it/developers/index.md
  src/content/translations/it/javascript/index.md
  src/content/translations/ja/developers/index.md
  src/content/translations/ja/javascript/index.md
  src/content/translations/ko/developers/index.md
  src/content/translations/ko/javascript/index.md
  src/content/translations/ml/developers/index.md
  src/content/translations/ml/javascript/index.md
  src/content/translations/nb/developers/index.md
  src/content/translations/nb/javascript/index.md
  src/content/translations/pt-br/developers/index.md
  src/content/translations/pt-br/javascript/index.md
  src/content/translations/ro/developers/index.md
  src/content/translations/ro/javascript/index.md
  src/content/translations/se/developers/index.md
  src/content/translations/se/javascript/index.md
  src/content/translations/sk/developers/index.md
  src/content/translations/sk/javascript/index.md
  src/content/translations/tr/developers/index.md
  src/content/translations/tr/javascript/index.md
  src/content/translations/uk/developers/index.md
  src/content/translations/uk/javascript/index.md
  src/content/translations/vi/developers/index.md
  src/content/translations/vi/javascript/index.md
  src/content/translations/zh-tw/developers/index.md
  src/content/translations/zh-tw/javascript/index.md
  src/content/translations/zh/developers/index.md
  src/content/translations/zh/javascript/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#2051 Added transparent logo.
  README.md
  eth-transparent.png
  src/styles/layout.css
Labels: Status: Review Needed, Type: Documentation

#2064 Remove OpenZeppelin SDK from local environments
  src/pages-conditional/developers/local-environment.js
Labels: Status: Review Needed

#2063 Fix typo in ERC20 intro
  src/content/developers/docs/standards/tokens/erc-20/index.md
Labels: Status: Review Needed, Type: Content

#2074 Re-adds mobile menu close button [Fixes #2071]
  src/components/Nav/Mobile.js
Labels: Status: Review Needed

#2075 Update cat herders link
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2066 Codeblock refactor w/ hide/show [Fixes #1776]
  src/components/Codeblock.js
  src/content/developers/docs/oracles/index.md
  src/content/developers/docs/smart-contracts/anatomy/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
  src/intl/en.json
Labels: Status: Review Needed, Type: Content, Type: Translation

#1938 Stablecoins page [WIP #1934]
  package.json
  src/assets/stablecoins/aave.png
  src/assets/stablecoins/compound.png
  src/assets/stablecoins/dai-large.png
  src/assets/stablecoins/dai.png
  src/assets/stablecoins/hero.png
  src/assets/stablecoins/maker.png
  src/assets/stablecoins/tether.png
  src/assets/stablecoins/usdc-large.png
  src/assets/stablecoins/usdc.png
  src/components/Accordion.js
  src/components/ButtonLink.js
  src/components/CardList.js
  src/components/DataProductCard.js
  src/components/Footer.js
  src/components/Nav/index.js
  src/components/SimpleTable.js
  src/components/StablecoinAccordion.js
  src/components/StablecoinBoxGrid.js
  src/content/developers/docs/smart-contracts/anatomy/index.md
  src/intl/en.json
  src/pages/stablecoins.js
  src/styles/layout.css
  src/theme.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Design, Type: Translation

#2083 Add Josh to CODEOWNERS
  .github/CODEOWNERS
Labels: Type: Tooling

#1977 Adds async art to dapps page [Fixes #1974]
  src/assets/dapps/asyncart.png
  src/intl/en.json
  src/pages-conditional/dapps.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#1997 Add BlockCypher to list of libraries and tools
  src/content/developers/docs/apis/backend/index.md
Labels: Status: Review Needed, Type: Content

#2056 Added dev tool issue template [#2055]
  .github/ISSUE_TEMPLATE/suggest_dev_tool.md
  src/content/contributing/adding-developer-tools/index.md
Labels: Status: Review Needed, Type: Content, Type: Tooling

#2057 Adds solidity template repo to local environment [#2054]
  src/intl/en.json
  src/pages-conditional/developers/local-environment.js
Labels: Status: Review Needed, Type: Translation

#2068 Made example data variables clearer
  src/content/developers/docs/smart-contracts/anatomy/index.md
Labels: Status: Review Needed, Type: Content

#2069 Updated readme [#2059]
  README.md
Labels: Type: Documentation

#2080 Updates Suomalainen to Suomi
  src/data/translations.json
Labels: Status: Review Needed

#2085 added new styled component for language page per request. [Fixes #2076]
  src/pages/languages.js
Labels: Status: Review Needed, Type: Content

#2049 Sets up `alt` text on images for translation [Fixes #2044]
  src/components/CalloutBanner.js
  src/components/EthVideo.js
  src/components/Logo.js
  src/components/ProductCard.js
  src/components/ProductList.js
  src/components/WalletCard.js
  src/components/WalletCompare.js
  src/intl/en.json
  src/pages-conditional/dapps.js
  src/pages-conditional/developers/index.js
  src/pages-conditional/developers/learning-tools.js
  src/pages-conditional/developers/local-environment.js
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/find-wallet.js
  src/pages/build.js
  src/pages/eth2/get-involved/index.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/get-eth.js
  src/pages/index.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#2078 Ethereum history/forks page
  package.json
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/community/index.md
  src/content/developers/docs/security/index.md
  src/content/eth2/get-involved/medalla-data-challenge/index.md
  src/content/history/index.md
  src/content/translations/cs/use/index.md
  src/content/translations/fa/use/index.md
  src/content/translations/ig/use/index.md
  src/content/translations/nl/use/index.md
  src/content/translations/pl/use/index.md
  src/content/whitepaper/index.md
  src/intl/en.json
  src/templates/static.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Translation

#2092 Fix broken link to `Anatomy of smart contracts`
  src/content/developers/docs/oracles/index.md
Labels: Status: Review Needed, Type: Content

#2089 Moves layout of Hero image to below HeroContent on mobile
  src/pages/stablecoins.js
Labels: Status: Review Needed, Type: Content

#2094 Add links to Layer 2 info
  src/content/enterprise/index.md
Labels: Status: Review Needed, Type: Content

#2100 Adding GeorgeTrotter to CODEOWNERS
  .github/CODEOWNERS
Labels: Type: Tooling

#2105 Update index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: Status: Review Needed, Type: Content

#2084 updated lt to v1.1. [Fixes #2070]
  src/content/translations/lt/dapps/index.md
  src/content/translations/lt/developers/index.md
  src/content/translations/lt/dot-net/index.md
  src/content/translations/lt/enterprise/index.md
  src/content/translations/lt/eth/index.md
  src/content/translations/lt/golang/index.md
  src/content/translations/lt/java/index.md
  src/content/translations/lt/javascript/index.md
  src/content/translations/lt/learn/index.md
  src/content/translations/lt/python/index.md
  src/content/translations/lt/rust/index.md
  src/content/translations/lt/use/index.md
  src/content/translations/lt/wallets/index.md
  src/content/translations/lt/what-is-ethereum/index.md
  src/data/translations.json
  src/intl/lt.json
Labels: Status: Review Needed, Type: Content, Type: Translation

#2112 updated cs to v1.1. [Fixes #1955]
  src/content/translations/cs/dapps/index.md
  src/content/translations/cs/developers/index.md
  src/content/translations/cs/dot-net/index.md
  src/content/translations/cs/enterprise/index.md
  src/content/translations/cs/eth/index.md
  src/content/translations/cs/golang/index.md
  src/content/translations/cs/java/index.md
  src/content/translations/cs/javascript/index.md
  src/content/translations/cs/learn/index.md
  src/content/translations/cs/python/index.md
  src/content/translations/cs/rust/index.md
  src/content/translations/cs/use/index.md
  src/content/translations/cs/wallets/index.md
  src/content/translations/cs/what-is-ethereum/index.md
  src/data/translations.json
  src/intl/cs.json
Labels: Status: Review Needed, Type: Content, Type: Translation

#2098 Light mode for code [Fixes 2096]
  src/components/Codeblock.js
  src/styles/layout.css
Labels: Status: Review Needed

#2099 Finished forks history [#2078, #923]
  src/components/SharedStyledComponents.js
  src/content/history/index.md
  src/templates/static.js
Labels: Status: Review Needed, Type: Content

#2113 String fragments v1
  src/components/Eth2Diagram.js
  src/intl/en.json
  src/intl/en/common.json
  src/intl/en/page-dapps.json
  src/intl/en/page-developers-index.json
  src/intl/en/page-eth.json
  src/intl/en/page-eth2-deposit-contract.json
  src/intl/en/page-eth2-get-involved-bug-bounty.json
  src/intl/en/page-eth2-index.json
  src/intl/en/page-eth2-staking.json
  src/intl/en/page-eth2-vision.json
  src/intl/en/page-get-eth.json
  src/intl/en/page-wallets.json
  src/pages-conditional/dapps.js
  src/pages-conditional/developers/index.js
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/index.js
  src/pages/eth2/deposit-contract.js
  src/pages/eth2/get-involved/bug-bounty.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
  src/pages/get-eth.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#2110 Update index.md
  src/content/developers/docs/security/index.md
Labels: Status: Review Needed, Type: Content

#2119 Switch wallet results to grid `auto-fill`
  src/components/WalletCompare.js
Labels: Status: Review Needed

#2115 Small grammar correction
  src/intl/en/page-dapps.json
Labels: Status: Review Needed

#2122 Merge translations on start
  package.json
  src/intl/en.json
Labels: Status: Review Needed, Type: Dependencies, Type: Translation

#2125 Typo
  src/intl/en/page-stablecoins.json
Labels: Status: Review Needed

#2131 Update index.md
  src/content/developers/docs/gas/index.md
Labels: Status: Review Needed, Type: Content

#2126 Adds translation banner
  src/components/TranslationBanner.js
  src/intl/en/common.json
  src/pages/index.js
Labels: Status: Review Needed, Type: Content, Type: Internal, Type: Translation

#2116 Fixes favicon naming and aspect ratio [Fixes #2111]
  gatsby-config.js
  src/assets/eth-logo-grey.png
  src/assets/favicon.png
Labels: Status: Review Needed, Type: Internal

#2134 v2.13.1
  package.json
Labels: Type: Dependencies

#2118 Edited an grammatically incorrect sentence for the 'deploy first contract' tutorial
  src/content/developers/tutorials/deploying-your-first-smart-contract/index.md
Labels: Status: Review Needed, Type: Content

#2142 Update README link
  README.md
Labels: Type: Documentation

#2149 Account for if user is null [Fixes #2148]
  src/components/FileContributors.js
Labels: Status: Review Needed

#2150 Add /build redirect for all langauges
  netlify.toml
Labels: Type: Tooling

#2153 Deploy v2.14.1
  netlify.toml
  package.json
  src/components/FileContributors.js
Labels: Status: Review Needed, Type: Dependencies, Type: Tooling

#2151 Add Gatsby flags to speed up local development
  gatsby-config.js
Labels: Type: Internal

#2139 Adding Blocknative's Gas Platform
  src/content/developers/docs/gas/index.md
Labels: Status: Review Needed, Type: Content

#2159 Update index.md
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2161 Translate breadcrumbs
  src/components/Breadcrumbs.js
  src/intl/en/common.json
Labels: Status: Review Needed

#2156 Stablecoin edits
  src/components/SimpleTable.js
  src/intl/en/page-stablecoins.json
  src/pages/stablecoins.js
Labels: Status: Review Needed, Type: Content

#2163 Fix broken translation ID
  src/pages/assets.js
Labels: Status: Review Needed, Type: Content

#2155 Updated history page
  src/content/history/index.md
Labels: Status: Review Needed, Type: Content

#2162 Product page headings v2
  src/components/EthPriceCard.js
  src/components/PageHero.js
  src/components/SharedStyledComponents.js
  src/intl/en/page-eth2-index.json
  src/intl/en/page-eth2-staking.json
  src/intl/en/page-eth2-vision.json
  src/intl/en/page-wallets.json
  src/pages-conditional/dapps.js
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/index.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
  src/pages/get-eth.js
  src/pages/stablecoins.js
  src/styles/layout.css
Labels: Status: Review Needed, Type: Content

#2145 Update index.md
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
Labels: Status: Review Needed, Type: Content

#2167 Deploy v2.14.2
  .all-contributorsrc
  README.md
  gatsby-config.js
  package.json
  src/components/Breadcrumbs.js
  src/components/EthPriceCard.js
  src/components/PageHero.js
  src/components/SharedStyledComponents.js
  src/components/SimpleTable.js
  src/content/community/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/history/index.md
  src/intl/en/common.json
  src/intl/en/page-eth2-index.json
  src/intl/en/page-eth2-staking.json
  src/intl/en/page-eth2-vision.json
  src/intl/en/page-stablecoins.json
  src/intl/en/page-wallets.json
  src/pages-conditional/dapps.js
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/index.js
  src/pages/assets.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
  src/pages/get-eth.js
  src/pages/stablecoins.js
  src/styles/layout.css
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal
