Repository ethereum/ethereum-org-website, pull requests merged in 2020-06, with the labels that each got.

#1083 Add docsearch workflow
  .github/workflows/docsearch-crawl.yml
  .github/workflows/docsearchConfig.json
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/AlgoliaSearchBox.vue
Labels: Status: In Progress

#1038 Enterprise supply chain addition
  docs/enterprise/index.md
Labels: Status: Review Needed, Type: Content

#1130 Corrected chinese traditional characters
  docs/.vuepress/theme/utils/translations.js
Labels: Type: Bug, Type: Content, Type: Translation
