Repository ethereum/ethereum-org-website, pull requests merged in 2020-08, with the labels that each got.

#1318 Update timestamp parsing [Fixes #1309]
  src/utils/time.js
Labels: Type: Bug

#1295 Add Epirus to Ethereum for Enterprise and Developer Resources pages
  src/content/developers/index.md
  src/content/enterprise/index.md
Labels: Status: Review Needed, Type: Content

#1329 Update dependencies
  yarn.lock
Labels: Type: Dependencies

#1324 Update upcoming events
  src/content/community/index.md
Labels: Type: Content

#1335 feat: Add Vietnamese (v1.1)
  src/content/translations/vi/dapps/index.md
  src/content/translations/vi/developers/index.md
  src/content/translations/vi/dot-net/index.md
  src/content/translations/vi/enterprise/index.md
  src/content/translations/vi/eth/index.md
  src/content/translations/vi/golang/index.md
  src/content/translations/vi/java/index.md
  src/content/translations/vi/javascript/index.md
  src/content/translations/vi/learn/index.md
  src/content/translations/vi/python/index.md
  src/content/translations/vi/rust/index.md
  src/content/translations/vi/wallets/index.md
  src/content/translations/vi/what-is-ethereum/index.md
  src/intl/vi.json
  src/utils/translations.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#1337 Fix vi translation
  src/content/translations/ar/learn/index.md
  src/content/translations/bn/learn/index.md
  src/content/translations/de/learn/index.md
  src/content/translations/fr/learn/index.md
  src/content/translations/id/learn/index.md
  src/content/translations/it/learn/index.md
  src/content/translations/lt/learn/index.md
  src/content/translations/ml/learn/index.md
  src/content/translations/nb/learn/index.md
  src/content/translations/pt/learn/index.md
  src/content/translations/ro/learn/index.md
  src/content/translations/se/learn/index.md
  src/content/translations/sk/learn/index.md
  src/content/translations/tr/learn/index.md
  src/content/translations/uk/learn/index.md
  src/content/translations/vi/dapps/index.md
  src/content/translations/vi/developers/index.md
  src/content/translations/vi/dot-net/index.md
  src/content/translations/vi/enterprise/index.md
  src/content/translations/vi/eth/index.md
  src/content/translations/vi/golang/index.md
  src/content/translations/vi/java/index.md
  src/content/translations/vi/javascript/index.md
  src/content/translations/vi/learn/index.md
  src/content/translations/vi/python/index.md
  src/content/translations/vi/rust/index.md
  src/content/translations/vi/wallets/index.md
  src/content/translations/vi/what-is-ethereum/index.md
  src/content/translations/zh-tw/learn/index.md
  src/content/translations/zh/learn/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#1336 feat: Add Finnish (v1.1)
  src/content/translations/fi/dapps/index.md
  src/content/translations/fi/developers/index.md
  src/content/translations/fi/dot-net/index.md
  src/content/translations/fi/enterprise/index.md
  src/content/translations/fi/eth/index.md
  src/content/translations/fi/golang/index.md
  src/content/translations/fi/java/index.md
  src/content/translations/fi/javascript/index.md
  src/content/translations/fi/learn/index.md
  src/content/translations/fi/python/index.md
  src/content/translations/fi/rust/index.md
  src/content/translations/fi/wallets/index.md
  src/content/translations/fi/what-is-ethereum/index.md
  src/intl/fi.json
  src/utils/translations.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#1339 Fix frontmatter of fi translations
  src/content/translations/fi/dapps/index.md
  src/content/translations/fi/developers/index.md
  src/content/translations/fi/dot-net/index.md
  src/content/translations/fi/enterprise/index.md
  src/content/translations/fi/eth/index.md
  src/content/translations/fi/golang/index.md
  src/content/translations/fi/java/index.md
  src/content/translations/fi/javascript/index.md
  src/content/translations/fi/learn/index.md
  src/content/translations/fi/python/index.md
  src/content/translations/fi/rust/index.md
  src/content/translations/fi/wallets/index.md
  src/content/translations/fi/what-is-ethereum/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#1340 Deploy v2.4.0
  .all-contributorsrc
  README.md
  package.json
  src/content/translations/ar/learn/index.md
  src/content/translations/bn/learn/index.md
  src/content/translations/de/learn/index.md
  src/content/translations/fi/dapps/index.md
  src/content/translations/fi/developers/index.md
  src/content/translations/fi/dot-net/index.md
  src/content/translations/fi/enterprise/index.md
  src/content/translations/fi/eth/index.md
  src/content/translations/fi/golang/index.md
  src/content/translations/fi/java/index.md
  src/content/translations/fi/javascript/index.md
  src/content/translations/fi/learn/index.md
  src/content/translations/fi/python/index.md
  src/content/translations/fi/rust/index.md
  src/content/translations/fi/wallets/index.md
  src/content/translations/fi/what-is-ethereum/index.md
  src/content/translations/fr/learn/index.md
  src/content/translations/id/learn/index.md
  src/content/translations/it/learn/index.md
  src/content/translations/lt/learn/index.md
  src/content/translations/ml/learn/index.md
  src/content/translations/nb/learn/index.md
  src/content/translations/pt/learn/index.md
  src/content/translations/ro/learn/index.md
  src/content/translations/se/learn/index.md
  src/content/translations/sk/learn/index.md
  src/content/translations/tr/learn/index.md
  src/content/translations/uk/learn/index.md
  src/content/translations/vi/dapps/index.md
  src/content/translations/vi/developers/index.md
  src/content/translations/vi/dot-net/index.md
  src/content/translations/vi/enterprise/index.md
  src/content/translations/vi/eth/index.md
  src/content/translations/vi/golang/index.md
  src/content/translations/vi/java/index.md
  src/content/translations/vi/javascript/index.md
  src/content/translations/vi/learn/index.md
  src/content/translations/vi/python/index.md
  src/content/translations/vi/rust/index.md
  src/content/translations/vi/wallets/index.md
  src/content/translations/vi/what-is-ethereum/index.md
  src/content/translations/zh-tw/learn/index.md
  src/content/translations/zh/learn/index.md
  src/intl/fi.json
  src/intl/vi.json
  src/utils/translations.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Translation

#1348 Fix 404s
  gatsby-config.js
  gatsby-node.js
  netlify.toml
  package.json
  src/components/PageMetadata.js
  yarn.lock
Labels: Status: Review Needed, Type: Dependencies, Type: Internal, Type: Tooling

#1270 New Eth2 information section [#878]
  gatsby-config.js
  src/components/Breadcrumbs.js
  src/components/CardContainer.js
  src/components/Eth2List.js
  src/components/InfoBanner.js
  src/components/MarkdownCard.js
  src/components/Nav/index.js
  src/components/Pill.js
  src/components/SectionNav.js
  src/components/Subtitle.js
  src/components/Warning.js
  src/content/eth2/get-involved/index.md
  src/content/eth2/index.md
  src/content/eth2/proof-of-stake/index.md
  src/content/eth2/roadmap/index.md
  src/content/eth2/shard-chains/index.md
  src/content/eth2/the-beacon-chain/index.md
  src/content/eth2/why-eth2/index.md
  src/content/learn/index.md
  src/intl/en.json
  src/styles/layout.css
  src/templates/static.js
  src/utils/translations.js
Labels: Status: In Progress, Type: Content, Type: Feature

#1351 Deploy 2.5.0
  .all-contributorsrc
  .github/workflows/docsearchConfig.json
  README.md
  gatsby-config.js
  gatsby-node.js
  netlify.toml
  package.json
  src/components/Breadcrumbs.js
  src/components/CardContainer.js
  src/components/Eth2Articles.js
  src/components/Footer.js
  src/components/InfoBanner.js
  src/components/Nav/index.js
  src/components/PageMetadata.js
  src/components/Pill.js
  src/components/SectionNav.js
  src/components/SharedStyledComponents.js
  src/components/Theme.js
  src/components/Warning.js
  src/content/eth2/get-involved/index.md
  src/content/eth2/index.md
  src/content/eth2/the-beacon-chain/index.md
  src/content/learn/index.md
  src/intl/en.json
  src/pages/get-eth.js
  src/styles/layout.css
  src/templates/static.js
  src/utils/translations.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#1345 Exchange listing changes
  .github/ISSUE_TEMPLATE/new_exchange.md
  src/content/contributing/adding-exchanges/index.md
  src/content/contributing/adding-products/index.md
  src/content/contributing/index.md
  src/pages/get-eth.js
Labels: Status: In Progress, Status: Review Needed, Type: Content, Type: Tooling

#1353 Misc merge cleanups
  src/components/CardContainer.js
  src/components/SectionNav.js
  src/components/SharedStyledComponents.js
  src/components/WalletCompare.js
  src/pages-conditional/wallets/index.js
  src/templates/static.js
Labels: Status: Review Needed

#1356 Deploy v2.6.1
  .github/ISSUE_TEMPLATE/suggest_exchange.md
  .github/ISSUE_TEMPLATE/suggest_wallet.md
  src/components/WalletCompare.js
  src/pages-conditional/wallets/find-wallet.js
  src/pages-conditional/wallets/index.js
  src/pages/get-eth.js
Labels: Status: Review Needed, Type: Content, Type: Tooling

#1358 Deploy v2.6.2
  package.json
  src/components/ActionCard.js
  src/images/build/scaffold-eth.png
  src/intl/en.json
  src/pages/build.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Translation

#1359 Fixed typo in beacon chain content
  src/content/eth2/the-beacon-chain/index.md
Labels: Status: Review Needed, Type: Content

#1366 Eth2 page updates
  src/components/Eth2Articles.js
  src/content/eth2/index.md
Labels: Status: Review Needed, Type: Content

#1367 Wallets v2
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/images/wallets/alpha.png
  src/images/wallets/dharma.png
  src/images/wallets/enjin.png
  src/images/wallets/gnosis.png
  src/images/wallets/monolith.png
  src/images/wallets/mycrypto.png
  src/images/wallets/trust.png
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed, Type: Design, Type: Internal

#1372 Deploy v2.6.3
  .github/ISSUE_TEMPLATE/suggest_exchange.md
  .github/ISSUE_TEMPLATE/suggest_wallet.md
  package.json
  src/components/Eth2Articles.js
  src/components/WalletCompare.js
  src/content/eth2/index.md
  src/content/eth2/the-beacon-chain/index.md
  src/data/wallets.csv
  src/images/wallets/alpha.png
  src/images/wallets/dharma.png
  src/images/wallets/enjin.png
  src/images/wallets/gnosis.png
  src/images/wallets/monolith.png
  src/images/wallets/mycrypto.png
  src/images/wallets/trust.png
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Tooling

#1380 Update asset to 'blocks'
  src/assets/developers-eth-blocks.png
  src/pages-conditional/assets.js
  src/pages-conditional/what-is-ethereum.js
  src/pages/index.js
Labels: Status: Review Needed, Type: Content

#1382 Minor grammatical issue. Adding word 'from'
  src/pages-conditional/what-is-ethereum.js
Labels: Status: Review Needed, Type: Content

#1384 Deploy v2.6.5
  .all-contributorsrc
  README.md
  package.json
  src/assets/developers-eth-blocks.png
  src/pages-conditional/assets.js
  src/pages-conditional/what-is-ethereum.js
  src/pages/index.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal

#1386 Always show wallet filter tags
  src/components/Breadcrumbs.js
  src/components/Tag.js
  src/components/WalletCompare.js
  src/pages-conditional/wallets/find-wallet.js
Labels: Status: Review Needed

#1379 Contributing translations
  src/components/TranslationsInProgress.js
  src/content/contributing/index.md
  src/content/contributing/translation-program/index.md
  src/intl/en.json
  src/pages/languages.js
  src/templates/static.js
Labels: Status: Review Needed, Type: Content, Type: Translation
