Repository ethereum/ethereum-org-website, pull requests merged in 2021-08, with the labels that each got.

#3531 London Banner
  package.json
  src/components/Layout.js
  src/components/ReleaseBanner.js
  src/intl/en/common.json
  src/lambda/etherscanBlock.js
  src/utils/cache.js
  yarn.lock
Labels: Status: Review Needed, Type: Dependencies

#3532 Update guide for translators
  src/content/contributing/translation-program/crowdin-files.png
  src/content/contributing/translation-program/index.md
  src/content/contributing/translation-program/online-editor.png
Labels: Status: Review Needed, Type: Content, Type: Translation

#3525 Fix link to JSON-RPC endpoints
  src/content/developers/docs/apis/backend/index.md
Labels: Status: Review Needed, Type: Content

#3482 Use Ethereum Mainnet as a proper noun
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/programming-languages/delphi/index.md
  src/content/developers/docs/scaling/index.md
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/content/developers/docs/scaling/plasma/index.md
  src/content/developers/docs/scaling/sidechains/index.md
  src/content/developers/docs/scaling/state-channels/index.md
  src/content/developers/docs/security/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/developers/tutorials/how-to-mock-solidity-contracts-for-testing/index.md
  src/content/developers/tutorials/run-light-node-geth/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/eips/index.md
  src/content/enterprise/index.md
  src/content/enterprise/private-ethereum/index.md
  src/content/eth2/beacon-chain/index.md
  src/content/eth2/get-involved/medalla-data-challenge/index.md
  src/content/eth2/get-involved/staking-community-grants/index.md
  src/content/eth2/merge/index.md
  src/content/eth2/shard-chains/index.md
  src/content/glossary/index.md
  src/content/history/index.md
  src/content/translations/cs/enterprise/index.md
  src/content/translations/de/eth2/merge/index.md
  src/content/translations/el/eth2/merge/index.md
  src/content/translations/el/eth2/shard-chains/index.md
  src/content/translations/es/eth2/merge/index.md
  src/content/translations/hi/eth2/merge/index.md
  src/content/translations/hr/eth2/merge/index.md
  src/content/translations/hu/eth2/merge/index.md
  src/content/translations/id/enterprise/index.md
  src/content/translations/it/eth2/merge/index.md
  src/content/translations/ro/eth2/merge/index.md
  src/content/translations/ro/history/index.md
  src/intl/en/page-developers-index.json
  src/intl/en/page-eth2-index.json
  src/intl/en/page-eth2-staking.json
  src/intl/en/page-eth2-vision.json
  src/intl/id/page-developers-index.json
  src/intl/nl/page-developers-index.json
  src/intl/pt-br/page-developers-index.json
  src/intl/pt/page-developers-index.json
  src/intl/se/page-developers-index.json
  src/intl/sl/page-developers-index.json
  src/pages/developers/local-environment.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#3537 Add London blog post
  src/content/history/index.md
Labels: Status: Review Needed, Type: Content

#3536 Link for Release Banner instead of a href
  src/components/Layout.js
  src/components/ReleaseBanner.js
Labels: Status: Review Needed

#3524 Appended Books and Podcasts section to end of Resources page [Fixes #3181]
  src/content/learn/index.md
Labels: Status: Review Needed, Type: Content

#3545 updated Quan score
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed

#3509 Update Gas and Fees, Blocks and Transactions pages
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/transactions/index.md
Labels: Status: Review Needed, Type: Content

#3553 Update JSON-RPC page
  src/content/developers/docs/apis/json-rpc/index.md
Labels: Status: Review Needed, Type: Content

#3550 Update EIPs page
  src/content/eips/index.md
Labels: Status: Review Needed, Type: Content

#3552 Update History page for London
  src/content/history/index.md
Labels: Status: Review Needed, Type: Content

#3555 Deploy v2.34.0
  .all-contributorsrc
  README.md
  package.json
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/transactions/index.md
  src/content/eips/index.md
  src/content/history/index.md
  src/content/learn/index.md
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal

#3556 Add more info to JSON RPC page
  src/content/developers/docs/apis/json-rpc/index.md
Labels: Status: Review Needed, Type: Content

#3562 Update London History
  src/content/history/index.md
Labels: Type: Content, Status: Review Needed

#3565 Fixed issue #3564
  src/content/community/index.md
Labels: Type: Content, Status: Review Needed

#3444 Update index.md
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
Labels: Type: Content, Status: Review Needed

#3570 Revert "Merge pull request #3050"
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/decentralization/index.md
  src/content/developers/docs/web2-vs-web3/index.md
  src/content/learn/index.md
  src/intl/en/common.json
  src/intl/en/page-eth2-vision.json
  src/pages/eth2/vision.js
Labels: Type: Content, Status: Review Needed

#3526 add Ethereum RFPs
  src/content/community/grants/index.md
Labels: Type: Content, Status: Review Needed

#3436 Add some stronger language to why smart contracts are cool + immutable
  src/content/developers/docs/smart-contracts/index.md
Labels: Type: Content, Status: Review Needed

#3330 Add Chainstack in the range of Enterprise infrastructure providers
  src/content/enterprise/index.md
Labels: Type: Content, Status: Review Needed

#3580 Deploy v2.34.1
  .all-contributorsrc
  README.md
  package.json
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/community/grants/index.md
  src/content/community/index.md
  src/content/decentralization/index.md
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/smart-contracts/index.md
  src/content/developers/docs/web2-vs-web3/index.md
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/enterprise/index.md
  src/content/history/index.md
  src/content/learn/index.md
  src/intl/en/common.json
  src/intl/en/page-eth2-vision.json
  src/pages/eth2/vision.js
Labels: Type: Content, Status: Review Needed, Type: Dependencies, Type: Internal, Type: Documentation

#2987 Update index.md to include ERC-777
  src/content/developers/docs/standards/tokens/index.md
Labels: Type: Content, Status: Review Needed

#2670 Create hello-world-smart-contract.index.md
  src/content/developers/tutorials/hello-world-smart-contract/create-app-view-hello-world.png
  src/content/developers/tutorials/hello-world-smart-contract/etherscan-contract.png
  src/content/developers/tutorials/hello-world-smart-contract/etherscan-transaction.png
  src/content/developers/tutorials/hello-world-smart-contract/get-alchemy-api-key.gif
  src/content/developers/tutorials/hello-world-smart-contract/hello-world-create-app.png
  src/content/developers/tutorials/hello-world-smart-contract/hello-world-explorer.png
  src/content/developers/tutorials/hello-world-smart-contract/index.md
  src/content/developers/tutorials/hello-world-smart-contract/metamask-ropsten-example.png
Labels: Type: Content, Status: Review Needed

#3571 Updated job page links
  src/content/community/index.md
Labels: Type: Content, Status: Review Needed

#3586 EIP-1559 intro to past tense
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3593 Markdown syntax fix for whitepaper tables
  src/content/translations/fr/whitepaper/index.md
  src/content/translations/hu/whitepaper/index.md
  src/content/translations/ro/whitepaper/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#2917 Improve terminology on Scaling pages
  src/components/Search/Input.js
  src/content/contributing/translation-program/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/scaling/index.md
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/content/developers/docs/scaling/sidechains/index.md
  src/content/developers/docs/standards/tokens/index.md
  src/content/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  src/content/developers/tutorials/send-token-etherjs/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/eips/index.md
  src/content/eth2/beacon-chain/index.md
  src/content/eth2/shard-chains/index.md
  src/hooks/useActiveHash.js
Labels: Type: Content, Status: Review Needed

#3597 Point to good first issues labels [Feature #3587]
  src/content/contributing/index.md
Labels: Type: Content, Status: Review Needed

#3569 Shortened WallETH description
  src/intl/en/page-wallets-find-wallet.json
Labels: Status: Review Needed

#3604 CSS fix for H4 [Closes #3600]
  src/components/SharedStyledComponents.js
Labels: Status: Review Needed

#3609 Add upcoming events to community page
  src/data/community-events.json
Labels: Status: Review Needed

#3608 Stop stale issues closing
  .github/workflows/stale.yml
Labels: Type: Tooling

#3595 Reorder Job Boards Chronologically
  src/content/community/index.md
Labels: Type: Content, Status: Review Needed

#3589 Adding invitation to discord on feedback card
  src/components/FeedbackCard.js
Labels: Status: Review Needed

#3598 Add dapptools to list of frameworks
  src/assets/dev-tools/dapptools.png
  src/content/developers/docs/frameworks/index.md
  src/intl/en/page-developers-local-environment.json
  src/pages/developers/local-environment.js
Labels: Type: Content, Status: Review Needed

#3126 Update node and clients docs page
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Type: Content, Status: Review Needed

#3344 Update developer docs Gas page
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed, Status: Blocked

#3617 Update Issue #3611
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3594 Add product ordering instructions to adding products page
  src/content/contributing/adding-developer-tools/index.md
  src/content/contributing/adding-products/index.md
Labels: Type: Content, Status: Review Needed

#3625 [UPDATE] Colour for Argent to ensure logo is visible.
  src/data/wallets.csv
Labels: Status: Review Needed

#3619 Remove mention of 2020
  src/content/contributing/index.md
Labels: Type: Content, Status: Review Needed

#3626 Remove 2020 POAP ref from translations-program
  README.md
  src/content/contributing/translation-program/index.md
Labels: Type: Content, Status: Review Needed, Type: Documentation

#2652 Guide on how to code an NFT smart contract
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/alchemy-explorer.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/configure-and-publish-your-app.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/copy-alchemy-api-url.gif
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/create-your-app.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/etherscan-contract.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/etherscan-transaction.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/metamask-ropsten.png
Labels: Type: Content, Status: Blocked

#2653 Tutorial on how to mint an NFT
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/developers/tutorials/how-to-mint-an-nft/instructionsPinata.gif
  src/content/developers/tutorials/how-to-mint-an-nft/metadataJSON.png
  src/content/developers/tutorials/how-to-mint-an-nft/metadataPinata.gif
  src/content/developers/tutorials/how-to-mint-an-nft/uploadPinata.gif
  src/content/developers/tutorials/how-to-mint-an-nft/viewContractEtherscan.png
  src/content/developers/tutorials/how-to-mint-an-nft/viewNFTEtherscan.png
Labels: Type: Content, Status: Review Needed

#2654 tutorial on how to view your NFT in metamask
  src/content/developers/tutorials/how-to-view-nft-in-metamask/findNFTEtherscan.png
  src/content/developers/tutorials/how-to-view-nft-in-metamask/findNFTMetamask.gif
  src/content/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/developers/tutorials/how-to-view-nft-in-metamask/ropstenMetamask.gif
Labels: Type: Content, Status: Review Needed

#3628 Update ETH2 article section
  src/components/Eth2Articles.js
  src/data/eth2-articles.js
Labels: Status: Review Needed

#3631 Add CaptureTheEther to learning tools
  src/assets/dev-tools/capturetheether.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.js
Labels: Status: Review Needed

#3634 Deploy v2.36.0
  .all-contributorsrc
  .github/workflows/stale.yml
  README.md
  package.json
  src/assets/dev-tools/capturetheether.png
  src/assets/dev-tools/dapptools.png
  src/components/Eth2Articles.js
  src/components/FeedbackCard.js
  src/components/SharedStyledComponents.js
  src/content/community/index.md
  src/content/contributing/adding-developer-tools/index.md
  src/content/contributing/adding-products/index.md
  src/content/contributing/index.md
  src/content/contributing/translation-program/index.md
  src/content/developers/docs/frameworks/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/developers/tutorials/how-to-mint-an-nft/instructionsPinata.gif
  src/content/developers/tutorials/how-to-mint-an-nft/metadataJSON.png
  src/content/developers/tutorials/how-to-mint-an-nft/metadataPinata.gif
  src/content/developers/tutorials/how-to-mint-an-nft/uploadPinata.gif
  src/content/developers/tutorials/how-to-mint-an-nft/viewContractEtherscan.png
  src/content/developers/tutorials/how-to-mint-an-nft/viewNFTEtherscan.png
  src/content/developers/tutorials/how-to-view-nft-in-metamask/findNFTEtherscan.png
  src/content/developers/tutorials/how-to-view-nft-in-metamask/findNFTMetamask.gif
  src/content/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/developers/tutorials/how-to-view-nft-in-metamask/ropstenMetamask.gif
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/alchemy-explorer.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/configure-and-publish-your-app.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/copy-alchemy-api-url.gif
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/create-your-app.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/etherscan-contract.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/etherscan-transaction.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/metamask-ropsten.png
  src/data/community-events.json
  src/data/eth2-articles.js
  src/data/wallets.csv
  src/intl/en/page-developers-learning-tools.json
  src/intl/en/page-developers-local-environment.json
  src/intl/en/page-wallets-find-wallet.json
  src/pages/developers/learning-tools.js
  src/pages/developers/local-environment.js
  yarn.lock
Labels: Type: Content, Status: Review Needed, Type: Dependencies, Type: Internal, Type: Documentation, Type: Tooling

#3635 Corrected verb "fairs" to "fares".
  src/content/developers/docs/consensus-mechanisms/index.md
Labels: Type: Content, Status: Review Needed

#3638 Fix typo in docs
  src/content/developers/docs/dapps/index.md
Labels: Type: Content, Status: Review Needed

#2956 Uniswap v2 annotated code
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/liquidityProviderDeposit.png
Labels: Type: Content, Status: Review Needed

#3641 Make London Upgrade capitalization consistent in "src/content/developers/docs/gas/index.md" headings
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3636 Update Ethereum JSON-RPC Specification direct link
  src/content/developers/docs/apis/json-rpc/index.md
Labels: Status: Question, Type: Content, Status: Review Needed

#3645 Add Composability is Innovation to Further reading in src/content/developers/docs/smart-contracts/composability/index.md
  src/content/developers/docs/smart-contracts/composability/index.md
Labels: Type: Content, Status: Review Needed

#3643 Fixed grammar errors
  src/content/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
Labels: Type: Content, Status: Review Needed

#3658 Add What is DeFi? (Decentralized Finance Animated) to further reading…
  src/content/defi/index.md
Labels: Type: Content, Status: Review Needed

#3644 Add Gemini Article to dApps section
  src/content/developers/docs/dapps/index.md
Labels: Type: Content, Status: Review Needed

#3674 Add Learn Plasma
  src/content/developers/docs/scaling/plasma/index.md
Labels: Type: Content, Status: Review Needed

#3671 Add Web3Bridge to the site
  src/content/community/index.md
  src/content/contributing/translation-program/index.md
Labels: Type: Content, Status: Review Needed, Type: Dependencies

#2967 Added a bit more information on how NFTs work. Fixes [#2839]
  src/content/nft/index.md
Labels: Type: Content, Status: Review Needed

#3682 Add “ What is a DAO in crypto? (Decentralized Autonomous Organization…
  src/content/dao/index.md
Labels: Type: Content, Status: Review Needed

#3685 fix typo: Merkel Tree -> Merkle Tree
  src/content/developers/docs/scaling/plasma/index.md
Labels: Type: Content, Status: Review Needed

#3693 Add up-to-date imports to the NFT tutorial
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: Type: Content, Status: Review Needed

#3690 Remove duplicate entry for Erigon
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Type: Content, Status: Review Needed

#3688 Fix typo in src/content/developers/docs/gas/index.md
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3696 chore: fix a spelling mistake
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: Type: Content, Status: Review Needed

#3657 Remove Matic Network link
  src/content/developers/docs/scaling/plasma/index.md
Labels: Type: Content, Status: Review Needed

#3664 Update merge date in eth/merge
  src/content/eth2/merge/index.md
Labels: Type: Content, Status: Review Needed

#3665 Add sidebar to NFT tutorial series
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: Type: Content, Status: Review Needed

#3673 Update Linen Wallet - Logo/DEX integrations
  src/assets/wallets/linen.png
  src/data/wallets.csv
Labels: Status: Review Needed

#3679 Add dates to tutorials missing dates
  src/content/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
  src/content/developers/tutorials/using-websockets/index.md
Labels: Type: Content, Status: Review Needed

#3683 Display JSON RPC playground
  src/content/developers/docs/apis/json-rpc/index.md
Labels: Type: Content, Status: Review Needed

#3692 feat: lambda school added in the developer bootcamps
  src/assets/dev-tools/lambdaschool.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.js
Labels: Status: Review Needed

#3705 Remove/comment out ReleaseBanner in Layout after London Release
  src/components/Layout.js
Labels: Status: Review Needed

#3739 Fix incorrect gas calculation
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3747 Update OpenZeppelin Library in NFT tutorial
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: Type: Content, Status: Review Needed

#3736 feat: LisCon added in Upcoming Events
  src/data/community-events.json
Labels: Status: Review Needed

#3738 Fix typo in shard chains page
  src/content/eth2/shard-chains/index.md
Labels: Type: Content, Status: Review Needed

#3743 Fix typo in 'How to mint an NFT' tutorial
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
Labels: Type: Content, Status: Review Needed

#3742 Fix typo in 'How to write and deploy an NFT' tutorial
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: Type: Content, Status: Review Needed

#3735 Add to DOSNetwork to Oracle docs
  src/content/developers/docs/oracles/index.md
Labels: Type: Content, Status: Review Needed

#3733 Add blockchain hashes video to 'Intro to Ethereum' developer doc
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: Type: Content, Status: Review Needed

#3699 Add Intro to Ether page [Fixes #3548]
  src/content/community/index.md
  src/content/contributing/adding-developer-tools/index.md
  src/content/contributing/adding-products/index.md
  src/content/dao/index.md
  src/content/developers/docs/index.md
  src/content/developers/docs/intro-to-ether/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-index.json
  src/pages/developers/index.js
Labels: Type: Content, Status: Review Needed

#3762 Temporarily remove Blocktribe.com from Ethereum jobs section
  src/content/community/index.md
Labels: Type: Content, Status: Review Needed

#3761 Increase Trilemma viewBox width to fit text on Linux
  src/components/Trilemma.js
Labels: Status: Review Needed

#3759 Standardize "ether" to lowercase throughout
  src/content/developers/docs/index.md
  src/content/developers/docs/intro-to-ether/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/smart-contracts/deploying/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/enterprise/index.md
Labels: Type: Content, Status: Review Needed

#3740 Fix broken link to RimbleUI in dapps docs page
  src/content/developers/docs/dapps/index.md
Labels: Type: Content, Status: Review Needed

#3770 Update eth2 articles
  src/data/eth2-articles.js
Labels: Status: Review Needed

#3773 v2.38.1
  package.json
Labels: Type: Dependencies

#3774 Deploy v2.38.1
  .all-contributorsrc
  README.md
  package.json
  src/components/Trilemma.js
  src/content/community/index.md
  src/content/developers/docs/dapps/index.md
  src/content/developers/docs/index.md
  src/content/developers/docs/intro-to-ether/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/smart-contracts/deploying/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/enterprise/index.md
  src/data/eth2-articles.js
Labels: Type: Content, Status: Review Needed, Type: Dependencies, Type: Internal, Type: Documentation
