Repository ethereum/ethereum-org-website, pull requests merged in 2021-11, with the labels that each got.

#4360 Update Translation Program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4354 Fix typo in glossary for 'ether' description
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4352 Fix punctuation in smart contracts developer doc
  src/content/developers/docs/smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4356 Fix typo in erc-20 tutorial
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4353 Fix typo in smart contract anatomy developer doc
  src/content/developers/docs/smart-contracts/anatomy/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4355 Add description/purpose to Eth R&D Discord link
  src/content/community/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4348 Fix typo in proof-of-work description in the consensus mechanisms developer docs
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4358 Add missing "www." in grafana link in tutorial
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4276 Non-english pages link to English pages in footer navigation
  gatsby-node.js
  src/components/Footer.js
  src/components/Layout.js
Labels: review needed :eyes:, internal :house:

#4370 Reword a complex sentence on EF page
  src/content/foundation/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4367 Update link to geth installation instructions
  src/content/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/pl/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/ro/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/zh/developers/tutorials/run-light-node-geth/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4368 Add DefiLlama to DeFi page
  src/content/defi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4366 Fix typo in ERC20 annotated code tutorial
  src/content/developers/tutorials/erc20-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4205 implemented hovering tooltip, fixed positioning [Fixes #3139]
  package.json
  src/components/Tooltip.js
  yarn.lock
Labels: review needed :eyes:, dependencies :package:, Changes Requested

#4382 Fix typos in security learn page
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4381 Fix typos and punctuations on NFT learn page
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4380 Fix typos in DeFi learn page
  src/content/defi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4379 Fix typos in using echidna tutorial
  src/content/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4378 Fix typo in cookie policy
  src/content/cookie-policy/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4377 Fix typo in deprecated software doc
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4376 Policy updates, adds Matomo opt-out option
  src/components/MatomoOptOut.js
  src/content/cookie-policy/index.md
  src/content/privacy-policy/index.md
  src/templates/static.js
  src/utils/matomo.js
Labels: content :fountain_pen:, review needed :eyes:

#4345 Update Hardhat's logo to use new SVG
  src/assets/dev-tools/hardhat.png
  src/components/ProductCard.js
  src/pages/developers/local-environment.js
Labels: review needed :eyes:

#4387 Minor grammar corrections to developer docs
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4390 Word replacement in deprecated software doc
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4391 Fix typo in governance learn page
  src/content/governance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4399 Fixes Timeline estimation date
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4397 Fix punctuation in Readme doc
  README.md
Labels: documentation :book:

#4396 Fix typo in learn doc
  src/content/learn/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4401 Footer duplicate link
  src/components/Footer.js
  src/intl/ar/ar.json
  src/intl/bg/common.json
  src/intl/bn/bn.json
  src/intl/ca/common.json
  src/intl/cs/cs.json
  src/intl/de/common.json
  src/intl/el/common.json
  src/intl/en/common.json
  src/intl/es/common.json
  src/intl/fi/fi.json
  src/intl/fr/common.json
  src/intl/hi/common.json
  src/intl/hr/common.json
  src/intl/hu/common.json
  src/intl/id/id.json
  src/intl/it/common.json
  src/intl/ja/common.json
  src/intl/ko/ko.json
  src/intl/lt/lt.json
  src/intl/ml/common.json
  src/intl/nb/nb.json
  src/intl/pl/common.json
  src/intl/pt-br/pt-br.json
  src/intl/pt/pt.json
  src/intl/ro/common.json
  src/intl/ru/common.json
  src/intl/se/se.json
  src/intl/sk/sk.json
  src/intl/sl/common.json
  src/intl/tr/common.json
  src/intl/uk/common.json
  src/intl/vi/vi.json
  src/intl/zh-tw/zh-tw.json
  src/intl/zh/common.json
Labels: review needed :eyes:

#4413 [Bugfix] ERC20 Grammar Fix
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4416 Ethereum for Dart Developers: MetaMask integration in Flutter applications
  src/content/developers/docs/programming-languages/dart/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4410 Fix typo in networks developer docs
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4404 Grammar fixes for erc20 tutorial
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4405 Fix typo in storage developer docs
  src/content/developers/docs/storage/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4431 Add mention of community curation
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4428 Add ETHDubai conference
  src/data/community-events.json
Labels: review needed :eyes:

#4424 Add CryptoCanti scaling roadmap article
  src/content/developers/docs/scaling/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4437 Remove metamask weekend event from community page
  src/content/community/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4436 Add Coinbase to South Africa onramps
  src/data/exchanges-by-country.csv
Labels: review needed :eyes:

#4429 Add useWeb3 to community page
  src/content/community/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4446 Fix misplaced preposition in Gas explainer
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4448 Added Ethereum Studio to Deprecated Software
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4461 Add Aleth to deprecated software list
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4460 Adding Polynya and Canti's posts
  src/content/developers/docs/scaling/layer-2-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4456 Color update to increase accessibility [Fix #4426]
  src/components/StatsBoxGrid.js
Labels: review needed :eyes:

#4455 Update NFT tutorial: add quotes around NPM package `ethers.js`
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4445 Add section about reported incorrect translations
  src/content/contributing/translation-program/translation-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4434 Fix tutorial: 1 token is equal to 1 Wei, not 1 Ether in the buy() method
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4439 Broaden article listing policy
  .github/ISSUE_TEMPLATE/suggest_tutorial.md
  src/content/contributing/adding-articles/index.md
  src/content/contributing/content-resources/index.md
  src/content/contributing/index.md
  src/pages/developers/tutorials.js
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#4438 Update NFT tutorial to reflect new Pinata UI
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4408 Add title attribute to iframe (a11y)
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:, a11y :wheelchair:

#4442 Add term Oracle to the Ethereum Glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4406 Fix punctuation in data-and-analytics page
  src/content/developers/docs/data-and-analytics/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4423 Prevent the page to scroll when modal search/menu is open [Fixes #4194]
  src/components/Nav/index.js
Labels: review needed :eyes:

#4472 Product designer
  gatsby-node.js
  src/content/about/index.md
  src/content/about/product-designer/index.md
  src/templates/job.js
Labels: content :fountain_pen:, review needed :eyes:, internal :house:

#4473 v2.46.1
  package.json
Labels: dependencies :package:

#4471 Fix external link to MakerDAO in Stablecoins section
  src/components/StablecoinAccordion.js
Labels: review needed :eyes:

#4478 Fixed misspelling in Transactions signature LI
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4480 Fix typos and grammar in product design JD
  src/content/about/product-designer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4488 Add 2850 bounty to ItsUnixIKnowThis
  src/data/eth2-bounty-hunters.csv
Labels: review needed :eyes:

#4449 Update smart contracts developer docs (chinese)
  src/content/translations/zh/developers/docs/smart-contracts/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4506 Link ETH terminology to "Intro to ether"
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4519 Use American English on Transaction Lifecycle
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4508 Fix grammar in Whitepaper
  src/content/whitepaper/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4499 Change LambdaSchool to BloomTech
  src/assets/dev-tools/bloomtech.png
  src/assets/dev-tools/lambdaschool.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.js
Labels: review needed :eyes:

#4498 Add ZK Hack to events #4497
  src/data/community-events.json
Labels: review needed :eyes:

#4524 Uniswap V2 tutorial: fix an error (16*16 = 256, not 1024)
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4528 Fix height for nav on chrome mobile when address bar shows/hides [Fix #4463]
  src/components/Nav/Mobile.js
Labels: review needed :eyes:

#4491 Shows link/chain icon on hover [Fixes #4487]
  src/templates/eth2.js
  src/templates/job.js
  src/templates/use-cases.js
Labels: review needed :eyes:

#4518 Fix transaction id error
  src/content/whitepaper/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4452 Use consistent format for block numbers in history
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4525 Nodes and clients developer doc: adds note about OpenEthereum being deprecated
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4513 Intro to Ethereum developer docs: explicitly state ether === ETH
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4500 Fix list item color in markdown files [Fixes #4495]
  src/templates/job.js
Labels: review needed :eyes:

#4543 Improve wording in how to mint an NFT tutorial
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4540 Fix link reference to Ethereum Studio in /deprecated-software
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4555 Update MetaGame website link
  src/content/community/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4552 Fix poaps channel name
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4538 Remove Edit Button for Whitepaper
  src/templates/static.js
Labels: review needed :eyes:

#4554 Add links to "More on Tokens and their uses"
  src/pages-conditional/eth.js
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#4569 Fix "Majority attack" link in PoW article
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4577 Update community events
  src/data/community-events.json
Labels: review needed :eyes:

#4574 Update smart contract libraries - Changed "designs" to "designated"
  src/content/developers/docs/smart-contracts/libraries/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4576 Update standards/tokens/erc-1155/index.md
  src/content/developers/docs/standards/tokens/erc-1155/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4568 Fix typos in Uniswap v2 annotated code tutorial
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4545 Update ETH2 articles
  src/data/eth2-articles.js
Labels: review needed :eyes:

#4546 Show header ID chain on hover for docs/static templates
  src/components/SharedStyledComponents.js
Labels: review needed :eyes:

#4586 Deploy v2.46.2
  .all-contributorsrc
  README.md
  package.json
  src/assets/dev-tools/bloomtech.png
  src/assets/dev-tools/lambdaschool.png
  src/components/Nav/Mobile.js
  src/components/SharedStyledComponents.js
  src/components/StablecoinAccordion.js
  src/content/about/product-designer/index.md
  src/content/community/index.md
  src/content/contributing/index.md
  src/content/deprecated-software/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/smart-contracts/libraries/index.md
  src/content/developers/docs/standards/tokens/erc-1155/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/history/index.md
  src/content/translations/zh/developers/docs/smart-contracts/index.md
  src/content/whitepaper/index.md
  src/data/community-events.json
  src/data/eth2-articles.js
  src/data/eth2-bounty-hunters.csv
  src/intl/en/page-developers-learning-tools.json
  src/pages-conditional/eth.js
  src/pages/developers/learning-tools.js
  src/templates/eth2.js
  src/templates/job.js
  src/templates/static.js
  src/templates/use-cases.js
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#4590 Fix typo in uniswap-v2-annotated-code
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4588 Fix typo in nodes and clients docs
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4587 Add Arrow Glacier to history with banner notification
  src/components/Layout.js
  src/components/UpgradeBannerNotification.js
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4584 added events blog and video
  src/data/externalTutorials.json
Labels: review needed :eyes:

#4559 Smart contracts library doc typo: "kind" to "kinds"
  src/content/developers/docs/smart-contracts/libraries/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4582 Fix typos in erc-721-vyper-annotated-code tutorial
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:
