Repository ethereum/ethereum-org-website, pull requests merged in 2021-06, with the labels that each got.

#2989 Add placeholder avatar to prevent layout jumping [Fixes #2809]
  src/components/FileContributors.js
Labels: Status: Review Needed

#3124 Clean up unused imports
  src/components/FileContributors.js
  src/components/StablecoinAccordion.js
  src/pages/studio.js
  src/pages/wallets/find-wallet.js
  src/templates/job.js
  src/templates/use-cases.js
Labels: Status: Review Needed, Type: Content

#3125 Update local dev instructions
  README.md
Labels: Type: Documentation

#3144 Update index.md
  src/content/developers/docs/dapps/index.md
Labels: Status: Review Needed, Type: Content

#3159 Update StatBoxGrid development fallback figures
  src/components/StatsBoxGrid.js
Labels: Status: Review Needed

#3160 Add WallETH wallet
  src/assets/wallets/walleth.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#3163 fix a typo
  src/content/developers/tutorials/erc20-annotated-code/index.md
Labels: Status: Review Needed, Type: Content

#3149 Add editors
  src/content/eips/index.md
Labels: Status: Review Needed, Type: Content

#3158 Add missing assets
  src/intl/en/page-assets.json
  src/pages/assets.js
Labels: Status: Review Needed, Type: Content

#3173 Restores waffle say hello world tutorial
  src/content/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/translations/ro/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3156 mistake in Ethereum address creation
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#3175 Update index.md
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#3078 made changes in the roadmap to display merged PRs
  src/components/Roadmap.js
Labels: Status: Review Needed

#3179 Deploy v2.30.0
  .all-contributorsrc
  README.md
  package.json
  src/assets/wallets/walleth.png
  src/components/FileContributors.js
  src/components/Roadmap.js
  src/components/StablecoinAccordion.js
  src/components/StatsBoxGrid.js
  src/components/WalletCompare.js
  src/content/community/grants/index.md
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/dapps/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/eips/index.md
  src/content/translations/ro/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/data/wallets.csv
  src/intl/en/page-assets.json
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
  src/pages/assets.js
  src/pages/studio.js
  src/pages/wallets/find-wallet.js
  src/templates/job.js
  src/templates/use-cases.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Translation

#3200 Fix typo in erc-721-vyper-annotated-code/index.md
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
Labels: Status: Review Needed, Type: Content

#3191 Fixes grammar in doc: including -> include
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: Status: Review Needed, Type: Content

#3190 More supported languages added for Ethplorer
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: Status: Review Needed, Type: Content

#3188 added more python tutorials!
  src/content/developers/docs/programming-languages/python/index.md
Labels: Status: Review Needed, Type: Content

#3133 Transaction fee calculation
  src/content/developers/docs/gas/index.md
Labels: Status: Review Needed, Type: Content

#3140 Added hover effect to Tooltip
  src/components/Tooltip.js
Labels: Status: Review Needed

#3212 Add snap (which is now default sync) to Geth
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Status: Review Needed, Type: Content

#3208 Lists Samsung Blockchain Wallet [Closes #2886]
  src/assets/wallets/samsung.png
  src/components/WalletCard.js
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#3220 eth2 page: fixing minor typo
  src/content/eth2/merge/index.md
Labels: Status: Review Needed, Type: Content

#3214 Add Erigon
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: Status: Review Needed, Type: Content

#3203 Fix asterisk escape
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/transactions/index.md
Labels: Status: Review Needed, Type: Content

#3225 Deploy 2.30.1
  .all-contributorsrc
  README.md
  package.json
  src/assets/wallets/samsung.png
  src/components/Tooltip.js
  src/components/WalletCard.js
  src/components/WalletCompare.js
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/programming-languages/python/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/eth2/merge/index.md
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal

#3234 fixed three typos in the ERC-20 tutorial highlighted in #3233
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
Labels: Status: Review Needed, Type: Content

#3201 Fix typos in ERC721 Web3.py examples and update to use functions from latest stable version
  src/content/developers/docs/standards/tokens/erc-721/index.md
Labels: Status: Review Needed, Type: Content

#3230 Glossary definition for ABI [Fixes #3228]
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#3243 Adds sharding article #3239
  src/components/Eth2ShardChainsList.js
Labels: Status: Review Needed

#3244 correct typo
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Status: Review Needed, Type: Content

#3242 Supplemented glossary definition for elliptic curve digital signature algorithm (ECDSA)
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#3226 Update index.md
  src/content/community/grants/index.md
Labels: Status: Review Needed, Type: Content

#3192 Fixed broken sample test on tutorial page
  src/content/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
Labels: Status: Review Needed, Type: Content

#3148 Added a hand waiving gif in place of Sticker.
  README.md
Labels: Type: Documentation

#3247 fix(Dapps Documentation): grammatical error
  src/content/developers/docs/dapps/index.md
Labels: Status: Review Needed, Type: Content

#3249 hackathon: Add ETHOdyssey Hackathon
  src/data/community-events.json
Labels: Status: Review Needed, Type: Content

#3252 Added missing JSON-RPC API methods [Fixes #3209]
  src/content/developers/docs/apis/json-rpc/index.md
Labels: Status: Review Needed, Type: Content

#3256 Replace Ryan w/ Pablo & Corwin
  .github/CODEOWNERS
Labels: Type: Tooling

#3262 Deploy 2.31.0
  .all-contributorsrc
  .github/CODEOWNERS
  README.md
  package.json
  src/components/Eth2ShardChainsList.js
  src/content/community/grants/index.md
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/dapps/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/standards/tokens/erc-721/index.md
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/glossary/index.md
  src/data/community-events.json
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling

#3265 removed extra divider [fixes #3264]
  src/content/developers/docs/apis/json-rpc/index.md
Labels: Status: Review Needed, Type: Content

#3168 Dart language page
  netlify.toml
  src/content/developers/docs/programming-languages/dart/index.md
  src/content/developers/docs/programming-languages/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/ro/developers/docs/programming-languages/index.md
  src/data/developer-docs-links.yaml
  src/intl/de/page-developers-docs.json
  src/intl/el/page-developers-docs.json
  src/intl/en/page-developers-docs.json
  src/intl/es/page-developers-docs.json
  src/intl/hi/page-developers-docs.json
  src/intl/hr/page-developers-docs.json
  src/intl/hu/page-developers-docs.json
  src/intl/it/page-developers-docs.json
  src/intl/ro/page-developers-docs.json
Labels: Status: Review Needed, Type: Content, Type: Tooling, Type: Translation

#3263 Fixed double scrollbar bug [fixes #3253]
  src/components/Codeblock.js
Labels: Status: Review Needed

#3296 Fix for typo in Python language information tab
  src/content/developers/docs/programming-languages/python/index.md
Labels: Status: Review Needed, Type: Content

#3282 Moralis to nodes-as-a-service list
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: Status: Review Needed, Type: Content

#3294 Moved 0chain from "blockchain based" to "contract based"
  src/content/developers/docs/storage/index.md
Labels: Status: Review Needed, Type: Content

#3302 Add link smart contracts section
  src/content/developers/docs/smart-contracts/index.md
Labels: Status: Review Needed, Type: Content

#3303 Update MakerDAO grants link [fixes #3255]
  src/content/community/grants/index.md
Labels: Status: Review Needed, Type: Content

#3305 fix typo
  src/content/developers/docs/blocks/index.md
Labels: Status: Review Needed, Type: Content

#3306 correct dead link
  src/content/developers/docs/programming-languages/python/index.md
Labels: Status: Review Needed, Type: Content

#3323 Dead link update for intl pages
  src/content/translations/ar/python/index.md
  src/content/translations/bn/python/index.md
  src/content/translations/cs/python/index.md
  src/content/translations/de/python/index.md
  src/content/translations/es/python/index.md
  src/content/translations/fi/python/index.md
  src/content/translations/fr/python/index.md
  src/content/translations/hu/python/index.md
  src/content/translations/id/python/index.md
  src/content/translations/it/python/index.md
  src/content/translations/ja/python/index.md
  src/content/translations/ko/python/index.md
  src/content/translations/lt/python/index.md
  src/content/translations/ml/python/index.md
  src/content/translations/nb/python/index.md
  src/content/translations/pt-br/python/index.md
  src/content/translations/ro/developers/docs/programming-languages/python/index.md
  src/content/translations/ro/python/index.md
  src/content/translations/se/python/index.md
  src/content/translations/sk/python/index.md
  src/content/translations/tr/python/index.md
  src/content/translations/uk/python/index.md
  src/content/translations/vi/python/index.md
  src/content/translations/zh/python/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3311 Add Resources section to Translation Program page [fixes #3266 ]
  src/content/contributing/translation-program/index.md
Labels: Status: Review Needed, Type: Content

#3325 Lists Women Spotlight event under community events [Closes #3297]
  src/data/community-events.json
Labels: Status: Review Needed

#3327 Deploy 2.31.1
  .all-contributorsrc
  README.md
  netlify.toml
  package.json
  src/components/Codeblock.js
  src/content/community/grants/index.md
  src/content/contributing/translation-program/index.md
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/docs/programming-languages/dart/index.md
  src/content/developers/docs/programming-languages/index.md
  src/content/developers/docs/programming-languages/python/index.md
  src/content/developers/docs/smart-contracts/index.md
  src/content/developers/docs/storage/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/ar/python/index.md
  src/content/translations/bn/python/index.md
  src/content/translations/cs/python/index.md
  src/content/translations/de/python/index.md
  src/content/translations/es/python/index.md
  src/content/translations/fi/python/index.md
  src/content/translations/fr/python/index.md
  src/content/translations/hu/python/index.md
  src/content/translations/id/python/index.md
  src/content/translations/it/python/index.md
  src/content/translations/ja/python/index.md
  src/content/translations/ko/python/index.md
  src/content/translations/lt/python/index.md
  src/content/translations/ml/python/index.md
  src/content/translations/nb/python/index.md
  src/content/translations/pt-br/python/index.md
  src/content/translations/ro/developers/docs/programming-languages/index.md
  src/content/translations/ro/developers/docs/programming-languages/python/index.md
  src/content/translations/ro/python/index.md
  src/content/translations/se/python/index.md
  src/content/translations/sk/python/index.md
  src/content/translations/tr/python/index.md
  src/content/translations/uk/python/index.md
  src/content/translations/vi/python/index.md
  src/content/translations/zh/python/index.md
  src/data/community-events.json
  src/data/developer-docs-links.yaml
  src/intl/de/page-developers-docs.json
  src/intl/el/page-developers-docs.json
  src/intl/en/page-developers-docs.json
  src/intl/es/page-developers-docs.json
  src/intl/hi/page-developers-docs.json
  src/intl/hr/page-developers-docs.json
  src/intl/hu/page-developers-docs.json
  src/intl/it/page-developers-docs.json
  src/intl/ro/page-developers-docs.json
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#3331 Updated comment for SafeMath usage
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
Labels: Status: Review Needed, Type: Content

#3328 Fix translated What is Ethereum page mobile layouts [Fixes #3316]
  src/content/translations/ar/what-is-ethereum/index.md
  src/content/translations/bn/what-is-ethereum/index.md
  src/content/translations/fa/what-is-ethereum/index.md
  src/content/translations/fr/what-is-ethereum/index.md
  src/content/translations/id/what-is-ethereum/index.md
  src/content/translations/ig/what-is-ethereum/index.md
  src/content/translations/nl/what-is-ethereum/index.md
  src/content/translations/pl/what-is-ethereum/index.md
  src/content/translations/pt/what-is-ethereum/index.md
  src/content/translations/ru/what-is-ethereum/index.md
  src/content/translations/se/what-is-ethereum/index.md
  src/content/translations/sk/what-is-ethereum/index.md
  src/content/translations/sl/what-is-ethereum/index.md
  src/content/translations/tr/what-is-ethereum/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3339 Fix typo in docs - Layer 2 Rollups
  src/content/developers/docs/scaling/layer-2-rollups/index.md
Labels: Status: Review Needed, Type: Content

#3341 Fixes related tutorials links
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: Status: Review Needed, Type: Content

#3342 Fix small grammatical error in accounts docs
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#3359 Lists CoinSpot on `/get-eth` page [Closes #2984]
  src/assets/exchanges/coinspot.png
  src/components/EthExchanges.js
  src/data/exchanges-by-country.csv
Labels: Status: Review Needed

#3357 Remove Trinity, add more info
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Status: Review Needed, Type: Content
