Repository ethereum/ethereum-org-website, pull requests merged in 2021-02, with the labels that each got.

#2348 Minor content change
  src/content/developers/docs/web2-vs-web3/index.md
Labels: Status: Review Needed, Type: Content

#2346 Fix typo in index.md
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#2356 Upgade --> upgrade [Fixes #2354]
  src/content/eth2/beacon-chain/index.md
Labels: Status: Review Needed, Type: Content

#2258 Added a simple brownie tutorial
  src/content/developers/docs/programming-languages/python/index.md
Labels: Status: Review Needed, Type: Content

#2328 Add JustinDrake as Eth2 bounty CODEOWNER
  .github/CODEOWNERS
Labels: Type: Tooling

#2345 Add simple caching for homepage queries
  src/components/StatsBoxGrid.js
  src/utils/cache.js
Labels: Status: Review Needed

#2363 Switches tx count to etherscan API [Fixes #2362]
  src/components/StatsBoxGrid.js
  src/lambda/txs.js
Labels: Priority: High, Status: Review Needed

#2360 Adds FormatJS yarn package for intl number formatting [Fixes #2358]
  gatsby-browser.js
  package.json
  yarn.lock
Labels: Type: Dependencies, Type: Internal

#2367 Deploy 2.15.1
  .all-contributorsrc
  .github/CODEOWNERS
  README.md
  gatsby-browser.js
  package.json
  src/components/StatsBoxGrid.js
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/programming-languages/python/index.md
  src/content/developers/docs/web2-vs-web3/index.md
  src/content/eth2/beacon-chain/index.md
  src/lambda/txs.js
  src/utils/cache.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling

#2369 Update index.md -- scaffold-eth components
  src/content/developers/docs/frameworks/index.md
Labels: Status: Review Needed, Type: Content

#2368 Add wackerow to CODEOWNERS
  .github/CODEOWNERS
Labels: Type: Tooling

#2370 Update page-developers-local-environment.json -- update scaffold-eth components
  src/intl/en/page-developers-local-environment.json
Labels: Status: Review Needed

#2372 Fixed an indentation issue
  src/content/developers/docs/dapps/index.md
Labels: Status: Review Needed, Type: Content

#2374 Added more info + resources based off user feedback
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
Labels: Status: Review Needed, Type: Content

#2375 Make guide more agnostic
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
Labels: Status: Review Needed, Type: Content

#2334 Add Cartesi to Optimistic Rollups
  src/content/developers/docs/layer-2-scaling/index.md
Labels: Status: Review Needed, Type: Content

#2381 Modify solidity version to ^0.8.1 [Fixes #2357]
  src/data/SimpleDomainRegistry.sol
  src/data/SimpleToken.sol
  src/data/SimpleWallet.sol
  src/pages/index.js
Labels: Status: Review Needed, Type: Content

#2377 Update index.md - added the word "it" to fix the typo.
  src/content/developers/docs/ethereum-stack/index.md
Labels: Status: Review Needed, Type: Content

#2398 Remove stray quote
  src/intl/en/page-eth2-vision.json
Labels: Status: Review Needed

#2417 Update Loopring link
  src/pages/get-eth.js
Labels: Status: Review Needed, Type: Content

#2415 Sidechain glossary link bug fix
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#2403 Fix broken links [Fixes #2402]
  src/content/community/index.md
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/security/index.md
  src/content/developers/docs/storage/index.md
  src/content/enterprise/index.md
  src/content/learn/index.md
  src/content/translations/ar/learn/index.md
  src/content/translations/bn/learn/index.md
  src/content/translations/cs/learn/index.md
  src/content/translations/de/learn/index.md
  src/content/translations/el/learn/index.md
  src/content/translations/es/learn/index.md
  src/content/translations/fa/learn/index.md
  src/content/translations/fi/learn/index.md
  src/content/translations/fr/learn/index.md
  src/content/translations/hu/learn/index.md
  src/content/translations/id/learn/index.md
  src/content/translations/ig/learn/index.md
  src/content/translations/it/learn/index.md
  src/content/translations/ja/learn/index.md
  src/content/translations/ko/learn/index.md
  src/content/translations/lt/learn/index.md
  src/content/translations/ml/learn/index.md
  src/content/translations/nb/learn/index.md
  src/content/translations/nl/learn/index.md
  src/content/translations/pl/learn/index.md
  src/content/translations/pt-br/learn/index.md
  src/content/translations/pt/learn/index.md
  src/content/translations/ro/learn/index.md
  src/content/translations/ru/learn/index.md
  src/content/translations/se/learn/index.md
  src/content/translations/sk/learn/index.md
  src/content/translations/sl/learn/index.md
  src/content/translations/tr/enterprise/index.md
  src/content/translations/tr/learn/index.md
  src/content/translations/uk/learn/index.md
  src/content/translations/vi/learn/index.md
  src/content/translations/zh-tw/learn/index.md
  src/content/translations/zh/learn/index.md
  src/content/whitepaper/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#2419 Update Aleth.io links to explorer
  src/content/enterprise/index.md
  src/content/translations/ar/enterprise/index.md
  src/content/translations/bn/enterprise/index.md
  src/content/translations/cs/enterprise/index.md
  src/content/translations/de/enterprise/index.md
  src/content/translations/es/enterprise/index.md
  src/content/translations/fi/enterprise/index.md
  src/content/translations/fr/enterprise/index.md
  src/content/translations/hu/enterprise/index.md
  src/content/translations/id/enterprise/index.md
  src/content/translations/it/enterprise/index.md
  src/content/translations/ja/enterprise/index.md
  src/content/translations/ko/enterprise/index.md
  src/content/translations/lt/enterprise/index.md
  src/content/translations/ml/enterprise/index.md
  src/content/translations/nb/enterprise/index.md
  src/content/translations/pt-br/enterprise/index.md
  src/content/translations/ro/enterprise/index.md
  src/content/translations/se/enterprise/index.md
  src/content/translations/sk/enterprise/index.md
  src/content/translations/tr/enterprise/index.md
  src/content/translations/uk/enterprise/index.md
  src/content/translations/vi/enterprise/index.md
  src/content/translations/zh-tw/enterprise/index.md
  src/content/translations/zh/enterprise/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#2418 Community tout link patch [Fixes #2413]
  src/pages/index.js
Labels: Status: Review Needed, Type: Content

#2434 Replaced epirus with web3j
  src/content/developers/docs/frameworks/index.md
Labels: Status: Review Needed, Type: Content

#2430 Adds Aleph.im to decentralized storage docs page [Fixes #2240]
  src/content/developers/docs/storage/index.md
Labels: Status: Review Needed, Type: Content

#2405 Removes crypto.com from Panama listings [Fixes #2351]
  src/data/exchanges-by-country.csv
Labels: Status: Review Needed

#2437 Monitoring Geth dashboard link update
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/gethdashboard.json
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
Labels: Status: Review Needed, Type: Content

#2435 Adds translations guide [#2316]
  src/content/contributing/translation-program/index.md
  src/content/contributing/translation-program/translation-guide/add-glossary-term.png
  src/content/contributing/translation-program/translation-guide/comment-issue.png
  src/content/contributing/translation-program/translation-guide/glossary-definition.png
  src/content/contributing/translation-program/translation-guide/glossary-tab.png
  src/content/contributing/translation-program/translation-guide/html-tag-strings.png
  src/content/contributing/translation-program/translation-guide/index.md
  src/content/contributing/translation-program/translation-guide/source-string-2.png
  src/content/contributing/translation-program/translation-guide/source-string.png
  src/content/contributing/translation-program/translation-guide/translation-memory.png
Labels: Status: Review Needed, Type: Content

#2441 Deploy v2.15.3
  package.json
  src/content/contributing/translation-program/index.md
  src/content/contributing/translation-program/translation-guide/add-glossary-term.png
  src/content/contributing/translation-program/translation-guide/comment-issue.png
  src/content/contributing/translation-program/translation-guide/glossary-definition.png
  src/content/contributing/translation-program/translation-guide/glossary-tab.png
  src/content/contributing/translation-program/translation-guide/html-tag-strings.png
  src/content/contributing/translation-program/translation-guide/index.md
  src/content/contributing/translation-program/translation-guide/source-string-2.png
  src/content/contributing/translation-program/translation-guide/source-string.png
  src/content/contributing/translation-program/translation-guide/translation-memory.png
  src/content/developers/docs/frameworks/index.md
  src/content/developers/docs/storage/index.md
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/gethdashboard.json
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
  src/data/exchanges-by-country.csv
Labels: Status: Review Needed, Type: Content, Type: Dependencies

#2412 fix(Nav): NavContainer width fixed to avoid horizontal scroll #2411
  src/components/Nav/index.js
Labels: Status: Review Needed

#2414 Add Kchannels to list of state channel projects
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/enterprise/index.md
Labels: Status: Review Needed, Type: Content

#2460 Correction of typos
  src/content/developers/docs/web2-vs-web3/index.md
Labels: Status: Review Needed, Type: Content

#2447 Adds GetBlock to nodes-as-a-service list [Fixes #2373]
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: Status: Review Needed, Type: Content

#2448 Lists Unstoppable Wallet [Fixes #2229]
  src/assets/wallets/unstoppable.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#2455 Lists Fortmatic Wallet [Fixes #2423]
  src/assets/wallets/fortmatic.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#2457 Lists Itez exchange [Fixes #2330]
  src/assets/exchanges/itezcom.png
  src/components/EthExchanges.js
  src/data/exchanges-by-country.csv
Labels: Status: Review Needed

#2449 Updates run-light-node-geth tutorial [Fixes #2408]
  src/content/developers/tutorials/run-light-node-geth/index.md
Labels: Status: Review Needed, Type: Content

#2389 Accessibility improvements
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
  src/components/TitleCardList.js
  src/intl/en/common.json
Labels: Status: Review Needed

#2293 Add ethscan.org eth2 explorer with a free public API
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: Status: Question, Status: Review Needed, Type: Content

#2470 Add miners to the Ethereum Community section
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2466 Updated instances of "tree" to "trie" in docs.
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#2439 Content doc for "Data and Analytics" developer section.
  src/content/developers/docs/data-and-analytics/index.md
  src/content/glossary/index.md
  src/data/developer-docs-links.yaml
Labels: Status: Review Needed, Type: Content

#2428 Update index.md
  src/content/developers/docs/programming-languages/delphi/index.md
Labels: Status: Review Needed, Type: Content

#2478 fixes broken link for MGD DAO and adds HausDAO. Couple minor copy edits
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2471 Allows hash linking alongside queryParams [Fixes #2465]
  src/pages-conditional/dapps.js
Labels: Status: Review Needed, Type: Content

#2410 No errors in prod
  src/utils/translations.js
Labels: Status: Review Needed, Type: Translation

#2488 Add Gemini to USA exchanges [Fixes #2487]
  src/data/exchanges-by-country.csv
Labels: Status: Review Needed
