Repository ethereum/ethereum-org-website, pull requests merged in 2021-01, with the labels that each got.

#2174 docs: Remove URL redirections
  README.md
Labels: Type: Documentation

#2171 New wallets
  src/assets/exchanges/crypto.com.png
  src/assets/wallets/dcent.png
  src/assets/wallets/hyperpay.png
  src/assets/wallets/hyperwallet.png
  src/assets/wallets/mathwallet.png
  src/components/EthExchanges.js
  src/components/WalletCompare.js
  src/data/exchanges-by-country.csv
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#2211 Translate dapp descriptions [Fixes #2210]
  src/pages-conditional/dapps.js
Labels: Status: Review Needed, Type: Content

#2176 Use correct word for Turkish (language)
  src/data/translations.json
Labels: Status: Review Needed

#2172 Translation styling adjustments
  src/components/TutorialMetadata.js
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/intl/en/page-about.json
  src/intl/en/page-dapps.json
  src/intl/en/page-developers-index.json
  src/intl/en/page-developers-local-environment.json
  src/intl/en/page-developers-tutorials.json
  src/intl/en/page-eth2-deposit-contract.json
  src/intl/en/page-eth2-get-involved-bug-bounty.json
  src/intl/en/page-eth2-get-involved.json
  src/intl/en/page-eth2-index.json
  src/intl/en/page-eth2-staking.json
  src/intl/en/page-eth2-vision.json
  src/intl/en/page-get-eth.json
  src/intl/en/page-stablecoins.json
  src/pages/get-eth.js
Labels: Status: Review Needed, Type: Content

#2186 Update index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: Status: Review Needed, Type: Content

#2189 update Bob Jiang's website
  README.md
Labels: Type: Documentation

#2191 Update index.md
  src/content/developers/docs/smart-contracts/testing/index.md
Labels: Status: Review Needed, Type: Content

#2192 Fix typos in tutorial
  src/content/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
Labels: Status: Review Needed, Type: Content

#2196 Fix comment for `pizzaToOwner` variable in CryptoPizza example
  src/content/developers/docs/smart-contracts/anatomy/index.md
Labels: Status: Review Needed, Type: Content

#2198 Fix broken link
  src/content/developers/docs/programming-languages/rust/index.md
Labels: Status: Review Needed, Type: Content

#2202 Fix ethresear.ch link
  src/content/eth2/shard-chains/index.md
Labels: Status: Review Needed, Type: Content

#2203 Translation fixes
  src/components/Eth2Diagram.js
  src/components/TutorialMetadata.js
  src/intl/en/page-developers-tutorials.json
  src/intl/en/page-eth2-index.json
  src/pages/developers/tutorials.js
Labels: Status: Review Needed

#2209 Removed submission form and added banner that the wave is over
  src/content/eth2/get-involved/staking-community-grants/index.md
Labels: Status: Review Needed, Type: Content

#2212 docs: fix typo in intro-to-ethereum
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: Status: Review Needed, Type: Content

#2220 Deploy v2.14.3
  .all-contributorsrc
  README.md
  package.json
  src/assets/exchanges/crypto.com.png
  src/assets/wallets/dcent.png
  src/assets/wallets/hyperpay.png
  src/assets/wallets/hyperwallet.png
  src/assets/wallets/mathwallet.png
  src/components/Eth2Diagram.js
  src/components/EthExchanges.js
  src/components/TutorialMetadata.js
  src/components/WalletCompare.js
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/programming-languages/rust/index.md
  src/content/developers/docs/smart-contracts/anatomy/index.md
  src/content/developers/docs/smart-contracts/testing/index.md
  src/content/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
  src/content/eth2/get-involved/staking-community-grants/index.md
  src/content/eth2/shard-chains/index.md
  src/data/exchanges-by-country.csv
  src/data/translations.json
  src/data/wallets.csv
  src/intl/en/page-about.json
  src/intl/en/page-dapps.json
  src/intl/en/page-developers-index.json
  src/intl/en/page-developers-local-environment.json
  src/intl/en/page-developers-tutorials.json
  src/intl/en/page-eth2-deposit-contract.json
  src/intl/en/page-eth2-get-involved-bug-bounty.json
  src/intl/en/page-eth2-get-involved.json
  src/intl/en/page-eth2-index.json
  src/intl/en/page-eth2-staking.json
  src/intl/en/page-eth2-vision.json
  src/intl/en/page-get-eth.json
  src/intl/en/page-stablecoins.json
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/dapps.js
  src/pages-conditional/wallets/index.js
  src/pages/developers/tutorials.js
  src/pages/get-eth.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal

#2236 lowered etherlime due to its outdated nature and bumped up hardhat an…
  src/content/developers/docs/frameworks/index.md
Labels: Status: Review Needed, Type: Content

#2102 Filters query param passed to /find-wallet/ page [Fixes #2087]
  src/components/StablecoinAccordion.js
  src/components/WalletCompare.js
  src/content/developers/docs/smart-contracts/anatomy/index.md
  src/pages/wallets/find-wallet.js
Labels: Status: Review Needed, Type: Content, Type: Documentation

#2130 Fix line wrapping for Internal Links
  src/components/Link.js
Labels: Status: Review Needed

#2246 Fix scaffold-eth typo
  src/intl/en/page-developers-local-environment.json
Labels: Status: Review Needed

#2239 Intro to dapps docs: Fix Turing completeness
  src/content/developers/docs/dapps/index.md
Labels: Status: Review Needed, Type: Content

#2261 Typo
  src/content/developers/docs/standards/tokens/erc-721/index.md
Labels: Status: Review Needed, Type: Content

#2260 Tune configs for Github API
  .env.example
  gatsby-config.js
  netlify.toml
Labels: Type: Internal, Type: Tooling

#2182 Adding page Spin up your own node
  src/content/developers/docs/spin-up-your-node/index.md
Labels: Status: Review Needed, Type: Content

#2183 Update index.md
  src/content/developers/docs/nodes-and-clients/archive-sync.png
  src/content/developers/docs/nodes-and-clients/full-sync.png
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Status: Review Needed, Type: Content

#2221 Update .../docs/data-and-analytics/block-explorers
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: Status: Review Needed, Type: Content

#2188 Refactoring Codeblock component [Issue#2158]
  src/components/Codeblock.js
Labels: Status: Question, Status: Review Needed

#2276 Add Quan (cryptosubtlety) to leaderboard
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed

#2225 Modal overflow issue [Fixes #2224]
  src/components/FileContributors.js
  src/components/Modal.js
  src/pages/developers/tutorials.js
Labels: Status: Review Needed

#2243 Fix layout of ExampleDapp
  src/content/developers/docs/smart-contracts/anatomy/index.md
Labels: Status: Review Needed, Type: Content

#2283 Remove generated intl/{lang}.json files from git
  src/intl/ar.json
  src/intl/bn.json
  src/intl/cs.json
  src/intl/de.json
  src/intl/el.json
  src/intl/es.json
  src/intl/fa.json
  src/intl/fi.json
  src/intl/fr.json
  src/intl/hu.json
  src/intl/id.json
  src/intl/ig.json
  src/intl/it.json
  src/intl/ja.json
  src/intl/ko.json
  src/intl/lt.json
  src/intl/ml.json
  src/intl/nb.json
  src/intl/nl.json
  src/intl/pl.json
  src/intl/pt-br.json
  src/intl/pt.json
  src/intl/ro.json
  src/intl/ru.json
  src/intl/se.json
  src/intl/sk.json
  src/intl/sl.json
  src/intl/tr.json
  src/intl/uk.json
  src/intl/vi.json
  src/intl/zh-tw.json
  src/intl/zh.json
Labels: Status: Review Needed, Type: Translation

#2275 Adds staking banner on mining [fixes #2274]
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: Status: Review Needed, Type: Content

#2268 Fixed invalid DOM nesting [Fixes #2267]
  src/components/ExpandableCard.js
  src/pages/eth2/index.js
Labels: Status: Review Needed

#2272 Adds "run a node" page to developer docs [Fixes #2270]
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/glossary/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: Status: Review Needed, Type: Content

#2266 Fixes isGlossary console warnings [Fixes #2259]
  src/components/Link.js
Labels: Status: Review Needed

#2227 Roadmap card fix [fixes #2195]
  src/components/Roadmap.js
  src/pages/languages.js
Labels: Status: Review Needed, Type: Content

#2228 Updated docs banner copy [Fixes #2205]
  src/intl/en/common.json
Labels: Status: Review Needed

#2226 Adds MarketMake and removes old events [Fixes #2208]
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2285 v2.14.4
  package.json
Labels: Type: Dependencies

#2294 Removed wallets string fragments
  src/intl/en/page-wallets.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#2291 Reword "Ethereum developer network"
  src/content/developers/docs/index.md
Labels: Status: Review Needed, Type: Content

#2297 Increase Quan's bounty hunting score
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed

#2288 Added .env and POAP instructions to readme
  README.md
  src/assets/poap-logo.svg
Labels: Status: Review Needed, Type: Documentation

#2300 Fixes broken scrolling [#2231]
  src/components/DismissibleCard.js
  src/components/Eth2TableOfContents.js
  src/templates/eth2.js
Labels: Status: Review Needed

#2298 Content bug fixes (for translations)
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/programming-languages/java/index.md
  src/content/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/glossary/index.md
  src/intl/en/page-dapps.json
  src/intl/en/page-eth2-index.json
  src/intl/en/page-eth2-vision.json
Labels: Status: Review Needed, Type: Content

#2194 Tutorial proposal called "Create and deploy a DeFi App"
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
Labels: Status: Review Needed, Type: Content

#2305 Defi tutorial fixes
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
Labels: Status: Review Needed, Type: Content

#2241 Adding tutorial on monitoring Geth
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/gethdashboard.json
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/grafana1.png
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/grafana2.png
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/grafana3.png
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/grafana4.png
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/grafana5.png
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/grafana6.png
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/grafana7.png
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/grafana8.png
  src/content/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
Labels: Status: Review Needed, Type: Content

#2242 Add Chainstack & alphabetize list
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: Status: Review Needed, Type: Content

#2273 MyCrypto and Ambo fixes [fixes #2269]
  src/components/EthExchanges.js
  src/data/wallets.csv
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#2287 Added plugins to IDE docs [Fixes #1947]
  src/content/developers/docs/ides/index.md
Labels: Status: Review Needed, Type: Content

#2289 Makes dapp categories linkable with URL
  src/pages-conditional/dapps.js
Labels: Status: Review Needed, Type: Content

#2290 Update index.md
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: Status: Review Needed, Type: Content

#2309 Update stale bot timeline
  .github/workflows/stale.yml
Labels: Type: Tooling

#2313 hackathon: Add EtherPunk hackathon.
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2295 Add batching to Github API requests
  .env.example
  README.md
  gatsby-config.js
  github.json
  package.json
  yarn.lock
Labels: Type: Dependencies, Type: Documentation, Type: Internal

#2310 1 quick translation fix
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: Status: Review Needed, Type: Content

#2311 POAP contributors banner
  src/content/contributing/index.md
  src/templates/static.js
Labels: Status: Review Needed, Type: Content

#2337 Fix grammatical error
  src/content/developers/docs/apis/backend/index.md
Labels: Status: Review Needed, Type: Content

#2341 Removes hsla value
  src/styles/layout.css
Labels: Status: Review Needed

#2340 Eth2 vision bug fix [#2339]
  src/components/ActionCard.js
  src/components/Eth2Articles.js
  src/intl/en/page-eth2-vision.json
  src/pages/eth2/vision.js
Labels: Status: Review Needed
