Repository ethereum/ethereum-org-website, pull requests merged in 2021-03, with the labels that each got.

#2509 Remove non-existent attack vector for ORUs
  src/content/developers/docs/layer-2-scaling/index.md
Labels: Status: Review Needed, Type: Content

#2501 Remove "inspired by Python" in Solidity's description
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: Status: Review Needed, Type: Content

#2508 Update index.md
  src/content/developers/docs/programming-languages/javascript/index.md
Labels: Status: Review Needed, Type: Content

#2382 Systematizes text styles [Fixes #2342]
  src/components/CalloutBanner.js
  src/components/Card.js
  src/components/Eth2Diagram.js
  src/components/EthExchanges.js
  src/components/EthPriceCard.js
  src/components/Footer.js
  src/components/PageHero.js
  src/components/Roadmap.js
  src/components/SharedStyledComponents.js
  src/components/StablecoinAccordion.js
  src/components/Trilemma.js
  src/components/UpgradeStatus.js
  src/components/WalletCard.js
  src/intl/en/page-wallets.json
  src/pages-conditional/dapps.js
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/index.js
  src/pages-conditional/what-is-ethereum.js
  src/pages/developers/index.js
  src/pages/developers/learning-tools.js
  src/pages/developers/local-environment.js
  src/pages/developers/tutorials.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
  src/pages/get-eth.js
  src/pages/index.js
  src/pages/languages.js
  src/pages/stablecoins.js
  src/pages/wallets/find-wallet.js
  src/templates/docs.js
  src/templates/eth2.js
  src/templates/static.js
  src/templates/tutorial.js
  src/theme.js
Labels: Status: Review Needed, Type: Content

#2491 Lists Guarda Wallet [Fixes #2404]
  src/assets/wallets/guarda.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#2496 Spanish v2.0 rollout [Closes #2489]
  gatsby-node.js
  src/components/Layout.js
  src/components/TranslationBanner.js
  src/content/translations/es/dapps/index.md
  src/content/translations/es/eth/index.md
  src/content/translations/es/eth2/beacon-chain/index.md
  src/content/translations/es/eth2/docking/index.md
  src/content/translations/es/eth2/shard-chains/index.md
  src/content/translations/es/wallets/index.md
  src/content/translations/es/what-is-ethereum/index.md
  src/data/translations.json
  src/intl/es/common.json
  src/intl/es/es.json
  src/intl/es/page-assets.json
  src/intl/es/page-dapps.json
  src/intl/es/page-developers-docs.json
  src/intl/es/page-developers-learning-tools.json
  src/intl/es/page-developers-local-environment.json
  src/intl/es/page-developers-tutorials.json
  src/intl/es/page-eth.json
  src/intl/es/page-eth2-deposit-contract.json
  src/intl/es/page-eth2-get-involved-bug-bounty.json
  src/intl/es/page-eth2-get-involved.json
  src/intl/es/page-eth2-index.json
  src/intl/es/page-eth2-staking.json
  src/intl/es/page-eth2-vision.json
  src/intl/es/page-get-eth.json
  src/intl/es/page-languages.json
  src/intl/es/page-stablecoins.json
  src/intl/es/page-wallets-find-wallet.json
  src/intl/es/page-wallets.json
  src/intl/es/page-what-is-ethereum.json
Labels: Status: Review Needed, Type: Content, Type: Internal, Type: Translation

#2500 updated oracle information
  src/content/developers/docs/oracles/index.md
Labels: Status: Review Needed, Type: Content

#2523 fix: isPartiallyActive set to false for NavDropdown & FooterLink
  src/components/Footer.js
  src/components/Nav/Dropdown.js
Labels: Status: Review Needed

#2524 Update index.md
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
Labels: Status: Review Needed, Type: Content

#2525 small grammar fix
  src/content/developers/docs/dapps/index.md
Labels: Status: Review Needed, Type: Content

#2526 backlink to ECDSA
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#2527 add Nick's site
  src/content/developers/docs/smart-contracts/index.md
Labels: Status: Review Needed, Type: Content

#2533 Adds Nimbus to bug-bounty page [Fixes #2480]
  src/assets/eth2/nimbus-cloud.png
  src/pages/eth2/get-involved/bug-bounty.js
Labels: Status: Review Needed

#2535 Deploy v2.16.1
  package.json
Labels: Type: Dependencies

#2522 Add web developer JD
  src/components/Footer.js
  src/content/about/index.md
  src/content/about/web-developer/index.md
  src/templates/job.js
Labels: Status: Review Needed, Type: Content

#2521 added more dStorage information
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/storage/index.md
Labels: Status: Review Needed, Type: Content

#2544 Fix typo and broken markdown link in Byzantium history
  src/content/history/index.md
Labels: Status: Review Needed, Type: Content

#2537 Fixing some remarks about the EVM
  src/content/developers/docs/evm/index.md
Labels: Status: Review Needed, Type: Content

#2538 Use proper capitalisation for Ewasm
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: Status: Review Needed, Type: Content

#2481 Card style updated, created a single shared component [Fixes #2251]
  src/components/Roadmap.js
  src/components/SharedStyledComponents.js
  src/components/TranslationsInProgress.js
  src/pages/languages.js
Labels: Status: Review Needed, Type: Content

#2482 Used lodash for shuffling arrays [Fixes #2407]
  package.json
  src/components/Contributors.js
  src/components/RandomAppList.js
  src/components/WalletCompare.js
  src/data/contributors.json
  src/pages-conditional/wallets/index.js
  src/pages/developers/local-environment.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Translation

#2462 Erc20 Code Walkthrough
  src/content/developers/tutorials/erc20-annotated-code/erc20_interface.png
  src/content/developers/tutorials/erc20-annotated-code/index.md
Labels: Status: Review Needed, Type: Content

#2497 Remove redundant returns [#2477]
  gatsby-browser.js
  src/components/Breadcrumbs.js
  src/components/BugBountyCards.js
  src/components/ButtonDropdown.js
  src/components/ButtonLink.js
  src/components/CallToContribute.js
  src/components/Callout.js
  src/components/CalloutBanner.js
  src/components/Card.js
  src/components/CardList.js
  src/components/CodeModal.js
  src/components/Contributors.js
  src/components/DataProductCard.js
  src/components/DocLink.js
  src/components/Eth2Articles.js
  src/components/Eth2DockingList.js
  src/components/Eth2TableOfContents.js
  src/components/FileContributors.js
  src/components/Footer.js
  src/components/GhostCard.js
  src/components/HorizontalCard.js
  src/components/Icon.js
  src/components/ImageCard.js
  src/components/Leaderboard.js
  src/components/LegacyPageHome.js
  src/components/MarkdownTable.js
  src/components/MeetupList.js
  src/components/Modal.js
  src/components/Nav/Dropdown.js
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
  src/components/ProductCard.js
  src/components/ProductList.js
  src/components/RandomAppList.js
  src/components/Roadmap.js
  src/components/SectionNav.js
  src/components/SideNav.js
  src/components/SimpleTable.js
  src/components/StatsBoxGrid.js
  src/components/TableOfContents.js
  src/components/TitleCardList.js
  src/components/UpgradeStatus.js
  src/components/WalletCard.js
  src/components/WalletCompare.js
  src/pages-conditional/dapps.js
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/index.js
  src/pages-conditional/what-is-ethereum.js
  src/pages/404.js
  src/pages/developers/index.js
  src/pages/developers/learning-tools.js
  src/pages/developers/local-environment.js
  src/pages/developers/tutorials.js
  src/pages/eth2/get-involved/index.js
  src/pages/eth2/index.js
  src/pages/eth2/staking.js
  src/pages/eth2/vision.js
  src/pages/languages.js
  src/pages/stablecoins.js
  src/pages/studio.js
Labels: Status: Review Needed, Type: Content, Type: Internal

#2516 Tutorial for testing a simple smart contract with Waffle
  src/content/developers/tutorials/testing-erc-20-tokens-with-waffle/index.md
  src/content/developers/tutorials/waffle-test-simple-smart-contract/index.md
Labels: Status: Review Needed, Type: Content

#2549 Adds Hindi (v2.0)
  .github/workflows/docsearchConfig.json
  src/content/translations/hi/eth2/beacon-chain/index.md
  src/content/translations/hi/eth2/docking/index.md
  src/content/translations/hi/eth2/shard-chains/index.md
  src/data/translations.json
  src/intl/en/common.json
  src/intl/hi/common.json
  src/intl/hi/page-assets.json
  src/intl/hi/page-dapps.json
  src/intl/hi/page-developers-docs.json
  src/intl/hi/page-developers-index.json
  src/intl/hi/page-developers-learning-tools.json
  src/intl/hi/page-developers-local-environment.json
  src/intl/hi/page-developers-tutorials.json
  src/intl/hi/page-eth.json
  src/intl/hi/page-eth2-deposit-contract.json
  src/intl/hi/page-eth2-get-involved-bug-bounty.json
  src/intl/hi/page-eth2-get-involved.json
  src/intl/hi/page-eth2-index.json
  src/intl/hi/page-eth2-staking.json
  src/intl/hi/page-eth2-vision.json
  src/intl/hi/page-get-eth.json
  src/intl/hi/page-index.json
  src/intl/hi/page-languages.json
  src/intl/hi/page-stablecoins.json
  src/intl/hi/page-wallets-find-wallet.json
  src/intl/hi/page-wallets.json
  src/intl/hi/page-what-is-ethereum.json
Labels: Status: Review Needed, Type: Content, Type: Tooling, Type: Translation

#2550 Adds missing custom headers
  src/content/about/web-developer/index.md
  src/content/contributing/index.md
  src/content/defi/index.md
  src/content/developers/docs/ides/index.md
  src/content/developers/docs/programming-languages/java/index.md
  src/content/developers/docs/smart-contracts/deploying/index.md
  src/content/developers/docs/smart-contracts/index.md
  src/content/developers/docs/storage/index.md
  src/content/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
  src/content/nft/index.md
Labels: Status: Review Needed, Type: Content

#2551 Update Alchemy Discord link [Fixes #2485]
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
Labels: Status: Review Needed, Type: Content

#2552 Update index.md
  src/content/developers/docs/layer-2-scaling/index.md
Labels: Status: Review Needed, Type: Content

#2555 NFT content fix
  src/content/nft/index.md
Labels: Status: Review Needed, Type: Content

#2557 Update index.md
  src/content/developers/docs/smart-contracts/index.md
Labels: Status: Review Needed, Type: Content

#2558 Update index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
Labels: Status: Review Needed, Type: Content

#2564 Add 500 points to Guido Vranken
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed

#2570 Fix dev section mobile display [Fixes #2566]
  src/pages/index.js
Labels: Status: Review Needed, Type: Content

#2562 Update index.md
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Status: Review Needed, Type: Content

#2561 resolve width overflow on mobile [Fixes #2553]
  src/templates/use-cases.js
Labels: Status: Review Needed

#2565 Fix mobile side navigation rendering issue [Fixes #2301]
  src/components/Layout.js
Labels: Status: Review Needed

#2596 Fix Eth2Articles [Fixes #2595]
  src/components/Eth2Articles.js
Labels: Status: Review Needed

#2591 Defi intro typo
  src/content/defi/index.md
Labels: Status: Review Needed, Type: Content

#2598 Typo in Programming Languages section
  src/content/developers/docs/programming-languages/index.md
Labels: Status: Review Needed, Type: Content

#2597 Remove data contributors
  package.json
  src/data/contributors.json
Labels: Status: Review Needed, Type: Dependencies

#2600 Removes Eth2 staking banner [Closes #2569]
  src/components/Layout.js
  src/intl/en/common.json
Labels: Status: Review Needed

#2601 Token standard titles [Fixes #2556]
  src/content/developers/docs/standards/index.md
  src/content/developers/docs/standards/tokens/index.md
  src/intl/en/page-developers-docs.json
Labels: Status: Review Needed, Type: Content

#2607 Fix link in #Further Reading section of L2 scaling
  src/content/developers/docs/layer-2-scaling/index.md
Labels: Status: Review Needed, Type: Content

#2606 Updating broken link for eth2 news
  src/content/learn/index.md
Labels: Status: Review Needed, Type: Content

#2605 Adds Gitcoin grants funding round to community events
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2604 Fixes broken intl tutorial images [#2585]
  src/content/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/ro/developers/docs/accounts/index.md
  src/content/translations/ro/developers/docs/blocks/index.md
  src/content/translations/ro/developers/docs/evm/index.md
  src/content/translations/ro/developers/docs/gas/index.md
  src/content/translations/ro/developers/docs/layer-2-scaling/index.md
  src/content/translations/ro/developers/docs/nodes-and-clients/index.md
  src/content/translations/ro/developers/docs/transactions/index.md
  src/content/translations/ro/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ro/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/ro/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/ro/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/ro/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/ro/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/ro/developers/tutorials/using-websockets/index.md
  src/content/translations/ro/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#2602 codeHash explanation [Closes #2443]
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#2615 Improve general description of rollups
  src/content/developers/docs/layer-2-scaling/index.md
Labels: Status: Review Needed, Type: Content

#2613 fix: typos on "Non-fungible tokens (NFT)" page
  src/content/nft/index.md
Labels: Status: Review Needed, Type: Content

#2611 Fixed some typos, added a tiny bit of content
  src/content/developers/tutorials/erc20-annotated-code/index.md
Labels: Status: Review Needed, Type: Content

#2616 Explain ZK rollups further
  src/content/developers/docs/layer-2-scaling/index.md
Labels: Status: Review Needed, Type: Content

#2619 Fix typo on ERC-721 page
  src/content/developers/docs/standards/tokens/erc-721/index.md
Labels: Status: Review Needed, Type: Content

#2614 Tutorials filter by language [Fixes #2584]
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/developers/tutorials/waffle-test-simple-smart-contract/index.md
  src/content/nft/index.md
  src/intl/en/page-developers-tutorials.json
  src/pages/developers/tutorials.js
  src/utils/time.js
  src/utils/translations.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#2431 Limit Netlify builds to relevant diffs
  netlify.toml
Labels: Status: Question, Type: Tooling

#2581 Use-cases mobile hero image adjustments
  src/templates/use-cases.js
Labels: Status: Review Needed

#2510 feat: "Ethereum grants" page created #2479
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/community/grants/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/oracles/index.md
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/intl/en/common.json
Labels: Status: Review Needed, Type: Content

#2352 Add JSON-RPC API docs [Fixes #2322]
  src/components/TableOfContents.js
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/apis/javascript/index.md
  src/content/developers/docs/apis/json-rpc/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: Status: Review Needed, Type: Content

#2540 Added using unsupported languages
  src/content/developers/docs/programming-languages/index.md
Labels: Status: Blocked, Type: Content

#2627 Deploy v2.19.0
  .all-contributorsrc
  README.md
  netlify.toml
  package.json
  src/components/Footer.js
  src/components/Layout.js
  src/components/Nav/index.js
  src/components/TableOfContents.js
  src/content/community/grants/index.md
  src/content/community/index.md
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/apis/javascript/index.md
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/docs/oracles/index.md
  src/content/developers/docs/programming-languages/index.md
  src/content/developers/docs/standards/index.md
  src/content/developers/docs/standards/tokens/erc-721/index.md
  src/content/developers/docs/standards/tokens/index.md
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/developers/tutorials/waffle-test-simple-smart-contract/index.md
  src/content/learn/index.md
  src/content/nft/index.md
  src/content/translations/ro/developers/docs/accounts/index.md
  src/content/translations/ro/developers/docs/blocks/index.md
  src/content/translations/ro/developers/docs/evm/index.md
  src/content/translations/ro/developers/docs/gas/index.md
  src/content/translations/ro/developers/docs/layer-2-scaling/index.md
  src/content/translations/ro/developers/docs/nodes-and-clients/index.md
  src/content/translations/ro/developers/docs/transactions/index.md
  src/content/translations/ro/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ro/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/ro/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/ro/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/ro/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/ro/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/ro/developers/tutorials/using-websockets/index.md
  src/content/translations/ro/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/common.json
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-tutorials.json
  src/pages/developers/tutorials.js
  src/scripts/merge-translations.js
  src/templates/use-cases.js
  src/utils/time.js
  src/utils/translations.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#2634 Fix typo - [Fixes #2633]
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
Labels: Status: Review Needed, Type: Content

#2638 Update JSON RPC intro
  src/content/developers/docs/apis/json-rpc/index.md
Labels: Status: Review Needed, Type: Content

#2631 Fixed the link to the JSON RPC interface
  src/content/developers/docs/programming-languages/index.md
Labels: Status: Review Needed, Type: Content

#2641 Broken link fix
  src/content/nft/index.md
Labels: Status: Review Needed, Type: Content

#2640 typo in docs, intenal -> internal
  src/content/developers/docs/smart-contracts/anatomy/index.md
Labels: Status: Review Needed, Type: Content

#2661 Fix typo
  src/content/history/index.md
Labels: Status: Review Needed, Type: Content

#2664 Minor typo clean-up in the Accounts doc
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#2656 Updating broken link for eth2 news (intl versions)
  src/content/translations/ar/learn/index.md
  src/content/translations/bn/learn/index.md
  src/content/translations/cs/learn/index.md
  src/content/translations/de/learn/index.md
  src/content/translations/el/learn/index.md
  src/content/translations/es/learn/index.md
  src/content/translations/fa/learn/index.md
  src/content/translations/fi/learn/index.md
  src/content/translations/fr/learn/index.md
  src/content/translations/hu/learn/index.md
  src/content/translations/id/learn/index.md
  src/content/translations/ig/learn/index.md
  src/content/translations/it/learn/index.md
  src/content/translations/ja/learn/index.md
  src/content/translations/ko/learn/index.md
  src/content/translations/lt/learn/index.md
  src/content/translations/ml/learn/index.md
  src/content/translations/nb/learn/index.md
  src/content/translations/nl/learn/index.md
  src/content/translations/pl/learn/index.md
  src/content/translations/pt-br/learn/index.md
  src/content/translations/pt/learn/index.md
  src/content/translations/ro/learn/index.md
  src/content/translations/ru/learn/index.md
  src/content/translations/se/learn/index.md
  src/content/translations/sk/learn/index.md
  src/content/translations/sl/learn/index.md
  src/content/translations/tr/learn/index.md
  src/content/translations/uk/learn/index.md
  src/content/translations/vi/learn/index.md
  src/content/translations/zh-tw/learn/index.md
  src/content/translations/zh/learn/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#2669 [Community Events] Remove NFTHack and add Scaling Ethereum
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2529 fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Labels: Type: Dependencies

#2660 Adds "jobs" intl string
  src/components/Footer.js
  src/intl/en/common.json
Labels: Status: Review Needed

#2649 Added focus state to interactive header buttons
  src/components/NakedButton.js
  src/components/Nav/index.js
Labels: Status: Review Needed

#2655 Changed TPS count from 10 to 15. This is the current average TPS
  src/content/developers/docs/dapps/index.md
Labels: Status: Review Needed, Type: Content

#2678 Fix broken links on the learn page
  src/content/learn/index.md
Labels: Status: Review Needed, Type: Content

#2679 Prevents infinite calls to CoinGecko API [Fixes #2676]
  src/pages/stablecoins.js
Labels: Status: Review Needed, Type: Content

#2683 Adds Coinomi and Linen wallets [Closes #2539, Closes #2459]
  src/assets/wallets/coinomi.png
  src/assets/wallets/linen.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#2685 Deploy v2.20.0
  package.json
Labels: Type: Dependencies

#2645 add css rule to Aside component to address vertical height bug #2583…
  src/components/Eth2TableOfContents.js
Labels: Status: Review Needed

#2706 Lowercase directory name
  src/content/developers/tutorials/waffle-hello-world-with-buidler-tutorial/index.md
Labels: Status: Review Needed, Type: Content

#2688 Update suggest_wallet.md
  .github/ISSUE_TEMPLATE/suggest_wallet.md
Labels: Type: Tooling

#2690 Small Grammar Fix
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: Status: Review Needed, Type: Content

#2693 Update deploying-your-first-smart-contract tutorial
  src/content/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/developers/tutorials/deploying-your-first-smart-contract/remix.png
Labels: Status: Review Needed, Type: Content

#2700 fix: storage doc - grammar
  src/content/developers/docs/storage/index.md
Labels: Status: Review Needed, Type: Content

#2717 Updated out of date content (profile url)
  .all-contributorsrc
Labels: Type: Internal

#2698 Add visual demo to Accounts section
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#2720 Removes Authereum wallet [Fixes #2714]
  src/assets/wallets/authereum.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/intl/es/page-wallets-find-wallet.json
  src/intl/hi/page-wallets-find-wallet.json
  src/intl/ro/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#2675 improve keyboard accessibility (a11y)
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
Labels: Status: Review Needed

#2729 Update a link
  src/content/developers/docs/programming-languages/rust/index.md
Labels: Status: Review Needed, Type: Content

#2728 InfoBanner / DocLink bug fix [Fixes #2718]
  src/components/DocLink.js
  src/components/InfoBanner.js
Labels: Status: Review Needed

#2724 Update filepath for SafeERC20.sol in tutorial
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
Labels: Status: Review Needed, Type: Content

#2742 Update index.md - Block explorer link to the current page
  src/content/developers/docs/data-and-analytics/index.md
Labels: Status: Review Needed, Type: Content

#2740 fixed link to safemath.sol
  src/content/developers/tutorials/erc20-annotated-code/index.md
Labels: Status: Review Needed, Type: Content

#2745 Add "Enter Ethereum" support callouts
  src/components/ButtonDropdown.js
  src/components/FeedbackCard.js
  src/components/Help.js
  src/components/Icon.js
  src/components/Nav/Dropdown.js
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
  src/components/SharedStyledComponents.js
  src/components/WalletCompare.js
  src/content/community/index.md
  src/intl/en/common.json
  src/intl/en/page-what-is-ethereum.json
  src/pages-conditional/dapps.js
  src/pages/eth2/deposit-contract.js
  src/templates/docs.js
  src/templates/static.js
  src/theme.js
Labels: Status: Review Needed, Type: Content

#2747 Update README with POAP updates [skip ci]
  README.md
Labels: Type: Documentation

#2750 Update community/index.md [skip ci]
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2752 Update README.md
  .all-contributorsrc
  README.md
Labels: Type: Documentation, Type: Internal

#2741 Fixing error in the re-entrancy section
  src/content/developers/docs/security/index.md
Labels: Status: Review Needed, Type: Content

#2756 Update ether-state-transition.png [Fixes #2691]
  src/content/whitepaper/ether-state-transition.png
Labels: Status: Review Needed, Type: Content

#2695 Grants updates
  src/content/community/grants/index.md
  src/content/community/index.md
  src/templates/docs.js
  src/templates/eth2.js
  src/templates/job.js
  src/templates/static.js
  src/templates/tutorial.js
  src/templates/use-cases.js
Labels: Status: Review Needed, Type: Content

#2761 Add JetBrains to IDEs [Fixes #2743]
  src/content/developers/docs/ides/index.md
Labels: Status: Review Needed, Type: Content

#2749 Add reference to Eth2 Launchpad translation program
  src/content/contributing/translation-program/index.md
Labels: Status: Review Needed, Type: Content
