Repository ethereum/ethereum-org-website, pull requests merged in 2021-05, with the labels that each got.

#2960 Remove Duplicated Index Coop Description Text [Fixes #2959]
  src/intl/en/page-dapps.json
Labels: Status: Review Needed

#2957 doc: updating the gas limit to April 2021
  src/content/developers/docs/blocks/index.md
Labels: Status: Review Needed, Type: Content

#2973 Checks for "undefined" lastCommit
  src/components/FileContributors.js
Labels: Status: Review Needed

#2941 change capitalization and phrasing of some sentences on wallet page
  src/intl/en/page-wallets.json
Labels: Status: Review Needed

#2966 Switches banner to "flex" [Fixes #2940]
  src/components/BannerNotification.js
Labels: Status: Review Needed

#2972 Added missing full stop
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: Status: Review Needed, Type: Content

#2979 Added margin between FeedbackCard and BackToTop sections. [Fixes #2974]
  src/components/FeedbackCard.js
Labels: Status: Review Needed

#2970 [Smart contract lang page] Updating Solidity section and adding Fe section
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: Status: Review Needed, Type: Content

#3004 Fix typo in merge/index.md
  src/content/eth2/merge/index.md
Labels: Status: Review Needed, Type: Content

#3014 Adds Rotki portfolio tracker dapp [Closes #2711]
  src/assets/dapps/rotki.png
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.js
Labels: Status: Review Needed, Type: Content

#2775 Create send-token-etherjs.md
  src/content/developers/tutorials/send-token-etherjs/index.md
  src/content/developers/tutorials/send-token-etherjs/successful-transaction.png
Labels: Status: Review Needed, Type: Content

#3011 Add forks to history title
  src/content/history/index.md
Labels: Status: Review Needed, Type: Content

#3018 Deploy v2.27.0
  .all-contributorsrc
  README.md
  netlify.toml
  package.json
  src/assets/dapps/rotki.png
  src/components/FeedbackCard.js
  src/components/WalletCard.js
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/consensus-mechanisms/index.md
  src/content/developers/docs/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/scaling/index.md
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/content/developers/docs/scaling/layer-2-rollups/optimistic-rollups.png
  src/content/developers/docs/scaling/plasma/index.md
  src/content/developers/docs/scaling/sidechains/index.md
  src/content/developers/docs/scaling/state-channels/index.md
  src/content/developers/docs/scaling/validium/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
  src/content/developers/tutorials/send-token-etherjs/index.md
  src/content/developers/tutorials/send-token-etherjs/successful-transaction.png
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/enterprise/index.md
  src/content/eth2/merge/index.md
  src/content/eth2/shard-chains/index.md
  src/content/glossary/index.md
  src/content/history/index.md
  src/content/learn/index.md
  src/content/nft/index.md
  src/content/translations/lt/learn/index.md
  src/content/translations/pt-br/learn/index.md
  src/content/translations/pt/learn/index.md
  src/content/translations/ro/developers/docs/layer-2-scaling/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-dapps.json
  src/intl/en/page-developers-docs.json
  src/intl/en/page-index.json
  src/pages-conditional/dapps.js
  src/pages/developers/index.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#3034 Typo Fix: Developer Docs under Proof-of-work economics
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: Status: Review Needed, Type: Content

#3038 Add Eth R&D Discord
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#3032 Fix dev doc links [Fixes #3031]
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/scaling/index.md
  src/content/translations/ro/developers/docs/apis/backend/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3029 Adding to Scaling page Further Readings
  src/content/developers/docs/scaling/index.md
Labels: Status: Review Needed, Type: Content

#3019 Adds nimbus to client list string [Fixes #2943]
  src/intl/en/page-eth2-get-involved-bug-bounty.json
Labels: Status: Review Needed

#3046 Remove web developer role
  netlify.toml
  src/content/about/index.md
  src/content/about/web-developer/index.md
Labels: Status: Review Needed, Type: Content, Type: Tooling

#3048 Adds Community & Ecosystem Lead job description
  src/content/about/community-lead/index.md
  src/content/about/index.md
Labels: Status: Review Needed, Type: Content

#2903 Adds content to Gas developer docs
  src/content/developers/docs/gas/index.md
Labels: Status: Review Needed, Type: Content

#2997 Add zkTube to layer 2 solutions
  src/content/developers/docs/scaling/layer-2-rollups/index.md
Labels: Status: Question, Status: Review Needed, Type: Content

#3052 Deploy v.2.28.0
  .all-contributorsrc
  README.md
  netlify.toml
  package.json
  src/content/about/community-lead/index.md
  src/content/about/index.md
  src/content/about/web-developer/index.md
  src/content/community/index.md
  src/content/defi/index.md
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/scaling/index.md
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/content/glossary/index.md
  src/content/learn/index.md
  src/content/translations/ro/developers/docs/apis/backend/index.md
  src/intl/en/page-eth2-get-involved-bug-bounty.json
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#3074 stablecoins: set the correct URLs for all DEXs
  src/components/StablecoinAccordion.js
Labels: Status: Review Needed

#3077 Update community lead job description
  src/content/about/community-lead/index.md
Labels: Status: Review Needed, Type: Content

#3082 Deploy v2.28.1
  .all-contributorsrc
  README.md
  package.json
  src/components/StablecoinAccordion.js
  src/content/about/community-lead/index.md
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal

#3084 Simple misspelling
  src/content/developers/docs/smart-contracts/anatomy/index.md
Labels: Status: Review Needed, Type: Content

#3041 add hevm to list of EVM implementations
  src/content/developers/docs/evm/index.md
Labels: Status: Review Needed, Type: Content

#3055 Update to add OMGX
  src/content/developers/docs/scaling/layer-2-rollups/index.md
Labels: Status: Review Needed, Type: Content

#3068 Added example of Gas Fees
  src/content/developers/docs/gas/index.md
Labels: Status: Review Needed, Type: Content

#3071 Update index.md
  src/content/developers/docs/scaling/layer-2-rollups/index.md
Labels: Status: Review Needed, Type: Content

#3042 Added a search input to the languages page
  src/intl/en/page-languages.json
  src/pages/languages.js
Labels: Status: Review Needed, Type: Content

#3086 Fix ethers documentation links
  src/content/developers/docs/apis/javascript/index.md
  src/content/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/translations/ar/javascript/index.md
  src/content/translations/bn/javascript/index.md
  src/content/translations/cs/javascript/index.md
  src/content/translations/de/javascript/index.md
  src/content/translations/es/javascript/index.md
  src/content/translations/fi/javascript/index.md
  src/content/translations/fr/javascript/index.md
  src/content/translations/hu/javascript/index.md
  src/content/translations/id/javascript/index.md
  src/content/translations/it/javascript/index.md
  src/content/translations/ja/javascript/index.md
  src/content/translations/ko/javascript/index.md
  src/content/translations/lt/javascript/index.md
  src/content/translations/ml/javascript/index.md
  src/content/translations/nb/javascript/index.md
  src/content/translations/pt-br/javascript/index.md
  src/content/translations/ro/developers/docs/apis/javascript/index.md
  src/content/translations/ro/javascript/index.md
  src/content/translations/se/javascript/index.md
  src/content/translations/sk/javascript/index.md
  src/content/translations/tr/javascript/index.md
  src/content/translations/uk/javascript/index.md
  src/content/translations/vi/javascript/index.md
  src/content/translations/zh-tw/javascript/index.md
  src/content/translations/zh/javascript/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3087 Fix markup in gas/index.md
  src/content/developers/docs/gas/index.md
Labels: Status: Review Needed, Type: Content

#3089 Update index.md
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: Status: Review Needed, Type: Content

#3099 Stop refresh on 'Enter' key press while searching
  src/components/Search/Input.js
Labels: Status: Review Needed

#3100 Fix Spelling Mistake
  src/content/translations/es/python/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3103 Deploy v2.29.0
  .all-contributorsrc
  .github/ISSUE_TEMPLATE/suggest_wallet.md
  README.md
  package.json
  src/components/Search/Input.js
  src/content/defi/index.md
  src/content/developers/docs/apis/javascript/index.md
  src/content/developers/docs/evm/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/content/developers/docs/smart-contracts/anatomy/index.md
  src/content/developers/docs/standards/tokens/index.md
  src/content/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/translations/ar/javascript/index.md
  src/content/translations/bn/javascript/index.md
  src/content/translations/cs/javascript/index.md
  src/content/translations/de/javascript/index.md
  src/content/translations/es/javascript/index.md
  src/content/translations/es/python/index.md
  src/content/translations/fi/javascript/index.md
  src/content/translations/fr/javascript/index.md
  src/content/translations/hu/javascript/index.md
  src/content/translations/id/javascript/index.md
  src/content/translations/it/javascript/index.md
  src/content/translations/ja/javascript/index.md
  src/content/translations/ko/javascript/index.md
  src/content/translations/lt/javascript/index.md
  src/content/translations/ml/javascript/index.md
  src/content/translations/nb/javascript/index.md
  src/content/translations/pt-br/javascript/index.md
  src/content/translations/ro/developers/docs/apis/javascript/index.md
  src/content/translations/ro/javascript/index.md
  src/content/translations/se/javascript/index.md
  src/content/translations/sk/javascript/index.md
  src/content/translations/tr/javascript/index.md
  src/content/translations/uk/javascript/index.md
  src/content/translations/vi/javascript/index.md
  src/content/translations/zh-tw/javascript/index.md
  src/content/translations/zh/javascript/index.md
  src/intl/en/page-languages.json
  src/pages/languages.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#3109 Fix possible grammatical mistake
  src/content/developers/docs/scaling/index.md
Labels: Status: Review Needed, Type: Content

#3108 Update public key to Ethereum address explanation
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Content

#3114 fixing json for all-contributors
  .all-contributorsrc
Labels: Type: Internal

#3111 Add Link to developer learning tools to pull request
  src/content/learn/index.md
Labels: Status: Review Needed, Type: Content

#3107 Name fix for the example
  src/content/developers/docs/gas/index.md
Labels: Status: Review Needed, Type: Content

#3106 DOC: Fix camelCase (or capitalization)
  src/content/translations/ml/javascript/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3105 Fix typo
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: Status: Review Needed, Type: Content

#3098 Adds ethereum.org discord to community section [Closes #3083]
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#3129 Update community role
  src/content/about/community-lead/index.md
Labels: Status: Review Needed, Type: Content

#3131 Typo corrections
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/scaling/index.md
Labels: Status: Review Needed, Type: Content

#3130 Deploy v2.29.1
  .all-contributorsrc
  README.md
  package.json
  src/content/about/community-lead/index.md
  src/content/community/index.md
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/scaling/index.md
  src/content/learn/index.md
  src/content/translations/ml/javascript/index.md
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Translation

#3136 Removes use of "sidechain" for rollups
  src/content/developers/docs/scaling/layer-2-rollups/index.md
Labels: Status: Review Needed, Type: Content

#3138 fixing 51% attack paragraph
  src/intl/en/page-eth2-staking.json
Labels: Status: Review Needed

#3141 Update community lead JD for compensation range, requesting cover letter in application
  src/content/about/community-lead/index.md
Labels: Status: Review Needed, Type: Content

#3142 Deploy v2.29.2
  package.json
  src/content/about/community-lead/index.md
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/intl/en/page-eth2-staking.json
Labels: Status: Review Needed, Type: Content, Type: Dependencies

#3154 ESP link description patch
  src/content/community/grants/index.md
Labels: Status: Review Needed, Type: Content
