Repository ethereum/ethereum-org-website, pull requests merged in 2021-09, with the labels that each got.

#3779 Remove RimbleUI from dapp tools section [Fixes #3734]
  src/content/developers/docs/dapps/index.md
  src/content/translations/es/developers/docs/dapps/index.md
  src/content/translations/fr/developers/docs/dapps/index.md
  src/content/translations/hu/developers/docs/dapps/index.md
  src/content/translations/it/developers/docs/dapps/index.md
  src/content/translations/pl/developers/docs/dapps/index.md
  src/content/translations/ro/developers/docs/dapps/index.md
  src/content/translations/zh/developers/docs/dapps/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#3777 Align energy calculations with Carl´s article [Fixes #3072]
  src/content/nft/index.md
Labels: Type: Content, Status: Review Needed

#3776 Fix crosslink typo in glossary [Fixes #3375]
  src/content/glossary/index.md
Labels: Type: Content, Status: Review Needed

#3630 adding tutorials from external sources
  src/data/tutorials.json
  src/intl/en/page-developers-tutorials.json
  src/pages/developers/tutorials.js
Labels: Status: Review Needed

#3789 Update language names
  src/data/translations.json
Labels: Status: Review Needed

#3795 Added dapp-tool resources - scaffold-eth, create-eth-app [Fixes #3782]
  src/content/developers/docs/dapps/index.md
Labels: Type: Content, Status: Review Needed

#3801 Add Translation Program section to the readme
  README.md
Labels: Type: Content, Type: Documentation

#3802 Remove animated wave gif in README
  README.md
Labels: Type: Documentation

#3798 Rearrange order of gas page links
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3803 Fix grammar and typos in NFT tutorial
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: Type: Content, Status: Review Needed

#3730 Add transaction types to transactions page
  src/content/developers/docs/transactions/index.md
Labels: Type: Content, Status: Review Needed

#3813 Fix typo on blocks developer doc
  src/content/developers/docs/blocks/index.md
Labels: Type: Content, Status: Review Needed

#3811 Grammar fix
  src/content/developers/docs/intro-to-ether/index.md
Labels: Type: Content, Status: Review Needed

#3435 Reword Agility section for clarity in Ethereum Philosophy (WP) [Fixes #3397]
  src/content/whitepaper/index.md
Labels: Status: Question, Type: Content, Status: Review Needed, Status: Blocked

#3763 Update BTC block reward value in WP
  src/content/whitepaper/index.md
Labels: Type: Content, Status: Review Needed, Status: Blocked

#3817 Correction to externally-owned accounts section in developer docs
  src/content/developers/docs/accounts/index.md
Labels: Type: Content, Status: Review Needed

#3810 fix: broken links in NFT minting tutorial
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
Labels: Type: Content, Status: Review Needed

#3809 Add date of London upgrade to Gas and Fees page
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3827 Reword section of contributing readme
  src/content/contributing/index.md
Labels: Type: Content, Status: Review Needed

#3833 Fix typo on gas page
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3837 Fix incorrect translation ID in intro to ether developer doc [Fixes #3826]
  src/pages/developers/index.js
Labels: Status: Review Needed

#3710 Add Coin98 and Opera browser wallets
  src/assets/wallets/coin98.png
  src/assets/wallets/opera.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#3711 Update wallet issue template
  .github/ISSUE_TEMPLATE/suggest_wallet.md
Labels: Type: Tooling

#3772 Remove fullstops from link list on NFT page
  src/content/nft/index.md
Labels: Type: Content, Status: Review Needed

#3781 Remove the word 'dapp' from intro to ether description
  src/content/developers/docs/intro-to-ether/index.md
Labels: Type: Content, Status: Review Needed

#3793 Update tutorial submission template
  .github/ISSUE_TEMPLATE/suggest_tutorial.md
Labels: Type: Tooling

#3820 Fix Emoji on design-principles page
  src/content/contributing/design-principles/index.md
Labels: Type: Content, Status: Review Needed

#3821 Fix emoji rendering on history page for es, ro, hu and zh
  src/content/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/translations/es/history/index.md
  src/content/translations/fr/history/index.md
  src/content/translations/hu/history/index.md
  src/content/translations/it/history/index.md
  src/content/translations/ro/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/translations/ro/history/index.md
  src/content/translations/zh/history/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#3828 Add BlockNative's chrome extension to gas page
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3829 Remove DC blockchain developers meetup
  src/components/MeetupList.js
Labels: Status: Review Needed

#3831 Add GitHub action to label unmerged PRs
  .github/workflows/on-pr-close.yml
Labels: Type: Tooling

#3832 Update ETH2 dates for some translated pages
  src/content/translations/bg/eth2/merge/index.md
  src/content/translations/bg/eth2/shard-chains/index.md
  src/content/translations/ca/eth2/merge/index.md
  src/content/translations/ca/eth2/shard-chains/index.md
  src/content/translations/de/eth2/merge/index.md
  src/content/translations/de/eth2/shard-chains/index.md
  src/content/translations/el/eth2/merge/index.md
  src/content/translations/el/eth2/shard-chains/index.md
  src/content/translations/es/eth2/merge/index.md
  src/content/translations/es/eth2/shard-chains/index.md
  src/content/translations/fr/eth2/merge/index.md
  src/content/translations/fr/eth2/shard-chains/index.md
  src/content/translations/hi/eth2/merge/index.md
  src/content/translations/hi/eth2/shard-chains/index.md
  src/content/translations/hr/eth2/merge/index.md
  src/content/translations/hr/eth2/shard-chains/index.md
  src/content/translations/hu/eth2/merge/index.md
  src/content/translations/hu/eth2/shard-chains/index.md
  src/content/translations/it/eth2/merge/index.md
  src/content/translations/it/eth2/shard-chains/index.md
  src/content/translations/ja/eth2/merge/index.md
  src/content/translations/ja/eth2/shard-chains/index.md
  src/content/translations/ml/eth2/merge/index.md
  src/content/translations/ml/eth2/shard-chains/index.md
  src/content/translations/pl/eth2/merge/index.md
  src/content/translations/pl/eth2/shard-chains/index.md
  src/content/translations/ro/eth2/merge/index.md
  src/content/translations/ro/eth2/shard-chains/index.md
  src/content/translations/ru/eth2/merge/index.md
  src/content/translations/ru/eth2/shard-chains/index.md
  src/content/translations/sl/eth2/merge/index.md
  src/content/translations/sl/eth2/shard-chains/index.md
  src/content/translations/tr/eth2/merge/index.md
  src/content/translations/tr/eth2/shard-chains/index.md
  src/content/translations/uk/eth2/merge/index.md
  src/content/translations/uk/eth2/shard-chains/index.md
  src/content/translations/zh/eth2/merge/index.md
  src/content/translations/zh/eth2/shard-chains/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#3834 Adds calculating fees section on Gas Page to explain wallet UX changes
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3771 Fix consensus-mechanisms link on history page
  src/content/glossary/index.md
  src/content/history/index.md
  src/content/translations/es/glossary/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/fr/history/index.md
  src/content/translations/hu/glossary/index.md
  src/content/translations/hu/history/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/pl/glossary/index.md
  src/content/translations/pl/history/index.md
  src/content/translations/zh/glossary/index.md
  src/content/translations/zh/history/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#3841 Fix typo in Part 1 of NFT tutorial series
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/es/glossary/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#3808 Add external tutorials data and refactor tutorials
  src/data/tutorials.json
  src/pages/developers/tutorials.js
Labels: Status: Review Needed

#3844 Update "use-case" page redirects
  netlify.toml
Labels: Type: Tooling

#3704 Add "MEV" page to developer docs [Resolves #3610]
  src/content/developers/docs/index.md
  src/content/developers/docs/mev/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-index.json
  src/pages/developers/index.js
Labels: Type: Content, Status: Review Needed, Changes Requested

#3849 Fixed Documentation Punctuation
  README.md
Labels: Type: Documentation

#3853 Update eth2-bounty-hunters.csv (+1,500 points to Guido)
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed

#3865 Rename Eth2 Launchpad on Translation Program page
  src/content/contributing/translation-program/index.md
Labels: Type: Content, Status: Review Needed

#3769 Add Ethereum Governance learn page [Closes #3640]
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/governance/index.md
  src/intl/en/common.json
Labels: Type: Content, Status: Review Needed

#3861 Fix punctuation in README
  README.md
Labels: Type: Documentation

#3857 Remove duplicate link in 'node' glossary definition. [Fixes #3846]
  src/content/glossary/index.md
Labels: Type: Content, Status: Review Needed

#3858 Fixed grammatical error in tutorial issue template
  .github/ISSUE_TEMPLATE/suggest_tutorial.md
Labels: Type: Tooling

#3822 Filter Spam/Abandoned issues from Implemented section of the Roadmap on About page
  src/components/Roadmap.js
Labels: Status: Review Needed

#3859 Update eth2-bounty-hunters.csv (+100 points to Jim McDonald)
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed

#3876 Fix broken signup link on NFT tutorial
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
Labels: Type: Content, Status: Review Needed

#3875 Fix all-contributors badge to autoupdate
  .all-contributorsrc
  README.md
Labels: Type: Internal, Type: Documentation

#3869 fix: ZK-rollups link on validium page
  src/content/developers/docs/scaling/validium/index.md
Labels: Type: Content, Status: Review Needed

#3879 Update CrowdInLink on README badge
  README.md
Labels: Type: Documentation

#3884 Fix typo in state channels developer doc
  src/content/developers/docs/scaling/state-channels/index.md
Labels: Type: Content, Status: Review Needed

#3888 Fix grammatical error in ERC-721 documentation
  src/content/developers/docs/standards/tokens/erc-721/index.md
Labels: Type: Content, Status: Review Needed

#3887 Add “What is a DAO?” to articles on DAO page
  src/content/dao/index.md
Labels: Type: Content, Status: Review Needed

#3874 Fix Governance page error
  src/content/governance/index.md
Labels: Type: Content, Status: Review Needed

#3894 Updated solidity version in smart contract developer docs
  src/content/developers/docs/smart-contracts/index.md
Labels: Type: Content, Status: Review Needed

#3885 Add info on sync modes to nodes-and-clients docs
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Type: Content, Status: Review Needed, Changes Requested

#3653 Fix inconsistencies on proof-of-work page
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: Type: Content, Status: Review Needed

#3812 Add API to Glossary
  src/content/glossary/index.md
Labels: Type: Content, Status: Review Needed, Status: Proposal

#3901 fix: change absolute path to relative in governance
  src/content/governance/index.md
Labels: Type: Content, Status: Review Needed

#3899 Adding _buildspace to developer learning tools
  src/assets/dev-tools/buildspace.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.js
Labels: Status: Review Needed

#3684 Add contribution style guide
  src/content/about/index.md
  src/content/contributing/index.md
  src/content/contributing/style-guide/index.md
Labels: Type: Content, Status: Review Needed

#3797 Translation Versions page
  src/content/contributing/translation-program/content-versions/index.md
  src/content/contributing/translation-program/index.md
Labels: Type: Content, Status: Review Needed

#3737 add component for developer docs readme page
  src/components/DeveloperDocsLinks.js
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/templates/docs.js
Labels: Type: Content, Status: Review Needed

#3862 Add URL to Uniswap v3 contracts to smart contracts
  src/content/developers/docs/smart-contracts/composability/index.md
Labels: Type: Content, Status: Review Needed

#3906 Deploy v2.40.0
  .all-contributorsrc
  README.md
  package.json
  src/assets/dev-tools/buildspace.png
  src/components/DeveloperDocsLinks.js
  src/content/about/index.md
  src/content/contributing/index.md
  src/content/contributing/style-guide/index.md
  src/content/contributing/translation-program/content-versions/index.md
  src/content/contributing/translation-program/index.md
  src/content/dao/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/scaling/state-channels/index.md
  src/content/developers/docs/scaling/validium/index.md
  src/content/developers/docs/smart-contracts/composability/index.md
  src/content/developers/docs/smart-contracts/index.md
  src/content/developers/docs/standards/tokens/erc-721/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/glossary/index.md
  src/content/governance/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.js
  src/templates/docs.js
Labels: Type: Content, Status: Review Needed, Type: Dependencies, Type: Internal, Type: Documentation

#3703 Add ERC-777 developer docs
  src/content/developers/docs/standards/index.md
  src/content/developers/docs/standards/tokens/erc-777/index.md
  src/content/developers/docs/standards/tokens/index.md
  src/data/developer-docs-links.yaml
  src/intl/bg/page-developers-docs.json
  src/intl/ca/page-developers-docs.json
  src/intl/de/page-developers-docs.json
  src/intl/el/page-developers-docs.json
  src/intl/en/page-developers-docs.json
  src/intl/es/page-developers-docs.json
  src/intl/fr/page-developers-docs.json
  src/intl/hi/page-developers-docs.json
  src/intl/hr/page-developers-docs.json
  src/intl/hu/page-developers-docs.json
  src/intl/it/page-developers-docs.json
  src/intl/ja/page-developers-docs.json
  src/intl/ml/page-developers-docs.json
  src/intl/pl/page-developers-docs.json
  src/intl/ro/page-developers-docs.json
  src/intl/ru/page-developers-docs.json
  src/intl/sl/page-developers-docs.json
  src/intl/tr/page-developers-docs.json
  src/intl/uk/page-developers-docs.json
  src/intl/zh/page-developers-docs.json
Labels: Type: Content, Status: Review Needed

#3836 feat: 'Typed Transaction Envelope' added to transaction page
  src/content/developers/docs/transactions/index.md
Labels: Type: Content, Status: Review Needed

#3267 Explain block confirmations on transactions page
  src/content/developers/docs/transactions/index.md
Labels: Type: Content, Status: Review Needed, Changes Requested

#3910 Remove accidental contribution attributions
  .all-contributorsrc
Labels: Type: Internal

#3911 Consolidate definition of governance
  src/content/governance/index.md
Labels: Type: Content, Status: Review Needed

#3914 fix: web3 usage typo
  src/content/translations/zh/developers/docs/apis/javascript/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#3912 Fix typo in nodes-and-clients doc
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Type: Content, Status: Review Needed

#3913 Fix docs h4 anchor covered by navbar [Fixes #3892]
  src/templates/docs.js
Labels: Status: Review Needed

#3870 feat: add "data availiability" con to Validium page
  src/content/developers/docs/scaling/validium/index.md
Labels: Type: Content, Status: Review Needed

#3925 fix typo of raspberry pi 4 node tutorial [Fixes #3924]
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: Type: Content, Status: Review Needed

#3934 Fix typo in DAO docs
  src/content/dao/index.md
Labels: Type: Content, Status: Review Needed

#3938 Fix typo on Ethereum.org Style Guide
  src/content/contributing/style-guide/index.md
Labels: Type: Content, Status: Review Needed

#3953 Fix broken link to layer-2 rollups page
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: Type: Content, Status: Review Needed

#3952 improve example gas calculation in transactions topic
  src/content/developers/docs/transactions/index.md
Labels: Type: Content, Status: Review Needed

#3946 Consistent Formatting/Added DAO [Fixes #3932]
  src/content/community/index.md
Labels: Type: Content, Status: Review Needed

#3945 Add “What is Proof of Work” video
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: Type: Content, Status: Review Needed

#3961 Deploy v2.41.0
  .all-contributorsrc
  README.md
  package.json
  src/content/community/index.md
  src/content/contributing/style-guide/index.md
  src/content/dao/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/scaling/validium/index.md
  src/content/developers/docs/standards/index.md
  src/content/developers/docs/standards/tokens/erc-777/index.md
  src/content/developers/docs/standards/tokens/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/governance/index.md
  src/content/translations/zh/developers/docs/apis/javascript/index.md
  src/data/developer-docs-links.yaml
  src/intl/bg/page-developers-docs.json
  src/intl/ca/page-developers-docs.json
  src/intl/de/page-developers-docs.json
  src/intl/el/page-developers-docs.json
  src/intl/en/page-developers-docs.json
  src/intl/es/page-developers-docs.json
  src/intl/fr/page-developers-docs.json
  src/intl/hi/page-developers-docs.json
  src/intl/hr/page-developers-docs.json
  src/intl/hu/page-developers-docs.json
  src/intl/it/page-developers-docs.json
  src/intl/ja/page-developers-docs.json
  src/intl/ml/page-developers-docs.json
  src/intl/pl/page-developers-docs.json
  src/intl/ro/page-developers-docs.json
  src/intl/ru/page-developers-docs.json
  src/intl/sl/page-developers-docs.json
  src/intl/tr/page-developers-docs.json
  src/intl/uk/page-developers-docs.json
  src/intl/zh/page-developers-docs.json
  src/pages/eth2/get-involved/index.js
  src/templates/docs.js
Labels: Type: Content, Type: Translation, Status: Review Needed, Type: Dependencies, Type: Internal, Type: Documentation

#3962 Fix grammar/typo on ERC-777 page
  src/content/developers/docs/standards/tokens/erc-777/index.md
Labels: Type: Content, Status: Review Needed

#3933 ChainShot 'Learn by coding' description change + remove translations
  src/intl/ar/ar.json
  src/intl/bg/page-developers-learning-tools.json
  src/intl/bn/bn.json
  src/intl/ca/page-developers-learning-tools.json
  src/intl/cs/cs.json
  src/intl/de/page-developers-learning-tools.json
  src/intl/el/page-developers-learning-tools.json
  src/intl/en/page-developers-learning-tools.json
  src/intl/es/page-developers-learning-tools.json
  src/intl/fi/fi.json
  src/intl/fr/page-developers-learning-tools.json
  src/intl/hi/page-developers-learning-tools.json
  src/intl/hr/page-developers-learning-tools.json
  src/intl/hu/page-developers-learning-tools.json
  src/intl/id/id.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/ko/ko.json
  src/intl/lt/lt.json
  src/intl/ml/page-developers-learning-tools.json
  src/intl/nb/nb.json
  src/intl/pl/page-developers-learning-tools.json
  src/intl/pt-br/pt-br.json
  src/intl/pt/pt.json
  src/intl/ro/page-developers-learning-tools.json
  src/intl/ru/page-developers-learning-tools.json
  src/intl/se/se.json
  src/intl/sk/sk.json
  src/intl/sl/page-developers-learning-tools.json
  src/intl/tr/page-developers-learning-tools.json
  src/intl/uk/page-developers-learning-tools.json
  src/intl/vi/vi.json
  src/intl/zh-tw/zh-tw.json
  src/intl/zh/page-developers-learning-tools.json
Labels: Status: Review Needed

#3957 Add info smart contact size limitations and diamond pattern
  src/content/developers/docs/smart-contracts/index.md
Labels: Type: Content, Status: Review Needed

#3969 Update the name of OMGX to Boba
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/content/translations/pl/developers/docs/scaling/layer-2-rollups/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#3871 Add video tutorials and tag for video tutorials
  src/data/tutorials.json
Labels: Status: Review Needed, Changes Requested

#3974 fix broken links #3949
  src/content/whitepaper/index.md
Labels: Type: Content, Status: Review Needed

#3977 Fix typo in Gas developer doc
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#3981 Fix Discord Link For Alchemy Platform
  src/content/developers/docs/frameworks/index.md
Labels: Type: Content, Status: Review Needed

#3982 Fix Alchemy website link
  src/content/developers/docs/frameworks/index.md
Labels: Type: Content, Status: Review Needed

#3985 Fix Discord Link For Alchemy Platform on backend API page
  src/content/developers/docs/apis/backend/index.md
Labels: Type: Content, Status: Review Needed

#3988 Fix Alchemy link on nodes and services doc
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: Type: Content, Status: Review Needed

#3987 Fix Alchemy link on web3 and alchemy tutorial
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
Labels: Type: Content, Status: Review Needed

#3989 Update Alchemy Link on Enterprise page
  src/content/enterprise/index.md
Labels: Type: Content, Status: Review Needed

#3973 Translation banner patch [Fixes #3213]
  gatsby-node.js
Labels: Type: Internal

#4009 Add explicit https to twitter link
  src/content/developers/docs/mev/index.md
Labels: Type: Content, Status: Review Needed

#3983 Remove all occurrences of Etherlime (deprecated) from docs
  src/content/developers/docs/frameworks/index.md
  src/content/translations/es/developers/docs/frameworks/index.md
  src/content/translations/fr/developers/docs/frameworks/index.md
  src/content/translations/hu/developers/docs/frameworks/index.md
  src/content/translations/it/developers/docs/frameworks/index.md
  src/content/translations/pl/developers/docs/frameworks/index.md
  src/content/translations/ro/developers/docs/frameworks/index.md
  src/content/translations/zh/developers/docs/frameworks/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed, Changes Requested

#4006 Add Bankless jobs board
  src/content/community/index.md
Labels: Type: Content, Status: Review Needed

#4005 Add ETH Portland to community events [Fixes #4002]
  src/data/community-events.json
Labels: Status: Review Needed

#4030 Update Translation Program stats #2
  src/content/contributing/translation-program/index.md
Labels: Type: Content, Status: Review Needed

#4020 Update EthPortland dates
  src/data/community-events.json
Labels: Status: Review Needed

#4032 99.98% -> 99.95% Energy Reduction in ETH2 in NFT Page
  src/content/nft/index.md
Labels: Type: Content, Status: Review Needed

#4034 Fix repo URL for Nimbus on ETH2 page
  src/pages/eth2/get-involved/index.js
Labels: Status: Review Needed

#4021 Updates caniuse db to latest [Fixes #4004]
  yarn.lock
Labels: Type: Dependencies

#4018 Fix broken wallet link in Glossary
  src/content/glossary/index.md
Labels: Type: Content, Status: Review Needed

#3965 Fix base fee rounding in gas developer doc
  src/content/developers/docs/gas/index.md
Labels: Type: Content, Status: Review Needed

#4019 Fix proof-of-stake link in glossary
  src/content/glossary/index.md
Labels: Type: Content, Status: Review Needed

#4008 Add Chainlink Hackathon community event
  src/data/community-events.json
Labels: Status: Review Needed, Changes Requested

#3990 Add InfStones to nodes-as-a-service
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: Type: Content, Status: Proposal

#4000 Update Python programming language developer doc
  src/content/developers/docs/programming-languages/python/index.md
Labels: Type: Content, Status: Review Needed

#4017 Adding 2x rewards for vulnerabilities related to Altair
  src/intl/en/page-eth2-get-involved-bug-bounty.json
Labels: Status: Review Needed

#4003 Homepage Charts [Fixes #2319]
  package.json
  src/components/StatsBoxGrid.js
  src/lambda/defipulse.js
  src/lambda/etherscan.js
  src/lambda/txs.js
  yarn.lock
Labels: Status: Review Needed, Type: Dependencies, Changes Requested

#4016 Update Python developer docs - add notable Ethereum projects using Brownie and Vyper
  src/content/developers/docs/programming-languages/python/index.md
Labels: Type: Content, Status: Review Needed

#4038 Add missing breadcrumbs for Governance page
  src/intl/en/common.json
Labels: Status: Review Needed

#4039 Add missing breadcrumbs for Translation program pages
  src/intl/en/common.json
Labels: Status: Review Needed

#4014 Remove smartcontracts.code (broken app) from security page
  src/content/developers/docs/security/index.md
  src/content/translations/es/developers/docs/security/index.md
  src/content/translations/fr/developers/docs/security/index.md
  src/content/translations/hu/developers/docs/security/index.md
  src/content/translations/it/developers/docs/security/index.md
  src/content/translations/pl/developers/docs/security/index.md
  src/content/translations/ro/developers/docs/security/index.md
  src/content/translations/zh/developers/docs/security/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#3907 Update Intro to Ethereum developer doc
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: Type: Content, Status: Review Needed

#3872 Create security/scams learn page
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/security/appleTwitterScam.png
  src/content/security/brokerScam.png
  src/content/security/discordScam.png
  src/content/security/index.md
  src/content/security/passwordManager.png
  src/content/security/youtubeScam.png
  src/intl/en/common.json
Labels: Type: Content, Status: Review Needed, Changes Requested

#4051 Adds available Chinese tutorials [Fixes #4040]
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/zh/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
  src/content/translations/zh/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/zh/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/zh/developers/tutorials/how-to-implement-an-erc721-market/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/zh/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/zh/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/zh/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/zh/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/translations/zh/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/zh/developers/tutorials/token-integration-checklist/index.md
  src/content/translations/zh/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/using-websockets/index.md
  src/content/translations/zh/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#4057 Patch to security copy
  src/content/security/index.md
Labels: Type: Content, Status: Review Needed

#4056 Deploy v2.42.1
  package.json
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/security/appleTwitterScam.png
  src/content/security/brokerScam.png
  src/content/security/discordScam.png
  src/content/security/index.md
  src/content/security/passwordManager.png
  src/content/security/youtubeScam.png
  src/content/translations/zh/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
  src/content/translations/zh/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/zh/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/zh/developers/tutorials/how-to-implement-an-erc721-market/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/zh/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/zh/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/zh/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/zh/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/translations/zh/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/zh/developers/tutorials/token-integration-checklist/index.md
  src/content/translations/zh/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/using-websockets/index.md
  src/content/translations/zh/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/intl/en/common.json
Labels: Type: Content, Type: Translation, Status: Review Needed, Type: Dependencies

#4061 remove py-eth.com link & add some description for discord link
  src/content/developers/docs/programming-languages/python/index.md
Labels: Type: Content, Status: Review Needed

#4042 Fixed Wiki Links Yellow Paper Appendix, Yellow Papaer and YP
  src/content/whitepaper/index.md
Labels: Type: Content, Status: Review Needed

#4062 Add link to bertcmiller's MEV threads
  src/content/developers/docs/mev/index.md
Labels: Type: Content, Status: Review Needed

#4050 Add Pocket Network to Node as a Service Documentation
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: Type: Content, Status: Review Needed

#4060 Eth2 client randomization and GH star removal [Fixes #4059]
  src/components/GitStars.js
  src/components/ProductCard.js
  src/pages/eth2/get-involved/index.js
Labels: Status: Review Needed

#4058 Remove Eth2 announcement banner [Fixes #3806]
  src/pages/eth2/index.js
  src/pages/eth2/vision.js
  src/templates/eth2.js
Labels: Status: Review Needed

#4067 Updated DAO Attack 2016 Redirected Link
  src/content/history/index.md
Labels: Type: Content, Status: Review Needed

#4066 Updated DAO Direct Redirect Https Link
  src/content/whitepaper/index.md
Labels: Type: Content, Status: Review Needed

#4071 Removed MakerDAO Open Grants
  src/content/community/grants/index.md
Labels: Type: Content, Status: Review Needed

#4072 Added Chainlink SF Meetup to list of Meetup.com groups
  src/components/MeetupList.js
Labels: Status: Review Needed

#4035 Fix Fallback Language Direction #4028
  src/components/Breadcrumbs.js
  src/templates/docs.js
  src/templates/eth2.js
  src/templates/static.js
  src/templates/tutorial.js
  src/templates/use-cases.js
Labels: Status: Review Needed

#4043 Add Bitvavo exchange
  src/assets/exchanges/bitvavo.png
  src/components/EthExchanges.js
  src/data/exchanges-by-country.csv
Labels: Status: Review Needed

#4074 Adds missing custom header ids on style-guide
  src/content/contributing/style-guide/index.md
Labels: Type: Content, Status: Review Needed

#4069 Remove Broken URL on Whitepaper
  src/content/whitepaper/index.md
Labels: Type: Content, Status: Review Needed

#4065 Update intro to dapps developer doc
  src/content/developers/docs/dapps/index.md
Labels: Type: Content, Status: Review Needed

#4070 Update POAP section Discord link to go to #poaps channel
  src/content/contributing/index.md
Labels: Status: Abandoned, Type: Content, Status: Review Needed

#4077 Update ecosystem grants link for The Graph
  src/content/community/grants/index.md
Labels: Type: Content, Status: Review Needed

#4064 Update deploying smart contracts developer doc
  src/content/developers/docs/smart-contracts/deploying/index.md
Labels: Type: Content, Status: Review Needed

#4046 Add Translation Program mission and vision section
  src/content/contributing/translation-program/index.md
Labels: Type: Content, Status: Review Needed

#4090 Replace Ethereum Cat Herders Gitter with Discord link
  src/content/community/index.md
Labels: Type: Content, Status: Review Needed

#4088 Adds note about falsified listing information to product guide [Fixes #3150]
  src/content/contributing/adding-products/index.md
Labels: Type: Content, Status: Review Needed

#4082 Standardise use of sentence case in headers [Fixes #4075]
  src/content/community/grants/index.md
  src/content/community/index.md
  src/content/contributing/style-guide/index.md
  src/content/contributing/translation-program/content-versions/index.md
  src/content/contributing/translation-program/index.md
  src/content/developers/docs/consensus-mechanisms/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/ethereum-stack/index.md
  src/content/developers/docs/evm/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/ides/index.md
  src/content/developers/docs/mev/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/docs/programming-languages/dart/index.md
  src/content/developers/docs/programming-languages/delphi/index.md
  src/content/developers/docs/programming-languages/dot-net/index.md
  src/content/developers/docs/programming-languages/golang/index.md
  src/content/developers/docs/programming-languages/java/index.md
  src/content/developers/docs/programming-languages/python/index.md
  src/content/developers/docs/programming-languages/rust/index.md
  src/content/developers/docs/scaling/index.md
  src/content/developers/docs/security/index.md
  src/content/developers/docs/standards/index.md
  src/content/governance/index.md
  src/content/learn/index.md
  src/content/security/index.md
Labels: Type: Content, Status: Review Needed

#4081 Update Storage developer docs
  src/content/developers/docs/storage/index.md
Labels: Type: Content, Status: Review Needed

#4085 Ignore queryParams on canonical URLs
  gatsby-config.js
  src/components/Search/index.js
Labels: Status: Review Needed, Type: Internal

#4079 Removed Kauri From The List
  src/content/learn/index.md
Labels: Type: Content, Status: Review Needed

#4091 Removed VeriLedger
  src/content/community/index.md
Labels: Type: Content, Status: Review Needed

#4099 Moved Lodestar from experimental to production-ready ETH2 client
  src/pages/eth2/get-involved/index.js
Labels: Status: Review Needed
