Repository ethereum/ethereum-org-website, pull requests merged in 2021-07, with the labels that each got.

#3363 Fixed a small typo.
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: Status: Review Needed, Type: Content

#3365 Adds EthCC to community events
  src/data/community-events.json
Labels: Status: Review Needed

#3347 Adds markdown syntax for table within whitepaper [Fixes #3338]
  src/content/whitepaper/index.md
Labels: Status: Review Needed, Type: Content

#3367 Deploy v2.31.2
  .all-contributorsrc
  README.md
  package.json
  src/assets/exchanges/coinspot.png
  src/components/EthExchanges.js
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/ar/what-is-ethereum/index.md
  src/content/translations/bn/what-is-ethereum/index.md
  src/content/translations/fa/what-is-ethereum/index.md
  src/content/translations/fr/what-is-ethereum/index.md
  src/content/translations/id/what-is-ethereum/index.md
  src/content/translations/ig/what-is-ethereum/index.md
  src/content/translations/nl/what-is-ethereum/index.md
  src/content/translations/pl/what-is-ethereum/index.md
  src/content/translations/pt/what-is-ethereum/index.md
  src/content/translations/ru/what-is-ethereum/index.md
  src/content/translations/se/what-is-ethereum/index.md
  src/content/translations/sk/what-is-ethereum/index.md
  src/content/translations/sl/what-is-ethereum/index.md
  src/content/translations/tr/what-is-ethereum/index.md
  src/content/whitepaper/index.md
  src/data/community-events.json
  src/data/exchanges-by-country.csv
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Translation

#3369 Removes community lead role
  src/content/about/community-lead/index.md
  src/content/about/index.md
Labels: Status: Review Needed, Type: Content

#3373 Explicitly types frontmatter schema
  gatsby-node.js
  netlify.toml
Labels: Type: Internal, Type: Tooling

#3346 Update `/merge` with post-merge cleanup note
  src/content/eth2/merge/index.md
  src/intl/en/page-eth2-staking.json
Labels: Status: Review Needed, Type: Content

#3376 Fix Broken Links in Ethereum for Python Devs docs
  src/content/developers/docs/programming-languages/python/index.md
  src/content/translations/ar/python/index.md
  src/content/translations/bn/python/index.md
  src/content/translations/cs/python/index.md
  src/content/translations/de/python/index.md
  src/content/translations/es/python/index.md
  src/content/translations/fi/python/index.md
  src/content/translations/fr/python/index.md
  src/content/translations/hu/python/index.md
  src/content/translations/id/python/index.md
  src/content/translations/it/python/index.md
  src/content/translations/ja/python/index.md
  src/content/translations/ko/python/index.md
  src/content/translations/lt/python/index.md
  src/content/translations/ml/python/index.md
  src/content/translations/nb/python/index.md
  src/content/translations/pt-br/python/index.md
  src/content/translations/ro/developers/docs/programming-languages/python/index.md
  src/content/translations/ro/python/index.md
  src/content/translations/se/python/index.md
  src/content/translations/sk/python/index.md
  src/content/translations/tr/python/index.md
  src/content/translations/uk/python/index.md
  src/content/translations/vi/python/index.md
  src/content/translations/zh-tw/python/index.md
  src/content/translations/zh/python/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3379 Update eth2-bounty-hunters.csv
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed

#3399 Revert gatsby-node change, remove job.js template
  gatsby-node.js
  src/templates/job.js
Labels: Status: Review Needed, Type: Internal

#3392 Deploy 2.31.3
  gatsby-node.js
  netlify.toml
  package.json
  src/content/about/community-lead/index.md
  src/content/about/index.md
  src/content/developers/docs/programming-languages/python/index.md
  src/content/eth2/merge/index.md
  src/content/translations/ar/python/index.md
  src/content/translations/bn/python/index.md
  src/content/translations/cs/python/index.md
  src/content/translations/de/python/index.md
  src/content/translations/es/python/index.md
  src/content/translations/fi/python/index.md
  src/content/translations/fr/python/index.md
  src/content/translations/hu/python/index.md
  src/content/translations/id/python/index.md
  src/content/translations/it/python/index.md
  src/content/translations/ja/python/index.md
  src/content/translations/ko/python/index.md
  src/content/translations/lt/python/index.md
  src/content/translations/ml/python/index.md
  src/content/translations/nb/python/index.md
  src/content/translations/pt-br/python/index.md
  src/content/translations/ro/developers/docs/programming-languages/python/index.md
  src/content/translations/ro/python/index.md
  src/content/translations/se/python/index.md
  src/content/translations/sk/python/index.md
  src/content/translations/tr/python/index.md
  src/content/translations/uk/python/index.md
  src/content/translations/vi/python/index.md
  src/content/translations/zh-tw/python/index.md
  src/content/translations/zh/python/index.md
  src/data/eth2-bounty-hunters.csv
  src/intl/en/page-eth2-staking.json
  src/templates/job.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Internal, Type: Tooling, Type: Translation

#3401 Adds POAP to collectibles category of dapps [Fixes #3377]
  src/assets/dapps/poap.png
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.js
Labels: Status: Review Needed, Type: Content

#3394 dead links updated for scaling and rollups
  src/content/eth2/merge/index.md
  src/content/translations/de/eth2/shard-chains/index.md
  src/content/translations/el/eth2/shard-chains/index.md
  src/content/translations/es/eth2/shard-chains/index.md
  src/content/translations/hi/eth2/shard-chains/index.md
  src/content/translations/hr/eth2/shard-chains/index.md
  src/content/translations/hu/eth2/shard-chains/index.md
  src/content/translations/it/eth2/shard-chains/index.md
  src/content/translations/ro/developers/docs/index.md
  src/content/translations/ro/developers/docs/smart-contracts/languages/index.md
  src/content/translations/ro/enterprise/index.md
  src/content/translations/ro/eth2/shard-chains/index.md
  src/content/translations/ro/history/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3390 make Antonio code owner of eth2-bounty-hunters.csv
  .github/CODEOWNERS
Labels: Type: Tooling

#3403 Updates London EIPs and schedule on /history
  src/content/history/index.md
Labels: Status: Review Needed, Type: Content

#3416 Fix typo in README.md
  README.md
Labels: Type: Documentation

#3420 Fix deployment image reference [Fixes #3419]
  src/content/developers/tutorials/deploying-your-first-smart-contract/index.md
Labels: Status: Review Needed, Type: Content

#3426 Lists Bitcoin.com Wallet [Closes #3186]
  src/assets/wallets/bitcoindotcom.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed

#3425 London Information updates
  src/content/eth2/merge/index.md
  src/content/history/index.md
  src/content/translations/hr/eth2/shard-chains/index.md
  src/content/translations/it/eth2/shard-chains/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3417 MetaMask updates July 2021
  src/data/wallets.csv
Labels: Status: Review Needed

#3406 Update Translation Program page
  src/content/contributing/translation-program/index.md
Labels: Status: Review Needed, Type: Content

#3431 Deploy 2.32.0
  .all-contributorsrc
  .github/CODEOWNERS
  README.md
  package.json
  src/assets/dapps/poap.png
  src/assets/wallets/bitcoindotcom.png
  src/components/Eth2ShardChainsList.js
  src/components/WalletCompare.js
  src/content/contributing/translation-program/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/programming-languages/dart/index.md
  src/content/developers/docs/storage/index.md
  src/content/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/eth2/merge/index.md
  src/content/history/index.md
  src/content/learn/index.md
  src/content/translations/de/eth2/shard-chains/index.md
  src/content/translations/el/eth2/shard-chains/index.md
  src/content/translations/es/eth2/shard-chains/index.md
  src/content/translations/hi/eth2/shard-chains/index.md
  src/content/translations/hr/eth2/shard-chains/index.md
  src/content/translations/hu/eth2/shard-chains/index.md
  src/content/translations/it/eth2/shard-chains/index.md
  src/content/translations/ro/developers/docs/index.md
  src/content/translations/ro/developers/docs/smart-contracts/languages/index.md
  src/content/translations/ro/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/translations/ro/enterprise/index.md
  src/content/translations/ro/eth2/shard-chains/index.md
  src/content/translations/ro/history/index.md
  src/content/whitepaper/index.md
  src/data/wallets.csv
  src/intl/en/page-dapps.json
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/dapps.js
  src/pages-conditional/wallets/index.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Tooling, Type: Translation

#3437 [Community Events] Add HackFS
  src/data/community-events.json
Labels: Status: Review Needed

#3310 Added Remix desktop IDE
  src/content/developers/docs/ides/index.md
  src/content/translations/ro/developers/docs/ides/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3449 add Saulius 9000 point bounty
  src/data/eth2-bounty-hunters.csv
Labels: Status: Review Needed

#3432 Distinguish production-ready Eth2 clients [Fixes #3422]
  src/intl/en/page-eth2-get-involved.json
  src/pages/eth2/get-involved/index.js
Labels: Status: Review Needed

#3499 Typo correction [Fixes #3498]
  src/intl/en/page-eth2-staking.json
Labels: Status: Review Needed

#3360 Tellor Oracle Tutorial
  src/content/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
Labels: Status: Review Needed, Type: Content

#3405 Add Paralink Network to Oracles page
  src/content/developers/docs/oracles/index.md
Labels: Status: Review Needed, Type: Content

#3503 Updates bitcoin.com wallet listing with token swaps
  src/data/wallets.csv
Labels: Status: Review Needed

#3050 Learn page: what is decentralization? #3025
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/decentralization/index.md
  src/content/developers/docs/web2-vs-web3/index.md
  src/content/learn/index.md
  src/intl/en/common.json
  src/intl/en/page-eth2-vision.json
  src/pages/eth2/vision.js
Labels: Status: Review Needed, Type: Content

#3474 Add blurb on EF fellowship program
  src/content/foundation/index.md
Labels: Status: Review Needed, Type: Content

#3481 Fixed duplicate tutorial images
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
Labels: Status: Review Needed, Type: Content

#3473 contributors modal shows duplicates [Fixes #3468]
  src/components/FileContributors.js
Labels: Status: Review Needed

#3505 Adds Dune Analytics SQL tutorial [Closes #3030]
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/avg_daily_blocks.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/avg_gas_limit.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/daily_blocks.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/daily_gas_used.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/dune_view.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/ef_daily_gas.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/etherscan_view.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/gas_demand_supply.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/list_of_txn.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/parent_hash.png
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/successful_txn.png
Labels: Status: Review Needed, Type: Content

#3510 Layout fixes for intl eth2 pages
  src/content/translations/bg/eth2/merge/index.md
  src/content/translations/bg/eth2/shard-chains/index.md
  src/content/translations/ca/eth2/merge/index.md
  src/content/translations/ca/eth2/shard-chains/index.md
  src/content/translations/de/eth2/merge/index.md
  src/content/translations/de/eth2/shard-chains/index.md
  src/content/translations/el/eth2/merge/index.md
  src/content/translations/el/eth2/shard-chains/index.md
  src/content/translations/es/eth2/merge/index.md
  src/content/translations/es/eth2/shard-chains/index.md
  src/content/translations/fr/eth2/merge/index.md
  src/content/translations/fr/eth2/shard-chains/index.md
  src/content/translations/hi/eth2/merge/index.md
  src/content/translations/hi/eth2/shard-chains/index.md
  src/content/translations/hr/eth2/merge/index.md
  src/content/translations/hr/eth2/shard-chains/index.md
  src/content/translations/hu/eth2/merge/index.md
  src/content/translations/hu/eth2/shard-chains/index.md
  src/content/translations/it/eth2/merge/index.md
  src/content/translations/it/eth2/shard-chains/index.md
  src/content/translations/ja/eth2/merge/index.md
  src/content/translations/ja/eth2/shard-chains/index.md
  src/content/translations/ro/eth2/merge/index.md
  src/content/translations/ro/eth2/shard-chains/index.md
  src/content/translations/ru/eth2/merge/index.md
  src/content/translations/ru/eth2/shard-chains/index.md
  src/content/translations/sl/eth2/merge/index.md
  src/content/translations/sl/eth2/shard-chains/index.md
  src/content/translations/tr/eth2/merge/index.md
  src/content/translations/tr/eth2/shard-chains/index.md
  src/content/translations/uk/eth2/merge/index.md
  src/content/translations/uk/eth2/shard-chains/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3513 Updates with new Crowdin link
  src/components/TranslationsInProgress.js
  src/content/contributing/translation-program/index.md
  src/lambda/translation-build.js
  src/lambda/translations.js
  src/utils/translations.js
Labels: Status: Review Needed, Type: Content, Type: Translation

#3512 Add Crowdin badge to display localization progress
  README.md
Labels: Type: Documentation

#3511 [UPDATE] Correct colour for Argent icon, so it is visible in dark mode.
  src/assets/wallets/argent.png
Labels: Status: Review Needed

#3515 Translates missing string on eth2/beacon-chain
  src/content/translations/bg/eth2/beacon-chain/index.md
  src/content/translations/ca/eth2/beacon-chain/index.md
  src/content/translations/de/eth2/beacon-chain/index.md
  src/content/translations/el/eth2/beacon-chain/index.md
  src/content/translations/fr/eth2/beacon-chain/index.md
  src/content/translations/hi/eth2/beacon-chain/index.md
  src/content/translations/hr/eth2/beacon-chain/index.md
  src/content/translations/hu/eth2/beacon-chain/index.md
  src/content/translations/it/eth2/beacon-chain/index.md
  src/content/translations/ja/eth2/beacon-chain/index.md
  src/content/translations/ro/eth2/beacon-chain/index.md
  src/content/translations/ru/eth2/beacon-chain/index.md
  src/content/translations/sl/eth2/beacon-chain/index.md
  src/content/translations/tr/eth2/beacon-chain/index.md
  src/content/translations/uk/eth2/beacon-chain/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#3353 added nakamoto consensus to the consensus page
  src/content/developers/docs/consensus-mechanisms/index.md
Labels: Status: Review Needed, Type: Content

#3451 feat: highlight table of content on scroll
  src/components/TableOfContents.js
  src/hooks/useActiveHash.js
Labels: Status: Review Needed

#3517 v2.33.0
  package.json
Labels: Type: Dependencies
