Repository ethereum/ethereum-org-website, pull requests merged in 2021-10, with the labels that each got.

#4108 Patch to update Lodestar status
  src/pages/eth2/get-involved/index.js
Labels: Status: Review Needed

#4116 Update Ethereum stack developer doc
  src/content/developers/docs/ethereum-stack/index.md
Labels: Type: Content, Status: Review Needed

#4114 Remove 3box from storage page
  src/content/translations/es/developers/docs/storage/index.md
  src/content/translations/fr/developers/docs/storage/index.md
  src/content/translations/hu/developers/docs/storage/index.md
  src/content/translations/it/developers/docs/storage/index.md
  src/content/translations/pl/developers/docs/storage/index.md
  src/content/translations/ro/developers/docs/storage/index.md
  src/content/translations/zh/developers/docs/storage/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#4113 Remove broken Coindesk mining link
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/learn/index.md
  src/content/translations/ar/learn/index.md
  src/content/translations/bn/learn/index.md
  src/content/translations/cs/learn/index.md
  src/content/translations/el/learn/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/es/learn/index.md
  src/content/translations/fa/learn/index.md
  src/content/translations/fi/learn/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/fr/learn/index.md
  src/content/translations/hu/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/hu/learn/index.md
  src/content/translations/id/learn/index.md
  src/content/translations/ig/learn/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/it/learn/index.md
  src/content/translations/ja/learn/index.md
  src/content/translations/ko/learn/index.md
  src/content/translations/lt/learn/index.md
  src/content/translations/ml/learn/index.md
  src/content/translations/nb/learn/index.md
  src/content/translations/nl/learn/index.md
  src/content/translations/pl/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/pl/learn/index.md
  src/content/translations/pt-br/learn/index.md
  src/content/translations/pt/learn/index.md
  src/content/translations/ro/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/ro/learn/index.md
  src/content/translations/ru/learn/index.md
  src/content/translations/se/learn/index.md
  src/content/translations/sk/learn/index.md
  src/content/translations/sl/learn/index.md
  src/content/translations/tr/learn/index.md
  src/content/translations/uk/learn/index.md
  src/content/translations/vi/learn/index.md
  src/content/translations/zh-tw/learn/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/zh/learn/index.md
Labels: Type: Content, Type: Translation, Status: Review Needed

#4110 Adds NFT School to learning tools [Fixes #4093]
  src/assets/dev-tools/nftschool.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.js
Labels: Status: Review Needed

#4126 Add Tatum platform to backend API developer docs
  src/content/developers/docs/apis/backend/index.md
Labels: Type: Content, Status: Review Needed

#4125 Add mStable to list of grant providers
  src/content/community/grants/index.md
Labels: Type: Content, Status: Review Needed

#4119 Fix typo in storage developer docs
  src/content/developers/docs/storage/index.md
Labels: Type: Content, Status: Review Needed

#4115 Add article to Oracle developer docs
  src/content/developers/docs/oracles/index.md
Labels: Type: Content, Status: Review Needed

#4111 Refactored tutorials.json to externalTutorials.json
  src/data/externalTutorials.json
  src/pages/developers/tutorials.js
Labels: Status: Review Needed

#4112 Update mining developer doc
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: Type: Content, Status: Review Needed

#4124 Updated description tags for the dapps to available english tags
  src/components/RandomAppList.js
  src/intl/en/page-dapps.json
Labels: Status: Review Needed

#4105 Fix grammar on grants page
  src/content/community/grants/index.md
Labels: Type: Content, Status: Review Needed, Changes Requested

#3929 Update Intro to Ether developer doc
  src/content/developers/docs/intro-to-ether/index.md
Labels: Type: Content, Status: Review Needed

#4104 Fix typo (github>GitHub)
  src/content/community/index.md
Labels: Type: Content

#4109 Fix typo on interacting with other smart contracts tutorial
  src/content/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
Labels: Type: Content, Status: Review Needed

#3999 Update proof-of-work developer doc
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: Type: Content, Status: Review Needed

#4132 Added mobile navbar fix [Fixes #3329]
  src/components/Nav/Mobile.js
Labels: Status: Review Needed

#4136 Update translation program page
  src/content/contributing/translation-program/crowdin-files.png
  src/content/contributing/translation-program/index.md
Labels: Type: Content, Status: Review Needed

#4138 Update content versions page
  src/content/contributing/translation-program/content-versions/index.md
Labels: Type: Content, Status: Review Needed

#4144 Align labels in code logic with GitHub labels
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/suggest_dapp.md
  .github/ISSUE_TEMPLATE/suggest_dev_tool.md
  .github/ISSUE_TEMPLATE/suggest_exchange.md
  .github/ISSUE_TEMPLATE/suggest_glossary_term.md
  .github/ISSUE_TEMPLATE/suggest_tutorial.md
  .github/ISSUE_TEMPLATE/suggest_wallet.md
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/on-pr-close.yml
Labels: tooling 🔧

#4351 Fix punctuation in privacy policy
  src/content/privacy-policy/index.md
Labels: content :fountain_pen:, review needed :eyes:
