Repository ethereum/ethereum-org-website, pull requests merged in 2021-12, with the labels that each got.

#4596 Deploy v2.46.3
  .all-contributorsrc
  README.md
  package.json
  src/components/Layout.js
  src/components/UpgradeBannerNotification.js
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/smart-contracts/libraries/index.md
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/history/index.md
  src/data/externalTutorials.json
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#4602 Add Web3.Career job board to community page
  src/content/community/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4558 Add OpenEthereum to /deprecated-software [Fixes #4530]
  src/content/deprecated-software/index.md
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/programming-languages/rust/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4606 Add Ankr to nodes as a service
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4561 Update header anchors top margin on scroll [Fixes #4548 and #4547]
  src/templates/eth2.js
  src/templates/use-cases.js
Labels: review needed :eyes:

#4583 Add article to web2 vs web3 developer doc (Spanish)
  src/content/translations/es/developers/docs/web2-vs-web3/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4605 Add Bored Ape Yacht Club to ERC-721 developer docs
  src/content/developers/docs/standards/tokens/erc-721/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#4589 Fix link to the glossary and corrected the translation
  src/content/translations/it/enterprise/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4573 Remove deprecated consensys ERC-20 implementation
  src/content/deprecated-software/index.md
  src/content/developers/docs/standards/tokens/erc-20/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#4591 Update ethereum stack docs (Chinese)
  src/content/translations/zh/developers/docs/ethereum-stack/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4441 Support new content version release in codebase
  gatsby-node.js
  src/components/LegacyPageHome.js
  src/components/SharedStyledComponents.js
  src/content/about/product-designer/index.md
  src/content/defi/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/programming-languages/python/index.md
  src/content/developers/tutorials/hello-world-smart-contract/index.md
  src/content/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/developers/tutorials/waffle-test-simple-smart-contract/index.md
  src/content/eth2/get-involved/medalla-data-challenge/index.md
  src/content/learn/index.md
  src/content/nft/index.md
  src/data/externalTutorials.json
  src/data/translations.json
  src/pages/developers/tutorials.js
  src/pages/index.js
  src/utils/translations.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, changes requested, internal :house:

#4571 Build translator acknowledgement page
  src/components/SharedStyledComponents.js
  src/components/TranslationLeaderboard.js
  src/content/contributing/translation-program/index.md
  src/data/translation-reports/alltime-data.json
  src/data/translation-reports/month-data.json
  src/data/translation-reports/quarter-data.json
  src/intl/en/common.json
  src/intl/en/page-contributing-translation-program-acknowledgements.json
  src/intl/en/page-contributing-translation-program-contributors.json
  src/pages-conditional/dapps.js
  src/pages/contributing/translation-program/acknowledgements.js
  src/pages/contributing/translation-program/contributors.js
  src/templates/static.js
Labels: content :fountain_pen:, review needed :eyes:

#4624 Fixes #4621 rasberry-pi tutorial typo
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4623 Add year to Beacon Chain ship date
  src/content/eth2/beacon-chain/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4610 Remove dead link from Rust developer docs
  src/content/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/rust/index.md
  src/content/translations/it/developers/docs/programming-languages/rust/index.md
  src/content/translations/sk/rust/index.md
  src/content/translations/tr/rust/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, blocked 🛑

#4572 Spanish correction on whitepaper
  src/content/translations/es/whitepaper/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, abandoned

#4652 Update number of translated words 2021
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4653 Fix typos on History page
  src/content/history/index.md
Labels: content :fountain_pen:

#4649 Add Web3 Together in Meetup list
  src/components/MeetupList.js
Labels: review needed :eyes:

#4645 Improve choice of wording in enterprise doc
  src/content/enterprise/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4644 Fix typo in cookie-policy doc
  src/content/cookie-policy/index.md
Labels: content :fountain_pen:

#4643 Fix typos in deprecated-software doc
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:

#4642 Fix grammar in gas developer docs
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4634 Update links in standards developer docs
  src/content/developers/docs/standards/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4635 Fixed a typo on the developers page [fixes #4608]
  src/intl/en/page-developers-index.json
Labels: review needed :eyes:

#4626 Update stablecoins editors' choice cards to be responsive
  src/pages/stablecoins.js
Labels: content :fountain_pen:, review needed :eyes:

#4666 Switch from lodash some to array.some for tutorials
  src/pages/developers/tutorials.js
Labels: review needed :eyes:

#4647 Fix broken image paths (Chinese developer docs and tutorials)
  src/content/translations/zh/developers/docs/accounts/index.md
  src/content/translations/zh/developers/docs/blocks/index.md
  src/content/translations/zh/developers/docs/evm/index.md
  src/content/translations/zh/developers/docs/gas/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
  src/content/translations/zh/developers/docs/transactions/index.md
  src/content/translations/zh/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/zh/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/zh/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/using-websockets/index.md
  src/content/translations/zh/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4639 Add bitcoin magazine article to proof-of-stake developer doc
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4640 Changed the word summarise to summarize.
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4646 fix: ethdubai new dates, add meetup too
  src/components/MeetupList.js
  src/data/community-events.json
Labels: review needed :eyes:

#4683 Remove duplicate H1s from acknowledgement page
  src/pages/contributing/translation-program/acknowledgements.js
Labels: review needed :eyes:

#4695 Redirect debugging - Gatsby Cloud focus
  gatsby-config.js
  gatsby-node.js
  netlify.toml
  redirects.json
  static/_redirects
Labels: tooling :wrench:, internal :house:

#4700 Remove force on redirects
  gatsby-node.js
Labels: internal :house:

#4701 Remove redirect from gatsby-plugin-intl
  gatsby-config.js
Labels: internal :house:

#4706 Deploy v3.0.1
  package.json
  redirects.json
Labels: dependencies :package:

#4521 Community hub updates
  package.json
  src/components/EventCard.js
  src/components/Footer.js
  src/components/Icon.js
  src/components/Layout.js
  src/components/MeetupList.js
  src/components/Nav/index.js
  src/components/PageHero.js
  src/components/SocialListItem.js
  src/components/TableOfContents.js
  src/components/Tooltip.js
  src/components/UpcomingEventsList.js
  src/content/community/events/index.md
  src/content/community/get-involved/index.md
  src/content/community/grants/index.md
  src/content/community/index.md
  src/content/community/online/index.md
  src/content/community/support/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/standards/index.md
  src/data/community-events.json
  src/data/community-meetups.json
  src/data/eth2-articles.js
  src/intl/en/common.json
  src/intl/en/page-community.json
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/index.js
  src/pages/community.js
  src/pages/eth2/deposit-contract.js
  src/pages/eth2/get-involved/bug-bounty.js
  src/pages/get-eth.js
  src/templates/static.js
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#4627 Add headers to all markdown files
  src/content/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/pl/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/ro/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/zh/developers/tutorials/logging-events-smart-contracts/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, internal :house:

#4678 Fix Translation Acknowledgement bugs
  src/components/TranslationLeaderboard.js
  src/pages/contributing/translation-program/contributors.js
Labels: review needed :eyes:

#4707 Deploy 3.1.0
  package.json
  src/components/EventCard.js
  src/components/Footer.js
  src/components/Icon.js
  src/components/Layout.js
  src/components/MeetupList.js
  src/components/Nav/index.js
  src/components/PageHero.js
  src/components/SocialListItem.js
  src/components/TableOfContents.js
  src/components/Tooltip.js
  src/components/TranslationLeaderboard.js
  src/components/UpcomingEventsList.js
  src/content/community/events/index.md
  src/content/community/get-involved/index.md
  src/content/community/grants/index.md
  src/content/community/index.md
  src/content/community/online/index.md
  src/content/community/support/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/standards/index.md
  src/content/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/pl/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/ro/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/zh/developers/tutorials/logging-events-smart-contracts/index.md
  src/data/community-events.json
  src/data/community-meetups.json
  src/data/eth2-articles.js
  src/intl/en/common.json
  src/intl/en/page-community.json
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/index.js
  src/pages/community.js
  src/pages/contributing/translation-program/contributors.js
  src/pages/eth2/deposit-contract.js
  src/pages/eth2/get-involved/bug-bounty.js
  src/pages/get-eth.js
  src/templates/static.js
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:

#4612 Fix broken link in the Rust developer docs
  src/content/developers/docs/programming-languages/rust/index.md
  src/content/translations/ar/rust/index.md
  src/content/translations/bn/rust/index.md
  src/content/translations/cs/rust/index.md
  src/content/translations/de/rust/index.md
  src/content/translations/es/developers/docs/programming-languages/rust/index.md
  src/content/translations/es/rust/index.md
  src/content/translations/fi/rust/index.md
  src/content/translations/fr/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/rust/index.md
  src/content/translations/hu/developers/docs/programming-languages/rust/index.md
  src/content/translations/hu/rust/index.md
  src/content/translations/id/rust/index.md
  src/content/translations/it/developers/docs/programming-languages/rust/index.md
  src/content/translations/it/rust/index.md
  src/content/translations/ja/rust/index.md
  src/content/translations/ko/rust/index.md
  src/content/translations/lt/rust/index.md
  src/content/translations/ml/rust/index.md
  src/content/translations/nb/rust/index.md
  src/content/translations/pl/developers/docs/programming-languages/rust/index.md
  src/content/translations/pt-br/rust/index.md
  src/content/translations/ro/developers/docs/programming-languages/rust/index.md
  src/content/translations/ro/rust/index.md
  src/content/translations/se/rust/index.md
  src/content/translations/sk/rust/index.md
  src/content/translations/tr/rust/index.md
  src/content/translations/uk/rust/index.md
  src/content/translations/vi/rust/index.md
  src/content/translations/zh-tw/rust/index.md
  src/content/translations/zh/developers/docs/programming-languages/rust/index.md
  src/content/translations/zh/rust/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4616 Fix broken glossary link (Italian)
  src/content/translations/it/eth2/merge/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4618 Remove consensys erc20 from deprecated software page
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4632 Remove broken links in Rust developer docs (all languages)
  src/content/developers/docs/programming-languages/rust/index.md
  src/content/translations/ar/rust/index.md
  src/content/translations/bn/rust/index.md
  src/content/translations/cs/rust/index.md
  src/content/translations/de/rust/index.md
  src/content/translations/es/developers/docs/programming-languages/rust/index.md
  src/content/translations/es/rust/index.md
  src/content/translations/fi/rust/index.md
  src/content/translations/fr/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/rust/index.md
  src/content/translations/hu/developers/docs/programming-languages/rust/index.md
  src/content/translations/hu/rust/index.md
  src/content/translations/id/rust/index.md
  src/content/translations/it/developers/docs/programming-languages/rust/index.md
  src/content/translations/it/rust/index.md
  src/content/translations/ja/rust/index.md
  src/content/translations/ko/rust/index.md
  src/content/translations/lt/rust/index.md
  src/content/translations/ml/rust/index.md
  src/content/translations/nb/rust/index.md
  src/content/translations/pl/developers/docs/programming-languages/rust/index.md
  src/content/translations/pt-br/rust/index.md
  src/content/translations/ro/developers/docs/programming-languages/rust/index.md
  src/content/translations/ro/rust/index.md
  src/content/translations/se/rust/index.md
  src/content/translations/sk/rust/index.md
  src/content/translations/tr/rust/index.md
  src/content/translations/uk/rust/index.md
  src/content/translations/vi/rust/index.md
  src/content/translations/zh-tw/rust/index.md
  src/content/translations/zh/developers/docs/programming-languages/rust/index.md
  src/content/translations/zh/rust/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4638 Remove redundant files from translated languages
  src/content/translations/es/dot-net/index.md
  src/content/translations/es/golang/index.md
  src/content/translations/es/java/index.md
  src/content/translations/es/javascript/index.md
  src/content/translations/es/python/index.md
  src/content/translations/es/rust/index.md
  src/content/translations/fr/dot-net/index.md
  src/content/translations/fr/golang/index.md
  src/content/translations/fr/index.md
  src/content/translations/fr/java/index.md
  src/content/translations/fr/javascript/index.md
  src/content/translations/fr/python/index.md
  src/content/translations/fr/rust/index.md
  src/content/translations/hu/dot-net/index.md
  src/content/translations/hu/golang/index.md
  src/content/translations/hu/java/index.md
  src/content/translations/hu/javascript/index.md
  src/content/translations/hu/python/index.md
  src/content/translations/hu/rust/index.md
  src/content/translations/it/dot-net/index.md
  src/content/translations/it/golang/index.md
  src/content/translations/it/java/index.md
  src/content/translations/it/javascript/index.md
  src/content/translations/it/python/index.md
  src/content/translations/it/rust/index.md
  src/content/translations/ro/dot-net/index.md
  src/content/translations/ro/golang/index.md
  src/content/translations/ro/java/index.md
  src/content/translations/ro/javascript/index.md
  src/content/translations/ro/python/index.md
  src/content/translations/ro/rust/index.md
  src/content/translations/zh/dot-net/index.md
  src/content/translations/zh/golang/index.md
  src/content/translations/zh/java/index.md
  src/content/translations/zh/javascript/index.md
  src/content/translations/zh/python/index.md
  src/content/translations/zh/rust/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4682 Implement true randomness on consensus client list
  src/pages/eth2/get-involved/index.js
Labels: review needed :eyes:

#4670 Fix broken image paths
  src/content/translations/es/developers/docs/accounts/index.md
  src/content/translations/es/developers/docs/blocks/index.md
  src/content/translations/es/developers/docs/evm/index.md
  src/content/translations/es/developers/docs/gas/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/index.md
  src/content/translations/es/developers/docs/transactions/index.md
  src/content/translations/fr/developers/docs/accounts/index.md
  src/content/translations/fr/developers/docs/blocks/index.md
  src/content/translations/fr/developers/docs/evm/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/docs/transactions/index.md
  src/content/translations/hu/developers/docs/blocks/index.md
  src/content/translations/hu/developers/docs/evm/index.md
  src/content/translations/hu/developers/docs/gas/index.md
  src/content/translations/hu/developers/docs/nodes-and-clients/index.md
  src/content/translations/hu/developers/docs/transactions/index.md
  src/content/translations/it/developers/docs/accounts/index.md
  src/content/translations/it/developers/docs/blocks/index.md
  src/content/translations/it/developers/docs/evm/index.md
  src/content/translations/it/developers/docs/gas/index.md
  src/content/translations/it/developers/docs/nodes-and-clients/index.md
  src/content/translations/it/developers/docs/transactions/index.md
  src/content/translations/pl/developers/docs/evm/index.md
  src/content/translations/pl/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/translations/ro/developers/docs/transactions/index.md
  src/content/translations/zh/developers/docs/gas/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4637 Update sharding date to ~2023
  src/content/eth2/shard-chains/index.md
  src/content/translations/bg/eth2/shard-chains/index.md
  src/content/translations/ca/eth2/shard-chains/index.md
  src/content/translations/de/eth2/shard-chains/index.md
  src/content/translations/el/eth2/shard-chains/index.md
  src/content/translations/es/eth2/shard-chains/index.md
  src/content/translations/fr/eth2/shard-chains/index.md
  src/content/translations/hi/eth2/shard-chains/index.md
  src/content/translations/hr/eth2/shard-chains/index.md
  src/content/translations/hu/eth2/shard-chains/index.md
  src/content/translations/it/eth2/shard-chains/index.md
  src/content/translations/ja/eth2/shard-chains/index.md
  src/content/translations/ml/eth2/shard-chains/index.md
  src/content/translations/pl/eth2/shard-chains/index.md
  src/content/translations/ro/eth2/shard-chains/index.md
  src/content/translations/ru/eth2/shard-chains/index.md
  src/content/translations/sl/eth2/shard-chains/index.md
  src/content/translations/tr/eth2/shard-chains/index.md
  src/content/translations/uk/eth2/shard-chains/index.md
  src/content/translations/zh/eth2/shard-chains/index.md
  src/intl/bg/page-eth2-index.json
  src/intl/ca/page-eth2-index.json
  src/intl/de/page-eth2-index.json
  src/intl/el/page-eth2-index.json
  src/intl/en/page-eth2-index.json
  src/intl/es/page-eth2-index.json
  src/intl/fr/page-eth2-index.json
  src/intl/hi/page-eth2-index.json
  src/intl/hr/page-eth2-index.json
  src/intl/hu/page-eth2-index.json
  src/intl/it/page-eth2-index.json
  src/intl/ja/page-eth2-index.json
  src/intl/ml/page-eth2-index.json
  src/intl/pl/page-eth2-index.json
  src/intl/ro/page-eth2-index.json
  src/intl/ru/page-eth2-index.json
  src/intl/sl/page-eth2-index.json
  src/intl/tr/page-eth2-index.json
  src/intl/uk/page-eth2-index.json
  src/intl/zh/page-eth2-index.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4302 English TimeToRead for Chinese Tutorials #4083
  gatsby-config.js
  package.json
  src/components/TutorialMetadata.js
  src/pages/developers/tutorials.js
  src/templates/tutorial.js
  yarn.lock
Labels: dependencies :package:, internal :house:

#4694 Add PoS FAQ link
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4708 Remove Arrow Glacier banner and update history
  src/components/Layout.js
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4735 update withdraws -> withdrawals
  src/intl/en/page-eth2-staking.json
Labels: review needed :eyes:

#4745 Spanish: Homepage updated
  src/data/translations.json
  src/intl/es/common.json
  src/intl/es/page-index.json
  src/pages/index.js
  src/utils/translations.js
Labels: content :fountain_pen:, translation :earth_africa:

#4723 Arabic: Homepage updated
  src/components/StatsBoxGrid.js
  src/intl/ar/ar.json
  src/intl/ar/common.json
  src/intl/ar/page-index.json
  src/pages/index.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4750 Add Architecture of a Web 3.0 application article
  src/content/developers/docs/dapps/index.md
  src/content/developers/docs/ethereum-stack/index.md
  src/content/developers/docs/web2-vs-web3/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4729 Add DAO card information in community/online.md
  src/components/Callout.js
  src/content/community/online/index.md
  src/templates/static.js
Labels: content :fountain_pen:, review needed :eyes:

#4761 Add EF job listings
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4599 Adjust codeHash explanation
  src/content/developers/docs/accounts/index.md
Labels: content :fountain_pen:

#4662 Sort meetup list
  src/components/Layout.js
  src/components/MeetupList.js
  src/content/community/online/index.md
  src/pages-conditional/eth.js
  src/pages-conditional/wallets/index.js
  src/pages/eth2/deposit-contract.js
  src/pages/eth2/get-involved/bug-bounty.js
  src/pages/get-eth.js
Labels: content :fountain_pen:, review needed :eyes:

#4681 Add crypto mining pool scam section to /security [Fixes #4655]
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4692 Fix typos in EVM developer docs
  src/content/developers/docs/evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4763 Adjust `relativePathStart` logic [Fixes #4710]
  gatsby-node.js
Labels: internal :house:

#4734 Add Web3.Career job board to get-involved page
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#3650 Add Ethereum energy consumption page
  src/content/energy_consumption/energy_use_per_transaction.png
  src/content/energy_consumption/index.md
Labels: content :fountain_pen:

#4728 Add translation support to MeetupList and UpcomingEventsList
  src/components/MeetupList.js
  src/components/UpcomingEventsList.js
  src/intl/en/page-community.json
Labels: review needed :eyes:

#4604 Refactor isMobile to separate function
  src/components/Layout.js
  src/components/StablecoinAccordion.js
  src/components/StablecoinBoxGrid.js
  src/components/Tooltip.js
  src/utils/isMobile.js
Labels: review needed :eyes:

#4769 Add Figment to the list of Ethereum APIs
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4754 update further reading to include A rollup-centric ethereum roadmap
  src/content/developers/docs/scaling/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#4776 Update energy consumption page
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/energy-consumption/energy_use_per_transaction.png
  src/content/energy-consumption/index.md
  src/intl/en/common.json
Labels: content :fountain_pen:, review needed :eyes:

#4764 Fix client images to use `gatsby-plugin-image` format
  src/pages/contributing/translation-program/acknowledgements.js
  src/pages/eth2/get-involved/index.js
  src/pages/stablecoins.js
Labels: content :fountain_pen:, review needed :eyes:

#4770 Remove outdated learn pages
  src/content/translations/ar/learn/index.md
  src/content/translations/bn/learn/index.md
  src/content/translations/cs/learn/index.md
  src/content/translations/es/learn/index.md
  src/content/translations/fr/learn/index.md
  src/content/translations/hu/learn/index.md
  src/content/translations/id/learn/index.md
  src/content/translations/it/learn/index.md
  src/content/translations/ja/learn/index.md
  src/content/translations/ko/learn/index.md
  src/content/translations/lt/learn/index.md
  src/content/translations/ml/learn/index.md
  src/content/translations/nb/learn/index.md
  src/content/translations/pt-br/learn/index.md
  src/content/translations/pt/learn/index.md
  src/content/translations/ro/learn/index.md
  src/content/translations/sl/learn/index.md
  src/content/translations/tr/learn/index.md
  src/content/translations/uk/learn/index.md
  src/content/translations/vi/learn/index.md
  src/content/translations/zh-tw/learn/index.md
  src/content/translations/zh/learn/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4773 Add citing article authors guidance to style-guide
  src/content/contributing/style-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4782 Add Calgary meetup to meetups list
  src/data/community-meetups.json
Labels: review needed :eyes:

#4779 Render StatsBoxGrid as a span [Fixes #4757]
  src/components/StatsBoxGrid.js
Labels: review needed :eyes:

#4777 Enforce sentence case on nav items
  src/intl/en/common.json
Labels: review needed :eyes:

#4775 Update translation guide
  src/content/contributing/translation-program/translation-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4719 Update suggest_wallet.md
  .github/ISSUE_TEMPLATE/suggest_wallet.md
Labels: tooling :wrench:

#4718 Fix grammar in calling-a-smart-contract-from-javascript tutorial
  src/content/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4717 fix grammar in logging-events-smart-contracts doc
  src/content/developers/tutorials/logging-events-smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4696 Fix stacking button elements in container [Fixes #4598]
  src/pages/stablecoins.js
Labels: content :fountain_pen:, review needed :eyes:, abandoned

#4689 docs: update Simplified Chinese for intro-to-ethereum[skip ci]
  src/content/translations/zh/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, proposal 🤔

#4709 Updating Ethereum-on-ARM Repo URL
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4787 Remove StatsBoxGrid
  src/pages/index.js
Labels: content :fountain_pen:, review needed :eyes:

#4788 Remove `gatsby-plugin-lodash`
  gatsby-config.js
  package.json
  yarn.lock
Labels: dependencies :package:, internal :house:

#4758 Support new report type from Crowdin for TranslationLeaderboard
  src/components/TranslationLeaderboard.js
  src/data/translation-reports/alltime-data.json
  src/data/translation-reports/month-data.json
  src/data/translation-reports/quarter-data.json
Labels: review needed :eyes:

#4785 Update Ethereumonarm URL
  src/content/translations/pl/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/ro/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/zh/developers/tutorials/run-node-raspberry-pi/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4789 Re-add StatsBoxGrid component
  src/pages/index.js
Labels: content :fountain_pen:, review needed :eyes:

#4790 Regenerate `yarn.lock`
  yarn.lock
Labels: dependencies :package:

#4794 Remove `useLegacyHomepage` flag from new languages
  src/data/translations.json
Labels: review needed :eyes:

#4795 v3.2.1
  package.json
Labels: dependencies :package:

#4796 Deploy v3.2.1
  package.json
  src/data/translations.json
Labels: review needed :eyes:, dependencies :package:

#4786 Add myetherwallet support on supported wallets
  src/content/community/support/index.md
Labels: content :fountain_pen:

#4805 Remove redundant link
  src/content/community/online/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4806 Crowdin export formatting fixes
  src/content/contributing/adding-developer-tools/index.md
  src/content/contributing/adding-exchanges/index.md
  src/content/contributing/adding-products/index.md
  src/content/contributing/content-resources/index.md
  src/content/defi/index.md
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/consensus-mechanisms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/dapps/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/oracles/index.md
  src/content/developers/docs/scaling/index.md
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/eth2/beacon-chain/index.md
  src/content/eth2/get-involved/staking-community-grants/index.md
  src/content/eth2/merge/index.md
  src/content/eth2/shard-chains/index.md
  src/content/governance/index.md
  src/content/nft/index.md
  src/content/security/index.md
  src/content/smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:, refactor ♻️

#4802 Remove HTML from json files
  src/intl/bg/page-developers-tutorials.json
  src/intl/bg/page-wallets-find-wallet.json
  src/intl/ca/page-developers-tutorials.json
  src/intl/ca/page-wallets-find-wallet.json
  src/intl/de/page-developers-tutorials.json
  src/intl/de/page-wallets-find-wallet.json
  src/intl/el/page-developers-tutorials.json
  src/intl/el/page-wallets-find-wallet.json
  src/intl/en/page-developers-tutorials.json
  src/intl/en/page-wallets-find-wallet.json
  src/intl/es/page-developers-tutorials.json
  src/intl/es/page-wallets-find-wallet.json
  src/intl/fr/page-developers-tutorials.json
  src/intl/fr/page-wallets-find-wallet.json
  src/intl/hi/page-developers-tutorials.json
  src/intl/hi/page-wallets-find-wallet.json
  src/intl/hr/page-developers-tutorials.json
  src/intl/hr/page-wallets-find-wallet.json
  src/intl/hu/page-developers-tutorials.json
  src/intl/hu/page-wallets-find-wallet.json
  src/intl/it/page-developers-tutorials.json
  src/intl/it/page-wallets-find-wallet.json
  src/intl/ja/page-developers-tutorials.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ml/page-developers-tutorials.json
  src/intl/ml/page-wallets-find-wallet.json
  src/intl/pl/page-developers-tutorials.json
  src/intl/pl/page-wallets-find-wallet.json
  src/intl/ro/page-developers-tutorials.json
  src/intl/ro/page-wallets-find-wallet.json
  src/intl/ru/page-developers-tutorials.json
  src/intl/ru/page-wallets-find-wallet.json
  src/intl/tr/page-developers-tutorials.json
  src/intl/tr/page-wallets-find-wallet.json
  src/intl/uk/page-developers-tutorials.json
  src/intl/uk/page-wallets-find-wallet.json
Labels: review needed :eyes:

#4801 Fix Typo: Incorrect range for uint112 in Tutorials/Uniswap V2
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4800 Fix punctuation in getting-started-with-ethereum tutorial
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4698 Add Keepers to the Documentation [Fixes #4477]
  src/content/developers/docs/oracles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4817 Update number of translators
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4797 Update eth price granularity
  src/components/StatsBoxGrid.js
Labels: review needed :eyes:

#4823 Grammatical corrections in energy-consumption doc
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4812 Slovenian "Use Ethereum" content bucket
  src/content/translations/sl/eth2/beacon-chain/index.md
  src/content/translations/sl/eth2/merge/index.md
  src/content/translations/sl/eth2/shard-chains/index.md
  src/intl/sl/page-dapps.json
  src/intl/sl/page-developers-index.json
  src/intl/sl/page-developers-learning-tools.json
  src/intl/sl/page-developers-local-environment.json
  src/intl/sl/page-eth.json
  src/intl/sl/page-eth2-get-involved-bug-bounty.json
  src/intl/sl/page-eth2-get-involved.json
  src/intl/sl/page-eth2-index.json
  src/intl/sl/page-eth2-staking.json
  src/intl/sl/page-eth2-vision.json
  src/intl/sl/page-get-eth.json
  src/intl/sl/page-languages.json
  src/intl/sl/page-stablecoins.json
  src/intl/sl/page-wallets-find-wallet.json
  src/intl/sl/page-wallets.json
  src/intl/sl/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4811 Romanian "Use Ethereum" content bucket
  src/content/translations/ro/eth2/beacon-chain/index.md
  src/content/translations/ro/eth2/merge/index.md
  src/content/translations/ro/eth2/shard-chains/index.md
  src/intl/ro/page-dapps.json
  src/intl/ro/page-developers-index.json
  src/intl/ro/page-developers-learning-tools.json
  src/intl/ro/page-developers-local-environment.json
  src/intl/ro/page-eth.json
  src/intl/ro/page-eth2-get-involved-bug-bounty.json
  src/intl/ro/page-eth2-get-involved.json
  src/intl/ro/page-eth2-index.json
  src/intl/ro/page-eth2-staking.json
  src/intl/ro/page-eth2-vision.json
  src/intl/ro/page-get-eth.json
  src/intl/ro/page-languages.json
  src/intl/ro/page-stablecoins.json
  src/intl/ro/page-wallets-find-wallet.json
  src/intl/ro/page-wallets.json
  src/intl/ro/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4810 Ukraine "Use Ethereum" content bucket
  src/content/translations/uk/eth2/beacon-chain/index.md
  src/content/translations/uk/eth2/merge/index.md
  src/content/translations/uk/eth2/shard-chains/index.md
  src/intl/uk/page-dapps.json
  src/intl/uk/page-developers-index.json
  src/intl/uk/page-developers-learning-tools.json
  src/intl/uk/page-developers-local-environment.json
  src/intl/uk/page-eth.json
  src/intl/uk/page-eth2-get-involved-bug-bounty.json
  src/intl/uk/page-eth2-get-involved.json
  src/intl/uk/page-eth2-index.json
  src/intl/uk/page-eth2-staking.json
  src/intl/uk/page-eth2-vision.json
  src/intl/uk/page-get-eth.json
  src/intl/uk/page-languages.json
  src/intl/uk/page-stablecoins.json
  src/intl/uk/page-wallets-find-wallet.json
  src/intl/uk/page-wallets.json
  src/intl/uk/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4809 Japanese "Use Ethereum" content bucket
  src/content/translations/ja/eth2/beacon-chain/index.md
  src/content/translations/ja/eth2/merge/index.md
  src/content/translations/ja/eth2/shard-chains/index.md
  src/intl/ja/page-dapps.json
  src/intl/ja/page-developers-index.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/ja/page-developers-local-environment.json
  src/intl/ja/page-eth.json
  src/intl/ja/page-eth2-get-involved-bug-bounty.json
  src/intl/ja/page-eth2-get-involved.json
  src/intl/ja/page-eth2-index.json
  src/intl/ja/page-eth2-staking.json
  src/intl/ja/page-eth2-vision.json
  src/intl/ja/page-get-eth.json
  src/intl/ja/page-languages.json
  src/intl/ja/page-stablecoins.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ja/page-wallets.json
  src/intl/ja/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4819 Fix buggy markdown link syntax
  src/content/translations/es/glossary/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/hu/glossary/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/zh/glossary/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4803 Refactor `summaryPoints` for use-cases
  gatsby-node.js
  src/content/dao/index.md
  src/content/defi/index.md
  src/content/nft/index.md
  src/templates/eth2.js
  src/templates/use-cases.js
  src/utils/getSummaryPoints.js
Labels: content :fountain_pen:, review needed :eyes:, internal :house:

#4832 remove 'Offchain Labs Arbitrum SCSC' from hybrid rollup solutions
  src/content/developers/docs/scaling/layer-2-rollups/index.md
  src/content/enterprise/index.md
  src/content/translations/es/developers/docs/layer-2-scaling/index.md
  src/content/translations/es/enterprise/index.md
  src/content/translations/fr/developers/docs/layer-2-scaling/index.md
  src/content/translations/fr/enterprise/index.md
  src/content/translations/hu/developers/docs/layer-2-scaling/index.md
  src/content/translations/hu/enterprise/index.md
  src/content/translations/it/developers/docs/layer-2-scaling/index.md
  src/content/translations/it/enterprise/index.md
  src/content/translations/pl/developers/docs/scaling/layer-2-rollups/index.md
  src/content/translations/pl/enterprise/index.md
  src/content/translations/ro/developers/docs/layer-2-scaling/index.md
  src/content/translations/ro/enterprise/index.md
  src/content/translations/zh/developers/docs/layer-2-scaling/index.md
  src/content/translations/zh/enterprise/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4816 Fix broken links
  src/content/developers/docs/programming-languages/dot-net/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/governance/index.md
  src/content/translations/ar/dot-net/index.md
  src/content/translations/ar/enterprise/index.md
  src/content/translations/bn/dot-net/index.md
  src/content/translations/bn/enterprise/index.md
  src/content/translations/cs/dot-net/index.md
  src/content/translations/cs/enterprise/index.md
  src/content/translations/de/dot-net/index.md
  src/content/translations/de/enterprise/index.md
  src/content/translations/es/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/fi/dot-net/index.md
  src/content/translations/fi/enterprise/index.md
  src/content/translations/fr/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/hu/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/id/dot-net/index.md
  src/content/translations/id/enterprise/index.md
  src/content/translations/it/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/ja/dot-net/index.md
  src/content/translations/ja/enterprise/index.md
  src/content/translations/ko/dot-net/index.md
  src/content/translations/ko/enterprise/index.md
  src/content/translations/lt/dot-net/index.md
  src/content/translations/lt/enterprise/index.md
  src/content/translations/ml/dot-net/index.md
  src/content/translations/ml/enterprise/index.md
  src/content/translations/nb/dot-net/index.md
  src/content/translations/nb/enterprise/index.md
  src/content/translations/pl/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/pt-br/dot-net/index.md
  src/content/translations/pt-br/enterprise/index.md
  src/content/translations/ro/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/se/dot-net/index.md
  src/content/translations/se/enterprise/index.md
  src/content/translations/sk/dot-net/index.md
  src/content/translations/sk/enterprise/index.md
  src/content/translations/tr/dot-net/index.md
  src/content/translations/tr/enterprise/index.md
  src/content/translations/uk/dot-net/index.md
  src/content/translations/uk/enterprise/index.md
  src/content/translations/vi/dot-net/index.md
  src/content/translations/vi/enterprise/index.md
  src/content/translations/zh-tw/dot-net/index.md
  src/content/translations/zh-tw/enterprise/index.md
  src/content/translations/zh/developers/docs/programming-languages/dot-net/index.md
  src/data/community-meetups.json
  src/pages/get-eth.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4807 Refactor `DocLink` component
  src/components/DocLink.js
  src/content/community/support/index.md
  src/content/dao/index.md
  src/content/glossary/index.md
  src/content/history/index.md
  src/content/security/index.md
  src/content/translations/es/glossary/index.md
  src/content/translations/es/history/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/fr/history/index.md
  src/content/translations/hu/glossary/index.md
  src/content/translations/hu/history/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/it/history/index.md
  src/content/translations/pl/glossary/index.md
  src/content/translations/pl/history/index.md
  src/content/translations/ro/history/index.md
  src/content/translations/zh/glossary/index.md
  src/content/translations/zh/history/index.md
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4822 Update definition of wallet in developer docs for accounts
  src/content/developers/docs/accounts/index.md
Labels: content :fountain_pen:, review needed :eyes:, blocked 🛑, proposal 🤔

#4722 Design: Redesign `TableOfContents`
  src/components/TableOfContents.js
  src/data/eth2-articles.js
Labels: content :fountain_pen:, review needed :eyes:

#4850 Add Vitalik's governance articles to Further Reading
  src/content/governance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4837 Czech: Homepage updated
  src/data/translations.json
  src/intl/cs/common.json
  src/intl/cs/cs.json
  src/intl/cs/page-index.json
Labels: review needed :eyes:

#4838 Finnish: Homepage updated
  src/data/translations.json
  src/intl/fi/common.json
  src/intl/fi/fi.json
  src/intl/fi/page-index.json
Labels: review needed :eyes:

#4839 French: Homepage updated
  src/data/translations.json
  src/intl/fr/common.json
  src/intl/fr/page-index.json
Labels: review needed :eyes:

#4840 Hindi: Homepage updated
  src/data/translations.json
  src/intl/hi/common.json
  src/intl/hi/page-index.json
Labels: review needed :eyes:

#4841 Igbo: Homepage updated
  src/data/translations.json
  src/intl/ig/common.json
  src/intl/ig/ig.json
  src/intl/ig/page-index.json
Labels: review needed :eyes:

#4842 Italian: Homepage updated
  src/data/translations.json
  src/intl/it/common.json
  src/intl/it/page-index.json
Labels: review needed :eyes:

#4843 Korean: Homepage updated
  src/data/translations.json
  src/intl/ko/common.json
  src/intl/ko/ko.json
  src/intl/ko/page-index.json
Labels: review needed :eyes:

#4844 Malayalam: Homepage updated
  src/data/translations.json
  src/intl/ml/common.json
  src/intl/ml/page-index.json
Labels: review needed :eyes:

#4845 Norwegian: Homepage updated
  src/data/translations.json
  src/intl/nb/common.json
  src/intl/nb/nb.json
  src/intl/nb/page-index.json
Labels: review needed :eyes:

#4846 Polish: Homepage updated
  src/data/translations.json
  src/intl/pl/common.json
  src/intl/pl/page-index.json
Labels: review needed :eyes:

#4836 Swahili: New language, homepage
  gatsby-node.js
  src/data/translations.json
  src/intl/en/common.json
  src/intl/sw/common.json
  src/intl/sw/page-index.json
Labels: review needed :eyes:, internal :house:

#4848 Swedish: Homepage updated
  src/data/translations.json
  src/intl/se/common.json
  src/intl/se/page-index.json
  src/intl/se/se.json
Labels: review needed :eyes:

#4849 Turkish: Homepage updated
  src/data/translations.json
  src/intl/tr/common.json
  src/intl/tr/page-index.json
Labels: review needed :eyes:

#4853 Syntax clean-up on tutorial
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/pl/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4857 Fixing typo of "testnests" to "testnet"
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4828 Show total translator amount on contributors page
  src/intl/en/page-contributing-translation-program-contributors.json
  src/pages/contributing/translation-program/contributors.js
Labels: review needed :eyes:

#4570 add skip link to main content button
  src/components/Layout.js
  src/components/SkipLink.js
  src/intl/en/common.json
Labels: content :fountain_pen:, review needed :eyes:, changes requested, a11y :wheelchair:

#4865 Updated with Edition 83 of the Ben Edgington's blog [temporarily fixes #3632]
  src/data/eth2-articles.js
Labels: review needed :eyes:

#4872 Chinese Simplified: Docs - Advanced
  src/content/translations/zh/developers/docs/layer-2-scaling/index.md
  src/content/translations/zh/developers/docs/mev/index.md
  src/content/translations/zh/developers/docs/oracles/index.md
  src/content/translations/zh/developers/docs/scaling/index.md
  src/content/translations/zh/developers/docs/scaling/layer-2-rollups/index.md
  src/content/translations/zh/developers/docs/scaling/plasma/index.md
  src/content/translations/zh/developers/docs/scaling/sidechains/index.md
  src/content/translations/zh/developers/docs/scaling/state-channels/index.md
  src/content/translations/zh/developers/docs/scaling/validium/index.md
  src/content/translations/zh/developers/docs/standards/index.md
  src/content/translations/zh/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/zh/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/zh/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/zh/developers/docs/standards/tokens/index.md
  src/content/translations/zh/developers/docs/transactions/index.md
  src/content/translations/zh/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4864 Chinese Simplified: Use Ethereum
  src/content/translations/zh/eth2/beacon-chain/index.md
  src/content/translations/zh/eth2/merge/index.md
  src/content/translations/zh/eth2/shard-chains/index.md
  src/intl/zh/page-dapps.json
  src/intl/zh/page-developers-index.json
  src/intl/zh/page-developers-learning-tools.json
  src/intl/zh/page-developers-local-environment.json
  src/intl/zh/page-eth.json
  src/intl/zh/page-eth2-deposit-contract.json
  src/intl/zh/page-eth2-get-involved-bug-bounty.json
  src/intl/zh/page-eth2-get-involved.json
  src/intl/zh/page-eth2-index.json
  src/intl/zh/page-eth2-staking.json
  src/intl/zh/page-eth2-vision.json
  src/intl/zh/page-get-eth.json
  src/intl/zh/page-languages.json
  src/intl/zh/page-stablecoins.json
  src/intl/zh/page-wallets-find-wallet.json
  src/intl/zh/page-wallets.json
  src/intl/zh/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4863 Chinese Simplified: Homepage
  src/data/translations.json
  src/intl/zh/common.json
  src/intl/zh/page-index.json
Labels: review needed :eyes:

#4869 Chinese Simplified: Docs - Tech Stack
  src/content/translations/zh/developers/docs/apis/backend/index.md
  src/content/translations/zh/developers/docs/apis/javascript/index.md
  src/content/translations/zh/developers/docs/apis/json-rpc/index.md
  src/content/translations/zh/developers/docs/blocks/index.md
  src/content/translations/zh/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/zh/developers/docs/data-and-analytics/index.md
  src/content/translations/zh/developers/docs/development-networks/index.md
  src/content/translations/zh/developers/docs/ethereum-stack/index.md
  src/content/translations/zh/developers/docs/frameworks/index.md
  src/content/translations/zh/developers/docs/ides/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
  src/content/translations/zh/developers/docs/programming-languages/delphi/index.md
  src/content/translations/zh/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/zh/developers/docs/programming-languages/golang/index.md
  src/content/translations/zh/developers/docs/programming-languages/index.md
  src/content/translations/zh/developers/docs/programming-languages/java/index.md
  src/content/translations/zh/developers/docs/programming-languages/javascript/index.md
  src/content/translations/zh/developers/docs/programming-languages/python/index.md
  src/content/translations/zh/developers/docs/programming-languages/rust/index.md
  src/content/translations/zh/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/zh/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/zh/developers/docs/smart-contracts/composability/index.md
  src/content/translations/zh/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/zh/developers/docs/smart-contracts/index.md
  src/content/translations/zh/developers/docs/smart-contracts/languages/index.md
  src/content/translations/zh/developers/docs/smart-contracts/libraries/index.md
  src/content/translations/zh/developers/docs/smart-contracts/security/index.md
  src/content/translations/zh/developers/docs/smart-contracts/testing/index.md
  src/content/translations/zh/developers/docs/standards/tokens/index.md
  src/content/translations/zh/developers/docs/storage/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4747 Malay: New language, homepage
  gatsby-node.js
  src/data/translations.json
  src/intl/en/common.json
  src/intl/ms/common.json
  src/intl/ms/page-index.json
  src/intl/ro/page-eth2-get-involved-bug-bounty.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, internal :house:

#4867 Chinese Simplified: Docs - Foundational
  src/content/translations/zh/developers/docs/accounts/index.md
  src/content/translations/zh/developers/docs/blocks/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/zh/developers/docs/dapps/index.md
  src/content/translations/zh/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/zh/developers/docs/evm/index.md
  src/content/translations/zh/developers/docs/gas/index.md
  src/content/translations/zh/developers/docs/index.md
  src/content/translations/zh/developers/docs/intro-to-ether/index.md
  src/content/translations/zh/developers/docs/intro-to-ethereum/index.md
  src/content/translations/zh/developers/docs/networks/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/zh/developers/docs/smart-contracts/index.md
  src/content/translations/zh/developers/docs/transactions/index.md
  src/content/translations/zh/developers/docs/web2-vs-web3/index.md
  src/intl/zh/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4866 Chinese Simplified: Use Cases
  src/content/translations/zh/about/index.md
  src/content/translations/zh/community/grants/index.md
  src/content/translations/zh/contributing/translation-program/index.md
  src/content/translations/zh/contributing/translation-program/translation-guide/index.md
  src/content/translations/zh/dao/index.md
  src/content/translations/zh/defi/index.md
  src/content/translations/zh/governance/index.md
  src/content/translations/zh/nft/index.md
  src/intl/zh/common.json
  src/intl/zh/page-about.json
  src/intl/zh/page-assets.json
  src/intl/zh/page-developers-index.json
  src/intl/zh/page-index.json
  src/intl/zh/page-languages.json
  src/intl/zh/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4870 Chinese Simplified: Learn Pages
  src/content/translations/zh/about/index.md
  src/content/translations/zh/eips/index.md
  src/content/translations/zh/enterprise/index.md
  src/content/translations/zh/enterprise/private-ethereum/index.md
  src/content/translations/zh/foundation/index.md
  src/content/translations/zh/glossary/index.md
  src/content/translations/zh/history/index.md
  src/intl/zh/page-assets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4835 Syntax adjustments
  src/components/Layout.js
  src/pages-conditional/eth.js
Labels: content :fountain_pen:, review needed :eyes:

#4847 Portuguese Brazilian: Content updated
  src/content/translations/pt-br/dapps/index.md
  src/content/translations/pt-br/eth/index.md
  src/content/translations/pt-br/eth2/beacon-chain/index.md
  src/content/translations/pt-br/eth2/merge/index.md
  src/content/translations/pt-br/eth2/shard-chains/index.md
  src/content/translations/pt-br/wallets/index.md
  src/content/translations/pt-br/what-is-ethereum/index.md
  src/data/translations.json
  src/intl/pt-br/common.json
  src/intl/pt-br/page-dapps.json
  src/intl/pt-br/page-developers-index.json
  src/intl/pt-br/page-developers-learning-tools.json
  src/intl/pt-br/page-developers-local-environment.json
  src/intl/pt-br/page-eth.json
  src/intl/pt-br/page-eth2-deposit-contract.json
  src/intl/pt-br/page-eth2-get-involved-bug-bounty.json
  src/intl/pt-br/page-eth2-get-involved.json
  src/intl/pt-br/page-eth2-index.json
  src/intl/pt-br/page-eth2-staking.json
  src/intl/pt-br/page-eth2-vision.json
  src/intl/pt-br/page-get-eth.json
  src/intl/pt-br/page-index.json
  src/intl/pt-br/page-languages.json
  src/intl/pt-br/page-stablecoins.json
  src/intl/pt-br/page-wallets-find-wallet.json
  src/intl/pt-br/page-wallets.json
  src/intl/pt-br/page-what-is-ethereum.json
  src/intl/pt-br/pt-br.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4854 Indonesian: Use Cases
  src/content/translations/id/community/grants/index.md
  src/content/translations/id/contributing/translation-program/index.md
  src/content/translations/id/contributing/translation-program/translation-guide/index.md
  src/content/translations/id/dao/index.md
  src/content/translations/id/defi/index.md
  src/content/translations/id/governance/index.md
  src/content/translations/id/nft/index.md
  src/intl/id/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4881 Fix indonesian broken images
  src/content/translations/id/contributing/translation-program/index.md
  src/content/translations/id/contributing/translation-program/translation-guide/index.md
  src/content/translations/id/nft/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4855 Japanese: Use Cases
  src/content/translations/ja/community/grants/index.md
  src/content/translations/ja/contributing/translation-program/index.md
  src/content/translations/ja/contributing/translation-program/translation-guide/index.md
  src/content/translations/ja/dao/index.md
  src/content/translations/ja/defi/index.md
  src/content/translations/ja/governance/index.md
  src/content/translations/ja/nft/index.md
  src/intl/ja/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4856 Slovenian: Use Cases
  src/content/translations/sl/community/grants/index.md
  src/content/translations/sl/contributing/translation-program/index.md
  src/content/translations/sl/contributing/translation-program/translation-guide/index.md
  src/content/translations/sl/dao/index.md
  src/content/translations/sl/defi/index.md
  src/content/translations/sl/governance/index.md
  src/content/translations/sl/nft/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4861 Website name spelling fixes
  src/intl/hu/page-about.json
  src/intl/ja/page-languages.json
  src/intl/zh/page-assets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4882 Broken link fixes
  src/content/translations/es/history/index.md
  src/content/translations/fr/history/index.md
  src/content/translations/it/history/index.md
  src/content/translations/pl/foundation/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4871 Chinese Simplified: Developer Tutorials
  src/content/translations/zh/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
  src/content/translations/zh/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/zh/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/zh/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/translations/zh/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/zh/developers/tutorials/guide-to-smart-contract-security-tools/index.md
  src/content/translations/zh/developers/tutorials/how-to-implement-an-erc721-market/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/zh/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/zh/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/zh/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/zh/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/zh/developers/tutorials/secure-development-workflow/index.md
  src/content/translations/zh/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/translations/zh/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/translations/zh/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/zh/developers/tutorials/testing-smart-contract-with-waffle/index.md
  src/content/translations/zh/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/zh/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/using-websockets/index.md
  src/content/translations/zh/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:
