Repository ethereum/ethereum-org-website, pull requests merged in 2021-04, with the labels that each got.

#2751 Refer to Layer 2 page for info
  src/content/learn/index.md
Labels: Status: Review Needed, Type: Content

#2639 Wallet card upgrade
  src/assets/wallets/coinbase.png
  src/assets/wallets/dharma.png
  src/assets/wallets/gnosis-safe.png
  src/assets/wallets/guarda.png
  src/assets/wallets/ledger.png
  src/assets/wallets/monolith.png
  src/assets/wallets/myetherwallet.png
  src/assets/wallets/portis.png
  src/assets/wallets/status.png
  src/assets/wallets/trezor.png
  src/components/Icon.js
  src/components/SharedStyledComponents.js
  src/components/WalletCard.js
  src/components/WalletCompare.js
  src/content/developers/docs/data-and-analytics/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/templates/static.js
Labels: Status: Review Needed, Type: Content

#2780 Gatsby migrate v3
  netlify.toml
  package.json
  src/content/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
  src/content/developers/tutorials/waffle-hello-world-with-buidler-tutorial/index.md
  src/content/translations/ro/developers/tutorials/waffle-hello-world-with-buidler-tutorial/index.md
  src/scripts/merge-translations.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Tooling, Type: Translation

#2788 Specify HTTPS on YT embeds [Fixes #2787]
  src/content/developers/docs/accounts/index.md
Labels: Status: Review Needed, Type: Bug, Type: Content

#2771 minor grammar correction
  src/content/developers/docs/web2-vs-web3/index.md
Labels: Status: Review Needed, Type: Content

#2759 Add call to contribute to bottom of issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Type: Tooling

#2763 Update index.md
  src/content/community/grants/index.md
Labels: Status: Review Needed, Type: Content

#2765 add conditional logic to onCreatePage hook to address TranslationBanner bug #2757
  gatsby-node.js
Labels: Type: Internal

#2773 Simplify Node/Client explanation
  src/content/developers/docs/nodes-and-clients/index.md
Labels: Status: Review Needed, Type: Content

#2774 missing code snippet in tutorial
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
Labels: Status: Review Needed, Type: Content

#2794 Removes live help section
  src/components/FeedbackCard.js
  src/components/Help.js
  src/components/Nav/Mobile.js
  src/components/Nav/index.js
  src/content/community/index.md
  src/templates/docs.js
  src/templates/static.js
Labels: Status: Review Needed, Type: Content

#2799 Update index.md
  src/content/developers/docs/standards/tokens/erc-20/index.md
Labels: Status: Review Needed, Type: Content

#2798 ensure nimbus in list of eth2 bounties
  src/intl/de/page-eth2-get-involved-bug-bounty.json
  src/intl/el/page-eth2-get-involved-bug-bounty.json
  src/intl/en/page-eth2-get-involved-bug-bounty.json
  src/intl/es/page-eth2-get-involved-bug-bounty.json
  src/intl/hi/page-eth2-get-involved-bug-bounty.json
  src/intl/hu/page-eth2-get-involved-bug-bounty.json
  src/intl/ro/page-eth2-get-involved-bug-bounty.json
Labels: Status: Review Needed

#2713 Client-side GitHub API calls
  package.json
  src/apollo.js
  src/components/FileContributors.js
  src/components/Layout.js
  src/content/translations/ro/developers/tutorials/Waffle-hello-world-with-buidler-tutorial/index.md
  src/content/translations/ro/developers/tutorials/waffle-hello-world-with-buidler-tutorial/index.md
  src/pages/developers/local-environment.js
  src/templates/docs.js
  src/templates/tutorial.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Translation

#2801 Adds link to Turkish docs
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: Status: Review Needed, Type: Content

#2803 fixed link to Grafana
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: Status: Review Needed, Type: Content

#2731 Animates hamburger menu into ETH glyph
  src/components/Nav/Mobile.js
Labels: Status: Review Needed

#2807 Add supported languages for Ethplorer
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: Status: Review Needed, Type: Content

#2811 Remove gatsby-source-graphql
  .env.example
  README.md
  gatsby-config.js
  package.json
  src/apollo.js
  src/components/ProductCard.js
  src/pages/developers/local-environment.js
  src/pages/eth2/get-involved/index.js
  yarn.lock
Labels: Status: Review Needed, Type: Dependencies, Type: Documentation, Type: Internal

#2814 Updates framer-motion package [Closes #2779]
  package.json
  yarn.lock
Labels: Type: Dependencies

#2805 Various edits in "Proof-of-Stake" webpage
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: Status: Review Needed, Type: Content

#2818 package upgrades
  package.json
  yarn.lock
Labels: Type: Dependencies

#2816 Add styling to links where the language is explicitly stated
  src/components/Link.js
Labels: Status: Review Needed

#2822 Deleting ERC-777 and ERC-1555
  src/content/developers/docs/standards/tokens/erc-20/index.md
Labels: Status: Review Needed, Type: Content

#2821 Delete ERC-777 and ERC-1555
  src/content/developers/docs/standards/tokens/erc-721/index.md
Labels: Status: Review Needed, Type: Content

#2829 fix whitespace issue (missing newline) in code snippet
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
Labels: Status: Review Needed, Type: Content, Type: Translation

#2832 Storj Spelling Mistake Fix
  src/content/developers/docs/storage/index.md
Labels: Status: Review Needed, Type: Content

#2837 Deploy v2.23.0
  .all-contributorsrc
  .env.example
  README.md
  gatsby-config.js
  package.json
  src/apollo.js
  src/components/Link.js
  src/components/Nav/Mobile.js
  src/components/ProductCard.js
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
  src/content/developers/docs/standards/tokens/erc-20/index.md
  src/content/developers/docs/standards/tokens/erc-721/index.md
  src/content/developers/docs/storage/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/pages/developers/local-environment.js
  src/pages/eth2/get-involved/index.js
  yarn.lock
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal, Type: Translation

#2860 Update index.md
  src/content/nft/index.md
Labels: Status: Review Needed, Type: Content

#2856 Adds Berlin upgrade to history page
  src/content/history/index.md
Labels: Status: Review Needed, Type: Content

#2852 Update Studio page content [Fixes #2851]
  src/pages/studio.js
Labels: Status: Review Needed, Type: Content

#2850 Upgrades Italian to v2.0, adds Croatian v2.0 [Closes #2845, Closes #2846]
  src/content/translations/hr/eth2/beacon-chain/index.md
  src/content/translations/hr/eth2/docking/index.md
  src/content/translations/hr/eth2/shard-chains/index.md
  src/content/translations/it/dapps/index.md
  src/content/translations/it/eth2/beacon-chain/index.md
  src/content/translations/it/eth2/docking/index.md
  src/content/translations/it/eth2/shard-chains/index.md
  src/content/translations/it/wallets/index.md
  src/content/translations/it/what-is-ethereum/index.md
  src/data/translations.json
  src/intl/en/common.json
  src/intl/hr/common.json
  src/intl/hr/page-about.json
  src/intl/hr/page-assets.json
  src/intl/hr/page-dapps.json
  src/intl/hr/page-developers-docs.json
  src/intl/hr/page-developers-index.json
  src/intl/hr/page-developers-learning-tools.json
  src/intl/hr/page-developers-local-environment.json
  src/intl/hr/page-developers-tutorials.json
  src/intl/hr/page-eth.json
  src/intl/hr/page-eth2-deposit-contract.json
  src/intl/hr/page-eth2-get-involved-bug-bounty.json
  src/intl/hr/page-eth2-get-involved.json
  src/intl/hr/page-eth2-index.json
  src/intl/hr/page-eth2-staking.json
  src/intl/hr/page-eth2-vision.json
  src/intl/hr/page-get-eth.json
  src/intl/hr/page-index.json
  src/intl/hr/page-languages.json
  src/intl/hr/page-stablecoins.json
  src/intl/hr/page-wallets-find-wallet.json
  src/intl/hr/page-wallets.json
  src/intl/hr/page-what-is-ethereum.json
  src/intl/it/common.json
  src/intl/it/it.json
  src/intl/it/page-about.json
  src/intl/it/page-assets.json
  src/intl/it/page-dapps.json
  src/intl/it/page-developers-docs.json
  src/intl/it/page-developers-index.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/it/page-developers-local-environment.json
  src/intl/it/page-developers-tutorials.json
  src/intl/it/page-eth.json
  src/intl/it/page-eth2-deposit-contract.json
  src/intl/it/page-eth2-get-involved-bug-bounty.json
  src/intl/it/page-eth2-get-involved.json
  src/intl/it/page-eth2-index.json
  src/intl/it/page-eth2-staking.json
  src/intl/it/page-eth2-vision.json
  src/intl/it/page-get-eth.json
  src/intl/it/page-languages.json
  src/intl/it/page-stablecoins.json
  src/intl/it/page-wallets-find-wallet.json
  src/intl/it/page-wallets.json
  src/intl/it/page-what-is-ethereum.json
Labels: Status: Review Needed, Type: Content, Type: Translation

#2847 Update jobs link to Ethereum section
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2844 Add redirect for old docking URL
  netlify.toml
Labels: Type: Tooling

#2838 Fixed minor typo
  src/content/developers/tutorials/erc20-annotated-code/index.md
Labels: Status: Review Needed, Type: Content

#2826 Fixing a typo
  src/content/developers/docs/standards/tokens/index.md
Labels: Status: Review Needed, Type: Content

#2866 Quick contents update [Contents update #2865]
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: Status: Review Needed, Type: Content

#2879 Fix typo in oracles/index.md
  src/content/developers/docs/oracles/index.md
Labels: Status: Review Needed, Type: Content

#2877 typo line 17: "fist" -> "first"
  src/content/developers/tutorials/deploying-your-first-smart-contract/index.md
Labels: Status: Review Needed, Type: Content

#2881 add snake cased method in python tutorial
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
Labels: Status: Review Needed, Type: Content

#2873 Update Serenity glossary term
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#2889 Fixing a typo
  src/content/enterprise/index.md
Labels: Status: Review Needed, Type: Content

#2896 Fixing EVM hyperlink
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: Status: Review Needed, Type: Content

#2834 Added aria-labels to icon links in footer
  src/components/Footer.js
  src/components/Link.js
Labels: Status: Review Needed

#2899 Add L2Beat & other L2 resources
  src/content/developers/docs/layer-2-scaling/index.md
Labels: Status: Review Needed, Type: Content

#2840 More complete description of zkRollups
  src/content/developers/docs/layer-2-scaling/index.md
Labels: Status: Review Needed, Type: Content

#2906 GitHub format
  README.md
Labels: Type: Documentation

#2734 ERC-721 Vyper Annotated Code
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
Labels: Status: Review Needed, Type: Content

#2897 Rename section to "What are smart contracts"
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: Status: Review Needed, Type: Content

#2898 Small grammar correction
  src/content/developers/docs/blocks/index.md
Labels: Status: Review Needed, Type: Content

#2900 Eth2 merge banner
  src/content/eth2/docking/index.md
  src/intl/en/page-eth2-index.json
  src/pages/eth2/index.js
  src/pages/eth2/vision.js
  src/templates/eth2.js
Labels: Status: Review Needed, Type: Content

#2908 Updates critical bug bounty copy
  src/intl/en/page-eth2-get-involved-bug-bounty.json
Labels: Status: Review Needed

#2913 Deploy v2.25.0
  .all-contributorsrc
  README.md
  package.json
  src/components/Footer.js
  src/components/Link.js
  src/content/community/index.md
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/layer-2-scaling/index.md
  src/content/developers/docs/oracles/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/enterprise/index.md
  src/content/eth2/docking/index.md
  src/content/glossary/index.md
  src/data/eth2-bounty-hunters.csv
  src/intl/en/page-eth2-get-involved-bug-bounty.json
  src/intl/en/page-eth2-index.json
  src/intl/en/page-stablecoins.json
  src/pages/eth2/index.js
  src/pages/eth2/vision.js
  src/templates/eth2.js
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal

#2921 Bounty patch [Fixes #2895]
  src/components/BugBountyCards.js
  src/intl/de/page-eth2-get-involved-bug-bounty.json
  src/intl/el/page-eth2-get-involved-bug-bounty.json
  src/intl/en/page-eth2-get-involved-bug-bounty.json
  src/intl/es/page-eth2-get-involved-bug-bounty.json
  src/intl/hi/page-eth2-get-involved-bug-bounty.json
  src/intl/hr/page-eth2-get-involved-bug-bounty.json
  src/intl/hu/page-eth2-get-involved-bug-bounty.json
  src/intl/it/page-eth2-get-involved-bug-bounty.json
  src/intl/ro/page-eth2-get-involved-bug-bounty.json
Labels: Status: Review Needed

#2920 Animates ExpandableCard
  src/components/ExpandableCard.js
Labels: Status: Review Needed

#2915 Update blockchain section
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: Status: Review Needed, Type: Content

#2924 Fixing grammar for page-dapps [Fixes #2892]
  src/intl/en/page-dapps.json
Labels: Status: Review Needed

#2925 Typo
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: Status: Review Needed, Type: Content

#2928 Change error message in example Token contract
  src/content/developers/docs/smart-contracts/anatomy/index.md
Labels: Status: Review Needed, Type: Content

#2930 Update to include link to Storj DCS Documentation
  src/content/developers/docs/storage/index.md
Labels: Status: Review Needed, Type: Content

#2931 Update index.md: Broken link for Ethereum Grants page
  src/content/community/index.md
Labels: Status: Review Needed, Type: Content

#2939 Deploy v2.25.1
  .all-contributorsrc
  README.md
  package.json
  src/components/BugBountyCards.js
  src/components/ExpandableCard.js
  src/content/community/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/smart-contracts/anatomy/index.md
  src/content/developers/docs/storage/index.md
  src/intl/de/page-eth2-get-involved-bug-bounty.json
  src/intl/el/page-eth2-get-involved-bug-bounty.json
  src/intl/en/page-dapps.json
  src/intl/en/page-eth2-get-involved-bug-bounty.json
  src/intl/es/page-eth2-get-involved-bug-bounty.json
  src/intl/hi/page-eth2-get-involved-bug-bounty.json
  src/intl/hr/page-eth2-get-involved-bug-bounty.json
  src/intl/hu/page-eth2-get-involved-bug-bounty.json
  src/intl/it/page-eth2-get-involved-bug-bounty.json
  src/intl/ro/page-eth2-get-involved-bug-bounty.json
Labels: Status: Review Needed, Type: Content, Type: Dependencies, Type: Documentation, Type: Internal

#2950 Fixing a typo
  src/content/glossary/index.md
Labels: Status: Review Needed, Type: Content

#2922 Dynamically display community events based on json file
  src/components/UpcomingEventsList.js
  src/content/community/index.md
  src/data/community-events.json
  src/templates/static.js
Labels: Status: Review Needed, Type: Content

#2946 Add London and Altair info
  src/content/history/index.md
Labels: Status: Review Needed, Type: Content

#2952 Bug fix ExpandableCard.js
  src/components/ExpandableCard.js
Labels: Status: Review Needed

#2942 docs: fix typos
  src/content/developers/docs/ethereum-stack/index.md
  src/content/developers/docs/oracles/index.md
  src/content/developers/docs/standards/tokens/erc-721/index.md
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/glossary/index.md
  src/content/history/index.md
  src/content/nft/index.md
Labels: Status: Review Needed, Type: Content

#2944 Update Metamask Wallet Data
  src/data/wallets.csv
Labels: Status: Review Needed

#2858 Fix mistranslations [Fix some ja translations #2857]
  src/intl/ja/ja.json
  src/intl/ja/page-developers-index.json
  src/intl/ja/page-index.json
Labels: Status: Review Needed
