Repository ethereum/ethereum-org-website, pull requests merged in 2022-11, with the labels that each got.

#8453 Patch: quiz answer
  src/data/quizzes/questionBank.ts
Labels: review needed :eyes:

#8455 Deploy v6.8.2
  package.json
  src/data/quizzes/questionBank.ts
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:, dependencies :package:

#8464 Update index.md
  src/content/developers/docs/scaling/optimistic-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8457 Fix fee explanation
  src/data/quizzes/questionBank.ts
Labels: review needed :eyes:

#8462 Add discv4/v5 note to Execution Discovery section
  src/content/developers/docs/networking-layer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8376 update energy consumption page
  src/components/EnergyConsumptionChart.tsx
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8472 Wording improvement on energy consumption page
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8452 Update erc-777 developer docs (French)
  src/content/translations/fr/developers/docs/standards/tokens/erc-777/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8395 accounts: remove example using deprecated namespace
  src/content/developers/docs/accounts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8480 Fix typo in online/index.md
  src/content/community/online/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8482 Patch: UAE flag emoji name
  src/data/community-meetups.json
Labels: review needed :eyes:

#8273 Add link to EF Research's AMA Series
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8286 add page on pos attack and defense
  src/content/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
  src/content/developers/docs/consensus-mechanisms/pos/attack-and-defense/reorg-schematic.png
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:

#8322 update yellow paper -> clarify memory types
  src/content/developers/tutorials/yellow-paper-evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8327 Fixed links for inactivity leak and correlation penalties on PoS page
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8402 EVM opcodes: Add a quick tip to resolve reading inconvenience
  src/content/developers/docs/evm/opcodes/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8434 Update index.md
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8436 Update index.md
  src/content/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8481 Update recommendations on Sepolia / Goerli usage
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8486 v6.9.0
  package.json
Labels: dependencies :package:

#8493 Update oracles developer docs (Chinese)
  src/content/translations/zh/developers/docs/oracles/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8489 correct spelling on Proof of Stake rewards page
  src/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7893 Refactor HorizontalCard for Chakra UI
  src/components/HorizontalCard.tsx
Labels: review needed :eyes:, chakra-migration

#8488 Deploy v6.9.0, v6.9.1
  .all-contributorsrc
  README.md
  package.json
  src/components/EnergyConsumptionChart.tsx
  src/components/GhostCard.tsx
  src/components/HorizontalCard.tsx
  src/content/community/get-involved/index.md
  src/content/community/online/index.md
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
  src/content/developers/docs/consensus-mechanisms/pos/attack-and-defense/reorg-schematic.png
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/developers/docs/evm/opcodes/index.md
  src/content/developers/docs/intro-to-ether/index.md
  src/content/developers/docs/networking-layer/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/docs/scaling/optimistic-rollups/index.md
  src/content/developers/docs/scaling/zk-rollups/index.md
  src/content/developers/tutorials/yellow-paper-evm/index.md
  src/content/energy-consumption/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/zh/developers/docs/oracles/index.md
  src/data/community-meetups.json
  src/data/developer-docs-links.yaml
  src/data/quizzes/questionBank.ts
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#8511 Add "-" to a link description for consistency
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8503 Remove dead link to Oasis SDK
  src/content/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8487 enhance(docs): specify execution clients
  src/content/developers/docs/evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8483 Update APR endpoint
  src/components/Staking/StakingStatsBox.tsx
  src/utils/calculateStakingRewards.ts
Labels: review needed :eyes:

#8428 Update erc-20 developer docs (French)
  src/content/translations/fr/developers/docs/standards/tokens/erc-20/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8477 Update quiz question: 'ETH is valuable because' answer explanations
  src/data/quizzes/questionBank.ts
Labels: review needed :eyes:

#8437 Add All That Node on list of Node-as-a-service
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8514 Remove broken Oasis links
  src/content/developers/docs/programming-languages/rust/index.md
  src/content/translations/de/developers/docs/programming-languages/rust/index.md
  src/content/translations/es/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/developers/docs/programming-languages/rust/index.md
  src/content/translations/hu/developers/docs/programming-languages/rust/index.md
  src/content/translations/id/developers/docs/programming-languages/rust/index.md
  src/content/translations/it/developers/docs/programming-languages/rust/index.md
  src/content/translations/pl/developers/docs/programming-languages/rust/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/rust/index.md
  src/content/translations/ro/developers/docs/programming-languages/rust/index.md
  src/content/translations/tr/developers/docs/programming-languages/rust/index.md
  src/content/translations/zh/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8520 Fix formatting on rewards and penalties page
  src/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8523 Add Balancer to dapps
  src/assets/dapps/balancer.png
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#8525 v6.9.2
  package.json
Labels: dependencies :package:

#8526 Deploy v6.9.2
  .all-contributorsrc
  README.md
  package.json
  src/assets/dapps/balancer.png
  src/components/Staking/StakingStatsBox.tsx
  src/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/developers/docs/evm/index.md
  src/content/developers/docs/mev/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/docs/programming-languages/rust/index.md
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/de/developers/docs/programming-languages/rust/index.md
  src/content/translations/es/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/hu/developers/docs/programming-languages/rust/index.md
  src/content/translations/id/developers/docs/programming-languages/rust/index.md
  src/content/translations/it/developers/docs/programming-languages/rust/index.md
  src/content/translations/pl/developers/docs/programming-languages/rust/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/rust/index.md
  src/content/translations/ro/developers/docs/programming-languages/rust/index.md
  src/content/translations/tr/developers/docs/programming-languages/rust/index.md
  src/content/translations/zh/developers/docs/programming-languages/rust/index.md
  src/data/quizzes/questionBank.ts
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.tsx
  src/utils/calculateStakingRewards.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#8530 Removed duplicate 'can'
  src/content/developers/docs/oracles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8433 Fix link overlay in `CardList`
  src/components/CardList.tsx
Labels: review needed :eyes:

#8501 convert the Pill component to Chakra
  src/components/Pill.tsx
Labels: review needed :eyes:

#8528 refactor(upgrade-status): implement `useColorModeValue`
  src/components/UpgradeStatus.tsx
Labels: review needed :eyes:

#8549 Fix unstyled links living in the JSON files [Fixes #8547]
  src/@chakra-ui/gatsby-plugin/styles.ts
Labels: review needed :eyes:

#8492 Add auditing services and bug bounty platforms to SC security page
  src/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8527 Adds source info for staking metrics
  src/components/Staking/StakingStatsBox.tsx
  src/components/StatsBoxGrid.tsx
Labels: review needed :eyes:

#8565 Fix `Pill` bg color
  src/components/Pill.tsx
Labels: review needed :eyes:

#8567 v6.9.3
  package.json
Labels: dependencies :package:

#8441 Update Matomo tracking eventValue for QuizWidget
  src/components/Quiz/QuizWidget.tsx
Labels: review needed :eyes:

#7724 Refactor VisuallyHidden component to use ChakraUI
  src/components/Layout.tsx
  src/components/VisuallyHidden.tsx
  src/components/ZenMode.tsx
Labels: review needed :eyes:, refactor ♻️, chakra-migration

#8359 Update German (de) Staking, Learn 2, and Contributing buckets
  src/content/translations/de/contributing/adding-exchanges/index.md
  src/content/translations/de/contributing/adding-layer-2s/index.md
  src/content/translations/de/contributing/adding-products/index.md
  src/content/translations/de/contributing/adding-staking-products/index.md
  src/content/translations/de/contributing/content-resources/index.md
  src/content/translations/de/contributing/design-principles/index.md
  src/content/translations/de/contributing/index.md
  src/content/translations/de/contributing/translation-program/index.md
  src/content/translations/de/contributing/translation-program/translators-guide/index.md
  src/content/translations/de/enterprise/index.md
  src/content/translations/de/enterprise/private-ethereum/index.md
  src/content/translations/de/foundation/index.md
  src/content/translations/de/glossary/index.md
  src/content/translations/de/history/index.md
  src/content/translations/de/staking/pools/index.md
  src/content/translations/de/staking/saas/index.md
  src/content/translations/de/staking/solo/index.md
  src/intl/de/page-about.json
  src/intl/de/page-assets.json
  src/intl/de/page-contributing-translation-program-acknowledgements.json
  src/intl/de/page-staking-deposit-contract.json
  src/intl/de/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8575 Use latest value from Beaconcha.in endpoint
  src/components/Staking/StakingStatsBox.tsx
Labels: review needed :eyes:

#8589 Fix closing link tag in Arabic translation file
  src/intl/ar/page-run-a-node.json
Labels: review needed :eyes:

#8588 remove ftx from get-eth
  src/assets/exchanges/ftx.png
  src/components/EthExchanges.tsx
  src/data/exchanges-by-country.csv
  src/data/layer-2/cex-layer-2-support.json
Labels: review needed :eyes:

#8591 Update template from `Staking` to `staking` in German md files
  src/content/translations/de/staking/pools/index.md
  src/content/translations/de/staking/saas/index.md
  src/content/translations/de/staking/solo/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8312 modify feedback widget behaviour
  src/components/FeedbackWidget.tsx
Labels: review needed :eyes:, hacktoberfest-accepted

#8443 Merge-related ETH issuance page adjustments
  src/content/upgrades/merge/issuance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8450 Add Hardhat+Solidity VSCode extension
  src/content/developers/docs/ides/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8459 Quiz: Make answer more precise
  src/data/quizzes/questionBank.ts
Labels: review needed :eyes:

#8521 Add context to testnets and re-order Goerli/Sepolia
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8594 Deploy v6.9.4
  package.json
  src/assets/exchanges/ftx.png
  src/components/EthExchanges.tsx
  src/components/FeedbackWidget.tsx
  src/components/Layout.tsx
  src/components/Quiz/QuizWidget.tsx
  src/components/Staking/StakingStatsBox.tsx
  src/components/VisuallyHidden.tsx
  src/components/ZenMode.tsx
  src/content/developers/docs/ides/index.md
  src/content/developers/docs/networks/index.md
  src/content/translations/de/contributing/adding-exchanges/index.md
  src/content/translations/de/contributing/adding-layer-2s/index.md
  src/content/translations/de/contributing/adding-products/index.md
  src/content/translations/de/contributing/adding-staking-products/index.md
  src/content/translations/de/contributing/content-resources/index.md
  src/content/translations/de/contributing/design-principles/index.md
  src/content/translations/de/contributing/index.md
  src/content/translations/de/contributing/translation-program/index.md
  src/content/translations/de/contributing/translation-program/translators-guide/index.md
  src/content/translations/de/enterprise/index.md
  src/content/translations/de/enterprise/private-ethereum/index.md
  src/content/translations/de/foundation/index.md
  src/content/translations/de/glossary/index.md
  src/content/translations/de/history/index.md
  src/content/translations/de/staking/pools/index.md
  src/content/translations/de/staking/saas/index.md
  src/content/translations/de/staking/solo/index.md
  src/content/upgrades/merge/issuance/index.md
  src/data/exchanges-by-country.csv
  src/data/layer-2/cex-layer-2-support.json
  src/data/quizzes/questionBank.ts
  src/intl/ar/page-run-a-node.json
  src/intl/de/page-about.json
  src/intl/de/page-assets.json
  src/intl/de/page-contributing-translation-program-acknowledgements.json
  src/intl/de/page-staking-deposit-contract.json
  src/intl/de/page-staking.json
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:

#7906 Update feedback components for Chakra
  src/@chakra-ui/gatsby-plugin/components/Button.ts
  src/assets/feedback-glyph.svg
  src/components/FeedbackCard.tsx
  src/components/FeedbackWidget.tsx
  src/components/Layout.tsx
  src/components/Nav/index.tsx
  src/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/energy-consumption/index.md
  src/content/translations/zh/developers/docs/oracles/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, chakra-migration

#8610 Remove old Merge Data Challenge grants link
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8600 Update the Coinbase Wallet data to correctly represent the state as of 11/15/2022
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#8595 post-merge gaps: rm banners, fix tutorials
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  src/content/developers/tutorials/run-light-node-geth/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8578 Add ETHMiami to community events
  src/data/community-events.json
Labels: review needed :eyes:

#8582 Update `TranslationChartImage` (Post Chakra Migration)
  src/components/TranslationChartImage.tsx
Labels: review needed :eyes:, chakra-migration

#8561 Fix typo on nodes and clients developer doc
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8560 Fix broken link on wallets page
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#8606 Fix feedback widget copy
  src/components/FeedbackWidget.tsx
Labels: review needed :eyes:

#8564 Remove broken link
  src/content/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8534 Fix broken links
  src/content/security/index.md
  src/content/translations/bn/wallets/index.md
  src/content/translations/ca/security/index.md
  src/content/translations/de/security/index.md
  src/content/translations/es/security/index.md
  src/content/translations/fa/security/index.md
  src/content/translations/fi/wallets/index.md
  src/content/translations/fr/security/index.md
  src/content/translations/id/security/index.md
  src/content/translations/it/security/index.md
  src/content/translations/ja/security/index.md
  src/content/translations/ko/security/index.md
  src/content/translations/lt/wallets/index.md
  src/content/translations/nb/wallets/index.md
  src/content/translations/nl/security/index.md
  src/content/translations/pt-br/security/index.md
  src/content/translations/ro/security/index.md
  src/content/translations/ru/security/index.md
  src/content/translations/sk/wallets/index.md
  src/content/translations/tr/security/index.md
  src/content/translations/uk/security/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8615 Update Dutch (nl) Homepage, Essentials, and Exploring buckets
  src/intl/nl/common.json
  src/intl/nl/page-dapps.json
  src/intl/nl/page-what-is-ethereum.json
Labels: review needed :eyes:

#8614 Update Chinese Simplified (zh) Homepage and Essentials bucket
  src/intl/zh/common.json
  src/intl/zh/page-what-is-ethereum.json
Labels: review needed :eyes:

#8655 Patch `zh` markdown link syntax
  src/content/translations/zh/history/index.md
  src/content/translations/zh/upgrades/merge/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8627 Update Italian (it) Learn pages 2 bucket
  src/content/translations/it/about/index.md
  src/content/translations/it/enterprise/index.md
  src/content/translations/it/enterprise/private-ethereum/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/it/history/index.md
  src/intl/it/page-assets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8626 Update Italian (it) Tutorials II bucket
  src/content/translations/it/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/it/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/translations/it/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/it/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/it/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/it/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  src/content/translations/it/developers/tutorials/nft-minter/index.md
  src/content/translations/it/developers/tutorials/reverse-engineering-a-contract/index.md
  src/content/translations/it/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/it/developers/tutorials/send-token-etherjs/index.md
  src/content/translations/it/developers/tutorials/testing-smart-contract-with-waffle/index.md
  src/content/translations/it/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/it/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8623 Update Portuguese Brazilian (pt-br) Homepage, Essentials, Exploring, Use Ethereum, Use case, and Staking buckets
  src/content/translations/pt-br/bridges/index.md
  src/content/translations/pt-br/dao/index.md
  src/content/translations/pt-br/decentralized-identity/index.md
  src/content/translations/pt-br/defi/index.md
  src/content/translations/pt-br/nft/index.md
  src/content/translations/pt-br/smart-contracts/index.md
  src/content/translations/pt-br/social-networks/index.md
  src/content/translations/pt-br/staking/pools/index.md
  src/content/translations/pt-br/staking/solo/index.md
  src/intl/pt-br/common.json
  src/intl/pt-br/page-dapps.json
  src/intl/pt-br/page-developers-index.json
  src/intl/pt-br/page-developers-learning-tools.json
  src/intl/pt-br/page-index.json
  src/intl/pt-br/page-languages.json
  src/intl/pt-br/page-layer-2.json
  src/intl/pt-br/page-run-a-node.json
  src/intl/pt-br/page-staking.json
  src/intl/pt-br/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8621 Update Russian (ru) Homepage, Essentials, and Exploring buckets
  src/content/translations/ru/nft/index.md
  src/intl/ru/common.json
  src/intl/ru/page-dapps.json
  src/intl/ru/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8619 Update Japanese (ja) Homepage, Essentials, Exploring, Use Ethereum, Use case, Staking, Learn pages, Upgrades, and Community buckets
  src/content/translations/ja/bridges/index.md
  src/content/translations/ja/community/events/index.md
  src/content/translations/ja/community/get-involved/index.md
  src/content/translations/ja/community/grants/index.md
  src/content/translations/ja/community/language-resources/index.md
  src/content/translations/ja/community/online/index.md
  src/content/translations/ja/community/support/index.md
  src/content/translations/ja/dao/index.md
  src/content/translations/ja/decentralized-identity/index.md
  src/content/translations/ja/defi/index.md
  src/content/translations/ja/eips/index.md
  src/content/translations/ja/energy-consumption/index.md
  src/content/translations/ja/governance/index.md
  src/content/translations/ja/nft/index.md
  src/content/translations/ja/security/index.md
  src/content/translations/ja/smart-contracts/index.md
  src/content/translations/ja/social-networks/index.md
  src/content/translations/ja/staking/pools/index.md
  src/content/translations/ja/staking/solo/index.md
  src/content/translations/ja/upgrades/beacon-chain/index.md
  src/content/translations/ja/upgrades/merge/index.md
  src/content/translations/ja/upgrades/sharding/index.md
  src/content/translations/ja/web3/index.md
  src/intl/ja/common.json
  src/intl/ja/page-community.json
  src/intl/ja/page-dapps.json
  src/intl/ja/page-developers-index.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/ja/page-developers-local-environment.json
  src/intl/ja/page-eth.json
  src/intl/ja/page-index.json
  src/intl/ja/page-languages.json
  src/intl/ja/page-layer-2.json
  src/intl/ja/page-run-a-node.json
  src/intl/ja/page-stablecoins.json
  src/intl/ja/page-staking.json
  src/intl/ja/page-upgrades-get-involved-bug-bounty.json
  src/intl/ja/page-upgrades-get-involved.json
  src/intl/ja/page-upgrades-index.json
  src/intl/ja/page-upgrades-vision.json
  src/intl/ja/page-upgrades.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ja/page-wallets.json
  src/intl/ja/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8644 Update Vietnamse (vi) homepage, essentials, exploring buckets
  src/content/translations/vi/nft/index.md
  src/intl/vi/common.json
  src/intl/vi/page-dapps.json
  src/intl/vi/page-eth.json
  src/intl/vi/page-get-eth.json
  src/intl/vi/page-index.json
  src/intl/vi/page-wallets-find-wallet.json
  src/intl/vi/page-wallets.json
  src/intl/vi/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8617 Update French (fr) Use Ethereum, Staking, Learn pages, Community, and Contributing buckets
  src/content/translations/fr/bridges/index.md
  src/content/translations/fr/community/events/index.md
  src/content/translations/fr/community/grants/index.md
  src/content/translations/fr/community/online/index.md
  src/content/translations/fr/contributing/translation-program/index.md
  src/content/translations/fr/dao/index.md
  src/content/translations/fr/energy-consumption/index.md
  src/content/translations/fr/governance/index.md
  src/content/translations/fr/security/index.md
  src/intl/fr/page-developers-learning-tools.json
  src/intl/fr/page-layer-2.json
  src/intl/fr/page-run-a-node.json
  src/intl/fr/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8616 Update Finnish (fi) Essentials bucket
  src/content/translations/fi/eth/index.md
  src/content/translations/fi/wallets/index.md
  src/content/translations/fi/what-is-ethereum/index.md
  src/intl/fi/page-eth.json
  src/intl/fi/page-get-eth.json
  src/intl/fi/page-wallets-find-wallet.json
  src/intl/fi/page-wallets.json
  src/intl/fi/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8657 v6.10.0
  package.json
Labels: dependencies :package:

#8669 Update translation stats and pageviews chart
  src/assets/translation-program/pageviews-dark.png
  src/assets/translation-program/pageviews-light.png
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8445 Refactor: Use `AspectRatio` in `Youtube` component
  src/@chakra-ui/gatsby-plugin/styles.ts
  src/components/YouTube.tsx
Labels: review needed :eyes:, chakra-migration

#8506 refactor(footer): migrate component to Chakra
  src/components/Footer.tsx
Labels: review needed :eyes:, chakra-migration

#8672 nft page: link out to energy consumption page
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8670 Added MetaMask grants and removed Consensys grants
  src/content/community/grants/index.md
  src/content/translations/ca/community/grants/index.md
  src/content/translations/it/community/grants/index.md
  src/content/translations/nl/community/grants/index.md
  src/content/translations/ro/community/grants/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8661 Update Farsi (fa) Staking bucket
  src/content/translations/fa/staking/pools/index.md
  src/content/translations/fa/staking/saas/index.md
  src/content/translations/fa/staking/solo/index.md
  src/intl/fa/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8659 Update Farsi (fa) Homepage bucket
  src/intl/fa/common.json
Labels: review needed :eyes:

#8660 Update Farsi (fa) Exploring bucket
  src/content/translations/fa/nft/index.md
  src/intl/fa/page-dapps.json
  src/intl/fa/page-stablecoins.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8656 Add sharding resources [#6590]
  src/components/ShardChainsList.tsx
  src/intl/en/page-upgrades-index.json
Labels: review needed :eyes:

#8651 Update Korean (ko) Essentials bucket
  src/intl/ko/page-eth.json
  src/intl/ko/page-wallets.json
  src/intl/ko/page-what-is-ethereum.json
Labels: review needed :eyes:

#8650 Add Tamil (ta) language and Homepage bucket
  i18n/config.json
  src/intl/en/common.json
  src/intl/ta/common.json
  src/intl/ta/page-index.json
  src/scripts/crowdin-import.ts
  src/utils/languages.ts
Labels: review needed :eyes:, tooling :wrench:

#8646 Update Thai (th) Homepage bucket
  src/intl/th/common.json
  src/intl/th/page-index.json
Labels: review needed :eyes:

#8634 Update German (de) Homepage, Essentials, Exploring, Use Ethereum, Staking, Learn pages, and Community buckets
  src/content/translations/de/bridges/index.md
  src/content/translations/de/community/events/index.md
  src/content/translations/de/community/grants/index.md
  src/content/translations/de/community/online/index.md
  src/content/translations/de/community/support/index.md
  src/content/translations/de/decentralized-identity/index.md
  src/content/translations/de/defi/index.md
  src/content/translations/de/energy-consumption/index.md
  src/content/translations/de/governance/index.md
  src/content/translations/de/nft/index.md
  src/content/translations/de/security/index.md
  src/content/translations/de/smart-contracts/index.md
  src/content/translations/de/social-networks/index.md
  src/content/translations/de/staking/pools/index.md
  src/content/translations/de/staking/saas/index.md
  src/content/translations/de/staking/solo/index.md
  src/content/translations/de/web3/index.md
  src/intl/de/common.json
  src/intl/de/page-community.json
  src/intl/de/page-dapps.json
  src/intl/de/page-eth.json
  src/intl/de/page-get-eth.json
  src/intl/de/page-index.json
  src/intl/de/page-stablecoins.json
  src/intl/de/page-staking.json
  src/intl/de/page-wallets.json
  src/intl/de/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8618 Update Spanish (es) Homepage, Essentials, Exploring, Use case, and Staking buckets
  src/content/translations/es/decentralized-identity/index.md
  src/content/translations/es/defi/index.md
  src/content/translations/es/nft/index.md
  src/content/translations/es/smart-contracts/index.md
  src/content/translations/es/social-networks/index.md
  src/content/translations/es/staking/pools/index.md
  src/content/translations/es/staking/saas/index.md
  src/content/translations/es/staking/solo/index.md
  src/intl/es/common.json
  src/intl/es/page-dapps.json
  src/intl/es/page-index.json
  src/intl/es/page-staking.json
  src/intl/es/page-wallets.json
  src/intl/es/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8645 Update Turkish (tr) Homepage, Essentials, Exploring, Use case, and Staking buckets
  src/content/translations/tr/defi/index.md
  src/content/translations/tr/nft/index.md
  src/content/translations/tr/smart-contracts/index.md
  src/content/translations/tr/staking/pools/index.md
  src/intl/tr/common.json
  src/intl/tr/page-dapps.json
  src/intl/tr/page-staking.json
  src/intl/tr/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8694 Update Farsi (fa) community bucket
  src/content/translations/fa/community/events/index.md
  src/content/translations/fa/community/get-involved/index.md
  src/content/translations/fa/community/online/index.md
  src/content/translations/fa/community/support/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8579 Update `DocLink` component (Post Chakra)
  src/components/DocLink.tsx
Labels: review needed :eyes:, chakra-migration

#8693 Update Hindi (hi) Homepage, Essentials, and Exploring buckets
  src/content/translations/hi/nft/index.md
  src/intl/hi/common.json
  src/intl/hi/page-dapps.json
  src/intl/hi/page-eth.json
  src/intl/hi/page-get-eth.json
  src/intl/hi/page-index.json
  src/intl/hi/page-wallets.json
  src/intl/hi/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8629 Update markdown checker script
  src/scripts/markdown-checker.js
Labels: review needed :eyes:, tooling :wrench:

#8679 Refactor: Migrate `StakingProductsCardGrid` to Chakra
  src/components/Staking/StakingProductsCardGrid.tsx
Labels: review needed :eyes:, high priority, chakra-migration

#8730 modified StakingProductsCardGrid.tsx
  src/components/Staking/StakingProductsCardGrid.tsx
Labels: review needed :eyes:

#8592 i18n lib change - use htmr to parse html inside json files #8585
  package.json
  src/components/FeedbackCard.tsx
  src/components/Staking/StakingHierarchy.tsx
  src/components/Staking/StakingHowSoloWorks.tsx
  src/components/Translation.tsx
  src/pages-conditional/what-is-ethereum.tsx
  src/pages/layer-2.tsx
  src/pages/run-a-node.tsx
  src/pages/staking/index.tsx
  src/pages/upgrades/vision.tsx
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#8736 Deploy v6.10.2
  .all-contributorsrc
  README.md
  package.json
  src/components/Staking/StakingProductsCardGrid.tsx
  src/content/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#8756 Create index.md
  src/content/guides/cancel-scam-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8754 Upped score for Chainsecurity
  src/data/execution-bounty-hunters.csv
Labels: review needed :eyes:

#8752 Use systemic rather than systematic
  src/content/developers/docs/bridges/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8743 fix broken link to eth-docker.net
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8728 Add NFTPort to backend APIs
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8713 various post-merge cleanup items
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/consensus-mechanisms/pos/weak-subjectivity/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashimoto/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8714 fix incorrect info in glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8688 Update broken Mamba links
  src/content/translations/de/developers/docs/programming-languages/python/index.md
  src/content/translations/es/developers/docs/programming-languages/python/index.md
  src/content/translations/fr/developers/docs/programming-languages/python/index.md
  src/content/translations/hu/developers/docs/programming-languages/python/index.md
  src/content/translations/id/developers/docs/programming-languages/python/index.md
  src/content/translations/it/developers/docs/programming-languages/python/index.md
  src/content/translations/pl/developers/docs/programming-languages/python/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/python/index.md
  src/content/translations/ro/developers/docs/programming-languages/python/index.md
  src/content/translations/tr/developers/docs/programming-languages/python/index.md
  src/content/translations/zh/developers/docs/programming-languages/python/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8760 Fix broken Ethdocker link (Italian and Chinese)
  src/content/translations/it/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8719 Fix spelling of Ethereum
  src/intl/en/page-upgrades-index.json
Labels: bug :bug:, review needed :eyes:

#8573 Fix error on send ether tokens tutorial (Chinese simplified) [Fixes #8571]
  src/content/translations/zh/developers/tutorials/send-token-etherjs/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8673 Migrate Tabs to Chakra
  src/@chakra-ui/gatsby-plugin/components/Tabs.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/components/Tabs.tsx
Labels: review needed :eyes:, chakra-migration

#8572 refactor: migrate expandable card to chakra
  src/components/ExpandableCard.tsx
Labels: review needed :eyes:, chakra-migration

#8602 Refactor `SkipLink.tsx` component to use ChakraUI
  src/components/SkipLink.tsx
Labels: review needed :eyes:, chakra-migration

#8707 Update Thai (th) Essentials bucket
  src/intl/th/page-eth.json
  src/intl/th/page-wallets.json
  src/intl/th/page-what-is-ethereum.json
Labels: review needed :eyes:

#8712 Update Russian (ru) Community bucket
  src/content/translations/ru/community/events/index.md
  src/content/translations/ru/community/get-involved/index.md
  src/content/translations/ru/community/grants/index.md
  src/content/translations/ru/community/language-resources/index.md
  src/content/translations/ru/community/online/index.md
  src/content/translations/ru/community/support/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8770 fix unit in energy chart
  src/intl/en/page-what-is-ethereum.json
Labels: review needed :eyes:

#8641 Breadcrumbs.tsx Refactor
  src/components/Breadcrumbs.tsx
Labels: review needed :eyes:, chakra-migration

#8710 Update French (fr) Upgrades and Learn pages 2 buckets
  src/content/translations/fr/eips/index.md
  src/content/translations/fr/enterprise/index.md
  src/content/translations/fr/enterprise/private-ethereum/index.md
  src/content/translations/fr/foundation/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/fr/history/index.md
  src/content/translations/fr/upgrades/beacon-chain/index.md
  src/content/translations/fr/upgrades/merge/index.md
  src/content/translations/fr/upgrades/sharding/index.md
  src/intl/fr/page-about.json
  src/intl/fr/page-assets.json
  src/intl/fr/page-upgrades-get-involved-bug-bounty.json
  src/intl/fr/page-upgrades-index.json
  src/intl/fr/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8684 Convert tooltip component to chakra UI
  src/components/StablecoinBoxGrid.tsx
  src/components/Tooltip.tsx
Labels: review needed :eyes:, chakra-migration

#8529 Refactor `Leaderboard` (Post Chakra Migration)
  src/components/Leaderboard.tsx
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
Labels: review needed :eyes:, chakra-migration

#8775 Fix broken Emoji components on history page
  src/content/translations/de/history/index.md
  src/content/translations/fr/history/index.md
  src/content/translations/it/history/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, high priority
