Repository ethereum/ethereum-org-website, pull requests merged in 2022-05, with the labels that each got.

#6185 id: Fix typo in glossary/index.md
  src/content/translations/id/glossary/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6184 Minor formatting changes (dapps developer doc)
  src/content/developers/docs/dapps/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6181 docs: Fix outdated links for UniswapV2Router documentation
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/id/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/it/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/ro/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/zh/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6177 Fix upcoming events date
  src/data/community-events.json
Labels: review needed :eyes:

#6079 fix: theme-toggler icon
  src/components/Nav/index.js
Labels: review needed :eyes:

#6113 Update: Chinese translation files Tech Stack
  src/content/translations/zh/developers/docs/apis/backend/index.md
  src/content/translations/zh/developers/docs/apis/javascript/index.md
  src/content/translations/zh/developers/docs/apis/json-rpc/index.md
  src/content/translations/zh/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/zh/developers/docs/data-and-analytics/index.md
  src/content/translations/zh/developers/docs/development-networks/index.md
  src/content/translations/zh/developers/docs/ethereum-stack/index.md
  src/content/translations/zh/developers/docs/frameworks/index.md
  src/content/translations/zh/developers/docs/ides/index.md
  src/content/translations/zh/developers/docs/programming-languages/dart/index.md
  src/content/translations/zh/developers/docs/programming-languages/delphi/index.md
  src/content/translations/zh/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/zh/developers/docs/programming-languages/golang/index.md
  src/content/translations/zh/developers/docs/programming-languages/index.md
  src/content/translations/zh/developers/docs/programming-languages/java/index.md
  src/content/translations/zh/developers/docs/programming-languages/javascript/index.md
  src/content/translations/zh/developers/docs/programming-languages/python/index.md
  src/content/translations/zh/developers/docs/programming-languages/ruby/index.md
  src/content/translations/zh/developers/docs/programming-languages/rust/index.md
  src/content/translations/zh/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/zh/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/zh/developers/docs/smart-contracts/composability/index.md
  src/content/translations/zh/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/zh/developers/docs/smart-contracts/index.md
  src/content/translations/zh/developers/docs/smart-contracts/languages/index.md
  src/content/translations/zh/developers/docs/smart-contracts/libraries/index.md
  src/content/translations/zh/developers/docs/smart-contracts/security/index.md
  src/content/translations/zh/developers/docs/smart-contracts/testing/index.md
  src/content/translations/zh/developers/docs/storage/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6114 Update: French translation files Tech Stack
  src/content/translations/fr/developers/docs/apis/backend/index.md
  src/content/translations/fr/developers/docs/apis/javascript/index.md
  src/content/translations/fr/developers/docs/apis/json-rpc/index.md
  src/content/translations/fr/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/fr/developers/docs/data-and-analytics/index.md
  src/content/translations/fr/developers/docs/development-networks/index.md
  src/content/translations/fr/developers/docs/ethereum-stack/index.md
  src/content/translations/fr/developers/docs/frameworks/index.md
  src/content/translations/fr/developers/docs/ides/index.md
  src/content/translations/fr/developers/docs/programming-languages/dart/index.md
  src/content/translations/fr/developers/docs/programming-languages/delphi/index.md
  src/content/translations/fr/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/fr/developers/docs/programming-languages/golang/index.md
  src/content/translations/fr/developers/docs/programming-languages/index.md
  src/content/translations/fr/developers/docs/programming-languages/java/index.md
  src/content/translations/fr/developers/docs/programming-languages/javascript/index.md
  src/content/translations/fr/developers/docs/programming-languages/python/index.md
  src/content/translations/fr/developers/docs/programming-languages/ruby/index.md
  src/content/translations/fr/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/fr/developers/docs/smart-contracts/composability/index.md
  src/content/translations/fr/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/fr/developers/docs/smart-contracts/index.md
  src/content/translations/fr/developers/docs/smart-contracts/languages/index.md
  src/content/translations/fr/developers/docs/smart-contracts/security/index.md
  src/content/translations/fr/developers/docs/smart-contracts/testing/index.md
  src/content/translations/fr/developers/docs/storage/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6115 Update: Portuguese Brazilian translation files Tech Stack
  src/content/translations/pt-br/developers/docs/apis/backend/index.md
  src/content/translations/pt-br/developers/docs/apis/javascript/index.md
  src/content/translations/pt-br/developers/docs/apis/json-rpc/index.md
  src/content/translations/pt-br/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/pt-br/developers/docs/data-and-analytics/index.md
  src/content/translations/pt-br/developers/docs/development-networks/index.md
  src/content/translations/pt-br/developers/docs/ethereum-stack/index.md
  src/content/translations/pt-br/developers/docs/frameworks/index.md
  src/content/translations/pt-br/developers/docs/ides/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/dart/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/delphi/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/golang/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/java/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/javascript/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/python/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/ruby/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/rust/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/composability/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/languages/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/libraries/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/security/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/testing/index.md
  src/content/translations/pt-br/developers/docs/storage/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6200 fix typo under "MetaMask" description
  src/intl/en/page-wallets-find-wallet.json
Labels: review needed :eyes:

#6201 fix template string bug for l2 stats
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#6106 Update: Farsi translation files Foundational Docs
  src/content/translations/fa/developers/docs/accounts/index.md
  src/content/translations/fa/developers/docs/blocks/index.md
  src/content/translations/fa/developers/docs/consensus-mechanisms/index.md
  src/content/translations/fa/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/fa/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/fa/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/fa/developers/docs/dapps/index.md
  src/content/translations/fa/developers/docs/evm/index.md
  src/content/translations/fa/developers/docs/gas/index.md
  src/content/translations/fa/developers/docs/index.md
  src/content/translations/fa/developers/docs/intro-to-ether/index.md
  src/content/translations/fa/developers/docs/intro-to-ethereum/index.md
  src/content/translations/fa/developers/docs/networks/index.md
  src/content/translations/fa/developers/docs/nodes-and-clients/index.md
  src/content/translations/fa/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/fa/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/fa/developers/docs/transactions/index.md
  src/content/translations/fa/developers/docs/web2-vs-web3/index.md
  src/intl/fa/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6108 Update: Indonesian translation files Foundational Docs
  src/content/translations/id/developers/docs/accounts/index.md
  src/content/translations/id/developers/docs/blocks/index.md
  src/content/translations/id/developers/docs/consensus-mechanisms/index.md
  src/content/translations/id/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/id/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/id/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/id/developers/docs/dapps/index.md
  src/content/translations/id/developers/docs/evm/index.md
  src/content/translations/id/developers/docs/gas/index.md
  src/content/translations/id/developers/docs/index.md
  src/content/translations/id/developers/docs/intro-to-ether/index.md
  src/content/translations/id/developers/docs/intro-to-ethereum/index.md
  src/content/translations/id/developers/docs/networks/index.md
  src/content/translations/id/developers/docs/nodes-and-clients/index.md
  src/content/translations/id/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/id/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/id/developers/docs/transactions/index.md
  src/content/translations/id/developers/docs/web2-vs-web3/index.md
  src/intl/id/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6111 Update: Spanish translation files Foundational Docs
  src/content/translations/es/developers/docs/accounts/index.md
  src/content/translations/es/developers/docs/blocks/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/es/developers/docs/dapps/index.md
  src/content/translations/es/developers/docs/evm/index.md
  src/content/translations/es/developers/docs/gas/index.md
  src/content/translations/es/developers/docs/index.md
  src/content/translations/es/developers/docs/intro-to-ether/index.md
  src/content/translations/es/developers/docs/intro-to-ethereum/index.md
  src/content/translations/es/developers/docs/networks/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/es/developers/docs/transactions/index.md
  src/content/translations/es/developers/docs/web2-vs-web3/index.md
  src/intl/es/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6110 Update: Romanian translation files Foundational Docs
  src/content/translations/ro/developers/docs/accounts/index.md
  src/content/translations/ro/developers/docs/blocks/index.md
  src/content/translations/ro/developers/docs/consensus-mechanisms/index.md
  src/content/translations/ro/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/ro/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/ro/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/ro/developers/docs/dapps/index.md
  src/content/translations/ro/developers/docs/evm/index.md
  src/content/translations/ro/developers/docs/gas/index.md
  src/content/translations/ro/developers/docs/index.md
  src/content/translations/ro/developers/docs/intro-to-ether/index.md
  src/content/translations/ro/developers/docs/intro-to-ethereum/index.md
  src/content/translations/ro/developers/docs/networks/index.md
  src/content/translations/ro/developers/docs/nodes-and-clients/index.md
  src/content/translations/ro/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/ro/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/ro/developers/docs/transactions/index.md
  src/content/translations/ro/developers/docs/web2-vs-web3/index.md
  src/intl/ro/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6198 Updated the list of EIP Editors
  src/content/eips/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6195 dev/networks: update public testnets
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6192 docs: Fixes the anchor tag for ABI link
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6205 Fix typo on layer 2 page
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#6191 docs: add a tutorial
  src/content/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6189 Fix spelling of Ethereum in translations
  src/content/translations/hr/upgrades/beacon-chain/index.md
  src/content/translations/id/developers/docs/standards/index.md
  src/content/translations/pl/developers/docs/intro-to-ethereum/index.md
  src/content/translations/pl/enterprise/index.md
  src/content/translations/ru/security/index.md
  src/content/translations/sl/governance/index.md
  src/content/translations/zh-tw/what-is-ethereum/index.md
  src/content/translations/zh/developers/docs/apis/javascript/index.md
  src/intl/az/common.json
  src/intl/ca/page-upgrades-index.json
  src/intl/de/page-upgrades-index.json
  src/intl/id/page-upgrades-get-involved-bug-bounty.json
  src/intl/ja/page-index.json
  src/intl/lt/page-index.json
  src/intl/sr/common.json
  src/intl/zh/page-languages.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6175 Added DataHub under the "Popular node services" section on "Nodes and clients" page.
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6073 Fix period typo
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6070 Add ID for staking product card map
  src/components/Staking/StakingProductsCardGrid.js
Labels: review needed :eyes:

#6067 Fixed EthFans' link
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6215 Updated index.md [Dev/Docs/Scaling/Zk-Rollups]
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6214 Updated index.md [Dev/Docs/Scaling/State Channels]
  src/content/developers/docs/scaling/state-channels/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6167 Reword EVM section on ethereum stack page (Chinese)
  src/content/translations/zh/developers/docs/ethereum-stack/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6123 Update: Romanian translation files Learn Pages
  src/content/translations/ro/about/index.md
  src/content/translations/ro/enterprise/index.md
  src/content/translations/ro/enterprise/private-ethereum/index.md
  src/content/translations/ro/foundation/index.md
  src/content/translations/ro/glossary/index.md
  src/content/translations/ro/history/index.md
  src/intl/ro/page-about.json
  src/intl/ro/page-assets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6122 Update: Indonesian translation files Learn Pages
  src/content/translations/id/enterprise/index.md
  src/content/translations/id/glossary/index.md
  src/content/translations/id/history/index.md
  src/intl/id/page-assets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6103 Update: Russian translation files Community
  src/content/translations/ru/community/events/index.md
  src/content/translations/ru/community/get-involved/index.md
  src/content/translations/ru/community/grants/index.md
  src/content/translations/ru/community/language-resources/index.md
  src/content/translations/ru/community/support/index.md
  src/intl/ru/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6105 Update: Turkish translation files Community
  src/content/translations/tr/community/events/index.md
  src/content/translations/tr/community/get-involved/index.md
  src/content/translations/tr/community/grants/index.md
  src/content/translations/tr/community/language-resources/index.md
  src/content/translations/tr/community/support/index.md
  src/intl/tr/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6102 Update: Romanian translation files Community
  src/content/translations/ro/community/events/index.md
  src/content/translations/ro/community/get-involved/index.md
  src/content/translations/ro/community/grants/index.md
  src/content/translations/ro/community/language-resources/index.md
  src/content/translations/ro/community/support/index.md
  src/intl/ro/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6100 Update: French translation files Community
  src/content/translations/fr/community/events/index.md
  src/content/translations/fr/community/get-involved/index.md
  src/content/translations/fr/community/grants/index.md
  src/content/translations/fr/community/language-resources/index.md
  src/content/translations/fr/community/support/index.md
  src/intl/fr/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6091 unnecessary file extension in img alt text
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6099 Update: Farsi translation files Community
  src/content/translations/fa/community/events/index.md
  src/content/translations/fa/community/get-involved/index.md
  src/content/translations/fa/community/grants/index.md
  src/content/translations/fa/community/language-resources/index.md
  src/content/translations/fa/community/support/index.md
  src/intl/fa/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6101 Update: German translation files Community
  src/content/translations/de/community/events/index.md
  src/content/translations/de/community/get-involved/index.md
  src/content/translations/de/community/grants/index.md
  src/content/translations/de/community/language-resources/index.md
  src/content/translations/de/community/support/index.md
  src/intl/de/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6090 simplified language in crowdin warnings section
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6104 Update: Spanish translation files Community
  src/content/translations/es/community/events/index.md
  src/content/translations/es/community/get-involved/index.md
  src/content/translations/es/community/grants/index.md
  src/content/translations/es/community/language-resources/index.md
  src/content/translations/es/community/support/index.md
  src/intl/es/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6098 Update: Dutch translation files Community
  src/content/translations/nl/community/events/index.md
  src/content/translations/nl/community/get-involved/index.md
  src/content/translations/nl/community/grants/index.md
  src/content/translations/nl/community/language-resources/index.md
  src/content/translations/nl/community/support/index.md
  src/intl/nl/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6096 Update: Catalan translation files Community
  src/content/translations/ca/community/events/index.md
  src/content/translations/ca/community/get-involved/index.md
  src/content/translations/ca/community/grants/index.md
  src/content/translations/ca/community/language-resources/index.md
  src/content/translations/ca/community/support/index.md
  src/intl/ca/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6097 Update: Chinese translation files Community
  src/content/translations/zh/community/events/index.md
  src/content/translations/zh/community/get-involved/index.md
  src/content/translations/zh/community/grants/index.md
  src/content/translations/zh/community/language-resources/index.md
  src/content/translations/zh/community/support/index.md
  src/intl/zh/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6081 Update Translation Program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6224 Fix Etherum typos
  src/content/translations/es/developers/docs/intro-to-ethereum/index.md
  src/content/translations/zh/community/language-resources/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5965 Farsi: update "Upgrades" content bucket translation files
  src/content/translations/fa/eips/index.md
  src/content/translations/fa/upgrades/beacon-chain/index.md
  src/content/translations/fa/upgrades/merge/index.md
  src/content/translations/fa/upgrades/shard-chains/index.md
  src/intl/fa/page-staking-deposit-contract.json
  src/intl/fa/page-staking.json
  src/intl/fa/page-upgrades-get-involved-bug-bounty.json
  src/intl/fa/page-upgrades-get-involved.json
  src/intl/fa/page-upgrades-index.json
  src/intl/fa/page-upgrades-vision.json
  src/intl/fa/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6077 Update: Indonesian translation files Homepage
  src/intl/id/common.json
  src/intl/id/page-index.json
Labels: review needed :eyes:

#6076 Update: French translation files Homepage
  src/intl/fr/common.json
  src/intl/fr/page-index.json
Labels: review needed :eyes:

#6107 Update: French translation files Foundational Docs
  src/content/translations/fr/developers/docs/accounts/index.md
  src/content/translations/fr/developers/docs/blocks/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/fr/developers/docs/dapps/index.md
  src/content/translations/fr/developers/docs/evm/index.md
  src/content/translations/fr/developers/docs/gas/index.md
  src/content/translations/fr/developers/docs/index.md
  src/content/translations/fr/developers/docs/intro-to-ether/index.md
  src/content/translations/fr/developers/docs/intro-to-ethereum/index.md
  src/content/translations/fr/developers/docs/networks/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/fr/developers/docs/transactions/index.md
  src/content/translations/fr/developers/docs/web2-vs-web3/index.md
  src/intl/fr/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6112 Update: Turkish translation files Foundational Docs
  src/content/translations/tr/developers/docs/accounts/index.md
  src/content/translations/tr/developers/docs/blocks/index.md
  src/content/translations/tr/developers/docs/consensus-mechanisms/index.md
  src/content/translations/tr/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/tr/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/tr/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/tr/developers/docs/dapps/index.md
  src/content/translations/tr/developers/docs/evm/index.md
  src/content/translations/tr/developers/docs/gas/index.md
  src/content/translations/tr/developers/docs/index.md
  src/content/translations/tr/developers/docs/intro-to-ether/index.md
  src/content/translations/tr/developers/docs/intro-to-ethereum/index.md
  src/content/translations/tr/developers/docs/networks/index.md
  src/content/translations/tr/developers/docs/nodes-and-clients/index.md
  src/content/translations/tr/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/tr/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/tr/developers/docs/transactions/index.md
  src/content/translations/tr/developers/docs/web2-vs-web3/index.md
  src/intl/tr/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6109 Update: Portuguese Brazilian translation files Foundational Docs
  src/content/translations/pt-br/developers/docs/accounts/index.md
  src/content/translations/pt-br/developers/docs/blocks/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/pt-br/developers/docs/dapps/index.md
  src/content/translations/pt-br/developers/docs/evm/index.md
  src/content/translations/pt-br/developers/docs/gas/index.md
  src/content/translations/pt-br/developers/docs/index.md
  src/content/translations/pt-br/developers/docs/intro-to-ether/index.md
  src/content/translations/pt-br/developers/docs/intro-to-ethereum/index.md
  src/content/translations/pt-br/developers/docs/networks/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/pt-br/developers/docs/transactions/index.md
  src/content/translations/pt-br/developers/docs/web2-vs-web3/index.md
  src/intl/pt-br/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6085 Update: French translation files Upgrades
  src/intl/fr/page-upgrades-index.json
Labels: review needed :eyes:

#6119 Update: Romanian translation files Advanced Pages
  src/content/translations/ro/developers/docs/mev/index.md
  src/content/translations/ro/developers/docs/oracles/index.md
  src/content/translations/ro/developers/docs/scaling/index.md
  src/content/translations/ro/developers/docs/scaling/optimistic-rollups/index.md
  src/content/translations/ro/developers/docs/scaling/plasma/index.md
  src/content/translations/ro/developers/docs/scaling/sidechains/index.md
  src/content/translations/ro/developers/docs/scaling/state-channels/index.md
  src/content/translations/ro/developers/docs/scaling/validium/index.md
  src/content/translations/ro/developers/docs/scaling/zk-rollups/index.md
  src/content/translations/ro/developers/docs/standards/index.md
  src/content/translations/ro/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/ro/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/ro/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/ro/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/ro/developers/docs/standards/tokens/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6118 Update: Chinese translation files Advanced Pages
  src/content/translations/zh/developers/docs/mev/index.md
  src/content/translations/zh/developers/docs/oracles/index.md
  src/content/translations/zh/developers/docs/scaling/index.md
  src/content/translations/zh/developers/docs/scaling/layer-2-rollups/index.md
  src/content/translations/zh/developers/docs/scaling/optimistic-rollups/index.md
  src/content/translations/zh/developers/docs/scaling/plasma/index.md
  src/content/translations/zh/developers/docs/scaling/sidechains/index.md
  src/content/translations/zh/developers/docs/scaling/validium/index.md
  src/content/translations/zh/developers/docs/scaling/zk-rollups/index.md
  src/content/translations/zh/developers/docs/standards/index.md
  src/content/translations/zh/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/zh/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/zh/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/zh/developers/docs/standards/tokens/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6126 Update: Portuguese Brazilian translation files Tutorials 1
  src/content/translations/pt-br/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/pt-br/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/pt-br/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/pt-br/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/pt-br/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/pt-br/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/pt-br/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/pt-br/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/pt-br/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/intl/pt-br/page-developers-tutorials.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6231 Update StakeWise audit info
  src/data/staking-products.json
Labels: review needed :eyes:

#6223 expand light node section (wiki migration)
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6089 Fix Chinese translation error (nodes and clients)
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5800 Edit incorrect word form (Russian NFT page)
  src/content/translations/ru/nft/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6057 Added POAP to popular NFTs
  src/content/developers/docs/standards/tokens/erc-721/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5850 Patch hero images
  src/components/CalloutBanner.js
  src/components/PageHero.js
Labels: review needed :eyes:

#6044 Fixed typo to 'The Merge' spelling
  src/intl/en/page-upgrades-index.json
Labels: review needed :eyes:

#6237 Link patch
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6226 Fix broken link on zk-rollups developer doc
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6138 Add "how to get onto layer 2" button in layer 2 page hero
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#6132 Update smart-contracts-for-testing project name and link
  src/content/developers/docs/programming-languages/python/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6074 Add Access to DeFi to Numio Wallet
  src/data/wallets.csv
Labels: review needed :eyes:

#5922 Migrate json-rpc information from ethdocs/eth.wiki
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5927 Removed redundant punctuation marks [dev docs]
  src/content/developers/docs/programming-languages/dart/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5926 Removed redundant punctuation marks [dev docs]
  src/content/developers/docs/ides/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6240 the merge -> The Merge
  src/content/staking/solo/index.md
  src/content/translations/it/developers/docs/mev/index.md
  src/intl/vi/common.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6230 Update ethfans.org link
  src/content/translations/ca/community/language-resources/index.md
  src/content/translations/de/community/language-resources/index.md
  src/content/translations/es/community/language-resources/index.md
  src/content/translations/fa/community/language-resources/index.md
  src/content/translations/fr/community/language-resources/index.md
  src/content/translations/id/community/index.md
  src/content/translations/id/community/language-resources/index.md
  src/content/translations/it/community/language-resources/index.md
  src/content/translations/nl/community/language-resources/index.md
  src/content/translations/pt-br/community/language-resources/index.md
  src/content/translations/ro/community/language-resources/index.md
  src/content/translations/ru/community/language-resources/index.md
  src/content/translations/tr/community/language-resources/index.md
  src/content/translations/zh/community/language-resources/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6227 Fix translated code snippets
  src/content/translations/it/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/zh/developers/docs/standards/tokens/erc-777/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6222 Override RTL styling on UpcomingEventsList
  src/components/UpcomingEventsList.js
Labels: review needed :eyes:

#6220 Update L2 glossary link
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6219 Fix broken emojis on History page
  src/content/translations/id/history/index.md
  src/content/translations/it/history/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6218 Update content buckets page
  src/content/contributing/translation-program/content-buckets/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6207 Remove trailing slashes from glossary links
  src/content/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/es/developers/docs/transactions/index.md
  src/content/translations/fa/developers/docs/transactions/index.md
  src/content/translations/id/developers/docs/transactions/index.md
  src/content/translations/id/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/ro/developers/docs/transactions/index.md
  src/content/translations/ro/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/zh/developers/tutorials/run-light-node-geth/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6208 Remove trailing slashes from urls with header-ids
  src/content/developers/tutorials/run-light-node-geth/index.md
  src/content/smart-contracts/index.md
  src/content/translations/id/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/ro/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/zh/developers/tutorials/run-light-node-geth/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6204 Fix typo on layer 2 page
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#5679 Add reputation based DAOs to DAO page
  src/content/dao/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5915 Option components a11y improvements
  src/components/SharedStyledComponents.js
  src/pages-conditional/dapps.js
  src/pages/staking/index.js
Labels: content :fountain_pen:, review needed :eyes:, a11y :wheelchair:

#6139 Add links to layer 2 page
  src/content/developers/docs/scaling/index.md
  src/content/developers/docs/scaling/optimistic-rollups/index.md
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6244 Adding ZMOK
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5712 Update consensus mechanisms docs
  src/content/developers/docs/consensus-mechanisms/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6262 Typo fixed [Community Page]
  src/content/community/online/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6257 Fixed some typo and technical terms for Chinese translation
  src/content/translations/zh/developers/docs/scaling/validium/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6276 Update ETHBarcelona dates
  src/data/community-events.json
Labels: review needed :eyes:

#6275 Staking product card layout fix [Fixes #6245]
  src/components/Staking/StakingProductsCardGrid.js
Labels: review needed :eyes:

#6288 Update Translation Program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6278 Update layer 2 listing policy
  .github/ISSUE_TEMPLATE/suggest_layer2.md
  src/content/contributing/adding-layer-2/index.md
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#6286 dev/networks: add sepolia faucet
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6021 Updating Bounty Program
  gatsby-node.js
  redirects.json
  src/assets/upgrades/besu.png
  src/assets/upgrades/erigon.png
  src/assets/upgrades/geth.png
  src/assets/upgrades/nethermind.png
  src/components/BugBountyCards.js
  src/components/Footer.js
  src/components/Leaderboard.js
  src/components/StablecoinAccordion.js
  src/data/consensus-bounty-hunters.csv
  src/data/execution-bounty-hunters.csv
  src/intl/en/common.json
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
  src/pages/bug-bounty.js
  src/pages/upgrades/get-involved/index.js
  src/pages/upgrades/index.js
Labels: content :fountain_pen:, review needed :eyes:, blocked 🛑, internal :house:

#5897 migrate info on pow-mining from ethdocs and eth.wiki
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-index.json
  src/pages/developers/index.js
Labels: content :fountain_pen:, review needed :eyes:

#6290 Deploy v3.23.0
  .github/ISSUE_TEMPLATE/suggest_layer2.md
  gatsby-node.js
  package.json
  redirects.json
  src/assets/upgrades/besu.png
  src/assets/upgrades/erigon.png
  src/assets/upgrades/geth.png
  src/assets/upgrades/nethermind.png
  src/components/BugBountyCards.js
  src/components/Footer.js
  src/components/Leaderboard.js
  src/components/StablecoinAccordion.js
  src/components/Staking/StakingProductsCardGrid.js
  src/content/contributing/adding-layer-2/index.md
  src/content/contributing/translation-program/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/networks/index.md
  src/data/community-events.json
  src/data/consensus-bounty-hunters.csv
  src/data/developer-docs-links.yaml
  src/data/execution-bounty-hunters.csv
  src/data/layer-2/layer-2.json
  src/intl/en/common.json
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-index.json
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
  src/pages/bug-bounty.js
  src/pages/developers/index.js
  src/pages/upgrades/get-involved/index.js
  src/pages/upgrades/index.js
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, tooling :wrench:, internal :house:

#6292 Update bug bounty title & description
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
Labels: review needed :eyes:

#6294 Fix incorrect path to optimistic rollups
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5978 sync glossaries between eth.org, ethdocs.org & eth.wiki
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6299 Clarifying scope and impact for bug bounty program
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
Labels: review needed :eyes:

#6310 Layout patch [Fixes #6228]
  src/components/CardList.js
  src/components/Staking/StakingGuides.js
Labels: review needed :eyes:

#6321 Turkish: Advanced docs
  src/content/translations/tr/developers/docs/mev/index.md
  src/content/translations/tr/developers/docs/oracles/index.md
  src/content/translations/tr/developers/docs/scaling/index.md
  src/content/translations/tr/developers/docs/scaling/optimistic-rollups/index.md
  src/content/translations/tr/developers/docs/scaling/plasma/index.md
  src/content/translations/tr/developers/docs/scaling/sidechains/index.md
  src/content/translations/tr/developers/docs/scaling/state-channels/index.md
  src/content/translations/tr/developers/docs/scaling/validium/index.md
  src/content/translations/tr/developers/docs/scaling/zk-rollups/index.md
  src/content/translations/tr/developers/docs/standards/index.md
  src/content/translations/tr/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/tr/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/tr/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/tr/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/tr/developers/docs/standards/tokens/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6320 Italian: Advanced docs
  src/content/translations/it/developers/docs/mev/index.md
  src/content/translations/it/developers/docs/scaling/index.md
  src/content/translations/it/developers/docs/scaling/layer-2-rollups/index.md
  src/content/translations/it/developers/docs/scaling/optimistic-rollups/index.md
  src/content/translations/it/developers/docs/scaling/plasma/index.md
  src/content/translations/it/developers/docs/scaling/sidechains/index.md
  src/content/translations/it/developers/docs/scaling/validium/index.md
  src/content/translations/it/developers/docs/scaling/zk-rollups/index.md
  src/content/translations/it/developers/docs/standards/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-721/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6319 French: Advanced docs
  src/content/translations/fr/developers/docs/mev/index.md
  src/content/translations/fr/developers/docs/oracles/index.md
  src/content/translations/fr/developers/docs/scaling/index.md
  src/content/translations/fr/developers/docs/scaling/optimistic-rollups/index.md
  src/content/translations/fr/developers/docs/scaling/plasma/index.md
  src/content/translations/fr/developers/docs/scaling/sidechains/index.md
  src/content/translations/fr/developers/docs/scaling/state-channels/index.md
  src/content/translations/fr/developers/docs/scaling/validium/index.md
  src/content/translations/fr/developers/docs/scaling/zk-rollups/index.md
  src/content/translations/fr/developers/docs/standards/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/fr/developers/docs/standards/tokens/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6316 Swahili: Upgrades content
  src/content/translations/sw/eips/index.md
  src/content/translations/sw/upgrades/beacon-chain/index.md
  src/content/translations/sw/upgrades/merge/index.md
  src/content/translations/sw/upgrades/shard-chains/index.md
  src/intl/sw/page-staking-deposit-contract.json
  src/intl/sw/page-staking.json
  src/intl/sw/page-upgrades-get-involved-bug-bounty.json
  src/intl/sw/page-upgrades-get-involved.json
  src/intl/sw/page-upgrades-index.json
  src/intl/sw/page-upgrades-vision.json
  src/intl/sw/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6311 Dutch: Use cases content
  src/content/translations/nl/energy-consumption/index.md
  src/content/translations/nl/governance/index.md
  src/content/translations/nl/nft/index.md
  src/content/translations/nl/security/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6300 Filter out stablecoins not on Ethereum
  src/pages/stablecoins.js
Labels: content :fountain_pen:, review needed :eyes:

#6332 Fix formatting in Uniswap V2 annotated code tutorial
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6325 Fix wording in consensus mechanisms developer docs
  src/content/developers/docs/consensus-mechanisms/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6280 update testnet url for setting up light node docs
  src/content/developers/tutorials/run-light-node-geth/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6269 suggestions for content presentation structure
  src/content/community/get-involved/open-research/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6022 (vi): Update some translations and spelling mistake in Vietnamese
  src/content/translations/vi/enterprise/index.md
  src/content/translations/vi/python/index.md
  src/content/translations/vi/wallets/index.md
  src/content/translations/vi/what-is-ethereum/index.md
  src/intl/vi/common.json
  src/intl/vi/page-developers-index.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5758 add data-structures dir with rlp page
  src/content/developers/docs/data-structures-and-encoding/index.md
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/developers/docs/data-structures-and-encoding/rlp/index.md
  src/content/developers/docs/data-structures-and-encoding/ssz/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-index.json
  src/pages/developers/index.js
Labels: content :fountain_pen:, review needed :eyes:

#5838 Add Networking Layer materials to /developers/docs
  src/content/developers/docs/networking-layer/cons_client_net_layer.png
  src/content/developers/docs/networking-layer/exe_client_net_layer.png
  src/content/developers/docs/networking-layer/index.md
  src/content/developers/docs/networking-layer/network-addresses/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-index.json
  src/pages/developers/index.js
Labels: content :fountain_pen:, review needed :eyes:

#6142 6058 Changed `internet` to ~`Web`.
  src/content/web3/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#6298 Add Otterscan to the list of block explorers
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6347 Syntax bug patch
  src/pages/developers/index.js
Labels: review needed :eyes:

#6263 Fix minor typos in staking documentation.
  src/content/staking/solo/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6350 Syntax bug patch
  src/intl/en/page-developers-index.json
Labels: review needed :eyes:

#6349 Homepage batch intl update
  src/intl/fr/common.json
  src/intl/fr/page-index.json
  src/intl/ja/common.json
  src/intl/ja/page-index.json
  src/intl/sl/common.json
  src/intl/sl/page-index.json
Labels: review needed :eyes:

#6344 'View in English' Button Link Fixed [Solves #6318]
  src/components/TranslationBanner.js
Labels: review needed :eyes:

#6352 Fix POAPs claim on Translation Program page
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6157 Update proof of stake section (wiki migration)
  src/content/developers/docs/consensus-mechanisms/pos/gasper/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/consensus-mechanisms/pos/weak-subjectivity/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:, blocked 🛑

#6203 Fix RTL styling on codeblocks
  src/components/Codeblock.js
Labels: review needed :eyes:

#6364 Typo correction
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6366 Avoid loading matomo in preview deploys
  gatsby-config.js
Labels: internal :house:

#6353 Close Academic Grants round
  src/content/community/grants/academic-grants-round/index.md
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6273 Fix ButtonLink arrow logic
  src/components/ButtonLink.js
  src/components/FileContributors.js
  src/components/Layer2ProductCard.js
  src/components/ProductCard.js
  src/components/TableOfContents.js
  src/components/WalletCard.js
Labels: review needed :eyes:

#6377 Bounty copy clarifier
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
Labels: review needed :eyes:

#6264 Staking translation refactor
  src/components/ButtonDropdown.js
  src/components/Staking/StakingCommunityCallout.js
  src/components/Staking/StakingComparison.js
  src/components/Staking/StakingConsiderations.js
  src/components/Staking/StakingHierarchy.js
  src/components/Staking/StakingHowSoloWorks.js
  src/components/Staking/StakingLaunchpadWidget.js
  src/components/Staking/StakingProductsCardGrid.js
  src/components/Staking/StakingStatsBox.js
  src/intl/en/page-staking.json
  src/pages/staking/index.js
  src/templates/staking.js
Labels: review needed :eyes:

#6378 Add ETH SD to list of meetups
  src/data/community-meetups.json
Labels: review needed :eyes:

#6381 Deploy v3.25.0
  .all-contributorsrc
  README.md
  gatsby-config.js
  package.json
  redirects.json
  src/assets/feedback-glyph.svg
  src/components/ButtonDropdown.js
  src/components/ButtonLink.js
  src/components/Codeblock.js
  src/components/FeedbackWidget.js
  src/components/FileContributors.js
  src/components/Layer2ProductCard.js
  src/components/Layout.js
  src/components/ProductCard.js
  src/components/Staking/StakingCommunityCallout.js
  src/components/Staking/StakingComparison.js
  src/components/Staking/StakingConsiderations.js
  src/components/Staking/StakingHierarchy.js
  src/components/Staking/StakingHowSoloWorks.js
  src/components/Staking/StakingLaunchpadWidget.js
  src/components/Staking/StakingProductsCardGrid.js
  src/components/Staking/StakingStatsBox.js
  src/components/TableOfContents.js
  src/components/WalletCard.js
  src/content/community/grants/academic-grants-round/index.md
  src/content/community/grants/index.md
  src/content/community/language-resources/index.md
  src/content/developers/docs/consensus-mechanisms/pos/gasper/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/consensus-mechanisms/pos/weak-subjectivity/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/zh/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/data/community-meetups.json
  src/data/developer-docs-links.yaml
  src/intl/en/common.json
  src/intl/en/page-developers-docs.json
  src/intl/en/page-staking.json
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
  src/pages/staking/index.js
  src/templates/staking.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#6383 Fix typos in PoS intro
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6391 Whitepaper Crowdin formatting patches
  src/content/whitepaper/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6351 Japanese: Use Ethereum, use cases, upgrades content updates
  src/content/translations/ja/dao/index.md
  src/content/translations/ja/defi/index.md
  src/content/translations/ja/eips/index.md
  src/content/translations/ja/energy-consumption/index.md
  src/content/translations/ja/governance/index.md
  src/content/translations/ja/nft/index.md
  src/content/translations/ja/security/index.md
  src/content/translations/ja/smart-contracts/index.md
  src/content/translations/ja/upgrades/beacon-chain/index.md
  src/content/translations/ja/upgrades/merge/index.md
  src/content/translations/ja/upgrades/shard-chains/index.md
  src/content/translations/ja/web3/index.md
  src/intl/ja/page-dapps.json
  src/intl/ja/page-developers-index.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/ja/page-developers-local-environment.json
  src/intl/ja/page-eth.json
  src/intl/ja/page-get-eth.json
  src/intl/ja/page-languages.json
  src/intl/ja/page-run-a-node.json
  src/intl/ja/page-stablecoins.json
  src/intl/ja/page-staking-deposit-contract.json
  src/intl/ja/page-staking.json
  src/intl/ja/page-upgrades-get-involved-bug-bounty.json
  src/intl/ja/page-upgrades-get-involved.json
  src/intl/ja/page-upgrades-index.json
  src/intl/ja/page-upgrades-vision.json
  src/intl/ja/page-upgrades.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ja/page-wallets.json
  src/intl/ja/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6387 Update GH issue link
  src/content/contributing/adding-products/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6359 French: Batch intl update
  src/content/translations/fr/about/index.md
  src/content/translations/fr/developers/docs/apis/backend/index.md
  src/content/translations/fr/developers/docs/apis/javascript/index.md
  src/content/translations/fr/developers/docs/blocks/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/fr/developers/docs/dapps/index.md
  src/content/translations/fr/developers/docs/evm/index.md
  src/content/translations/fr/developers/docs/frameworks/index.md
  src/content/translations/fr/developers/docs/gas/index.md
  src/content/translations/fr/developers/docs/index.md
  src/content/translations/fr/developers/docs/intro-to-ether/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/fr/developers/docs/programming-languages/dart/index.md
  src/content/translations/fr/developers/docs/programming-languages/index.md
  src/content/translations/fr/developers/docs/programming-languages/java/index.md
  src/content/translations/fr/developers/docs/programming-languages/python/index.md
  src/content/translations/fr/developers/docs/programming-languages/ruby/index.md
  src/content/translations/fr/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/fr/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/fr/developers/docs/smart-contracts/composability/index.md
  src/content/translations/fr/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/fr/developers/docs/smart-contracts/index.md
  src/content/translations/fr/developers/docs/smart-contracts/languages/index.md
  src/content/translations/fr/developers/docs/smart-contracts/security/index.md
  src/content/translations/fr/developers/docs/smart-contracts/testing/index.md
  src/content/translations/fr/developers/docs/storage/index.md
  src/content/translations/fr/developers/docs/transactions/index.md
  src/content/translations/fr/developers/docs/web2-vs-web3/index.md
  src/content/translations/fr/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/fr/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/fr/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/fr/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/fr/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/fr/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/fr/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/fr/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/fr/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/fr/enterprise/index.md
  src/content/translations/fr/foundation/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/fr/history/index.md
  src/intl/fr/page-about.json
  src/intl/fr/page-assets.json
  src/intl/fr/page-developers-tutorials.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6312 Dutch: Upgrades content
  src/content/translations/nl/eips/index.md
  src/content/translations/nl/upgrades/beacon-chain/index.md
  src/content/translations/nl/upgrades/merge/index.md
  src/content/translations/nl/upgrades/shard-chains/index.md
  src/intl/nl/page-staking-deposit-contract.json
  src/intl/nl/page-staking.json
  src/intl/nl/page-upgrades-get-involved-bug-bounty.json
  src/intl/nl/page-upgrades-get-involved.json
  src/intl/nl/page-upgrades-index.json
  src/intl/nl/page-upgrades-vision.json
  src/intl/nl/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6315 Italian: Upgrades content
  src/content/translations/it/eips/index.md
  src/content/translations/it/upgrades/merge/index.md
  src/content/translations/it/upgrades/shard-chains/index.md
  src/intl/it/page-staking.json
  src/intl/it/page-upgrades-get-involved-bug-bounty.json
  src/intl/it/page-upgrades-index.json
  src/intl/it/page-upgrades-vision.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6398 Fix Matomo not loading
  .env.example
  gatsby-config.js
Labels: internal :house:

#6399 v3.25.1
  package.json
Labels: dependencies :package:

#6302 Danish: New language, homepage
  src/data/translations.json
  src/intl/da/common.json
  src/intl/da/page-index.json
  src/intl/en/common.json
Labels: review needed :eyes:

#6307 Typescript migration
  .github/workflows/docsearch-crawl.yml
  .github/workflows/docsearchConfigScript.js
  .prettierignore
  gatsby-browser.tsx
  gatsby-config.ts
  gatsby-node.ts
  gatsby-ssr.tsx
  package.json
  src/components/Breadcrumbs.js
  src/components/LegacyPageHome.js
  src/components/Link.js
  src/components/PageMetadata.js
  src/components/SideNavMobile.js
  src/components/WalletCompare.js
  src/constants.ts
  src/data/translations.json
  src/interfaces.ts
  src/pages/index.js
  src/pages/languages.js
  src/scripts/__tests__/merge-translations.js
  src/scripts/copy-contributors.js
  src/scripts/copyContributors.ts
  src/scripts/merge-translations.js
  src/scripts/mergeTranslations.ts
  src/types.ts
  src/utils/flattenMessages.ts
  src/utils/getMessages.ts
  src/utils/languages.ts
  src/utils/mergeObjects.ts
  src/utils/translations.js
  src/utils/translations.ts
  tsconfig.json
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, tooling :wrench:

#6397 update Guido's score
  src/data/consensus-bounty-hunters.csv
Labels: review needed :eyes:

#6403 update LUNA -> WBTC in bridges example
  src/content/bridges/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6050 Add DAO section to Web3 page
  src/content/web3/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6256 Included Erc-4626 in token standards- [Fixes #6255]
  src/content/developers/docs/standards/index.md
  src/content/developers/docs/standards/tokens/erc-4626/index.md
  src/content/developers/docs/standards/tokens/index.md
  src/data/developer-docs-links.yaml
  src/intl/bg/page-developers-docs.json
  src/intl/ca/page-developers-docs.json
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:, abandoned

#6427 fix typo: close parenthesis
  src/content/developers/docs/consensus-mechanisms/pos/gasper/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6424 Fix i18n link in wallets/find-wallet [Fixes #6423]
  src/pages/wallets/find-wallet.js
Labels: review needed :eyes:

#6420 Fixed small typo in ERC20 docs
  src/content/developers/docs/standards/tokens/erc-20/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6419 Change backslash to slash in translators guide
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6417 Fix wire-protocol paragraph in networking-layer doc
  src/content/developers/docs/networking-layer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6418 Updating Learning-tools.js
  src/pages/developers/learning-tools.js
Labels: review needed :eyes:
