Repository ethereum/ethereum-org-website, pull requests merged in 2022-01, with the labels that each got.

#4929 Updating a typo from `Truffle` -> `Ganache`
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4908 Fix dead link in Vyper tutorial
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4927 Update index.md
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4938 Update broken url in paragraph in blog post [Fixes #4937]
  src/content/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/pl/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/pl/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/ro/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/ro/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/zh/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4932 fix(typos): remove leading spaces
  src/intl/bg/page-about.json
  src/intl/ca/page-about.json
  src/intl/de/page-about.json
  src/intl/el/page-about.json
  src/intl/fr/page-about.json
  src/intl/hr/page-about.json
  src/intl/hu/page-about.json
  src/intl/it/page-about.json
  src/intl/ja/page-about.json
  src/intl/ml/page-about.json
  src/intl/pl/page-about.json
  src/intl/ro/page-about.json
  src/intl/ru/page-about.json
  src/intl/sl/page-about.json
  src/intl/tr/page-about.json
  src/intl/uk/page-about.json
  src/intl/zh/page-about.json
Labels: review needed :eyes:

#4923 Fix incorrect URL in DAO Doc
  src/content/dao/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4920 Add PoS reading links
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4925 Add link to PoS docs
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4931 Fix typo in the Spanish homepage [Fixes #4877]
  src/intl/es/page-index.json
Labels: review needed :eyes:

#4893 Remove referral links from tutorial
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4924 Improve readability & accuracy on Energy consumption page
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#4900 Fix warnings in dev mode
  src/components/ActionCard.js
  src/components/StablecoinAccordion.js
  src/components/StatsBoxGrid.js
  src/hooks/useActiveHash.js
  src/pages/community.js
  src/pages/eth2/get-involved/index.js
  src/pages/get-eth.js
  src/pages/stablecoins.js
  src/templates/static.js
  src/templates/tutorial.js
  src/templates/use-cases.js
Labels: content :fountain_pen:, review needed :eyes:

#4890 Update page-developers-docs.json
  src/intl/en/page-developers-docs.json
Labels: review needed :eyes:

#4889 Add new events from ethglobal [Fixes #4859]
  src/data/community-events.json
Labels: review needed :eyes:

#4952 Marathi: New language, homepage
  src/data/translations.json
  src/intl/en/common.json
  src/intl/mr/common.json
  src/intl/mr/page-index.json
Labels: review needed :eyes:

#4951 Bengali: Homepage
  src/data/translations.json
  src/intl/bn/bn.json
  src/intl/bn/common.json
  src/intl/bn/page-index.json
Labels: review needed :eyes:

#4948 Improve how-to-write-and-deploy-an-nft tutorial
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4944 fix(typo): Norveçce
  src/intl/tr/common.json
Labels: review needed :eyes:

#4911 Spanish correction on developer docs
  src/content/translations/es/developers/docs/apis/javascript/index.md
  src/content/translations/es/developers/docs/blocks/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/index.md
  src/content/translations/es/developers/docs/dapps/index.md
  src/content/translations/es/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/es/developers/docs/intro-to-ethereum/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/index.md
  src/content/translations/es/developers/docs/oracles/index.md
  src/content/translations/es/developers/docs/programming-languages/delphi/index.md
  src/content/translations/es/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/es/developers/docs/programming-languages/golang/index.md
  src/content/translations/es/developers/docs/programming-languages/java/index.md
  src/content/translations/es/developers/docs/programming-languages/python/index.md
  src/content/translations/es/developers/docs/programming-languages/rust/index.md
  src/content/translations/es/developers/docs/security/index.md
  src/content/translations/es/developers/docs/smart-contracts/index.md
  src/content/translations/es/developers/docs/smart-contracts/libraries/index.md
  src/content/translations/es/developers/docs/transactions/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4934 Update consensus mechanisms developer doc intro
  src/content/developers/docs/consensus-mechanisms/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#4970 Add replit to IDEs
  src/content/developers/docs/ides/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4956 Add community staking results / move community grants into community hub
  redirects.json
  src/content/community/grants/medalla-data-challenge/index.md
  src/content/community/grants/staking-community-grants/index.md
  src/intl/en/common.json
Labels: content :fountain_pen:, review needed :eyes:

#4917 Update Chinese EVM developer doc
  src/content/translations/zh/developers/docs/evm/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4958 Add expected languages to /en/common.json
  src/intl/en/common.json
Labels: review needed :eyes:

#4905 Resolve 'BugBountyCards.js' todo. Fixes #4303
  src/components/BugBountyCards.js
Labels: review needed :eyes:, changes requested

#4962 Indonesian: Use Ethereum
  src/content/translations/id/dapps/index.md
  src/content/translations/id/eth/index.md
  src/content/translations/id/eth2/beacon-chain/index.md
  src/content/translations/id/eth2/merge/index.md
  src/content/translations/id/eth2/shard-chains/index.md
  src/content/translations/id/wallets/index.md
  src/content/translations/id/what-is-ethereum/index.md
  src/intl/id/page-dapps.json
  src/intl/id/page-developers-index.json
  src/intl/id/page-developers-learning-tools.json
  src/intl/id/page-developers-local-environment.json
  src/intl/id/page-eth.json
  src/intl/id/page-eth2-deposit-contract.json
  src/intl/id/page-eth2-get-involved-bug-bounty.json
  src/intl/id/page-eth2-get-involved.json
  src/intl/id/page-eth2-index.json
  src/intl/id/page-eth2-staking.json
  src/intl/id/page-eth2-vision.json
  src/intl/id/page-get-eth.json
  src/intl/id/page-languages.json
  src/intl/id/page-stablecoins.json
  src/intl/id/page-wallets-find-wallet.json
  src/intl/id/page-wallets.json
  src/intl/id/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4979 Update translation program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4980 Add tutorial modal unwanted scrolling
  src/components/Modal.js
  src/pages/developers/tutorials.js
Labels: review needed :eyes:

#4947 Update Translator Reports for January
  src/components/TranslationLeaderboard.js
  src/data/translation-reports/alltime-data.json
  src/data/translation-reports/month-data.json
  src/data/translation-reports/quarter-data.json
  src/pages/contributing/translation-program/contributors.js
Labels: review needed :eyes:

#4983 xDai is Now Gnosis Chain.md
  src/content/developers/docs/scaling/sidechains/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4986 Remove xDai from non-Eng langs
  src/content/translations/pl/developers/docs/scaling/sidechains/index.md
  src/content/translations/zh/developers/docs/scaling/sidechains/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4971 Clarify IDE intro
  src/content/developers/docs/ides/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4955 Add certificate to acknowledgements page
  src/assets/certificates/dark-certificate.png
  src/assets/certificates/light-certificate.png
  src/intl/en/page-contributing-translation-program-acknowledgements.json
  src/pages/contributing/translation-program/acknowledgements.js
Labels: review needed :eyes:

#4954 Remove pseudoelement from headers [Fixes #4922, Fixes #4930]
  src/templates/eth2.js
  src/templates/use-cases.js
Labels: review needed :eyes:, changes requested

#4926 Add in web based IDE resources
  src/content/developers/docs/ides/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4907 Merkle proofs article
  src/content/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  src/content/developers/tutorials/merkle-proofs-for-offline-data-integrity/merkle-empty-hash.png
  src/content/developers/tutorials/merkle-proofs-for-offline-data-integrity/proof-c.png
  src/content/developers/tutorials/merkle-proofs-for-offline-data-integrity/tree.png
Labels: content :fountain_pen:, review needed :eyes:

#4993 Fix typos in merkle proof tutorial
  src/content/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4961 Russian: Use Ethereum
  src/content/translations/ru/eth2/beacon-chain/index.md
  src/content/translations/ru/eth2/merge/index.md
  src/content/translations/ru/eth2/shard-chains/index.md
  src/intl/ru/page-dapps.json
  src/intl/ru/page-developers-index.json
  src/intl/ru/page-developers-learning-tools.json
  src/intl/ru/page-developers-local-environment.json
  src/intl/ru/page-eth.json
  src/intl/ru/page-eth2-get-involved-bug-bounty.json
  src/intl/ru/page-eth2-get-involved.json
  src/intl/ru/page-eth2-index.json
  src/intl/ru/page-eth2-staking.json
  src/intl/ru/page-eth2-vision.json
  src/intl/ru/page-get-eth.json
  src/intl/ru/page-languages.json
  src/intl/ru/page-stablecoins.json
  src/intl/ru/page-wallets-find-wallet.json
  src/intl/ru/page-wallets.json
  src/intl/ru/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4876 Create lang-resources page
  src/components/Nav/index.js
  src/content/community/language-resources/index.md
  src/intl/en/common.json
  src/intl/en/page-languages.json
  src/pages/languages.js
Labels: content :fountain_pen:, review needed :eyes:

#5007 Add option of using alias for certificate
  src/intl/en/page-contributing-translation-program-acknowledgements.json
Labels: review needed :eyes:

#5005 Fix UI bugs on some versions of new homepage
  src/components/ButtonLink.js
Labels: review needed :eyes:

#4999 Add Ethereum Jakarta
  src/data/community-meetups.json
Labels: review needed :eyes:

#5009 Removed Altair multiplier for "eth2 bug bounty" page
  src/intl/en/page-eth2-get-involved-bug-bounty.json
Labels: review needed :eyes:

#4998 Add section about office hours to TP page
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4981 Bulgarian: Use Ethereum
  src/content/translations/bg/eth2/beacon-chain/index.md
  src/content/translations/bg/eth2/merge/index.md
  src/content/translations/bg/eth2/shard-chains/index.md
  src/intl/bg/common.json
  src/intl/bg/page-assets.json
  src/intl/bg/page-dapps.json
  src/intl/bg/page-developers-index.json
  src/intl/bg/page-developers-learning-tools.json
  src/intl/bg/page-developers-local-environment.json
  src/intl/bg/page-eth.json
  src/intl/bg/page-eth2-deposit-contract.json
  src/intl/bg/page-eth2-get-involved-bug-bounty.json
  src/intl/bg/page-eth2-get-involved.json
  src/intl/bg/page-eth2-index.json
  src/intl/bg/page-eth2-staking.json
  src/intl/bg/page-eth2-vision.json
  src/intl/bg/page-get-eth.json
  src/intl/bg/page-index.json
  src/intl/bg/page-languages.json
  src/intl/bg/page-stablecoins.json
  src/intl/bg/page-wallets-find-wallet.json
  src/intl/bg/page-wallets.json
  src/intl/bg/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4963 Indonesian: Docs - Foundational
  src/content/translations/id/developers/docs/accounts/index.md
  src/content/translations/id/developers/docs/blocks/index.md
  src/content/translations/id/developers/docs/consensus-mechanisms/index.md
  src/content/translations/id/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/id/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/id/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/id/developers/docs/dapps/index.md
  src/content/translations/id/developers/docs/evm/index.md
  src/content/translations/id/developers/docs/gas/index.md
  src/content/translations/id/developers/docs/index.md
  src/content/translations/id/developers/docs/intro-to-ether/index.md
  src/content/translations/id/developers/docs/intro-to-ethereum/index.md
  src/content/translations/id/developers/docs/networks/index.md
  src/content/translations/id/developers/docs/nodes-and-clients/index.md
  src/content/translations/id/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/id/developers/docs/transactions/index.md
  src/content/translations/id/developers/docs/web2-vs-web3/index.md
  src/intl/id/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4965 Indonesian: Docs - Advanced
  src/content/translations/id/developers/docs/mev/index.md
  src/content/translations/id/developers/docs/oracles/index.md
  src/content/translations/id/developers/docs/scaling/index.md
  src/content/translations/id/developers/docs/scaling/layer-2-rollups/index.md
  src/content/translations/id/developers/docs/scaling/plasma/index.md
  src/content/translations/id/developers/docs/scaling/sidechains/index.md
  src/content/translations/id/developers/docs/scaling/state-channels/index.md
  src/content/translations/id/developers/docs/scaling/validium/index.md
  src/content/translations/id/developers/docs/standards/index.md
  src/content/translations/id/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/id/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/id/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/id/developers/docs/standards/tokens/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4967 Indonesian: Learn Pages
  src/content/glossary/index.md
  src/content/translations/id/about/index.md
  src/content/translations/id/dao/index.md
  src/content/translations/id/eips/index.md
  src/content/translations/id/enterprise/index.md
  src/content/translations/id/enterprise/private-ethereum/index.md
  src/content/translations/id/foundation/index.md
  src/content/translations/id/glossary/index.md
  src/content/translations/id/history/index.md
  src/intl/id/page-about.json
  src/intl/id/page-assets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5015 Syntax bug fixes
  src/content/translations/bg/eth2/beacon-chain/index.md
  src/content/translations/bg/eth2/merge/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4964 Indonesian: Docs - Tech Stack
  src/content/translations/id/developers/docs/apis/backend/index.md
  src/content/translations/id/developers/docs/apis/javascript/index.md
  src/content/translations/id/developers/docs/apis/json-rpc/index.md
  src/content/translations/id/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/id/developers/docs/data-and-analytics/index.md
  src/content/translations/id/developers/docs/development-networks/index.md
  src/content/translations/id/developers/docs/ethereum-stack/index.md
  src/content/translations/id/developers/docs/frameworks/index.md
  src/content/translations/id/developers/docs/ides/index.md
  src/content/translations/id/developers/docs/programming-languages/delphi/index.md
  src/content/translations/id/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/id/developers/docs/programming-languages/golang/index.md
  src/content/translations/id/developers/docs/programming-languages/index.md
  src/content/translations/id/developers/docs/programming-languages/java/index.md
  src/content/translations/id/developers/docs/programming-languages/javascript/index.md
  src/content/translations/id/developers/docs/programming-languages/python/index.md
  src/content/translations/id/developers/docs/programming-languages/rust/index.md
  src/content/translations/id/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/id/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/id/developers/docs/smart-contracts/composability/index.md
  src/content/translations/id/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/id/developers/docs/smart-contracts/index.md
  src/content/translations/id/developers/docs/smart-contracts/languages/index.md
  src/content/translations/id/developers/docs/smart-contracts/libraries/index.md
  src/content/translations/id/developers/docs/smart-contracts/security/index.md
  src/content/translations/id/developers/docs/smart-contracts/testing/index.md
  src/content/translations/id/developers/docs/storage/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, changes requested

#5014 Remove inactive Indonesian meetup
  src/data/community-meetups.json
Labels: review needed :eyes:

#5011 Fix overflow of text on /find-wallet/ header
  src/pages/wallets/find-wallet.js
Labels: review needed :eyes:

#5016 Add Replit
  src/assets/dev-tools/replit.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.js
Labels: review needed :eyes:

#5025 Remove second h1 tag [Fixes #4648]
  src/templates/use-cases.js
Labels: review needed :eyes:

#5030 Tutorial copy adjustment
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5046 Add SettleMint to popular node services list
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#5043 Fixed typo in 'Sending transactions using Web3' tutorial
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5045 Fix grammar in MEV developer doc
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5055 Add Chainlist
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5054 Setup upgrade pages for full translation
  src/components/Eth2BeaconChainActions.js
  src/components/Eth2ShardChainsList.js
  src/intl/en/page-eth2-index.json
Labels: review needed :eyes:

#5051 Add Keystone wallet
  src/assets/wallets/keystone.png
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/en/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: review needed :eyes:

#5041 Crowdin 'Use Ethereum' fixes
  src/intl/en/page-eth2-upgrades.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ro/page-wallets-find-wallet.json
  src/intl/ru/page-eth2-index.json
  src/intl/sl/page-wallets-find-wallet.json
  src/intl/uk/page-wallets-find-wallet.json
  src/pages/get-eth.js
Labels: content :fountain_pen:, review needed :eyes:

#5036 Fix broken ECH link
  src/content/community/get-involved/index.md
  src/content/community/online/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5065 Chinese Traditional: Homepage
  src/data/translations.json
  src/intl/zh-tw/common.json
  src/intl/zh-tw/page-index.json
  src/intl/zh-tw/zh-tw.json
Labels: review needed :eyes:

#5076 Updated URL to Oneclickdapp github
  src/content/developers/docs/dapps/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5062 Rename Eth2 components
  src/components/BeaconChainActions.js
  src/components/Eth2Diagram.js
  src/components/Eth2DockingList.js
  src/components/MergeArticleList.js
  src/components/ShardChainsList.js
  src/components/UpgradeArticles.js
  src/components/UpgradeTableOfContents.js
  src/content/translations/bg/upgrades/beacon-chain/index.md
  src/content/translations/bg/upgrades/shard-chains/index.md
  src/content/translations/ca/upgrades/beacon-chain/index.md
  src/content/translations/ca/upgrades/shard-chains/index.md
  src/content/translations/de/upgrades/beacon-chain/index.md
  src/content/translations/de/upgrades/shard-chains/index.md
  src/content/translations/el/upgrades/beacon-chain/index.md
  src/content/translations/el/upgrades/shard-chains/index.md
  src/content/translations/es/upgrades/beacon-chain/index.md
  src/content/translations/es/upgrades/shard-chains/index.md
  src/content/translations/fr/upgrades/beacon-chain/index.md
  src/content/translations/fr/upgrades/shard-chains/index.md
  src/content/translations/hi/upgrades/beacon-chain/index.md
  src/content/translations/hi/upgrades/shard-chains/index.md
  src/content/translations/hr/upgrades/beacon-chain/index.md
  src/content/translations/hr/upgrades/shard-chains/index.md
  src/content/translations/hu/upgrades/beacon-chain/index.md
  src/content/translations/hu/upgrades/shard-chains/index.md
  src/content/translations/it/upgrades/beacon-chain/index.md
  src/content/translations/it/upgrades/shard-chains/index.md
  src/content/translations/ja/upgrades/beacon-chain/index.md
  src/content/translations/ja/upgrades/shard-chains/index.md
  src/content/translations/ml/upgrades/beacon-chain/index.md
  src/content/translations/ml/upgrades/shard-chains/index.md
  src/content/translations/pl/upgrades/beacon-chain/index.md
  src/content/translations/pl/upgrades/shard-chains/index.md
  src/content/translations/pt-br/upgrades/beacon-chain/index.md
  src/content/translations/pt-br/upgrades/shard-chains/index.md
  src/content/translations/ro/upgrades/beacon-chain/index.md
  src/content/translations/ro/upgrades/shard-chains/index.md
  src/content/translations/ru/upgrades/beacon-chain/index.md
  src/content/translations/ru/upgrades/shard-chains/index.md
  src/content/translations/sl/upgrades/beacon-chain/index.md
  src/content/translations/sl/upgrades/shard-chains/index.md
  src/content/translations/tr/upgrades/beacon-chain/index.md
  src/content/translations/tr/upgrades/shard-chains/index.md
  src/content/translations/uk/upgrades/beacon-chain/index.md
  src/content/translations/uk/upgrades/shard-chains/index.md
  src/content/translations/zh/upgrades/beacon-chain/index.md
  src/content/translations/zh/upgrades/shard-chains/index.md
  src/content/upgrades/beacon-chain/index.md
  src/content/upgrades/merge/index.md
  src/content/upgrades/shard-chains/index.md
  src/data/eth-upgrade-articles.js
  src/pages/upgrades/index.js
  src/templates/upgrade.js
  src/templates/use-cases.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5058 Update pages using `upgrade` template
  src/content/upgrades/beacon-chain/index.md
  src/content/upgrades/merge/index.md
  src/content/upgrades/shard-chains/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5060 Add content on “Eth2 scams”
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5056 Rename images
  src/assets/upgrades/upgrade_doge.png
  src/assets/upgrades/upgrade_eth.png
  src/assets/upgrades/upgrade_rhino.png
  src/assets/upgrades/upgrade_robot.png
  src/components/PageMetadata.js
  src/pages/staking/index.js
  src/pages/upgrades/get-involved/index.js
  src/pages/upgrades/index.js
  src/pages/upgrades/vision.js
Labels: review needed :eyes:

#5057 Add callouts and/or banner on "What happened to Eth2"
  src/intl/en/common.json
  src/templates/upgrade.js
Labels: review needed :eyes:

#5061 Update glossary for eth2 rebrand
  src/content/glossary/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5082 Turkish: Use Ethereum
  src/content/translations/tr/eth2/beacon-chain/index.md
  src/content/translations/tr/eth2/merge/index.md
  src/content/translations/tr/eth2/shard-chains/index.md
  src/intl/tr/page-dapps.json
  src/intl/tr/page-developers-index.json
  src/intl/tr/page-developers-learning-tools.json
  src/intl/tr/page-developers-local-environment.json
  src/intl/tr/page-eth.json
  src/intl/tr/page-eth2-get-involved-bug-bounty.json
  src/intl/tr/page-eth2-get-involved.json
  src/intl/tr/page-eth2-index.json
  src/intl/tr/page-eth2-staking.json
  src/intl/tr/page-eth2-vision.json
  src/intl/tr/page-get-eth.json
  src/intl/tr/page-languages.json
  src/intl/tr/page-stablecoins.json
  src/intl/tr/page-wallets-find-wallet.json
  src/intl/tr/page-wallets.json
  src/intl/tr/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5080 Arabic: Use Ethereum
  src/content/translations/ar/dapps/index.md
  src/content/translations/ar/eth/index.md
  src/content/translations/ar/eth2/beacon-chain/index.md
  src/content/translations/ar/eth2/merge/index.md
  src/content/translations/ar/eth2/shard-chains/index.md
  src/content/translations/ar/wallets/index.md
  src/content/translations/ar/what-is-ethereum/index.md
  src/intl/ar/page-dapps.json
  src/intl/ar/page-developers-index.json
  src/intl/ar/page-developers-learning-tools.json
  src/intl/ar/page-developers-local-environment.json
  src/intl/ar/page-eth.json
  src/intl/ar/page-eth2-deposit-contract.json
  src/intl/ar/page-eth2-get-involved-bug-bounty.json
  src/intl/ar/page-eth2-get-involved.json
  src/intl/ar/page-eth2-index.json
  src/intl/ar/page-eth2-staking.json
  src/intl/ar/page-eth2-vision.json
  src/intl/ar/page-get-eth.json
  src/intl/ar/page-languages.json
  src/intl/ar/page-stablecoins.json
  src/intl/ar/page-wallets-find-wallet.json
  src/intl/ar/page-wallets.json
  src/intl/ar/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5070 Fix broken sending-transaction links in tutorials [Fixes #5069]
  src/content/developers/tutorials/hello-world-smart-contract/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5091 Eth2 rebrand: Nav
  src/components/Footer.js
  src/components/Nav/index.js
  src/intl/ar/common.json
  src/intl/bg/common.json
  src/intl/bn/bn.json
  src/intl/ca/common.json
  src/intl/cs/common.json
  src/intl/de/common.json
  src/intl/el/common.json
  src/intl/en/common.json
  src/intl/es/common.json
  src/intl/fa/common.json
  src/intl/fi/common.json
  src/intl/fr/common.json
  src/intl/hi/common.json
  src/intl/hr/common.json
  src/intl/hu/common.json
  src/intl/id/common.json
  src/intl/ig/common.json
  src/intl/it/common.json
  src/intl/ja/common.json
  src/intl/ko/common.json
  src/intl/lt/lt.json
  src/intl/ml/common.json
  src/intl/ms/common.json
  src/intl/nb/common.json
  src/intl/nl/common.json
  src/intl/pl/common.json
  src/intl/pt-br/common.json
  src/intl/pt/common.json
  src/intl/ro/common.json
  src/intl/ru/common.json
  src/intl/se/common.json
  src/intl/sk/common.json
  src/intl/sl/common.json
  src/intl/sw/common.json
  src/intl/tr/common.json
  src/intl/uk/common.json
  src/intl/vi/vi.json
  src/intl/zh-tw/zh-tw.json
  src/intl/zh/common.json
Labels: review needed :eyes:

#5100 Copy tweaks for Eth2 rebrand
  src/intl/ar/page-upgrades-index.json
  src/intl/bg/page-upgrades-index.json
  src/intl/ca/page-upgrades-index.json
  src/intl/de/page-upgrades-index.json
  src/intl/el/page-upgrades-index.json
  src/intl/en/common.json
  src/intl/en/page-upgrades-index.json
  src/intl/es/page-upgrades-index.json
  src/intl/fr/page-upgrades-index.json
  src/intl/hi/page-upgrades-index.json
  src/intl/hr/page-upgrades-index.json
  src/intl/hu/page-upgrades-index.json
  src/intl/id/page-upgrades-index.json
  src/intl/it/page-upgrades-index.json
  src/intl/ja/page-upgrades-index.json
  src/intl/ml/page-upgrades-index.json
  src/intl/pl/page-upgrades-index.json
  src/intl/pt-br/page-upgrades-index.json
  src/intl/ro/page-upgrades-index.json
  src/intl/ru/page-upgrades-index.json
  src/intl/sl/page-upgrades-index.json
  src/intl/tr/page-upgrades-index.json
  src/intl/uk/page-upgrades-index.json
  src/intl/zh/page-upgrades-index.json
  src/pages/upgrades/index.js
Labels: review needed :eyes:

#5107 Extract "What happened to Eth2?" intl json strings
  src/intl/en/page-upgrades-index.json
  src/pages/upgrades/index.js
Labels: review needed :eyes:

#5108 Restores "read more" strings for upgrades
  src/intl/en/page-upgrades-index.json
Labels: review needed :eyes:

#5109 Update consensus spec GitHub links
  src/content/history/index.md
  src/content/translations/id/history/index.md
  src/content/translations/pl/history/index.md
  src/content/translations/zh/history/index.md
  src/pages/upgrades/get-involved/bug-bounty.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5123 Add FaucETH
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5118 Update style for expandable cards [Fixes #5083]
  src/components/ExpandableCard.js
Labels: review needed :eyes:, changes requested

#5110 Improve word choice on run a node developer doc
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5103 Added testnet faucets
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5093 Add "Airdrop Scams" to security and scams page
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5098 Update content versions
  src/content/contributing/translation-program/content-versions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5073 Add sidebar to Ethereum events page
  src/content/community/events/index.md
  src/templates/static.js
Labels: content :fountain_pen:, review needed :eyes:

#5074 Remove instances of /en/ path from links to /contributing/
  src/components/TranslationBanner.js
  src/components/WalletCompare.js
  src/content/contributing/translation-program/index.md
  src/content/translations/id/about/index.md
  src/content/translations/id/enterprise/index.md
  src/content/translations/id/glossary/index.md
  src/content/translations/id/nft/index.md
  src/content/translations/ja/contributing/translation-program/index.md
  src/content/translations/sl/contributing/translation-program/index.md
  src/content/translations/sl/nft/index.md
  src/content/translations/zh/contributing/translation-program/index.md
  src/content/translations/zh/nft/index.md
  src/pages/contributing/translation-program/contributors.js
  src/pages/index.js
  src/pages/languages.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5040 Remove Altair bug bounty from all languages
  src/intl/bg/page-eth2-get-involved-bug-bounty.json
  src/intl/de/page-eth2-get-involved-bug-bounty.json
  src/intl/id/page-eth2-get-involved-bug-bounty.json
  src/intl/ja/page-eth2-get-involved-bug-bounty.json
  src/intl/pt-br/page-eth2-get-involved-bug-bounty.json
  src/intl/pt-br/page-eth2-index.json
  src/intl/ro/page-eth2-get-involved-bug-bounty.json
  src/intl/ru/page-eth2-get-involved-bug-bounty.json
  src/intl/sl/page-eth2-get-involved-bug-bounty.json
  src/intl/uk/page-eth2-get-involved-bug-bounty.json
  src/intl/zh/page-eth2-get-involved-bug-bounty.json
Labels: review needed :eyes:

#5117 Adds STARK as a type of ZK proof on layer-2-rollups doc
  src/content/developers/docs/scaling/layer-2-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#5102 Fix Issue #5101: fix typo on Block explorers page
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5077 Update oneclickdapp link in non-English languages
  src/content/translations/es/developers/docs/dapps/index.md
  src/content/translations/fr/developers/docs/dapps/index.md
  src/content/translations/hu/developers/docs/dapps/index.md
  src/content/translations/id/developers/docs/dapps/index.md
  src/content/translations/it/developers/docs/dapps/index.md
  src/content/translations/pl/developers/docs/dapps/index.md
  src/content/translations/ro/developers/docs/dapps/index.md
  src/content/translations/zh/developers/docs/dapps/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5078 Adds code-examples string to intl page-index.json files [Fixes #5066]
  src/intl/ar/page-index.json
  src/intl/bg/page-index.json
  src/intl/bn/page-index.json
  src/intl/ca/page-index.json
  src/intl/cs/page-index.json
  src/intl/de/page-index.json
  src/intl/el/page-index.json
  src/intl/es/page-index.json
  src/intl/fa/page-index.json
  src/intl/fi/page-index.json
  src/intl/fr/page-index.json
  src/intl/hi/page-index.json
  src/intl/hr/page-index.json
  src/intl/hu/page-index.json
  src/intl/id/page-index.json
  src/intl/ig/page-index.json
  src/intl/it/page-index.json
  src/intl/ja/page-index.json
  src/intl/ko/page-index.json
  src/intl/ml/page-index.json
  src/intl/mr/page-index.json
  src/intl/ms/page-index.json
  src/intl/nb/page-index.json
  src/intl/nl/page-index.json
  src/intl/pl/page-index.json
  src/intl/pt-br/page-index.json
  src/intl/pt/page-index.json
  src/intl/ro/page-index.json
  src/intl/ru/page-index.json
  src/intl/se/page-index.json
  src/intl/sk/page-index.json
  src/intl/sl/page-index.json
  src/intl/sr/page-index.json
  src/intl/sw/page-index.json
  src/intl/th/page-index.json
  src/intl/tr/page-index.json
  src/intl/uk/page-index.json
  src/intl/zh-tw/page-index.json
  src/intl/zh/page-index.json
Labels: review needed :eyes:

#5072 Setup useEthereum bucket for translations
  src/components/EthExchanges.js
  src/intl/en/page-get-eth.json
  src/pages/get-eth.js
Labels: content :fountain_pen:, review needed :eyes:

#5048 Add plagiarism blurb to contributing page
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5064 Updates nodes-and-clients copy
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/index.md
  src/content/translations/hu/developers/docs/nodes-and-clients/index.md
  src/content/translations/it/developers/docs/nodes-and-clients/index.md
  src/content/translations/pl/developers/docs/nodes-and-clients/index.md
  src/content/translations/ro/developers/docs/nodes-and-clients/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5024 Display contributor count
  src/components/Contributors.js
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5149 Fix npm install error in tutorial
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5145 Implement Ethereum.org style guide for Mainnet
  src/content/eth2/shard-chains/index.md
  src/content/translations/fr/developers/docs/programming-languages/delphi/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/hu/glossary/index.md
  src/content/translations/it/developers/docs/programming-languages/delphi/index.md
  src/content/translations/it/glossary/index.md
  src/intl/pt-br/page-developers-index.json
  src/intl/tr/page-eth2-index.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5140 Fix broken external links
  src/content/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/pl/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/ro/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/zh/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5137 Add base fee to glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:

#5142 Add spanish tutorials w/external links
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5138 Fix typo: artefact -> artifact
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5158 Fix: svg hover bug on WalletCard
  src/components/WalletCard.js
Labels: review needed :eyes:

#5157 Update Tellor oracle tutorial
  src/content/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4581 Article to explain how to do Reverse Engineering on EVM contracts
  src/content/developers/tutorials/reverse-engineering-a-contract/calldata-empty.png
  src/content/developers/tutorials/reverse-engineering-a-contract/claim-tx.png
  src/content/developers/tutorials/reverse-engineering-a-contract/create-tx.png
  src/content/developers/tutorials/reverse-engineering-a-contract/flowchart-abi.png
  src/content/developers/tutorials/reverse-engineering-a-contract/flowchart-entry.png
  src/content/developers/tutorials/reverse-engineering-a-contract/flowchart-proxy.png
  src/content/developers/tutorials/reverse-engineering-a-contract/index.md
  src/content/developers/tutorials/reverse-engineering-a-contract/opcode-view.png
  src/content/developers/tutorials/reverse-engineering-a-contract/storage6.png
Labels: content :fountain_pen:, review needed :eyes:

#5156 Added Akincibor to eth2 bug bounty hunter list
  src/data/consensus-bounty-hunters.csv
Labels: review needed :eyes:, blocked 🛑

#5134 Updated ECH invite link
  src/content/community/get-involved/index.md
  src/content/community/online/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5161 Fix Uniswap grants link
  src/content/community/grants/index.md
  src/content/translations/id/community/grants/index.md
  src/content/translations/ja/community/grants/index.md
  src/content/translations/sl/community/grants/index.md
  src/content/translations/zh/community/grants/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5183 v3.7.1
  package.json
Labels: dependencies :package:

#5184 Deploy v3.7.1
  package.json
  redirects.json
Labels: dependencies :package:

#5180 Update CODEOWNERS
  .github/CODEOWNERS
Labels: tooling :wrench:

#5189 Deploy v3.7.2
  .github/CODEOWNERS
  package.json
  redirects.json
Labels: dependencies :package:, tooling :wrench:

#5196 Fix 404 links
  src/content/glossary/index.md
  src/content/translations/es/developers/docs/smart-contracts/languages/index.md
  src/content/translations/fr/developers/docs/smart-contracts/languages/index.md
  src/content/translations/hu/developers/docs/smart-contracts/languages/index.md
  src/content/translations/id/developers/docs/programming-languages/javascript/index.md
  src/content/translations/id/upgrades/shard-chains/index.md
  src/content/translations/pl/developers/docs/smart-contracts/languages/index.md
  src/content/translations/pt-br/upgrades/shard-chains/index.md
  src/content/translations/ro/developers/docs/smart-contracts/languages/index.md
  src/content/translations/zh/developers/docs/programming-languages/javascript/index.md
  src/content/translations/zh/developers/tutorials/secure-development-workflow/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5201 Remove Dharma wallet [Fixes #5178]
  src/assets/wallets/dharma.png
  src/components/EthExchanges.js
  src/components/RandomAppList.js
  src/components/WalletCompare.js
  src/data/wallets.csv
  src/intl/ar/page-wallets-find-wallet.json
  src/intl/bg/page-wallets-find-wallet.json
  src/intl/ca/page-wallets-find-wallet.json
  src/intl/de/page-wallets-find-wallet.json
  src/intl/el/page-wallets-find-wallet.json
  src/intl/en/page-wallets-find-wallet.json
  src/intl/es/page-wallets-find-wallet.json
  src/intl/fr/page-wallets-find-wallet.json
  src/intl/hi/page-wallets-find-wallet.json
  src/intl/hr/page-wallets-find-wallet.json
  src/intl/hu/page-wallets-find-wallet.json
  src/intl/id/page-wallets-find-wallet.json
  src/intl/it/page-wallets-find-wallet.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ml/page-wallets-find-wallet.json
  src/intl/pl/page-wallets-find-wallet.json
  src/intl/pt-br/page-wallets-find-wallet.json
  src/intl/ro/page-wallets-find-wallet.json
  src/intl/ru/page-wallets-find-wallet.json
  src/intl/sl/page-wallets-find-wallet.json
  src/intl/tr/page-wallets-find-wallet.json
  src/intl/uk/page-wallets-find-wallet.json
  src/intl/zh/page-wallets-find-wallet.json
  src/pages-conditional/wallets/index.js
Labels: review needed :eyes:

#5172 Adding an Education PT-BR Community Resource
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5185 Including in the documentation how the swap fee is enforced in Uniswap V2
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5031 Add Web3 University to online communities and support pages
  src/assets/dev-tools/web3university.png
  src/content/community/online/index.md
  src/content/community/support/index.md
  src/content/learn/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#5154 Create translators guide
  src/content/contributing/translation-program/translators-guide/example-of-ambiguous-tags.png
  src/content/contributing/translation-program/translators-guide/example-of-code-snippets.png
  src/content/contributing/translation-program/translators-guide/example-of-link.png
  src/content/contributing/translation-program/translators-guide/example-of-links-inside-tags.png
  src/content/contributing/translation-program/translators-guide/example-of-strong-tags.png
  src/content/contributing/translation-program/translators-guide/how-to-find-a-button.png
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5202 Replace broken ETH staking link with an updated, valid one [Fixes #5198]
  src/content/translations/ar/upgrades/beacon-chain/index.md
  src/content/translations/ca/upgrades/beacon-chain/index.md
  src/content/translations/de/upgrades/beacon-chain/index.md
  src/content/translations/el/upgrades/beacon-chain/index.md
  src/content/translations/es/upgrades/beacon-chain/index.md
  src/content/translations/fr/upgrades/beacon-chain/index.md
  src/content/translations/hi/upgrades/beacon-chain/index.md
  src/content/translations/hr/upgrades/beacon-chain/index.md
  src/content/translations/hu/upgrades/beacon-chain/index.md
  src/content/translations/id/upgrades/beacon-chain/index.md
  src/content/translations/it/upgrades/beacon-chain/index.md
  src/content/translations/ja/upgrades/beacon-chain/index.md
  src/content/translations/ml/upgrades/beacon-chain/index.md
  src/content/translations/pl/upgrades/beacon-chain/index.md
  src/content/translations/pt-br/upgrades/beacon-chain/index.md
  src/content/translations/ro/upgrades/beacon-chain/index.md
  src/content/translations/ru/upgrades/beacon-chain/index.md
  src/content/translations/sl/upgrades/beacon-chain/index.md
  src/content/translations/tr/upgrades/beacon-chain/index.md
  src/content/translations/uk/upgrades/beacon-chain/index.md
  src/content/translations/zh/upgrades/beacon-chain/index.md
  src/content/upgrades/beacon-chain/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5205 Add link to Eth2 renaming blog post
  src/intl/en/page-upgrades-index.json
  src/pages/upgrades/index.js
Labels: review needed :eyes:

#5160 Change /translation-guide path to /faq
  src/content/contributing/translation-program/faq/add-glossary-term.png
  src/content/contributing/translation-program/faq/comment-issue.png
  src/content/contributing/translation-program/faq/glossary-definition.png
  src/content/contributing/translation-program/faq/glossary-tab.png
  src/content/contributing/translation-program/faq/html-tag-strings.png
  src/content/contributing/translation-program/faq/index.md
  src/content/contributing/translation-program/faq/source-string-2.png
  src/content/contributing/translation-program/faq/source-string.png
  src/content/contributing/translation-program/faq/translation-memory.png
Labels: content :fountain_pen:, review needed :eyes:

#5209 Translation FAQ fixes
  redirects.json
  src/content/community/get-involved/index.md
  src/content/contributing/translation-program/content-versions/index.md
  src/content/contributing/translation-program/faq/index.md
  src/content/contributing/translation-program/index.md
  src/content/contributing/translation-program/translation-guide/index.md
  src/content/contributing/translation-program/translators-guide/index.md
  src/content/translations/id/contributing/translation-program/faq/index.md
  src/content/translations/id/contributing/translation-program/index.md
  src/content/translations/ja/contributing/translation-program/faq/index.md
  src/content/translations/ja/contributing/translation-program/index.md
  src/content/translations/sl/contributing/translation-program/faq/index.md
  src/content/translations/sl/contributing/translation-program/index.md
  src/content/translations/zh/contributing/translation-program/faq/index.md
  src/content/translations/zh/contributing/translation-program/index.md
  src/intl/en/common.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5171 Added EtherWorld to the Community Built Resources
  src/content/learn/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5169 Fix incorrectly translated code blocks in Spanish [Fixes #4972]
  src/content/translations/es/developers/docs/smart-contracts/index.md
  src/content/translations/es/developers/docs/smart-contracts/languages/index.md
  src/content/translations/es/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/es/developers/docs/standards/tokens/erc-721/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5168 Run-a-node layout updates after review
  src/assets/run-a-node/dapptap.svg
  src/assets/run-a-node/hardware-glyph.svg
  src/assets/run-a-node/phonetap.svg
  src/components/ExpandableInfo.js
  src/pages/run-a-node.js
Labels: content :fountain_pen:, review needed :eyes:

#5231 Fix typo in json-rpc/index.md
  src/content/translations/zh/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5226 Run-a-node updates
  src/assets/run-a-node/plug-and-play-glyph.svg
  src/components/FeedbackCard.js
  src/intl/en/common.json
  src/intl/en/page-run-a-node.json
  src/pages/run-a-node.js
Labels: content :fountain_pen:, review needed :eyes:

#5008 Run an Ethereum node
  src/assets/run-a-node/dappnode.svg
  src/assets/run-a-node/dapptap.svg
  src/assets/run-a-node/decentralization-glyph.svg
  src/assets/run-a-node/decentralized-eth-glyph.svg
  src/assets/run-a-node/download-glyph.svg
  src/assets/run-a-node/earth-glyph.svg
  src/assets/run-a-node/ethereum-inside.png
  src/assets/run-a-node/hardware-glyph.svg
  src/assets/run-a-node/megaphone-glyph.svg
  src/assets/run-a-node/privacy-glyph.svg
  src/assets/run-a-node/sovereignty-glyph.svg
  src/assets/run-a-node/terminal.svg
  src/assets/run-a-node/vote-glyph.svg
  src/components/ButtonLink.js
  src/components/ExpandableCard.js
  src/components/ExpandableInfo.js
  src/components/FeedbackCard.js
  src/components/Nav/index.js
  src/components/PageHero.js
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  src/content/developers/tutorials/reverse-engineering-a-contract/index.md
  src/intl/en/common.json
  src/intl/en/page-run-a-node.json
  src/pages/run-a-node.js
  src/theme.js
Labels: feature :sparkles:, content :fountain_pen:, review needed :eyes:

#5227 Update scam content on security page
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5222 Add new Year in Ethereum
  src/content/learn/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5027 Fix overflow of text on /get-eth/ header
  src/pages/get-eth.js
Labels: content :fountain_pen:, review needed :eyes:

#5235 Identify additional areas to reference blog post
  src/components/Layout.js
  src/components/UpgradeBannerNotification.js
  src/content/glossary/index.md
  src/templates/upgrade.js
Labels: content :fountain_pen:, review needed :eyes:

#5097 Cleanup console warnings during build
  redirects.json
  src/components/Layout.js
  src/components/Morpher.js
  src/components/YouTube.js
  src/pages/developers/learning-tools.js
Labels: review needed :eyes:

#5211 Rename content versions page and add tutorials
  redirects.json
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/contributing/translation-program/content-versions/index.md
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5243 Changed Tenderly description in smart-contracts deploying docs
  src/content/developers/docs/smart-contracts/deploying/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5240 Add OpenEthereum deprecation notice
  src/content/deprecated-software/index.md
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5192 Add "execution" and "consensus" terms to glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5252 Fix glossary term header ids
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5249 Grammar patch
  src/intl/en/page-run-a-node.json
Labels: review needed :eyes:

#5251 Fix redirect bug on page loads without lang
  redirects.json
Labels: review needed :eyes:

#5250 Add punctuation [Fixes #5248]
  src/content/governance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5256 Fix intl string bug
  src/pages/upgrades/get-involved/index.js
Labels: review needed :eyes:

#5241 Fix punctuation on security page
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5242 Upgrades rebrand cleanup
  src/content/upgrades/shard-chains/index.md
  src/intl/ar/page-upgrades-index.json
  src/intl/ar/page-wallets-find-wallet.json
  src/intl/bg/page-upgrades-index.json
  src/intl/ca/page-upgrades-index.json
  src/intl/de/page-upgrades-index.json
  src/intl/el/page-upgrades-index.json
  src/intl/en/page-upgrades-index.json
  src/intl/es/page-upgrades-index.json
  src/intl/fr/page-upgrades-index.json
  src/intl/hi/page-upgrades-index.json
  src/intl/hr/page-upgrades-index.json
  src/intl/hu/page-upgrades-index.json
  src/intl/id/page-upgrades-index.json
  src/intl/it/page-upgrades-index.json
  src/intl/ja/page-upgrades-index.json
  src/intl/ml/page-upgrades-index.json
  src/intl/pl/page-upgrades-index.json
  src/intl/pt-br/page-upgrades-index.json
  src/intl/ro/page-upgrades-index.json
  src/intl/ru/page-upgrades-index.json
  src/intl/sl/page-upgrades-index.json
  src/intl/tr/page-upgrades-index.json
  src/intl/uk/page-upgrades-index.json
  src/intl/zh/page-upgrades-index.json
  src/pages/upgrades/get-involved/index.js
  src/pages/upgrades/index.js
Labels: content :fountain_pen:, review needed :eyes:

#5210 added dapptools and career focused tutorials
  src/data/externalTutorials.json
Labels: review needed :eyes:

#5155 Fix typos and mistranslations of Ethereum
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/es/developers/docs/security/index.md
  src/content/translations/fi/dot-net/index.md
  src/content/translations/fi/golang/index.md
  src/content/translations/fi/python/index.md
  src/content/translations/fi/rust/index.md
  src/content/translations/hu/developers/docs/apis/backend/index.md
  src/content/translations/it/developers/docs/programming-languages/golang/index.md
  src/content/translations/it/upgrades/beacon-chain/index.md
  src/content/translations/ja/contributing/translation-program/index.md
  src/content/translations/ja/dot-net/index.md
  src/content/translations/pl/developers/docs/nodes-and-clients/index.md
  src/content/translations/zh/contributing/translation-program/index.md
  src/content/translations/zh/developers/docs/apis/javascript/index.md
  src/content/translations/zh/developers/docs/development-networks/index.md
  src/content/translations/zh/developers/docs/mev/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
  src/content/translations/zh/developers/docs/programming-languages/javascript/index.md
  src/content/translations/zh/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/zh/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/zh/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/zh/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/zh/developers/tutorials/secure-development-workflow/index.md
  src/content/translations/zh/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/tutorials/testing-smart-contract-with-waffle/index.md
  src/content/translations/zh/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/zh/eips/index.md
  src/content/translations/zh/enterprise/index.md
  src/content/translations/zh/enterprise/private-ethereum/index.md
  src/content/translations/zh/glossary/index.md
  src/content/translations/zh/nft/index.md
  src/intl/hu/page-developers-index.json
  src/intl/ml/page-developers-local-environment.json
  src/intl/nb/common.json
  src/intl/nb/page-developers-index.json
  src/intl/pl/page-index.json
  src/intl/zh/page-eth.json
Labels: bug :bug:, content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5234 Add sections on compensation and review process to translation FAQs
  src/content/contributing/translation-program/faq/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5255 Changed 'TheGraph' to 'The Graph' [Fixes #5246]
  src/content/community/grants/index.md
  src/content/translations/id/community/grants/index.md
  src/content/translations/ja/community/grants/index.md
  src/content/translations/sl/community/grants/index.md
  src/content/translations/zh/community/grants/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5245 Add new upcoming events [Fixes #5221]
  src/components/UpcomingEventsList.js
  src/data/community-events.json
  src/intl/en/page-community.json
Labels: review needed :eyes:, changes requested

#5218 Add client-diversity page to /developer/docs
  src/content/developers/docs/nodes-and-clients/client-diversity.jpg
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
Labels: content :fountain_pen:, review needed :eyes:
