Repository ethereum/ethereum-org-website, pull requests merged in 2022-10, with the labels that each got.

#8136 Wrong wiki link for Liquid Democracy in white paper (Fixes #8054)
  src/content/whitepaper/index.md
Labels: content :fountain_pen:, review needed :eyes:, hacktoberfest

#8128 Adding a great read by Vitalik on DAOs
  src/content/dao/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8140 Added more relevant links in #further-reading
  src/content/bridges/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8137 Updated relative to absolute link
  src/content/developers/docs/smart-contracts/upgrading/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8133 :pencil2: [REMOVE] Angle bracket in text
  src/content/translations/es/web3/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8144 Fix list styles
  src/@chakra-ui/gatsby-plugin/styles.ts
Labels: review needed :eyes:, chakra-migration

#8145 Fix broken Platzi link (Spanish developer resource)
  src/pages/developers/learning-tools.tsx
Labels: review needed :eyes:

#8123 Fix header tag for paris summary
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8122 Update German (de) Use cases bucket
  src/content/translations/de/decentralized-identity/index.md
  src/content/translations/de/defi/index.md
  src/content/translations/de/smart-contracts/index.md
  src/content/translations/de/social-networks/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8121 Update Chinese Simplified (zh) Upgrades, Community, Whitepaper, and Tutorials 1 buckets
  src/content/translations/zh/community/events/index.md
  src/content/translations/zh/community/get-involved/index.md
  src/content/translations/zh/community/grants/index.md
  src/content/translations/zh/community/language-resources/index.md
  src/content/translations/zh/community/online/index.md
  src/content/translations/zh/community/support/index.md
  src/content/translations/zh/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/zh/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/zh/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/zh/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/zh/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/zh/eips/index.md
  src/content/translations/zh/upgrades/beacon-chain/index.md
  src/content/translations/zh/upgrades/merge/index.md
  src/content/translations/zh/upgrades/sharding/index.md
  src/content/translations/zh/whitepaper/index.md
  src/intl/zh/page-community.json
  src/intl/zh/page-developers-tutorials.json
  src/intl/zh/page-upgrades-get-involved-bug-bounty.json
  src/intl/zh/page-upgrades-get-involved.json
  src/intl/zh/page-upgrades-index.json
  src/intl/zh/page-upgrades-vision.json
  src/intl/zh/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8119 Add Korean (ko) Exporing, Use Ethereum buckets
  src/content/translations/ko/dao/index.md
  src/content/translations/ko/nft/index.md
  src/intl/ko/page-dapps.json
  src/intl/ko/page-developers-index.json
  src/intl/ko/page-developers-learning-tools.json
  src/intl/ko/page-developers-local-environment.json
  src/intl/ko/page-layer-2.json
  src/intl/ko/page-stablecoins.json
  src/intl/ko/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7853 Fix thumbsdown icon [Fixes #7851]
  src/assets/feedback-thumbs-up.svg
  src/components/FeedbackCard.tsx
Labels: review needed :eyes:

#8118 Update Turkish (tr) Exploring, Use case, Staking buckets
  src/content/translations/tr/decentralized-identity/index.md
  src/content/translations/tr/defi/index.md
  src/content/translations/tr/nft/index.md
  src/content/translations/tr/smart-contracts/index.md
  src/content/translations/tr/social-networks/index.md
  src/content/translations/tr/staking/pools/index.md
  src/content/translations/tr/staking/saas/index.md
  src/content/translations/tr/staking/solo/index.md
  src/intl/tr/page-dapps.json
  src/intl/tr/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8115 Update Marathi (mr) Homepage bucket
  src/intl/mr/common.json
  src/intl/mr/page-index.json
Labels: review needed :eyes:

#8114 Update French (fr) Tutorials 1 bucket
  src/content/translations/fr/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/fr/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/fr/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/fr/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/intl/fr/page-developers-tutorials.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8113 Add Khmer (km) new language and Homepage bucket
  i18n/config.json
  src/intl/en/common.json
  src/intl/km/common.json
  src/intl/km/page-index.json
  src/scripts/crowdin-import.ts
  src/utils/languages.ts
Labels: review needed :eyes:, tooling :wrench:

#8112 Update Chinese Traditional (zh-tw) Exploring buckets
  src/content/translations/zh-tw/nft/index.md
  src/intl/zh-tw/page-dapps.json
  src/intl/zh-tw/page-stablecoins.json
  src/intl/zh-tw/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8109 Update Dutch (nl) Homepage and Exploring buckets
  src/content/translations/nl/nft/index.md
  src/intl/nl/common.json
  src/intl/nl/page-dapps.json
  src/intl/nl/page-stablecoins.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8106 Add Greek (el) Exploring bucket
  src/content/translations/el/nft/index.md
  src/intl/el/page-dapps.json
  src/intl/el/page-stablecoins.json
  src/intl/el/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8105 Update Japanese (ja) Homepage, Essentials, Exploring, Use Ethereum, Use case, Staking, Learn, and Community buckets
  src/content/translations/ja/community/get-involved/index.md
  src/content/translations/ja/community/grants/index.md
  src/content/translations/ja/community/online/index.md
  src/content/translations/ja/community/support/index.md
  src/content/translations/ja/dao/index.md
  src/content/translations/ja/decentralized-identity/index.md
  src/content/translations/ja/energy-consumption/index.md
  src/content/translations/ja/nft/index.md
  src/content/translations/ja/security/index.md
  src/content/translations/ja/social-networks/index.md
  src/content/translations/ja/staking/pools/index.md
  src/content/translations/ja/staking/saas/index.md
  src/content/translations/ja/staking/solo/index.md
  src/intl/ja/common.json
  src/intl/ja/page-dapps.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/ja/page-eth.json
  src/intl/ja/page-layer-2.json
  src/intl/ja/page-stablecoins.json
  src/intl/ja/page-staking.json
  src/intl/ja/page-wallets.json
  src/intl/ja/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8129 Fix: Eth R&D Discord channel link
  src/content/community/research/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8104 Update Brazilian (pt-br) Staking and Learn pages buckets
  src/content/translations/pt-br/bridges/index.md
  src/content/translations/pt-br/energy-consumption/index.md
  src/content/translations/pt-br/governance/index.md
  src/content/translations/pt-br/security/index.md
  src/content/translations/pt-br/staking/pools/index.md
  src/content/translations/pt-br/staking/saas/index.md
  src/content/translations/pt-br/staking/solo/index.md
  src/content/translations/pt-br/web3/index.md
  src/intl/pt-br/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8093 Update Spanish (es) Use Case bucket
  src/content/translations/es/decentralized-identity/index.md
  src/content/translations/es/social-networks/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8092 Add Swahili (sw) Essentials bucket
  src/intl/sw/page-eth.json
  src/intl/sw/page-wallets-find-wallet.json
  src/intl/sw/page-wallets.json
  src/intl/sw/page-what-is-ethereum.json
Labels: review needed :eyes:

#8091 Add Swedish (se) Essentials bucket
  src/content/translations/se/eth/index.md
  src/content/translations/se/wallets/index.md
  src/content/translations/se/what-is-ethereum/index.md
  src/intl/se/page-eth.json
  src/intl/se/page-get-eth.json
  src/intl/se/page-wallets-find-wallet.json
  src/intl/se/page-wallets.json
  src/intl/se/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7933 Update Russian (ru) Homepage and Essentials buckets
  src/intl/ru/common.json
  src/intl/ru/page-eth.json
  src/intl/ru/page-wallets.json
  src/intl/ru/page-what-is-ethereum.json
Labels: review needed :eyes:

#7926 Update Portuguese Brazilian (pt-br) Homepage, Essentials, Exploring, Use Ethereum, Use Cases
  src/content/translations/pt-br/dao/index.md
  src/content/translations/pt-br/decentralized-identity/index.md
  src/content/translations/pt-br/nft/index.md
  src/content/translations/pt-br/smart-contracts/index.md
  src/content/translations/pt-br/social-networks/index.md
  src/intl/pt-br/common.json
  src/intl/pt-br/page-dapps.json
  src/intl/pt-br/page-developers-index.json
  src/intl/pt-br/page-developers-learning-tools.json
  src/intl/pt-br/page-developers-local-environment.json
  src/intl/pt-br/page-eth.json
  src/intl/pt-br/page-index.json
  src/intl/pt-br/page-layer-2.json
  src/intl/pt-br/page-run-a-node.json
  src/intl/pt-br/page-stablecoins.json
  src/intl/pt-br/page-wallets.json
  src/intl/pt-br/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7925 Update French (fr) Exlporing, Use Cases, Staking, Learn pages, and Community pages
  src/content/translations/fr/community/get-involved/index.md
  src/content/translations/fr/community/grants/index.md
  src/content/translations/fr/community/language-resources/index.md
  src/content/translations/fr/community/online/index.md
  src/content/translations/fr/community/support/index.md
  src/content/translations/fr/decentralized-identity/index.md
  src/content/translations/fr/defi/index.md
  src/content/translations/fr/energy-consumption/index.md
  src/content/translations/fr/nft/index.md
  src/content/translations/fr/security/index.md
  src/content/translations/fr/social-networks/index.md
  src/content/translations/fr/staking/pools/index.md
  src/content/translations/fr/staking/saas/index.md
  src/content/translations/fr/staking/solo/index.md
  src/intl/fr/page-dapps.json
  src/intl/fr/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7924 Update Chinese simplified (zh) Homepage, Essentials, Exploring, Use Ethereum, Use Cases, staking, and Learn pages buckets
  src/content/translations/zh/bridges/index.md
  src/content/translations/zh/dao/index.md
  src/content/translations/zh/decentralized-identity/index.md
  src/content/translations/zh/defi/index.md
  src/content/translations/zh/energy-consumption/index.md
  src/content/translations/zh/nft/index.md
  src/content/translations/zh/security/index.md
  src/content/translations/zh/smart-contracts/index.md
  src/content/translations/zh/social-networks/index.md
  src/content/translations/zh/staking/pools/index.md
  src/content/translations/zh/staking/saas/index.md
  src/content/translations/zh/staking/solo/index.md
  src/intl/zh/common.json
  src/intl/zh/page-developers-learning-tools.json
  src/intl/zh/page-eth.json
  src/intl/zh/page-layer-2.json
  src/intl/zh/page-stablecoins.json
  src/intl/zh/page-staking.json
  src/intl/zh/page-wallets.json
  src/intl/zh/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8125 Add EthPDX to Ethereum meetups list
  src/data/community-meetups.json
Labels: review needed :eyes:

#7907 SpeedRunEthereum typo fix
  src/intl/de/page-developers-learning-tools.json
  src/intl/en/page-developers-learning-tools.json
  src/intl/es/page-developers-learning-tools.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/ko/page-developers-learning-tools.json
  src/intl/pt-br/page-developers-learning-tools.json
  src/intl/tr/page-developers-learning-tools.json
  src/intl/zh/page-developers-learning-tools.json
Labels: review needed :eyes:, blocked 🛑

#8154 Fix ethosdev links (reverts #7953)
  src/components/BeaconChainActions.tsx
  src/components/ShardChainsList.tsx
  src/content/community/grants/staking-community-grants/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8032 Gas Page: More info in After the London Upgrade
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8130 Fix markdown link display
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8103 Upgrades landing post-merge updates
  src/data/ethUpgradeArticles.ts
  src/intl/en/page-upgrades-index.json
  src/pages/upgrades/index.tsx
Labels: review needed :eyes:

#7333 Add section on MEV after The Merge
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8158 Update Translation Program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7290 Expand oracle developer docs
  src/content/developers/docs/oracles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8066 Add DeFiRate.com as a resource for DeFi information
  src/content/defi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7338 Added CureDAO to the list of projects and made a sentence a bit more succinct
  src/content/desci/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7676 Update french translation for accounts (small grammar fix)
  src/content/translations/fr/developers/docs/accounts/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7371 Find a wallet table: fade icons in and out when dropdown select is changed
  src/components/FindWallet/WalletTable.tsx
  tsconfig.json
Labels: review needed :eyes:, ui design :nail_care:, ux design :microscope:

#8090 some clarifications on the yellow paper page
  src/content/developers/tutorials/yellow-paper-evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8064 update raspberry pi tutorial
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8039 Fix broken tutorial: updating Ropsten to Goerli
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/alchemy-explorer-goerli.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/alchemy-explorer.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/etherscan-contract.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/etherscan-goerli-contract-creation.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/etherscan-goerli-tx-details.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/etherscan-transaction.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/metamask-goerli.png
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/metamask-ropsten.png
Labels: content :fountain_pen:, review needed :eyes:

#8162 Fix duplicated `getImage` import
  src/components/FindWallet/WalletTable.tsx
Labels: review needed :eyes:

#8180 Update to page-layer-2.json - small grammar error
  src/intl/en/page-layer-2.json
Labels: review needed :eyes:

#8165 Fix link to Dagger-Hashimoto
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8080 Proposal for Deletion of Obsolete Sentences after the Merge in the run-a-node Page
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8132 Improve CSS of StyledCard in developers page
  src/components/Card.tsx
Labels: review needed :eyes:, changes requested

#7943 Fix code splitting issue
  .babelrc
  package.json
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/@chakra-ui/gatsby-plugin/theme.ts
  webpack.lambda.js
  yarn.lock
Labels: review needed :eyes:, dependencies :package:

#8196 v6.7.1
  package.json
Labels: dependencies :package:

#8214 added an extensive list of web3 grants
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8215 Replaced proof of work linkwith correct link
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8216 Missing word in oracles page
  src/content/developers/docs/oracles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8211 updated index.html
  src/content/developers/tutorials/erc20-with-safety-rails/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8200 Change markdown links to anchor links
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8015 Refactor of DataProductCard to Chakra
  src/@chakra-ui/gatsby-plugin/foundations/shadows.ts
  src/components/DataProductCard.tsx
Labels: review needed :eyes:, chakra-migration

#8042 Migrate MatomoOptOut to Chakra
  src/components/MatomoOptOut.tsx
Labels: review needed :eyes:, chakra-migration

#8041 Migrate Leaderboard to Chakra
  src/@chakra-ui/gatsby-plugin/foundations/shadows.ts
  src/components/Leaderboard.tsx
Labels: review needed :eyes:, chakra-migration

#8217 Adding a video about proof-of-stake
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8131 fixes the style of code blocks [Fixes: #8076]
  src/@chakra-ui/gatsby-plugin/styles.ts
Labels: review needed :eyes:

#7233 Add optional 'locales' array to learning tools
  src/components/LearningToolsCardGrid.tsx
  src/content/contributing/translation-program/index.md
  src/pages/developers/learning-tools.tsx
  src/types.ts
Labels: content :fountain_pen:, review needed :eyes:

#7636 Added Avado as solo staking tool
  src/assets/staking/avado-glyph.svg
  src/components/Staking/StakingProductsCardGrid.tsx
  src/data/staking-products.json
Labels: review needed :eyes:, needs grooming

#7846 Update Torus Wallet Data
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#7847 Update Web3Auth Data
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#8191 Added PyChain 2022 to events
  src/data/community-events.json
Labels: review needed :eyes:

#8206 Fixed broken header IDs on oracles page
  src/content/developers/docs/oracles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8188 Add an upcoming event in Ghana to this portal
  src/data/community-events.json
Labels: review needed :eyes:

#8176 Corrected external broken links
  src/content/enterprise/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8166 Change L2Beat API
  src/lambda/l2beat.ts
  src/pages/layer-2.tsx
Labels: content :fountain_pen:, review needed :eyes:

#8223 Deploy v6.7.2
  .all-contributorsrc
  README.md
  package.json
  src/@chakra-ui/gatsby-plugin/foundations/shadows.ts
  src/@chakra-ui/gatsby-plugin/styles.ts
  src/assets/staking/avado-glyph.svg
  src/components/DataProductCard.tsx
  src/components/Leaderboard.tsx
  src/components/LearningToolsCardGrid.tsx
  src/components/MatomoOptOut.tsx
  src/components/Staking/StakingProductsCardGrid.tsx
  src/content/community/grants/index.md
  src/content/contributing/translation-program/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/oracles/index.md
  src/content/developers/tutorials/erc20-with-safety-rails/index.md
  src/content/energy-consumption/index.md
  src/content/enterprise/index.md
  src/content/foundation/index.md
  src/data/community-events.json
  src/data/staking-products.json
  src/data/wallets/wallet-data.ts
  src/lambda/l2beat.ts
  src/pages/developers/learning-tools.tsx
  src/pages/layer-2.tsx
  src/types.ts
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#7616 Expand smart contract security page
  src/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8250 Deply v6.7.3
  package.json
  src/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#8256 Remove extra bullet point from "grants" page
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7410 Update Nodes and Clients page for Sepolia support and fix outdated information
  src/@chakra-ui/gatsby-plugin/styles.ts
  src/content/bridges/index.md
  src/content/developers/docs/mev/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/oracles/index.md
  src/content/developers/docs/smart-contracts/security/index.md
  src/content/developers/docs/smart-contracts/upgrading/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8252 small edit in index.md
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8247 Fix hydration issue on DEV
  gatsby-browser.tsx
  gatsby-ssr.tsx
Labels: bug :bug:

#8258 fix: Tap outside wallet filter panel to close on mobile
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:

#8260 Disable text selection of example ETH address
  src/pages/get-eth.tsx
Labels: content :fountain_pen:, review needed :eyes:

#8275 fix content file structure for zero-knowledge-proofs page
  src/content/zero-knowledge-proofs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8272 Paying for resources is more accurate than time
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8243 Update patricia merkle trie broken link in RLP docs
  src/content/developers/docs/data-structures-and-encoding/rlp/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8228 update the lighthouse description in the docs [Fixes #8227]
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8142 migrate GitStars component to chakra-ui [Fixes #8049]
  src/components/GitStars.tsx
Labels: review needed :eyes:, chakra-migration

#8043 Migrate MeetupList to Chakra
  src/components/MeetupList.tsx
Labels: review needed :eyes:, chakra-migration

#8175 Migrate `OrderedList` to Chakra
  src/components/OrderedList.tsx
Labels: review needed :eyes:, chakra-migration

#8007 Migrate Layer2ProductCard to Chakra
  src/components/Layer2ProductCard.tsx
Labels: review needed :eyes:, chakra-migration

#8293 Inclusion of novel estimates for the energy consumption of Ethereum post-Merge (PoS)
  src/content/energy-consumption/energy_consumption_pre_post_merge.png
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8294 Update index.md
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8289 Update index.md
  src/content/developers/docs/smart-contracts/upgrading/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8280 Fix grammatical error in consensus discovery
  src/content/developers/docs/networking-layer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8265 Small typo fix [staking/solo]
  src/content/staking/solo/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8230 Fixd type in PyChain 2022 description in events
  src/data/community-events.json
Labels: review needed :eyes:

#8233 feat: fixed broken link
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7745 add web3 secret storage definition
  src/content/developers/docs/data-structures-and-encoding/web3-secret-storage/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/pages/get-eth.tsx
Labels: content :fountain_pen:, review needed :eyes:

#7721 UI migrate `CardList`
  src/components/CardList.tsx
  src/components/Link.tsx
  src/utils/url.ts
Labels: review needed :eyes:, chakra-migration

#8311 Fix typo in optimism-std-bridge-annotated-code/index.md
  src/content/translations/it/developers/tutorials/optimism-std-bridge-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8195 Migrate `UpgradeStatus.tsx` to Chakra UI
  src/components/UpgradeStatus.tsx
Labels: review needed :eyes:, chakra-migration

#8302 fix info on head vote in rewards/penalties page
  src/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8315 Deploy v6.7.5
  .all-contributorsrc
  README.md
  package.json
  src/@chakra-ui/gatsby-plugin/components/Checkbox.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/components/CardList.tsx
  src/components/Checkbox.tsx
  src/components/EventCard.tsx
  src/components/FindWallet/WalletFilterSidebar.tsx
  src/components/GitStars.tsx
  src/components/Layer2ProductCard.tsx
  src/components/Link.tsx
  src/components/MeetupList.tsx
  src/components/OrderedList.tsx
  src/components/SelectableCard.tsx
  src/components/UpgradeStatus.tsx
  src/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/developers/docs/data-structures-and-encoding/web3-secret-storage/index.md
  src/content/developers/docs/networking-layer/index.md
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/smart-contracts/upgrading/index.md
  src/content/energy-consumption/energy_consumption_pre_post_merge.png
  src/content/energy-consumption/index.md
  src/content/staking/solo/index.md
  src/content/translations/it/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/data/community-events.json
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/pages/get-eth.tsx
  src/pages/staking/deposit-contract.tsx
  src/utils/url.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#8326 add missing `` to PING on networking-layer markdown
  src/content/developers/docs/networking-layer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8336 Update pageview charts on Translation Program page
  src/assets/translation-program/pageviews-dark.png
  src/assets/translation-program/pageviews-light.png
Labels: review needed :eyes:

#8270 Update ETHDenver 2023
  src/data/community-events.json
Labels: review needed :eyes:

#7836 Improve a sentence in transactions developer docs (Chinese)
  src/content/translations/zh/developers/docs/transactions/index.md
Labels: content :fountain_pen:, translation :earth_africa:

#8338 Updated Bug Bounty Example
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
Labels: review needed :eyes:

#8328 fix 404 url
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8318 refactor(copyToClipboard): add chakra ui Box component
  src/components/CopyToClipboard.tsx
Labels: review needed :eyes:, chakra-migration

#8334 refactor(eth-video): apply `useColorModeValue` for video source
  src/components/EthVideo.tsx
Labels: review needed :eyes:

#7725 Refactor UpgradeTableOfContents component to use ChakraUI
  src/components/UpgradeTableOfContents.tsx
Labels: review needed :eyes:, chakra-migration

#7891 Fix bullet points misalign in staking - saas providers
  src/components/Staking/StakingProductsCardGrid.tsx
Labels: review needed :eyes:

#7892 Fixed #7817, Handle /txs response correctly for 'Number of transactions today'
  src/pages-conditional/what-is-ethereum.tsx
Labels: content :fountain_pen:, review needed :eyes:

#7911 Fix typo in sidechains developer docs (Chinese simplified)
  src/content/translations/zh/developers/docs/scaling/sidechains/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, blocked 🛑

#7915 Fix Minor Misspelling in run a node developers doc (Russian)
  src/content/translations/ru/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, blocked 🛑

#7963 Adding blockchain for science telegram
  src/content/desci/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8100 Fixing broken link and language on /backend page
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/apis/javascript/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8347 Update index.md to add Tally.xyz
  src/content/dao/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8335 Grammar enhancement
  README.md
Labels: changes requested, documentation :book:

#8332 fix table out of size issue
  src/components/MarkdownTable.tsx
Labels: review needed :eyes:

#8353 Deploy v6.7.6
  .all-contributorsrc
  README.md
  package.json
  src/assets/translation-program/pageviews-dark.png
  src/assets/translation-program/pageviews-light.png
  src/components/CopyToClipboard.tsx
  src/components/EthVideo.tsx
  src/components/MarkdownTable.tsx
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/UpgradeTableOfContents.tsx
  src/content/dao/index.md
  src/content/desci/index.md
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/apis/javascript/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/networking-layer/index.md
  src/content/translations/ru/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/zh/developers/docs/scaling/sidechains/index.md
  src/content/translations/zh/developers/docs/transactions/index.md
  src/data/community-events.json
  src/data/execution-bounty-hunters.csv
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
  src/intl/en/page-upgrades-index.json
  src/pages-conditional/what-is-ethereum.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#8081 Migrate release banner component to chakra UI
  src/components/ReleaseBanner.tsx
Labels: review needed :eyes:, dependencies :package:, chakra-migration

#8248 Migrate `RollupProductDevDoc` to Chakra
  src/components/RollupProductDevDoc.tsx
Labels: review needed :eyes:, chakra-migration

#8189 Migrate UpgradeBannerNotification.tsx to chakra
  src/components/UpgradeBannerNotification.tsx
Labels: review needed :eyes:, chakra-migration

#8301 fixes the hover style for disabled button
  src/@chakra-ui/gatsby-plugin/components/Button.ts
Labels: review needed :eyes:

#8329 Updates merge impact on ether issuance page [Closes #7873]
  src/content/upgrades/merge/issuance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8380 Typo patch
  src/content/upgrades/merge/issuance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8378 doc: fix missing variable identifier letter
  src/content/developers/docs/data-structures-and-encoding/web3-secret-storage/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8371 updates governance page
  src/content/governance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8368 Fixed a typo in docs
  src/intl/de/page-developers-local-environment.json
Labels: review needed :eyes:

#8366 Add a new faucet
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8360 Update Korean (ko) Use cases, Staking, and Learn buckets
  src/content/translations/ko/bridges/index.md
  src/content/translations/ko/decentralized-identity/index.md
  src/content/translations/ko/defi/index.md
  src/content/translations/ko/energy-consumption/index.md
  src/content/translations/ko/governance/index.md
  src/content/translations/ko/security/index.md
  src/content/translations/ko/smart-contracts/index.md
  src/content/translations/ko/social-networks/index.md
  src/content/translations/ko/staking/pools/index.md
  src/content/translations/ko/staking/saas/index.md
  src/content/translations/ko/staking/solo/index.md
  src/content/translations/ko/web3/index.md
  src/intl/ko/page-staking-deposit-contract.json
  src/intl/ko/page-staking.json
  src/scripts/markdown-checker.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:

#8383 Patch answer
  src/data/quizzes/questionBank.ts
Labels: review needed :eyes:

#8357 Update French (fr) Upgrades and Contributing buckets
  src/content/translations/fr/contributing/design-principles/index.md
  src/content/translations/fr/contributing/index.md
  src/content/translations/fr/contributing/translation-program/index.md
  src/content/translations/fr/contributing/translation-program/translators-guide/index.md
  src/content/translations/fr/eips/index.md
  src/content/translations/fr/upgrades/beacon-chain/index.md
  src/content/translations/fr/upgrades/merge/index.md
  src/content/translations/fr/upgrades/sharding/index.md
  src/intl/fr/page-contributing-translation-program-acknowledgements.json
  src/intl/fr/page-upgrades-get-involved-bug-bounty.json
  src/intl/fr/page-upgrades-get-involved.json
  src/intl/fr/page-upgrades-index.json
  src/intl/fr/page-upgrades-vision.json
  src/intl/fr/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8266 Migrate slider component to chakra UI
  src/components/Slider.tsx
  src/theme.ts
Labels: review needed :eyes:, chakra-migration

#8356 Update/Add Dutch (nl) Essentials and Use Ethereum buckets
  src/content/translations/nl/dao/index.md
  src/intl/nl/page-developers-index.json
  src/intl/nl/page-developers-learning-tools.json
  src/intl/nl/page-developers-local-environment.json
  src/intl/nl/page-eth.json
  src/intl/nl/page-languages.json
  src/intl/nl/page-layer-2.json
  src/intl/nl/page-run-a-node.json
  src/intl/nl/page-wallets.json
  src/intl/nl/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8351 Correct typo
  src/content/developers/docs/blocks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8331 Fix typo on run a node developer docs page
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8330 Update page-upgrades-get-involved-bug-bounty.json
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
Labels: review needed :eyes:

#8073 Replace codeblocks with tables on blocks page
  src/content/developers/docs/blocks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8101 Update backend doc with one addition node provider
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8224 Migrate `ExpandableInfo` to Chakra
  src/components/ExpandableInfo.tsx
  src/pages/run-a-node.tsx
Labels: content :fountain_pen:, review needed :eyes:, chakra-migration

#8124 Added docs links for IDEs & added furthur readings for frameworks & tools
  src/content/developers/docs/ides/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#8284 Migrate TransitionBanner to Chakra [Fixes #8052]
  src/components/Emoji.tsx
  src/components/TranslationBanner.tsx
Labels: review needed :eyes:, chakra-migration

#8173 upgrades_merge_faqfix
  src/content/developers/docs/data-structures-and-encoding/web3-secret-storage/index.md
  src/intl/en/page-upgrades-index.json
Labels: content :fountain_pen:, review needed :eyes:

#8178 Update existing glossary term #8163
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8186 Update page-what-is-ethereum.json
  src/intl/en/page-what-is-ethereum.json
Labels: review needed :eyes:

#8246 refactor: migrate the merge infographic component from emotion to chakraui #6374
  src/components/MergeInfographic.tsx
Labels: review needed :eyes:, chakra-migration

#8372 Refactor `CallToContribute` component
  src/components/CallToContribute.tsx
Labels: review needed :eyes:, chakra-migration

#8396 fixing typos, inconsistent spellings and padding
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/energy-consumption/index.md
  src/content/translations/fr/energy-consumption/index.md
  src/content/translations/ja/energy-consumption/index.md
  src/content/translations/pt-br/energy-consumption/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/zh/energy-consumption/index.md
  src/content/upgrades/merge/index.md
  src/pages/staking/deposit-contract.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8400 Fixed typos in online communities
  src/content/community/online/index.md
Labels: content :fountain_pen:, review needed :eyes:
