Repository ethereum/ethereum-org-website, pull requests merged in 2022-03, with the labels that each got.

#5539 Farsi: Use Ethereum
  src/intl/fa/page-dapps.json
  src/intl/fa/page-developers-index.json
  src/intl/fa/page-developers-learning-tools.json
  src/intl/fa/page-developers-local-environment.json
  src/intl/fa/page-eth.json
  src/intl/fa/page-get-eth.json
  src/intl/fa/page-languages.json
  src/intl/fa/page-run-a-node.json
  src/intl/fa/page-stablecoins.json
  src/intl/fa/page-wallets-find-wallet.json
  src/intl/fa/page-wallets.json
  src/intl/fa/page-what-is-ethereum.json
Labels: review needed :eyes:

#5554 Italian: Learn pages
  src/content/translations/it/about/index.md
  src/content/translations/it/enterprise/index.md
  src/content/translations/it/foundation/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/it/history/index.md
  src/intl/it/page-about.json
  src/intl/it/page-assets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5553 Italian: Foundational, tech stack and advanced docs
  src/content/translations/it/developers/docs/accounts/index.md
  src/content/translations/it/developers/docs/apis/backend/index.md
  src/content/translations/it/developers/docs/apis/javascript/index.md
  src/content/translations/it/developers/docs/apis/json-rpc/index.md
  src/content/translations/it/developers/docs/blocks/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/it/developers/docs/dapps/index.md
  src/content/translations/it/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/it/developers/docs/data-and-analytics/index.md
  src/content/translations/it/developers/docs/development-networks/index.md
  src/content/translations/it/developers/docs/ethereum-stack/index.md
  src/content/translations/it/developers/docs/evm/index.md
  src/content/translations/it/developers/docs/frameworks/index.md
  src/content/translations/it/developers/docs/gas/index.md
  src/content/translations/it/developers/docs/ides/index.md
  src/content/translations/it/developers/docs/index.md
  src/content/translations/it/developers/docs/intro-to-ether/index.md
  src/content/translations/it/developers/docs/intro-to-ethereum/index.md
  src/content/translations/it/developers/docs/mev/index.md
  src/content/translations/it/developers/docs/networks/index.md
  src/content/translations/it/developers/docs/nodes-and-clients/index.md
  src/content/translations/it/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/it/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/it/developers/docs/oracles/index.md
  src/content/translations/it/developers/docs/programming-languages/dart/index.md
  src/content/translations/it/developers/docs/programming-languages/delphi/index.md
  src/content/translations/it/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/it/developers/docs/programming-languages/golang/index.md
  src/content/translations/it/developers/docs/programming-languages/index.md
  src/content/translations/it/developers/docs/programming-languages/java/index.md
  src/content/translations/it/developers/docs/programming-languages/javascript/index.md
  src/content/translations/it/developers/docs/programming-languages/python/index.md
  src/content/translations/it/developers/docs/programming-languages/rust/index.md
  src/content/translations/it/developers/docs/scaling/index.md
  src/content/translations/it/developers/docs/scaling/layer-2-rollups/index.md
  src/content/translations/it/developers/docs/scaling/plasma/index.md
  src/content/translations/it/developers/docs/scaling/sidechains/index.md
  src/content/translations/it/developers/docs/scaling/state-channels/index.md
  src/content/translations/it/developers/docs/scaling/validium/index.md
  src/content/translations/it/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/it/developers/docs/smart-contracts/composability/index.md
  src/content/translations/it/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/it/developers/docs/smart-contracts/index.md
  src/content/translations/it/developers/docs/smart-contracts/languages/index.md
  src/content/translations/it/developers/docs/smart-contracts/security/index.md
  src/content/translations/it/developers/docs/smart-contracts/testing/index.md
  src/content/translations/it/developers/docs/standards/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/it/developers/docs/standards/tokens/index.md
  src/content/translations/it/developers/docs/storage/index.md
  src/content/translations/it/developers/docs/transactions/index.md
  src/content/translations/it/developers/docs/web2-vs-web3/index.md
  src/intl/it/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5541 Italian: Use cases
  src/content/translations/it/dao/index.md
  src/content/translations/it/defi/index.md
  src/content/translations/it/energy-consumption/index.md
  src/content/translations/it/governance/index.md
  src/content/translations/it/nft/index.md
  src/content/translations/it/security/index.md
  src/intl/it/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5573 Add functionality to ignore languages and files from the build
  .env.example
  gatsby-config.js
  gatsby-node.js
  src/pages/languages.js
  src/scripts/merge-translations.js
  src/utils/translations.js
Labels: review needed :eyes:, tooling :wrench:, internal :house:

#5565 Polygon PoS in sidechains
  src/content/developers/docs/scaling/sidechains/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5530 Upgrade solidity version in Hardhat config [Fixes #5389]
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5572 Update Translation Program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5579 Remove sentence about adding English terms in brackets
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5540 Romanian: Use Ethereum
  src/intl/ro/page-dapps.json
  src/intl/ro/page-developers-index.json
  src/intl/ro/page-developers-learning-tools.json
  src/intl/ro/page-developers-local-environment.json
  src/intl/ro/page-eth.json
  src/intl/ro/page-get-eth.json
  src/intl/ro/page-languages.json
  src/intl/ro/page-run-a-node.json
  src/intl/ro/page-stablecoins.json
  src/intl/ro/page-wallets-find-wallet.json
  src/intl/ro/page-wallets.json
  src/intl/ro/page-what-is-ethereum.json
Labels: review needed :eyes:

#5548 Portuguese Brazilian: Community
  src/content/translations/pt-br/community/events/index.md
  src/content/translations/pt-br/community/get-involved/index.md
  src/content/translations/pt-br/community/grants/index.md
  src/content/translations/pt-br/community/language-resources/index.md
  src/content/translations/pt-br/community/support/index.md
  src/content/translations/pt-br/contributing/translation-program/faq/index.md
  src/content/translations/pt-br/contributing/translation-program/index.md
  src/intl/pt-br/page-community.json
  src/intl/pt-br/page-contributing-translation-program-acknowledgements.json
  src/intl/pt-br/page-contributing-translation-program-contributors.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5546 Indonesian: Community
  src/content/translations/id/community/events/index.md
  src/content/translations/id/community/get-involved/index.md
  src/content/translations/id/community/grants/index.md
  src/content/translations/id/community/index.md
  src/content/translations/id/community/language-resources/index.md
  src/content/translations/id/community/support/index.md
  src/content/translations/id/contributing/translation-program/faq/index.md
  src/content/translations/id/contributing/translation-program/index.md
  src/intl/id/page-community.json
  src/intl/id/page-contributing-translation-program-acknowledgements.json
  src/intl/id/page-contributing-translation-program-contributors.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5547 Italian: Community
  src/content/translations/it/community/events/index.md
  src/content/translations/it/community/get-involved/index.md
  src/content/translations/it/community/grants/index.md
  src/content/translations/it/community/language-resources/index.md
  src/content/translations/it/community/support/index.md
  src/content/translations/it/contributing/translation-program/faq/index.md
  src/content/translations/it/contributing/translation-program/index.md
  src/intl/it/page-community.json
  src/intl/it/page-contributing-translation-program-acknowledgements.json
  src/intl/it/page-contributing-translation-program-contributors.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5542 Romanian: Use cases
  src/content/translations/ro/dao/index.md
  src/content/translations/ro/defi/index.md
  src/content/translations/ro/energy-consumption/index.md
  src/content/translations/ro/governance/index.md
  src/content/translations/ro/nft/index.md
  src/content/translations/ro/security/index.md
  src/intl/ro/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5543 Indonesian: Upgrades
  src/content/translations/id/eips/index.md
  src/content/translations/id/upgrades/beacon-chain/index.md
  src/content/translations/id/upgrades/merge/index.md
  src/content/translations/id/upgrades/shard-chains/index.md
  src/intl/id/page-staking-deposit-contract.json
  src/intl/id/page-staking.json
  src/intl/id/page-upgrades-get-involved-bug-bounty.json
  src/intl/id/page-upgrades-get-involved.json
  src/intl/id/page-upgrades-index.json
  src/intl/id/page-upgrades-vision.json
  src/intl/id/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5549 Chinese Simplified: Foundational docs
  src/content/translations/zh/developers/docs/accounts/index.md
  src/content/translations/zh/developers/docs/blocks/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/zh/developers/docs/dapps/index.md
  src/content/translations/zh/developers/docs/evm/index.md
  src/content/translations/zh/developers/docs/gas/index.md
  src/content/translations/zh/developers/docs/index.md
  src/content/translations/zh/developers/docs/intro-to-ether/index.md
  src/content/translations/zh/developers/docs/intro-to-ethereum/index.md
  src/content/translations/zh/developers/docs/networks/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/zh/developers/docs/transactions/index.md
  src/content/translations/zh/developers/docs/web2-vs-web3/index.md
  src/intl/zh/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5544 Italian: Upgrades
  src/content/translations/it/eips/index.md
  src/content/translations/it/upgrades/beacon-chain/index.md
  src/content/translations/it/upgrades/merge/index.md
  src/content/translations/it/upgrades/shard-chains/index.md
  src/intl/it/page-staking-deposit-contract.json
  src/intl/it/page-staking.json
  src/intl/it/page-upgrades-get-involved-bug-bounty.json
  src/intl/it/page-upgrades-get-involved.json
  src/intl/it/page-upgrades-index.json
  src/intl/it/page-upgrades-vision.json
  src/intl/it/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5551 Indonesian: Tech stack and advanced docs
  src/content/translations/id/developers/docs/apis/backend/index.md
  src/content/translations/id/developers/docs/apis/javascript/index.md
  src/content/translations/id/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/id/developers/docs/development-networks/index.md
  src/content/translations/id/developers/docs/ethereum-stack/index.md
  src/content/translations/id/developers/docs/frameworks/index.md
  src/content/translations/id/developers/docs/ides/index.md
  src/content/translations/id/developers/docs/mev/index.md
  src/content/translations/id/developers/docs/oracles/index.md
  src/content/translations/id/developers/docs/programming-languages/dart/index.md
  src/content/translations/id/developers/docs/programming-languages/delphi/index.md
  src/content/translations/id/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/id/developers/docs/programming-languages/golang/index.md
  src/content/translations/id/developers/docs/programming-languages/java/index.md
  src/content/translations/id/developers/docs/programming-languages/python/index.md
  src/content/translations/id/developers/docs/programming-languages/rust/index.md
  src/content/translations/id/developers/docs/scaling/index.md
  src/content/translations/id/developers/docs/scaling/layer-2-rollups/index.md
  src/content/translations/id/developers/docs/scaling/plasma/index.md
  src/content/translations/id/developers/docs/scaling/sidechains/index.md
  src/content/translations/id/developers/docs/scaling/validium/index.md
  src/content/translations/id/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/id/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/id/developers/docs/smart-contracts/index.md
  src/content/translations/id/developers/docs/smart-contracts/languages/index.md
  src/content/translations/id/developers/docs/smart-contracts/security/index.md
  src/content/translations/id/developers/docs/smart-contracts/testing/index.md
  src/content/translations/id/developers/docs/standards/index.md
  src/content/translations/id/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/id/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/id/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/id/developers/docs/standards/tokens/index.md
  src/content/translations/id/developers/docs/storage/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5552 Indonesian: Learn pages
  src/content/translations/id/about/index.md
  src/content/translations/id/enterprise/index.md
  src/content/translations/id/glossary/index.md
  src/content/translations/id/history/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5574 Fix step title to match the actual script filename
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5568 Add google doc to organizations offering grants
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5571 Fix typo in proof-of-work developer doc (Chinese)
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5570 Fix typo in smart contract developer docs(Chinese)
  src/content/translations/zh/developers/docs/smart-contracts/libraries/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, abandoned

#5535 cleanup altair banner logic
  src/components/Layout.js
Labels: review needed :eyes:

#5529 Add section on translating metadata to translators guide
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5560 docs: update french translation for web2-vs-web3
  src/content/translations/fr/developers/docs/web2-vs-web3/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5333 Added Mint glossary term
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#5575 Added updated stablecoins from the current top 10
  src/pages/stablecoins.js
Labels: content :fountain_pen:, review needed :eyes:

#5440 Adding Filebase to 'Additional Considerations'
  src/content/developers/docs/storage/index.md
Labels: content :fountain_pen:, changes requested

#5387 dev/lang: create a ruby page
  src/content/developers/docs/programming-languages/ruby/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#5314 Add nft resources for interacting with, viewing, and displaying nft contracts
  src/content/developers/docs/apis/javascript/index.md
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#5550 Romanian: Tutorials I
  src/content/translations/ro/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/ro/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/ro/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/ro/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/ro/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/ro/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/ro/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/ro/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/ro/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/intl/ro/page-developers-tutorials.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5593 Fix broken Hardhat logo
  src/assets/dev-tools/hardhat.png
  src/pages/developers/local-environment.js
Labels: review needed :eyes:

#5561 Add 'can I buy Eth2?' FAQ
  src/intl/en/page-upgrades-index.json
  src/pages/upgrades/index.js
Labels: review needed :eyes:

#5608 Fix typos in README.md
  README.md
Labels: documentation :book:

#5606 Fix typo in README
  README.md
Labels: documentation :book:

#5478 Add a side-note as to why ether is burnt
  src/content/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#5555 Italian: Tutorials I, II, & III
  src/content/translations/it/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/it/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/it/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/it/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/it/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/translations/it/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/translations/it/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/it/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/it/developers/tutorials/guide-to-smart-contract-security-tools/index.md
  src/content/translations/it/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/it/developers/tutorials/how-to-implement-an-erc721-market/index.md
  src/content/translations/it/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/it/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  src/content/translations/it/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/it/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/it/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  src/content/translations/it/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/it/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/it/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/it/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/it/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  src/content/translations/it/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/it/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  src/content/translations/it/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
  src/content/translations/it/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/it/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/it/developers/tutorials/secure-development-workflow/index.md
  src/content/translations/it/developers/tutorials/sending-tokens-using-ethersjs/index.md
  src/content/translations/it/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/it/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/translations/it/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/translations/it/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/it/developers/tutorials/testing-erc-20-tokens-with-waffle/index.md
  src/content/translations/it/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/it/developers/tutorials/token-integration-checklist/index.md
  src/content/translations/it/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/it/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/it/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/it/developers/tutorials/using-websockets/index.md
  src/content/translations/it/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/translations/it/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/translations/it/developers/tutorials/waffle-test-simple-smart-contract/index.md
  src/intl/it/page-developers-tutorials.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5603 Added ABI explanation to transactions page
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5613 Fix the sentence @minimalsm wasn't sure about
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5621 Fix typos in translators guide
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#4919 Enable Gatsby functions in preview deploys
  .env.example
  package.json
  src/api/coinmetrics.js
  src/api/defipulse.js
  src/api/etherscan.js
  src/api/etherscanBlock.js
  src/api/roadmap.js
  src/api/translations.js
  src/api/txs.js
  src/components/ReleaseBanner.js
  src/components/Roadmap.js
  src/components/StatsBoxGrid.js
  src/components/TranslationsInProgress.js
  src/lambda/coinmetrics.js
  src/lambda/defipulse.js
  src/lambda/etherscan.js
  src/lambda/etherscanBlock.js
  src/lambda/roadmap.js
  src/lambda/translations.js
  src/lambda/txs.js
  yarn.lock
Labels: review needed :eyes:, dependencies :package:

#5623 Add ruby to list
  src/content/developers/docs/programming-languages/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5628 Add sections to translators guide
  src/content/contributing/translation-program/translators-guide/article-titles-in-editor.png
  src/content/contributing/translation-program/translators-guide/article-titles-in-sidebar.png
  src/content/contributing/translation-program/translators-guide/crowdin-warning-example.png
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5627 Add Validium section to scaling page
  src/content/developers/docs/scaling/index.md
Labels: question ❓, content :fountain_pen:, review needed :eyes:

#5625 Fix a grammatical issue and some word choice (MEV developer doc)
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5619 Add focus when tabbing through content to network statistic section [Fixes #4229]
  src/components/StatsBoxGrid.js
Labels: review needed :eyes:

#5626 Update quicknode links
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5622 Add gas fees calculator resource [fixes #5099]
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5522 Rolluplist component
  src/components/RollupProductDevDoc.js
  src/content/developers/docs/scaling/optimistic-rollups/index.md
  src/content/developers/docs/scaling/zk-rollups/index.md
  src/data/layer-2.json
  src/intl/en/common.json
  src/templates/docs.js
  src/theme.js
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#5637 Update transactions developer doc
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5624 update contracts in tutorial to work with Solidity 0.8.0
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5599 Annotated source code: The Optimism Bridge
  src/content/developers/tutorials/optimism-std-bridge-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5594 Simplify run-light-node-geth tutorial
  src/content/developers/tutorials/run-light-node-geth/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5645 Move layer 2 translations
  src/intl/en/common.json
  src/intl/en/page-layer-2.json
Labels: review needed :eyes:

#5641 Add translation program playbook
  src/content/contributing/translation-program/index.md
  src/content/contributing/translation-program/playbook/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5658 Add ape python framework for smart contract dev
  src/content/developers/docs/frameworks/index.md
  src/content/developers/docs/programming-languages/python/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5653 fix: add note for Arbitrum
  src/data/layer-2.json
  src/intl/en/page-layer-2.json
Labels: content :fountain_pen:, review needed :eyes:

#5687 Fix typo in smart contract security docs
  src/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5686 Update README
  GC-preview-deploy.png
  README.md
  netlify-deploy-preview.png
Labels: documentation :book:

#5694 [Fix] typo in NFT tutorial
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5691 Fix header ids scrolling
  src/components/ButtonLink.js
  src/components/Layout.js
  src/pages/run-a-node.js
  src/utils/scrollIntoView.js
Labels: content :fountain_pen:, review needed :eyes:

#5692 Fix link warning
  src/components/Link.js
Labels: review needed :eyes:

#5640 Update margin-right for CTA button bug-bounty page [Fixes #5616]
  src/pages/upgrades/get-involved/bug-bounty.js
Labels: review needed :eyes:

#5672 Short ABIs for Calldata Optimization
  src/content/developers/tutorials/short-abi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5728 Fix event date inconsistency
  src/data/community-events.json
Labels: review needed :eyes:

#5629 Web3 learn page
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/developers/docs/web2-vs-web3/index.md
  src/content/web3/index.md
  src/content/web3/web1.png
  src/content/web3/web2.png
  src/content/web3/web3.png
  src/intl/en/common.json
  src/templates/static.js
Labels: content :fountain_pen:, review needed :eyes:

#5713 docs: grammar/punctuation changes in Spanish page-index
  src/intl/es/page-index.json
Labels: review needed :eyes:

#5732 Fix small typo on EthExchanges
  src/components/EthExchanges.js
Labels: review needed :eyes:

#5734 Fix broken links
  src/content/community/online/index.md
  src/content/developers/docs/smart-contracts/security/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/el/learn/index.md
  src/content/translations/es/developers/docs/security/index.md
  src/content/translations/fa/learn/index.md
  src/content/translations/fr/developers/docs/security/index.md
  src/content/translations/hu/developers/docs/security/index.md
  src/content/translations/id/developers/docs/smart-contracts/security/index.md
  src/content/translations/ig/learn/index.md
  src/content/translations/it/developers/docs/security/index.md
  src/content/translations/it/developers/docs/smart-contracts/security/index.md
  src/content/translations/it/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/nl/learn/index.md
  src/content/translations/pl/developers/docs/security/index.md
  src/content/translations/pl/learn/index.md
  src/content/translations/ro/developers/docs/security/index.md
  src/content/translations/ru/learn/index.md
  src/content/translations/zh/developers/docs/security/index.md
  src/content/translations/zh/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5725 Fixed incorrectly referring uint112(-1) as 2^111
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5721 Add FeedbackCard to all langs (developer docs)
  src/templates/docs.js
Labels: review needed :eyes:

#5724 Moved up the gas expense paragraph; removed kLast reference
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5738 Deploy v3.18.0
  .all-contributorsrc
  README.md
  package.json
  src/components/EthExchanges.js
  src/components/Footer.js
  src/components/Nav/index.js
  src/components/Search/Input.js
  src/components/Search/index.js
  src/content/community/online/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/smart-contracts/security/index.md
  src/content/developers/docs/web2-vs-web3/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/el/learn/index.md
  src/content/translations/es/developers/docs/security/index.md
  src/content/translations/fa/learn/index.md
  src/content/translations/fr/developers/docs/security/index.md
  src/content/translations/hu/developers/docs/security/index.md
  src/content/translations/id/developers/docs/smart-contracts/security/index.md
  src/content/translations/ig/learn/index.md
  src/content/translations/it/developers/docs/security/index.md
  src/content/translations/it/developers/docs/smart-contracts/security/index.md
  src/content/translations/it/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/nl/learn/index.md
  src/content/translations/pl/developers/docs/security/index.md
  src/content/translations/pl/learn/index.md
  src/content/translations/ro/developers/docs/security/index.md
  src/content/translations/ru/defi/index.md
  src/content/translations/ru/learn/index.md
  src/content/translations/zh/developers/docs/security/index.md
  src/content/translations/zh/developers/docs/smart-contracts/security/index.md
  src/content/web3/index.md
  src/content/web3/web1.png
  src/content/web3/web2.png
  src/content/web3/web3.png
  src/data/community-events.json
  src/intl/en/common.json
  src/intl/es/page-index.json
  src/templates/docs.js
  src/templates/static.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#5735 Remove serif font from homepage
  src/pages/index.js
Labels: content :fountain_pen:, review needed :eyes:

#5743 Node service order
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5777 Fixed grammatical errors (Security learn page)
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5778 Update proof of work transaction fee explanation
  src/content/developers/docs/consensus-mechanisms/pow/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5757 Fix Web3 page typos
  src/content/web3/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5772 Fix typo in the Ethereum glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5771 Fix typo on Uniswap v2 walkthrough
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5770 Update InfuraProvider on send-token-ethersjs tutorial
  src/content/developers/tutorials/send-token-etherjs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5769 Add HODlerCon to community events
  src/data/community-events.json
Labels: review needed :eyes:

#5768 Missing / in URL
  src/content/developers/tutorials/run-light-node-geth/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5766 Fix typo on contributing page
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5765 add links to dashboards and dankrad's article to client diversity page
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5754 Simplify language on dapps developer doc
  src/content/developers/docs/dapps/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5761 Update Ethereum Development Standards page
  src/content/developers/docs/standards/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5745 Adding Alchemy Goerli Faucet
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5630 add alchemy nft api to nft standards
  src/content/developers/docs/standards/tokens/erc-1155/index.md
  src/content/developers/docs/standards/tokens/erc-721/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#5756 L2 page tweaks
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#5797 Fix typo in erc20-annotated-code/index.md
  src/content/developers/tutorials/erc20-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5811 Update 'Spin up your own Ethereum node' page to remove redundant square bracket
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5808 Add missing header IDs in NFT minter tutorial
  src/content/developers/tutorials/nft-minter/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5755 Add grant programs for dYdX and Lido
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5813 Update Minerstat calculator on the Mining page
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5814 Fix Chinese Simplified language code
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5803 Add video guide to using Crowdin
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5804 Update client diversity chart
  src/content/developers/docs/nodes-and-clients/client-diversity.jpg
  src/content/developers/docs/nodes-and-clients/client-diversity/client-diversity.png
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5807 Added resources for Japanese language
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5809 Update Web3 image
  src/content/web3/web3.png
Labels: content :fountain_pen:, review needed :eyes:

#5817 Update Contributors.js to pass alt text [a11y]
  src/components/Contributors.js
Labels: review needed :eyes:

#5680 Add DXDao to list of DAOs
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#5751 Fix TVL chart
  .env.example
  src/api/tvl.js
  src/components/StatsBoxGrid.js
  src/lambda/defipulse.js
  src/lambda/tvl.js
Labels: review needed :eyes:

#5698 Update explainer for "miner extractable value" deprecation
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#5828 Revert tvl lambda name
  src/api/defipulse.js
  src/components/StatsBoxGrid.js
  src/lambda/defipulse.js
Labels: review needed :eyes:

#5830 Deploy v3.19.1
  package.json
  src/api/defipulse.js
  src/components/StatsBoxGrid.js
  src/lambda/defipulse.js
Labels: review needed :eyes:, dependencies :package:

#5845 Remove mention of Eth2 and change punctuation of Beacon Chain
  src/content/contributing/translation-program/faq/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5847 OrderedList compnonent
  src/components/OrderedList.js
Labels: review needed :eyes:

#5849 Typo patch
  src/components/OrderedList.js
Labels: review needed :eyes:

#5856 Fixed spelling of 'constraint' [Fixes #5853]
  src/content/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5854 Fixed spelling of 'execution layer' [Fixes #5852]
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5857 Fixed errors on the Uniswap-v2 contract walkthrough page [Fixes #5855]
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5840 Temporarily remove the vyper.fun link from learning-tools
  src/assets/dev-tools/vyperfun.png
  src/pages/developers/learning-tools.js
Labels: review needed :eyes:

#5861 Fix typo in using web-sockets tutorial
  src/content/developers/tutorials/using-websockets/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5865 Move use cases into use Ethereum navigation dropdown
  src/components/Nav/index.js
Labels: review needed :eyes:

#5870 Deploy v3.20.0
  .all-contributorsrc
  .github/ISSUE_TEMPLATE/suggest_layer2.md
  README.md
  package.json
  src/api/l2beat.js
  src/assets/dev-tools/vyperfun.png
  src/assets/layer-2/arbitrum.png
  src/assets/layer-2/boba.png
  src/assets/layer-2/chainlist.png
  src/assets/layer-2/debank.png
  src/assets/layer-2/dydx.png
  src/assets/layer-2/hero.png
  src/assets/layer-2/l2beat.jpg
  src/assets/layer-2/loopring.png
  src/assets/layer-2/metis-dark.png
  src/assets/layer-2/metis-light.png
  src/assets/layer-2/optimism.png
  src/assets/layer-2/optimistic_rollup.png
  src/assets/layer-2/rollup-2.png
  src/assets/layer-2/rollup.png
  src/assets/layer-2/zapper.png
  src/assets/layer-2/zerion.png
  src/assets/layer-2/zk_rollup.png
  src/assets/layer-2/zkspace.png
  src/assets/layer-2/zksync.png
  src/components/Footer.js
  src/components/Layer2/Layer2Onboard.js
  src/components/Layer2ProductCard.js
  src/components/Nav/index.js
  src/components/OrderedList.js
  src/components/Pill.js
  src/components/ProductCard.js
  src/components/ProductList.js
  src/components/RollupProductDevDoc.js
  src/content/contributing/adding-layer-2/index.md
  src/content/contributing/index.md
  src/content/contributing/translation-program/faq/index.md
  src/content/cookie-policy/index.md
  src/content/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/developers/tutorials/using-websockets/index.md
  src/content/privacy-policy/index.md
  src/content/terms-of-use/index.md
  src/data/layer-2.json
  src/data/layer-2/cex-layer-2-support.json
  src/data/layer-2/layer-2.json
  src/intl/en/common.json
  src/lambda/l2beat.js
  src/pages/developers/learning-tools.js
  src/pages/layer-2.js
  src/theme.js
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, tooling :wrench:, internal :house:
