Repository ethereum/ethereum-org-website, pull requests merged in 2022-02, with the labels that each got.

#5294 Fix glossary typos
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5296 Update Smart contracts for testing description to match with the overall aesthetic
  src/content/developers/docs/programming-languages/python/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5306 Remove public from solidity constructor
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5307 Including Lodestar in the bug bounty program
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
  src/pages/upgrades/get-involved/bug-bounty.js
Labels: review needed :eyes:

#5305 Fix typo in Ethereum stack developer docs
  src/content/developers/docs/ethereum-stack/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#5300 Correct typo in the "How to Mint an NFT" article
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5304 Run a node patches
  src/intl/en/page-run-a-node.json
  src/pages/run-a-node.js
Labels: content :fountain_pen:, review needed :eyes:

#5316 Fix typo in Logging events smart contracts tutorial
  src/content/developers/tutorials/logging-events-smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5312 Vietnamese: Homepage
  src/data/translations.json
  src/intl/vi/common.json
  src/intl/vi/page-index.json
  src/intl/vi/vi.json
Labels: review needed :eyes:

#5322 content: add chat links (gitter/matrix) for ethereum-solidity
  src/content/community/online/index.md
Labels: content :fountain_pen:

#5321 Add Zmok
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5298 Change all instances of 'the merge' to 'The Merge' [Fixes #5278]
  src/components/MergeArticleList.js
  src/content/community/support/index.md
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/intro-to-ether/index.md
  src/content/developers/docs/mev/index.md
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/energy-consumption/index.md
  src/content/governance/index.md
  src/content/learn/index.md
  src/content/nft/index.md
  src/content/security/index.md
  src/content/translations/pt-br/upgrades/merge/index.md
  src/content/upgrades/beacon-chain/index.md
  src/content/upgrades/merge/index.md
  src/content/upgrades/shard-chains/index.md
  src/intl/en/common.json
  src/intl/en/page-staking.json
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
  src/intl/en/page-upgrades-index.json
  src/intl/en/page-upgrades-vision.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, changes requested

#5338 Add Sign in with Ethereum to Python developer docs
  src/content/developers/docs/programming-languages/python/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5350 updating Guido's score
  src/data/consensus-bounty-hunters.csv
Labels: review needed :eyes:

#5341 Update Translation Program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5353 Remove london banner strings from common.js
  src/intl/en/common.json
Labels: review needed :eyes:

#5358 Remove product designer job listing
  src/content/about/index.md
  src/content/about/product-designer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5374 A11y alt text and header fixes
  src/components/ExpandableCard.js
  src/intl/en/page-run-a-node.json
  src/pages/run-a-node.js
Labels: content :fountain_pen:, review needed :eyes:

#5376 Add Foundry to dev frameworks [Closes #5263]
  src/content/developers/docs/frameworks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5375 Adds ETH diamond assets, PNG and SVG [Fixes #3452]
  src/assets/assets/eth-glyph-colored.png
  src/assets/assets/eth-glyph-colored.svg
  src/components/AssetDownload.js
  src/intl/en/page-assets.json
  src/pages/assets.js
Labels: content :fountain_pen:, review needed :eyes:

#5371 add link to new diversity article
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5382 Fix contributing page
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5378 Fix typo on page-run-a-node.json
  src/intl/en/page-run-a-node.json
Labels: review needed :eyes:

#5372 Add downloadable PDF for Ethereum Whitepaper
  src/components/Link.js
  src/content/whitepaper/index.md
  src/content/whitepaper/whitepaper-pdf/Ethereum_White_Paper_-_Buterin_2014.pdf
Labels: content :fountain_pen:, review needed :eyes:

#5388 add alchemy rinkeby faucet link
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5413 Simplify cpubenchmark link
  src/intl/en/page-run-a-node.json
  src/pages/run-a-node.js
Labels: content :fountain_pen:, review needed :eyes:

#5399 Add blockchain bridges
  src/components/Footer.js
  src/components/Nav/index.js
  src/content/bridges/index.md
  src/intl/en/common.json
Labels: content :fountain_pen:, review needed :eyes:

#5393 add sync committee to glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5419 Release v3.12.0
  package.json
  src/components/Footer.js
  src/components/Link.js
  src/components/Nav/index.js
  src/content/bridges/index.md
  src/content/contributing/index.md
  src/content/developers/docs/networks/index.md
  src/content/glossary/index.md
  src/content/whitepaper/index.md
  src/content/whitepaper/whitepaper-pdf/Ethereum_White_Paper_-_Buterin_2014.pdf
  src/intl/en/common.json
  src/intl/en/page-run-a-node.json
  src/pages/run-a-node.js
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#5420 Update community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#5410 Fix broken link to The Graph Network Overview page
  src/content/developers/docs/data-and-analytics/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5406 ptbr community and content hub added for web 3 developers
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5432 Add more descriptive meta title
  src/content/bridges/index.md
  src/intl/en/common.json
Labels: content :fountain_pen:, review needed :eyes:

#5439 Fix whitepaper link
  src/content/whitepaper/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5438 Update Ledger wallet icon and available features
  src/assets/wallets/ledger.png
  src/data/wallets.csv
Labels: review needed :eyes:

#5436 Update commutiny-events.json
  src/data/community-events.json
Labels: review needed :eyes:

#5403 Advise readers of Rinkeby faucet unreliability
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5449 Add checksum to deposit contract address
  src/data/addresses.js
Labels: review needed :eyes:

#5445 Fixes tutorial content filtering by tag [Fixes #5444]
  src/pages/developers/tutorials.js
Labels: review needed :eyes:

#5434 News website BR
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5414 Add tab handler action for submenus in main menu [Fixes #5412]
  src/components/Nav/Dropdown.js
Labels: review needed :eyes:

#5401 Update index.md
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5398 Adding and updating more rust resources
  src/content/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5456 Fix typo in ERC-20 Contract Walk-Through
  src/content/developers/tutorials/erc20-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5377 Add link to Crowdin guide to translators guide and TP page
  src/content/contributing/translation-program/index.md
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5463 Update index.md
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5386 add link to energy consumption page "further reading"
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5468 Fix typo (Github -> GitHub) in Chinese developer docs
  src/content/translations/zh/developers/docs/programming-languages/dot-net/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5460 Add li.finance article to further readings for bridges
  src/content/bridges/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5415 Fix typo in hello-world-smart-contract tutorial
  src/content/developers/tutorials/hello-world-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5470 Solidity is not "heavily inspired by JavaScript"
  src/content/developers/docs/programming-languages/javascript/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5465 Resolving text errors (Chinese dapps page)
  src/intl/zh/page-dapps.json
Labels: review needed :eyes:

#5404 Fix typo (Spanish intro to Ethereum developer docs)
  src/content/translations/es/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5416 Fix wrong translation (Chinese Ethereum stack developer doc)
  src/content/translations/zh/developers/docs/ethereum-stack/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5429 Add Kaleido to Nodes as a Service list
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5397 add "checkpoint" to glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5396 add lmd-ghost to glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5395 add "fork-choice algorithm" to glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5394 add supermajority to glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5370 Update Alchemy link in NFT tutorial
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5348 fix: Use correct terminology to refer to the EVM state
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5363 Add warning to not commit env files
  src/content/developers/tutorials/hello-world-smart-contract/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5368 Update Spanish Python developer doc
  src/content/translations/es/developers/docs/programming-languages/python/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5349 add rocketpool description to pool staking services [Fixes #4891]
  src/intl/en/page-staking.json
  src/pages/staking/index.js
Labels: review needed :eyes:

#5480 Intl batch update: Homepage content
  src/intl/ar/common.json
  src/intl/ar/page-index.json
  src/intl/ca/common.json
  src/intl/ca/page-index.json
  src/intl/de/common.json
  src/intl/de/page-index.json
  src/intl/el/common.json
  src/intl/el/page-index.json
  src/intl/es/common.json
  src/intl/es/page-index.json
  src/intl/fr/common.json
  src/intl/fr/page-index.json
  src/intl/id/common.json
  src/intl/id/page-index.json
  src/intl/it/common.json
  src/intl/it/page-index.json
  src/intl/ja/common.json
  src/intl/ja/page-index.json
  src/intl/ko/common.json
  src/intl/ko/page-index.json
  src/intl/nl/common.json
  src/intl/nl/page-index.json
  src/intl/pt-br/common.json
  src/intl/pt-br/page-index.json
  src/intl/ro/common.json
  src/intl/ro/page-index.json
  src/intl/ru/common.json
  src/intl/ru/page-index.json
  src/intl/sl/common.json
  src/intl/sl/page-index.json
  src/intl/sw/common.json
  src/intl/sw/page-index.json
  src/intl/tr/common.json
  src/intl/tr/page-index.json
  src/intl/zh-tw/common.json
  src/intl/zh-tw/page-index.json
  src/intl/zh/common.json
  src/intl/zh/page-index.json
Labels: review needed :eyes:

#5479 Georgian: New language, homepage
  src/data/translations.json
  src/intl/en/common.json
  src/intl/ka/common.json
  src/intl/ka/page-index.json
Labels: review needed :eyes:

#5391 Update oracle title to spanish
  src/content/translations/es/developers/docs/oracles/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5355 Local plugin to fix translated mdx images urls
  gatsby-config.js
  package.json
  plugins/gatsby-remark-image-urls/index.js
  plugins/gatsby-remark-image-urls/package.json
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, internal :house:

#5484 Added missing word to Smart Contact Risk line on Bridges page
  src/content/bridges/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5301 Combine 4 part series into one tutorial
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/create-app-view-hello-world.png
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/etherscan-contract.png
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/etherscan-transaction.png
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/get-alchemy-api-key.gif
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/hello-world-create-app.png
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/hello-world-explorer.png
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/metamask-ropsten-example.png
Labels: content :fountain_pen:, review needed :eyes:

#5497 Fix typo in Adding Ethereum products
  src/content/contributing/adding-products/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5496 Update cryptography and security channels description on Language Resources page
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5489 Fix header id syntax
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5488 Fix grammar in bridges page
  src/content/bridges/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5493 French: Use cases
  src/content/translations/fr/dao/index.md
  src/content/translations/fr/defi/index.md
  src/content/translations/fr/energy-consumption/index.md
  src/content/translations/fr/governance/index.md
  src/content/translations/fr/nft/index.md
  src/content/translations/fr/security/index.md
  src/intl/fr/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5499 Russian: Use cases
  src/content/translations/ru/dao/index.md
  src/content/translations/ru/defi/index.md
  src/content/translations/ru/energy-consumption/index.md
  src/content/translations/ru/governance/index.md
  src/content/translations/ru/nft/index.md
  src/content/translations/ru/security/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5494 Portuguese Brazilian: Use cases
  src/content/translations/pt-br/dao/index.md
  src/content/translations/pt-br/defi/index.md
  src/content/translations/pt-br/energy-consumption/index.md
  src/content/translations/pt-br/governance/index.md
  src/content/translations/pt-br/nft/index.md
  src/content/translations/pt-br/security/index.md
  src/intl/pt-br/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5500 Frontmatter patch for relative image paths
  src/content/translations/fr/dao/index.md
  src/content/translations/fr/nft/index.md
  src/content/translations/ru/dao/index.md
  src/content/translations/ru/defi/index.md
  src/content/translations/ru/nft/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5490 Farsi: Homepage
  src/intl/fa/common.json
  src/intl/fa/page-index.json
Labels: review needed :eyes:

#5492 Chinese Simplified: Use cases
  src/content/translations/zh/dao/index.md
  src/content/translations/zh/defi/index.md
  src/content/translations/zh/energy-consumption/index.md
  src/content/translations/zh/governance/index.md
  src/content/translations/zh/nft/index.md
  src/content/translations/zh/security/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5503 Rephrase requirement for translator certificate
  src/intl/en/page-contributing-translation-program-acknowledgements.json
Labels: review needed :eyes:

#5504 Refactor poap.png location
  src/content/nft/index.md
  src/content/nft/poap.png
  src/content/translations/fr/nft/index.md
  src/content/translations/id/nft/index.md
  src/content/translations/ja/nft/index.md
  src/content/translations/ru/nft/index.md
  src/content/translations/sl/nft/index.md
  src/content/translations/zh/nft/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5509 Added text to elaborate more on deploying address
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5508 Fix typo in javascript APIs developer docs (Chinese)
  src/content/translations/zh/developers/docs/apis/javascript/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5502 Add gas to transaction example in Python Tutorial
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5495 Create academics-grants-round page
  src/content/community/grants/academics-grants-round/index.md
  src/content/community/grants/index.md
  src/intl/en/common.json
Labels: content :fountain_pen:, review needed :eyes:

#5523 Fix typo on EIPs page
  src/content/eips/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5516 Update and remove references to end-of-life'd legacy Ropsten testnet faucet [Fixes #5450]
  src/content/developers/docs/networks/index.md
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/es/developers/docs/networks/index.md
  src/content/translations/fr/developers/docs/networks/index.md
  src/content/translations/hu/developers/docs/networks/index.md
  src/content/translations/id/developers/docs/networks/index.md
  src/content/translations/it/developers/docs/networks/index.md
  src/content/translations/pl/developers/docs/networks/index.md
  src/content/translations/ro/developers/docs/networks/index.md
  src/content/translations/zh/developers/docs/networks/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5511 CORS esp domain
  netlify.toml
Labels: tooling :wrench:

#5513 Fix typos in echidna tutorial
  src/content/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5510 Fix typo on security learn page
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5518 Update title of EVM page (Chinese developer docs)
  src/content/translations/zh/developers/docs/evm/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#4282 Add tutorial: NFT Minter tutorial
  src/content/developers/tutorials/nft-minter/index.md
Labels: content :fountain_pen:, review needed :eyes:, blocked 🛑

#5528 Update academics content
  src/content/community/grants/academic-grants-round/index.md
  src/content/community/grants/index.md
  src/intl/en/common.json
Labels: content :fountain_pen:, review needed :eyes:

#5531 v3.15.0
  package.json
Labels: dependencies :package:

#5532 Deploy v3.15.0
  .all-contributorsrc
  README.md
  netlify.toml
  package.json
  src/content/community/grants/academic-grants-round/index.md
  src/content/community/grants/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  src/content/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/developers/tutorials/nft-minter/index.md
  src/content/eips/index.md
  src/content/security/index.md
  src/content/translations/es/developers/docs/networks/index.md
  src/content/translations/fr/developers/docs/networks/index.md
  src/content/translations/hu/developers/docs/networks/index.md
  src/content/translations/id/developers/docs/networks/index.md
  src/content/translations/it/developers/docs/networks/index.md
  src/content/translations/pl/developers/docs/networks/index.md
  src/content/translations/ro/developers/docs/networks/index.md
  src/content/translations/zh/developers/docs/apis/javascript/index.md
  src/content/translations/zh/developers/docs/evm/index.md
  src/content/translations/zh/developers/docs/networks/index.md
  src/intl/en/common.json
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, tooling :wrench:, documentation :book:, internal :house:

#5536 Fix academic grant link
  src/content/community/grants/academic-grants-round/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5538 Deploy v3.15.1
  package.json
  src/content/community/grants/academic-grants-round/index.md
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#5533 add run-a-node page to footer
  src/components/Footer.js
Labels: review needed :eyes:
