Repository ethereum/ethereum-org-website, pull requests merged in 2022-08, with the labels that each got.

#7261 Update index.md [Grants]
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7260 Reword section of state channels developer doc
  src/content/developers/docs/scaling/state-channels/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7259 Change ETHVietnam Event Date
  src/data/community-events.json
Labels: review needed :eyes:

#7256 Replace link with client spec
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7255 Add headers to opcodes file
  src/content/developers/docs/evm/opcodes/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7254 Article added in web2 vs web3 and did some minor changes
  src/content/developers/docs/smart-contracts/index.md
  src/content/developers/docs/web2-vs-web3/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7253 add merge date notice
  src/content/upgrades/merge/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7247 Fix non-English balancer community grants links
  src/content/translations/ca/community/grants/index.md
  src/content/translations/de/community/grants/index.md
  src/content/translations/es/community/grants/index.md
  src/content/translations/fa/community/grants/index.md
  src/content/translations/fr/community/grants/index.md
  src/content/translations/id/community/grants/index.md
  src/content/translations/it/community/grants/index.md
  src/content/translations/ja/community/grants/index.md
  src/content/translations/nl/community/grants/index.md
  src/content/translations/pt-br/community/grants/index.md
  src/content/translations/ro/community/grants/index.md
  src/content/translations/ru/community/grants/index.md
  src/content/translations/sl/community/grants/index.md
  src/content/translations/sw/community/grants/index.md
  src/content/translations/tr/community/grants/index.md
  src/content/translations/zh/community/grants/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7242 Remove broken azure dev kit link on non-English pages
  src/content/translations/de/developers/docs/ides/index.md
  src/content/translations/es/developers/docs/ides/index.md
  src/content/translations/fr/developers/docs/ides/index.md
  src/content/translations/hu/developers/docs/ides/index.md
  src/content/translations/id/developers/docs/ides/index.md
  src/content/translations/it/developers/docs/ides/index.md
  src/content/translations/pl/developers/docs/ides/index.md
  src/content/translations/pt-br/developers/docs/ides/index.md
  src/content/translations/ro/developers/docs/ides/index.md
  src/content/translations/tr/developers/docs/ides/index.md
  src/content/translations/zh/developers/docs/ides/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7207 Adding QuickNode to Enterprise Section
  src/content/enterprise/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#7204 Fix ERC-4626 interface
  src/content/developers/docs/standards/tokens/erc-4626/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7203 post-merge update: transactions page
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7158 Fix link to /glossary/#zk-proof
  src/content/developers/docs/data-availability/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7154 post-merge updates: intro to ether page
  src/content/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#7143 post-merge updates: consensus mechanisms
  src/content/developers/docs/consensus-mechanisms/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7266 post-merge updates: beacon chain page
  src/content/upgrades/beacon-chain/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7076 update energy page w pos-merge content
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7083 update NFT page
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7105 post-merge epic: update pow page
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:, documentation :book:

#7115 post-merge updates: staking content
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/intl/en/page-staking.json
Labels: content :fountain_pen:, review needed :eyes:

#7252 post-merge update: accounts page
  src/content/developers/docs/accounts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7199 :sparkles: [ADD] Platzi to developer learning tools
  src/assets/dev-tools/platzi.png
  src/intl/en/page-developers-learning-tools.json
  src/intl/es/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: review needed :eyes:

#7185 Remove wallet data and elements from /wallets/ page
  src/intl/en/page-wallets.json
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#7277 Update Vyper links on Vyper intro page
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7276 Added Vyper Discord link
  src/content/developers/docs/programming-languages/python/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7270 Update formal verification information on the testing smart contracts page
  src/content/developers/docs/smart-contracts/testing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7273 DeSci page: add a new article to further reading
  src/content/desci/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#7286 Adding VyperExamples.com do docs
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7094 Add Stablecoins.wtf reference [Fixes #7093]
  src/assets/stablecoins/tools/stablecoinswtf.png
  src/content/developers/docs/scaling/optimistic-rollups/index.md
  src/intl/en/page-stablecoins.json
  src/pages/stablecoins.tsx
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#7294 Typo on energy-consumption index.md
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7285 Fix confusing wording on verifying smart contracts page
  src/content/developers/docs/smart-contracts/verifying/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6394 Add page on formal verification for smart contracts
  src/content/developers/docs/smart-contracts/formal-verification/index.md
  src/content/developers/docs/smart-contracts/testing/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:, blocked 🛑

#7228 Add CryptoValley jobs
  src/content/community/get-involved/index.md
Labels: blocked 🛑, needs grooming

#7284 A few small updates to L2 Page requested by the OP team
  src/content/developers/docs/bridges/index.md
  src/data/layer-2/cex-layer-2-support.json
  src/data/layer-2/layer-2.json
  src/intl/en/page-layer-2.json
Labels: content :fountain_pen:, review needed :eyes:

#7307 Update Veramo Labs URL
  src/content/decentralized-identity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7304 Crowdin: batch homepage update
  src/intl/ar/common.json
  src/intl/ar/page-index.json
  src/intl/ca/common.json
  src/intl/ca/page-index.json
  src/intl/cs/common.json
  src/intl/cs/page-index.json
  src/intl/da/common.json
  src/intl/de/common.json
  src/intl/es/common.json
  src/intl/fa/common.json
  src/intl/fr/common.json
  src/intl/hi/common.json
  src/intl/hi/page-index.json
  src/intl/hr/common.json
  src/intl/hr/page-index.json
  src/intl/hu/common.json
  src/intl/hu/page-index.json
  src/intl/id/common.json
  src/intl/id/page-index.json
  src/intl/it/common.json
  src/intl/ja/common.json
  src/intl/ja/page-index.json
  src/intl/kk/common.json
  src/intl/kk/page-index.json
  src/intl/ko/common.json
  src/intl/ko/page-index.json
  src/intl/nl/common.json
  src/intl/nl/page-index.json
  src/intl/ph/common.json
  src/intl/pl/common.json
  src/intl/pl/page-index.json
  src/intl/pt-br/common.json
  src/intl/pt/common.json
  src/intl/ru/common.json
  src/intl/sl/common.json
  src/intl/sl/page-index.json
  src/intl/th/common.json
  src/intl/th/page-index.json
  src/intl/tr/common.json
  src/intl/tr/page-index.json
  src/intl/uk/common.json
  src/intl/uk/page-index.json
  src/intl/vi/common.json
  src/intl/vi/page-index.json
  src/intl/zh-tw/common.json
  src/intl/zh-tw/page-index.json
  src/intl/zh/common.json
Labels: review needed :eyes:

#7315 Put wallet hero image below hero content on mobile screens
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#7325 Fix typo in optimism-std-bridge-annotated-code/index.md
  src/content/translations/id/developers/tutorials/optimism-std-bridge-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7318 remove unused wallet.csv data file
  src/data/wallets.csv
Labels: review needed :eyes:

#7316 Update Farsi intro to Ether
  src/content/translations/fa/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7310 Update Italian contributing bucket
  src/content/translations/it/contributing/adding-layer-2s/index.md
  src/content/translations/it/contributing/adding-products/index.md
  src/content/translations/it/contributing/adding-staking-products/index.md
  src/content/translations/it/contributing/index.md
  src/content/translations/it/contributing/translation-program/index.md
  src/content/translations/it/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7312 Update Farsi Community bucket
  src/content/translations/fa/community/online/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7295 post-merge updates: community/online page
  src/content/community/online/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7296 post merge updates: json rpc apis
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7311 Update Russian upgrades bucket
  src/content/translations/ru/eips/index.md
  src/content/translations/ru/upgrades/sharding/index.md
  src/intl/ru/page-upgrades-get-involved-bug-bounty.json
  src/intl/ru/page-upgrades-index.json
  src/intl/ru/page-upgrades-vision.json
  src/intl/ru/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7308 Update Chinese simplified Contributing and Learn 2 buckets
  src/content/translations/zh/contributing/adding-developer-tools/index.md
  src/content/translations/zh/contributing/adding-exchanges/index.md
  src/content/translations/zh/contributing/adding-layer-2s/index.md
  src/content/translations/zh/contributing/adding-products/index.md
  src/content/translations/zh/contributing/adding-staking-products/index.md
  src/content/translations/zh/contributing/content-resources/index.md
  src/content/translations/zh/contributing/index.md
  src/content/translations/zh/contributing/translation-program/faq/index.md
  src/content/translations/zh/contributing/translation-program/index.md
  src/content/translations/zh/contributing/translation-program/translators-guide/index.md
  src/content/translations/zh/energy-consumption/index.md
  src/content/translations/zh/enterprise/private-ethereum/index.md
  src/content/translations/zh/governance/index.md
  src/content/translations/zh/security/index.md
  src/content/translations/zh/web3/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7297 post-merge updates: javascript api page
  src/content/developers/docs/apis/javascript/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7264 post-merge updates: security page
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7109 post-merge updates: pow/mining
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7111 post-merge updates: mining algorithms
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7089 Added a bridging use case + an in-depth article
  src/content/bridges/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#7090 Add zero knowledge rollup resource
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7116 post-merge updates: pos page
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7272 add NOWNodes in provider list
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7330 Fix typo in json-rpc/index.md file
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7195 Chakra UI setup
  gatsby-config.ts
  package.json
  src/@chakra-ui/gatsby-plugin/foundations/colors.ts
  src/@chakra-ui/gatsby-plugin/foundations/index.ts
  src/@chakra-ui/gatsby-plugin/styles.ts
  src/@chakra-ui/gatsby-plugin/theme.ts
  src/components/GlobalStyle.tsx
  src/components/Layout.tsx
  src/components/Nav/index.tsx
  src/styles/layout.css
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#7334 Fix styling for node services list
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7322 Update types of standards
  src/content/developers/docs/standards/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7288 Even more Vyper links for smart contract programming language documentation
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7329 Remove mentions of /r/EtherMining
  src/content/community/online/index.md
  src/content/community/support/index.md
  src/content/translations/ca/community/support/index.md
  src/content/translations/de/community/support/index.md
  src/content/translations/es/community/online/index.md
  src/content/translations/es/community/support/index.md
  src/content/translations/fa/community/online/index.md
  src/content/translations/fa/community/support/index.md
  src/content/translations/fr/community/support/index.md
  src/content/translations/id/community/support/index.md
  src/content/translations/it/community/online/index.md
  src/content/translations/it/community/support/index.md
  src/content/translations/ja/community/online/index.md
  src/content/translations/ja/community/support/index.md
  src/content/translations/nl/community/support/index.md
  src/content/translations/pt-br/community/support/index.md
  src/content/translations/ro/community/support/index.md
  src/content/translations/ru/community/online/index.md
  src/content/translations/ru/community/support/index.md
  src/content/translations/sw/community/online/index.md
  src/content/translations/sw/community/support/index.md
  src/content/translations/tr/community/support/index.md
  src/content/translations/zh/community/support/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7155 add page on attestations to pos section
  src/content/developers/docs/consensus-mechanisms/pos/attestations/attestation_schematic.png
  src/content/developers/docs/consensus-mechanisms/pos/attestations/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:, blocked 🛑, needs grooming

#7088 Add a markdown checker
  package.json
  src/content/community/get-involved/index.md
  src/content/community/research/index.md
  src/content/desci/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/docs/programming-languages/python/index.md
  src/content/developers/docs/smart-contracts/formal-verification/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
  src/content/translations/fa/developers/docs/intro-to-ether/index.md
  src/scripts/markdown-checker.js
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, tooling :wrench:

#7362 Fix broken link on stablecoins page
  src/pages/stablecoins.tsx
Labels: content :fountain_pen:, review needed :eyes:

#7339 Delete Contextually Incorrect Link to EIPs Website
  src/content/developers/docs/standards/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7363 Fix Goerli testnet link
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/intl/en/page-staking.json
Labels: content :fountain_pen:, review needed :eyes:

#7366 Deploy v4.11.1
  package.json
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/standards/index.md
  src/intl/en/page-staking.json
  src/pages/stablecoins.tsx
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#7263 post merge updates: networking layer
  src/content/developers/docs/networking-layer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7380 Updating EthereumSP 2022 Dates.
  src/data/community-events.json
Labels: review needed :eyes:

#7361 Update Chinese Traditional (zh-tw) Exploring bucket
  src/content/translations/zh-tw/enterprise/index.md
  src/intl/zh-tw/page-dapps.json
  src/intl/zh-tw/page-stablecoins.json
  src/intl/zh-tw/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7360 Update Korean (ko) Essentials bucket
  src/intl/ko/page-eth.json
  src/intl/ko/page-get-eth.json
  src/intl/ko/page-wallets-find-wallet.json
Labels: review needed :eyes:

#7358 Update Czech (cs) Essentials bucket
  src/intl/cs/page-eth.json
  src/intl/cs/page-get-eth.json
  src/intl/cs/page-wallets-find-wallet.json
Labels: review needed :eyes:

#7357 Update Hindi (hi) Essentials bucket
  src/intl/hi/page-eth.json
  src/intl/hi/page-get-eth.json
  src/intl/hi/page-wallets-find-wallet.json
  src/intl/hi/page-wallets.json
  src/intl/hi/page-what-is-ethereum.json
Labels: review needed :eyes:

#7356 Add Thai (th) Essentials bucket
  src/intl/th/page-eth.json
  src/intl/th/page-get-eth.json
  src/intl/th/page-wallets-find-wallet.json
  src/intl/th/page-wallets.json
  src/intl/th/page-what-is-ethereum.json
Labels: review needed :eyes:

#7355 Add Malay (ms) Essentials bucket
  src/intl/ms/page-eth.json
  src/intl/ms/page-get-eth.json
  src/intl/ms/page-wallets-find-wallet.json
  src/intl/ms/page-wallets.json
  src/intl/ms/page-what-is-ethereum.json
Labels: review needed :eyes:

#7354 Update Chinese Simplified (zh) Essentials, Exploring, Use Ethereum, Use Cases and Staking buckets
  src/content/translations/zh-tw/nft/index.md
  src/content/translations/zh/dao/index.md
  src/content/translations/zh/decentralized-identity/index.md
  src/content/translations/zh/defi/index.md
  src/content/translations/zh/nft/index.md
  src/content/translations/zh/smart-contracts/index.md
  src/content/translations/zh/social-networks/index.md
  src/content/translations/zh/staking/pools/index.md
  src/content/translations/zh/staking/saas/index.md
  src/content/translations/zh/staking/solo/index.md
  src/intl/zh/page-dapps.json
  src/intl/zh/page-developers-index.json
  src/intl/zh/page-developers-local-environment.json
  src/intl/zh/page-eth.json
  src/intl/zh/page-get-eth.json
  src/intl/zh/page-layer-2.json
  src/intl/zh/page-stablecoins.json
  src/intl/zh/page-staking.json
  src/intl/zh/page-wallets-find-wallet.json
  src/intl/zh/page-wallets.json
  src/intl/zh/page-what-is-ethereum.json
  src/intl/zh/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7353 Update Ukrainian Essentials and Exploring buckets
  src/content/translations/uk/nft/index.md
  src/intl/uk/page-eth.json
  src/intl/uk/page-get-eth.json
  src/intl/uk/page-stablecoins.json
  src/intl/uk/page-wallets-find-wallet.json
  src/intl/uk/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7352 Update Turkish (tr) Exploring bucket
  src/content/translations/tr/nft/index.md
  src/intl/tr/page-stablecoins.json
  src/intl/tr/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7351 Update Russian (ru) Essentials and Exploring buckets
  src/content/translations/ru/nft/index.md
  src/intl/ru/page-eth.json
  src/intl/ru/page-get-eth.json
  src/intl/ru/page-stablecoins.json
  src/intl/ru/page-wallets-find-wallet.json
  src/intl/ru/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7350 Update Brazilian (pt-br) Essentials and Exploring buckets
  src/content/translations/pt-br/nft/index.md
  src/intl/pt-br/page-eth.json
  src/intl/pt-br/page-get-eth.json
  src/intl/pt-br/page-stablecoins.json
  src/intl/pt-br/page-wallets-find-wallet.json
  src/intl/pt-br/page-what-is-ethereum.json
  src/intl/pt-br/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7348 Update Japanese (jp) Essentials, Exploring, and Use Ethereum buckets
  src/content/translations/ja/dao/index.md
  src/content/translations/ja/nft/index.md
  src/intl/ja/page-developers-index.json
  src/intl/ja/page-developers-local-environment.json
  src/intl/ja/page-eth.json
  src/intl/ja/page-get-eth.json
  src/intl/ja/page-layer-2.json
  src/intl/ja/page-stablecoins.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ja/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7346 Update Indonesian (id) Exploring bucket
  src/content/translations/id/nft/index.md
  src/intl/id/page-stablecoins.json
  src/intl/id/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7345 Update French (fr) Essentials, Exploring, Use, Use cases, and Staking buckets
  src/content/translations/fr/dao/index.md
  src/content/translations/fr/decentralized-identity/index.md
  src/content/translations/fr/defi/index.md
  src/content/translations/fr/nft/index.md
  src/content/translations/fr/smart-contracts/index.md
  src/content/translations/fr/social-networks/index.md
  src/content/translations/fr/staking/pools/index.md
  src/content/translations/fr/staking/saas/index.md
  src/content/translations/fr/staking/solo/index.md
  src/intl/fr/page-dapps.json
  src/intl/fr/page-developers-index.json
  src/intl/fr/page-developers-local-environment.json
  src/intl/fr/page-eth.json
  src/intl/fr/page-get-eth.json
  src/intl/fr/page-layer-2.json
  src/intl/fr/page-stablecoins.json
  src/intl/fr/page-staking-deposit-contract.json
  src/intl/fr/page-staking.json
  src/intl/fr/page-wallets-find-wallet.json
  src/intl/fr/page-wallets.json
  src/intl/fr/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7344 Update Spanish (es) Exploring bucket
  src/content/translations/es/nft/index.md
  src/intl/es/page-stablecoins.json
  src/intl/es/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7343 Update German (de) Essentials and Exploring buckets
  src/content/translations/de/nft/index.md
  src/intl/de/page-dapps.json
  src/intl/de/page-eth.json
  src/intl/de/page-get-eth.json
  src/intl/de/page-stablecoins.json
  src/intl/de/page-wallets-find-wallet.json
  src/intl/de/page-wallets.json
  src/intl/de/page-what-is-ethereum.json
  src/intl/de/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7392 Fix typo in Ethereum glossary [Fixes #7388]
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7395 Added missing space on Testing ERC-20 tokens with Waffle page [Fixes #7391]
  src/content/developers/tutorials/testing-erc-20-tokens-with-waffle/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7398 Add ECH Discord to Get Involved page
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7347 Update Italian (it) Essentials, Exploring, Use, Use cases, and Staking buckets
  src/content/translations/it/dao/index.md
  src/content/translations/it/decentralized-identity/index.md
  src/content/translations/it/nft/index.md
  src/content/translations/it/smart-contracts/index.md
  src/content/translations/it/social-networks/index.md
  src/content/translations/it/staking/pools/index.md
  src/content/translations/it/staking/saas/index.md
  src/content/translations/it/staking/solo/index.md
  src/intl/it/page-developers-index.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/it/page-developers-local-environment.json
  src/intl/it/page-eth.json
  src/intl/it/page-get-eth.json
  src/intl/it/page-languages.json
  src/intl/it/page-layer-2.json
  src/intl/it/page-run-a-node.json
  src/intl/it/page-stablecoins.json
  src/intl/it/page-staking.json
  src/intl/it/page-wallets-find-wallet.json
  src/intl/it/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7387 Found explicit type declarations - anti pattern
  src/components/UpgradeTableOfContents.tsx
Labels: review needed :eyes:

#7386 Found unnecessary boolean casts - bug risk
  src/components/AssetDownload.tsx
Labels: review needed :eyes:

#7384 Fix loading error for transactions API
  src/lambda/txs.ts
Labels: review needed :eyes:

#7394 Fixed typo on Create and deploy a DeFi app page [Fixes #7390]
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7378 Smart contract can also protect privacy, not our privacy
  src/content/smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7376 Update zero-knowledge-proofs.md
  src/content/zero-knowledge-proofs.md
Labels: content :fountain_pen:, review needed :eyes:

#7412 Fix broken link on attestations developer doc
  src/content/developers/docs/consensus-mechanisms/pos/attestations/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7408 Remove Hyperledger Burrow from EVM implementations
  src/content/developers/docs/evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7416 Added Hyperledger Burrow to deprecated software page [Fixes #7413]
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7415 Remove Hyperledger Burrow from /evm/ developer doc in all languages
  src/content/translations/de/developers/docs/evm/index.md
  src/content/translations/es/developers/docs/evm/index.md
  src/content/translations/fa/developers/docs/evm/index.md
  src/content/translations/fr/developers/docs/evm/index.md
  src/content/translations/hu/developers/docs/evm/index.md
  src/content/translations/id/developers/docs/evm/index.md
  src/content/translations/it/developers/docs/evm/index.md
  src/content/translations/pl/developers/docs/evm/index.md
  src/content/translations/pt-br/developers/docs/evm/index.md
  src/content/translations/ro/developers/docs/evm/index.md
  src/content/translations/ru/developers/docs/evm/index.md
  src/content/translations/tr/developers/docs/evm/index.md
  src/content/translations/zh/developers/docs/evm/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7417 Fix design principles broken link
  src/content/contributing/design-principles/index.md
  src/content/translations/de/contributing/design-principles/index.md
  src/content/translations/it/contributing/design-principles/index.md
  src/content/translations/zh/contributing/design-principles/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7309 Update Turkish learn 2 bucket
  src/content/translations/tr/enterprise/index.md
  src/content/translations/tr/foundation/index.md
  src/content/translations/tr/glossary/index.md
  src/content/translations/tr/history/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7313 Add French contributing bucket
  src/content/translations/fr/contributing/adding-developer-tools/index.md
  src/content/translations/fr/contributing/adding-exchanges/index.md
  src/content/translations/fr/contributing/adding-glossary-terms/index.md
  src/content/translations/fr/contributing/adding-layer-2s/index.md
  src/content/translations/fr/contributing/adding-products/index.md
  src/content/translations/fr/contributing/adding-staking-products/index.md
  src/content/translations/fr/contributing/content-resources/index.md
  src/content/translations/fr/contributing/design-principles/index.md
  src/content/translations/fr/contributing/index.md
  src/content/translations/fr/contributing/translation-program/faq/index.md
  src/content/translations/fr/contributing/translation-program/index.md
  src/content/translations/fr/contributing/translation-program/translators-guide/index.md
  src/intl/fr/page-contributing-translation-program-acknowledgements.json
  src/intl/fr/page-contributing-translation-program-contributors.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7321 Change buy/withdraw crypto labels to on ramp and off ramp
  src/components/FindWallet/WalletFilterSidebar.tsx
  src/components/FindWallet/WalletPersonasSidebar.tsx
  src/components/FindWallet/WalletTable.tsx
  src/content/contributing/adding-wallets/index.md
  src/data/wallets/wallet-filters.ts
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#7320 Update types of wallets section of wallets page
  src/intl/en/page-wallets.json
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#7319 Update EIP-1559 label to "Fee optimization" for find-wallet
  src/components/FindWallet/WalletPersonasSidebar.tsx
  src/components/FindWallet/WalletTable.tsx
  src/data/wallets/wallet-filters.ts
Labels: review needed :eyes:

#7427 Fix typo, remove duplicate 'can'
  src/content/decentralized-identity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7426 Fix: height of homeIcon svg
  src/components/Nav/index.tsx
Labels: review needed :eyes:

#7375 UI lib - new theme colors
  src/@chakra-ui/gatsby-plugin/foundations/colors.ts
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/@chakra-ui/gatsby-plugin/theme.ts
Labels: review needed :eyes:

#7432 fix liqudation section on MEV page
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7431 Fix tense for withdraw misconception
  src/content/upgrades/merge/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7422 Linked attestation glossary item to attestations page [Fixes #7421]
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7419 Added "The Hitchhikers Guide To Ethereum" (Sharding/The Merge/MEV) [Fixes #6523]
  src/components/MergeArticleList.tsx
  src/components/ShardChainsList.tsx
  src/content/developers/docs/mev/index.md
  src/intl/en/page-upgrades-index.json
Labels: content :fountain_pen:, review needed :eyes:

#7159 Change the checkbox to radio on the profile chooser box
  src/components/FindWallet/WalletPersonasSidebar.tsx
Labels: review needed :eyes:, changes requested

#7379 Fix governance learn page spelling mistakes (German)
  src/content/translations/de/governance/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7430 Fix a Chinese translation error on web 3 page
  src/content/translations/zh/web3/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7423 Update EIP Editor list
  src/content/eips/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7289 Translation Program page revamp
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/components/MergeArticleList.tsx
  src/components/ShardChainsList.tsx
  src/components/TranslationsInProgress.tsx
  src/content/contributing/translation-program/blog-screenshot.png
  src/content/contributing/translation-program/blog-translations/blog-posts.png
  src/content/contributing/translation-program/blog-translations/index.md
  src/content/contributing/translation-program/blog-translations/online-editor.png
  src/content/contributing/translation-program/enterprise-eth.png
  src/content/contributing/translation-program/ethereum-org-screenshot.png
  src/content/contributing/translation-program/how-to-translate/crowdin-files.png
  src/content/contributing/translation-program/how-to-translate/index.md
  src/content/contributing/translation-program/how-to-translate/list-of-languages.png
  src/content/contributing/translation-program/how-to-translate/online-editor.png
  src/content/contributing/translation-program/index.md
  src/content/contributing/translation-program/launchpad-screenshot.png
  src/content/contributing/translation-program/launchpad-translations/index.md
  src/content/contributing/translation-program/launchpad-translations/launchpad-files.png
  src/content/contributing/translation-program/mission-and-vision/index.md
  src/content/contributing/translation-program/resources/index.md
  src/content/contributing/translation-program/translators-guide/editor-settings.png
  src/content/contributing/translation-program/translators-guide/hide-tags.png
  src/content/contributing/translation-program/translators-guide/index.md
  src/content/deprecated-software/index.md
  src/content/translations/de/contributing/translation-program/index.md
  src/content/translations/id/contributing/translation-program/index.md
  src/content/translations/it/contributing/translation-program/index.md
  src/content/translations/ja/contributing/translation-program/index.md
  src/content/translations/pt-br/contributing/translation-program/index.md
  src/content/translations/sl/contributing/translation-program/index.md
  src/content/translations/tr/contributing/translation-program/index.md
  src/content/translations/zh/contributing/translation-program/index.md
  src/intl/en/common.json
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: feature :sparkles:, content :fountain_pen:, translation :earth_africa:, review needed :eyes:, epic 💪

#7133 Nodes and clients Merge update
  src/content/developers/docs/nodes-and-clients/archive-sync.png
  src/content/developers/docs/nodes-and-clients/full-sync.png
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/diagram.png
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7131 post-merge updates: merge page
  src/content/upgrades/merge/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7463 Fix big Netlify _headers files
  package.json
  yarn.lock
Labels: dependencies :package:

#7466 Deploy v5.1.1
  package.json
  yarn.lock
Labels: dependencies :package:

#7488 Fix client diversity page link
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7485 post merge updates: deprecated software
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7452 Ensured article titles/descs are translatable [ShardChainsList]
  src/components/ShardChainsList.tsx
  src/intl/en/page-upgrades-index.json
Labels: review needed :eyes:

#7467 Update the Yellow Paper tutorial
  src/content/developers/tutorials/yellow-paper-evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7472 Tweaked DeSci link
  src/pages/learn/index.tsx
Labels: review needed :eyes:

#7457 Fix uniswap-v2 zh translation mintFee
  src/content/translations/zh/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7448 Moved up Block explorers section; added Dune section
  src/content/developers/docs/data-and-analytics/index.md
Labels: content :fountain_pen:, review needed :eyes:, changes requested

#7456 Added new resource for scam prevention
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7494 Deploy v5.1.2
  .all-contributorsrc
  README.md
  package.json
  src/components/ShardChainsList.tsx
  src/content/developers/docs/data-and-analytics/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/tutorials/yellow-paper-evm/index.md
  src/content/security/index.md
  src/content/translations/zh/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/intl/en/page-upgrades-index.json
  src/pages/learn/index.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#7469 Updated information about Reddit Community Points
  src/content/social-networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7470 remove function that does'nt exist [fixed #7468]
  src/content/developers/docs/standards/tokens/erc-4626/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7495 Add "Leslie the rhino" to /assets page
  src/intl/en/page-assets.json
  src/pages/assets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#7525 Add Trezor
  src/data/wallets/wallet-data.ts
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:

#7497 Update redirecting Alchemy sign-up URL
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/developers/tutorials/using-websockets/index.md
  src/content/translations/id/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/id/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/id/developers/tutorials/using-websockets/index.md
  src/content/translations/it/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/it/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/it/developers/tutorials/using-websockets/index.md
  src/content/translations/pl/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/pl/developers/tutorials/using-websockets/index.md
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ro/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/ro/developers/tutorials/using-websockets/index.md
  src/content/translations/tr/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/zh/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/tutorials/using-websockets/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7496 Fix broken Alchemy docs links
  src/content/developers/docs/apis/javascript/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/developers/tutorials/using-websockets/index.md
  src/content/translations/de/developers/docs/apis/javascript/index.md
  src/content/translations/es/developers/docs/apis/javascript/index.md
  src/content/translations/fr/developers/docs/apis/javascript/index.md
  src/content/translations/hu/developers/docs/apis/javascript/index.md
  src/content/translations/id/developers/docs/apis/javascript/index.md
  src/content/translations/id/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/id/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/id/developers/tutorials/using-websockets/index.md
  src/content/translations/it/developers/docs/apis/javascript/index.md
  src/content/translations/it/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/it/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/it/developers/tutorials/using-websockets/index.md
  src/content/translations/pl/developers/docs/apis/javascript/index.md
  src/content/translations/pl/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/pl/developers/tutorials/using-websockets/index.md
  src/content/translations/pt-br/developers/docs/apis/javascript/index.md
  src/content/translations/ro/developers/docs/apis/javascript/index.md
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ro/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/ro/developers/tutorials/using-websockets/index.md
  src/content/translations/tr/developers/docs/apis/javascript/index.md
  src/content/translations/tr/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/docs/apis/javascript/index.md
  src/content/translations/zh/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/zh/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/tutorials/using-websockets/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7527 Fix: minor typo
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7526 EasyFix - Typo fix
  src/content/developers/docs/smart-contracts/languages/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7517 Update DAppNode multi-client status
  src/data/staking-products.json
Labels: review needed :eyes:

#7515 Update index.md - Grammatical update
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7513 Add community resource on Networks page
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7524 Add Ledger
  src/content/developers/docs/nodes-and-clients/index.md
  src/data/wallets/wallet-data.ts
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:

#7511 Update index.md - General grammatical updates
  src/content/developers/docs/evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7510 Update index.md - General grammatical updates
  src/content/developers/docs/blocks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7537 Deploy v5.2.0
  .all-contributorsrc
  .gitignore
  README.md
  package.json
  src/content/developers/docs/apis/javascript/index.md
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/evm/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/smart-contracts/languages/index.md
  src/content/developers/docs/standards/tokens/erc-4626/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/developers/tutorials/using-websockets/index.md
  src/content/social-networks/index.md
  src/content/translations/de/developers/docs/apis/javascript/index.md
  src/content/translations/es/developers/docs/apis/javascript/index.md
  src/content/translations/fr/developers/docs/apis/javascript/index.md
  src/content/translations/hu/developers/docs/apis/javascript/index.md
  src/content/translations/id/developers/docs/apis/javascript/index.md
  src/content/translations/id/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/id/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/id/developers/tutorials/using-websockets/index.md
  src/content/translations/it/developers/docs/apis/javascript/index.md
  src/content/translations/it/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/it/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/it/developers/tutorials/using-websockets/index.md
  src/content/translations/pl/developers/docs/apis/javascript/index.md
  src/content/translations/pl/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/pl/developers/tutorials/using-websockets/index.md
  src/content/translations/pt-br/developers/docs/apis/javascript/index.md
  src/content/translations/ro/developers/docs/apis/javascript/index.md
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ro/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/ro/developers/tutorials/using-websockets/index.md
  src/content/translations/tr/developers/docs/apis/javascript/index.md
  src/content/translations/tr/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/docs/apis/javascript/index.md
  src/content/translations/zh/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/zh/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/tutorials/using-websockets/index.md
  src/data/staking-products.json
  src/data/wallets/wallet-data.ts
  src/intl/en/page-assets.json
  src/pages/assets.tsx
  src/pages/wallets/find-wallet.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#7531 Update wallet data for 1inch Wallet
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#7509 Add the Arab blockchain week
  src/data/community-events.json
Labels: review needed :eyes:

#7512 Update EVM developer docs - Revised description of 'ledger'
  src/content/developers/docs/evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7479 post merge updates: websockets tutorial
  src/content/developers/tutorials/using-websockets/index.md
Labels: content :fountain_pen:

#7484 post-merge updates: sql tutorial
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
Labels: content :fountain_pen:, review needed :eyes:

#7482 post-merge update: guide to ethereum tutorial
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
Labels: content :fountain_pen:, review needed :eyes:
