Repository ethereum/ethereum-org-website, pull requests merged in 2022-06, with the labels that each got.

#6522 Updated Jonny's score
  src/data/consensus-bounty-hunters.csv
Labels: review needed :eyes:

#6500 Misc TypeScript Migrations
  src/api/etherscan.ts
  src/api/etherscanBlock.ts
  src/api/l2beat.ts
  src/api/roadmap.ts
  src/api/translations.ts
  src/api/txs.ts
  src/components/UpgradeArticles.js
  src/data/addresses.ts
  src/data/ethUpgradeArticles.ts
  src/global.d.ts
  src/lambda/coinmetrics.ts
  src/lambda/defipulse.ts
  src/lambda/etherscan.ts
  src/lambda/etherscanBlock.ts
  src/lambda/l2beat.ts
  src/lambda/roadmap.ts
  src/lambda/translation-build.ts
  src/lambda/translations.js
  src/lambda/translations.ts
  src/lambda/txs.ts
  src/pages/staking/deposit-contract.js
  src/utils/calculateStakingRewards.ts
  src/utils/flattenMessages.ts
  src/utils/getMessages.ts
Labels: review needed :eyes:, typescript-migration

#6499 migrate YouTube component to Typescript
  src/components/YouTube.tsx
Labels: review needed :eyes:, typescript-migration

#6438 Update wallet listing policy
  .github/ISSUE_TEMPLATE/suggest_wallet.md
  .github/ISSUE_TEMPLATE/suggest_wallet.yaml
Labels: tooling :wrench:

#6531 ♻️ Add further Sepolia links
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6530 Fix typo in Gasper developer docs
  src/content/developers/docs/consensus-mechanisms/pos/gasper/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6524 Add The Merge to the style guide
  src/content/contributing/style-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6479 TS - templates migration
  gatsby-node.ts
  package.json
  src/templates/docs.tsx
  src/templates/job.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
  src/utils/getSummaryPoints.js
  src/utils/getSummaryPoints.ts
  src/utils/time.ts
  yarn.lock
Labels: review needed :eyes:, dependencies :package:, typescript-migration

#6518 Feedback widget a11y [Fixes #6517]
  package.json
  src/components/FeedbackWidget.js
  src/intl/en/common.json
  yarn.lock
Labels: review needed :eyes:, dependencies :package:

#6508 Add new information to sidechains page
  src/content/developers/docs/scaling/sidechains/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6502 Add new information to Validium page
  src/content/developers/docs/scaling/validium/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6557 fix(banner-notification): type check error on docs template
  src/templates/docs.tsx
Labels: review needed :eyes:, typescript-migration

#6561 Add Foundry Card to Local Environment Page [Fixes #5984]
  src/assets/dev-tools/foundry.png
  src/intl/en/page-developers-local-environment.json
  src/pages/developers/local-environment.js
Labels: review needed :eyes:

#6571 Fix inaccuracy in intro to ethereum developer doc
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6572 Update MEV title
  src/content/contributing/translation-program/content-buckets/index.md
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-index.json
Labels: content :fountain_pen:, review needed :eyes:

#6574 Update Translation Program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6566 Fix broken link in developer docs
  src/content/developers/docs/networking-layer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6563 Fix typo in developer docs navigation
  src/intl/en/page-developers-index.json
Labels: review needed :eyes:

#6552 Remove OpenZeppelin Test Environment
  src/content/developers/docs/smart-contracts/testing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6542 Fix notation shaking ether -> ETH
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6539 Rephrase section of smart contracts developers docs
  src/content/developers/docs/smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6346 Fix typo in storage developer docs (French)
  src/content/translations/fr/developers/docs/storage/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6395 Fix question marks on upgrades page (French)
  src/intl/fr/page-upgrades-index.json
Labels: review needed :eyes:

#6544 Generate header ids for each level
  src/content/community/research/index.md
  src/content/developers/docs/scaling/sidechains/index.md
  src/content/developers/docs/scaling/validium/index.md
  src/scripts/generate-heading-ids.js
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#6591 Remove incomplete frontmatter
  src/content/developers/docs/scaling/sidechains/index.md
  src/content/developers/docs/scaling/validium/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6587 Fix ordering of data-strctures-and-encoding docs
  src/data/developer-docs-links.yaml
Labels: review needed :eyes:

#6592 Add Cryptoversidad to the Spanish resources
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6548 Feat/convert ts d files
  overrides.d.ts
  src/components/DataProductCard.tsx
  src/components/DeveloperDocsLinks.js
  src/components/DeveloperDocsLinks.tsx
  src/components/DismissibleCard.tsx
  src/components/DocsNav.tsx
  src/components/Icon.tsx
Labels: review needed :eyes:, typescript-migration

#6486 TS migration - /pages-conditional
  docs/schema.md
  gatsby-node.ts
  src/components/ButtonLink.tsx
  src/components/Link.tsx
  src/components/WalletCompare.js
  src/pages-conditional/dapps.tsx
  src/pages-conditional/eth.tsx
  src/pages-conditional/wallets.tsx
  src/pages-conditional/what-is-ethereum.tsx
  src/schema/builders/WalletsCsv.ts
  src/schema/builders/index.ts
  src/schema/index.ts
  src/schema/sdls/ConsensusBountyHuntersCsv.ts
  src/schema/sdls/ExecutionBountyHuntersCsv.ts
  src/schema/sdls/Frontmatter.ts
  src/schema/sdls/SitePage.ts
  src/schema/sdls/index.ts
Labels: content :fountain_pen:, review needed :eyes:, typescript-migration

#6604 mining-algorithms/index.md: fix pow and mining links
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6603 Update index.md -- replace two words ("has plans") with one ("plans")
  src/content/developers/docs/consensus-mechanisms/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6597 Add EthereumSP to events
  src/data/community-events.json
Labels: review needed :eyes:

#6582 Updating Alchemy's entry in Node Services.
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6415 Support RTL (Initial)
  src/components/Footer.js
  src/components/Link.tsx
  src/components/Nav/Dropdown.js
Labels: review needed :eyes:

#6538 Update 2022 ETHGlobal community events list
  src/data/community-events.json
Labels: review needed :eyes:

#6611 Yellow paper tutorial
  src/content/developers/tutorials/yellow-paper-evm/index.md
  src/content/developers/tutorials/yellow-paper-evm/yellow-paper-berlin.pdf
Labels: content :fountain_pen:, review needed :eyes:

#6564 TS migrate CardList Component
  src/components/CardList.tsx
  src/types.ts
Labels: review needed :eyes:, typescript-migration

#6614 Add optimism support in binance.
  src/data/layer-2/cex-layer-2-support.json
Labels: review needed :eyes:

#6618 Update index.md
  src/content/developers/docs/networking-layer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6554 add state-expiry notes to research page
  src/content/community/research/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6600 Convert to ts (c files)
  src/components/ActionCard.tsx
  src/components/Checkbox.tsx
  src/components/CodeModal.tsx
  src/components/Codeblock.tsx
  src/components/Contributors.tsx
  src/components/CopyToClipboard.tsx
  src/hooks/useOnClickOutside.ts
Labels: review needed :eyes:, typescript-migration

#6623 Update Card.tsx
  src/components/Card.tsx
Labels: review needed :eyes:

#6634 Fix types
  overrides.d.ts
  src/components/CardList.tsx
  src/components/DocsNav.tsx
  src/components/Link.tsx
  src/pages-conditional/dapps.tsx
  src/pages-conditional/eth.tsx
  src/pages-conditional/wallets.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, review needed :eyes:

#6596 TS migrate cache utils
  src/utils/cache.js
  src/utils/cache.ts
Labels: review needed :eyes:, typescript-migration

#6625 TS migrate accordion
  src/components/Accordion.tsx
Labels: review needed :eyes:, typescript-migration

#6651 Update PoS overview to add a more on-point lede
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6020 Add page for decentralized social networks
  src/components/Nav/index.js
  src/content/social-networks/index.md
  src/intl/en/common.json
  src/intl/en/template-usecase.json
  src/templates/use-cases.js
Labels: content :fountain_pen:, review needed :eyes:

#6650 Update non-dev links to L2 resources
  src/content/upgrades/merge/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6649 Paragraph to be translated in into-to-ether (Spanish)
  src/content/translations/es/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6640 Update EOA definition
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6644 Add difficulty bomb info to frontier-thawing
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6646 Updates /upgrades/get-involved pre-merge copy
  src/assets/upgrades/besu-card.png
  src/assets/upgrades/erigon-card.png
  src/assets/upgrades/nethermind-card.png
  src/intl/en/page-upgrades-get-involved.json
  src/intl/en/page-upgrades-index.json
  src/pages/upgrades/get-involved/index.js
Labels: review needed :eyes:

#6628 Feat/convert e files
  overrides.d.ts
  src/components/EthPriceCard.tsx
  src/components/EthVideo.tsx
  src/components/EventCard.tsx
  src/components/ExpandableCard.tsx
  src/components/ExpandableInfo.tsx
  src/components/Layer2/Layer2Onboard.js
  src/pages-conditional/eth.tsx
Labels: content :fountain_pen:, review needed :eyes:, typescript-migration

#6660 Update testnet page with Beacon Chain testnets
  src/content/developers/docs/development-networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6583 Adding NFT Smart Contract External Tutorial.
  src/data/externalTutorials.json
Labels: review needed :eyes:

#6526 adding MetaFest to the schedule
  src/data/community-events.json
Labels: review needed :eyes:

#6624 Optimistic feedback dot
  src/assets/feedback-glyph.svg
Labels: review needed :eyes:

#6306 Update logo.svg to square [Fixes #6165]
  static/bimi.pem
  static/logo.svg
Labels: blocked 🛑

#6661 add execution-layer info to client diversity page
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6656 Fix broken links
  src/content/translations/fa/developers/docs/index.md
  src/content/translations/id/developers/docs/index.md
  src/content/translations/it/developers/docs/index.md
  src/content/translations/pt-br/developers/docs/index.md
  src/content/translations/ro/developers/docs/index.md
  src/content/translations/zh/developers/docs/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6643 Fix links from compiling contracts -> evm across all translations
  src/content/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/es/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/fr/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/hu/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/id/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/it/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/pl/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/pt-br/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/ro/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/tr/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/zh/developers/docs/smart-contracts/compiling/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, blocked 🛑

#6082 Add use-case for decentralized identity
  src/components/Nav/index.js
  src/content/decentralized-identity/index.md
  src/intl/en/common.json
  src/intl/en/template-usecase.json
  src/templates/use-cases.js
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, review needed :eyes:

#6670 Json syntax bug patch
  src/data/community-events.json
Labels: review needed :eyes:

#6676 Update Fellowship Program copy.
  src/content/foundation/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6627 add note about wallet addresses to layer 2 page
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#6553 PoW vs PoS Pieces of software
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6657 update geth light node tutorial
  src/content/developers/tutorials/run-light-node-geth/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6684 additional warning about merge changes to p2p networking page
  src/content/developers/docs/networking-layer/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6685 update banner on mining page
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6662 TS migrate BeaconChainActions
  src/components/BeaconChainActions.tsx
Labels: review needed :eyes:, typescript-migration

#6671 Feat/convert f files ts
  src/components/FeedbackCard.tsx
  src/components/FeedbackWidget.tsx
  src/components/FileContributors.tsx
  src/components/Footer.tsx
  src/components/Link.tsx
Labels: review needed :eyes:, typescript-migration

#6679 Feat/convert h and g files ts
  src/components/GhostCard.tsx
  src/components/GitStars.tsx
  src/components/HorizontalCard.tsx
  src/pages-conditional/eth.tsx
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:, typescript-migration

#6599 Merge and energy consumption pages pre-merge updates
  src/components/MergeArticleList.js
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/developers/tutorials/run-light-node-geth/index.md
  src/content/developers/tutorials/yellow-paper-evm/index.md
  src/content/energy-consumption/index.md
  src/content/social-networks/index.md
  src/content/upgrades/merge/index.md
  src/content/upgrades/merge/issuance/index.md
  src/pages/layer-2.js
  src/templates/upgrade.tsx
Labels: content :fountain_pen:, review needed :eyes:

#6629 Adds PreMergeBanner
  src/components/PreMergeBanner.tsx
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/development-networks/index.md
  src/content/developers/docs/intro-to-ether/index.md
  src/content/developers/docs/mev/index.md
  src/content/developers/docs/networking-layer/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/tutorials/run-light-node-geth/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/nft/index.md
  src/pages/developers/tutorials.js
  src/schema/sdls/Frontmatter.ts
  src/templates/docs.tsx
  src/templates/tutorial.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:

#6699 Updates /staking pages pre-merge copy
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/intl/en/page-staking.json
  src/pages/staking/index.js
Labels: content :fountain_pen:, review needed :eyes:

#6622 Wallet listing policy
  src/content/contributing/adding-wallet/index.md
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6687 added ethsafari to community events page
  src/data/community-events.json
Labels: review needed :eyes:, dependencies :package:

#6722 Update channel emoji
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6719 Revert string removal
  src/intl/en/page-upgrades-index.json
Labels: review needed :eyes:

#6720 Added ETHBerlin³
  src/data/community-events.json
Labels: review needed :eyes:

#6716 improve grammar / clarity in `Token Standards` doc
  src/content/developers/docs/standards/tokens/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6711 fix: correct translation mistake
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6695 setup L2 wallet note for translation
  src/intl/en/page-layer-2.json
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#6698 Update /upgrades/vision with premerge copy
  src/intl/en/page-upgrades-vision.json
  src/pages/upgrades/vision.js
Labels: review needed :eyes:

#6690 fix frontier-thawing blog post links
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:, abandoned

#6528 Fixed broken link to merge page on mining algorithms developer docs
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6641 Update /upgrades pre-merge copy
  src/content/upgrades/beacon-chain/index.md
  src/content/upgrades/merge/index.md
  src/content/upgrades/sharding/index.md
  src/intl/en/page-upgrades-index.json
  src/pages/upgrades/index.js
Labels: content :fountain_pen:, review needed :eyes:

#6730 Pluralize listing policies
  .github/ISSUE_TEMPLATE/suggest_layer2.md
  .github/ISSUE_TEMPLATE/suggest_staking_product.md
  .github/ISSUE_TEMPLATE/suggest_wallet.yaml
  src/content/contributing/adding-layer-2s/index.md
  src/content/contributing/adding-staking-products/index.md
  src/content/contributing/adding-wallets/index.md
  src/content/contributing/index.md
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/content/translations/tr/contributing/index.md
  src/intl/en/page-layer-2.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:

#6729 Update listing policy link
  .github/ISSUE_TEMPLATE/suggest_layer2.md
  .github/ISSUE_TEMPLATE/suggest_staking_product.md
  .github/ISSUE_TEMPLATE/suggest_wallet.yaml
  src/content/contributing/adding-layer-2s/index.md
  src/content/contributing/adding-staking-products/index.md
  src/content/contributing/adding-wallets/index.md
  src/content/contributing/index.md
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/content/translations/tr/contributing/index.md
  src/intl/en/page-layer-2.json
Labels: tooling :wrench:

#6742 Clarity/accuracy: transactions developer doc
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6737 Fix typo in nodes and clients developer doc (Chinese)
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6735 Fix broken link on EVM docs page
  src/content/developers/docs/evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6747 Adding Sergio Demian Lerner to EL bounty list
  src/data/execution-bounty-hunters.csv
Labels: review needed :eyes:

#6738 Update markdown
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6740 Adding a Czech section to the Language Resources page
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6739 Fix bug bounty total leaderboard
  src/pages/bug-bounty.js
Labels: content :fountain_pen:, review needed :eyes:

#6682 Rename TurboGeth -> Erigon
  src/content/developers/docs/programming-languages/golang/index.md
  src/content/translations/de/developers/docs/nodes-and-clients/index.md
  src/content/translations/es/developers/docs/programming-languages/golang/index.md
  src/content/translations/fa/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/docs/programming-languages/golang/index.md
  src/content/translations/hu/developers/docs/programming-languages/golang/index.md
  src/content/translations/id/developers/docs/nodes-and-clients/index.md
  src/content/translations/id/developers/docs/programming-languages/golang/index.md
  src/content/translations/it/developers/docs/nodes-and-clients/index.md
  src/content/translations/it/developers/docs/programming-languages/golang/index.md
  src/content/translations/pl/developers/docs/programming-languages/golang/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/golang/index.md
  src/content/translations/ro/developers/docs/nodes-and-clients/index.md
  src/content/translations/ro/developers/docs/programming-languages/golang/index.md
  src/content/translations/tr/developers/docs/nodes-and-clients/index.md
  src/content/translations/tr/developers/docs/programming-languages/golang/index.md
  src/content/translations/zh/developers/docs/programming-languages/golang/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6689 add Chainlink to grants list
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6697 Merge infographic
  src/assets/upgrades/merge-infographic-bg.svg
  src/components/MergeInfographic.tsx
  src/content/upgrades/merge/index.md
  src/intl/en/page-upgrades.json
  src/templates/upgrade.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6756 Pre-merge changes
  src/content/developers/docs/intro-to-ether/index.md
  src/content/developers/docs/networks/index.md
  src/content/developers/docs/nodes-and-clients/eth1eth2client.png
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#6775 Fix examples of dates in translation style guide
  src/content/contributing/translation-program/translators-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6770 Add JSON-RPC API endpoint examples
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6788 Include Arbitrum key in layer-2.json
  src/data/layer-2/layer-2.json
Labels: review needed :eyes:

#6710 PreMergeBanner expanded rollout
  src/components/PreMergeBanner.tsx
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/dapps/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/intro-to-ethereum/index.md
  src/content/developers/docs/transactions/index.md
  src/intl/en/page-upgrades.json
  src/pages/developers/index.js
  src/pages/index.tsx
  src/templates/docs.tsx
Labels: content :fountain_pen:, review needed :eyes:

#6780 update mev page for pre-merge
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6765 Upgrade home icon to svg
  src/assets/eth-home-icon.svg
  src/components/Nav/index.js
Labels: review needed :eyes:

#6731 Remove eth2 card
  src/content/upgrades/merge/index.md
  src/intl/ar/common.json
  src/intl/az/common.json
  src/intl/bg/common.json
  src/intl/ca/common.json
  src/intl/cs/common.json
  src/intl/da/common.json
  src/intl/de/common.json
  src/intl/el/common.json
  src/intl/en/common.json
  src/intl/es/common.json
  src/intl/fa/common.json
  src/intl/fi/common.json
  src/intl/fr/common.json
  src/intl/gl/common.json
  src/intl/hi/common.json
  src/intl/hu/common.json
  src/intl/id/common.json
  src/intl/it/common.json
  src/intl/ja/common.json
  src/intl/ka/common.json
  src/intl/ko/common.json
  src/intl/lt/common.json
  src/intl/ml/common.json
  src/intl/ms/common.json
  src/intl/nl/common.json
  src/intl/pt-br/common.json
  src/intl/ro/common.json
  src/intl/ru/common.json
  src/intl/sk/common.json
  src/intl/sl/common.json
  src/intl/sw/common.json
  src/intl/th/common.json
  src/intl/tr/common.json
  src/intl/vi/common.json
  src/intl/zh-tw/common.json
  src/intl/zh/common.json
  src/templates/upgrade.tsx
Labels: content :fountain_pen:, review needed :eyes:

#6826 update QuickNode
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6824 Add community meetups in the UAE
  src/data/community-meetups.json
Labels: review needed :eyes:

#6821 Update Ethlatam website
  src/data/community-events.json
Labels: review needed :eyes:

#6809 Adding Gwei Calculator to Page
  src/content/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6827 update to QuickNode
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6758 Adds Brighton Blockchain to community meetups (#6757)
  src/data/community-meetups.json
Labels: review needed :eyes:

#6323 Added in use cases for NFTs for consideration on page
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6831 Fix typo in optimism-std-bridge-annotated-code/index.md
  src/content/translations/ro/developers/tutorials/optimism-std-bridge-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6804 Ensured consistent spelling of 'logo' for alts [Fixes #6803]
  src/intl/en/page-developers-learning-tools.json
Labels: review needed :eyes:

#6753 added ETHGathering to community events
  src/data/community-events.json
Labels: review needed :eyes:

#6774 Translate missing string on /intro-to-ether
  src/content/translations/es/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6768 Convert i & l files ts
  src/components/ImageCard.tsx
  src/components/InfoBanner.tsx
  src/components/Layer2/Layer2Onboard.tsx
  src/components/Layer2ProductCard.tsx
  src/components/Layout.tsx
  src/components/Leaderboard.tsx
  src/components/Logo.tsx
  src/pages/layer-2.js
  src/types.ts
Labels: content :fountain_pen:, review needed :eyes:, typescript-migration

#6694 Javascript -> Typescript
  src/components/Card.tsx
  src/components/TranslationBanner.tsx
  src/components/TranslationBannerLegal.tsx
  src/components/TranslationLeaderboard.tsx
  src/components/TranslationsInProgress.tsx
  src/components/Trilemma.tsx
  src/components/TutorialMetadata.tsx
  src/components/TutorialTags.tsx
  src/components/UpcomingEventsList.tsx
  src/pages/contributing/translation-program/acknowledgements.tsx
  src/pages/contributing/translation-program/contributors.tsx
  src/pages/staking/deposit-contract.tsx
Labels: review needed :eyes:, typescript-migration

#6871 Updating bug bounty text for clarity
  src/intl/en/page-upgrades-get-involved-bug-bounty.json
Labels: review needed :eyes:

#6872 removes recursive link
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6873 fix broken header ID in merkle trie page
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6838 Fixed USDC Typo
  src/intl/en/page-stablecoins.json
Labels: review needed :eyes:

#6837 Update myetherwallet data
  src/data/wallets.csv
Labels: review needed :eyes:

#6832 adds energy expenditure graph to energy page
  src/content/energy-consumption/energy.png
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6802 Fix typo in execution-bounty-hunters.csv
  src/data/execution-bounty-hunters.csv
Labels: review needed :eyes:

#6870 [Do not merge] - Sort wallet features
  src/components/FindWallet/WalletTable.tsx
Labels: review needed :eyes:
