Repository ethereum/ethereum-org-website, pull requests merged in 2022-04, with the labels that each got.

#5825 Update StatsBoxGrid.js
  src/components/StatsBoxGrid.js
Labels: review needed :eyes:

#5844 Aria-labels added the wallets checkboxes [Solves #5788]
  src/components/Checkbox.js
  src/components/SelectableCard.js
  src/components/WalletCompare.js
Labels: review needed :eyes:

#5871 Fix jobs links
  src/content/about/index.md
  src/content/translations/id/about/index.md
  src/content/translations/it/about/index.md
  src/content/translations/zh/about/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5710 Update package version to fix m1 chip error
  package.json
  yarn.lock
Labels: dependencies :package:

#5876 remove hardcoded values and using l2beat api
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#5880 Add API tooltip to L2 page
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#5867 Add missing header ids
  src/content/developers/tutorials/reverse-engineering-a-contract/index.md
  src/content/developers/tutorials/short-abi/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/it/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5884 v3.20.1
  package.json
Labels: dependencies :package:

#5882 Patch broken link to blog post
  src/data/eth-upgrade-articles.js
Labels: review needed :eyes:

#5888 Fixed spelling of 'service' in dev docs
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5872 Fix bug in ERC-20 tutorial
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5843 Link ENS glossary to official website
  src/content/glossary/index.md
  src/content/translations/es/glossary/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/hu/glossary/index.md
  src/content/translations/id/glossary/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/pl/glossary/index.md
  src/content/translations/zh/glossary/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5842 Aria-labels added to nav landmarks in dev docs [Solves #5792]
  src/components/Nav/index.js
  src/components/SideNav.js
  src/intl/en/common.json
Labels: review needed :eyes:

#5835 Add find-wallets to adding-products listing criteria
  src/content/contributing/adding-products/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5834 Add a note on adding wallets to ethereum.org
  src/content/contributing/adding-products/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5831 Add aria-label to exchange search input #5793
  src/components/EthExchanges.js
Labels: content :fountain_pen:, review needed :eyes:

#5864 SVG upgrade using gatsby-plugin-react-svg
  gatsby-config.js
  package.json
  src/components/AssetDownload.js
  src/components/ExpandableCard.js
  src/content/contributing/adding-products/index.md
  src/pages/assets.js
  src/pages/run-a-node.js
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, changes requested, internal :house:

#5905 add comment explaining zero address to tutorial
  src/content/developers/docs/smart-contracts/anatomy/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5907 Missing punctuation marks added to sentences [dev docs]
  src/content/developers/docs/frameworks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5912 Fix typo in intro to ether doc [Fixes #5717]
  src/content/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5902 Fix typo on ERC-20 Contract Walkthrough page [Fixes #5892]
  src/content/developers/tutorials/erc20-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5901 Punctuation mark added to sentence [dev docs]
  src/content/developers/docs/development-networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5774 Ethereum whitepaper improvements [Fixes #5773]
  src/content/whitepaper/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5839 Add exchanges
  src/assets/exchanges/bitfinex.png
  src/assets/exchanges/bitflyer.png
  src/assets/exchanges/bitkub.png
  src/assets/exchanges/bitso.png
  src/assets/exchanges/bybit.png
  src/assets/exchanges/easycrypto.png
  src/assets/exchanges/ftx.png
  src/assets/exchanges/gateio.png
  src/assets/exchanges/huobiglobal.png
  src/assets/exchanges/kucoin.png
  src/assets/exchanges/mtpelerin.png
  src/assets/exchanges/okx.png
  src/assets/exchanges/wazirx.png
  src/components/EthExchanges.js
  src/data/exchanges-by-country.csv
Labels: review needed :eyes:

#5826 Add Ethereum Vancouver to list of meetups
  src/data/community-meetups.json
Labels: review needed :eyes:

#5931 Remove legacy meetup (they are now BSV maxis)
  src/data/community-meetups.json
Labels: review needed :eyes:

#5940 Hungarian (hu): Update Homepage bucket
  src/intl/hu/common.json
  src/intl/hu/page-index.json
Labels: review needed :eyes:

#5937 Czech (cs): update Homepage bucket
  src/intl/cs/common.json
  src/intl/cs/page-index.json
Labels: review needed :eyes:

#5938 Finnish (fi): update Homepage bucket
  src/intl/fi/common.json
  src/intl/fi/page-index.json
Labels: review needed :eyes:

#5942 Lithuanian (LT): new Homepage / remove legacy homepage
  src/data/translations.json
  src/intl/lt/common.json
  src/intl/lt/lt.json
  src/intl/lt/page-index.json
Labels: review needed :eyes:

#5943 Malay (ms): update Homepage bucket
  src/intl/ms/common.json
  src/intl/ms/page-index.json
Labels: review needed :eyes:

#5944 Slovak (sk): update Homepage bucket
  src/intl/sk/common.json
  src/intl/sk/page-index.json
Labels: review needed :eyes:

#5945 Thai (th): update Homepage bucket
  src/intl/th/common.json
  src/intl/th/page-index.json
Labels: review needed :eyes:

#5939 Galician (az): New language, homepage
  src/data/translations.json
  src/intl/en/common.json
  src/intl/gl/common.json
  src/intl/gl/page-index.json
Labels: review needed :eyes:

#5936 Azerbaijani (az): New language, homepage
  src/data/translations.json
  src/intl/az/common.json
  src/intl/az/page-index.json
  src/intl/en/common.json
Labels: review needed :eyes:

#5954 Catalan (ca): update "Use Cases" content bucket translation files
  src/content/translations/ca/dao/index.md
  src/content/translations/ca/defi/index.md
  src/content/translations/ca/energy-consumption/index.md
  src/content/translations/ca/governance/index.md
  src/content/translations/ca/nft/index.md
  src/content/translations/ca/security/index.md
  src/intl/ca/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:

#5962 Ukrainian (uk): update "Use Cases" content bucket translation files
  src/content/translations/uk/dao/index.md
  src/content/translations/uk/defi/index.md
  src/content/translations/uk/energy-consumption/index.md
  src/content/translations/uk/governance/index.md
  src/content/translations/uk/nft/index.md
  src/content/translations/uk/security/index.md
  src/intl/uk/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:

#5961 Turkish (tr): update "Use Cases" content bucket translation files
  src/content/translations/tr/dao/index.md
  src/content/translations/tr/defi/index.md
  src/content/translations/tr/energy-consumption/index.md
  src/content/translations/tr/governance/index.md
  src/content/translations/tr/nft/index.md
  src/content/translations/tr/security/index.md
  src/intl/tr/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:

#5960 Spanish (es): update "Use Cases" content bucket translation files
  src/content/translations/es/dao/index.md
  src/content/translations/es/defi/index.md
  src/content/translations/es/energy-consumption/index.md
  src/content/translations/es/governance/index.md
  src/content/translations/es/nft/index.md
  src/content/translations/es/security/index.md
  src/intl/es/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:

#5959 Japanese (jp): update "Use Cases" content bucket translation files
  src/content/translations/ja/dao/index.md
  src/content/translations/ja/defi/index.md
  src/content/translations/ja/energy-consumption/index.md
  src/content/translations/ja/governance/index.md
  src/content/translations/ja/nft/index.md
  src/content/translations/ja/security/index.md
Labels: content :fountain_pen:, translation :earth_africa:

#5958 Indonesian (id): update "Use Cases" content bucket translation files
  src/content/translations/id/dao/index.md
  src/content/translations/id/defi/index.md
  src/content/translations/id/energy-consumption/index.md
  src/content/translations/id/governance/index.md
  src/content/translations/id/nft/index.md
  src/content/translations/id/security/index.md
  src/intl/id/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:

#5957 German (de): update "Use Cases" content bucket translation files
  src/content/translations/de/dao/index.md
  src/content/translations/de/defi/index.md
  src/content/translations/de/energy-consumption/index.md
  src/content/translations/de/governance/index.md
  src/content/translations/de/nft/index.md
  src/content/translations/de/security/index.md
  src/intl/de/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:

#5956 Farsi (fa): update "Use Cases" content bucket translation files
  src/content/translations/fa/dao/index.md
  src/content/translations/fa/defi/index.md
  src/content/translations/fa/energy-consumption/index.md
  src/content/translations/fa/governance/index.md
  src/content/translations/fa/nft/index.md
  src/content/translations/fa/security/index.md
  src/intl/fa/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5963 Catalan (ca): update "Upgrades" content bucket translation files
  src/content/translations/ca/eips/index.md
  src/content/translations/ca/upgrades/beacon-chain/index.md
  src/content/translations/ca/upgrades/merge/index.md
  src/content/translations/ca/upgrades/shard-chains/index.md
  src/intl/ca/page-staking-deposit-contract.json
  src/intl/ca/page-staking.json
  src/intl/ca/page-upgrades-get-involved-bug-bounty.json
  src/intl/ca/page-upgrades-get-involved.json
  src/intl/ca/page-upgrades-index.json
  src/intl/ca/page-upgrades-vision.json
  src/intl/ca/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5964 Chinese: update "Upgrades" content bucket translation files
  src/content/translations/zh/eips/index.md
  src/content/translations/zh/upgrades/beacon-chain/index.md
  src/content/translations/zh/upgrades/merge/index.md
  src/content/translations/zh/upgrades/shard-chains/index.md
  src/intl/zh/page-staking-deposit-contract.json
  src/intl/zh/page-staking.json
  src/intl/zh/page-upgrades-get-involved-bug-bounty.json
  src/intl/zh/page-upgrades-get-involved.json
  src/intl/zh/page-upgrades-index.json
  src/intl/zh/page-upgrades-vision.json
  src/intl/zh/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5955 Dutch (nl): update "Use Cases" content bucket translation files
  src/content/translations/nl/dao/index.md
  src/content/translations/nl/defi/index.md
  src/content/translations/nl/energy-consumption/index.md
  src/content/translations/nl/governance/index.md
  src/content/translations/nl/nft/index.md
  src/content/translations/nl/security/index.md
  src/intl/nl/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:

#5966 French: update "Upgrades" content bucket translation files
  src/content/translations/fr/eips/index.md
  src/content/translations/fr/upgrades/beacon-chain/index.md
  src/content/translations/fr/upgrades/merge/index.md
  src/content/translations/fr/upgrades/shard-chains/index.md
  src/intl/fr/page-staking-deposit-contract.json
  src/intl/fr/page-staking.json
  src/intl/fr/page-upgrades-get-involved-bug-bounty.json
  src/intl/fr/page-upgrades-get-involved.json
  src/intl/fr/page-upgrades-index.json
  src/intl/fr/page-upgrades-vision.json
  src/intl/fr/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5967 German: update "Upgrades" content bucket translation files
  src/content/translations/de/eips/index.md
  src/content/translations/de/upgrades/beacon-chain/index.md
  src/content/translations/de/upgrades/merge/index.md
  src/content/translations/de/upgrades/shard-chains/index.md
  src/intl/de/page-staking-deposit-contract.json
  src/intl/de/page-staking.json
  src/intl/de/page-upgrades-get-involved-bug-bounty.json
  src/intl/de/page-upgrades-get-involved.json
  src/intl/de/page-upgrades-index.json
  src/intl/de/page-upgrades-vision.json
  src/intl/de/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5968 Spanish: update "Upgrades" content bucket translation files
  src/content/translations/es/eips/index.md
  src/content/translations/es/upgrades/beacon-chain/index.md
  src/content/translations/es/upgrades/merge/index.md
  src/content/translations/es/upgrades/shard-chains/index.md
  src/intl/es/page-staking-deposit-contract.json
  src/intl/es/page-staking.json
  src/intl/es/page-upgrades-get-involved-bug-bounty.json
  src/intl/es/page-upgrades-get-involved.json
  src/intl/es/page-upgrades-index.json
  src/intl/es/page-upgrades-vision.json
  src/intl/es/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5969 Turkish: update "Upgrades" content bucket translation files
  src/content/translations/tr/eips/index.md
  src/content/translations/tr/upgrades/beacon-chain/index.md
  src/content/translations/tr/upgrades/merge/index.md
  src/content/translations/tr/upgrades/shard-chains/index.md
  src/intl/tr/page-staking-deposit-contract.json
  src/intl/tr/page-staking.json
  src/intl/tr/page-upgrades-get-involved-bug-bounty.json
  src/intl/tr/page-upgrades-get-involved.json
  src/intl/tr/page-upgrades-index.json
  src/intl/tr/page-upgrades-vision.json
  src/intl/tr/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5953 Japanese: update "Use Ethereum" content bucket translation files
  src/intl/ja/page-dapps.json
  src/intl/ja/page-developers-index.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/ja/page-developers-local-environment.json
  src/intl/ja/page-eth.json
  src/intl/ja/page-get-eth.json
  src/intl/ja/page-languages.json
  src/intl/ja/page-run-a-node.json
  src/intl/ja/page-stablecoins.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ja/page-wallets.json
  src/intl/ja/page-what-is-ethereum.json
Labels: review needed :eyes:

#5952 Italian: update "Use Ethereum" content bucket translation files
  src/intl/it/page-developers-learning-tools.json
  src/intl/it/page-get-eth.json
  src/intl/it/page-run-a-node.json
Labels: review needed :eyes:

#5949 Catalan: update "User Ethereum" translations
  src/components/WalletCompare.js
  src/intl/ca/page-developers-learning-tools.json
  src/intl/ca/page-get-eth.json
  src/intl/ca/page-run-a-node.json
Labels: review needed :eyes:

#5948 Translate title in tags for WalletCompare component
  src/components/WalletCompare.js
Labels: review needed :eyes:

#5950 Chinese: update "Use Ethereum" content bucket translations
  src/intl/zh/page-developers-index.json
  src/intl/zh/page-developers-learning-tools.json
  src/intl/zh/page-get-eth.json
  src/intl/zh/page-run-a-node.json
  src/intl/zh/page-stablecoins.json
  src/intl/zh/page-wallets-find-wallet.json
  src/intl/zh/page-what-is-ethereum.json
Labels: review needed :eyes:

#5951 Farsi: update "Use Ethereum" content bucket translation files
  src/content/translations/fa/use/index.md
  src/content/translations/fa/what-is-ethereum/index.md
  src/intl/fa/page-developers-learning-tools.json
  src/intl/fa/page-get-eth.json
  src/intl/fa/page-run-a-node.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5947 Arabic: update "Use Ethereum" translation files
  src/intl/ar/page-dapps.json
  src/intl/ar/page-developers-index.json
  src/intl/ar/page-developers-learning-tools.json
  src/intl/ar/page-get-eth.json
  src/intl/ar/page-languages.json
  src/intl/ar/page-run-a-node.json
  src/intl/ar/page-stablecoins.json
  src/intl/ar/page-wallets-find-wallet.json
  src/intl/ar/page-wallets.json
  src/intl/ar/page-what-is-ethereum.json
Labels: review needed :eyes:

#5989 Minor copy improvements to DAOs page
  src/content/dao/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5990 Change author
  src/content/developers/tutorials/nft-minter/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5983 Added community event
  src/data/community-events.json
Labels: review needed :eyes:

#5981 Missing punctuation marks added [dev docs]
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5979 Removed Loopring from Validium list
  src/content/developers/docs/scaling/validium/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5994 Fix DAO link
  src/content/translations/ca/dao/index.md
  src/content/translations/de/dao/index.md
  src/content/translations/es/dao/index.md
  src/content/translations/fa/dao/index.md
  src/content/translations/fr/dao/index.md
  src/content/translations/id/dao/index.md
  src/content/translations/it/dao/index.md
  src/content/translations/ja/dao/index.md
  src/content/translations/nl/dao/index.md
  src/content/translations/pt-br/dao/index.md
  src/content/translations/ro/dao/index.md
  src/content/translations/ru/dao/index.md
  src/content/translations/sl/dao/index.md
  src/content/translations/tr/dao/index.md
  src/content/translations/uk/dao/index.md
  src/content/translations/zh/dao/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5971 Add deprecated software to "deprecated software" page
  src/content/deprecated-software/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5932 Removed redundant punctuation marks [dev docs]
  src/content/developers/docs/programming-languages/ruby/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5930 Use Gatsby functions for local development
  README.md
  src/components/ReleaseBanner.js
  src/components/Roadmap.js
  src/components/StatsBoxGrid.js
  src/components/TranslationsInProgress.js
  src/constants.js
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:, documentation :book:

#5929 Anchor div space
  src/components/SkipLink.js
Labels: review needed :eyes:, a11y :wheelchair:

#5928 Fix hidden anchor links on focus
  src/components/SharedStyledComponents.js
  src/templates/upgrade.js
  src/templates/use-cases.js
  src/theme.js
Labels: review needed :eyes:

#5910 Update Tuto The Graph index.md
  src/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5821 Update "whitepaper" spelling for consistency
  src/content/deprecated-software/index.md
  src/content/whitepaper/index.md
  src/content/whitepaper/whitepaper-pdf/Ethereum_Whitepaper_-_Buterin_2014.pdf
Labels: content :fountain_pen:, review needed :eyes:

#5913 Fix wallet filter texts
  src/components/WalletCompare.js
Labels: translation :earth_africa:, review needed :eyes:

#5881 Fix breadcrumbs a11y issues
  src/components/Breadcrumbs.js
Labels: review needed :eyes:, changes requested, abandoned, a11y :wheelchair:

#5997 Update EF jobs link
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6006 Add link to smart contract intro
  src/content/developers/docs/smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6005 Add period to intro paragraph
  src/content/governance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6004 Add link to web3 page
  src/content/developers/docs/web2-vs-web3/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6003 Add link to L2 page
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6002 Add link to L2 page
  src/content/developers/docs/scaling/optimistic-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6000 remove dapptools
  src/assets/dev-tools/dapptools.png
  src/content/developers/docs/dapps/index.md
  src/content/developers/docs/evm/index.md
  src/content/developers/docs/frameworks/index.md
  src/content/developers/docs/smart-contracts/testing/index.md
  src/content/translations/es/developers/docs/smart-contracts/testing/index.md
  src/content/translations/fr/developers/docs/smart-contracts/testing/index.md
  src/content/translations/hu/developers/docs/smart-contracts/testing/index.md
  src/content/translations/id/developers/docs/evm/index.md
  src/content/translations/id/developers/docs/frameworks/index.md
  src/content/translations/id/developers/docs/smart-contracts/testing/index.md
  src/content/translations/it/developers/docs/evm/index.md
  src/content/translations/it/developers/docs/frameworks/index.md
  src/content/translations/it/developers/docs/smart-contracts/testing/index.md
  src/content/translations/pl/developers/docs/smart-contracts/testing/index.md
  src/content/translations/ro/developers/docs/smart-contracts/testing/index.md
  src/content/translations/zh/developers/docs/evm/index.md
  src/content/translations/zh/developers/docs/frameworks/index.md
  src/content/translations/zh/developers/docs/smart-contracts/testing/index.md
  src/data/externalTutorials.json
  src/intl/ar/page-developers-local-environment.json
  src/intl/bg/page-developers-local-environment.json
  src/intl/ca/page-developers-local-environment.json
  src/intl/de/page-developers-local-environment.json
  src/intl/en/page-developers-local-environment.json
  src/intl/es/page-developers-local-environment.json
  src/intl/fa/page-developers-local-environment.json
  src/intl/fr/page-developers-local-environment.json
  src/intl/id/page-developers-local-environment.json
  src/intl/it/page-developers-local-environment.json
  src/intl/ja/page-developers-local-environment.json
  src/intl/pt-br/page-developers-local-environment.json
  src/intl/ro/page-developers-local-environment.json
  src/intl/ru/page-developers-local-environment.json
  src/intl/sl/page-developers-local-environment.json
  src/intl/sw/page-developers-local-environment.json
  src/intl/tr/page-developers-local-environment.json
  src/intl/uk/page-developers-local-environment.json
  src/intl/zh/page-developers-local-environment.json
  src/pages/developers/local-environment.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#5988 Vietnamese (vi): Update translation
  src/intl/vi/common.json
  src/intl/vi/page-developers-index.json
Labels: review needed :eyes:

#5916 Expandable cards a11y improvements
  src/components/ExpandableCard.js
Labels: review needed :eyes:, a11y :wheelchair:

#6013 Remove the 3 'the's before the word Ethereum
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#6009 Fixing broken link in Smart contract composability docs
  src/content/developers/docs/smart-contracts/composability/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5996 Add client version string info to /run-a-node/
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6024 Update Twitter reference
  src/content/web3/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6023 Update merge
  src/content/community/support/index.md
  src/content/energy-consumption/index.md
  src/content/translations/id/community/support/index.md
  src/content/translations/id/energy-consumption/index.md
  src/content/translations/zh/energy-consumption/index.md
  src/intl/ca/page-upgrades-vision.json
  src/intl/ca/page-upgrades.json
  src/intl/de/page-upgrades-vision.json
  src/intl/en/page-upgrades-vision.json
  src/intl/en/page-upgrades.json
  src/intl/es/page-upgrades-vision.json
  src/intl/es/page-upgrades.json
  src/intl/fr/page-upgrades-vision.json
  src/intl/fr/page-upgrades.json
  src/intl/id/page-upgrades-vision.json
  src/intl/id/page-upgrades.json
  src/intl/it/page-upgrades-vision.json
  src/intl/it/page-upgrades.json
  src/intl/pt-br/page-upgrades-vision.json
  src/intl/pt-br/page-upgrades.json
  src/intl/tr/page-upgrades-vision.json
  src/intl/tr/page-upgrades.json
  src/intl/zh/page-upgrades-vision.json
  src/intl/zh/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6035 Staking epic patches
  src/components/Staking/StakingHierarchy.js
  src/components/Staking/StakingStatsBox.js
  src/content/staking/solo/index.md
  src/pages/staking/index.js
Labels: content :fountain_pen:, review needed :eyes:

#5911 Overwrite Persian numbering for StatsBoxes
  src/components/StatsBoxGrid.js
  src/pages/layer-2.js
  src/utils/translations.js
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6036 Update academic grants dates
  src/content/community/grants/academic-grants-round/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6028 Fix typo in optimism-std-bridge-annotated-code/index.md
  src/content/developers/tutorials/optimism-std-bridge-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6037 Update staking page to override Persian number formatting
  src/components/Staking/StakingStatsBox.js
Labels: review needed :eyes:

#6040 Fix broken link
  src/content/contributing/adding-staking-product/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6043 Deploy 3.21.2
  package.json
  src/content/contributing/adding-staking-product/index.md
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#6047 Fixed a couple of typos 'smart contact' > 'smart contract'
  src/content/developers/tutorials/nft-minter/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6029 New color for the theme (mostly seen on safari)
  gatsby-config.js
Labels: internal :house:

#6045 Update link for "Follow these instructions"
  src/content/developers/docs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6053 Rephrased the description of Ethereum upgrades on the homepage [Fixes #6030]
  src/intl/en/page-index.json
Labels: review needed :eyes:

#6051 Change position of quotation marks on MEV page
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6056 Typo fix in optimism-std-bridge-annotated-code
  src/content/developers/tutorials/optimism-std-bridge-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6055 Improve wording (Chinese) on intro-to-ether page
  src/content/translations/zh/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6093 Update contribution year
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#5925 Fix broken shard chains link on layer-2 page
  src/pages/layer-2.js
Labels: content :fountain_pen:, review needed :eyes:

#6136 Remove typo on design principles
  src/content/contributing/design-principles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6135 Fix formatting bug on design principles
  src/content/contributing/design-principles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6066 Update community events list to be more accurate
  src/data/community-events.json
Labels: review needed :eyes:

#6150 Spelling correction
  src/content/developers/tutorials/optimism-std-bridge-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6151 fix link to The Merge
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6156 Updated index.md [Dev/Docs/Scaling/Plasma]
  src/content/developers/docs/scaling/plasma/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6160 Update learning-tools.js to use correct crypto zombies url
  src/pages/developers/learning-tools.js
Labels: review needed :eyes:

#6158 Update copy on community support page
  src/content/community/support/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6143 Update on part 2 - Tuto 'How to mint an NFT'
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6141 Make ExpandableCard question box clickable
  src/components/ExpandableCard.js
Labels: review needed :eyes:

#6134 Fix link to history page/broken link
  src/content/enterprise/index.md
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#6171 Fix typo in merge/index.md
  src/content/translations/ja/upgrades/merge/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6131 Update: Romanian translation files Tutorials 3
  src/content/translations/ro/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/translations/ro/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/translations/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ro/developers/tutorials/guide-to-smart-contract-security-tools/index.md
  src/content/translations/ro/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  src/content/translations/ro/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/ro/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/ro/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  src/content/translations/ro/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  src/content/translations/ro/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/ro/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
  src/content/translations/ro/developers/tutorials/nft-minter/index.md
  src/content/translations/ro/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/ro/developers/tutorials/secure-development-workflow/index.md
  src/content/translations/ro/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/translations/ro/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/translations/ro/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/ro/developers/tutorials/testing-erc-20-tokens-with-waffle/index.md
  src/content/translations/ro/developers/tutorials/testing-smart-contract-with-waffle/index.md
  src/content/translations/ro/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/ro/developers/tutorials/token-integration-checklist/index.md
  src/content/translations/ro/developers/tutorials/using-websockets/index.md
  src/content/translations/ro/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/translations/ro/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6127 Update: Chinese translation files Tutorials 2
  src/content/translations/zh/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/zh/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/zh/developers/tutorials/how-to-implement-an-erc721-market/index.md
  src/content/translations/zh/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/zh/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/zh/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  src/content/translations/zh/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/zh/developers/tutorials/send-token-etherjs/index.md
  src/content/translations/zh/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6124 Update: Chinese translation files Tutorials 1
  src/content/translations/zh/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/zh/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/zh/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/zh/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/zh/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/zh/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/zh/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/intl/zh/page-developers-tutorials.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6130 Update: Indonesian translation files Tutorials 3
  src/content/translations/id/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/translations/id/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/translations/id/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/id/developers/tutorials/guide-to-smart-contract-security-tools/index.md
  src/content/translations/id/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  src/content/translations/id/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/id/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/id/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  src/content/translations/id/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  src/content/translations/id/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/id/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
  src/content/translations/id/developers/tutorials/nft-minter/index.md
  src/content/translations/id/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/id/developers/tutorials/secure-development-workflow/index.md
  src/content/translations/id/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/translations/id/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/translations/id/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/id/developers/tutorials/testing-erc-20-tokens-with-waffle/index.md
  src/content/translations/id/developers/tutorials/testing-smart-contract-with-waffle/index.md
  src/content/translations/id/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/id/developers/tutorials/token-integration-checklist/index.md
  src/content/translations/id/developers/tutorials/using-websockets/index.md
  src/content/translations/id/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/translations/id/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6128 Update: Indonesian translation files Tutorials 2
  src/content/translations/id/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/id/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/id/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/id/developers/tutorials/how-to-implement-an-erc721-market/index.md
  src/content/translations/id/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/id/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/id/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  src/content/translations/id/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/id/developers/tutorials/send-token-etherjs/index.md
  src/content/translations/id/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/id/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#6129 Update: Romanian translation files Tutorials 2
  src/content/translations/ro/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/ro/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/ro/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/ro/developers/tutorials/how-to-implement-an-erc721-market/index.md
  src/content/translations/ro/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/ro/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/ro/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  src/content/translations/ro/developers/tutorials/run-light-node-geth/index.md
  src/content/translations/ro/developers/tutorials/send-token-etherjs/index.md
  src/content/translations/ro/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/ro/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:
