Repository ethereum/ethereum-org-website, pull requests merged in 2022-12, with the labels that each got.

#8805 Adds staking survey banner to staking pages [Closes #8654]
  src/components/Staking/StakingSurveyBanner.tsx
  src/pages/staking/index.tsx
  src/templates/staking.tsx
Labels: review needed :eyes:

#8808 Deploy v6.12.1
  package.json
  src/components/Staking/StakingSurveyBanner.tsx
  src/pages/staking/index.tsx
  src/templates/staking.tsx
Labels: review needed :eyes:, dependencies :package:

#8804 Adding Ethereum Costa Rica
  src/data/community-meetups.json
Labels: review needed :eyes:

#8720 Migrate `BeaconChainActions` to Chakra
  src/components/BeaconChainActions.tsx
  src/components/Card.tsx
Labels: review needed :eyes:, chakra-migration

#8717 Convert TutorialMetadata component to ChakraUI
  src/components/Emoji.tsx
  src/components/TutorialMetadata.tsx
  src/pages/developers/tutorials.tsx
Labels: review needed :eyes:, chakra-migration

#8686 Refactor: Migrate `StakingHierarchy` to Chakra
  src/assets/staking/staking-glyph-centralized.svg
  src/assets/staking/staking-glyph-cloud.svg
  src/assets/staking/staking-glyph-cpu.svg
  src/assets/staking/staking-glyph-token-wallet.svg
  src/components/Staking/StakingHierarchy.tsx
Labels: review needed :eyes:, chakra-migration

#8685 Refactor: Migrate `ProductCard` to Chakra
  src/components/ProductCard.tsx
Labels: review needed :eyes:, chakra-migration

#8731 refactor(UpcomingEventsList): update to chakra ui styling
  src/components/UpcomingEventsList.tsx
Labels: review needed :eyes:, chakra-migration

#8738 Refactor: replace ul with UnorderedList on DeveloperDocsLinks.tsx [Fixes #8633]
  src/components/DeveloperDocsLinks.tsx
Labels: review needed :eyes:, chakra-migration

#8557 add page on proof-of-stake FAQs
  src/content/developers/docs/consensus-mechanisms/pos/faqs/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:

#8818 Typo
  src/content/developers/tutorials/reverse-engineering-a-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8793 Adding desci.global - global desci events calendar
  src/content/desci/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8815 Replace Kanye/Yeezy reference NFT with Nike/Jordans
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8590 Update base fee copy on Gas developer docs
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8858 Fix typo in Ethereum stack developer docs (Chinese)
  src/content/translations/zh/developers/docs/ethereum-stack/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8828 Update Catalan (ca) Homepage and Essentials buckets
  src/intl/ca/common.json
  src/intl/ca/page-eth.json
  src/intl/ca/page-index.json
  src/intl/ca/page-wallets-find-wallet.json
  src/intl/ca/page-wallets.json
  src/intl/ca/page-what-is-ethereum.json
Labels: review needed :eyes:, tooling :wrench:

#8703 Refactor: Migrate `StakingHomeTableOfContents` to Chakra
  src/components/Staking/StakingHomeTableOfContents.tsx
Labels: review needed :eyes:, chakra-migration

#8774 Refactor: Migrate `TutorialTags` to Chakra UI
  src/components/Pill.tsx
  src/components/TutorialTags.tsx
Labels: review needed :eyes:, chakra-migration

#8876 Fix descriptions for consensus mechanisms
  src/content/developers/docs/consensus-mechanisms/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8678 Refactor: Migrate `TableOfContents` to Chakra
  src/components/TableOfContents.tsx
  src/components/TableOfContents/ItemsList.tsx
  src/components/TableOfContents/TableOfContentsLink.tsx
  src/components/TableOfContents/TableOfContentsMobile.tsx
  src/components/TableOfContents/index.tsx
  src/components/TableOfContents/utils.ts
  src/templates/docs.tsx
Labels: review needed :eyes:, chakra-migration

#8539 Redirection after language choice
  src/components/Nav/Mobile.tsx
  src/components/Nav/index.tsx
  src/pages/languages.tsx
Labels: content :fountain_pen:, review needed :eyes:

#8794 Migrate `Roadmap.tsx` to Chakra
  src/components/Roadmap.tsx
Labels: review needed :eyes:, chakra-migration

#8449 add page on node architecture
  src/content/developers/docs/nodes-and-clients/node-architecture/index.md
  src/content/developers/docs/nodes-and-clients/node-architecture/node-architecture-text-background.png
  src/content/developers/docs/nodes-and-clients/node-architecture/node_architecture.png
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:

#8642 add page on pow v pos
  src/content/developers/docs/consensus-mechanisms/pos/pos-vs-pow/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:

#8885 Deploy v6.13.1
  .all-contributorsrc
  README.md
  package.json
  src/components/Nav/Mobile.tsx
  src/components/Nav/index.tsx
  src/components/Pill.tsx
  src/components/Roadmap.tsx
  src/components/Staking/StakingHomeTableOfContents.tsx
  src/components/TableOfContents.tsx
  src/components/TableOfContents/ItemsList.tsx
  src/components/TableOfContents/TableOfContentsLink.tsx
  src/components/TableOfContents/TableOfContentsMobile.tsx
  src/components/TableOfContents/index.tsx
  src/components/TableOfContents/utils.ts
  src/components/TutorialTags.tsx
  src/content/developers/docs/consensus-mechanisms/index.md
  src/content/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/developers/docs/consensus-mechanisms/pos/pos-vs-pow/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/node-architecture/index.md
  src/content/developers/docs/nodes-and-clients/node-architecture/node-architecture-text-background.png
  src/content/developers/docs/nodes-and-clients/node-architecture/node_architecture.png
  src/content/nft/index.md
  src/content/translations/zh/developers/docs/ethereum-stack/index.md
  src/data/developer-docs-links.yaml
  src/intl/ca/common.json
  src/intl/ca/page-eth.json
  src/intl/ca/page-index.json
  src/intl/ca/page-wallets-find-wallet.json
  src/intl/ca/page-wallets.json
  src/intl/ca/page-what-is-ethereum.json
  src/intl/en/page-developers-docs.json
  src/intl/en/page-developers-index.json
  src/pages/languages.tsx
  src/templates/docs.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#8820 Migrate `BugBountyPoints.tsx` to Chakra
  src/components/BugBountyPoints.tsx
Labels: review needed :eyes:, chakra-migration

#8926 Deploy v6.14.0
  package.json
  src/components/BugBountyPoints.tsx
Labels: review needed :eyes:, dependencies :package:

#8822 refactor: stakinghowsoloworks to chakra
  src/components/Staking/StakingHowSoloWorks.tsx
Labels: review needed :eyes:, chakra-migration

#8821 refactor: stakingguides to chakra
  src/components/Staking/StakingGuides.tsx
Labels: review needed :eyes:, chakra-migration

#8810 refactor(breadcrumbs): implement Chakra's `Breadcrumb` component
  src/components/Breadcrumbs.tsx
Labels: review needed :eyes:, chakra-migration

#8845 refactor: postmergebanner to chakra
  src/components/Banners/PostMergeBanner.tsx
Labels: review needed :eyes:, chakra-migration

#8928 fix: apply dynamic visibility for mobile `TableOfContents`
  src/components/TableOfContents/TableOfContentsMobile.tsx
Labels: review needed :eyes:

#8624 Update Polish (pl) Homepage, Essentials, and Exploring buckets
  src/content/translations/pl/nft/index.md
  src/intl/pl/common.json
  src/intl/pl/page-dapps.json
  src/intl/pl/page-eth.json
  src/intl/pl/page-get-eth.json
  src/intl/pl/page-index.json
  src/intl/pl/page-stablecoins.json
  src/intl/pl/page-wallets-find-wallet.json
  src/intl/pl/page-wallets.json
  src/intl/pl/page-what-is-ethereum.json
  src/intl/pl/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8628 Update Italian (it) Advanced developer docs bucket
  src/content/translations/it/developers/docs/mev/index.md
  src/content/translations/it/developers/docs/oracles/index.md
  src/content/translations/it/developers/docs/scaling/index.md
  src/content/translations/it/developers/docs/scaling/optimistic-rollups/index.md
  src/content/translations/it/developers/docs/scaling/plasma/index.md
  src/content/translations/it/developers/docs/scaling/sidechains/index.md
  src/content/translations/it/developers/docs/scaling/state-channels/index.md
  src/content/translations/it/developers/docs/scaling/validium/index.md
  src/content/translations/it/developers/docs/scaling/zk-rollups/index.md
  src/content/translations/it/developers/docs/standards/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-4626/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/it/developers/docs/standards/tokens/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8706 Update Chinese Traditional (zh-tw) Homepage, Essentials, and Exploring buckets
  src/content/translations/zh-tw/nft/index.md
  src/intl/zh-tw/common.json
  src/intl/zh-tw/page-dapps.json
  src/intl/zh-tw/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8708 Update Spanish (es) Use Ethereum bucket
  src/content/translations/es/dao/index.md
  src/intl/es/page-developers-learning-tools.json
  src/intl/es/page-layer-2.json
  src/intl/es/page-run-a-node.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8830 Update Dutch (nl) Use Cases and Staking buckets
  src/content/translations/nl/decentralized-identity/index.md
  src/content/translations/nl/defi/index.md
  src/content/translations/nl/smart-contracts/index.md
  src/content/translations/nl/social-networks/index.md
  src/content/translations/nl/staking/pools/index.md
  src/content/translations/nl/staking/saas/index.md
  src/content/translations/nl/staking/solo/index.md
  src/intl/nl/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8831 Update Japanese (jp) Foundations and Technical Stack developer docs
  src/content/translations/ja/developers/docs/accounts/index.md
  src/content/translations/ja/developers/docs/apis/backend/index.md
  src/content/translations/ja/developers/docs/apis/javascript/index.md
  src/content/translations/ja/developers/docs/apis/json-rpc/index.md
  src/content/translations/ja/developers/docs/blocks/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/ja/developers/docs/dapps/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/index.md
  src/content/translations/ja/developers/docs/development-networks/index.md
  src/content/translations/ja/developers/docs/ethereum-stack/index.md
  src/content/translations/ja/developers/docs/evm/index.md
  src/content/translations/ja/developers/docs/frameworks/index.md
  src/content/translations/ja/developers/docs/gas/index.md
  src/content/translations/ja/developers/docs/ides/index.md
  src/content/translations/ja/developers/docs/index.md
  src/content/translations/ja/developers/docs/intro-to-ether/index.md
  src/content/translations/ja/developers/docs/intro-to-ethereum/index.md
  src/content/translations/ja/developers/docs/networks/index.md
  src/content/translations/ja/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/ja/developers/docs/nodes-and-clients/index.md
  src/content/translations/ja/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/ja/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/ja/developers/docs/programming-languages/dart/index.md
  src/content/translations/ja/developers/docs/programming-languages/delphi/index.md
  src/content/translations/ja/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/ja/developers/docs/programming-languages/golang/index.md
  src/content/translations/ja/developers/docs/programming-languages/index.md
  src/content/translations/ja/developers/docs/programming-languages/java/index.md
  src/content/translations/ja/developers/docs/programming-languages/javascript/index.md
  src/content/translations/ja/developers/docs/programming-languages/python/index.md
  src/content/translations/ja/developers/docs/programming-languages/ruby/index.md
  src/content/translations/ja/developers/docs/programming-languages/rust/index.md
  src/content/translations/ja/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/ja/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/ja/developers/docs/smart-contracts/composability/index.md
  src/content/translations/ja/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/ja/developers/docs/smart-contracts/index.md
  src/content/translations/ja/developers/docs/smart-contracts/languages/index.md
  src/content/translations/ja/developers/docs/smart-contracts/libraries/index.md
  src/content/translations/ja/developers/docs/smart-contracts/security/index.md
  src/content/translations/ja/developers/docs/smart-contracts/testing/index.md
  src/content/translations/ja/developers/docs/storage/index.md
  src/content/translations/ja/developers/docs/transactions/index.md
  src/content/translations/ja/developers/docs/web2-vs-web3/index.md
  src/intl/ja/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8832 Update Italian (it) 1-9 buckets
  src/content/translations/it/bridges/index.md
  src/content/translations/it/community/events/index.md
  src/content/translations/it/community/get-involved/index.md
  src/content/translations/it/community/grants/index.md
  src/content/translations/it/community/language-resources/index.md
  src/content/translations/it/community/online/index.md
  src/content/translations/it/community/support/index.md
  src/content/translations/it/dao/index.md
  src/content/translations/it/decentralized-identity/index.md
  src/content/translations/it/defi/index.md
  src/content/translations/it/eips/index.md
  src/content/translations/it/energy-consumption/index.md
  src/content/translations/it/governance/index.md
  src/content/translations/it/nft/index.md
  src/content/translations/it/security/index.md
  src/content/translations/it/smart-contracts/index.md
  src/content/translations/it/social-networks/index.md
  src/content/translations/it/staking/pools/index.md
  src/content/translations/it/staking/saas/index.md
  src/content/translations/it/staking/solo/index.md
  src/content/translations/it/upgrades/beacon-chain/index.md
  src/content/translations/it/upgrades/merge/index.md
  src/content/translations/it/upgrades/sharding/index.md
  src/content/translations/it/web3/index.md
  src/intl/it/common.json
  src/intl/it/page-dapps.json
  src/intl/it/page-developers-index.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/it/page-developers-local-environment.json
  src/intl/it/page-eth.json
  src/intl/it/page-get-eth.json
  src/intl/it/page-index.json
  src/intl/it/page-layer-2.json
  src/intl/it/page-run-a-node.json
  src/intl/it/page-stablecoins.json
  src/intl/it/page-staking-deposit-contract.json
  src/intl/it/page-staking.json
  src/intl/it/page-upgrades-get-involved-bug-bounty.json
  src/intl/it/page-upgrades-index.json
  src/intl/it/page-wallets.json
  src/intl/it/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8695 Contributors.tsx migrated to Chakra.UI
  src/components/Contributors.tsx
Labels: review needed :eyes:, chakra-migration

#8739 Migrate BugBountyCards component to chakra UI [Relates to #6374]
  src/@chakra-ui/gatsby-plugin/foundations/shadows.ts
  src/components/BugBountyCards.tsx
Labels: review needed :eyes:, chakra-migration

#8834 Update Portuguese Brazilian (pt-br) community and Foundations buckets
  src/content/translations/pt-br/community/events/index.md
  src/content/translations/pt-br/community/get-involved/index.md
  src/content/translations/pt-br/community/grants/index.md
  src/content/translations/pt-br/community/language-resources/index.md
  src/content/translations/pt-br/community/online/index.md
  src/content/translations/pt-br/community/support/index.md
  src/content/translations/pt-br/developers/docs/accounts/index.md
  src/content/translations/pt-br/developers/docs/blocks/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/pt-br/developers/docs/dapps/index.md
  src/content/translations/pt-br/developers/docs/evm/index.md
  src/content/translations/pt-br/developers/docs/gas/index.md
  src/content/translations/pt-br/developers/docs/index.md
  src/content/translations/pt-br/developers/docs/intro-to-ether/index.md
  src/content/translations/pt-br/developers/docs/intro-to-ethereum/index.md
  src/content/translations/pt-br/developers/docs/networks/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/pt-br/developers/docs/transactions/index.md
  src/content/translations/pt-br/developers/docs/web2-vs-web3/index.md
  src/intl/pt-br/page-community.json
  src/intl/pt-br/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8631 Remove unwanted tutorial tags
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/developers/tutorials/all-you-can-cache/index.md
  src/content/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  src/content/developers/tutorials/hello-world-smart-contract/index.md
  src/content/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  src/content/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  src/content/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  src/content/developers/tutorials/nft-minter/index.md
  src/content/developers/tutorials/reverse-engineering-a-contract/index.md
  src/content/developers/tutorials/short-abi/index.md
  src/content/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/developers/tutorials/using-websockets/index.md
  src/content/developers/tutorials/yellow-paper-evm/index.md
  src/content/translations/de/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/fr/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/id/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/id/developers/tutorials/nft-minter/index.md
  src/content/translations/it/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/pt-br/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/ro/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/data/externalTutorials.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8536 Add Nodereal to nodes-as-a-service page [Closes #7400]
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8979 Add EthStaker knowledge base link
  src/intl/en/page-staking.json
  src/pages/staking/index.tsx
Labels: review needed :eyes:

#8961 Add withdrawal FAQ item to staking page
  src/intl/en/page-staking.json
  src/pages/staking/index.tsx
Labels: review needed :eyes:

#8800 Migrate `BannerGrid` to Chakra
  src/components/BannerGrid/index.tsx
Labels: review needed :eyes:, chakra-migration

#8811 Layout.tsx migrated
  src/components/Layout.tsx
Labels: review needed :eyes:, chakra-migration

#8843 Migrate `StatsBoxGrid.tsx` to Chakra
  src/components/StatsBoxGrid.tsx
Labels: review needed :eyes:, chakra-migration

#8890 Refactor: Migrate `Trilemma` to Chakra UI
  src/components/Trilemma.tsx
  src/components/Trilemma/Triangle.tsx
  src/components/Trilemma/index.tsx
  src/components/Trilemma/use-trilemma.tsx
Labels: review needed :eyes:, chakra-migration
