Repository ethereum/ethereum-org-website, pull requests merged in 2023-04, with the labels that each got.

#9854 February Spanish updates
  src/content/translations/es/community/events/index.md
  src/content/translations/es/community/get-involved/index.md
  src/content/translations/es/community/grants/index.md
  src/content/translations/es/community/language-resources/index.md
  src/content/translations/es/community/online/index.md
  src/content/translations/es/community/page-community.json
  src/content/translations/es/community/support/index.md
  src/content/translations/es/eips/index.md
  src/content/translations/es/nft/index.md
  src/content/translations/es/upgrades/beacon-chain/index.md
  src/content/translations/es/upgrades/merge/index.md
  src/content/translations/es/upgrades/sharding/index.md
  src/intl/es/page-dapps.json
  src/intl/es/page-stablecoins.json
  src/intl/es/page-staking.json
  src/intl/es/page-upgrades-get-involved-bug-bounty.json
  src/intl/es/page-upgrades-index.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9853 February Russian updates
  src/content/translations/ru/community/page-community.json
  src/content/translations/ru/dao/index.md
  src/content/translations/ru/nft/index.md
  src/intl/ru/common.json
  src/intl/ru/page-dapps.json
  src/intl/ru/page-developers-docs.json
  src/intl/ru/page-developers-index.json
  src/intl/ru/page-developers-learning-tools.json
  src/intl/ru/page-developers-local-environment.json
  src/intl/ru/page-languages.json
  src/intl/ru/page-layer-2.json
  src/intl/ru/page-run-a-node.json
  src/intl/ru/page-wallets-find-wallet.json
  src/intl/ru/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9852 February Portuguese Brazilian updates
  src/content/translations/pt-br/about/index.md
  src/content/translations/pt-br/decentralized-identity/index.md
  src/content/translations/pt-br/defi/index.md
  src/content/translations/pt-br/desci/index.md
  src/content/translations/pt-br/eips/index.md
  src/content/translations/pt-br/enterprise/index.md
  src/content/translations/pt-br/enterprise/private-ethereum/index.md
  src/content/translations/pt-br/foundation/index.md
  src/content/translations/pt-br/glossary/index.md
  src/content/translations/pt-br/history/index.md
  src/content/translations/pt-br/nft/index.md
  src/content/translations/pt-br/social-networks/index.md
  src/content/translations/pt-br/staking/pools/index.md
  src/content/translations/pt-br/staking/saas/index.md
  src/content/translations/pt-br/staking/solo/index.md
  src/content/translations/pt-br/upgrades/merge/index.md
  src/intl/pt-br/page-about.json
  src/intl/pt-br/page-assets.json
  src/intl/pt-br/page-dapps.json
  src/intl/pt-br/page-developers-index.json
  src/intl/pt-br/page-staking.json
  src/intl/pt-br/page-upgrades-get-involved-bug-bounty.json
  src/intl/pt-br/page-wallets-find-wallet.json
  src/intl/pt-br/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9851 February Japanese updates
  src/content/translations/ja/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/ja/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/ja/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/ja/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/ja/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/translations/ja/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/translations/ja/developers/tutorials/erc20-annotated-code/index.md
  src/content/translations/ja/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/ja/developers/tutorials/guide-to-smart-contract-security-tools/index.md
  src/content/translations/ja/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/ja/developers/tutorials/how-to-implement-an-erc721-market/index.md
  src/content/translations/ja/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/ja/developers/tutorials/how-to-mock-solidity-contracts-for-testing/index.md
  src/content/translations/ja/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  src/content/translations/ja/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/ja/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/ja/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  src/content/translations/ja/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/ja/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/ja/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/ja/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/ja/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  src/content/translations/ja/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/ja/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  src/content/translations/ja/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
  src/content/translations/ja/developers/tutorials/nft-minter/index.md
  src/content/translations/ja/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/ja/developers/tutorials/reverse-engineering-a-contract/index.md
  src/content/translations/ja/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/ja/developers/tutorials/secure-development-workflow/index.md
  src/content/translations/ja/developers/tutorials/send-token-etherjs/index.md
  src/content/translations/ja/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/ja/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/translations/ja/developers/tutorials/short-abi/index.md
  src/content/translations/ja/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/translations/ja/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/ja/developers/tutorials/testing-erc-20-tokens-with-waffle/index.md
  src/content/translations/ja/developers/tutorials/testing-smart-contract-with-waffle/index.md
  src/content/translations/ja/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/ja/developers/tutorials/token-integration-checklist/index.md
  src/content/translations/ja/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  src/content/translations/ja/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/ja/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/ja/developers/tutorials/using-websockets/index.md
  src/content/translations/ja/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/translations/ja/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/translations/ja/nft/index.md
  src/intl/ja/page-dapps.json
  src/intl/ja/page-developers-tutorials.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ja/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9849 February French updates
  src/content/translations/fr/about/index.md
  src/content/translations/fr/decentralized-identity/index.md
  src/content/translations/fr/defi/index.md
  src/content/translations/fr/desci/index.md
  src/content/translations/fr/developers/docs/accounts/index.md
  src/content/translations/fr/developers/docs/blocks/index.md
  src/content/translations/fr/developers/docs/dapps/index.md
  src/content/translations/fr/developers/docs/evm/index.md
  src/content/translations/fr/developers/docs/gas/index.md
  src/content/translations/fr/developers/docs/index.md
  src/content/translations/fr/developers/docs/intro-to-ether/index.md
  src/content/translations/fr/developers/docs/intro-to-ethereum/index.md
  src/content/translations/fr/developers/docs/networks/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/fr/developers/docs/transactions/index.md
  src/content/translations/fr/developers/docs/web2-vs-web3/index.md
  src/content/translations/fr/eips/index.md
  src/content/translations/fr/enterprise/index.md
  src/content/translations/fr/enterprise/private-ethereum/index.md
  src/content/translations/fr/foundation/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/fr/history/index.md
  src/content/translations/fr/smart-contracts/index.md
  src/content/translations/fr/social-networks/index.md
  src/content/translations/fr/upgrades/beacon-chain/index.md
  src/content/translations/fr/upgrades/merge/index.md
  src/intl/fr/page-assets.json
  src/intl/fr/page-developers-docs.json
  src/intl/fr/page-upgrades-get-involved-bug-bounty.json
  src/intl/fr/page-wallets-find-wallet.json
  src/intl/fr/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9844 February Chinese update
  src/content/translations/zh/bridges/index.md
  src/content/translations/zh/community/get-involved/index.md
  src/content/translations/zh/community/grants/index.md
  src/content/translations/zh/community/support/index.md
  src/content/translations/zh/eips/index.md
  src/content/translations/zh/energy-consumption/index.md
  src/content/translations/zh/governance/index.md
  src/content/translations/zh/nft/index.md
  src/content/translations/zh/security/index.md
  src/content/translations/zh/staking/pools/index.md
  src/content/translations/zh/staking/saas/index.md
  src/content/translations/zh/staking/solo/index.md
  src/content/translations/zh/upgrades/beacon-chain/index.md
  src/content/translations/zh/upgrades/merge/index.md
  src/content/translations/zh/zero-knowledge-proofs/index.md
  src/intl/zh/page-developers-index.json
  src/intl/zh/page-developers-learning-tools.json
  src/intl/zh/page-layer-2.json
  src/intl/zh/page-learn.json
  src/intl/zh/page-staking.json
  src/intl/zh/page-upgrades-get-involved-bug-bounty.json
  src/intl/zh/page-wallets-find-wallet.json
  src/intl/zh/page-wallets.json
  src/intl/zh/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9864 fix: remove duplicate category selection in Dapps page
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9876 Add Decentraland Grants Program
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9880 Fix broken link on "nodes and clients" page
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9834 Fix roadmap page overflow in mobile [Fixes #9824]
  src/templates/roadmap.tsx
Labels: review needed :eyes:

#9648 add eip-3074 info to account abstraction page
  src/content/roadmap/account-abstraction/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9695 add page on light clients to dev/docs
  src/content/developers/docs/nodes-and-clients/light-clients/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:, roadmap, needs: technical content review

#9875 Roadmap - update links
  src/content/roadmap/beacon-chain/index.md
  src/content/roadmap/merge/index.md
  src/content/roadmap/merge/issuance/index.md
  src/content/translations/ar/roadmap/beacon-chain/index.md
  src/content/translations/ar/roadmap/merge/index.md
  src/content/translations/bg/roadmap/beacon-chain/index.md
  src/content/translations/bg/roadmap/merge/index.md
  src/content/translations/ca/roadmap/beacon-chain/index.md
  src/content/translations/ca/roadmap/merge/index.md
  src/content/translations/de/roadmap/beacon-chain/index.md
  src/content/translations/de/roadmap/merge/index.md
  src/content/translations/el/roadmap/beacon-chain/index.md
  src/content/translations/el/roadmap/merge/index.md
  src/content/translations/es/roadmap/beacon-chain/index.md
  src/content/translations/es/roadmap/merge/index.md
  src/content/translations/fa/roadmap/beacon-chain/index.md
  src/content/translations/fa/roadmap/merge/index.md
  src/content/translations/fr/roadmap/beacon-chain/index.md
  src/content/translations/fr/roadmap/merge/index.md
  src/content/translations/hi/roadmap/beacon-chain/index.md
  src/content/translations/hi/roadmap/merge/index.md
  src/content/translations/hr/roadmap/beacon-chain/index.md
  src/content/translations/hr/roadmap/merge/index.md
  src/content/translations/hu/roadmap/beacon-chain/index.md
  src/content/translations/hu/roadmap/merge/index.md
  src/content/translations/id/roadmap/beacon-chain/index.md
  src/content/translations/id/roadmap/merge/index.md
  src/content/translations/it/roadmap/beacon-chain/index.md
  src/content/translations/it/roadmap/merge/index.md
  src/content/translations/ja/roadmap/beacon-chain/index.md
  src/content/translations/ja/roadmap/merge/index.md
  src/content/translations/ml/roadmap/beacon-chain/index.md
  src/content/translations/ml/roadmap/merge/index.md
  src/content/translations/nl/roadmap/beacon-chain/index.md
  src/content/translations/nl/roadmap/merge/index.md
  src/content/translations/pl/roadmap/beacon-chain/index.md
  src/content/translations/pl/roadmap/merge/index.md
  src/content/translations/pt-br/roadmap/beacon-chain/index.md
  src/content/translations/pt-br/roadmap/merge/index.md
  src/content/translations/ro/roadmap/beacon-chain/index.md
  src/content/translations/ro/roadmap/merge/index.md
  src/content/translations/ru/roadmap/beacon-chain/index.md
  src/content/translations/ru/roadmap/merge/index.md
  src/content/translations/sl/roadmap/beacon-chain/index.md
  src/content/translations/sl/roadmap/merge/index.md
  src/content/translations/sw/roadmap/beacon-chain/index.md
  src/content/translations/sw/roadmap/merge/index.md
  src/content/translations/tr/roadmap/beacon-chain/index.md
  src/content/translations/tr/roadmap/merge/index.md
  src/content/translations/uk/roadmap/beacon-chain/index.md
  src/content/translations/uk/roadmap/merge/index.md
  src/content/translations/zh/roadmap/beacon-chain/index.md
  src/content/translations/zh/roadmap/merge/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9889 fix typo in oracles/index.md
  src/content/translations/es/developers/docs/oracles/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9881 Remove reference to ArchiveNode
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9885 `block-proposal`: Four epochs ==> Two epochs
  src/content/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9867 chore: add ETHMobile Miami to community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#9890 Remove blog post invalid/non-existing link [Fixes #9873]
  src/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/staking/solo/index.md
  src/content/translations/de/staking/solo/index.md
  src/content/translations/es/staking/solo/index.md
  src/content/translations/fa/staking/solo/index.md
  src/content/translations/fr/staking/solo/index.md
  src/content/translations/it/staking/solo/index.md
  src/content/translations/ja/staking/solo/index.md
  src/content/translations/ko/staking/solo/index.md
  src/content/translations/nl/staking/solo/index.md
  src/content/translations/pt-br/staking/solo/index.md
  src/content/translations/tr/staking/solo/index.md
  src/content/translations/zh-tw/staking/solo/index.md
  src/content/translations/zh/staking/solo/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9631 migrate `static` template to Chakra
  src/templates/static.tsx
Labels: review needed :eyes:, chakra-migration

#9898 Fix a typo in the "Hooks" section
  src/content/developers/docs/standards/tokens/erc-1155/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9902 Fix json file
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#9903 Fix translation in learning quizzes
  src/intl/en/learn-quizzes.json
Labels: review needed :eyes:

#9871 Add Ethpool SaaS
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/icons/staking/EthpoolGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#9722 Apply v1.5 updates
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/roadmap/future-proofing/index.md
  src/content/roadmap/index.md
  src/content/roadmap/scaling/index.md
  src/content/roadmap/security/index.md
  src/content/roadmap/user-experience/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9811 [roadmap]: update data availability page
  src/content/developers/docs/data-availability/index.md
Labels: content :fountain_pen:, review needed :eyes:, epic 💪, roadmap, needs: technical content review

#9914 fix: invalid link 'incentive layer' and 'LMD-GHOST' [ #9866]
  src/content/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9915 Ethpool icon fix [Closes #9882
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/icons/staking/EthpoolGlyphIcon.tsx
Labels: review needed :eyes:

#9489 Adding QuickNode Faucet links
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9502 Update index.md
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9516 Fix Receipts Trie description
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9872 update "sharding" text/links across site
  src/content/community/research/index.md
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/developers/docs/mev/index.md
  src/content/developers/docs/scaling/index.md
  src/content/developers/docs/scaling/optimistic-rollups/index.md
  src/content/developers/docs/scaling/plasma/index.md
  src/content/energy-consumption/index.md
  src/intl/en/learn-quizzes.json
  src/intl/en/page-layer-2.json
  src/intl/en/page-roadmap-vision.json
  src/intl/en/page-upgrades-get-involved.json
  src/intl/en/page-upgrades-index.json
  src/pages/layer-2.tsx
  src/pages/roadmap/vision.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9893 Czech March update
  src/content/translations/cs/nft/index.md
  src/intl/cs/common.json
  src/intl/cs/page-about.json
  src/intl/cs/page-dapps.json
  src/intl/cs/page-eth.json
  src/intl/cs/page-languages.json
  src/intl/cs/page-stablecoins.json
  src/intl/cs/page-wallets-find-wallet.json
  src/intl/cs/page-wallets.json
  src/intl/cs/page-what-is-ethereum.json
  src/intl/cs/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9894 French March update
  src/content/translations/fr/contributing/adding-staking-products/index.md
  src/content/translations/fr/contributing/index.md
  src/content/translations/fr/contributing/translation-program/index.md
  src/content/translations/fr/contributing/translation-program/translators-guide/index.md
  src/content/translations/fr/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/fr/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/fr/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/fr/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/fr/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/fr/staking/pools/index.md
  src/content/translations/fr/staking/saas/index.md
  src/content/translations/fr/staking/solo/index.md
  src/intl/fr/common.json
  src/intl/fr/page-index.json
  src/intl/fr/page-languages.json
  src/intl/fr/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9904 German March updates
  src/content/translations/de/bridges/index.md
  src/content/translations/de/decentralized-identity/index.md
  src/content/translations/de/defi/index.md
  src/content/translations/de/desci/index.md
  src/content/translations/de/energy-consumption/index.md
  src/content/translations/de/governance/index.md
  src/content/translations/de/security/index.md
  src/content/translations/de/smart-contracts/index.md
  src/content/translations/de/social-networks/index.md
  src/content/translations/de/staking/pools/index.md
  src/content/translations/de/staking/saas/index.md
  src/content/translations/de/staking/solo/index.md
  src/content/translations/de/web3/index.md
  src/content/translations/de/zero-knowledge-proofs/index.md
  src/intl/de/common.json
  src/intl/de/page-index.json
  src/intl/de/page-staking-deposit-contract.json
  src/intl/de/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9905 Add Hebrew
  i18n/config.json
  src/intl/en/page-languages.json
  src/intl/he/common.json
  src/intl/he/page-dapps.json
  src/intl/he/page-developers-docs.json
  src/intl/he/page-developers-index.json
  src/intl/he/page-developers-learning-tools.json
  src/intl/he/page-get-eth.json
  src/intl/he/page-index.json
  src/intl/he/page-languages.json
  src/intl/he/page-roadmap-vision.json
  src/intl/he/page-stablecoins.json
  src/intl/he/page-upgrades.json
  src/utils/languages.ts
Labels: review needed :eyes:

#9906 Hindi March update
  src/content/translations/hi/eips/index.md
  src/content/translations/hi/roadmap/beacon-chain/index.md
  src/content/translations/hi/roadmap/merge/index.md
  src/content/translations/hi/roadmap/merge/issuance/index.md
  src/intl/hi/page-about.json
  src/intl/hi/page-roadmap-vision.json
  src/intl/hi/page-staking-deposit-contract.json
  src/intl/hi/page-staking.json
  src/intl/hi/page-upgrades-get-involved-bug-bounty.json
  src/intl/hi/page-upgrades-get-involved.json
  src/intl/hi/page-upgrades-index.json
  src/intl/hi/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9907 Indonesian March update
  src/intl/id/common.json
  src/intl/id/page-about.json
  src/intl/id/page-eth.json
  src/intl/id/page-get-eth.json
  src/intl/id/page-index.json
  src/intl/id/page-languages.json
  src/intl/id/page-wallets-find-wallet.json
  src/intl/id/page-wallets.json
  src/intl/id/page-what-is-ethereum.json
Labels: review needed :eyes:

#9912 Spanish March updates
  src/content/translations/es/contributing/adding-developer-tools/index.md
  src/content/translations/es/contributing/adding-exchanges/index.md
  src/content/translations/es/contributing/adding-glossary-terms/index.md
  src/content/translations/es/contributing/adding-layer-2s/index.md
  src/content/translations/es/contributing/adding-products/index.md
  src/content/translations/es/contributing/adding-staking-products/index.md
  src/content/translations/es/contributing/content-resources/index.md
  src/content/translations/es/contributing/design-principles/index.md
  src/content/translations/es/contributing/index.md
  src/content/translations/es/contributing/translation-program/faq/index.md
  src/content/translations/es/contributing/translation-program/index.md
  src/content/translations/es/contributing/translation-program/translators-guide/index.md
  src/intl/es/common.json
  src/intl/es/page-about.json
  src/intl/es/page-contributing-translation-program-acknowledgements.json
  src/intl/es/page-contributing-translation-program-contributors.json
  src/intl/es/page-index.json
  src/intl/es/page-languages.json
  src/intl/es/page-wallets-find-wallet.json
  src/intl/es/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9913 Turkish March update
  src/intl/tr/common.json
  src/intl/tr/page-about.json
  src/intl/tr/page-languages.json
  src/intl/tr/page-wallets-find-wallet.json
  src/intl/tr/page-what-is-ethereum.json
Labels: review needed :eyes:

#9877 Refactor svgPath property to imageName
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#9768 Remove redundant `={true}` from boolean attributes
  src/components/Banners/BugBountyBanner.tsx
  src/components/Banners/PostMergeBanner.tsx
  src/components/Breadcrumbs.tsx
  src/components/Contributors.tsx
  src/components/FindWallet/WalletTable.tsx
  src/components/GitStars.tsx
  src/components/Layer2/Layer2Onboard.tsx
  src/components/SharedStyledComponents.tsx
  src/components/Slider/index.tsx
  src/components/StablecoinAccordion/index.tsx
  src/components/StatsBoxGrid/GridItem.tsx
  src/content/community/grants/medalla-data-challenge/index.md
  src/content/community/grants/staking-community-grants/index.md
  src/content/developers/tutorials/hello-world-smart-contract/index.md
  src/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/de/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/de/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/es/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/es/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/fr/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/fr/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/id/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/id/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/id/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/it/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/it/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/it/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/pt-br/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/pt-br/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/ro/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/tr/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/tr/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/tr/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/zh/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/zh/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/zh/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/pages-conditional/dapps.tsx
  src/pages-conditional/eth.tsx
  src/pages/assets.tsx
  src/pages/developers/learning-tools.tsx
  src/pages/get-eth.tsx
  src/pages/layer-2.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/deposit-contract.tsx
  src/templates/docs.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9908 Italian March update
  src/content/translations/it/contributing/adding-staking-products/index.md
  src/content/translations/it/contributing/index.md
  src/content/translations/it/contributing/translation-program/faq/index.md
  src/content/translations/it/contributing/translation-program/index.md
  src/content/translations/it/decentralized-identity/index.md
  src/content/translations/it/defi/index.md
  src/content/translations/it/desci/index.md
  src/content/translations/it/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/it/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/it/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/it/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/it/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/it/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/it/social-networks/index.md
  src/content/translations/it/staking/pools/index.md
  src/content/translations/it/staking/saas/index.md
  src/content/translations/it/staking/solo/index.md
  src/intl/it/common.json
  src/intl/it/page-developers-tutorials.json
  src/intl/it/page-languages.json
  src/intl/it/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9909 Japanese March update
  src/content/translations/ja/contributing/adding-developer-tools/index.md
  src/content/translations/ja/contributing/adding-exchanges/index.md
  src/content/translations/ja/contributing/adding-glossary-terms/index.md
  src/content/translations/ja/contributing/adding-layer-2s/index.md
  src/content/translations/ja/contributing/adding-products/index.md
  src/content/translations/ja/contributing/adding-staking-products/index.md
  src/content/translations/ja/contributing/content-resources/index.md
  src/content/translations/ja/contributing/design-principles/index.md
  src/content/translations/ja/contributing/index.md
  src/content/translations/ja/contributing/translation-program/faq/index.md
  src/content/translations/ja/contributing/translation-program/index.md
  src/content/translations/ja/contributing/translation-program/translators-guide/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/gasper/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/weak-subjectivity/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/translations/ja/developers/docs/data-structures-and-encoding/index.md
  src/content/translations/ja/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/translations/ja/developers/docs/data-structures-and-encoding/rlp/index.md
  src/content/translations/ja/developers/docs/data-structures-and-encoding/ssz/index.md
  src/content/translations/ja/developers/docs/data-structures-and-encoding/web3-secret-storage-definition/index.md
  src/content/translations/ja/developers/docs/networking-layer/index.md
  src/content/translations/ja/developers/docs/networking-layer/network-addresses/index.md
  src/content/translations/ja/whitepaper/index.md
  src/intl/ja/common.json
  src/intl/ja/page-index.json
  src/intl/ja/page-languages.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9920 Change Ethereum to ether in tutorial
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9918 Rerun reorg script for latest updates
  src/intl/ar/page-layer-2.json
  src/intl/ar/page-roadmap-vision.json
  src/intl/bg/page-roadmap-vision.json
  src/intl/ca/page-roadmap-vision.json
  src/intl/de/page-layer-2.json
  src/intl/de/page-roadmap-vision.json
  src/intl/el/page-roadmap-vision.json
  src/intl/es/page-layer-2.json
  src/intl/es/page-roadmap-vision.json
  src/intl/fa/page-roadmap-vision.json
  src/intl/fr/page-layer-2.json
  src/intl/fr/page-roadmap-vision.json
  src/intl/hi/page-roadmap-vision.json
  src/intl/hr/page-roadmap-vision.json
  src/intl/hu/page-roadmap-vision.json
  src/intl/id/page-roadmap-vision.json
  src/intl/it/page-layer-2.json
  src/intl/it/page-roadmap-vision.json
  src/intl/ja/page-layer-2.json
  src/intl/ja/page-roadmap-vision.json
  src/intl/ko/page-layer-2.json
  src/intl/ml/page-roadmap-vision.json
  src/intl/nl/page-layer-2.json
  src/intl/nl/page-roadmap-vision.json
  src/intl/pl/page-roadmap-vision.json
  src/intl/pt-br/page-layer-2.json
  src/intl/pt-br/page-roadmap-vision.json
  src/intl/ro/page-roadmap-vision.json
  src/intl/ru/page-layer-2.json
  src/intl/ru/page-roadmap-vision.json
  src/intl/sl/page-roadmap-vision.json
  src/intl/sw/page-roadmap-vision.json
  src/intl/tr/page-layer-2.json
  src/intl/tr/page-roadmap-vision.json
  src/intl/uk/page-layer-2.json
  src/intl/uk/page-roadmap-vision.json
  src/intl/zh-tw/page-layer-2.json
  src/intl/zh/page-layer-2.json
  src/intl/zh/page-roadmap-vision.json
Labels: review needed :eyes:

#9767 Style guide patch
  src/content/community/research/index.md
  src/content/contributing/design-principles/index.md
  src/content/developers/docs/consensus-mechanisms/pos/faqs/index.md
  src/content/developers/docs/networking-layer/index.md
  src/content/developers/docs/standards/tokens/erc-721/index.md
  src/content/developers/docs/storage/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/how-to-mock-solidity-contracts-for-testing/index.md
  src/content/nft/index.md
  src/content/staking/pools/index.md
Labels: content :fountain_pen:, review needed :eyes:, event :date:

#9931 [patch] ethpool icon key name
  src/components/Staking/StakingProductsCardGrid.tsx
Labels: review needed :eyes:

#9928 fix nonsensical wording [Fixes #9927]
  src/content/staking/withdrawals/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9926 Fixes #9924
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9764 Expand tooltip info for staking metrics
  src/components/Staking/StakingStatsBox.tsx
  src/intl/en/page-staking.json
Labels: review needed :eyes:

#9942 Vietnamese March update
  src/intl/vi/common.json
  src/intl/vi/page-about.json
  src/intl/vi/page-languages.json
  src/intl/vi/page-wallets-find-wallet.json
  src/intl/vi/page-what-is-ethereum.json
Labels: review needed :eyes:

#9938 Update content buckets page
  src/content/contributing/translation-program/content-buckets/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9937 Fix typo in how-to-use-tellor-as-your-oracle
  src/content/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9780 add devpill.me to externalTutorials.json
  src/data/externalTutorials.json
Labels: review needed :eyes:

#9788 Remove rust-web3
  src/content/developers/docs/programming-languages/rust/index.md
  src/content/translations/de/developers/docs/programming-languages/rust/index.md
  src/content/translations/es/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/developers/docs/programming-languages/rust/index.md
  src/content/translations/hu/developers/docs/programming-languages/rust/index.md
  src/content/translations/id/developers/docs/programming-languages/rust/index.md
  src/content/translations/it/developers/docs/programming-languages/rust/index.md
  src/content/translations/ja/developers/docs/programming-languages/rust/index.md
  src/content/translations/pl/developers/docs/programming-languages/rust/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/rust/index.md
  src/content/translations/ro/developers/docs/programming-languages/rust/index.md
  src/content/translations/tr/developers/docs/programming-languages/rust/index.md
  src/content/translations/zh/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#7197 Create NetworkUpgradeSummary component for history page
  src/components/History/NetworkUpgradeSummary.tsx
  src/content/history/index.md
  src/content/translations/de/history/index.md
  src/content/translations/es/history/index.md
  src/content/translations/fr/history/index.md
  src/content/translations/hu/history/index.md
  src/content/translations/id/history/index.md
  src/content/translations/it/history/index.md
  src/content/translations/pl/history/index.md
  src/content/translations/pt-br/history/index.md
  src/content/translations/ro/history/index.md
  src/content/translations/tr/history/index.md
  src/content/translations/zh/history/index.md
  src/data/NetworkUpgradeSummaryData.ts
  src/intl/de/page-history.json
  src/intl/en/page-history.json
  src/intl/es/page-history.json
  src/intl/fr/page-history.json
  src/intl/hu/page-history.json
  src/intl/id/page-history.json
  src/intl/it/page-history.json
  src/intl/pl/page-history.json
  src/intl/pt-br/page-history.json
  src/intl/ro/page-history.json
  src/intl/tr/page-history.json
  src/intl/zh/page-history.json
  src/templates/static.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9944 Update Ethereum bogota community meetup
  src/data/community-meetups.json
Labels: review needed :eyes:

#9874 Remove "Explore the upgrades" section from vision page
  src/intl/ar/page-roadmap-vision.json
  src/intl/bg/page-roadmap-vision.json
  src/intl/ca/page-roadmap-vision.json
  src/intl/de/page-roadmap-vision.json
  src/intl/el/page-roadmap-vision.json
  src/intl/en/page-roadmap-vision.json
  src/intl/es/page-roadmap-vision.json
  src/intl/fa/page-roadmap-vision.json
  src/intl/fr/page-roadmap-vision.json
  src/intl/hi/page-roadmap-vision.json
  src/intl/hr/page-roadmap-vision.json
  src/intl/hu/page-roadmap-vision.json
  src/intl/id/page-roadmap-vision.json
  src/intl/it/page-roadmap-vision.json
  src/intl/ja/page-roadmap-vision.json
  src/intl/ml/page-roadmap-vision.json
  src/intl/nl/page-roadmap-vision.json
  src/intl/pl/page-roadmap-vision.json
  src/intl/pt-br/page-roadmap-vision.json
  src/intl/ro/page-roadmap-vision.json
  src/intl/ru/page-roadmap-vision.json
  src/intl/sl/page-roadmap-vision.json
  src/intl/sw/page-roadmap-vision.json
  src/intl/tr/page-roadmap-vision.json
  src/intl/uk/page-roadmap-vision.json
  src/intl/zh/page-roadmap-vision.json
  src/pages/roadmap/vision.tsx
Labels: review needed :eyes:

#9923 Add Diligence Fuzzing to Dynamic analysis tools #9917
  src/content/developers/docs/smart-contracts/testing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9863 fix: margin-bottom bug in the footer
  src/components/FeedbackWidget.tsx
Labels: review needed :eyes:

#9957 added SpaghettETH II
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#9958 added sponsors to SpaghettETH
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#9955 Post-Shanghai/Capella clean up
  src/components/Banners/BugBountyBanner.tsx
  src/components/Staking/ShanghaiCapella.tsx
  src/content/developers/docs/consensus-mechanisms/pos/keys/index.md
  src/content/history/index.md
  src/content/roadmap/index.md
  src/content/roadmap/merge/index.md
  src/content/roadmap/merge/issuance/index.md
  src/content/roadmap/security/index.md
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/content/staking/withdrawals/index.md
  src/data/NetworkUpgradeSummaryData.ts
  src/intl/en/page-staking.json
  src/pages/bug-bounty.tsx
  src/templates/staking.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9959 fix(TableOfContents): export `Item` type-sig from index file
  src/components/TableOfContents/index.tsx
Labels: review needed :eyes:

#9962 refactor: update storybook config and theme util
  .storybook/main.js
  .storybook/preview.js
  src/@chakra-ui/gatsby-plugin/components/components.utils.ts
Labels: review needed :eyes:

#8362 Revamp smart contract testing page
  src/content/developers/docs/smart-contracts/testing/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  src/data/community-meetups.json
  src/data/externalTutorials.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9802 Remove extra slash in command
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9761 Corrected minor typos in a Oracle doc
  src/content/developers/docs/oracles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9640 Design contribution subpage
  src/content/contributing/design/index.md
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9618 Content guidelines (style guide improvement)
  src/content/contributing/style-guide/content-standardization/index.md
  src/content/contributing/style-guide/index.md
  src/intl/en/common.json
Labels: content :fountain_pen:, review needed :eyes:

#9963 v7.10.0
  package.json
Labels: dependencies :package:

#9968 update ERC1155 link for NFT page
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9634 refactor(templates/use-cases): migrate to Chakra
  src/templates/use-cases.tsx
Labels: review needed :eyes:, chakra-migration

#9986 adding ETHMilan to the list
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#9993 Fix typo in scaling page
  src/content/roadmap/scaling/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9992 Remove console easter egg
  src/hooks/useConsoleEasterEgg.ts
  src/pages/index.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9989 Corrección de varios errores tipográficos
  src/content/translations/es/developers/docs/standards/tokens/erc-1155/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9988 Corrección de dos errores tipográficos
  src/content/translations/es/developers/docs/standards/tokens/erc-777/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9991 Remove `UpgradeArticles` component
  src/components/UpgradeArticles.tsx
  src/data/ethUpgradeArticles.ts
Labels: review needed :eyes:

#9983 fix bad phrase in patriciaMT doc [Fixes ethereum/ethereum-org-website…
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9981 fix typo
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9995 Deploy v7.10.1
  package.json
  src/components/UpgradeArticles.tsx
  src/content/contributing/design/index.md
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/nft/index.md
  src/content/roadmap/scaling/index.md
  src/content/translations/es/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/es/developers/docs/standards/tokens/erc-777/index.md
  src/data/community-events.json
  src/data/community-meetups.json
  src/data/ethUpgradeArticles.ts
  src/hooks/useConsoleEasterEgg.ts
  src/pages/index.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, event :date:

#9500 Migrate `wallets.tsx` page to Chakra
  src/components/Callout.tsx
  src/components/CardList.tsx
  src/components/HorizontalCard.tsx
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:, chakra-migration

#10026 Updated MEV and Me Link
  src/content/developers/docs/mev/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9635 migrate stablecoins.tsx to chakra components
  src/@chakra-ui/gatsby-plugin/foundations/shadows.ts
  src/components/Emoji.tsx
  src/components/GhostCard.tsx
  src/components/StablecoinAccordion/index.tsx
  src/pages-conditional/dapps.tsx
  src/pages/stablecoins.tsx
Labels: content :fountain_pen:, review needed :eyes:, chakra-migration

#9670 refactor: migrate template/upgrade to Chakra
  src/templates/upgrade.tsx
Labels: review needed :eyes:, chakra-migration

#9808 refactor(Nav): migrate to Chakra
  src/@chakra-ui/gatsby-plugin/foundations/index.ts
  src/@chakra-ui/gatsby-plugin/foundations/sizes.ts
  src/components/Nav/Dropdown.tsx
  src/components/Nav/Menu.tsx
  src/components/Nav/Mobile.tsx
  src/components/Nav/index.tsx
  src/components/Nav/useNav.ts
  src/components/Search/index.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, chakra-migration, event :date:

#10017 update layer 2 listing criteria
  src/content/contributing/adding-layer-2s/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10011 Vietnamese April update
  src/content/translations/vi/nft/index.md
  src/intl/vi/page-dapps.json
  src/intl/vi/page-stablecoins.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10008 Korean April update
  src/intl/ko/page-about.json
  src/intl/ko/page-learn.json
  src/intl/ko/page-wallets-find-wallet.json
  src/intl/ko/page-wallets.json
  src/intl/ko/page-what-is-ethereum.json
Labels: review needed :eyes:

#10006 Indonesian April update
  src/content/translations/id/nft/index.md
  src/intl/id/page-dapps.json
  src/intl/id/page-stablecoins.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10005 French April update
  src/content/translations/fr/nft/index.md
  src/intl/fr/common.json
  src/intl/fr/page-developers-index.json
  src/intl/fr/page-developers-learning-tools.json
  src/intl/fr/page-languages.json
  src/intl/fr/page-layer-2.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10002 Chinese Traditional April updates
  src/content/translations/zh-tw/nft/index.md
  src/intl/zh-tw/page-about.json
  src/intl/zh-tw/page-assets.json
  src/intl/zh-tw/page-dapps.json
  src/intl/zh-tw/page-developers-index.json
  src/intl/zh-tw/page-developers-learning-tools.json
  src/intl/zh-tw/page-languages.json
  src/intl/zh-tw/page-layer-2.json
  src/intl/zh-tw/page-learn.json
  src/intl/zh-tw/page-stablecoins.json
  src/intl/zh-tw/page-wallets-find-wallet.json
  src/intl/zh-tw/page-wallets.json
  src/intl/zh-tw/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10010 Spanish April update
  src/content/translations/es/community/grants/index.md
  src/content/translations/es/community/page-community.json
  src/content/translations/es/decentralized-identity/index.md
  src/content/translations/es/defi/index.md
  src/content/translations/es/desci/index.md
  src/content/translations/es/social-networks/index.md
  src/intl/es/common.json
  src/intl/es/page-dapps.json
  src/intl/es/page-developers-index.json
  src/intl/es/page-developers-learning-tools.json
  src/intl/es/page-languages.json
  src/intl/es/page-layer-2.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10007 Japanese April update
  src/content/translations/ja/dao/index.md
  src/intl/ja/page-assets.json
  src/intl/ja/page-dapps.json
  src/intl/ja/page-developers-index.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/ja/page-languages.json
  src/intl/ja/page-layer-2.json
  src/intl/ja/page-run-a-node.json
  src/intl/ja/page-stablecoins.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10001 Chinese Simplified April update
  src/content/translations/zh/governance/index.md
  src/content/translations/zh/nft/index.md
  src/content/translations/zh/staking/pools/index.md
  src/content/translations/zh/staking/saas/index.md
  src/content/translations/zh/staking/withdrawals/index.md
  src/intl/zh/common.json
  src/intl/zh/page-developers-index.json
  src/intl/zh/page-developers-learning-tools.json
  src/intl/zh/page-languages.json
  src/intl/zh/page-stablecoins.json
  src/intl/zh/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9848 Refactor energy consumption chart
  src/components/EnergyConsumptionChart.tsx
  src/hooks/useWindowSize.ts
Labels: review needed :eyes:

#9169 Add EIP-1271 tutorial to developer docs
  src/content/developers/tutorials/eip-1271-smart-contract-signatures/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#10042 Fix a typo.
  src/content/developers/tutorials/yellow-paper-evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10039 chore(deps): bump storybook to latest
  package.json
  yarn.lock
Labels: dependencies :package:

#10035 fix: inconsistent card background color on Dapps Page
  src/components/BoxGrid.tsx
Labels: review needed :eyes:

#9925 Update /learn page content + 2 new links
  src/intl/en/page-learn.json
  src/pages/learn/index.tsx
Labels: review needed :eyes:

#9870 Initial Kernel additions to "What is Ethereum?"
  src/intl/en/page-what-is-ethereum.json
  src/pages-conditional/what-is-ethereum.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10043 Update client diversity reference links
  src/content/developers/docs/data-and-analytics/index.md
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/staking/withdrawals/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/it/developers/docs/data-and-analytics/index.md
  src/content/translations/it/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/index.md
  src/content/translations/ja/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/pt-br/developers/docs/data-and-analytics/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/zh/developers/docs/data-and-analytics/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/zh/staking/withdrawals/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10045 ✏️ fix typo in base fee example
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10054 run reorg-intl script
  src/intl/ar/page-eth.json
  src/intl/ar/page-what-is-ethereum.json
  src/intl/az/page-what-is-ethereum.json
  src/intl/ca/page-what-is-ethereum.json
  src/intl/cs/page-what-is-ethereum.json
  src/intl/de/page-what-is-ethereum.json
  src/intl/es/page-what-is-ethereum.json
  src/intl/fa/page-what-is-ethereum.json
  src/intl/fi/page-what-is-ethereum.json
  src/intl/fr/page-what-is-ethereum.json
  src/intl/hi/page-roadmap-vision.json
  src/intl/hi/page-what-is-ethereum.json
  src/intl/hu/page-what-is-ethereum.json
  src/intl/id/page-what-is-ethereum.json
  src/intl/it/page-what-is-ethereum.json
  src/intl/ja/page-what-is-ethereum.json
  src/intl/km/page-what-is-ethereum.json
  src/intl/ko/page-what-is-ethereum.json
  src/intl/ms/page-what-is-ethereum.json
  src/intl/nl/page-what-is-ethereum.json
  src/intl/ph/page-what-is-ethereum.json
  src/intl/pl/page-what-is-ethereum.json
  src/intl/pt-br/page-what-is-ethereum.json
  src/intl/ru/page-what-is-ethereum.json
  src/intl/se/page-what-is-ethereum.json
  src/intl/sw/page-what-is-ethereum.json
  src/intl/th/page-what-is-ethereum.json
  src/intl/tr/page-what-is-ethereum.json
  src/intl/uk/page-what-is-ethereum.json
  src/intl/vi/page-what-is-ethereum.json
  src/intl/zh-tw/page-what-is-ethereum.json
  src/intl/zh/page-what-is-ethereum.json
Labels: review needed :eyes:

#10056 Filipino April update
  src/intl/ph/page-about.json
  src/intl/ph/page-developers-tutorials.json
  src/intl/ph/page-get-eth.json
  src/intl/ph/page-learn.json
  src/intl/ph/page-wallets-find-wallet.json
  src/intl/ph/page-wallets.json
  src/intl/ph/page-what-is-ethereum.json
Labels: review needed :eyes:

#10059 Georgian April update
  src/intl/ka/common.json
  src/intl/ka/page-index.json
Labels: review needed :eyes:

#10053 Chinese Simplified April update
  src/content/translations/zh/guides/how-to-register-an-ethereum-account/index.md
  src/content/translations/zh/guides/how-to-revoke-token-access/index.md
  src/content/translations/zh/guides/how-to-swap-tokens/index.md
  src/content/translations/zh/guides/how-to-use-a-bridge/index.md
  src/content/translations/zh/guides/how-to-use-a-wallet/index.md
  src/content/translations/zh/guides/index.md
  src/intl/zh/learn-quizzes.json
  src/intl/zh/page-learn.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10060 German April update
  src/intl/de/common.json
  src/intl/de/page-developers-learning-tools.json
  src/intl/de/page-languages.json
Labels: review needed :eyes:

#10049 Fix styles in the devs nav
  src/components/Nav/index.tsx
Labels: review needed :eyes:

#10062 Japanese April update
  src/content/translations/ja/developers/docs/apis/backend/index.md
  src/content/translations/ja/developers/docs/apis/javascript/index.md
  src/content/translations/ja/developers/docs/apis/json-rpc/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/index.md
  src/content/translations/ja/developers/docs/ethereum-stack/index.md
  src/content/translations/ja/developers/docs/frameworks/index.md
  src/content/translations/ja/developers/docs/programming-languages/python/index.md
  src/content/translations/ja/developers/docs/programming-languages/rust/index.md
  src/content/translations/ja/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/ja/developers/docs/smart-contracts/formal-verification/index.md
  src/content/translations/ja/developers/docs/smart-contracts/languages/index.md
  src/content/translations/ja/developers/docs/smart-contracts/security/index.md
  src/content/translations/ja/developers/docs/smart-contracts/testing/index.md
  src/content/translations/ja/developers/docs/storage/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10058 French April update
  src/content/translations/fr/community/get-involved/index.md
  src/content/translations/fr/community/grants/index.md
  src/content/translations/fr/community/support/index.md
  src/content/translations/fr/decentralized-identity/index.md
  src/content/translations/fr/desci/index.md
  src/content/translations/fr/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/fr/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/fr/social-networks/index.md
  src/content/translations/fr/staking/pools/index.md
  src/content/translations/fr/staking/saas/index.md
  src/content/translations/fr/staking/solo/index.md
  src/content/translations/fr/staking/withdrawals/index.md
  src/intl/fr/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10065 Russian April update
  src/intl/ru/page-assets.json
  src/intl/ru/page-developers-index.json
  src/intl/ru/page-developers-learning-tools.json
  src/intl/ru/page-languages.json
  src/intl/ru/page-stablecoins.json
Labels: review needed :eyes:

#10012 ♻️ Propose a 'clearer' python code for RLP encoding page
  src/content/developers/docs/data-structures-and-encoding/rlp/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9999 update JSON rpc documentation to add eth_chainId (EIP 695)
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10051 Fix hidden close icon when menu is shown [mobile]
  src/components/Nav/useNav.ts
Labels: review needed :eyes:

#10066 Fix Broken Tornado Cash URL
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10067 Added Web3 Timisoara to community meetups
  src/data/community-meetups.json
Labels: review needed :eyes:

#10063 Polish April update
  src/intl/pl/common.json
  src/intl/pl/page-about.json
  src/intl/pl/page-dapps.json
  src/intl/pl/page-learn.json
  src/intl/pl/page-wallets-find-wallet.json
  src/intl/pl/page-wallets.json
  src/intl/pl/page-what-is-ethereum.json
Labels: review needed :eyes:

#10064 Portuguese Brazilian April update
  src/content/translations/pt-br/about/index.md
  src/content/translations/pt-br/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/translations/pt-br/developers/tutorials/how-to-mint-an-nft/index.md
  src/content/translations/pt-br/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/pt-br/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/content/translations/pt-br/developers/tutorials/understand-the-erc-20-token-smart-contract/index.md
  src/content/translations/pt-br/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/pt-br/enterprise/index.md
  src/content/translations/pt-br/glossary/index.md
  src/content/translations/pt-br/history/index.md
  src/content/translations/pt-br/staking/pools/index.md
  src/content/translations/pt-br/staking/saas/index.md
  src/content/translations/pt-br/staking/withdrawals/index.md
  src/intl/pt-br/page-developers-tutorials.json
  src/intl/pt-br/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10061 Italian April update
  src/content/translations/it/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/it/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/intl/it/common.json
  src/intl/it/page-developers-index.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/it/page-languages.json
  src/intl/it/page-stablecoins.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10052 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10000 Add matomo events
  src/components/AssetDownload.tsx
  src/components/BoxGrid.tsx
  src/components/DocsNav.tsx
  src/components/FileContributors.tsx
  src/components/Link.tsx
  src/components/MeetupList.tsx
  src/components/Nav/useNav.ts
  src/components/PageHero.tsx
  src/components/Search/index.tsx
  src/components/Staking/StakingComparison.tsx
  src/components/Staking/StakingConsiderations.tsx
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/StatsBoxGrid/RangeSelector.tsx
  src/components/StatsBoxGrid/useStatsBoxGrid.tsx
  src/components/TableOfContents/index.tsx
  src/components/UpcomingEventsList.tsx
  src/data/community-events.json
  src/pages-conditional/dapps.tsx
  src/pages-conditional/wallets.tsx
  src/pages/developers/tutorials.tsx
  src/pages/get-eth.tsx
  src/pages/layer-2.tsx
  src/pages/learn/index.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
  src/utils/matomo.ts
Labels: content :fountain_pen:, review needed :eyes:, event :date:

#9013 Replaced the main video with a better one
  src/content/desci/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9278 Add Sirato to the list of block explorers.
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, review needed :eyes:, abandoned

#10072 v7.11.0
  package.json
Labels: dependencies :package:

#10069 Remove blog and Launchpad translation subpages
  src/content/contributing/translation-program/blog-translations/blog-posts.png
  src/content/contributing/translation-program/blog-translations/index.md
  src/content/contributing/translation-program/blog-translations/online-editor.png
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/contributing/translation-program/index.md
  src/content/contributing/translation-program/launchpad-translations/index.md
  src/content/contributing/translation-program/launchpad-translations/launchpad-files.png
  src/content/translations/de/contributing/translation-program/index.md
  src/content/translations/es/contributing/translation-program/index.md
  src/content/translations/fr/contributing/translation-program/index.md
  src/content/translations/it/contributing/translation-program/index.md
  src/content/translations/ja/contributing/translation-program/index.md
  src/content/translations/zh/contributing/translation-program/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10046 Update Translation Program stats
  src/assets/translation-program/pageviews-dark.png
  src/assets/translation-program/pageviews-light.png
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10071 remove old grant pages and redirects for them
  redirects.json
  src/content/community/grants/medalla-data-challenge/index.md
  src/content/community/grants/staking-community-grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10077 add missing translation strings for quiz titles
  src/intl/en/learn-quizzes.json
Labels: review needed :eyes:

#10041 List Sensei Node as SaaS product
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/icons/staking/SenseiNodeGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#10022 Update index.md
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8317 Added "how to build web3" developer resources
  src/content/community/support/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10083 Update community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#10078 Writing cohort banner
  redirects.json
  src/components/Banners/Implementations/WritersCohortBanner.tsx
  src/pages/community.tsx
  src/templates/static.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9345 Updating Cherubs DAO and adding a new project to the list
  src/content/desci/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10087 v7.11.1
  package.json
Labels: dependencies :package:

#10090 Fix misspellings of Ethereum in Chinese Simplified and Japanese
  src/content/translations/ja/developers/tutorials/secure-development-workflow/index.md
  src/intl/zh/common.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10086 Blockchain Conference in Quito
  src/data/community-events.json
Labels: review needed :eyes:, event :date:
