Repository ethereum/ethereum-org-website, pull requests merged in 2023-09, with the labels that each got.

#11065 fix: stale eip 1 link
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11038 Fixed broken URL for "Verkle Trees"
  src/content/roadmap/statelessness/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11070 Fix broken link on statelessness roadmap page (Italian)
  src/content/translations/it/roadmap/statelessness/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11066 Remove duplicate content in oracles docs (Chinese Simplified)
  src/content/translations/zh/developers/docs/oracles/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11039 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11024 Remove broken link in reading-web-security
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11023 Remove broken link: 4 Ways to Stay Safe in Crypto
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11015 Fixed a few typos
  src/content/community/code-of-conduct/index.md
  src/content/developers/docs/bridges/index.md
  src/content/developers/docs/design-and-ux/index.md
  src/content/energy-consumption/index.md
  src/content/guides/how-to-use-a-wallet/index.md
  src/content/roadmap/account-abstraction/index.md
  src/content/roadmap/index.md
  src/intl/en/page-wallets.json
Labels: content :fountain_pen:, review needed :eyes:

#11014 Update index.md
  src/content/developers/docs/ides/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11012 Replaced dead Sepolia faucet.
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11010 Receipt logs may contain no non-indexed arguments
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10963 Add ETH Riyadh 2023 to ETH events
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11085 Release candidate: v7.20.1
  .all-contributorsrc
  README.md
  docs/ds-implementation.md
  package.json
  src/content/community/code-of-conduct/index.md
  src/content/community/get-involved/index.md
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/bridges/index.md
  src/content/developers/docs/design-and-ux/index.md
  src/content/developers/docs/ides/index.md
  src/content/developers/docs/networks/index.md
  src/content/energy-consumption/index.md
  src/content/guides/how-to-use-a-wallet/index.md
  src/content/roadmap/account-abstraction/index.md
  src/content/roadmap/index.md
  src/content/roadmap/statelessness/index.md
  src/content/security/index.md
  src/content/translations/it/roadmap/statelessness/index.md
  src/content/translations/zh/developers/docs/oracles/index.md
  src/data/community-events.json
  src/intl/en/page-wallets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, internal :house:, documentation :book:, event :date:

#10981 fixed two broken links issue [Fixes #10972]
  src/content/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10985 content: improved comprehensibility in the staking/pools page
  src/content/staking/pools/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11076 adding Ethereum Rio 2024 info into community-events.json (events page)
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11094 Spelling fixes in community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11089 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11104 Deploy v7.20.1
  .all-contributorsrc
  README.md
  docs/ds-implementation.md
  package.json
  src/content/community/code-of-conduct/index.md
  src/content/community/get-involved/index.md
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/bridges/index.md
  src/content/developers/docs/design-and-ux/index.md
  src/content/developers/docs/ides/index.md
  src/content/developers/docs/networks/index.md
  src/content/energy-consumption/index.md
  src/content/guides/how-to-use-a-wallet/index.md
  src/content/roadmap/account-abstraction/index.md
  src/content/roadmap/index.md
  src/content/roadmap/statelessness/index.md
  src/content/security/index.md
  src/content/translations/it/roadmap/statelessness/index.md
  src/content/translations/zh/developers/docs/oracles/index.md
  src/data/community-events.json
  src/intl/en/page-wallets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, internal :house:, documentation :book:, event :date:

#11047 feat(components): add `ButtonTwoLines` component
  src/components/ButtonTwoLines/ButtonTwoLines.stories.tsx
  src/components/ButtonTwoLines/index.tsx
Labels: review needed :eyes:

#11108 Typo in Bug Bounty Program
  src/intl/en/page-bug-bounty.json
  src/intl/hi/page-bug-bounty.json
  src/intl/ml/page-bug-bounty.json
  src/intl/zh/page-bug-bounty.json
Labels: review needed :eyes:

#11101 Fix broken link: Learn more about MACI
  src/content/zero-knowledge-proofs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10966 Add stakefish to list of saas providers and remove from staking pool …
  src/data/staking-products.json
Labels: review needed :eyes:

#11120 Update EthStaker Discord invite URL
  src/components/Staking/StakingCommunityCallout.tsx
  src/content/community/online/index.md
  src/content/community/support/index.md
  src/content/translations/ca/community/support/index.md
  src/content/translations/de/community/online/index.md
  src/content/translations/de/community/support/index.md
  src/content/translations/es/community/online/index.md
  src/content/translations/es/community/support/index.md
  src/content/translations/fa/community/online/index.md
  src/content/translations/fa/community/support/index.md
  src/content/translations/fr/community/online/index.md
  src/content/translations/fr/community/support/index.md
  src/content/translations/id/community/support/index.md
  src/content/translations/it/community/online/index.md
  src/content/translations/it/community/support/index.md
  src/content/translations/ja/community/online/index.md
  src/content/translations/ja/community/support/index.md
  src/content/translations/nl/community/online/index.md
  src/content/translations/nl/community/support/index.md
  src/content/translations/pt-br/community/online/index.md
  src/content/translations/pt-br/community/support/index.md
  src/content/translations/ro/community/support/index.md
  src/content/translations/ru/community/online/index.md
  src/content/translations/ru/community/support/index.md
  src/content/translations/sw/community/online/index.md
  src/content/translations/sw/community/support/index.md
  src/content/translations/tr/community/online/index.md
  src/content/translations/tr/community/support/index.md
  src/content/translations/uk/community/online/index.md
  src/content/translations/uk/community/support/index.md
  src/content/translations/zh/community/online/index.md
  src/content/translations/zh/community/support/index.md
  src/data/staking-products.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11134 Removed committed buckets
  src/scripts/crowdin-import.ts
Labels: review needed :eyes:, tooling :wrench:

#10427 i18n(intl/en): add missing translations for breadcrumb links
  src/intl/en/common.json
Labels: review needed :eyes:

#10775 Remove EF YouTube link from Footer
  src/components/Footer.tsx
Labels: review needed :eyes:

#11126 change naming for translation chart to fix render issue
  src/assets/translation-program/pageviews-dark.png
  src/assets/translation-program/pageviews-light.png
Labels: review needed :eyes:

#10930 remove wallets from get-eth page
  src/components/EthExchanges/index.tsx
  src/components/EthExchanges/use-eth-exchanges.ts
  src/data/community-events.json
  src/data/staking-products.json
  src/intl/en/page-get-eth.json
Labels: review needed :eyes:, event :date:

#11107 update nexus logo
  src/assets/dapps/nexus.png
Labels: review needed :eyes:

#10858 August 1 Ukrainian crowdin import
  src/content/translations/uk/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/uk/guides/how-to-revoke-token-access/index.md
  src/content/translations/uk/guides/how-to-swap-tokens/index.md
  src/content/translations/uk/guides/how-to-use-a-bridge/index.md
  src/content/translations/uk/guides/how-to-use-a-wallet/index.md
  src/content/translations/uk/guides/index.md
  src/content/translations/uk/staking/dvt/index.md
  src/content/translations/uk/staking/pools/index.md
  src/content/translations/uk/staking/saas/index.md
  src/content/translations/uk/staking/solo/index.md
  src/content/translations/uk/staking/withdrawals/index.md
  src/intl/uk/learn-quizzes.json
  src/intl/uk/page-learn.json
  src/intl/uk/page-staking-deposit-contract.json
  src/intl/uk/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10857 August 1 Spanish import
  src/content/translations/es/community/get-involved/index.md
  src/content/translations/es/community/grants/index.md
  src/content/translations/es/community/online/index.md
  src/content/translations/es/community/support/index.md
  src/content/translations/es/developers/docs/accounts/accounts.svg
  src/content/translations/es/developers/docs/accounts/index.md
  src/content/translations/es/developers/docs/blocks/index.md
  src/content/translations/es/developers/docs/blocks/tx-block.svg
  src/content/translations/es/developers/docs/dapps/index.md
  src/content/translations/es/developers/docs/evm/evm.svg
  src/content/translations/es/developers/docs/evm/gas.svg
  src/content/translations/es/developers/docs/evm/index.md
  src/content/translations/es/developers/docs/evm/opcodes/index.md
  src/content/translations/es/developers/docs/gas/index.md
  src/content/translations/es/developers/docs/index.md
  src/content/translations/es/developers/docs/intro-to-ether/index.md
  src/content/translations/es/developers/docs/intro-to-ethereum/index.md
  src/content/translations/es/developers/docs/networks/index.md
  src/content/translations/es/developers/docs/transactions/gas-tx.svg
  src/content/translations/es/developers/docs/transactions/index.md
  src/content/translations/es/developers/docs/transactions/tx.svg
  src/content/translations/es/developers/docs/web2-vs-web3/index.md
  src/content/translations/es/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/es/guides/how-to-revoke-token-access/index.md
  src/content/translations/es/guides/how-to-swap-tokens/index.md
  src/content/translations/es/guides/how-to-use-a-bridge/index.md
  src/content/translations/es/guides/how-to-use-a-wallet/index.md
  src/content/translations/es/guides/index.md
  src/intl/es/learn-quizzes.json
  src/intl/es/page-developers-docs.json
  src/intl/es/page-learn.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10868 update get eth page
  src/intl/en/page-get-eth.json
  src/pages/get-eth.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11115 rm ambiguous sentence on zk proofs
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11114 minor change to strong statelessness info
  src/content/roadmap/statelessness/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11052 Scam token dissection and detection
  src/content/developers/tutorials/scam-token-tricks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11121 Update Portal Network discord invite link
  src/content/developers/docs/networking-layer/portal-network/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11136 fix Link -> InlineLink on /get-eth
  src/pages/get-eth.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11137 add conditional for buttons in hero based on language
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11147 Add Pragma New York
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11146 [Hotfix] fix table style in mobile
  src/@chakra-ui/gatsby-plugin/components/Table.ts
Labels: review needed :eyes:

#11148 Interactive simulator patches
  src/components/Simulator/DemoOnlyPopover.tsx
  src/components/Simulator/NotificationPopover.tsx
  src/components/Simulator/WalletHome/AddressPill.tsx
  src/components/Simulator/WalletHome/WalletBalance.tsx
  src/components/Simulator/screens/ConnectWeb3/Web3App.tsx
  src/components/Simulator/screens/SendReceive/ReceiveEther.tsx
  src/components/Simulator/screens/SendReceive/SendEther.tsx
  src/components/Simulator/screens/SendReceive/SendFromContacts.tsx
  src/components/Simulator/screens/SendReceive/Success.tsx
  src/data/WalletSimulatorData.tsx
Labels: review needed :eyes:

#11164 Fixed broken link
  src/content/developers/docs/bridges/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11169 Add ETHTbilisi
  src/data/community-meetups.json
Labels: review needed :eyes:

#11166 Update index.md
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11161 Add ETHDubai 2024 conference and hackathon dates
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11158 Fix heading and spacing in roadmap cards
  src/components/Roadmap/RoadmapActionCard.tsx
  src/templates/roadmap.tsx
Labels: review needed :eyes:

#11155 Patch casing for styles
  src/@chakra-ui/gatsby-plugin/styles.ts
Labels: review needed :eyes:

#11149 Updated Pragma New York and added Pragma Istanbul
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11130 Fix typo (Japanese)
  src/intl/ja/page-roadmap-vision.json
Labels: review needed :eyes:

#11129 Update index.md
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11087 Fixed spelling mistake in nodes and clients
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11106 Update index.md
  src/content/developers/docs/data-structures-and-encoding/rlp/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11173 Add new language Amharic (am) and update homepage buckets
  i18n/config.json
  src/intl/am/common.json
  src/intl/am/page-index.json
  src/intl/az/common.json
  src/intl/az/page-index.json
  src/intl/cs/common.json
  src/intl/cs/page-index.json
  src/intl/de/common.json
  src/intl/de/page-index.json
  src/intl/el/common.json
  src/intl/el/page-index.json
  src/intl/es/common.json
  src/intl/es/page-index.json
  src/intl/id/common.json
  src/intl/id/page-index.json
  src/intl/ja/common.json
  src/intl/ja/page-index.json
  src/intl/ka/common.json
  src/intl/ka/page-index.json
  src/intl/km/common.json
  src/intl/km/page-index.json
  src/intl/ru/common.json
  src/intl/ru/page-index.json
  src/intl/tr/common.json
  src/intl/tr/page-index.json
  src/intl/zh-tw/common.json
  src/intl/zh-tw/page-index.json
  src/intl/zh/common.json
  src/intl/zh/page-index.json
  src/scripts/crowdin-import.ts
Labels: review needed :eyes:, tooling :wrench:

#11211 Update Amharic (am), Armenian (hy-am), and Belarusian (be) buckets
  src/content/translations/am/nft/index.md
  src/content/translations/hy-am/nft/index.md
  src/intl/am/page-dapps.json
  src/intl/am/page-eth.json
  src/intl/am/page-get-eth.json
  src/intl/am/page-stablecoins.json
  src/intl/am/page-wallets-find-wallet.json
  src/intl/am/page-wallets.json
  src/intl/am/page-what-is-ethereum.json
  src/intl/am/template-usecase.json
  src/intl/be/page-eth.json
  src/intl/be/page-get-eth.json
  src/intl/be/page-wallets-find-wallet.json
  src/intl/be/page-wallets.json
  src/intl/be/page-what-is-ethereum.json
  src/intl/hy-am/page-dapps.json
  src/intl/hy-am/page-eth.json
  src/intl/hy-am/page-get-eth.json
  src/intl/hy-am/page-stablecoins.json
  src/intl/hy-am/page-wallets-find-wallet.json
  src/intl/hy-am/page-wallets.json
  src/intl/hy-am/page-what-is-ethereum.json
  src/intl/hy-am/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11210 Update Farsi (fa) Essentials, Exploring, and Use Ethereum buckets
  src/content/translations/fa/nft/index.md
  src/intl/fa/page-dapps.json
  src/intl/fa/page-developers-learning-tools.json
  src/intl/fa/page-developers-local-environment.json
  src/intl/fa/page-get-eth.json
  src/intl/fa/page-layer-2.json
  src/intl/fa/page-wallets.json
  src/intl/fa/page-what-is-ethereum.json
  src/intl/fa/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11209 Update Filipino (fil) Essentials, Exploring, and Use Ethereum buckets
  src/content/translations/fil/dao/index.md
  src/content/translations/fil/nft/index.md
  src/intl/fil/page-dapps.json
  src/intl/fil/page-developers-index.json
  src/intl/fil/page-developers-learning-tools.json
  src/intl/fil/page-developers-local-environment.json
  src/intl/fil/page-get-eth.json
  src/intl/fil/page-languages.json
  src/intl/fil/page-layer-2.json
  src/intl/fil/page-run-a-node.json
  src/intl/fil/page-stablecoins.json
  src/intl/fil/page-wallets-find-wallet.json
  src/intl/fil/page-wallets.json
  src/intl/fil/page-what-is-ethereum.json
  src/intl/fil/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11208 Update French (fr) Essentials, Exploring and Use Ethereum buckets
  src/content/translations/fr/nft/index.md
  src/intl/fr/page-dapps.json
  src/intl/fr/page-developers-learning-tools.json
  src/intl/fr/page-developers-local-environment.json
  src/intl/fr/page-get-eth.json
  src/intl/fr/page-layer-2.json
  src/intl/fr/page-wallets.json
  src/intl/fr/page-what-is-ethereum.json
  src/intl/fr/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11207 Update Greek (el) Essentials, Exploring and Use Ethereum buckets
  src/content/translations/el/dao/index.md
  src/content/translations/el/nft/index.md
  src/intl/el/page-dapps.json
  src/intl/el/page-developers-index.json
  src/intl/el/page-developers-learning-tools.json
  src/intl/el/page-developers-local-environment.json
  src/intl/el/page-eth.json
  src/intl/el/page-get-eth.json
  src/intl/el/page-languages.json
  src/intl/el/page-layer-2.json
  src/intl/el/page-run-a-node.json
  src/intl/el/page-wallets.json
  src/intl/el/page-what-is-ethereum.json
  src/intl/el/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11206 Update Indonesian (id) Essentials, Exploring, Use Ethereum, Use Cases, Staking and learn pages buckets
  src/content/translations/id/dao/index.md
  src/content/translations/id/decentralized-identity/index.md
  src/content/translations/id/defi/index.md
  src/content/translations/id/desci/index.md
  src/content/translations/id/nft/index.md
  src/content/translations/id/refi/index.md
  src/content/translations/id/smart-contracts/index.md
  src/content/translations/id/social-networks/index.md
  src/content/translations/id/staking/dvt/index.md
  src/content/translations/id/staking/pools/index.md
  src/content/translations/id/staking/saas/index.md
  src/content/translations/id/staking/solo/index.md
  src/content/translations/id/staking/withdrawals/index.md
  src/intl/id/page-dapps.json
  src/intl/id/page-developers-index.json
  src/intl/id/page-developers-learning-tools.json
  src/intl/id/page-developers-local-environment.json
  src/intl/id/page-get-eth.json
  src/intl/id/page-languages.json
  src/intl/id/page-layer-2.json
  src/intl/id/page-run-a-node.json
  src/intl/id/page-staking.json
  src/intl/id/page-wallets.json
  src/intl/id/page-what-is-ethereum.json
  src/intl/id/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11183 Updates Launchnodes listing
  src/data/staking-products.json
Labels: review needed :eyes:

#11205 Update Igbo (ig) Essentials, Exploring, and Use Ethereum buckets
  src/content/translations/ig/dao/index.md
  src/content/translations/ig/nft/index.md
  src/intl/ig/page-dapps.json
  src/intl/ig/page-developers-index.json
  src/intl/ig/page-developers-learning-tools.json
  src/intl/ig/page-developers-local-environment.json
  src/intl/ig/page-eth.json
  src/intl/ig/page-get-eth.json
  src/intl/ig/page-languages.json
  src/intl/ig/page-layer-2.json
  src/intl/ig/page-run-a-node.json
  src/intl/ig/page-stablecoins.json
  src/intl/ig/page-wallets-find-wallet.json
  src/intl/ig/page-wallets.json
  src/intl/ig/page-what-is-ethereum.json
  src/intl/ig/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11204 Update German (de) Essentials, Exploring, Use Ethereum, Use Cases, and Upgrades buckets
  src/content/translations/de/defi/index.md
  src/content/translations/de/desci/index.md
  src/content/translations/de/eips/index.md
  src/content/translations/de/nft/index.md
  src/content/translations/de/refi/index.md
  src/content/translations/de/roadmap/account-abstraction/index.md
  src/content/translations/de/roadmap/beacon-chain/index.md
  src/content/translations/de/roadmap/danksharding/index.md
  src/content/translations/de/roadmap/future-proofing/index.md
  src/content/translations/de/roadmap/index.md
  src/content/translations/de/roadmap/merge/index.md
  src/content/translations/de/roadmap/merge/issuance/index.md
  src/content/translations/de/roadmap/pbs/index.md
  src/content/translations/de/roadmap/scaling/index.md
  src/content/translations/de/roadmap/secret-leader-election/index.md
  src/content/translations/de/roadmap/security/index.md
  src/content/translations/de/roadmap/single-slot-finality/index.md
  src/content/translations/de/roadmap/statelessness/index.md
  src/content/translations/de/roadmap/user-experience/index.md
  src/content/translations/de/roadmap/verkle-trees/index.md
  src/content/translations/de/smart-contracts/index.md
  src/intl/de/page-dapps.json
  src/intl/de/page-developers-learning-tools.json
  src/intl/de/page-developers-local-environment.json
  src/intl/de/page-get-eth.json
  src/intl/de/page-layer-2.json
  src/intl/de/page-roadmap-vision.json
  src/intl/de/page-upgrades-get-involved.json
  src/intl/de/page-upgrades-index.json
  src/intl/de/page-upgrades.json
  src/intl/de/page-wallets.json
  src/intl/de/page-what-is-ethereum.json
  src/intl/de/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11203 Update Khmer (km) Essentials and Exploring buckets
  src/content/translations/km/nft/index.md
  src/intl/km/page-dapps.json
  src/intl/km/page-get-eth.json
  src/intl/km/page-stablecoins.json
  src/intl/km/page-wallets-find-wallet.json
  src/intl/km/page-wallets.json
  src/intl/km/page-what-is-ethereum.json
  src/intl/km/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11202 Update Czech (cs) Essentials, Exploring, Use Ethereum, Use Case buckets
  src/content/translations/cs/dao/index.md
  src/content/translations/cs/decentralized-identity/index.md
  src/content/translations/cs/defi/index.md
  src/content/translations/cs/desci/index.md
  src/content/translations/cs/nft/index.md
  src/content/translations/cs/refi/index.md
  src/content/translations/cs/smart-contracts/index.md
  src/content/translations/cs/social-networks/index.md
  src/intl/cs/page-dapps.json
  src/intl/cs/page-developers-index.json
  src/intl/cs/page-developers-learning-tools.json
  src/intl/cs/page-developers-local-environment.json
  src/intl/cs/page-get-eth.json
  src/intl/cs/page-languages.json
  src/intl/cs/page-layer-2.json
  src/intl/cs/page-run-a-node.json
  src/intl/cs/page-wallets-find-wallet.json
  src/intl/cs/page-wallets.json
  src/intl/cs/page-what-is-ethereum.json
  src/intl/cs/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11201 Update Azerbaijani (az) Essentials, Exploring, and Use Ethereum buckets
  src/content/translations/az/dao/index.md
  src/content/translations/az/nft/index.md
  src/intl/az/page-dapps.json
  src/intl/az/page-developers-index.json
  src/intl/az/page-developers-learning-tools.json
  src/intl/az/page-developers-local-environment.json
  src/intl/az/page-get-eth.json
  src/intl/az/page-languages.json
  src/intl/az/page-layer-2.json
  src/intl/az/page-run-a-node.json
  src/intl/az/page-stablecoins.json
  src/intl/az/page-wallets-find-wallet.json
  src/intl/az/page-wallets.json
  src/intl/az/page-what-is-ethereum.json
  src/intl/az/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11133 feat: create Chakra `GatsbyImage` component
  docs/best-practices.md
  src/components/ActionCard.tsx
  src/components/AssetDownload/AssetDownloadImage.tsx
  src/components/BugBountyPoints.tsx
  src/components/Callout.tsx
  src/components/CalloutBanner.tsx
  src/components/CardList.tsx
  src/components/DataProductCard.tsx
  src/components/ExpandableInfo.tsx
  src/components/FindWallet/WalletTable/index.tsx
  src/components/GatsbyImage.tsx
  src/components/ImageCard.tsx
  src/components/Layer2/Layer2Onboard.tsx
  src/components/Layer2ProductCard.tsx
  src/components/Logo.tsx
  src/components/PageHero.tsx
  src/components/ProductCard.tsx
  src/components/ProductList.tsx
  src/components/Roadmap/RoadmapActionCard.tsx
  src/components/Roadmap/RoadmapImageContent.tsx
  src/components/Simulator/WalletHome/NFTList.tsx
  src/components/Simulator/screens/ConnectWeb3/index.tsx
  src/components/Simulator/screens/SendReceive/ReceiveEther.tsx
  src/components/Staking/StakingHowSoloWorks.tsx
  src/components/TitleCardList.tsx
  src/components/TranslationChartImage.tsx
  src/content/community/grants/index.md
  src/content/developers/tutorials/scam-token-tricks/index.md
  src/data/wallets/wallet-data.ts
  src/pages-conditional/dapps.tsx
  src/pages-conditional/eth.tsx
  src/pages-conditional/wallets.tsx
  src/pages-conditional/what-is-ethereum.tsx
  src/pages/assets.tsx
  src/pages/bug-bounty.tsx
  src/pages/community.tsx
  src/pages/contributing/translation-program/acknowledgements.tsx
  src/pages/developers/index.tsx
  src/pages/developers/local-environment.tsx
  src/pages/gas.tsx
  src/pages/get-eth.tsx
  src/pages/index.tsx
  src/pages/layer-2.tsx
  src/pages/learn/index.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
  src/pages/wallets/find-wallet.tsx
  src/templates/event.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11200 Update Chinese Traditional (zh-tw) Essentials, Exploring, Use Ethereum, Use cases, Staking buckets
  src/content/translations/zh-tw/decentralized-identity/index.md
  src/content/translations/zh-tw/defi/index.md
  src/content/translations/zh-tw/desci/index.md
  src/content/translations/zh-tw/nft/index.md
  src/content/translations/zh-tw/refi/index.md
  src/content/translations/zh-tw/smart-contracts/index.md
  src/content/translations/zh-tw/social-networks/index.md
  src/content/translations/zh-tw/staking/dvt/index.md
  src/content/translations/zh-tw/staking/pools/index.md
  src/content/translations/zh-tw/staking/saas/index.md
  src/content/translations/zh-tw/staking/solo/index.md
  src/content/translations/zh-tw/staking/withdrawals/index.md
  src/intl/zh-tw/page-dapps.json
  src/intl/zh-tw/page-developers-index.json
  src/intl/zh-tw/page-developers-learning-tools.json
  src/intl/zh-tw/page-developers-local-environment.json
  src/intl/zh-tw/page-eth.json
  src/intl/zh-tw/page-get-eth.json
  src/intl/zh-tw/page-languages.json
  src/intl/zh-tw/page-layer-2.json
  src/intl/zh-tw/page-run-a-node.json
  src/intl/zh-tw/page-stablecoins.json
  src/intl/zh-tw/page-staking-deposit-contract.json
  src/intl/zh-tw/page-staking.json
  src/intl/zh-tw/page-wallets-find-wallet.json
  src/intl/zh-tw/page-wallets.json
  src/intl/zh-tw/page-what-is-ethereum.json
  src/intl/zh-tw/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11213 add Consensys Fellowship event to events page
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11199 Update Malay (ms) Essentials and Exploring buckets
  src/content/translations/ms/nft/index.md
  src/intl/ms/page-dapps.json
  src/intl/ms/page-eth.json
  src/intl/ms/page-get-eth.json
  src/intl/ms/page-stablecoins.json
  src/intl/ms/page-wallets-find-wallet.json
  src/intl/ms/page-wallets.json
  src/intl/ms/page-what-is-ethereum.json
  src/intl/ms/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11198 Update Marathi (mr) Essentials, Exploring, Use Ethereum, Use Cases
  src/content/translations/mr/dao/index.md
  src/content/translations/mr/decentralized-identity/index.md
  src/content/translations/mr/defi/index.md
  src/content/translations/mr/desci/index.md
  src/content/translations/mr/nft/index.md
  src/content/translations/mr/refi/index.md
  src/content/translations/mr/smart-contracts/index.md
  src/content/translations/mr/social-networks/index.md
  src/intl/mr/page-dapps.json
  src/intl/mr/page-developers-index.json
  src/intl/mr/page-developers-learning-tools.json
  src/intl/mr/page-developers-local-environment.json
  src/intl/mr/page-eth.json
  src/intl/mr/page-get-eth.json
  src/intl/mr/page-languages.json
  src/intl/mr/page-layer-2.json
  src/intl/mr/page-run-a-node.json
  src/intl/mr/page-stablecoins.json
  src/intl/mr/page-wallets-find-wallet.json
  src/intl/mr/page-wallets.json
  src/intl/mr/page-what-is-ethereum.json
  src/intl/mr/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11197 Update Korean (ko) and Slovak (sk) Essentials buckets
  src/intl/ko/page-get-eth.json
  src/intl/ko/page-wallets-find-wallet.json
  src/intl/ko/page-wallets.json
  src/intl/ko/page-what-is-ethereum.json
  src/intl/sk/page-eth.json
  src/intl/sk/page-get-eth.json
  src/intl/sk/page-wallets-find-wallet.json
  src/intl/sk/page-wallets.json
  src/intl/sk/page-what-is-ethereum.json
Labels: review needed :eyes:

#11195 Update Japanese (ja) Essentials, Exploring, Use Ethereum buckets
  src/content/translations/ja/nft/index.md
  src/intl/ja/page-dapps.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/ja/page-developers-local-environment.json
  src/intl/ja/page-get-eth.json
  src/intl/ja/page-languages.json
  src/intl/ja/page-layer-2.json
  src/intl/ja/page-stablecoins.json
  src/intl/ja/page-wallets-find-wallet.json
  src/intl/ja/page-wallets.json
  src/intl/ja/page-what-is-ethereum.json
  src/intl/ja/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11194 Update Italian (it) Essentials, Exploring, Use Ethereum, Use Cases, staking, Learn pages
  src/content/translations/it/dao/index.md
  src/content/translations/it/decentralized-identity/index.md
  src/content/translations/it/defi/index.md
  src/content/translations/it/desci/index.md
  src/content/translations/it/energy-consumption/index.md
  src/content/translations/it/governance/index.md
  src/content/translations/it/nft/index.md
  src/content/translations/it/refi/index.md
  src/content/translations/it/security/index.md
  src/content/translations/it/smart-contracts/index.md
  src/content/translations/it/social-networks/index.md
  src/content/translations/it/staking/dvt/index.md
  src/content/translations/it/staking/pools/index.md
  src/content/translations/it/staking/saas/index.md
  src/content/translations/it/staking/solo/index.md
  src/content/translations/it/staking/withdrawals/index.md
  src/intl/it/page-dapps.json
  src/intl/it/page-developers-index.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/it/page-developers-local-environment.json
  src/intl/it/page-eth.json
  src/intl/it/page-get-eth.json
  src/intl/it/page-languages.json
  src/intl/it/page-layer-2.json
  src/intl/it/page-run-a-node.json
  src/intl/it/page-stablecoins.json
  src/intl/it/page-staking.json
  src/intl/it/page-wallets-find-wallet.json
  src/intl/it/page-wallets.json
  src/intl/it/page-what-is-ethereum.json
  src/intl/it/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11193 Update Russian (ru) Essentials, Exploring, Use Ethereum, Use Cases, and Learn Hub buckets
  src/content/translations/ru/defi/index.md
  src/content/translations/ru/desci/index.md
  src/content/translations/ru/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/ru/guides/how-to-id-scam-tokens/index.md
  src/content/translations/ru/guides/how-to-swap-tokens/index.md
  src/content/translations/ru/guides/how-to-use-a-bridge/index.md
  src/content/translations/ru/guides/how-to-use-a-wallet/index.md
  src/content/translations/ru/guides/index.md
  src/content/translations/ru/nft/index.md
  src/content/translations/ru/refi/index.md
  src/content/translations/ru/smart-contracts/index.md
  src/intl/ru/learn-quizzes.json
  src/intl/ru/page-dapps.json
  src/intl/ru/page-developers-learning-tools.json
  src/intl/ru/page-developers-local-environment.json
  src/intl/ru/page-eth.json
  src/intl/ru/page-get-eth.json
  src/intl/ru/page-languages.json
  src/intl/ru/page-layer-2.json
  src/intl/ru/page-learn.json
  src/intl/ru/page-wallets-find-wallet.json
  src/intl/ru/page-wallets.json
  src/intl/ru/page-what-is-ethereum.json
  src/intl/ru/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11192 Update Portuguese (pt) Essentials, Exploring, Use Ethereum buckets
  src/content/translations/pt/nft/index.md
  src/intl/pt/page-dapps.json
  src/intl/pt/page-developers-learning-tools.json
  src/intl/pt/page-developers-local-environment.json
  src/intl/pt/page-get-eth.json
  src/intl/pt/page-layer-2.json
  src/intl/pt/page-wallets.json
  src/intl/pt/page-what-is-ethereum.json
  src/intl/pt/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11191 Update Nigerian Pigdin (pcm) Essentials, Exploring, Use Ethereum buckets
  src/content/translations/pcm/dao/index.md
  src/content/translations/pcm/nft/index.md
  src/intl/pcm/page-dapps.json
  src/intl/pcm/page-developers-index.json
  src/intl/pcm/page-developers-learning-tools.json
  src/intl/pcm/page-developers-local-environment.json
  src/intl/pcm/page-eth.json
  src/intl/pcm/page-get-eth.json
  src/intl/pcm/page-languages.json
  src/intl/pcm/page-layer-2.json
  src/intl/pcm/page-run-a-node.json
  src/intl/pcm/page-stablecoins.json
  src/intl/pcm/page-wallets-find-wallet.json
  src/intl/pcm/page-wallets.json
  src/intl/pcm/page-what-is-ethereum.json
  src/intl/pcm/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11187 Update Thai (th) Essentials bucket
  src/intl/th/page-get-eth.json
  src/intl/th/page-wallets-find-wallet.json
  src/intl/th/page-wallets.json
  src/intl/th/page-what-is-ethereum.json
Labels: review needed :eyes:

#11186 Update Turkish (tr) Essentials, Exploring, Use Ethereum, Use Cases, Staking, Learn, and Learn Hub buckets
  src/content/translations/tr/bridges/index.md
  src/content/translations/tr/decentralized-identity/index.md
  src/content/translations/tr/defi/index.md
  src/content/translations/tr/desci/index.md
  src/content/translations/tr/energy-consumption/index.md
  src/content/translations/tr/governance/index.md
  src/content/translations/tr/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/tr/guides/how-to-id-scam-tokens/index.md
  src/content/translations/tr/guides/how-to-revoke-token-access/index.md
  src/content/translations/tr/guides/how-to-swap-tokens/index.md
  src/content/translations/tr/guides/how-to-use-a-bridge/index.md
  src/content/translations/tr/guides/how-to-use-a-wallet/index.md
  src/content/translations/tr/guides/index.md
  src/content/translations/tr/nft/index.md
  src/content/translations/tr/refi/index.md
  src/content/translations/tr/security/index.md
  src/content/translations/tr/smart-contracts/index.md
  src/content/translations/tr/social-networks/index.md
  src/content/translations/tr/staking/dvt/index.md
  src/content/translations/tr/staking/pools/index.md
  src/content/translations/tr/staking/saas/index.md
  src/content/translations/tr/staking/solo/index.md
  src/content/translations/tr/staking/withdrawals/index.md
  src/content/translations/tr/web3/index.md
  src/content/translations/tr/zero-knowledge-proofs/index.md
  src/intl/tr/learn-quizzes.json
  src/intl/tr/page-dapps.json
  src/intl/tr/page-developers-learning-tools.json
  src/intl/tr/page-developers-local-environment.json
  src/intl/tr/page-get-eth.json
  src/intl/tr/page-languages.json
  src/intl/tr/page-layer-2.json
  src/intl/tr/page-learn.json
  src/intl/tr/page-staking.json
  src/intl/tr/page-wallets.json
  src/intl/tr/page-what-is-ethereum.json
  src/intl/tr/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11177 Update Ukrainian (uk) Essentials, Exploring, Use Ethereum, Use Cases, Staking, and Learn hub
  src/content/translations/uk/decentralized-identity/index.md
  src/content/translations/uk/defi/index.md
  src/content/translations/uk/desci/index.md
  src/content/translations/uk/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/uk/guides/how-to-id-scam-tokens/index.md
  src/content/translations/uk/guides/how-to-use-a-wallet/index.md
  src/content/translations/uk/guides/index.md
  src/content/translations/uk/nft/index.md
  src/content/translations/uk/refi/index.md
  src/content/translations/uk/smart-contracts/index.md
  src/content/translations/uk/staking/pools/index.md
  src/content/translations/uk/staking/saas/index.md
  src/content/translations/uk/staking/solo/index.md
  src/content/translations/uk/staking/withdrawals/index.md
  src/intl/uk/page-dapps.json
  src/intl/uk/page-developers-learning-tools.json
  src/intl/uk/page-developers-local-environment.json
  src/intl/uk/page-get-eth.json
  src/intl/uk/page-languages.json
  src/intl/uk/page-layer-2.json
  src/intl/uk/page-learn.json
  src/intl/uk/page-staking.json
  src/intl/uk/page-wallets-find-wallet.json
  src/intl/uk/page-wallets.json
  src/intl/uk/page-what-is-ethereum.json
  src/intl/uk/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11176 Update Vietnamese (vi) Essentials, Exploring, and Use Ethereum buckets
  src/content/translations/vi/dao/index.md
  src/content/translations/vi/nft/index.md
  src/intl/vi/page-dapps.json
  src/intl/vi/page-developers-index.json
  src/intl/vi/page-developers-learning-tools.json
  src/intl/vi/page-developers-local-environment.json
  src/intl/vi/page-eth.json
  src/intl/vi/page-get-eth.json
  src/intl/vi/page-languages.json
  src/intl/vi/page-layer-2.json
  src/intl/vi/page-run-a-node.json
  src/intl/vi/page-stablecoins.json
  src/intl/vi/page-wallets.json
  src/intl/vi/page-what-is-ethereum.json
  src/intl/vi/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11223 Update Chinese Simplified (zh) smart contracts bucket
  src/content/translations/zh/developers/docs/smart-contracts/testing/index.md
  src/content/translations/zh/developers/docs/smart-contracts/upgrading/index.md
  src/content/translations/zh/developers/docs/smart-contracts/verifying/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11222 Update Chinese Traditional (zh-tw) Foundational docs bucket
  src/content/translations/zh-tw/developers/docs/accounts/index.md
  src/content/translations/zh-tw/developers/docs/blocks/index.md
  src/content/translations/zh-tw/developers/docs/dapps/index.md
  src/content/translations/zh-tw/developers/docs/evm/index.md
  src/content/translations/zh-tw/developers/docs/evm/opcodes/index.md
  src/content/translations/zh-tw/developers/docs/gas/index.md
  src/content/translations/zh-tw/developers/docs/index.md
  src/content/translations/zh-tw/developers/docs/intro-to-ether/index.md
  src/content/translations/zh-tw/developers/docs/intro-to-ethereum/index.md
  src/content/translations/zh-tw/developers/docs/networks/index.md
  src/content/translations/zh-tw/developers/docs/transactions/index.md
  src/content/translations/zh-tw/developers/docs/web2-vs-web3/index.md
  src/intl/zh-tw/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11220 Update German (de) Learn pages bucket
  src/content/translations/de/energy-consumption/index.md
  src/content/translations/de/governance/index.md
  src/content/translations/de/security/index.md
  src/content/translations/de/zero-knowledge-proofs/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11219 Update Igbo (ig) Learn hub bucket
  src/content/translations/ig/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/ig/guides/how-to-id-scam-tokens/index.md
  src/content/translations/ig/guides/how-to-revoke-token-access/index.md
  src/content/translations/ig/guides/how-to-swap-tokens/index.md
  src/content/translations/ig/guides/how-to-use-a-bridge/index.md
  src/content/translations/ig/guides/how-to-use-a-wallet/index.md
  src/content/translations/ig/guides/index.md
  src/intl/ig/learn-quizzes.json
  src/intl/ig/page-learn.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11216 Add new language - Kanada (kn)
  i18n/config.json
  src/content/translations/kn/dao/index.md
  src/content/translations/kn/nft/index.md
  src/intl/kn/common.json
  src/intl/kn/page-dapps.json
  src/intl/kn/page-developers-index.json
  src/intl/kn/page-developers-learning-tools.json
  src/intl/kn/page-developers-local-environment.json
  src/intl/kn/page-eth.json
  src/intl/kn/page-get-eth.json
  src/intl/kn/page-index.json
  src/intl/kn/page-languages.json
  src/intl/kn/page-layer-2.json
  src/intl/kn/page-run-a-node.json
  src/intl/kn/page-stablecoins.json
  src/intl/kn/page-wallets-find-wallet.json
  src/intl/kn/page-wallets.json
  src/intl/kn/page-what-is-ethereum.json
  src/intl/kn/template-usecase.json
  src/scripts/crowdin-import.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:

#11215 Add Turkemn (tk) language
  i18n/config.json
  src/intl/tk/common.json
  src/intl/tk/page-eth.json
  src/intl/tk/page-get-eth.json
  src/intl/tk/page-index.json
  src/intl/tk/page-wallets-find-wallet.json
  src/intl/tk/page-wallets.json
  src/intl/tk/page-what-is-ethereum.json
  src/scripts/crowdin-import.ts
Labels: review needed :eyes:, tooling :wrench:

#11225 fix broken links and broken poap image
  src/content/translations/ar/nft/index.md
  src/content/translations/ca/nft/index.md
  src/content/translations/cs/nft/index.md
  src/content/translations/de/nft/index.md
  src/content/translations/fr/nft/index.md
  src/content/translations/id/nft/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/it/nft/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/ja/nft/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/pt-br/nft/index.md
  src/content/translations/ro/nft/index.md
  src/content/translations/zh-tw/nft/index.md
  src/content/translations/zh/nft/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11229 Fix alignment of staking product name and icon
  src/components/Staking/StakingProductsCardGrid.tsx
Labels: review needed :eyes:

#11238 refactor(Buttons): use direct exports from index
  src/components/Buttons/index.ts
Labels: review needed :eyes:

#11196 fix: add forward ref to `BaseLink`
  src/components/Link.tsx
Labels: review needed :eyes:

#11185 remove medalla links
  src/content/translations/es/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/hu/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/pl/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10329 Updated info about GitPOAPs
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10328 Updated info about POAPs
  README.md
Labels: documentation :book:

#10335 Update index.md - add link to resource in project, article, video and community section
  src/content/decentralized-identity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10741 Update oracles page
  src/content/developers/docs/oracles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11236 Retouched the primary Colours
  src/@chakra-ui/gatsby-plugin/foundations/colors.ts
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
Labels: review needed :eyes:

#10734 add Phantom to wallets section [closes #10733]
  src/assets/wallets/phantom.png
  src/data/wallets/wallet-data.ts
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:

#10988 Ambire Wallet - update information #10982
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#11046 Suggest a wallet #10996 -added XDEFI Wallet
  docs/ds-implementation.md
  src/assets/wallets/XDEFI.png
  src/content/decentralized-identity/index.md
  src/content/developers/docs/oracles/index.md
  src/data/wallets/wallet-data.ts
  src/pages/wallets/find-wallet.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10950 add L2: Starknet L2 + devnet links
  src/assets/layer-2/starknet.png
  src/content/developers/docs/networks/index.md
  src/data/layer-2/layer-2.json
  src/intl/en/page-layer-2.json
  src/pages/layer-2.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11226 Add RockX Staking to SaaS products [Closes #10865]
  src/components/icons/Icons.stories.tsx
  src/components/icons/staking/RockXGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#11248 Fixed missing letter in ReFi
  src/content/refi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11240 Add Rainbow Extension support
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#11235 Fix typos
  src/intl/am/page-eth.json
  src/intl/am/page-index.json
  src/intl/am/page-what-is-ethereum.json
  src/intl/az/page-layer-2.json
  src/intl/kn/page-eth.json
  src/intl/pcm/common.json
  src/intl/pcm/page-developers-local-environment.json
  src/intl/pcm/page-layer-2.json
  src/intl/pcm/page-wallets.json
  src/intl/pcm/page-what-is-ethereum.json
  src/intl/sk/page-eth.json
  src/intl/sw/page-index.json
  src/intl/sw/page-roadmap-vision.json
  src/intl/tr/page-what-is-ethereum.json
Labels: review needed :eyes:

#11254 add missing translation strings for new languages
  src/intl/en/page-languages.json
Labels: review needed :eyes:

#11269 Add staking.directory to staking category pages
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11264 fix: remove and replace outdated links from `/community/grants`
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11280 Fix dark color for `primary.visited`
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
Labels: review needed :eyes:

#10915 using chakra breakoints for footer
  src/components/Footer.tsx
Labels: review needed :eyes:

#11317 patch eth_call spec param
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10989 fix(Input): fix misalignment and styling states
  src/@chakra-ui/gatsby-plugin/components/Input.ts
  src/components/Input/Input.stories.tsx
  src/components/Input/index.tsx
  src/pages/languages.tsx
Labels: content :fountain_pen:, review needed :eyes:
