Repository ethereum/ethereum-org-website, pull requests merged in 2023-08, with the labels that each got.

#10841 remove erc-223 as it is in draft
  src/content/developers/docs/standards/index.md
  src/content/developers/docs/standards/tokens/erc-223/index.md
  src/content/developers/docs/standards/tokens/index.md
  src/content/translations/it/developers/docs/standards/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10842 bold machine translation warning
  src/content/contributing/translation-program/translatathon/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10839 Re-generate yarn.lock
  yarn.lock
Labels: dependencies :package:

#10848 Info update: Arbitrum One update logo [Fixes #10830]
  src/assets/layer-2/arbitrum.png
Labels: review needed :eyes:

#10843 Fix images sizes used in Find Wallet page
  src/assets/wallets/find-wallet-hero.png
  src/assets/wallets/find-wallet.png
Labels: review needed :eyes:

#10860 Fix quiz modal bg color
  src/components/Quiz/QuizzesModal.tsx
Labels: review needed :eyes:

#10859 Button - Fix disabled styles in solid variant
  src/@chakra-ui/gatsby-plugin/components/Button.ts
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/components/Button/Button.stories.tsx
Labels: review needed :eyes:

#10855 add Translatathon banner
  src/assets/wallets/find-wallet-hero.png
  src/assets/wallets/find-wallet.png
  src/components/Banners/DismissableBanner.tsx
  src/components/Banners/TranslatathonBanner.tsx
  src/components/Layout.tsx
Labels: review needed :eyes:

#10852 Deploy v7.18.0
  .all-contributorsrc
  README.md
  package.json
  src/api/calendarEvents.ts
  src/assets/layer-2/arbitrum.png
  src/assets/wallets/find-wallet-hero.png
  src/assets/wallets/find-wallet.png
  src/components/Banners/DismissableBanner.tsx
  src/components/Banners/TranslatathonBanner.tsx
  src/components/CommunityEvents/index.tsx
  src/components/CommunityEvents/useCommunityEvents.ts
  src/components/Footer.tsx
  src/components/Layout.tsx
  src/content/community/get-involved/index.md
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/contributing/translation-program/translatathon/index.md
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/data-structures-and-encoding/web3-secret-storage/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/docs/smart-contracts/index.md
  src/content/developers/docs/standards/index.md
  src/content/developers/docs/standards/tokens/erc-223/index.md
  src/content/developers/docs/standards/tokens/index.md
  src/content/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/governance/index.md
  src/content/translations/fr/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/id/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/it/developers/docs/standards/index.md
  src/content/translations/it/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/ja/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/ro/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/tr/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/zh/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/data/community-events.json
  src/data/developer-docs-links.yaml
  src/data/layer-2/layer-2.json
  src/intl/de/page-layer-2.json
  src/intl/en/common.json
  src/intl/en/page-developers-docs.json
  src/intl/en/page-index.json
  src/intl/en/page-layer-2.json
  src/intl/es/page-layer-2.json
  src/intl/fr/page-layer-2.json
  src/intl/it/page-layer-2.json
  src/intl/pt-br/page-layer-2.json
  src/lambda/calendarEvents.ts
  src/pages-conditional/dapps.tsx
  src/pages-conditional/eth.tsx
  src/pages/index.tsx
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, internal :house:, documentation :book:, event :date:

#10861 Align button container with text
  src/components/PageHero.tsx
  src/templates/roadmap.tsx
Labels: review needed :eyes:

#10846 Update Translatathon Terms and conditions
  src/content/contributing/translation-program/translatathon/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10873 Revert new quizzes
  src/components/Quiz/QuizWidget.tsx
  src/content/roadmap/scaling/index.md
  src/content/staking/solo/index.md
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/pages/run-a-node.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9932 feat(Table): add component, theme, and story
  src/@chakra-ui/gatsby-plugin/components/Table.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/components/MarkdownTable.tsx
  src/components/Table/index.tsx
  src/components/Table/stories/Table.stories.tsx
  src/components/Table/stories/mockMdxData.tsx
  src/templates/docs.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: review needed :eyes:

#10883 [Hotfix] revert new quizzes
  src/components/Quiz/QuizWidget.tsx
  src/content/roadmap/scaling/index.md
  src/content/staking/solo/index.md
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/pages/run-a-node.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10598 feat(Breadcrumbs): update component for new DS
  src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/components/Breadcrumbs/index.tsx
Labels: review needed :eyes:

#10888 Spelling typo fix
  src/content/contributing/translation-program/translatathon/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10870 Update eips index.md
  src/content/eips/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10892 Adds ETHChicago to the community events
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10882 minor updates to layer-2 page
  src/intl/en/page-layer-2.json
Labels: review needed :eyes:

#10881 fix dead links in mining page
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10864 Adds Chainstack faucets to Networks page
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10798 fix:formatting is broken for "Available libraries" in the last
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10837 Vietnamese (vi): Translate
  src/intl/vi/common.json
  src/intl/vi/page-dapps.json
  src/intl/vi/page-eth.json
  src/intl/vi/page-run-a-node.json
Labels: review needed :eyes:

#10808 Fix icon of the edit button
  src/components/TableOfContents/index.tsx
Labels: review needed :eyes:

#8439 Add ReFi intro page
  src/assets/use-cases/refi-regenerative-economy-diagram.png
  src/components/Nav/useNav.ts
  src/content/energy-consumption/index.md
  src/content/refi/index.md
  src/intl/en/common.json
  src/intl/en/template-usecase.json
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10902 Release candidate: v7.19.0
  .all-contributorsrc
  README.md
  package.json
  src/@chakra-ui/gatsby-plugin/components/Button.ts
  src/@chakra-ui/gatsby-plugin/components/Table.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/assets/use-cases/refi-regenerative-economy-diagram.png
  src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/components/Breadcrumbs/index.tsx
  src/components/Button/Button.stories.tsx
  src/components/MarkdownTable.tsx
  src/components/Nav/useNav.ts
  src/components/PageHero.tsx
  src/components/Quiz/QuizWidget.tsx
  src/components/Quiz/QuizzesModal.tsx
  src/components/Table/index.tsx
  src/components/Table/stories/Table.stories.tsx
  src/components/Table/stories/mockMdxData.tsx
  src/components/TableOfContents/index.tsx
  src/content/contributing/translation-program/translatathon/index.md
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/networks/index.md
  src/content/eips/index.md
  src/content/energy-consumption/index.md
  src/content/refi/index.md
  src/content/roadmap/scaling/index.md
  src/content/staking/solo/index.md
  src/data/community-events.json
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/common.json
  src/intl/en/learn-quizzes.json
  src/intl/en/page-layer-2.json
  src/intl/en/template-usecase.json
  src/intl/vi/common.json
  src/intl/vi/page-dapps.json
  src/intl/vi/page-eth.json
  src/intl/vi/page-run-a-node.json
  src/pages/run-a-node.tsx
  src/templates/docs.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, internal :house:, documentation :book:, event :date:

#10908 Deploy v7.18.0
  .all-contributorsrc
  README.md
  package.json
  src/@chakra-ui/gatsby-plugin/components/Button.ts
  src/@chakra-ui/gatsby-plugin/components/Table.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/assets/use-cases/refi-regenerative-economy-diagram.png
  src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/components/Breadcrumbs/index.tsx
  src/components/Button/Button.stories.tsx
  src/components/MarkdownTable.tsx
  src/components/Nav/useNav.ts
  src/components/PageHero.tsx
  src/components/Quiz/QuizzesModal.tsx
  src/components/Table/index.tsx
  src/components/Table/stories/Table.stories.tsx
  src/components/Table/stories/mockMdxData.tsx
  src/components/TableOfContents/index.tsx
  src/content/contributing/translation-program/translatathon/index.md
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/networks/index.md
  src/content/eips/index.md
  src/content/energy-consumption/index.md
  src/content/refi/index.md
  src/data/community-events.json
  src/intl/en/common.json
  src/intl/en/page-layer-2.json
  src/intl/en/template-usecase.json
  src/intl/vi/common.json
  src/intl/vi/page-dapps.json
  src/intl/vi/page-eth.json
  src/intl/vi/page-run-a-node.json
  src/templates/docs.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, internal :house:, documentation :book:, event :date:

#7759 Update smart contracts index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/smart-contracts/index.md
  src/data/community-meetups.json
Labels: content :fountain_pen:, review needed :eyes:

#10895 update nft page
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10665 Fixes to wallet pages
  redirects.json
  src/content/guides/how-to-create-an-ethereum-account/index.md
  src/content/guides/how-to-create-an-ethereum-account/wallet-box.png
  src/content/guides/how-to-use-a-wallet/index.md
  src/intl/en/page-wallets.json
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10725 update learn page
  src/intl/en/page-learn.json
  src/pages/learn/index.tsx
Labels: review needed :eyes:

#10894 Updates L2 page copy
  src/intl/en/page-layer-2.json
  src/pages/layer-2.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10914 update json-rpc page
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10929 Update translatathon timeline
  src/content/contributing/translation-program/translatathon/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10940 Fix typo on NFT page
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9943 Add kurtosis tutorial [fixes #9929]
  src/content/developers/tutorials/develop-and-test-dapps-with-a-multi-client-local-eth-testnet/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10943 Not capitalized letter in pooled staking page
  src/content/staking/pools/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10955 code change
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10952 Add Ethereum Costa Rica Day
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10949 Fixed typo on staking withdrawals page
  src/content/bridges/index.md
  src/content/guides/how-to-create-an-ethereum-account/index.md
  src/content/staking/withdrawals/index.md
  src/intl/en/page-learn.json
Labels: content :fountain_pen:, review needed :eyes:

#10942 Add Devconnect Istanbul event
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10934 Added ETH LONDON to community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10921 Add Testnet Faucet
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10911 Fixes "on this page" dropdown is not working, on mobile #10900
  src/templates/static.tsx
Labels: review needed :eyes:

#10976 Update non-English pageviews chart
  src/assets/translation-program/pageviews-dark.png
  src/assets/translation-program/pageviews-light.png
  src/assets/translation-program/pageviews_dark.png
  src/assets/translation-program/pageviews_light.png
Labels: review needed :eyes:

#10149 update outdated links to subgraph documentation, and update paragraph…
  src/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10897 Adjust the styles of the comm events widget
  src/components/CommunityEvents/index.tsx
Labels: review needed :eyes:

#10823 Fix Nav styles to match DS header
  src/@chakra-ui/gatsby-plugin/components/Button.ts
  src/components/Button/Button.stories.tsx
  src/components/Button/index.tsx
  src/components/ButtonLink.tsx
  src/components/IconButton.tsx
  src/components/Nav/Menu.tsx
  src/components/Nav/Mobile.tsx
  src/components/Nav/index.tsx
  src/components/Nav/useNav.ts
  src/components/Search/index.tsx
  src/pages/languages.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10903 designer docs adding new research source
  src/content/developers/docs/design-and-ux/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10910 [Performance optimizations] Remove intl polyfills
  gatsby-browser.tsx
  package.json
  yarn.lock
Labels: dependencies :package:

#11000 Update index.md
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11002 Fix typo on JSON-RPC documentation
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10928 Glossary tooltip
  .storybook/i18next.ts
  src/components/Glossary/GlossaryDefinition/GlossaryDefinition.stories.tsx
  src/components/Glossary/GlossaryDefinition/index.tsx
  src/components/Glossary/GlossaryTooltip/GlossaryTooltip.stories.tsx
  src/components/Glossary/GlossaryTooltip/index.tsx
  src/components/Link.tsx
  src/components/Tooltip.tsx
  src/content/defi/index.md
  src/content/glossary/index.md
  src/intl/en/glossary.json
  src/pages-conditional/dapps.tsx
  src/templates/docs.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11016 chore(Icons.stories): update storybook directory placement
  src/components/icons/Icons.stories.tsx
Labels: review needed :eyes:

#11027 Revert glossary tooltip link in DeFi page
  src/content/defi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11004 Add Gas page
  src/components/Footer.tsx
  src/components/HorizontalCard.tsx
  src/components/Nav/useNav.ts
  src/pages/gas.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11029 v7.20.0
  package.json
Labels: dependencies :package:

#11030 Release candidate v7.20.0
  .all-contributorsrc
  .storybook/i18next.ts
  README.md
  package.json
  src/assets/dapps/ankr.png
  src/assets/dapps/api3.png
  src/assets/dapps/arweave.png
  src/assets/dapps/cyberconnect.png
  src/assets/dapps/gm.png
  src/assets/dapps/graph.png
  src/assets/dapps/ipfs.png
  src/assets/dapps/kyberswap.png
  src/assets/dapps/lido.png
  src/assets/dapps/mirror.png
  src/assets/dapps/multichain.png
  src/assets/dapps/osuvox.png
  src/assets/dapps/rubic.png
  src/assets/dapps/skiff.png
  src/assets/dapps/spatial.png
  src/assets/dapps/spruce.png
  src/assets/dapps/status.png
  src/assets/dapps/xmtp.png
  src/components/Footer.tsx
  src/components/Glossary/GlossaryDefinition/GlossaryDefinition.stories.tsx
  src/components/Glossary/GlossaryDefinition/index.tsx
  src/components/Glossary/GlossaryTooltip/GlossaryTooltip.stories.tsx
  src/components/Glossary/GlossaryTooltip/index.tsx
  src/components/HorizontalCard.tsx
  src/components/Link.tsx
  src/components/MdLink.tsx
  src/components/Nav/useNav.ts
  src/components/Tooltip.tsx
  src/components/icons/Icons.stories.tsx
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/glossary/index.md
  src/intl/en/glossary.json
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.tsx
  src/pages/gas.tsx
  src/templates/docs.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, internal :house:, documentation :book:

#11032 Fix typo in README.md
  README.md
Labels: documentation :book:

#11035 Deploy v7.20.0
  .all-contributorsrc
  .storybook/i18next.ts
  README.md
  package.json
  src/assets/dapps/ankr.png
  src/assets/dapps/api3.png
  src/assets/dapps/arweave.png
  src/assets/dapps/cyberconnect.png
  src/assets/dapps/gm.png
  src/assets/dapps/graph.png
  src/assets/dapps/ipfs.png
  src/assets/dapps/kyberswap.png
  src/assets/dapps/lido.png
  src/assets/dapps/mirror.png
  src/assets/dapps/multichain.png
  src/assets/dapps/osuvox.png
  src/assets/dapps/rubic.png
  src/assets/dapps/skiff.png
  src/assets/dapps/spatial.png
  src/assets/dapps/spruce.png
  src/assets/dapps/status.png
  src/assets/dapps/xmtp.png
  src/components/Footer.tsx
  src/components/Glossary/GlossaryDefinition/GlossaryDefinition.stories.tsx
  src/components/Glossary/GlossaryDefinition/index.tsx
  src/components/Glossary/GlossaryTooltip/GlossaryTooltip.stories.tsx
  src/components/Glossary/GlossaryTooltip/index.tsx
  src/components/HorizontalCard.tsx
  src/components/Link.tsx
  src/components/MdLink.tsx
  src/components/Nav/useNav.ts
  src/components/Tooltip.tsx
  src/components/icons/Icons.stories.tsx
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/glossary/index.md
  src/intl/en/glossary.json
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.tsx
  src/pages/gas.tsx
  src/templates/docs.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, internal :house:, documentation :book:
