Repository ethereum/ethereum-org-website, pull requests merged in 2023-10, with the labels that each got.

#11331 Update date Ethereum Costa Rica Day
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11277 refactor(Breadcrumbs): update style usage
  src/@chakra-ui/gatsby-plugin/components/Breadcrumb.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/components/Breadcrumbs/index.tsx
  src/pages/bug-bounty.tsx
  src/pages/roadmap/vision.tsx
  src/templates/roadmap.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/upgrade.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11312 style(ButtonTwoLines): alter `size` and `color` prop usage for text
  src/components/Buttons/ButtonTwoLines/index.tsx
Labels: review needed :eyes:

#11174 Find wallet > remove all the scrolls > quick fix
  src/components/FindWallet/WalletFilterSidebar/WalletFilterFeature/index.tsx
  src/components/FindWallet/WalletFilterSidebar/WalletFilterProfile/index.tsx
  src/components/FindWallet/WalletFilterSidebar/index.tsx
  src/components/FindWallet/WalletTable/index.tsx
  src/constants.ts
  src/data/crowdin/combined-translators.json
  src/data/crowdin/file-ids.json
  src/data/crowdin/translation-buckets-dirs.json
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:

#11266 Bengali content buckets (Homepage, Essentials, Exploring, Use Ethereum, Use cases, Staking)
  src/content/translations/bn/dao/index.md
  src/content/translations/bn/decentralized-identity/index.md
  src/content/translations/bn/defi/index.md
  src/content/translations/bn/desci/index.md
  src/content/translations/bn/nft/index.md
  src/content/translations/bn/refi/index.md
  src/content/translations/bn/smart-contracts/index.md
  src/content/translations/bn/social-networks/index.md
  src/content/translations/bn/staking/dvt/index.md
  src/content/translations/bn/staking/pools/index.md
  src/content/translations/bn/staking/saas/index.md
  src/content/translations/bn/staking/solo/index.md
  src/content/translations/bn/staking/withdrawals/index.md
  src/intl/bn/common.json
  src/intl/bn/page-dapps.json
  src/intl/bn/page-developers-index.json
  src/intl/bn/page-developers-learning-tools.json
  src/intl/bn/page-developers-local-environment.json
  src/intl/bn/page-eth.json
  src/intl/bn/page-get-eth.json
  src/intl/bn/page-index.json
  src/intl/bn/page-languages.json
  src/intl/bn/page-layer-2.json
  src/intl/bn/page-run-a-node.json
  src/intl/bn/page-stablecoins.json
  src/intl/bn/page-staking-deposit-contract.json
  src/intl/bn/page-staking.json
  src/intl/bn/page-wallets-find-wallet.json
  src/intl/bn/page-wallets.json
  src/intl/bn/page-what-is-ethereum.json
  src/intl/bn/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11267 Bosnian content buckets (Essentials)
  src/intl/bs/page-eth.json
  src/intl/bs/page-get-eth.json
  src/intl/bs/page-wallets-find-wallet.json
  src/intl/bs/page-wallets.json
  src/intl/bs/page-what-is-ethereum.json
Labels: review needed :eyes:

#11268 Bulgarian content buckets (Homepage, Essentials)
  src/intl/bg/common.json
  src/intl/bg/page-eth.json
  src/intl/bg/page-get-eth.json
  src/intl/bg/page-index.json
  src/intl/bg/page-wallets-find-wallet.json
  src/intl/bg/page-wallets.json
  src/intl/bg/page-what-is-ethereum.json
Labels: review needed :eyes:

#11272 Croatian content buckets (Homepage, Essentials)
  src/intl/hr/common.json
  src/intl/hr/page-eth.json
  src/intl/hr/page-get-eth.json
  src/intl/hr/page-index.json
  src/intl/hr/page-wallets-find-wallet.json
  src/intl/hr/page-wallets.json
  src/intl/hr/page-what-is-ethereum.json
Labels: review needed :eyes:

#11292 Portuguese content buckets (Use cases)
  src/content/translations/pt/decentralized-identity/index.md
  src/content/translations/pt/defi/index.md
  src/content/translations/pt/desci/index.md
  src/content/translations/pt/refi/index.md
  src/content/translations/pt/smart-contracts/index.md
  src/content/translations/pt/social-networks/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11298 Tamil content buckets (Homepage)
  src/intl/ta/common.json
  src/intl/ta/page-index.json
Labels: review needed :eyes:

#11285 Hindi content buckets (Essentials, Exploring, Use Ethereum, Use cases)
  src/content/translations/hi/dao/index.md
  src/content/translations/hi/decentralized-identity/index.md
  src/content/translations/hi/defi/index.md
  src/content/translations/hi/desci/index.md
  src/content/translations/hi/nft/index.md
  src/content/translations/hi/refi/index.md
  src/content/translations/hi/smart-contracts/index.md
  src/content/translations/hi/social-networks/index.md
  src/intl/hi/page-dapps.json
  src/intl/hi/page-developers-index.json
  src/intl/hi/page-developers-learning-tools.json
  src/intl/hi/page-developers-local-environment.json
  src/intl/hi/page-get-eth.json
  src/intl/hi/page-languages.json
  src/intl/hi/page-layer-2.json
  src/intl/hi/page-run-a-node.json
  src/intl/hi/page-stablecoins.json
  src/intl/hi/page-wallets-find-wallet.json
  src/intl/hi/page-wallets.json
  src/intl/hi/page-what-is-ethereum.json
  src/intl/hi/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11294 Russian content buckets (Staking, Learn pages, Foundational docs)
  src/content/translations/ru/bridges/index.md
  src/content/translations/ru/developers/docs/accounts/index.md
  src/content/translations/ru/developers/docs/blocks/index.md
  src/content/translations/ru/developers/docs/dapps/index.md
  src/content/translations/ru/developers/docs/evm/index.md
  src/content/translations/ru/developers/docs/evm/opcodes/index.md
  src/content/translations/ru/developers/docs/gas/index.md
  src/content/translations/ru/developers/docs/index.md
  src/content/translations/ru/developers/docs/intro-to-ether/index.md
  src/content/translations/ru/developers/docs/intro-to-ethereum/index.md
  src/content/translations/ru/developers/docs/networks/index.md
  src/content/translations/ru/developers/docs/transactions/index.md
  src/content/translations/ru/developers/docs/web2-vs-web3/index.md
  src/content/translations/ru/energy-consumption/index.md
  src/content/translations/ru/governance/index.md
  src/content/translations/ru/security/index.md
  src/content/translations/ru/staking/dvt/index.md
  src/content/translations/ru/staking/pools/index.md
  src/content/translations/ru/staking/saas/index.md
  src/content/translations/ru/staking/solo/index.md
  src/content/translations/ru/staking/withdrawals/index.md
  src/content/translations/ru/web3/index.md
  src/content/translations/ru/zero-knowledge-proofs/index.md
  src/intl/ru/page-developers-docs.json
  src/intl/ru/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11293 Portuguese Brazilian content buckets (Homepage, Essentials, Exploring, Use Ethereum, Learn pages)
  src/content/translations/pt-br/bridges/index.md
  src/content/translations/pt-br/energy-consumption/index.md
  src/content/translations/pt-br/governance/index.md
  src/content/translations/pt-br/nft/index.md
  src/content/translations/pt-br/security/index.md
  src/intl/pt-br/common.json
  src/intl/pt-br/page-dapps.json
  src/intl/pt-br/page-developers-learning-tools.json
  src/intl/pt-br/page-developers-local-environment.json
  src/intl/pt-br/page-get-eth.json
  src/intl/pt-br/page-index.json
  src/intl/pt-br/page-layer-2.json
  src/intl/pt-br/page-wallets-find-wallet.json
  src/intl/pt-br/page-wallets.json
  src/intl/pt-br/page-what-is-ethereum.json
  src/intl/pt-br/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11296 Slovenian content buckets (Homepage, Exploring)
  src/content/translations/sl/nft/index.md
  src/intl/sl/common.json
  src/intl/sl/page-dapps.json
  src/intl/sl/page-index.json
  src/intl/sl/page-stablecoins.json
  src/intl/sl/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11273 Danish content buckets (Homepage)
  src/intl/da/common.json
  src/intl/da/page-index.json
Labels: review needed :eyes:

#11270 Chinese Simplified content buckets (Foundation docs, Foundational docs - Nodes and clients)
  src/content/translations/zh/developers/docs/accounts/index.md
  src/content/translations/zh/developers/docs/blocks/index.md
  src/content/translations/zh/developers/docs/dapps/index.md
  src/content/translations/zh/developers/docs/evm/index.md
  src/content/translations/zh/developers/docs/evm/opcodes/index.md
  src/content/translations/zh/developers/docs/gas/index.md
  src/content/translations/zh/developers/docs/index.md
  src/content/translations/zh/developers/docs/intro-to-ether/index.md
  src/content/translations/zh/developers/docs/intro-to-ethereum/index.md
  src/content/translations/zh/developers/docs/networks/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/bootnodes/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/light-clients/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/node-architecture/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/zh/developers/docs/transactions/index.md
  src/content/translations/zh/developers/docs/web2-vs-web3/index.md
  src/intl/zh/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:

#11271 Chinese Traditional content buckets (Learn pages, Learn hub & guides, Upgrades, Community)
  src/content/translations/zh-tw/bridges/index.md
  src/content/translations/zh-tw/community/code-of-conduct/index.md
  src/content/translations/zh-tw/community/events/index.md
  src/content/translations/zh-tw/community/get-involved/index.md
  src/content/translations/zh-tw/community/grants/index.md
  src/content/translations/zh-tw/community/language-resources/index.md
  src/content/translations/zh-tw/community/online/index.md
  src/content/translations/zh-tw/community/research/index.md
  src/content/translations/zh-tw/community/support/index.md
  src/content/translations/zh-tw/eips/index.md
  src/content/translations/zh-tw/energy-consumption/index.md
  src/content/translations/zh-tw/governance/index.md
  src/content/translations/zh-tw/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/zh-tw/guides/how-to-id-scam-tokens/index.md
  src/content/translations/zh-tw/guides/how-to-revoke-token-access/index.md
  src/content/translations/zh-tw/guides/how-to-swap-tokens/index.md
  src/content/translations/zh-tw/guides/how-to-use-a-bridge/index.md
  src/content/translations/zh-tw/guides/how-to-use-a-wallet/index.md
  src/content/translations/zh-tw/guides/index.md
  src/content/translations/zh-tw/roadmap/account-abstraction/index.md
  src/content/translations/zh-tw/roadmap/beacon-chain/index.md
  src/content/translations/zh-tw/roadmap/danksharding/index.md
  src/content/translations/zh-tw/roadmap/future-proofing/index.md
  src/content/translations/zh-tw/roadmap/index.md
  src/content/translations/zh-tw/roadmap/merge/index.md
  src/content/translations/zh-tw/roadmap/merge/issuance/index.md
  src/content/translations/zh-tw/roadmap/pbs/index.md
  src/content/translations/zh-tw/roadmap/scaling/index.md
  src/content/translations/zh-tw/roadmap/secret-leader-election/index.md
  src/content/translations/zh-tw/roadmap/security/index.md
  src/content/translations/zh-tw/roadmap/single-slot-finality/index.md
  src/content/translations/zh-tw/roadmap/statelessness/index.md
  src/content/translations/zh-tw/roadmap/user-experience/index.md
  src/content/translations/zh-tw/roadmap/verkle-trees/index.md
  src/content/translations/zh-tw/security/index.md
  src/content/translations/zh-tw/web3/index.md
  src/content/translations/zh-tw/zero-knowledge-proofs/index.md
  src/intl/zh-tw/learn-quizzes.json
  src/intl/zh-tw/page-community.json
  src/intl/zh-tw/page-learn.json
  src/intl/zh-tw/page-roadmap-vision.json
  src/intl/zh-tw/page-upgrades-get-involved.json
  src/intl/zh-tw/page-upgrades-index.json
  src/intl/zh-tw/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11075 Added hover animations for nav icons
  src/components/Nav/index.tsx
Labels: review needed :eyes:, dependencies :package:

#11319 Added banner on community page
  redirects.json
  src/components/Banners/Implementations/WritersCohortBanner.tsx
  src/pages/community.tsx
  src/pages/index.tsx
  src/templates/static.tsx
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#11339 Remove link to missing webpage
  src/content/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11321 Add ETHIndia 2023
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11315 Fixed broken links for example projects for plasma doc
  src/content/developers/docs/scaling/plasma/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11278 Update index.md
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11243 Update smart contract development frameworks
  src/content/developers/docs/frameworks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11234 Add Web3.NE group to Eth.org 'Meetups' Page
  src/data/community-meetups.json
Labels: review needed :eyes:

#11179 remove a couple events with changed dates, or no information on page
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11249 Connect to Web3 sim updates
  src/components/Simulator/PulseAnimation.tsx
  src/components/Simulator/constants.ts
  src/components/Simulator/screens/ConnectWeb3/Browser.tsx
  src/components/Simulator/screens/ConnectWeb3/Slider.tsx
  src/components/Simulator/screens/ConnectWeb3/Web3App.tsx
  src/components/Simulator/screens/ConnectWeb3/constants.ts
  src/components/Simulator/screens/ConnectWeb3/index.tsx
  src/components/Simulator/screens/SendReceive/SendFromContacts.tsx
  src/data/WalletSimulatorData.tsx
Labels: review needed :eyes:

#11356 Update ETH Hong Kong dates
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11358 Fix default font size
  src/@chakra-ui/gatsby-plugin/styles.ts
Labels: review needed :eyes:

#11367 Patch reversion to English
  src/content/translations/sl/nft/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11340 fix: cleanup outstanding type errors (non-queried)
  src/@chakra-ui/gatsby-plugin/theme.ts
  src/components/BeaconChainActions.tsx
  src/components/CardList.tsx
  src/components/Codeblock.tsx
  src/components/EnergyConsumptionChart.tsx
  src/components/EthExchanges/index.tsx
  src/components/FileContributorsCrowdin.tsx
  src/components/MergeArticleList.tsx
  src/components/Quiz/QuizWidget.tsx
  src/components/ShardChainsList.tsx
  src/components/StablecoinAccordion/index.tsx
  src/components/Staking/StakingGuides.tsx
  src/data/NetworkUpgradeSummaryData.ts
  src/pages-conditional/dapps.tsx
  src/pages-conditional/eth.tsx
  src/pages-conditional/wallets.tsx
  src/pages/bug-bounty.tsx
  src/pages/get-eth.tsx
  src/pages/staking/deposit-contract.tsx
  src/utils/image.ts
  src/utils/mergeObjects.ts
Labels: content :fountain_pen:, review needed :eyes:

#11368 writing cohort banner on homepage
  src/components/Banners/Implementations/WritersCohortBanner.tsx
Labels: review needed :eyes:

#11381 remove visited style on Link in WritersCohortBanner
  src/components/Banners/Implementations/WritersCohortBanner.tsx
Labels: review needed :eyes:

#11383 Fix the hover color on dark theme
  src/@chakra-ui/gatsby-plugin/foundations/colors.ts
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/@chakra-ui/gatsby-plugin/styles.ts
Labels: review needed :eyes:

#11373 'Reset Filters' button on find wallet page is always in English
  src/components/FindWallet/WalletFilterSidebar/index.tsx
  src/intl/en/page-wallets-find-wallet.json
Labels: review needed :eyes:

#11376 Font size issue on /wallets/#sim page
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11393 Move divider to end of numerical h2 (/glossary)
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11357 updating natpicone contributor
  .all-contributorsrc
  README.md
Labels: internal :house:, documentation :book:

#11289 Korean content buckets (Exploring, Use Ethereum, Use cases)
  src/content/translations/ko/decentralized-identity/index.md
  src/content/translations/ko/defi/index.md
  src/content/translations/ko/desci/index.md
  src/content/translations/ko/nft/index.md
  src/content/translations/ko/refi/index.md
  src/content/translations/ko/smart-contracts/index.md
  src/intl/ko/page-dapps.json
  src/intl/ko/page-developers-index.json
  src/intl/ko/page-developers-learning-tools.json
  src/intl/ko/page-developers-local-environment.json
  src/intl/ko/page-languages.json
  src/intl/ko/page-layer-2.json
  src/intl/ko/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11260 Add Art Blocks dapp info
  src/assets/dapps/artblocks.png
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10909 fix: inappropriate spacing on mobile menu
  src/components/TableOfContents/utils.ts
Labels: review needed :eyes:, abandoned

#11380 Remove past events from community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11232 Fix invalid links found by markdown checker
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/data-and-analytics/index.md
  src/content/developers/docs/networking-layer/portal-network/index.md
  src/content/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/de/glossary/index.md
  src/content/translations/de/roadmap/statelessness/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/translations/es/glossary/index.md
  src/content/translations/fil/dao/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/fr/developers/docs/data-and-analytics/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/it/developers/docs/data-and-analytics/index.md
  src/content/translations/it/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/faqs/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/index.md
  src/content/translations/ja/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/pl/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/pt-br/developers/docs/data-and-analytics/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/translations/pt-br/glossary/index.md
  src/content/translations/ro/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/tr/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/tr/developers/docs/data-and-analytics/index.md
  src/content/translations/tr/roadmap/statelessness/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/zh/developers/docs/data-and-analytics/index.md
  src/content/translations/zh/glossary/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11231 Add invalid link check to markdown checker
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/developers/docs/consensus-mechanisms/pow/index.md
  src/content/developers/docs/data-and-analytics/index.md
  src/content/developers/docs/networking-layer/portal-network/index.md
  src/content/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/de/glossary/index.md
  src/content/translations/de/roadmap/statelessness/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/translations/es/glossary/index.md
  src/content/translations/fil/dao/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/fr/developers/docs/data-and-analytics/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/it/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/it/developers/docs/data-and-analytics/index.md
  src/content/translations/it/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/faqs/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/index.md
  src/content/translations/ja/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/pl/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/pt-br/developers/docs/data-and-analytics/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/translations/pt-br/glossary/index.md
  src/content/translations/ro/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/tr/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/tr/developers/docs/data-and-analytics/index.md
  src/content/translations/tr/roadmap/statelessness/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/zh/developers/docs/data-and-analytics/index.md
  src/content/translations/zh/glossary/index.md
  src/scripts/markdownChecker.ts
Labels: review needed :eyes:, tooling :wrench:

#11417 Fixed in-page nav
  src/content/developers/docs/design-and-ux/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11005 Dapp page changes
  src/assets/dapps/ens.png
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:, abandoned

#11261 Add Curve and DODO to dex's
  src/assets/dapps/curve.png
  src/assets/dapps/dodo.png
  src/content/developers/docs/frameworks/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/data/crowdin/combined-translators.json
  src/data/crowdin/file-ids.json
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11426 patch: /energy-consumption style tags
  src/content/translations/ca/energy-consumption/index.md
  src/content/translations/fa/energy-consumption/index.md
  src/content/translations/id/energy-consumption/index.md
  src/content/translations/nl/energy-consumption/index.md
  src/content/translations/ro/energy-consumption/index.md
  src/content/translations/uk/energy-consumption/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10899 Update Modal interface to accept styling props
  src/components/Modal.tsx
Labels: review needed :eyes:

#10977 Update NFT page
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11152 Update script with CSV auto importing
  src/scripts/crowdin-import.ts
Labels: review needed :eyes:, tooling :wrench:

#10912 fix image and link on /refi/ page
  src/assets/use-cases/refi-regenerative-economy-diagram.png
  src/content/refi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11286 Hungarian content buckets (Homepage, Essentials, Exploring, Use Ethereum)
  src/content/translations/hu/dao/index.md
  src/content/translations/hu/nft/index.md
  src/intl/hu/common.json
  src/intl/hu/page-dapps.json
  src/intl/hu/page-developers-index.json
  src/intl/hu/page-developers-learning-tools.json
  src/intl/hu/page-developers-local-environment.json
  src/intl/hu/page-get-eth.json
  src/intl/hu/page-index.json
  src/intl/hu/page-languages.json
  src/intl/hu/page-layer-2.json
  src/intl/hu/page-run-a-node.json
  src/intl/hu/page-stablecoins.json
  src/intl/hu/page-wallets-find-wallet.json
  src/intl/hu/page-wallets.json
  src/intl/hu/page-what-is-ethereum.json
  src/intl/hu/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11287 Indonesian content buckets (Learn hubs & guides, Upgrades, Smart contracts - basics)
  src/content/translations/id/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/id/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/id/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/id/developers/docs/smart-contracts/index.md
  src/content/translations/id/developers/docs/smart-contracts/languages/index.md
  src/content/translations/id/developers/docs/smart-contracts/libraries/index.md
  src/content/translations/id/developers/docs/smart-contracts/security/index.md
  src/content/translations/id/eips/index.md
  src/content/translations/id/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/id/guides/how-to-id-scam-tokens/index.md
  src/content/translations/id/guides/how-to-revoke-token-access/index.md
  src/content/translations/id/guides/how-to-swap-tokens/index.md
  src/content/translations/id/guides/how-to-use-a-bridge/index.md
  src/content/translations/id/guides/how-to-use-a-wallet/index.md
  src/content/translations/id/guides/index.md
  src/content/translations/id/roadmap/account-abstraction/index.md
  src/content/translations/id/roadmap/beacon-chain/index.md
  src/content/translations/id/roadmap/danksharding/index.md
  src/content/translations/id/roadmap/future-proofing/index.md
  src/content/translations/id/roadmap/index.md
  src/content/translations/id/roadmap/merge/index.md
  src/content/translations/id/roadmap/merge/issuance/index.md
  src/content/translations/id/roadmap/pbs/index.md
  src/content/translations/id/roadmap/scaling/index.md
  src/content/translations/id/roadmap/secret-leader-election/index.md
  src/content/translations/id/roadmap/security/index.md
  src/content/translations/id/roadmap/single-slot-finality/index.md
  src/content/translations/id/roadmap/statelessness/index.md
  src/content/translations/id/roadmap/user-experience/index.md
  src/content/translations/id/roadmap/verkle-trees/index.md
  src/intl/id/learn-quizzes.json
  src/intl/id/page-learn.json
  src/intl/id/page-roadmap-vision.json
  src/intl/id/page-upgrades-get-involved.json
  src/intl/id/page-upgrades-index.json
  src/intl/id/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11274 Farsi and Filipino content buckets (Use cases, Staking)
  src/content/translations/fa/decentralized-identity/index.md
  src/content/translations/fa/defi/index.md
  src/content/translations/fa/desci/index.md
  src/content/translations/fa/refi/index.md
  src/content/translations/fa/smart-contracts/index.md
  src/content/translations/fa/social-networks/index.md
  src/content/translations/fa/staking/dvt/index.md
  src/content/translations/fa/staking/pools/index.md
  src/content/translations/fa/staking/saas/index.md
  src/content/translations/fa/staking/solo/index.md
  src/content/translations/fa/staking/withdrawals/index.md
  src/content/translations/fil/decentralized-identity/index.md
  src/content/translations/fil/defi/index.md
  src/content/translations/fil/desci/index.md
  src/content/translations/fil/refi/index.md
  src/content/translations/fil/smart-contracts/index.md
  src/content/translations/fil/social-networks/index.md
  src/content/translations/fil/staking/dvt/index.md
  src/content/translations/fil/staking/pools/index.md
  src/content/translations/fil/staking/saas/index.md
  src/content/translations/fil/staking/solo/index.md
  src/content/translations/fil/staking/withdrawals/index.md
  src/intl/fa/page-staking.json
  src/intl/fil/page-staking-deposit-contract.json
  src/intl/fil/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11412 Add detail to history page
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11433 removing dead link
  src/content/community/language-resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10433 Update energy consumption estimates [Fixes #10371]
  src/components/EnergyConsumptionChart.tsx
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11363 fix(theme/Heading): flip `lineHeight`s rendered to match DS
  src/@chakra-ui/gatsby-plugin/components/Heading.ts
Labels: review needed :eyes:

#11490 Remove netlify-lambda from build process
  gatsby-node.ts
  netlify.toml
  package.json
  webpack.lambda.js
  yarn.lock
Labels: dependencies :package:, tooling :wrench:

#11469 chore: account create text typo
  src/data/WalletSimulatorData.tsx
Labels: review needed :eyes:

#11446 Dutch content buckets (Essentials, Exploring, Use Ethereum, Use cases)
  src/content/translations/nl/decentralized-identity/index.md
  src/content/translations/nl/defi/index.md
  src/content/translations/nl/desci/index.md
  src/content/translations/nl/nft/index.md
  src/content/translations/nl/refi/index.md
  src/content/translations/nl/smart-contracts/index.md
  src/content/translations/nl/social-networks/index.md
  src/intl/nl/page-dapps.json
  src/intl/nl/page-developers-index.json
  src/intl/nl/page-developers-learning-tools.json
  src/intl/nl/page-developers-local-environment.json
  src/intl/nl/page-get-eth.json
  src/intl/nl/page-languages.json
  src/intl/nl/page-layer-2.json
  src/intl/nl/page-stablecoins.json
  src/intl/nl/page-wallets-find-wallet.json
  src/intl/nl/page-wallets.json
  src/intl/nl/page-what-is-ethereum.json
  src/intl/nl/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11288 Kannada content buckets (Use cases)
  src/content/translations/kn/decentralized-identity/index.md
  src/content/translations/kn/defi/index.md
  src/content/translations/kn/desci/index.md
  src/content/translations/kn/refi/index.md
  src/content/translations/kn/smart-contracts/index.md
  src/content/translations/kn/social-networks/index.md
  src/utils/languages.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11282 French content buckets (Use cases, Staking, Learn pages, Learn hub & guides, Foundational docs, Foundational docs - Proof of work, Docs tech stack pages, Smart contracts - basics)
  src/content/translations/fr/defi/index.md
  src/content/translations/fr/desci/index.md
  src/content/translations/fr/developers/docs/accounts/index.md
  src/content/translations/fr/developers/docs/apis/backend/index.md
  src/content/translations/fr/developers/docs/apis/json-rpc/index.md
  src/content/translations/fr/developers/docs/blocks/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/fr/developers/docs/dapps/index.md
  src/content/translations/fr/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/fr/developers/docs/development-networks/index.md
  src/content/translations/fr/developers/docs/evm/index.md
  src/content/translations/fr/developers/docs/evm/opcodes/index.md
  src/content/translations/fr/developers/docs/frameworks/index.md
  src/content/translations/fr/developers/docs/gas/index.md
  src/content/translations/fr/developers/docs/ides/index.md
  src/content/translations/fr/developers/docs/intro-to-ethereum/index.md
  src/content/translations/fr/developers/docs/networks/index.md
  src/content/translations/fr/developers/docs/programming-languages/golang/index.md
  src/content/translations/fr/developers/docs/programming-languages/javascript/index.md
  src/content/translations/fr/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/fr/developers/docs/smart-contracts/index.md
  src/content/translations/fr/developers/docs/smart-contracts/libraries/index.md
  src/content/translations/fr/developers/docs/smart-contracts/security/index.md
  src/content/translations/fr/developers/docs/transactions/index.md
  src/content/translations/fr/energy-consumption/index.md
  src/content/translations/fr/governance/index.md
  src/content/translations/fr/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/fr/guides/how-to-id-scam-tokens/index.md
  src/content/translations/fr/guides/how-to-revoke-token-access/index.md
  src/content/translations/fr/guides/how-to-swap-tokens/index.md
  src/content/translations/fr/guides/how-to-use-a-bridge/index.md
  src/content/translations/fr/guides/how-to-use-a-wallet/index.md
  src/content/translations/fr/guides/index.md
  src/content/translations/fr/refi/index.md
  src/content/translations/fr/security/index.md
  src/content/translations/fr/smart-contracts/index.md
  src/content/translations/fr/staking/dvt/index.md
  src/content/translations/fr/staking/pools/index.md
  src/content/translations/fr/staking/saas/index.md
  src/content/translations/fr/staking/solo/index.md
  src/content/translations/fr/staking/withdrawals/index.md
  src/content/translations/fr/zero-knowledge-proofs/index.md
  src/intl/fr/learn-quizzes.json
  src/intl/fr/page-developers-docs.json
  src/intl/fr/page-learn.json
  src/intl/fr/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11480 Fix bad grammar/improve understandability on Uniswap V2 tutorial
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11472 Patch broken header syntax
  src/content/developers/tutorials/nft-minter/index.md
  src/content/translations/fr/developers/tutorials/nft-minter/index.md
  src/content/translations/id/developers/tutorials/nft-minter/index.md
  src/content/translations/it/developers/tutorials/nft-minter/index.md
  src/content/translations/ja/developers/tutorials/nft-minter/index.md
  src/content/translations/ro/developers/tutorials/nft-minter/index.md
  src/content/translations/zh/developers/tutorials/nft-minter/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11132 feat(Hero): create multiple hero components for new DS
  .storybook/i18next.ts
  .storybook/main.ts
  src/assets/heroes/learn-hub-hero.png
  src/assets/mainnet.png
  src/components/Hero/CallToAction.tsx
  src/components/Hero/ContentHero/ContentHero.stories.tsx
  src/components/Hero/ContentHero/index.tsx
  src/components/Hero/HomeHero/HomeHero.stories.tsx
  src/components/Hero/HomeHero/index.tsx
  src/components/Hero/HubHero/HubHero.stories.tsx
  src/components/Hero/HubHero/index.tsx
  src/components/Hero/MdxHero/MdxHero.stories.tsx
  src/components/Hero/MdxHero/index.tsx
  src/components/Hero/index.ts
  src/components/Hero/utils.ts
  src/components/Morpher.tsx
  src/pages/index.tsx
  src/pages/learn/index.tsx
Labels: content :fountain_pen:, review needed :eyes:, event :date:

#11416 updating the dates of ETH Brazil 2024
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11494 Remove WritersCohortBanner
  src/components/Banners/Implementations/WritersCohortBanner.tsx
  src/pages/community.tsx
  src/pages/index.tsx
  src/templates/static.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11495 Remove old lambda functions adapters
  src/api/calendarEvents.ts
  src/api/defipulse.ts
  src/api/etherscan.ts
  src/api/etherscanBlock.ts
  src/api/l2beat.ts
  src/api/translations.ts
  src/api/txs.ts
  src/lambda/calendarEvents.ts
  src/lambda/defipulse.ts
  src/lambda/etherscan.ts
  src/lambda/etherscanBlock.ts
  src/lambda/l2beat.ts
  src/lambda/translation-build.ts
  src/lambda/translations.ts
  src/lambda/txs.ts
Labels: review needed :eyes:

#11502 style(theme): update font styling for mono text
  src/@chakra-ui/gatsby-plugin/styles.ts
Labels: review needed :eyes:

#11535 Documentation Cleanup: Typos and Grammar Fixes
  src/content/bridges/index.md
  src/content/community/get-involved/index.md
  src/content/community/grants/index.md
  src/content/community/research/index.md
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/contributing/translation-program/faq/index.md
  src/content/contributing/translation-program/playbook/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11541 Update adding exchanges listing policy
  src/content/contributing/adding-exchanges/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11281 Added p2p.org as Staking as a Service Provider to the website
  src/components/icons/Icons.stories.tsx
  src/components/icons/staking/P2PGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#11529 Fix Lido URL in "Explore dapps"
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11544 Update CODEOWNERS
  .github/CODEOWNERS
Labels: tooling :wrench:
