Repository ethereum/ethereum-org-website, pull requests merged in 2023-01, with the labels that each got.

#9008 Chore: remove extra `Item` type export in `TableOfContents`
  src/components/TableOfContents/index.tsx
Labels: review needed :eyes:

#9044 Remove staking survey banner
  src/components/Staking/StakingSurveyBanner.tsx
  src/pages/staking/index.tsx
  src/templates/staking.tsx
Labels: review needed :eyes:

#8999 Fix hydration issue on FeedbackWidget
  src/components/FeedbackWidget.tsx
Labels: review needed :eyes:

#9038 Chore: Remove `Accordion` Component
  src/components/Accordion.tsx
Labels: review needed :eyes:

#8440 Update GridPlus Lattice1 info on wallets page
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#8496 Revamped symbolic execution section on formal verification page
  src/content/developers/docs/smart-contracts/formal-verification/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8744 Migrate `SimpleTable.tsx` to chakra
  src/components/SimpleTable.tsx
Labels: review needed :eyes:, chakra-migration

#8850 Migrate `PageHero` to Chakra
  src/components/PageHero.tsx
Labels: review needed :eyes:, chakra-migration

#8929 Migrate `WalletPersonasSidebar` to Chakra
  src/components/FindWallet/WalletPersonasSidebar.tsx
Labels: review needed :eyes:, chakra-migration

#8962 migrate `TranslationBannerLegal` to Chakra
  src/components/TranslationBannerLegal.tsx
Labels: review needed :eyes:, chakra-migration

#8505 Add section on "layer 3" scaling
  src/content/developers/docs/scaling/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#8948 Migrate `EthPriceCard` component to Chakra
  src/components/EthPriceCard.tsx
  src/theme.ts
Labels: review needed :eyes:, chakra-migration

#8541 Added a beginner smart contract tutorial
  src/content/developers/docs/smart-contracts/deploying/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8545 Update provider list
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8576 Rust projects and tools (link collision)
  src/content/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9076 v6.14.2
  package.json
Labels: dependencies :package:

#8802 updated ankr staking info
  src/data/staking-products.json
Labels: review needed :eyes:

#9157 Eth Porto Update to the community-events.json
  src/data/community-events.json
Labels: review needed :eyes:

#9123 Update Italian (it) Essentials and Whitepaper buckets
  src/content/translations/it/whitepaper/index.md
  src/intl/it/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9122 Update Farsi (fa) Exploring and Community buckets
  src/content/translations/fa/community/get-involved/index.md
  src/content/translations/fa/community/grants/index.md
  src/content/translations/fa/community/language-resources/index.md
  src/content/translations/fa/community/online/index.md
  src/content/translations/fa/nft/index.md
  src/intl/fa/page-dapps.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9121 Update Hungarian (hu) Homepage and Essentials bucket
  src/intl/hu/common.json
  src/intl/hu/page-eth.json
  src/intl/hu/page-get-eth.json
  src/intl/hu/page-index.json
  src/intl/hu/page-wallets-find-wallet.json
  src/intl/hu/page-wallets.json
  src/intl/hu/page-what-is-ethereum.json
Labels: review needed :eyes:

#9119 Update Turkish (tr) Essentials bucket
  src/intl/tr/page-what-is-ethereum.json
Labels: review needed :eyes:

#9118 Update Spanish (es) Essentials and Upgrades buckets
  src/content/translations/es/eips/index.md
  src/content/translations/es/upgrades/beacon-chain/index.md
  src/content/translations/es/upgrades/merge/index.md
  src/content/translations/es/upgrades/sharding/index.md
  src/intl/es/page-upgrades-get-involved-bug-bounty.json
  src/intl/es/page-upgrades-get-involved.json
  src/intl/es/page-upgrades-index.json
  src/intl/es/page-upgrades-vision.json
  src/intl/es/page-upgrades.json
  src/intl/es/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9117 Update Russian (ru) Essentials bucket
  src/intl/ru/page-wallets.json
  src/intl/ru/page-what-is-ethereum.json
Labels: review needed :eyes:

#9116 Update French (fr) Essentials, Exploring, Learn, Upgrades, and Community buckets
  src/content/translations/fr/community/get-involved/index.md
  src/content/translations/fr/community/grants/index.md
  src/content/translations/fr/community/language-resources/index.md
  src/content/translations/fr/community/online/index.md
  src/content/translations/fr/energy-consumption/index.md
  src/content/translations/fr/governance/index.md
  src/content/translations/fr/nft/index.md
  src/content/translations/fr/security/index.md
  src/content/translations/fr/upgrades/merge/index.md
  src/content/translations/fr/web3/index.md
  src/intl/fr/page-dapps.json
  src/intl/fr/page-eth.json
  src/intl/fr/page-upgrades-get-involved-bug-bounty.json
  src/intl/fr/page-upgrades-index.json
  src/intl/fr/page-upgrades-vision.json
  src/intl/fr/page-wallets.json
  src/intl/fr/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9113 Update Japanese (ja) Essentials, Upgrades, Community, and Technical developer doc buckets
  src/content/translations/ja/community/get-involved/index.md
  src/content/translations/ja/community/grants/index.md
  src/content/translations/ja/community/language-resources/index.md
  src/content/translations/ja/community/online/index.md
  src/content/translations/ja/community/support/index.md
  src/content/translations/ja/developers/docs/apis/backend/index.md
  src/content/translations/ja/developers/docs/apis/json-rpc/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/ja/developers/docs/ides/index.md
  src/content/translations/ja/developers/docs/programming-languages/python/index.md
  src/content/translations/ja/developers/docs/programming-languages/rust/index.md
  src/content/translations/ja/developers/docs/smart-contracts/security/index.md
  src/content/translations/ja/upgrades/beacon-chain/index.md
  src/content/translations/ja/upgrades/merge/index.md
  src/intl/ja/page-upgrades-get-involved-bug-bounty.json
  src/intl/ja/page-upgrades-get-involved.json
  src/intl/ja/page-upgrades-index.json
  src/intl/ja/page-upgrades-vision.json
  src/intl/ja/page-wallets.json
  src/intl/ja/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9112 Update Korean (ko) Essentials, Use Ethereum, and Whitepaper buckets
  src/content/translations/ko/dao/index.md
  src/content/translations/ko/whitepaper/index.md
  src/intl/ko/page-developers-learning-tools.json
  src/intl/ko/page-layer-2.json
  src/intl/ko/page-run-a-node.json
  src/intl/ko/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9111 Update Portuguese Brazilian (pt-br) Essentials, Upgrades, and Whitepaper buckets
  src/content/translations/pt-br/upgrades/merge/index.md
  src/content/translations/pt-br/upgrades/sharding/index.md
  src/intl/pt-br/page-upgrades-get-involved-bug-bounty.json
  src/intl/pt-br/page-upgrades-index.json
  src/intl/pt-br/page-upgrades-vision.json
  src/intl/pt-br/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9109 Update Dutch (nl) Use Ethereum bucket
  src/content/translations/nl/dao/index.md
  src/intl/nl/page-developers-learning-tools.json
  src/intl/nl/page-run-a-node.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9108 Update Chinese Traditional (zh-tw) Essentials, Exploring, Use Ethereum, Use Cases, and Staking buckets
  src/content/translations/zh-tw/dao/index.md
  src/content/translations/zh-tw/decentralized-identity/index.md
  src/content/translations/zh-tw/defi/index.md
  src/content/translations/zh-tw/nft/index.md
  src/content/translations/zh-tw/smart-contracts/index.md
  src/content/translations/zh-tw/social-networks/index.md
  src/content/translations/zh-tw/staking/pools/index.md
  src/content/translations/zh-tw/staking/saas/index.md
  src/content/translations/zh-tw/staking/solo/index.md
  src/intl/zh-tw/page-dapps.json
  src/intl/zh-tw/page-layer-2.json
  src/intl/zh-tw/page-run-a-node.json
  src/intl/zh-tw/page-staking-deposit-contract.json
  src/intl/zh-tw/page-staking.json
  src/intl/zh-tw/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9107 Update Chinese Simplified (zh) Essentials, Exploring, Learn, Upgrades, Community, and Whitepaper buckets
  src/content/translations/zh/bridges/index.md
  src/content/translations/zh/community/get-involved/index.md
  src/content/translations/zh/community/grants/index.md
  src/content/translations/zh/community/language-resources/index.md
  src/content/translations/zh/community/online/index.md
  src/content/translations/zh/energy-consumption/index.md
  src/content/translations/zh/governance/index.md
  src/content/translations/zh/nft/index.md
  src/content/translations/zh/security/index.md
  src/content/translations/zh/upgrades/merge/index.md
  src/content/translations/zh/web3/index.md
  src/content/translations/zh/whitepaper/index.md
  src/intl/zh/page-dapps.json
  src/intl/zh/page-eth.json
  src/intl/zh/page-get-eth.json
  src/intl/zh/page-upgrades-get-involved-bug-bounty.json
  src/intl/zh/page-upgrades-index.json
  src/intl/zh/page-upgrades-vision.json
  src/intl/zh/page-wallets.json
  src/intl/zh/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#8548 Add an overview of how a transaction gets executed in Ethereum PoS [Fixes #8546]
  src/content/developers/docs/consensus-mechanisms/pos/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8574 Add Hacken and Hackenproof
  src/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8662 Update index.md
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8663 Add Blast
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8664 Added Blast
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8665 Added Blast
  src/content/enterprise/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8667 Added Cryptojobster to help find a job in ethereum
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9051 Set up Learn Hub for translation
  src/components/Nav/index.tsx
  src/intl/en/page-learn.json
  src/pages/learn/index.tsx
Labels: review needed :eyes:

#9085 setup energy consumption chart labels for translation
  src/components/EnergyConsumptionChart.tsx
  src/intl/en/page-what-is-ethereum.json
Labels: review needed :eyes:

#9140 Setup bug bounty faq translation
  src/intl/en/page-upgrades-index.json
  src/pages/bug-bounty.tsx
Labels: content :fountain_pen:, review needed :eyes:

#8497 Implement StorybookJS
  .storybook/main.js
  .storybook/preview.js
  docs/applying-storybook.md
  package.json
  src/components/BannerNotification/BannerNotification.stories.tsx
  src/components/BannerNotification/index.tsx
  src/components/Button/Button.stories.tsx
  src/components/Button/index.tsx
  src/components/Card/Card.stories.tsx
  src/components/Card/index.tsx
  src/components/Layout.tsx
  src/components/SimpleTable.tsx
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/index.tsx
  src/components/UpcomingEventsList.tsx
  src/content/developers/docs/consensus-mechanisms/pos/faqs/index.md
  src/content/developers/docs/consensus-mechanisms/pos/pos-vs-pow/index.md
  src/content/developers/docs/nodes-and-clients/node-architecture/index.md
  src/content/developers/docs/smart-contracts/formal-verification/index.md
  src/data/community-meetups.json
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#9167 Fix twemoji cdn issue
  package.json
  src/components/Emoji.tsx
  src/content/translations/it/developers/tutorials/how-to-view-nft-in-metamask/index.md
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:

#9017 migrate the `StakingStatsBox` to Chakra UI
  src/components/Staking/StakingStatsBox.tsx
Labels: review needed :eyes:, chakra-migration

#9046 migrate the `StakingComparison` component to Chakra
  src/components/Staking/StakingComparison.tsx
Labels: review needed :eyes:, chakra-migration

#9174 Refactor `use-trilemma` hook's name
  src/components/Trilemma/Triangle.tsx
  src/components/Trilemma/index.tsx
  src/components/Trilemma/useTrilemma.tsx
Labels: review needed :eyes:

#8542 Adds Shakepay as a Canadian exchange
  src/assets/exchanges/shakepay.png
  src/components/EthExchanges.tsx
  src/data/exchanges-by-country.csv
Labels: review needed :eyes:

#8691 Link to Startup Jobs' collection of Ethereum jobs
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8601 Convert `Pill` component to using Chakra `Badge` Component
  src/@chakra-ui/gatsby-plugin/components/Badge.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/components/ProductCard.tsx
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/TutorialMetadata.tsx
  src/components/TutorialTags.tsx
  src/pages-conditional/dapps.tsx
  src/pages/developers/tutorials.tsx
  src/pages/layer-2.tsx
  src/templates/docs.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, review needed :eyes:, chakra-migration

#8726 fixed Card.tsx
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8732 Copy editing Patricia Merkle Tries page
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:, low priority

#8737 add copenhagen meetup
  src/data/community-meetups.json
Labels: review needed :eyes:

#8750 Fixed typo in yellow-paper-evm 9.1 BASICS documentation [Fixes #8749]
  src/content/developers/tutorials/yellow-paper-evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8762 Add missing line continuation for lighthouse launch command
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9196 Deploy v6.15.1
  .all-contributorsrc
  README.md
  package.json
  src/@chakra-ui/gatsby-plugin/components/Badge.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/assets/exchanges/shakepay.png
  src/components/Emoji.tsx
  src/components/EthExchanges.tsx
  src/components/ProductCard.tsx
  src/components/StablecoinAccordion.tsx
  src/components/StablecoinAccordion/AccordionCustomItem.tsx
  src/components/StablecoinAccordion/index.tsx
  src/components/StablecoinAccordion/useStablecoinAccordion.ts
  src/components/StablecoinAccordion/utils.ts
  src/components/Staking/StakingComparison.tsx
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/Staking/StakingStatsBox.tsx
  src/components/Trilemma/Triangle.tsx
  src/components/Trilemma/index.tsx
  src/components/Trilemma/useTrilemma.tsx
  src/components/TutorialMetadata.tsx
  src/components/TutorialTags.tsx
  src/content/community/get-involved/index.md
  src/content/developers/docs/apis/json-rpc/index.md
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/developers/docs/mev/index.md
  src/content/developers/docs/networking-layer/index.md
  src/content/developers/docs/nodes-and-clients/node-architecture/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/tutorials/yellow-paper-evm/index.md
  src/content/history/index.md
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/content/translations/it/developers/docs/apis/json-rpc/index.md
  src/content/translations/it/developers/docs/networking-layer/index.md
  src/content/translations/it/developers/tutorials/how-to-view-nft-in-metamask/index.md
  src/content/translations/ja/developers/docs/apis/json-rpc/index.md
  src/content/translations/zh/developers/docs/apis/json-rpc/index.md
  src/content/translations/zh/developers/docs/networking-layer/index.md
  src/data/community-meetups.json
  src/data/exchanges-by-country.csv
  src/pages-conditional/dapps.tsx
  src/pages/developers/tutorials.tsx
  src/pages/layer-2.tsx
  src/templates/docs.tsx
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/tutorial.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
  yarn.lock
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, documentation :book:, internal :house:

#9056 Migrate the `SideNav` component to Chakra
  src/components/SideNav.tsx
Labels: review needed :eyes:, chakra-migration

#9057 Migrate the `SideNavMobile` component to Chakra
  src/components/SideNavMobile.tsx
Labels: review needed :eyes:, chakra-migration

#8782 Adding iosiro to EL bounty hunter list
  src/data/execution-bounty-hunters.csv
Labels: review needed :eyes:

#8779 Adding a great desci article to further reading
  src/content/desci/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8724 Adding a new Ethereum Development:Nodereal
  src/content/developers/docs/frameworks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9088 Migrate the `AdoptionChart` component to Chakra
  src/components/AdoptionChart.tsx
Labels: review needed :eyes:, chakra-migration

#9208 Update grant links
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9103 Migrate `AssetDownload.tsx` component to Chakra
  src/components/AssetDownload.tsx
Labels: review needed :eyes:, chakra-migration

#9028 Refactor: Migrate `WalletFilterSidebar` to Chakra
  src/components/FindWallet/WalletFilterSidebar.tsx
  src/components/FindWallet/WalletFilterSidebar/index.tsx
  src/components/FindWallet/WalletFilterSidebar/useWalletFilterSidebar.tsx
Labels: review needed :eyes:, chakra-migration

#8932 Add ETH Malaysia event
  src/data/community-events.json
Labels: review needed :eyes:

#8899 fix: small grammar typo
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8889 Fix typo in index.md [Ethereum's energy expenditure]
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8888 Fix small typo in index.md [NFT]
  src/content/nft/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8879 Update community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#8869 Update a Dapp Link
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#8868 fixes the extra $ prefix issues on copy #8867
  README.md
Labels: documentation :book:

#9007 Refactor: `StatsBoxGrid` Post Chakra
  src/components/StatsBoxGrid/GridItem.tsx
  src/components/StatsBoxGrid/RangeSelector.tsx
  src/components/StatsBoxGrid/index.tsx
  src/components/StatsBoxGrid/useStatsBoxGrid.tsx
Labels: review needed :eyes:, chakra-migration

#8864 Add Metis Andromeda
  src/content/developers/docs/scaling/sidechains/index.md
  src/content/translations/fr/developers/docs/scaling/sidechains/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9094 Migrate the `BoxGrid` component to Chakra
  src/components/BoxGrid.tsx
Labels: review needed :eyes:, chakra-migration

#9219 Add community lead job posting
  src/content/about/community-lead/index.md
  src/content/about/index.md
  src/templates/job.tsx
Labels: content :fountain_pen:, review needed :eyes:

#8851 Update index.md
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8857 docs: added subtitle
  src/content/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8849 removed ropsten, rinkeby from Networks column
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8847 Updating Guido's EL score on bounty page
  src/data/execution-bounty-hunters.csv
Labels: review needed :eyes:

#8826 Update index.md
  src/content/developers/docs/storage/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8816 Optimizing code overall
  src/api/coinmetrics.ts
  src/lambda/coinmetrics.ts
Labels: review needed :eyes:

#8789 send_transaction
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8787 Update index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8771 Add links to Tenderly in several pages [Fixes #8764]
  src/content/community/support/index.md
  src/content/desci/index.md
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/developers/docs/frameworks/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/developers/docs/smart-contracts/deploying/index.md
  src/content/developers/docs/smart-contracts/verifying/index.md
  src/content/energy-consumption/index.md
  src/content/enterprise/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8933 fix: small typo/grammar issue
  src/content/developers/docs/consensus-mechanisms/pos/keys/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8939 fix: small grammar correction
  src/content/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8935 fix: incorrect formating of sub-header
  src/content/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8940 Updating working faucet list
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8715 Resolves #8583 Add exchange: Moonpay
  src/assets/exchanges/moonpay.png
  src/components/EthExchanges.tsx
  src/content/developers/docs/smart-contracts/verifying/index.md
  src/data/exchanges-by-country.csv
Labels: content :fountain_pen:, review needed :eyes:

#9225 Add Storj GitHub link to storage developer docs
  src/content/developers/docs/storage/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9218 Add Ethereum Zürich 2023 to the event list
  src/data/community-events.json
Labels: review needed :eyes:

#9214 Fix typo in the glossary causing broken link
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9205 adds more prominent links to desci listing policy
  src/content/contributing/index.md
  src/content/desci/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9201 Remove EthHub Link from Plasma developer docs
  src/content/developers/docs/scaling/plasma/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9199 Migrate EthHub Info & Remove EthHub Links on the state channels developer docs
  src/content/developers/docs/scaling/state-channels/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9189 Remove EthHub Link from ZK-roll ups developer docs
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9187 Remove EthHub Link on sidechains developer docs
  src/content/developers/docs/scaling/sidechains/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9186 Remove EthHub link on DeFi page
  src/content/defi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9185 Remove EthHub link from nodes and clients developer docs
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9154 Remove EthHub link on community research page
  src/content/community/research/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9153 Remove EthHub external link from run-a-node developer docs
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9151 Remove EthHub link and update resource links on oracles developer docs
  src/content/developers/docs/oracles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9150 Remove reference to EthHub on gas developer docs
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9149 Replace EthHub sample with ConsenSys on ethereum.org style guide
  src/content/contributing/style-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9148 Remove EthHub reference from community get-involved page
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9097 Merge Issuance Page: Minor readability improvements [Fixes #9096]
  src/content/upgrades/merge/issuance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9082 What is Ethereum Page: Standardise middleman terminology [Fixes #9080]
  src/intl/en/page-what-is-ethereum.json
Labels: review needed :eyes:

#8968 Readability - Minor language changes [Fixes #8963]
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8987 Intro To Ether developer docs - Minor readability improvements
  src/content/developers/docs/intro-to-ether/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9239 Fix broken link in glossary
  src/content/translations/de/glossary/index.md
  src/content/translations/es/glossary/index.md
  src/content/translations/fr/glossary/index.md
  src/content/translations/hu/glossary/index.md
  src/content/translations/id/glossary/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/pl/glossary/index.md
  src/content/translations/ro/glossary/index.md
  src/content/translations/tr/glossary/index.md
  src/content/translations/zh/glossary/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9180 Change 'with' to 'for' for clarity
  src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9179 Remove DeFi Pulse as a resource for DeFi information.
  src/content/community/get-involved/index.md
  src/content/defi/index.md
  src/content/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/bn/dapps/index.md
  src/content/translations/ca/community/get-involved/index.md
  src/content/translations/ca/defi/index.md
  src/content/translations/de/community/get-involved/index.md
  src/content/translations/de/defi/index.md
  src/content/translations/es/community/get-involved/index.md
  src/content/translations/es/defi/index.md
  src/content/translations/fa/community/get-involved/index.md
  src/content/translations/fa/defi/index.md
  src/content/translations/fi/dapps/index.md
  src/content/translations/fr/community/get-involved/index.md
  src/content/translations/fr/defi/index.md
  src/content/translations/id/community/get-involved/index.md
  src/content/translations/id/defi/index.md
  src/content/translations/id/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/it/community/get-involved/index.md
  src/content/translations/it/defi/index.md
  src/content/translations/it/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/ja/community/get-involved/index.md
  src/content/translations/ja/defi/index.md
  src/content/translations/ko/defi/index.md
  src/content/translations/lt/dapps/index.md
  src/content/translations/nb/dapps/index.md
  src/content/translations/nl/community/get-involved/index.md
  src/content/translations/nl/defi/index.md
  src/content/translations/pt-br/community/get-involved/index.md
  src/content/translations/pt-br/defi/index.md
  src/content/translations/ro/community/get-involved/index.md
  src/content/translations/ro/defi/index.md
  src/content/translations/ro/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/ru/community/get-involved/index.md
  src/content/translations/ru/defi/index.md
  src/content/translations/se/dapps/index.md
  src/content/translations/sk/dapps/index.md
  src/content/translations/sl/defi/index.md
  src/content/translations/sw/community/get-involved/index.md
  src/content/translations/tr/community/get-involved/index.md
  src/content/translations/tr/defi/index.md
  src/content/translations/tr/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/uk/defi/index.md
  src/content/translations/zh-tw/defi/index.md
  src/content/translations/zh/community/get-involved/index.md
  src/content/translations/zh/defi/index.md
  src/content/translations/zh/developers/tutorials/create-and-deploy-a-defi-app/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9202 Updated podcast list: dropped "into the ether", added "The Daily Gwei"
  src/intl/en/page-learn.json
  src/pages/learn/index.tsx
Labels: review needed :eyes:

#9175 Fixed typos on consensus mechanisms developer docs
  src/content/developers/docs/consensus-mechanisms/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9173 Update information about hardware wallets on security page
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9190 Add smart contract to style-guide
  src/content/contributing/style-guide/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9114 Fix various typos across the site
  src/content/desci/index.md
  src/content/developers/docs/consensus-mechanisms/pos/attestations/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashimoto/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/developers/docs/networking-layer/network-addresses/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/oracles/index.md
  src/content/developers/docs/programming-languages/python/index.md
  src/content/developers/docs/programming-languages/ruby/index.md
  src/content/developers/docs/scaling/optimistic-rollups/index.md
  src/content/developers/docs/scaling/validium/index.md
  src/content/developers/docs/scaling/zk-rollups/index.md
  src/content/developers/docs/smart-contracts/security/index.md
  src/content/developers/docs/smart-contracts/upgrading/index.md
  src/content/developers/docs/smart-contracts/verifying/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/all-you-can-cache/index.md
  src/content/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  src/content/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/developers/tutorials/how-to-mock-solidity-contracts-for-testing/index.md
  src/content/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  src/content/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  src/content/developers/tutorials/reverse-engineering-a-contract/index.md
  src/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/developers/tutorials/short-abi/index.md
  src/content/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/upgrades/merge/index.md
  src/content/zero-knowledge-proofs/index.md
  src/data/SimpleDomainRegistry.sol
  src/pages/staking/deposit-contract.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9104 Fix the URL for Ethereum Madrid meetup
  src/data/community-meetups.json
Labels: review needed :eyes:

#9100 Fix typo in block-explorers/index.md (ja)
  src/content/translations/ja/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9045 Fix broken link in scaling developer docs
  src/content/developers/docs/scaling/state-channels/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9092 Fix improper tag nesting - causing SSR hydration issue
  src/components/StatsBoxGrid/GridItem.tsx
Labels: review needed :eyes:

#8943 Add Farcaster.xyz to the decentralized social networks list
  src/content/social-networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8953 Remove dangling code block
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8954 Content: "Proof of Stake" book added to learn page resources
  src/intl/en/page-learn.json
  src/pages/learn/index.tsx
Labels: content :fountain_pen:, review needed :eyes:

#8957 Fix: default content alignment to center in `BannerNotification`
  src/components/BannerNotification/index.tsx
  src/components/Banners/PostMergeBanner.tsx
  src/components/UpgradeBannerNotification.tsx
Labels: review needed :eyes:

#8959 Fix: Replace `div` with fragment in `tutorial` template
  src/templates/tutorial.tsx
Labels: review needed :eyes:

#8983 Add missing question mark on DID header
  src/content/decentralized-identity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8971 Add article on decentralized social networks
  src/content/social-networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9249 Community lead tweaks
  redirects.json
  src/content/about/community-lead/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9251 Deploy v6.15.3
  package.json
  redirects.json
  src/content/about/community-lead/index.md
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#8734 Add CFI and EOF to glossary
  src/content/glossary/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8711 Update Arabic (ar) Homepage and Essentials buckets
  src/intl/ar/common.json
  src/intl/ar/page-eth.json
  src/intl/ar/page-get-eth.json
  src/intl/ar/page-wallets-find-wallet.json
  src/intl/ar/page-wallets.json
  src/intl/ar/page-what-is-ethereum.json
Labels: review needed :eyes:

#9268 Fix broken link on accounts developer docs page
  src/content/developers/docs/accounts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8958 src/content/bootnodes: add bootnodes page
  src/content/developers/docs/nodes-and-clients/bootnodes/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:

#8965 Add ETHGlobal 2023 Events
  src/data/community-events.json
Labels: review needed :eyes:

#8975 Update the node service from BlockPI Network
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8989 Update index.md
  src/content/contributing/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9022 Add ETHVenice Meetup
  src/data/community-meetups.json
Labels: review needed :eyes:

#9023 Fix a link on run-a-node page
  src/pages/run-a-node.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9029 Update index.md
  src/content/community/research/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9068 update password managers
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9138 Update index.md Added Snap sync for Besu
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9271 Deploy v6.16.0
  package.json
  src/content/community/research/index.md
  src/content/contributing/index.md
  src/content/developers/docs/accounts/index.md
  src/content/developers/docs/mev/index.md
  src/content/developers/docs/nodes-and-clients/bootnodes/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/glossary/index.md
  src/content/security/index.md
  src/data/community-events.json
  src/data/community-meetups.json
  src/data/developer-docs-links.yaml
  src/intl/ar/common.json
  src/intl/ar/page-eth.json
  src/intl/ar/page-get-eth.json
  src/intl/ar/page-wallets-find-wallet.json
  src/intl/ar/page-wallets.json
  src/intl/ar/page-what-is-ethereum.json
  src/intl/en/page-developers-docs.json
  src/pages/run-a-node.tsx
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#9280 Fix: typos
  src/content/community/online/index.md
  src/data/community-events.json
Labels: content :fountain_pen:, review needed :eyes:

#9058 Convert `translationLeaderboard` to chakra
  src/@chakra-ui/gatsby-plugin/foundations/shadows.ts
  src/components/TranslationLeaderboard.tsx
Labels: review needed :eyes:, chakra-migration

#9237 Migrate `MergeArticleList.tsx` to Chakra
  src/components/MergeArticleList.tsx
Labels: review needed :eyes:, chakra-migration

#9238 Migrate `ShardChainsList.tsx` to Chakra
  src/components/ShardChainsList.tsx
Labels: review needed :eyes:, chakra-migration

#8199 chore: convert statLoadingMessage
  src/components/StatErrorMessage.tsx
  src/components/StatLoadingMessage.tsx
Labels: review needed :eyes:, chakra-migration

#9156 Gatsby v5
  package.json
  src/pages/bug-bounty.tsx
  src/pages/developers/tutorials.tsx
  src/pages/upgrades/get-involved/index.tsx
  src/scripts/generateHeadingIds.ts
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, tooling :wrench:

#9287 add bitkeep wallet data
  src/assets/wallets/bitkeep.png
  src/data/wallets/wallet-data.ts
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:
