Repository ethereum/ethereum-org-website, pull requests merged in 2023-06, with the labels that each got.

#10357 Remove markdown from React components in .md files
  src/content/history/index.md
  src/content/roadmap/account-abstraction/index.md
  src/content/roadmap/merge/index.md
  src/content/staking/solo/index.md
  src/content/staking/withdrawals/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10358 Fix typo in gasper developer docs
  src/content/developers/docs/consensus-mechanisms/pos/gasper/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10377 Improve QuizSummary copy
  src/components/Quiz/QuizSummary.tsx
  src/intl/en/learn-quizzes.json
  src/intl/pt-br/learn-quizzes.json
  src/intl/zh/learn-quizzes.json
Labels: review needed :eyes:

#10359 Represent Brussels on ethereum.org
  src/data/community-events.json
  src/data/community-meetups.json
Labels: review needed :eyes:, event :date:

#10288 Learn quiz contributing guide and issue template
  .github/ISSUE_TEMPLATE/suggest_quiz.yaml
  src/content/contributing/index.md
  src/content/contributing/quizzes/index.md
  src/intl/en/common.json
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#10384 Update energy consumption quiz question
  src/intl/en/learn-quizzes.json
Labels: review needed :eyes:

#10320 feat: Learning Quizzes Hub
  redirects.json
  src/@chakra-ui/gatsby-plugin/components/Progress.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/components/Footer.tsx
  src/components/Nav/useNav.ts
  src/components/Quiz/QuizItem.tsx
  src/components/Quiz/QuizRadioGroup.tsx
  src/components/Quiz/QuizSummary.tsx
  src/components/Quiz/QuizWidget.tsx
  src/components/Quiz/QuizzesList.tsx
  src/components/Quiz/QuizzesModal.tsx
  src/components/Quiz/QuizzesStats.tsx
  src/components/Quiz/context.ts
  src/components/Quiz/utils.ts
  src/components/Tag/Tag.stories.tsx
  src/components/icons/quiz/GreenTickIcon.tsx
  src/components/icons/quiz/index.ts
  src/constants.ts
  src/data/community-events.json
  src/data/quizzes/index.ts
  src/hooks/useLocalStorage.ts
  src/intl/en/common.json
  src/intl/en/learn-quizzes.json
  src/intl/pt-br/learn-quizzes.json
  src/intl/zh/learn-quizzes.json
  src/pages/index.tsx
  src/pages/learn/index.tsx
  src/pages/quizzes.tsx
  src/types.ts
Labels: feature :sparkles:, content :fountain_pen:, review needed :eyes:, epic 💪, roadmap, event :date:

#10298 Update French (fr) Use Cases, Learn Pages, Research Docs, and Tutorials II buckets
  src/content/translations/fr/bridges/index.md
  src/content/translations/fr/desci/index.md
  src/content/translations/fr/developers/docs/data-structures-and-encoding/index.md
  src/content/translations/fr/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/translations/fr/developers/docs/data-structures-and-encoding/rlp/index.md
  src/content/translations/fr/developers/docs/data-structures-and-encoding/ssz/index.md
  src/content/translations/fr/developers/docs/data-structures-and-encoding/web3-secret-storage-definition/index.md
  src/content/translations/fr/developers/docs/networking-layer/index.md
  src/content/translations/fr/developers/docs/networking-layer/network-addresses/index.md
  src/content/translations/fr/developers/tutorials/create-and-deploy-a-defi-app/index.md
  src/content/translations/fr/developers/tutorials/deploying-your-first-smart-contract/index.md
  src/content/translations/fr/developers/tutorials/erc-721-vyper-annotated-code/index.md
  src/content/translations/fr/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  src/content/translations/fr/developers/tutorials/guide-to-smart-contract-security-tools/index.md
  src/content/translations/fr/developers/tutorials/how-to-implement-an-erc721-market/index.md
  src/content/translations/fr/developers/tutorials/how-to-mock-solidity-contracts-for-testing/index.md
  src/content/translations/fr/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  src/content/translations/fr/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/fr/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  src/content/translations/fr/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  src/content/translations/fr/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/fr/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  src/content/translations/fr/developers/tutorials/logging-events-smart-contracts/index.md
  src/content/translations/fr/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
  src/content/translations/fr/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/fr/developers/tutorials/secure-development-workflow/index.md
  src/content/translations/fr/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/content/translations/fr/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/translations/fr/developers/tutorials/short-abi/index.md
  src/content/translations/fr/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/translations/fr/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/fr/developers/tutorials/testing-erc-20-tokens-with-waffle/index.md
  src/content/translations/fr/developers/tutorials/token-integration-checklist/index.md
  src/content/translations/fr/developers/tutorials/using-websockets/index.md
  src/content/translations/fr/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/translations/fr/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  src/content/translations/fr/developers/tutorials/waffle-test-simple-smart-contract/index.md
  src/content/translations/fr/energy-consumption/index.md
  src/content/translations/fr/governance/index.md
  src/content/translations/fr/security/index.md
  src/content/translations/fr/web3/index.md
  src/content/translations/fr/zero-knowledge-proofs/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10394 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10401 Import Italian updates
  src/content/translations/it/about/index.md
  src/content/translations/it/enterprise/index.md
  src/content/translations/it/glossary/index.md
  src/content/translations/it/history/index.md
  src/content/translations/it/nft/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10403 Import Portuguese (Brazilian) updates
  src/content/translations/pt-br/community/grants/index.md
  src/content/translations/pt-br/community/support/index.md
  src/content/translations/pt-br/contributing/adding-desci-projects/index.md
  src/content/translations/pt-br/contributing/adding-developer-tools/index.md
  src/content/translations/pt-br/contributing/adding-exchanges/index.md
  src/content/translations/pt-br/contributing/adding-glossary-terms/index.md
  src/content/translations/pt-br/contributing/adding-layer-2s/index.md
  src/content/translations/pt-br/contributing/adding-products/index.md
  src/content/translations/pt-br/contributing/adding-staking-products/index.md
  src/content/translations/pt-br/contributing/adding-wallets/index.md
  src/content/translations/pt-br/contributing/content-resources/index.md
  src/content/translations/pt-br/contributing/design-principles/index.md
  src/content/translations/pt-br/contributing/index.md
  src/content/translations/pt-br/contributing/translation-program/faq/index.md
  src/content/translations/pt-br/contributing/translation-program/how-to-translate/index.md
  src/content/translations/pt-br/contributing/translation-program/index.md
  src/content/translations/pt-br/contributing/translation-program/mission-and-vision/index.md
  src/content/translations/pt-br/contributing/translation-program/resources/index.md
  src/content/translations/pt-br/contributing/translation-program/translators-guide/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/faqs/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/keys/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  src/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  src/content/translations/pt-br/developers/docs/dapps/index.md
  src/content/translations/pt-br/developers/docs/gas/index.md
  src/content/translations/pt-br/developers/docs/intro-to-ether/index.md
  src/content/translations/pt-br/developers/docs/intro-to-ethereum/index.md
  src/content/translations/pt-br/developers/docs/networks/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/node-architecture/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/pt-br/guides/how-to-register-an-ethereum-account/index.md
  src/content/translations/pt-br/guides/how-to-revoke-token-access/index.md
  src/content/translations/pt-br/guides/how-to-swap-tokens/index.md
  src/content/translations/pt-br/guides/how-to-use-a-bridge/index.md
  src/content/translations/pt-br/guides/how-to-use-a-wallet/index.md
  src/content/translations/pt-br/guides/index.md
  src/intl/pt-br/learn-quizzes.json
  src/intl/pt-br/page-contributing-translation-program-acknowledgements.json
  src/intl/pt-br/page-learn.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10404 Import Ukrainian updates
  src/content/translations/uk/community/events/index.md
  src/content/translations/uk/community/get-involved/index.md
  src/content/translations/uk/community/grants/index.md
  src/content/translations/uk/community/language-resources/index.md
  src/content/translations/uk/community/online/index.md
  src/content/translations/uk/community/support/index.md
  src/content/translations/uk/decentralized-identity/index.md
  src/content/translations/uk/defi/index.md
  src/content/translations/uk/desci/index.md
  src/content/translations/uk/smart-contracts/index.md
  src/content/translations/uk/social-networks/index.md
  src/intl/uk/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10347 Fix translation error on Gasper developer docs (Chinese Simplified)
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/gasper/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9961 added fuzzing tutorial
  src/data/externalTutorials.json
Labels: review needed :eyes:

#10411 fix(theme/tag): increase label line-height for multi-line
  src/@chakra-ui/gatsby-plugin/components/Tag/index.ts
Labels: review needed :eyes:

#10397 Force /discord/ invite path links to full url
  src/components/Link.tsx
  src/constants.ts
  src/utils/url.ts
Labels: review needed :eyes:

#10413 Update JSON keys used for quiz titles on Quiz hub #10412
  src/data/quizzes/index.ts
  src/intl/en/common.json
  src/intl/en/learn-quizzes.json
Labels: review needed :eyes:

#10420 Remove past events from community events
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10410 Added ETH Miami to community events
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10361 update design contribution page
  src/content/contributing/design/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10429 chore: remove writing cohort banner
  redirects.json
  src/components/Banners/Implementations/WritersCohortBanner.tsx
  src/pages/community.tsx
  src/templates/static.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9732 Update index.md
  src/content/enterprise/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10416 Update Lido trustless indicator
  src/data/staking-products.json
Labels: review needed :eyes:

#10324 Swap homepage price metric with total ETH staked
  src/components/StatsBoxGrid/GridItem.tsx
  src/components/StatsBoxGrid/useStatsBoxGrid.tsx
  src/intl/de/page-index.json
  src/intl/en/page-index.json
  src/intl/es/page-index.json
  src/intl/fa/page-index.json
  src/intl/fr/page-index.json
  src/intl/it/page-index.json
  src/intl/ja/page-index.json
  src/intl/ko/page-index.json
  src/intl/nl/page-index.json
  src/intl/pt-br/page-index.json
  src/intl/tr/page-index.json
  src/intl/zh-tw/page-index.json
  src/intl/zh/page-index.json
Labels: review needed :eyes:

#10424 Add Launchnodes to staking products
  src/components/icons/staking/LaunchnodesGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#10426 Add Origin Ether to staking products
  src/components/icons/staking/OriginEtherGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#9748 add Ethereum Virtual Machine Opcodes Interactive Reference
  src/content/developers/docs/evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10414 Staking: break out EL + CL client diversity
  src/components/Staking/StakingConsiderations/use-staking-considerations.tsx
  src/components/Staking/StakingProductsCardGrid.tsx
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/data/staking-products.json
  src/intl/en/page-staking.json
Labels: content :fountain_pen:, review needed :eyes:

#9801 Added a block explorer
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9799 Adds new Rust developer tool [Fixes #9318]
  src/content/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9828 Update to sepolia + add ethers.js option
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10431 Update consensus-bounty-hunters.csv
  src/data/consensus-bounty-hunters.csv
Labels: review needed :eyes:

#10460 Update community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#10459 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10375 refactor: template/docs.tsx to chakra
  src/templates/docs.tsx
Labels: review needed :eyes:, chakra-migration

#10348 migrated: pages/developers/learning-tools.tsx to Chakra UI
  src/pages/developers/learning-tools.tsx
Labels: review needed :eyes:, chakra-migration

#10514 v7.14.2
  package.json
Labels: dependencies :package:

#10516 correct RandAO VRF explanation
  src/content/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10463 Migrate `StakingCommunityCallout` component
  src/components/Staking/StakingCommunityCallout.tsx
Labels: review needed :eyes:, chakra-migration

#10470 Migrate `eth` page
  src/components/ActionCard.tsx
  src/components/EthPriceCard.tsx
  src/components/HorizontalCard.tsx
  src/pages-conditional/eth.tsx
Labels: content :fountain_pen:, review needed :eyes:, chakra-migration

#10524 Fix typo in node comparison table
  src/content/developers/docs/nodes-and-clients/node-architecture/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10532 Update index.md (old web3 python API was being used)
  src/content/developers/docs/standards/tokens/erc-721/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10502 Updated Link Rot on the 2016 DAO Attack
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10545 Fix spelling in proto-danksharding explanation
  src/content/roadmap/danksharding/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10529 Update index.md
  src/content/community/online/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10480 fix typo for consensus vs execution #10479
  src/intl/en/page-staking.json
Labels: review needed :eyes:

#10467 Api3 request
  src/content/developers/docs/oracles/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10466 Updated ethereumjs-client information
  src/content/developers/docs/programming-languages/javascript/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10519 Endorsement disclaimer
  src/components/ProductDisclaimer.tsx
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/intl/en/common.json
  src/templates/staking.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9856 feat(theme): add/update form component themes
  .storybook/preview.js
  src/@chakra-ui/gatsby-plugin/components/Button.ts
  src/@chakra-ui/gatsby-plugin/components/Checkbox.ts
  src/@chakra-ui/gatsby-plugin/components/Input.ts
  src/@chakra-ui/gatsby-plugin/components/Radio.ts
  src/@chakra-ui/gatsby-plugin/components/Select.ts
  src/@chakra-ui/gatsby-plugin/components/Switch.ts
  src/@chakra-ui/gatsby-plugin/components/components.utils.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/@chakra-ui/gatsby-plugin/foundations/index.ts
  src/@chakra-ui/gatsby-plugin/foundations/spacing.ts
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/components/BaseStories/Checkbox.stories.tsx
  src/components/BaseStories/Radio.stories.tsx
  src/components/BaseStories/Switch.stories.tsx
  src/components/Checkbox.tsx
  src/components/FindWallet/WalletFilterSidebar/index.tsx
  src/components/FindWallet/WalletTable/useWalletTable.tsx
  src/components/Input/Input.stories.tsx
  src/components/Input/index.tsx
  src/components/MatomoOptOut.tsx
  src/components/MeetupList.tsx
  src/components/Select/Select.stories.tsx
  src/components/Select/index.tsx
  src/components/SelectableCard.tsx
  src/components/Staking/WithdrawalCredentials.tsx
  src/components/TableOfContents/index.tsx
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  src/pages/languages.tsx
  src/pages/staking/deposit-contract.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, tooling :wrench:, event :date:

#10496 Remove origin ether staking
  src/components/icons/staking/OriginEtherGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#10521 add rainbow hardware wallet support
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#10482 Add ETHKL to Community Events
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10527 Update community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#10551 Support to translatable image in mdx files
  plugins/gatsby-remark-fix-static-urls/index.js
  src/content/translations/es/web3/web3.png
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10511 Update Japanese (ja) Use Ethereum bucket
  src/intl/ja/page-languages.json
  src/intl/ja/page-layer-2.json
Labels: review needed :eyes:

#10512 Fix invalid emoji shortcode and add validation to MD checker
  src/content/translations/fr/desci/index.md
  src/scripts/markdownChecker.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:

#10547 Fix social media & EL data
  src/data/staking-products.json
Labels: review needed :eyes:

#10531 fix discord invite link on translation program resources page
  src/content/contributing/translation-program/resources/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10555 Revert "add translated image example"
  src/content/translations/es/web3/web3.png
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10526 Creating designer docs listing policy
  src/content/contributing/design/adding-design-resources/index.md
  src/content/contributing/design/index.md
  src/content/contributing/index.md
  src/content/developers/docs/design-and-ux/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10510 Update Italian (it) Homepage, Essentials, and Use Ethereum buckets
  src/content/translations/it/dao/index.md
  src/intl/it/page-developers-index.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/it/page-developers-local-environment.json
  src/intl/it/page-eth.json
  src/intl/it/page-get-eth.json
  src/intl/it/page-index.json
  src/intl/it/page-languages.json
  src/intl/it/page-layer-2.json
  src/intl/it/page-run-a-node.json
  src/intl/it/page-wallets-find-wallet.json
  src/intl/it/page-wallets.json
  src/intl/it/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10498 chore: add audit to eth-docker
  src/data/staking-products.json
Labels: review needed :eyes:

#10503 Update Bulgarian (bg) Homepage and Essentials buckets
  src/intl/bg/common.json
  src/intl/bg/page-eth.json
  src/intl/bg/page-get-eth.json
  src/intl/bg/page-wallets-find-wallet.json
  src/intl/bg/page-wallets.json
  src/intl/bg/page-what-is-ethereum.json
Labels: review needed :eyes:

#10500 Added ETHLisbon 2023 Event to Community Meetups
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10505 Update Chinese Traditional (zh-tw) Essentials and Use Ethereum buckets
  src/intl/zh-tw/page-eth.json
  src/intl/zh-tw/page-languages.json
  src/intl/zh-tw/page-layer-2.json
  src/intl/zh-tw/page-wallets-find-wallet.json
  src/intl/zh-tw/page-what-is-ethereum.json
Labels: review needed :eyes:

#10506 Update French (fr) Essentials, Use Ethereum, Community, Foundational Docs (PoW), Tech Stack Docs, and Smart Contracts Basics buckets
  src/content/translations/fr/community/online/index.md
  src/content/translations/fr/community/support/index.md
  src/content/translations/fr/developers/docs/apis/backend/index.md
  src/content/translations/fr/developers/docs/apis/javascript/index.md
  src/content/translations/fr/developers/docs/apis/json-rpc/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  src/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  src/content/translations/fr/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/fr/developers/docs/data-and-analytics/index.md
  src/content/translations/fr/developers/docs/development-networks/index.md
  src/content/translations/fr/developers/docs/ethereum-stack/index.md
  src/content/translations/fr/developers/docs/frameworks/index.md
  src/content/translations/fr/developers/docs/ides/index.md
  src/content/translations/fr/developers/docs/programming-languages/dart/index.md
  src/content/translations/fr/developers/docs/programming-languages/delphi/index.md
  src/content/translations/fr/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/fr/developers/docs/programming-languages/golang/index.md
  src/content/translations/fr/developers/docs/programming-languages/java/index.md
  src/content/translations/fr/developers/docs/programming-languages/javascript/index.md
  src/content/translations/fr/developers/docs/programming-languages/python/index.md
  src/content/translations/fr/developers/docs/programming-languages/ruby/index.md
  src/content/translations/fr/developers/docs/programming-languages/rust/index.md
  src/content/translations/fr/developers/docs/smart-contracts/anatomy/index.md
  src/content/translations/fr/developers/docs/smart-contracts/compiling/index.md
  src/content/translations/fr/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/fr/developers/docs/smart-contracts/index.md
  src/content/translations/fr/developers/docs/smart-contracts/languages/index.md
  src/content/translations/fr/developers/docs/smart-contracts/security/index.md
  src/content/translations/fr/developers/docs/storage/index.md
  src/intl/fr/page-languages.json
  src/intl/fr/page-layer-2.json
  src/intl/fr/page-wallets-find-wallet.json
  src/intl/fr/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10507 Update German (de) Essentials, Exploring, Use Ethereu, Use Cases, and Community buckets
  src/content/translations/de/community/online/index.md
  src/content/translations/de/decentralized-identity/index.md
  src/content/translations/de/desci/index.md
  src/content/translations/de/nft/index.md
  src/intl/de/page-dapps.json
  src/intl/de/page-languages.json
  src/intl/de/page-wallets-find-wallet.json
  src/intl/de/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10508 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10483 Change resources category for Code4rena
  src/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10501 Add `PUSH0` to opcode reference table
  src/content/developers/docs/evm/opcodes/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10474 Add Hong Kong community 852dev.xyz to Community Meetups
  src/data/community-meetups.json
Labels: review needed :eyes:

#10471 Added EthCC 6 to Community Events
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10458 Fix math % multiplication typo
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10556 Update Azerbaijani (az) Homepage and Exploring buckets
  src/content/translations/az/nft/index.md
  src/intl/az/common.json
  src/intl/az/page-dapps.json
  src/intl/az/page-stablecoins.json
  src/intl/az/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10557 Update Chinese Traditional (zh-tw) Use cases bucket
  src/content/translations/zh-tw/decentralized-identity/index.md
  src/content/translations/zh-tw/defi/index.md
  src/content/translations/zh-tw/desci/index.md
  src/content/translations/zh-tw/social-networks/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10558 Update Danish (da), Dutch (nl), and Filipino (fil) Homepage buckets
  src/intl/cs/common.json
  src/intl/da/common.json
  src/intl/da/page-index.json
  src/intl/fil/common.json
  src/intl/nl/common.json
  src/scripts/crowdin-import.ts
Labels: review needed :eyes:, tooling :wrench:

#10559 Update Czech (cs) homepage bucket
  src/intl/cs/common.json
Labels: review needed :eyes:

#10549 Migrate the `roadmap` template
  src/templates/roadmap.tsx
  src/templates/use-cases.tsx
Labels: review needed :eyes:, chakra-migration

#10462 Migrate `ButtonDropdown` component
  src/components/ButtonDropdown.tsx
  src/components/Staking/StakingConsiderations/index.tsx
  src/templates/docs.tsx
  src/templates/roadmap.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: review needed :eyes:, chakra-migration

#10534 Migrate `run a node` page
  src/pages-conditional/what-is-ethereum.tsx
  src/pages/run-a-node.tsx
  src/templates/staking.tsx
Labels: content :fountain_pen:, review needed :eyes:, chakra-migration

#10554 Update Arabic (ar) Essentials and Use Cases buckets
  src/content/translations/ar/decentralized-identity/index.md
  src/content/translations/ar/defi/index.md
  src/content/translations/ar/desci/index.md
  src/content/translations/ar/smart-contracts/index.md
  src/content/translations/ar/social-networks/index.md
  src/intl/ar/page-wallets-find-wallet.json
  src/intl/ar/page-wallets.json
  src/intl/ar/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10509 Update Portuguese-Brazilian (pt-br) Staking, Learn Pages, Community, Nodes and Clients, Tech Stack, and Advanced Docs buckets
  src/content/translations/pt-br/bridges/index.md
  src/content/translations/pt-br/community/online/index.md
  src/content/translations/pt-br/community/support/index.md
  src/content/translations/pt-br/developers/docs/accounts/accounts.png
  src/content/translations/pt-br/developers/docs/apis/javascript/index.md
  src/content/translations/pt-br/developers/docs/apis/json-rpc/index.md
  src/content/translations/pt-br/developers/docs/blocks/tx-block.png
  src/content/translations/pt-br/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/pt-br/developers/docs/data-availability/index.md
  src/content/translations/pt-br/developers/docs/evm/evm.png
  src/content/translations/pt-br/developers/docs/evm/gas.png
  src/content/translations/pt-br/developers/docs/ides/index.md
  src/content/translations/pt-br/developers/docs/mev/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/eth1eth2client.png
  src/content/translations/pt-br/developers/docs/nodes-and-clients/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/node-architecture/node-architecture-text-background.png
  src/content/translations/pt-br/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/nodes.png
  src/content/translations/pt-br/developers/docs/nodes-and-clients/run-a-node/diagram.png
  src/content/translations/pt-br/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/pt-br/developers/docs/oracles/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/java/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/javascript/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/python/index.md
  src/content/translations/pt-br/developers/docs/programming-languages/rust/index.md
  src/content/translations/pt-br/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/pt-br/developers/docs/standards/tokens/erc-4626/index.md
  src/content/translations/pt-br/developers/docs/transactions/gas-tx.png
  src/content/translations/pt-br/developers/docs/transactions/tx.png
  src/content/translations/pt-br/energy-consumption/energy_consumption_pre_post_merge.png
  src/content/translations/pt-br/energy-consumption/index.md
  src/content/translations/pt-br/staking/solo/index.md
  src/content/translations/pt-br/staking/withdrawals/index.md
  src/content/translations/pt-br/web3/web2.png
  src/content/translations/pt-br/web3/web3.png
  src/content/translations/pt-br/zero-knowledge-proofs/index.md
  src/intl/pt-br/page-staking.json
  src/scripts/crowdin-import.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:

#10550 Tab completion translation
  src/content/translations/es/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10115 Guide: Scam tokens
  src/content/guides/how-to-id-scam-tokens/etherscan-scam.png
  src/content/guides/how-to-id-scam-tokens/index.md
  src/content/guides/how-to-id-scam-tokens/uniswap-real.png
  src/content/guides/how-to-id-scam-tokens/uniswap-scam.png
  src/content/guides/index.md
  src/content/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10565 `StakingConsiderations` refactor - remove `styled` dep
  src/components/Staking/StakingConsiderations/index.tsx
  src/components/Staking/StakingConsiderations/use-staking-considerations.tsx
Labels: review needed :eyes:, chakra-migration

#10564 Remove unused components
  src/components/DismissibleCard.tsx
  src/components/SelectableCard.tsx
Labels: review needed :eyes:, chakra-migration

#10523 Update index.md
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10574 Button style changed: Issue ethereum#10553
  src/pages/run-a-node.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10573 Update French (fr) Advanced docs, Advanced scaling docs, and Tutorials II
  src/content/translations/fr/developers/docs/bridges/index.md
  src/content/translations/fr/developers/docs/data-availability/index.md
  src/content/translations/fr/developers/docs/mev/index.md
  src/content/translations/fr/developers/docs/oracles/index.md
  src/content/translations/fr/developers/docs/scaling/index.md
  src/content/translations/fr/developers/docs/scaling/optimistic-rollups/index.md
  src/content/translations/fr/developers/docs/scaling/plasma/index.md
  src/content/translations/fr/developers/docs/scaling/sidechains/index.md
  src/content/translations/fr/developers/docs/scaling/state-channels/index.md
  src/content/translations/fr/developers/docs/scaling/validium/index.md
  src/content/translations/fr/developers/docs/scaling/zk-rollups/index.md
  src/content/translations/fr/developers/docs/standards/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-4626/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/fr/developers/docs/standards/tokens/index.md
  src/content/translations/fr/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/fr/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/translations/fr/developers/tutorials/hello-world-smart-contract/index.md
  src/content/translations/fr/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  src/content/translations/fr/developers/tutorials/nft-minter/index.md
  src/content/translations/fr/developers/tutorials/reverse-engineering-a-contract/index.md
  src/content/translations/fr/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/fr/developers/tutorials/send-token-etherjs/index.md
  src/content/translations/fr/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/content/translations/fr/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10576 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10453 Wrap InfoBanner in LightMode component
  src/components/InfoBanner.tsx
Labels: review needed :eyes:

#10289 add page: Portal Network to developers/docs/networking-layer
  src/content/developers/docs/networking-layer/portal-network/index.md
  src/content/developers/docs/networking-layer/portal-network/portal-network-devp2p-libp2p.png
  src/content/developers/docs/networking-layer/portal-network/portal-network-table2.png
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:

#10577 Add SKALE Grants Program
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10572 Updates "what is ethereum" page
  src/intl/en/learn-quizzes.json
  src/intl/en/page-what-is-ethereum.json
  src/pages-conditional/what-is-ethereum.tsx
Labels: content :fountain_pen:, review needed :eyes:, design

#10585 Fix typo in all you can cache tutorial
  src/content/developers/tutorials/all-you-can-cache/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10563 Remove gatsby emotion plugin
  gatsby-config.ts
  package.json
  src/components/Layout.tsx
  src/components/icons/staking/EthpoolGlyphIcon.tsx
  src/components/icons/staking/SquidGlyphIcon.tsx
  yarn.lock
Labels: review needed :eyes:, dependencies :package:, chakra-migration

#10457 Docs: Fix DE translation gwei value
  src/content/translations/de/developers/docs/gas/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10234 feat(storybook): add storybook-react-i18next addon
  .storybook/babel-storybook-config.ts
  .storybook/i18next.ts
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/components/BannerNotification/BannerNotification.stories.tsx
  src/components/Card/Card.stories.tsx
  src/content/developers/docs/networking-layer/portal-network/index.md
  src/content/guides/how-to-id-scam-tokens/index.md
  src/data/externalTutorials.json
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#10575 Cleanup UI migration
  docs/best-practices.md
  docs/chakra-migration-guide.md
  src/components/Icon.tsx
  src/components/OldEmoji.tsx
  src/components/SharedStyledComponents.tsx
  src/components/SideNav.tsx
  src/components/SideNavMobile.tsx
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/pages-conditional/eth.tsx
  src/pages-conditional/wallets.tsx
  src/pages-conditional/what-is-ethereum.tsx
  src/pages/get-eth.tsx
  src/pages/quizzes.tsx
  src/pages/roadmap/vision.tsx
Labels: content :fountain_pen:, review needed :eyes:, chakra-migration

#10493 chore(deps): bump Chakra, Storybook, and Chromatic deps
  package.json
  yarn.lock
Labels: dependencies :package:

#10315 feat(theme/Button): implement new DS theming
  src/@chakra-ui/gatsby-plugin/components/Button.ts
  src/@chakra-ui/gatsby-plugin/components/components.utils.ts
  src/@chakra-ui/gatsby-plugin/foundations/colors.ts
  src/@chakra-ui/gatsby-plugin/foundations/shadows.ts
  src/components/Button/Button.stories.tsx
  src/components/Button/index.tsx
  src/components/ButtonLink.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10590 Fix `ButtonLink` styles
  src/components/ButtonLink.tsx
Labels: review needed :eyes:

#10491 Correct the wrong Chinese translation
  src/content/translations/zh/developers/docs/transactions/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:
