Repository ethereum/ethereum-org-website, pull requests merged in 2023-07, with the labels that each got.

#10461 Add Lava Network entry to Nodes-as-a-Service list
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9651 Add ERC-223 to token standards.
  src/content/developers/docs/standards/index.md
  src/content/developers/docs/standards/tokens/erc-223/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9795 [A11y] refactor(ProductList): improve structure and accessibility
  src/components/ProductList.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, tooling :wrench:, documentation :book:, event :date:

#9797 Enable "RPC Importing" and "Token Importing"
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#9895 Updated the list of IDEs
  src/content/developers/docs/ides/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9916 Add Kurtosis to Ethereum.org [fixes #9910]
  src/assets/dev-tools/kurtosis.png
  src/content/developers/docs/development-networks/index.md
  src/intl/en/page-developers-local-environment.json
  src/pages/developers/local-environment.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10604 add new wallet hero image
  src/assets/wallets/wallet-hero.png
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10379 Adjust hero spacing on smaller screens
  src/components/PageHero.tsx
Labels: review needed :eyes:

#10594 fix(Search/utils): update semantic syntax for highlighted search results
  src/components/Search/utils.ts
Labels: review needed :eyes:

#10195 chore: update mew products
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#10614 fixed-typo
  src/content/roadmap/danksharding/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10600 Fix typo in development networks (Chinese)
  src/content/translations/zh/developers/docs/development-networks/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10620 Update staking products listing criteria
  src/content/contributing/adding-staking-products/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10621 update-how-to-id-scam-tokens
  src/content/guides/how-to-id-scam-tokens/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10619 updated BlockWallet information and logo. [Fixes #10561]
  src/assets/wallets/blockwallet.png
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#10612 updated the further reading section
  src/content/developers/docs/accounts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10611 Update Indonesian (id) Essentials bucket
  src/intl/id/page-eth.json
  src/intl/id/page-wallets-find-wallet.json
  src/intl/id/page-wallets.json
  src/intl/id/page-what-is-ethereum.json
Labels: review needed :eyes:

#10610 Update French (fr) Advanced Docs, Scaling Docs, and Tutorials I
  src/content/translations/fr/developers/docs/data-availability/index.md
  src/content/translations/fr/developers/docs/scaling/state-channels/index.md
  src/content/translations/fr/developers/docs/standards/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10603 Add chainbase links
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10636 replace "miner" with "validator" on gas page
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:

#10626 Remove broken link in verifying smart contracts developer docs
  src/content/developers/docs/smart-contracts/verifying/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10440 Fix typo in French accounts developer docs
  src/content/translations/fr/developers/docs/accounts/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10221 Add DeSci Labs to DeSci page
  src/content/desci/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10373 Fix typo in merge issuance page (Chinese Simplified)
  src/content/translations/zh/roadmap/merge/issuance/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10518 + community code of conduct
  src/content/community/code-of-conduct/index.md
  src/content/community/get-involved/index.md
  src/content/contributing/index.md
Labels: content :fountain_pen:

#10623 Update transactions developer doc
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10370 Fix possible negative connotation of 'bank run' in code example
  src/intl/en/page-index.json
Labels: review needed :eyes:

#10629 Update Turkish (tr) Essentials bucket
  src/intl/tr/page-wallets-find-wallet.json
  src/intl/tr/page-wallets.json
  src/intl/tr/page-what-is-ethereum.json
Labels: review needed :eyes:

#10646 updating guides intro text and removing kernel
  src/content/guides/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10452 Add convex to lending
  src/assets/dapps/convex.png
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10451 Add yearn to lending
  src/assets/dapps/yearn.png
  src/intl/en/page-dapps.json
  src/pages-conditional/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10513 Update PMT Grammar and Explanation
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10624 Content and terminology tweaks in guides
  src/content/guides/how-to-create-an-ethereum-account/index.md
  src/content/guides/how-to-use-a-wallet/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9969 Added withdrawal Array and sub-object information
  src/content/developers/docs/blocks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10643 Update Farsi (fa) Homepage and Essentials buckets
  src/intl/fa/common.json
  src/intl/fa/page-eth.json
  src/intl/fa/page-get-eth.json
  src/intl/fa/page-index.json
  src/intl/fa/page-wallets-find-wallet.json
  src/intl/fa/page-wallets.json
  src/intl/fa/page-what-is-ethereum.json
Labels: review needed :eyes:

#10644 Update Italian (it) Smart contracts basics, Learn pages 2, Advanced and Scaling Docs buckets
  src/content/translations/it/developers/docs/bridges/index.md
  src/content/translations/it/developers/docs/data-availability/index.md
  src/content/translations/it/developers/docs/mev/index.md
  src/content/translations/it/developers/docs/oracles/index.md
  src/content/translations/it/developers/docs/scaling/index.md
  src/content/translations/it/developers/docs/scaling/optimistic-rollups/index.md
  src/content/translations/it/developers/docs/scaling/plasma/index.md
  src/content/translations/it/developers/docs/scaling/sidechains/index.md
  src/content/translations/it/developers/docs/scaling/state-channels/index.md
  src/content/translations/it/developers/docs/scaling/validium/index.md
  src/content/translations/it/developers/docs/scaling/zk-rollups/index.md
  src/content/translations/it/developers/docs/smart-contracts/deploying/index.md
  src/content/translations/it/developers/docs/smart-contracts/security/index.md
  src/content/translations/it/developers/docs/standards/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-1155/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-4626/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-777/index.md
  src/content/translations/it/history/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10639 Update Chinese Simplified (zh) Learn pages, Learn hub and Guides, Foundational Docs, and PoS docs buckets
  src/content/translations/zh/bridges/index.md
  src/content/translations/zh/developers/docs/accounts/accounts.png
  src/content/translations/zh/developers/docs/accounts/index.md
  src/content/translations/zh/developers/docs/blocks/index.md
  src/content/translations/zh/developers/docs/blocks/tx-block.png
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/attack-and-defense/reorg-schematic.png
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/attestations/attestation_schematic.png
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/faqs/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/gasper/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/keys/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/keys/multiple-keys.png
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/keys/validator-key-schematic.png
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/translations/zh/developers/docs/dapps/index.md
  src/content/translations/zh/developers/docs/evm/evm.png
  src/content/translations/zh/developers/docs/evm/gas.png
  src/content/translations/zh/developers/docs/evm/index.md
  src/content/translations/zh/developers/docs/evm/opcodes/index.md
  src/content/translations/zh/developers/docs/gas/index.md
  src/content/translations/zh/developers/docs/index.md
  src/content/translations/zh/developers/docs/intro-to-ether/index.md
  src/content/translations/zh/developers/docs/intro-to-ethereum/index.md
  src/content/translations/zh/developers/docs/networks/index.md
  src/content/translations/zh/developers/docs/transactions/gas-tx.png
  src/content/translations/zh/developers/docs/transactions/index.md
  src/content/translations/zh/developers/docs/transactions/tx.png
  src/content/translations/zh/developers/docs/web2-vs-web3/index.md
  src/content/translations/zh/energy-consumption/energy_consumption_pre_post_merge.png
  src/content/translations/zh/energy-consumption/index.md
  src/content/translations/zh/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/zh/guides/how-to-revoke-token-access/index.md
  src/content/translations/zh/guides/how-to-swap-tokens/index.md
  src/content/translations/zh/guides/how-to-use-a-bridge/index.md
  src/content/translations/zh/guides/how-to-use-a-wallet/index.md
  src/content/translations/zh/guides/index.md
  src/content/translations/zh/security/index.md
  src/content/translations/zh/web3/index.md
  src/content/translations/zh/web3/web2.png
  src/content/translations/zh/web3/web3.png
  src/content/translations/zh/zero-knowledge-proofs/index.md
  src/intl/zh/learn-quizzes.json
  src/intl/zh/page-developers-docs.json
  src/intl/zh/page-learn.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10635 Update Italian (it) Foundational docs, Smart contract docs (advanced) and Research docs buckets
  src/content/translations/it/developers/docs/accounts/accounts.png
  src/content/translations/it/developers/docs/accounts/index.md
  src/content/translations/it/developers/docs/blocks/index.md
  src/content/translations/it/developers/docs/blocks/tx-block.png
  src/content/translations/it/developers/docs/dapps/index.md
  src/content/translations/it/developers/docs/evm/evm.png
  src/content/translations/it/developers/docs/evm/gas.png
  src/content/translations/it/developers/docs/evm/index.md
  src/content/translations/it/developers/docs/evm/opcodes/index.md
  src/content/translations/it/developers/docs/gas/index.md
  src/content/translations/it/developers/docs/intro-to-ether/index.md
  src/content/translations/it/developers/docs/intro-to-ethereum/index.md
  src/content/translations/it/developers/docs/networks/index.md
  src/content/translations/it/developers/docs/smart-contracts/formal-verification/index.md
  src/content/translations/it/developers/docs/smart-contracts/testing/index.md
  src/content/translations/it/developers/docs/smart-contracts/upgrading/index.md
  src/content/translations/it/developers/docs/smart-contracts/verifying/index.md
  src/content/translations/it/developers/docs/smart-contracts/verifying/source-code-verification.png
  src/content/translations/it/developers/docs/transactions/gas-tx.png
  src/content/translations/it/developers/docs/transactions/index.md
  src/content/translations/it/developers/docs/transactions/tx.png
  src/intl/it/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10634 Update Spanish (es) Learn pages bucket
  src/content/translations/es/bridges/index.md
  src/content/translations/es/energy-consumption/energy_consumption_pre_post_merge.png
  src/content/translations/es/energy-consumption/index.md
  src/content/translations/es/governance/index.md
  src/content/translations/es/security/index.md
  src/content/translations/es/web3/index.md
  src/content/translations/es/web3/web2.png
  src/content/translations/es/web3/web3.png
  src/content/translations/es/zero-knowledge-proofs/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10658 docs: fix typos
  src/content/contributing/translation-program/content-buckets/index.md
  src/content/developers/docs/nodes-and-clients/bootnodes/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10657 content and terminology tweaks in contributing
  src/content/contributing/adding-staking-products/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10632 Update German (de) Staking and Learn hub and guides buckets
  src/content/translations/de/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/de/guides/how-to-revoke-token-access/index.md
  src/content/translations/de/guides/how-to-swap-tokens/index.md
  src/content/translations/de/guides/how-to-use-a-bridge/index.md
  src/content/translations/de/guides/how-to-use-a-wallet/index.md
  src/content/translations/de/guides/index.md
  src/content/translations/de/staking/pools/index.md
  src/content/translations/de/staking/saas/index.md
  src/content/translations/de/staking/solo/index.md
  src/content/translations/de/staking/withdrawals/index.md
  src/intl/de/learn-quizzes.json
  src/intl/de/page-learn.json
  src/intl/de/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10633 Update Portuguese (pt) Homepage and Essentials bucket
  src/content/translations/pt/what-is-ethereum/index.md
  src/intl/pt/common.json
  src/intl/pt/page-eth.json
  src/intl/pt/page-get-eth.json
  src/intl/pt/page-wallets-find-wallet.json
  src/intl/pt/page-wallets.json
  src/intl/pt/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10661 fix formatting in eth_getTransaction output bullets
  src/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10520 Randomize exchange and wallet listing order on /get-eth
  src/components/EthExchanges/use-eth-exchanges.ts
Labels: review needed :eyes:

#10616 Add Translators as contributors on non-English docs/tutorials
  .github/workflows/get-crowdin-contributors.yml
  package.json
  src/components/FileContributors.tsx
  src/components/FileContributorsCrowdin.tsx
  src/components/FileContributorsGitHub.tsx
  src/constants.ts
  src/data/crowdin/combined-translators.json
  src/data/crowdin/excluded-translators.json
  src/data/crowdin/file-ids.json
  src/data/crowdin/translation-buckets-dirs.json
  src/scripts/crowdin/api-client/crowdinClient.ts
  src/scripts/crowdin/getCrowdinContributors.ts
  src/scripts/crowdin/reports/dataHelpers.ts
  src/scripts/crowdin/reports/fileHelpers.ts
  src/scripts/crowdin/reports/getTranslationCostsReports.ts
  src/scripts/crowdin/reports/reportsHelpers.ts
  src/scripts/crowdin/source-files/fetchAndSaveDirectories.ts
  src/scripts/crowdin/source-files/fetchAndSaveFileIds.ts
  src/scripts/crowdin/utils.ts
  src/scripts/markdownChecker.ts
  src/templates/docs.tsx
  src/templates/tutorial.tsx
  src/utils/getCrowdinCode.ts
  yarn.lock
Labels: review needed :eyes:, dependencies :package:, tooling :wrench:

#10670 refactor(local-environment): remove duplicate object
  src/pages/developers/local-environment.tsx
Labels: review needed :eyes:

#10678 Update index.md
  src/content/developers/docs/blocks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10679 Update excluded-translators.json
  src/data/crowdin/excluded-translators.json
Labels: review needed :eyes:

#10376 Update bridges page (Chinese Simplified)
  src/content/translations/zh/bridges/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10406 Add check for broken frontmatter images in translated files to markdown checker
  src/scripts/markdownChecker.ts
Labels: review needed :eyes:, tooling :wrench:

#10334 Add exchange korbit [Fixes #9396]
  src/assets/exchanges/korbit.png
  src/components/EthExchanges/use-eth-exchanges.ts
  src/data/exchanges-by-country.csv
Labels: exchange

#10314 Update Hello World Smart Contract tutorial to use Sepoila testnet
  src/content/developers/tutorials/hello-world-smart-contract/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10683 Remove Saturn Piece from excluded-translators.json
  src/data/crowdin/excluded-translators.json
Labels: review needed :eyes:

#10703 Update Bedrock product glyph
  src/components/icons/staking/BedrockGlyphIcon.tsx
  src/components/icons/staking/RockXGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#10704 Adjust QuizWidget block margins [Fixes #10693]
  src/components/Quiz/QuizWidget.tsx
Labels: review needed :eyes:

#10708 Update Translation program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10709 Update community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#10710 Support setting env vars in win envs
  package.json
  yarn.lock
Labels: dependencies :package:

#10257 Community events widget
  package.json
  src/api/calendarEvents.ts
  src/components/CommunityEvents/index.tsx
  src/components/CommunityEvents/useCommunityEvents.ts
  src/intl/en/common.json
  src/intl/en/page-index.json
  src/lambda/calendarEvents.ts
  src/pages/index.tsx
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#10667 add disclaimer banner to find wallets
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:

#10702 July 17 Vietnamese import
  src/content/translations/vi/nft/index.md
  src/intl/vi/common.json
  src/intl/vi/page-dapps.json
  src/intl/vi/page-index.json
  src/intl/vi/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10699 July 17 Italian import
  src/content/translations/it/developers/docs/data-availability/index.md
  src/content/translations/it/developers/docs/oracles/index.md
  src/content/translations/it/developers/docs/smart-contracts/security/index.md
  src/content/translations/it/developers/docs/standards/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/it/history/index.md
  src/content/translations/it/roadmap/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10701 July 17 Portuguese Brazilian import
  src/content/translations/pt-br/community/grants/index.md
  src/content/translations/pt-br/community/online/index.md
  src/content/translations/pt-br/decentralized-identity/index.md
  src/content/translations/pt-br/developers/docs/dapps/index.md
  src/content/translations/pt-br/developers/docs/evm/index.md
  src/content/translations/pt-br/developers/docs/evm/opcodes/index.md
  src/content/translations/pt-br/developers/docs/gas/index.md
  src/content/translations/pt-br/developers/docs/networks/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/client-diversity/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/node-architecture/index.md
  src/content/translations/pt-br/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  src/content/translations/pt-br/developers/docs/transactions/index.md
  src/content/translations/pt-br/nft/index.md
  src/content/translations/pt-br/social-networks/index.md
  src/intl/pt-br/common.json
  src/intl/pt-br/page-dapps.json
  src/intl/pt-br/page-developers-docs.json
  src/intl/pt-br/page-index.json
  src/intl/pt-br/page-languages.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10698 July 17 Greek import
  src/content/translations/el/nft/index.md
  src/intl/el/common.json
  src/intl/el/page-dapps.json
  src/intl/el/page-eth.json
  src/intl/el/page-get-eth.json
  src/intl/el/page-index.json
  src/intl/el/page-stablecoins.json
  src/intl/el/page-wallets-find-wallet.json
  src/intl/el/page-wallets.json
  src/intl/el/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10697 July 17 German import
  src/intl/de/common.json
  src/intl/de/page-index.json
  src/intl/de/page-languages.json
  src/intl/de/page-what-is-ethereum.json
Labels: review needed :eyes:

#10438 refactor(find-wallet): Code-Split and Apply Chakra Tabs to Filter Sidebar
  src/components/FindWallet/WalletFilterSidebar/WalletFilterFeature/index.tsx
  src/components/FindWallet/WalletFilterSidebar/WalletFilterFeature/useWalletFilterFeature.tsx
  src/components/FindWallet/WalletFilterSidebar/WalletFilterProfile/index.tsx
  src/components/FindWallet/WalletFilterSidebar/WalletFilterProfile/useWalletFilterProfile.tsx
  src/components/FindWallet/WalletFilterSidebar/index.tsx
  src/pages/wallets/find-wallet.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10700 July 17 Polish import
  src/content/translations/pl/decentralized-identity/index.md
  src/content/translations/pl/desci/index.md
  src/content/translations/pl/nft/index.md
  src/intl/pl/common.json
  src/intl/pl/page-dapps.json
  src/intl/pl/page-index.json
  src/intl/pl/page-languages.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10435 ethereum-org-website: Update ethereum PoW reference
  src/intl/en/page-roadmap-vision.json
Labels: review needed :eyes:

#10717 Markdown patch
  src/content/energy-consumption/index.md
  src/content/enterprise/private-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10716 fix typo in slashing doc
  src/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10691 fix(Button): fix onClick prop call override
  src/components/Button/index.tsx
Labels: review needed :eyes:

#10695 chinese imports july 17
  src/content/translations/zh/bridges/index.md
  src/content/translations/zh/energy-consumption/index.md
  src/content/translations/zh/security/index.md
  src/intl/zh/common.json
  src/intl/zh/page-index.json
  src/intl/zh/page-languages.json
  src/intl/zh/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10690 Update index with Adding BlockPI RPC service in the 'BACKEND API LIBRARIES'
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10682 minor fixes on staking pages
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/content/staking/withdrawals/index.md
  src/intl/en/page-staking.json
Labels: content :fountain_pen:, review needed :eyes:

#10689 Added Tenderly Sandbox to Code sandboxes section #10672
  src/assets/dev-tools/tenderly.png
  src/intl/en/page-developers-learning-tools.json
  src/intl/es/page-developers-learning-tools.json
  src/intl/pt-br/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: review needed :eyes:

#10684 Added alternative block explorer
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10671 Update index.md
  src/content/developers/docs/standards/tokens/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10676 Content and terminology tweaks in defi
  src/content/defi/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10444 Adds Chainstack to Development Frameworks
  src/content/developers/docs/frameworks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10722 Fix translation json file
  src/intl/en/page-roadmap-vision.json
Labels: review needed :eyes:

#10475 Add quiz: run a node
  src/components/Quiz/QuizWidget.tsx
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/pages/run-a-node.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9868 feat(Avatar): create component, theme, and stories
  src/@chakra-ui/gatsby-plugin/components/Avatar.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/index.tsx
Labels: review needed :eyes:

#10477 Add quiz: scaling
  src/content/roadmap/scaling/index.md
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/templates/roadmap.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10476 Add quiz: staking
  src/content/staking/solo/index.md
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/templates/staking.tsx
  src/types.ts
Labels: content :fountain_pen:, review needed :eyes:

#10730 Add DeSci to use-case menu
  src/templates/use-cases.tsx
Labels: review needed :eyes:

#10721 Rerun yarn install
  yarn.lock
Labels: dependencies :package:

#10727 chore(deps): bump Chakra packges to latest (v2.8.0)
  package.json
  yarn.lock
Labels: dependencies :package:

#10731 Rerun yarn install
  yarn.lock
Labels: dependencies :package:

#10736 Fix learn hub layout
  src/pages/learn/index.tsx
  src/templates/use-cases.tsx
Labels: review needed :eyes:

#10380 feat(theme): add Alert component and theme
  src/@chakra-ui/gatsby-plugin/components/Alert.ts
  src/@chakra-ui/gatsby-plugin/components/components.utils.ts
  src/@chakra-ui/gatsby-plugin/components/index.ts
  src/components/Alert/Alert.stories.tsx
  src/components/Alert/index.tsx
  src/data/quizzes/questionBank.ts
Labels: review needed :eyes:

#10758 Hotfix: remove cross-env from build:lambda and build:10gb
  package.json
Labels: dependencies :package:

#10761 Hotfix: switch from googleapis to @googleapis/calendar
  package.json
  src/lambda/calendarEvents.ts
  yarn.lock
Labels: review needed :eyes:, dependencies :package:

#10763 Hotfix: switch from googleapis to @googleapis/calendar
  package.json
  src/lambda/calendarEvents.ts
  yarn.lock
Labels: review needed :eyes:, dependencies :package:

#10772 Update Chinese Simplified (zh) Learn Hub, Community, and Foundational PoS docs buckets
  src/content/translations/zh/community/grants/index.md
  src/content/translations/zh/community/online/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/pos-vs-pow/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/translations/zh/guides/index.md
  src/intl/zh/learn-quizzes.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10770 Update Farsi (fa) Homepage, Essentials, Exploring, Use Ethereum, and Use Cases buckets
  src/content/translations/fa/dao/index.md
  src/content/translations/fa/decentralized-identity/index.md
  src/content/translations/fa/defi/index.md
  src/content/translations/fa/desci/index.md
  src/content/translations/fa/nft/index.md
  src/content/translations/fa/smart-contracts/index.md
  src/content/translations/fa/social-networks/index.md
  src/intl/fa/common.json
  src/intl/fa/page-dapps.json
  src/intl/fa/page-developers-index.json
  src/intl/fa/page-developers-learning-tools.json
  src/intl/fa/page-developers-local-environment.json
  src/intl/fa/page-eth.json
  src/intl/fa/page-get-eth.json
  src/intl/fa/page-index.json
  src/intl/fa/page-languages.json
  src/intl/fa/page-layer-2.json
  src/intl/fa/page-run-a-node.json
  src/intl/fa/page-stablecoins.json
  src/intl/fa/page-wallets-find-wallet.json
  src/intl/fa/page-wallets.json
  src/intl/fa/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10769 Update Finnish (fi) Essentials, Exploring, and Use Ethereum buckets
  src/content/translations/fi/dao/index.md
  src/content/translations/fi/nft/index.md
  src/intl/fi/page-dapps.json
  src/intl/fi/page-developers-index.json
  src/intl/fi/page-developers-learning-tools.json
  src/intl/fi/page-developers-local-environment.json
  src/intl/fi/page-eth.json
  src/intl/fi/page-get-eth.json
  src/intl/fi/page-languages.json
  src/intl/fi/page-layer-2.json
  src/intl/fi/page-run-a-node.json
  src/intl/fi/page-stablecoins.json
  src/intl/fi/page-wallets-find-wallet.json
  src/intl/fi/page-wallets.json
  src/intl/fi/page-what-is-ethereum.json
  src/intl/fi/template-usecase.json
  src/scripts/crowdin-import.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:

#10768 Update Portuguese (pt) Homepage, Essentials, Exploring, Use Ethereum buckets
  src/content/translations/pt/dao/index.md
  src/content/translations/pt/nft/index.md
  src/intl/pt/common.json
  src/intl/pt/page-dapps.json
  src/intl/pt/page-developers-index.json
  src/intl/pt/page-developers-learning-tools.json
  src/intl/pt/page-developers-local-environment.json
  src/intl/pt/page-index.json
  src/intl/pt/page-languages.json
  src/intl/pt/page-layer-2.json
  src/intl/pt/page-run-a-node.json
  src/intl/pt/page-stablecoins.json
  src/intl/pt/page-wallets.json
  src/intl/pt/page-what-is-ethereum.json
  src/intl/pt/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10767 Update Swedish (se) Homepage, Essentials, and Exploring buckets
  src/content/translations/se/nft/index.md
  src/intl/se/common.json
  src/intl/se/page-dapps.json
  src/intl/se/page-get-eth.json
  src/intl/se/page-index.json
  src/intl/se/page-stablecoins.json
  src/intl/se/page-wallets-find-wallet.json
  src/intl/se/page-wallets.json
  src/intl/se/page-what-is-ethereum.json
  src/intl/se/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10782 Add ERC-223 to token standards list at the Advanced Standards tab
  src/content/developers/docs/standards/tokens/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:

#10781 revert community events widget
  package.json
  src/api/calendarEvents.ts
  src/components/CommunityEvents/index.tsx
  src/components/CommunityEvents/useCommunityEvents.ts
  src/intl/en/common.json
  src/intl/en/page-index.json
  src/lambda/calendarEvents.ts
  src/pages/index.tsx
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#10784 date format to match ethernodes.org
  src/content/developers/docs/nodes-and-clients/client-diversity/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10783 Update text for ETHMunich
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10778 Fix number error
  src/content/translations/zh/developers/docs/gas/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10776 removed Binance from Netherlands
  src/data/exchanges-by-country.csv
Labels: review needed :eyes:

#10765 minor updates to networks page
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10762 Fix typo in index.md
  src/content/translations/ro/developers/docs/programming-languages/ruby/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10760 Add translations for untranslated strings [General]
  src/components/BeaconChainActions.tsx
  src/components/EnergyConsumptionChart.tsx
  src/components/Footer.tsx
  src/components/Nav/useNav.ts
  src/components/Staking/StakingGuides.tsx
  src/intl/en/common.json
  src/intl/en/page-about.json
  src/intl/en/page-get-eth.json
  src/intl/en/page-staking.json
  src/intl/en/page-upgrades-index.json
  src/intl/en/page-upgrades.json
  src/intl/en/page-what-is-ethereum.json
  src/pages/developers/learning-tools.tsx
  src/pages/get-eth.tsx
  src/pages/staking/index.tsx
Labels: content :fountain_pen:, review needed :eyes:

#10757 fix(TableOfContents): declare import type with `Item`
  src/components/TableOfContents/index.tsx
Labels: review needed :eyes:

#10755 Edit index.md
  src/content/developers/docs/consensus-mechanisms/pos/faqs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10754 Edited introduction section of pow vs pos index.md
  src/content/developers/docs/consensus-mechanisms/pos/pos-vs-pow/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10738 Remove Zen mode from developer docs
  src/components/Layout.tsx
  src/components/TableOfContents/index.tsx
  src/components/ZenMode.tsx
  src/contexts/ZenModeContext.tsx
  src/intl/ar/common.json
  src/intl/az/common.json
  src/intl/bg/common.json
  src/intl/ca/common.json
  src/intl/cs/common.json
  src/intl/da/common.json
  src/intl/de/common.json
  src/intl/el/common.json
  src/intl/en/common.json
  src/intl/es/common.json
  src/intl/fa/common.json
  src/intl/fi/common.json
  src/intl/fil/common.json
  src/intl/fr/common.json
  src/intl/gl/common.json
  src/intl/gu/common.json
  src/intl/he/common.json
  src/intl/hi/common.json
  src/intl/hr/common.json
  src/intl/hu/common.json
  src/intl/id/common.json
  src/intl/it/common.json
  src/intl/ja/common.json
  src/intl/ka/common.json
  src/intl/kk/common.json
  src/intl/km/common.json
  src/intl/ko/common.json
  src/intl/lt/common.json
  src/intl/ml/common.json
  src/intl/mr/common.json
  src/intl/ms/common.json
  src/intl/nb/common.json
  src/intl/nl/common.json
  src/intl/pcm/common.json
  src/intl/pl/common.json
  src/intl/pt-br/common.json
  src/intl/pt/common.json
  src/intl/ro/common.json
  src/intl/ru/common.json
  src/intl/se/common.json
  src/intl/sk/common.json
  src/intl/sl/common.json
  src/intl/sr/common.json
  src/intl/sw/common.json
  src/intl/ta/common.json
  src/intl/th/common.json
  src/intl/tr/common.json
  src/intl/uk/common.json
  src/intl/ur/common.json
  src/intl/uz/common.json
  src/intl/vi/common.json
  src/intl/zh-tw/common.json
  src/intl/zh/common.json
  src/templates/docs.tsx
Labels: review needed :eyes:

#10735 fix(theme/Button): remove border color for solid variant
  src/@chakra-ui/gatsby-plugin/components/Button.ts
Labels: review needed :eyes:

#10732 Update content buckets on How to translate page
  src/content/contributing/translation-program/how-to-translate/crowdin-files.png
  src/content/contributing/translation-program/how-to-translate/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10780 minor updates to consensus-mechanisms/pos
  src/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10795 Broken links and misspellings in "Content buckets" page
  src/content/contributing/translation-program/content-buckets/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10802 Community Events widget
  package.json
  src/api/calendarEvents.ts
  src/components/CommunityEvents/index.tsx
  src/components/CommunityEvents/useCommunityEvents.ts
  src/intl/en/common.json
  src/intl/en/page-index.json
  src/lambda/calendarEvents.ts
  src/pages/index.tsx
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#10827 minor changes to accounts page
  src/content/developers/docs/accounts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10829 added NAVH event to community page
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10826 minor updates to smart contract page
  src/content/developers/docs/smart-contracts/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10824 Added TUM Blockchain Conference to community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#10812 [Hotfix] Fixes [#10806] added condition to setShouldShowSideNav as false
  src/components/Layout.tsx
Labels: review needed :eyes:

#10789 Create Translatathon page
  src/assets/assets/translatathon-hero.png
  src/content/contributing/translation-program/translatathon/approved.png
  src/content/contributing/translation-program/translatathon/index.md
  src/content/contributing/translation-program/translatathon/translated.png
  src/content/contributing/translation-program/translatathon/untranslated.png
  src/data/crowdin/combined-translators.json
  src/data/crowdin/file-ids.json
  src/data/crowdin/translation-buckets-dirs.json
  src/templates/event.tsx
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#10832 Backmerge master -> staging
  src/assets/assets/translatathon-hero.png
  src/components/Layout.tsx
  src/content/contributing/translation-program/translatathon/approved.png
  src/content/contributing/translation-program/translatathon/index.md
  src/content/contributing/translation-program/translatathon/translated.png
  src/content/contributing/translation-program/translatathon/untranslated.png
  src/data/crowdin/combined-translators.json
  src/data/crowdin/file-ids.json
  src/data/crowdin/translation-buckets-dirs.json
  src/templates/event.tsx
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#10833 Backmerge staging into dev
  src/assets/assets/translatathon-hero.png
  src/components/Layout.tsx
  src/content/contributing/translation-program/translatathon/approved.png
  src/content/contributing/translation-program/translatathon/index.md
  src/content/contributing/translation-program/translatathon/translated.png
  src/content/contributing/translation-program/translatathon/untranslated.png
  src/data/crowdin/combined-translators.json
  src/data/crowdin/file-ids.json
  src/data/crowdin/translation-buckets-dirs.json
  src/templates/event.tsx
  yarn.lock
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#10831 Info update: Arbitrum One information and links [Fixes #10830]
  src/data/layer-2/layer-2.json
  src/intl/de/page-layer-2.json
  src/intl/en/page-layer-2.json
  src/intl/es/page-layer-2.json
  src/intl/fr/page-layer-2.json
  src/intl/it/page-layer-2.json
  src/intl/pt-br/page-layer-2.json
Labels: review needed :eyes:

#10825 Fix Wrong Scrypt Parameter In Web3 Secret Storage Test Vector.
  src/content/developers/docs/data-structures-and-encoding/web3-secret-storage/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10816 added hover animation in footer social icons
  src/components/Footer.tsx
Labels: review needed :eyes:

#10815 Contextualize the "More on EIPs" link in the Governance page
  src/content/governance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10814 Add EIP information to "Get Involved" page
  src/content/community/get-involved/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10810 refactor: update sablier domain name
  src/content/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/fr/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/id/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/it/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/ja/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/ro/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/tr/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/content/translations/zh/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  src/pages-conditional/dapps.tsx
  src/pages-conditional/eth.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10804 Add Tokenview ETH Archive API to apis-backend-index
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10803 Add Tokenview ETH Node Service to nodes-as-a-service
  src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, review needed :eyes:
