Repository ethereum/ethereum-org-website, pull requests merged in 2023-02, with the labels that each got.

#9360 Remove OpenEthereum from "Nodes and clients" page
  src/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9106 Add GetBlock to the list of API providers
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/guides/how-to-revoke-token-access/index.md
  src/content/guides/how-to-swap-tokens/index.md
  src/content/guides/how-to-use-a-bridge/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9110 Add GetBlock to the Node providers
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9155 Add EIPs included in Paris upgrade to History section
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9165 Update index.md
  src/content/governance/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9170 Added Swarm storage system Update index.md
  src/content/developers/docs/storage/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9191 developers/networks: update current network plans
  src/content/developers/docs/networks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9136 Exterminate all non-canonical EIP links
  src/content/community/research/index.md
  src/content/deprecated-software/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  src/content/developers/docs/evm/opcodes/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/erc20-with-safety-rails/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/eips/index.md
  src/content/governance/index.md
  src/content/translations/ca/governance/index.md
  src/content/translations/de/developers/docs/gas/index.md
  src/content/translations/de/developers/docs/transactions/index.md
  src/content/translations/de/governance/index.md
  src/content/translations/es/developers/docs/gas/index.md
  src/content/translations/es/developers/docs/transactions/index.md
  src/content/translations/es/governance/index.md
  src/content/translations/fa/developers/docs/gas/index.md
  src/content/translations/fa/developers/docs/transactions/index.md
  src/content/translations/fa/governance/index.md
  src/content/translations/fr/developers/docs/gas/index.md
  src/content/translations/fr/developers/docs/transactions/index.md
  src/content/translations/fr/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/fr/governance/index.md
  src/content/translations/id/developers/docs/gas/index.md
  src/content/translations/id/developers/docs/transactions/index.md
  src/content/translations/id/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/translations/id/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/id/governance/index.md
  src/content/translations/it/developers/docs/gas/index.md
  src/content/translations/it/developers/docs/transactions/index.md
  src/content/translations/it/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/it/governance/index.md
  src/content/translations/ja/developers/docs/gas/index.md
  src/content/translations/ja/developers/docs/transactions/index.md
  src/content/translations/ja/governance/index.md
  src/content/translations/nl/governance/index.md
  src/content/translations/pt-br/developers/docs/gas/index.md
  src/content/translations/pt-br/developers/docs/transactions/index.md
  src/content/translations/pt-br/governance/index.md
  src/content/translations/ro/developers/docs/gas/index.md
  src/content/translations/ro/developers/docs/transactions/index.md
  src/content/translations/ro/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/translations/ro/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/ro/governance/index.md
  src/content/translations/ru/developers/docs/gas/index.md
  src/content/translations/ru/developers/docs/transactions/index.md
  src/content/translations/ru/governance/index.md
  src/content/translations/sl/governance/index.md
  src/content/translations/tr/developers/docs/gas/index.md
  src/content/translations/tr/developers/docs/transactions/index.md
  src/content/translations/tr/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/tr/governance/index.md
  src/content/translations/uk/governance/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  src/content/translations/zh/developers/docs/gas/index.md
  src/content/translations/zh/developers/docs/transactions/index.md
  src/content/translations/zh/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/zh/governance/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9197 Add docs on archive nodes
  src/content/developers/docs/nodes-and-clients/archive-nodes/index.md
  src/content/developers/docs/nodes-and-clients/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
Labels: content :fountain_pen:, review needed :eyes:

#9391 fix text alignment bug in ExpandableCard.tsx
  src/components/ExpandableCard.tsx
  src/intl/en/page-what-is-ethereum.json
Labels: review needed :eyes:

#9412 Bug report: all links lead to gemini on safari - stablecoins page
  src/components/SimpleTable.tsx
Labels: review needed :eyes:

#9050 Docs: Update Patricia Merkle Trees page naming and format [Fixes #9049]
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#8813 Added image for main PR #8812
  src/assets/dev-tools/alchemyuniversity.png
Labels: review needed :eyes:

#7772 Add MACI to zero-knowledge proof use-cases
  src/content/zero-knowledge-proofs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9269 Add Shanghai/Capella to history
  src/content/history/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9248 Staking withdrawals page
  redirects.json
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/assets/staking/leslie-withdrawal.png
  src/components/CopyToClipboard.tsx
  src/components/Staking/ShanghaiCapella.tsx
  src/components/Staking/WithdrawalCredentials.tsx
  src/components/Staking/WithdrawalsTabComparison.tsx
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/content/staking/withdrawals/index.md
  src/intl/en/common.json
  src/intl/en/page-staking.json
  src/intl/en/page-upgrades.json
  src/pages/staking/index.tsx
  src/templates/staking.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9281 Deprecate Prater naming, in favor of Goerli
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/content/translations/de/developers/docs/nodes-and-clients/index.md
  src/content/translations/de/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/index.md
  src/content/translations/es/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/fa/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/id/developers/docs/nodes-and-clients/index.md
  src/content/translations/id/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/pt-br/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/ro/developers/docs/nodes-and-clients/index.md
  src/content/translations/ro/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/ru/developers/docs/nodes-and-clients/index.md
  src/content/translations/tr/developers/docs/nodes-and-clients/index.md
  src/content/translations/tr/developers/tutorials/run-node-raspberry-pi/index.md
  src/intl/de/page-staking.json
  src/intl/en/page-staking.json
  src/intl/es/page-staking.json
  src/intl/fa/page-staking.json
  src/intl/fr/page-staking.json
  src/intl/it/page-staking.json
  src/intl/ja/page-staking.json
  src/intl/ko/page-staking.json
  src/intl/nl/page-staking.json
  src/intl/pt-br/page-staking.json
  src/intl/tr/page-staking.json
  src/intl/zh-tw/page-staking.json
  src/intl/zh/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9424 Deploy v7.3.0
  package.json
  redirects.json
  src/@chakra-ui/gatsby-plugin/semanticTokens.ts
  src/assets/dev-tools/alchemyuniversity.png
  src/assets/staking/leslie-withdrawal.png
  src/components/CopyToClipboard.tsx
  src/components/ExpandableCard.tsx
  src/components/SimpleTable.tsx
  src/components/Staking/ShanghaiCapella.tsx
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/components/Staking/WithdrawalCredentials.tsx
  src/components/Staking/WithdrawalsTabComparison.tsx
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/history/index.md
  src/content/staking/pools/index.md
  src/content/staking/saas/index.md
  src/content/staking/solo/index.md
  src/content/staking/withdrawals/index.md
  src/content/translations/de/developers/docs/nodes-and-clients/index.md
  src/content/translations/de/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/index.md
  src/content/translations/es/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/fa/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/docs/nodes-and-clients/index.md
  src/content/translations/fr/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/id/developers/docs/nodes-and-clients/index.md
  src/content/translations/id/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/pt-br/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/ro/developers/docs/nodes-and-clients/index.md
  src/content/translations/ro/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/translations/ru/developers/docs/nodes-and-clients/index.md
  src/content/translations/tr/developers/docs/nodes-and-clients/index.md
  src/content/translations/tr/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/zero-knowledge-proofs/index.md
  src/intl/de/page-staking.json
  src/intl/en/common.json
  src/intl/en/page-developers-learning-tools.json
  src/intl/en/page-staking.json
  src/intl/en/page-upgrades.json
  src/intl/en/page-what-is-ethereum.json
  src/intl/es/page-staking.json
  src/intl/fa/page-staking.json
  src/intl/fr/page-staking.json
  src/intl/it/page-staking.json
  src/intl/ja/page-staking.json
  src/intl/ko/page-staking.json
  src/intl/nl/page-staking.json
  src/intl/pt-br/page-staking.json
  src/intl/tr/page-staking.json
  src/intl/zh-tw/page-staking.json
  src/intl/zh/page-staking.json
  src/pages/developers/learning-tools.tsx
  src/pages/staking/index.tsx
  src/templates/staking.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:

#9428 Bumping Martin's EL bounty score with 2000 points
  src/data/execution-bounty-hunters.csv
Labels: review needed :eyes:

#9065 add ChainIDE
  src/assets/dev-tools/chainIDE.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: review needed :eyes:

#9231 update image name in flash command ethonarm
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs: technical content review

#9206 Added `from` key to transaction information
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs: technical content review

#9003 Docs: Update nonce description to account for front-running [Fixes #9002]
  src/content/developers/docs/accounts/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs: technical content review

#9257 Update to the new DAppNode brand [Fixes #9255]
  src/assets/run-a-node/dappnode.svg
  src/assets/run-a-node/dapptap.svg
  src/assets/staking/dappnode-glyph.svg
  src/components/SimpleTable.tsx
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/developers/docs/transactions/index.md
  src/data/staking-products.json
  src/pages/run-a-node.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9256 Replaced hero image on the wallets page with hero image from find wallets page
  src/pages-conditional/wallets.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9258 Clipboard readme file issues fix
  src/content/developers/docs/standards/tokens/erc-20/index.md
  src/content/developers/docs/standards/tokens/erc-721/index.md
  src/content/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  src/content/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/developers/tutorials/using-websockets/index.md
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/translations/de/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/de/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/es/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/es/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/es/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/fr/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/hu/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/hu/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/id/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/id/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/id/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  src/content/translations/id/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  src/content/translations/id/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/id/developers/tutorials/using-websockets/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/it/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/it/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/it/developers/tutorials/using-websockets/index.md
  src/content/translations/pl/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/pl/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/pl/developers/tutorials/using-websockets/index.md
  src/content/translations/ro/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/ro/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/ro/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/ro/developers/tutorials/using-websockets/index.md
  src/content/translations/sl/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/sl/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/tr/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/tr/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/zh/developers/docs/standards/tokens/erc-20/index.md
  src/content/translations/zh/developers/docs/standards/tokens/erc-721/index.md
  src/content/translations/zh/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  src/content/translations/zh/developers/tutorials/using-websockets/index.md
  src/content/translations/zh/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9266 Polygon Hermez no longer exists and link is non-functional, should be renamed to Polygon zkEVM
  src/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9272 Hash House Medellín
  src/data/community-meetups.json
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:

#9267 Adding metaschool to developer learning tools
  src/assets/dev-tools/metaschool.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: review needed :eyes:

#9279 Update Epirus reference with Sirato
  src/content/enterprise/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9285 Remove blanks in paragraph - Energy Consumption
  src/content/energy-consumption/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9289 Fix link to staking issue template
  src/content/contributing/adding-staking-products/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9305 Update ERC 1155 index.md
  src/content/developers/docs/standards/tokens/erc-1155/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9308 Fix stakes width issues on xl
  src/pages/staking/index.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9453 Typo in withdrawals (principle -> principal)
  src/content/staking/withdrawals/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9182 Fixed typos on src/content/translations/ja/developers/docs/gas/index.md
  src/content/translations/ja/developers/docs/gas/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9334 Corrects a typo
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9341 Fix missing syntax
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9342 Update index.md
  src/content/developers/docs/consensus-mechanisms/pos/faqs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9331 Additional free providers + JS library clarification
  src/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9346 update aztec links
  src/data/layer-2/layer-2.json
Labels: review needed :eyes:

#9348 change min amount to 0 and staking token name, added wallet to platfo…
  src/data/staking-products.json
Labels: review needed :eyes:

#9357 fix the checbox static white color check on all themes
  src/components/Checkbox.tsx
Labels: review needed :eyes:

#9486 Deploy v7.3.2
  package.json
  src/components/Checkbox.tsx
  src/content/developers/docs/consensus-mechanisms/pos/faqs/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/staking/withdrawals/index.md
  src/content/translations/ja/developers/docs/gas/index.md
  src/data/layer-2/layer-2.json
  src/data/staking-products.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:

#9460 Remove academic grants page
  src/content/community/grants/academic-grants-round/index.md
  src/content/community/grants/index.md
  src/content/community/research/index.md
  src/content/translations/ca/community/grants/index.md
  src/content/translations/nl/community/grants/index.md
  src/content/translations/ro/community/grants/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9369 refactor: contributors page to chakra
  src/pages/contributing/translation-program/contributors.tsx
Labels: review needed :eyes:, chakra-migration

#9084 Whitepaper Page: Removed dead link [Fixes #9083]
  src/content/whitepaper/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs grooming

#9459 Add a banner linking out to KZG ceremony
  src/components/Banners/DismissableBanner.tsx
  src/components/Layout.tsx
Labels: review needed :eyes:

#9482 Withdrawals page updates
  src/components/ExpandableCard.tsx
  src/components/Link.tsx
  src/components/Staking/ShanghaiCapella.tsx
  src/components/Staking/WithdrawalCredentials.tsx
  src/components/Staking/WithdrawalsTabComparison.tsx
  src/content/history/index.md
  src/content/staking/withdrawals/index.md
  src/templates/staking.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9503 Fix DismissableBanner bug
  src/components/Banners/DismissableBanner.tsx
Labels: review needed :eyes:

#9506 Update Translation Program stats
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9505 Fix broken Alchemy link
  src/pages/developers/learning-tools.tsx
Labels: review needed :eyes:

#9198 Update Ommer Description & EthHub Link [Fixes #8862]
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs: technical content review

#9064 Convert `markdown-checker.js` to TS
  package.json
  src/content/developers/tutorials/short-abi/index.md
  src/content/translations/es/decentralized-identity/index.md
  src/content/translations/pt-br/bridges/index.md
  src/scripts/markdownChecker.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, tooling :wrench:

#9006 Docs: Update Transaction page language & description [Fixes #9005]
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9040 Docs: Update Blocks page language & description [Fixes #9039]
  src/content/developers/docs/blocks/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9217 Added beaconcha.in block explorer
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9252 Ethereum-Stack documentation typo fix
  src/content/translations/de/developers/docs/ethereum-stack/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9126 Adds new resource: Crunchbase for Web3 Grants
  src/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9055 Docs: Update Gas page language [Fixes #9054]
  src/content/developers/docs/gas/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9276 Mention custom errors as a way to downsize contracts
  src/content/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9290 Correct localisation of energy consumption values
  src/content/energy-consumption/index.md
  src/content/translations/de/energy-consumption/index.md
  src/content/translations/fr/energy-consumption/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9317 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:

#9350 fix typo
  src/content/developers/docs/scaling/optimistic-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9358 About page updates
  src/api/roadmap.ts
  src/components/Roadmap.tsx
  src/content/about/index.md
  src/content/translations/de/about/index.md
  src/content/translations/es/about/index.md
  src/content/translations/fr/about/index.md
  src/content/translations/hu/about/index.md
  src/content/translations/id/about/index.md
  src/content/translations/it/about/index.md
  src/content/translations/pl/about/index.md
  src/content/translations/ro/about/index.md
  src/content/translations/tr/about/index.md
  src/content/translations/zh/about/index.md
  src/lambda/roadmap.ts
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9416 Improve the Ethereum Stack Page
  src/content/developers/docs/ethereum-stack/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9379 Fix broken DAppNode url
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9515 Remove undefined dependency
  src/templates/staking.tsx
Labels: review needed :eyes:

#9512 Deploy v7.3.3
  package.json
  src/api/roadmap.ts
  src/components/Banners/DismissableBanner.tsx
  src/components/ExpandableCard.tsx
  src/components/Layout.tsx
  src/components/Link.tsx
  src/components/Roadmap.tsx
  src/components/Staking/ShanghaiCapella.tsx
  src/components/Staking/WithdrawalCredentials.tsx
  src/components/Staking/WithdrawalsTabComparison.tsx
  src/content/about/index.md
  src/content/community/grants/academic-grants-round/index.md
  src/content/community/grants/index.md
  src/content/community/research/index.md
  src/content/contributing/translation-program/index.md
  src/content/developers/docs/blocks/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/developers/docs/ethereum-stack/index.md
  src/content/developers/docs/gas/index.md
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/developers/docs/scaling/optimistic-rollups/index.md
  src/content/developers/docs/transactions/index.md
  src/content/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  src/content/developers/tutorials/short-abi/index.md
  src/content/energy-consumption/index.md
  src/content/history/index.md
  src/content/staking/withdrawals/index.md
  src/content/translations/ca/community/grants/index.md
  src/content/translations/de/about/index.md
  src/content/translations/de/developers/docs/ethereum-stack/index.md
  src/content/translations/de/energy-consumption/index.md
  src/content/translations/es/about/index.md
  src/content/translations/es/decentralized-identity/index.md
  src/content/translations/fr/about/index.md
  src/content/translations/fr/energy-consumption/index.md
  src/content/translations/hu/about/index.md
  src/content/translations/id/about/index.md
  src/content/translations/it/about/index.md
  src/content/translations/nl/community/grants/index.md
  src/content/translations/pl/about/index.md
  src/content/translations/pt-br/bridges/index.md
  src/content/translations/ro/about/index.md
  src/content/translations/ro/community/grants/index.md
  src/content/translations/tr/about/index.md
  src/content/translations/zh/about/index.md
  src/content/whitepaper/index.md
  src/data/community-events.json
  src/lambda/roadmap.ts
  src/pages/contributing/translation-program/contributors.tsx
  src/pages/developers/learning-tools.tsx
  src/scripts/markdownChecker.ts
  src/templates/staking.tsx
  src/templates/static.tsx
  src/templates/upgrade.tsx
  src/templates/use-cases.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, tooling :wrench:

#9364 refactor(pages): migrate home page to Chakra
  src/pages/index.tsx
  src/types.ts
Labels: content :fountain_pen:, review needed :eyes:, chakra-migration

#9324 Upgrade storybook version to 7.0.0-beta.51
  .gitignore
  .storybook/babel-storybook-config.ts
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/BannerNotification/BannerNotification.stories.tsx
  src/components/Button/Button.stories.tsx
  src/components/Card/Card.stories.tsx
  src/components/Slider/Slider.stories.tsx
  yarn.lock
Labels: review needed :eyes:, dependencies :package:

#9397 refactor(page): acknowledgements page to Chakra
  src/pages/contributing/translation-program/acknowledgements.tsx
Labels: review needed :eyes:, chakra-migration

#9390 migrate the `find-wallet` page to Chakra
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:, chakra-migration

#9539 How we work GitHub
  README.md
Labels: tooling :wrench:, documentation :book:

#9367 Update index.md
  src/content/developers/docs/smart-contracts/deploying/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9370 Adding scio to CL bounty list
  src/data/consensus-bounty-hunters.csv
Labels: review needed :eyes:

#9385 Update index.md
  src/content/developers/docs/storage/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9392 Update Filebase details on storage page
  src/content/developers/docs/storage/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9403 Fix typo in how-to-revoke-token-access/index.md
  src/content/guides/how-to-revoke-token-access/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9200 Migrate EthHub Info & Remove EthHub Link on governance page
  src/content/governance/index.md
Labels: content :fountain_pen:, review needed :eyes:, needs: technical content review

#9395 Remove eth hub 9388
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:, review needed :eyes:, abandoned

#9405 Update index.md
  src/content/translations/pt-br/developers/docs/web2-vs-web3/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9427 Update index.md
  src/content/developers/docs/consensus-mechanisms/pos/faqs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9408 Add GetBlock Node provider
  src/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9444 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:

#9450 chore: Update l2beat Risk assessment button URL
  src/pages/layer-2.tsx
Labels: content :fountain_pen:, review needed :eyes:

#9447 fix small typos
  src/content/staking/withdrawals/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9567 fix 2 urls geth doc link
  src/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9532 Uniswap dead links
  src/content/developers/docs/oracles/index.md
  src/content/developers/docs/smart-contracts/security/index.md
  src/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/fr/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/id/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/it/developers/docs/smart-contracts/security/index.md
  src/content/translations/it/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/ja/developers/docs/smart-contracts/security/index.md
  src/content/translations/ro/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/tr/developers/tutorials/uniswap-v2-annotated-code/index.md
  src/content/translations/zh/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#9528 Add link to Recursive Length Prefix (RLP)
  src/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9493 Simplify PoS explanation
  src/content/developers/docs/intro-to-ethereum/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9488 Simplify merkle radix tree pseudocode
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9234 ci: Add Workflow for ChromaticUI Visual Regression Testing
  .github/workflows/chromatic.yml
Labels: tooling :wrench:

#9582 Update index.md
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9581 Update index.md
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9588 Resolved Typo in Documentation
  src/content/developers/docs/nodes-and-clients/node-architecture/index.md
Labels: content :fountain_pen:, review needed :eyes:

#9398 refactor(page staking): replace styled components with chakra ui
  src/pages/staking/index.tsx
Labels: review needed :eyes:, chakra-migration
