Repository ethereum/ethereum-org-website, pull requests merged in 2023-12, with the labels that each got.

#11758 Update translation stats and non-English pageviews chart
  src/assets/translation-program/pageviews-dark.png
  src/assets/translation-program/pageviews-light.png
  src/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11657 November 13 Spanish
  src/content/translations/es/community/code-of-conduct/index.md
  src/content/translations/es/community/get-involved/index.md
  src/content/translations/es/community/grants/index.md
  src/content/translations/es/community/language-resources/index.md
  src/content/translations/es/community/online/index.md
  src/content/translations/es/community/research/index.md
  src/content/translations/es/community/support/index.md
  src/content/translations/es/developers/docs/blocks/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/es/developers/docs/consensus-mechanisms/pos/keys/index.md
  src/content/translations/es/developers/docs/dapps/index.md
  src/content/translations/es/developers/docs/data-structures-and-encoding/index.md
  src/content/translations/es/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  src/content/translations/es/developers/docs/data-structures-and-encoding/rlp/index.md
  src/content/translations/es/developers/docs/data-structures-and-encoding/ssz/index.md
  src/content/translations/es/developers/docs/data-structures-and-encoding/web3-secret-storage-definition/index.md
  src/content/translations/es/developers/docs/intro-to-ethereum/index.md
  src/content/translations/es/developers/docs/networking-layer/index.md
  src/content/translations/es/developers/docs/networking-layer/network-addresses/index.md
  src/content/translations/es/developers/docs/networking-layer/portal-network/index.md
  src/content/translations/es/developers/docs/networks/index.md
  src/content/translations/es/developers/docs/nodes-and-clients/index.md
  src/content/translations/es/developers/docs/transactions/index.md
  src/content/translations/es/developers/docs/web2-vs-web3/index.md
  src/intl/es/common.json
  src/intl/es/page-eth.json
  src/intl/es/page-get-eth.json
  src/intl/es/page-wallets-find-wallet.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11656 November 13 Japanese
  src/content/translations/ja/developers/docs/accounts/index.md
  src/content/translations/ja/developers/docs/apis/backend/index.md
  src/content/translations/ja/developers/docs/apis/javascript/index.md
  src/content/translations/ja/developers/docs/apis/json-rpc/index.md
  src/content/translations/ja/developers/docs/blocks/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/faqs/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/pos-vs-pow/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/ja/developers/docs/dapps/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/block-explorers/index.md
  src/content/translations/ja/developers/docs/data-and-analytics/index.md
  src/content/translations/ja/developers/docs/development-networks/index.md
  src/content/translations/ja/developers/docs/evm/index.md
  src/content/translations/ja/developers/docs/evm/opcodes/index.md
  src/content/translations/ja/developers/docs/frameworks/index.md
  src/content/translations/ja/developers/docs/gas/index.md
  src/content/translations/ja/developers/docs/ides/index.md
  src/content/translations/ja/developers/docs/intro-to-ether/index.md
  src/content/translations/ja/developers/docs/intro-to-ethereum/index.md
  src/content/translations/ja/developers/docs/networks/index.md
  src/content/translations/ja/developers/docs/programming-languages/dot-net/index.md
  src/content/translations/ja/developers/docs/programming-languages/javascript/index.md
  src/content/translations/ja/developers/docs/programming-languages/python/index.md
  src/content/translations/ja/developers/docs/programming-languages/rust/index.md
  src/content/translations/ja/developers/docs/storage/index.md
  src/content/translations/ja/developers/docs/transactions/index.md
  src/intl/ja/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11655 November 13 Greek (Community)
  src/content/translations/el/community/code-of-conduct/index.md
  src/content/translations/el/community/events/index.md
  src/content/translations/el/community/get-involved/index.md
  src/content/translations/el/community/grants/index.md
  src/content/translations/el/community/language-resources/index.md
  src/content/translations/el/community/online/index.md
  src/content/translations/el/community/research/index.md
  src/content/translations/el/community/support/index.md
  src/intl/el/page-community.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11652 November 13 Chinese Simplified
  src/content/translations/zh/dao/index.md
  src/content/translations/zh/decentralized-identity/index.md
  src/content/translations/zh/defi/index.md
  src/content/translations/zh/desci/index.md
  src/content/translations/zh/developers/docs/accounts/index.md
  src/content/translations/zh/developers/docs/blocks/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/attestations/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/gasper/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/keys/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/pos-vs-pow/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  src/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  src/content/translations/zh/developers/docs/dapps/index.md
  src/content/translations/zh/developers/docs/index.md
  src/content/translations/zh/developers/docs/intro-to-ether/index.md
  src/content/translations/zh/developers/docs/networks/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/index.md
  src/content/translations/zh/developers/docs/nodes-and-clients/run-a-node/index.md
  src/content/translations/zh/developers/docs/transactions/index.md
  src/content/translations/zh/guides/how-to-create-an-ethereum-account/index.md
  src/content/translations/zh/guides/how-to-id-scam-tokens/index.md
  src/content/translations/zh/guides/how-to-revoke-token-access/index.md
  src/content/translations/zh/guides/how-to-swap-tokens/index.md
  src/content/translations/zh/guides/how-to-use-a-bridge/index.md
  src/content/translations/zh/guides/how-to-use-a-wallet/index.md
  src/content/translations/zh/refi/index.md
  src/content/translations/zh/smart-contracts/index.md
  src/content/translations/zh/staking/pools/index.md
  src/content/translations/zh/staking/saas/index.md
  src/content/translations/zh/staking/solo/index.md
  src/content/translations/zh/staking/withdrawals/index.md
  src/intl/zh/common.json
  src/intl/zh/learn-quizzes.json
  src/intl/zh/page-developers-docs.json
  src/intl/zh/page-developers-index.json
  src/intl/zh/page-developers-learning-tools.json
  src/intl/zh/page-developers-local-environment.json
  src/intl/zh/page-eth.json
  src/intl/zh/page-get-eth.json
  src/intl/zh/page-index.json
  src/intl/zh/page-languages.json
  src/intl/zh/page-layer-2.json
  src/intl/zh/page-learn.json
  src/intl/zh/page-run-a-node.json
  src/intl/zh/page-staking-deposit-contract.json
  src/intl/zh/page-staking.json
  src/intl/zh/page-wallets-find-wallet.json
  src/intl/zh/page-wallets.json
  src/intl/zh/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11761 Fix typos
  src/content/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/fr/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/id/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/it/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/ja/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/ro/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/tr/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/content/translations/zh/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  src/scripts/unusedTranslations.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:

#11747 Documentation Text Corrections in Ethereum Content
  src/content/enterprise/private-ethereum/index.md
  src/content/guides/how-to-swap-tokens/index.md
  src/content/guides/how-to-use-a-bridge/index.md
  src/content/nft/index.md
  src/content/roadmap/beacon-chain/index.md
  src/content/roadmap/danksharding/index.md
  src/content/roadmap/merge/issuance/index.md
  src/content/roadmap/single-slot-finality/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11737 Update designer docs
  src/content/developers/docs/design-and-ux/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11740 Implement privacy-preserving react-lite-youtube-embed
  package.json
  src/components/YouTube.tsx
  yarn.lock
Labels: review needed :eyes:, dependencies :package:

#11721 Fix various grammatical errors and typos in Ethereum tutorials
  src/content/developers/tutorials/run-node-raspberry-pi/index.md
  src/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/content/developers/tutorials/smart-contract-security-guidelines/index.md
  src/content/developers/tutorials/testing-erc-20-tokens-with-waffle/index.md
  src/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  src/content/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11709 Update: BlockWallet info and logo.
  src/assets/wallets/blockwallet.png
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#11716 Fixed links as per issue #11715
  src/content/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11720 Small typo fix
  src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11704 Update index.md
  src/content/developers/docs/smart-contracts/formal-verification/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11688 add translation in staking dropdown
  src/templates/staking.tsx
Labels: review needed :eyes:

#11696 Fix Broken Link for Devcon Blog
  src/content/foundation/index.md
  src/content/translations/de/foundation/index.md
  src/content/translations/es/foundation/index.md
  src/content/translations/fr/foundation/index.md
  src/content/translations/hu/foundation/index.md
  src/content/translations/id/foundation/index.md
  src/content/translations/it/foundation/index.md
  src/content/translations/ja/foundation/index.md
  src/content/translations/pl/foundation/index.md
  src/content/translations/pt-br/foundation/index.md
  src/content/translations/ro/foundation/index.md
  src/content/translations/tr/foundation/index.md
  src/content/translations/zh/foundation/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11451 Minor updates to websockets tutorial page
  src/content/developers/tutorials/using-websockets/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11769 Implement layer 2 hub hero
  src/assets/heroes/layer-2-hub-hero.jpg
  src/pages/layer-2.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11807 Add new guides image and image assets to /assets
  src/assets/heroes/garden.jpg
  src/assets/heroes/guides-hub-hero.jpg
  src/intl/en/page-assets.json
  src/pages/assets.tsx
  src/templates/static.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11810 Deploy v7.24.4
  src/assets/heroes/garden.jpg
  src/assets/heroes/guides-hub-hero.jpg
  src/components/CommunityEvents/index.tsx
  src/intl/en/page-assets.json
  src/pages/assets.tsx
  src/templates/static.tsx
Labels: content :fountain_pen:, review needed :eyes:
