Repository ethereum/ethereum-org-website, pull requests merged in 2024-02, with the labels that each got.

#12067 Update g0rbe contributor
  .all-contributorsrc
  README.md
Labels: internal :house:, documentation :book:

#11992 Strongly type all Quiz data types [refactor]
  src/components/Quiz/QuizWidget/AnswerIcon.tsx
  src/components/Quiz/QuizWidget/QuizRadioGroup.tsx
  src/components/Quiz/QuizWidget/context.ts
  src/components/Quiz/QuizWidget/index.tsx
  src/components/Quiz/QuizWidget/useQuizWidget.tsx
  src/components/Quiz/QuizzesList.tsx
  src/components/Quiz/QuizzesModal.tsx
  src/components/Quiz/useLocalQuizData.ts
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/lib/interfaces.ts
  src/lib/types.ts
  src/pages/quizzes.tsx
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#12069 fixed POAP logo render
  README.md
Labels: documentation :book:

#12087 add ethcc to upcoming events
  src/data/community-events.ts
Labels: review needed :eyes:

#12089 hot-fix: update page edit path logic [Fixes #11994]
  src/lib/utils/editPath.ts
Labels: review needed :eyes:

#11928 Fix url on whitepaper page to properly access whitepaper pdf [fixes #11918]
  src/components/Link.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12109 Typo : "NTF" instead of "NFT"
  public/content/translations/fr/web3/index.md
Labels: content :fountain_pen:

#12107 fix: homepage link to developers page
  src/pages/index.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12122 Add missing namespace for gas page translations
  src/lib/utils/translations.ts
Labels: translation :earth_africa:, review needed :eyes:

#12121 Update year on Translation program page
  public/content/contributing/translation-program/index.md
Labels: content :fountain_pen:, translation :earth_africa:

#12033 feat: Header updates
  public/wallets/find-wallet-hero.png
  src/components/FindWallet/WalletTable/index.tsx
  src/intl/en/page-wallets-find-wallet.json
  src/lib/utils/translations.ts
  src/pages/contributing/translation-program/contributors.tsx
  src/pages/wallets/find-wallet.tsx
  src/pages/wallets/index.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, tooling :wrench:, internal :house:, documentation :book:, event :date:

#12042 feat: supported locale filter
  src/data/wallets/wallet-data.ts
  src/lib/utils/wallets.ts
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:

#12006 Language picker
  .github/workflows/get-translation-progress.yml
  i18n.config.json
  src/components/LanguagePicker/MenuItem.tsx
  src/components/LanguagePicker/NoResultsCallout.tsx
  src/components/LanguagePicker/ProgressBar.tsx
  src/components/LanguagePicker/index.tsx
  src/components/LanguagePicker/useLanguagePicker.tsx
  src/components/Nav/Mobile.tsx
  src/components/Nav/index.tsx
  src/data/translationProgress.json
  src/intl/en/page-languages.json
  src/lib/types.ts
  src/lib/utils/translations.ts
  src/pages/assets.tsx
  src/pages/bug-bounty.tsx
  src/pages/community.tsx
  src/pages/contributing/translation-program/acknowledgements.tsx
  src/pages/contributing/translation-program/contributors.tsx
  src/pages/dapps.tsx
  src/pages/developers/index.tsx
  src/pages/developers/learning-tools.tsx
  src/pages/developers/local-environment.tsx
  src/pages/developers/tutorials.tsx
  src/pages/eth.tsx
  src/pages/gas.tsx
  src/pages/get-eth.tsx
  src/pages/layer-2.tsx
  src/pages/learn.tsx
  src/pages/quizzes.tsx
  src/pages/roadmap/vision.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/deposit-contract.tsx
  src/pages/staking/index.tsx
  src/pages/wallets/find-wallet.tsx
  src/pages/wallets/index.tsx
  src/pages/what-is-ethereum.tsx
  src/scripts/crowdin/getTranslationProgress.ts
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:, internal :house:

#11333 style: declare secondary styling for outline buttons in "primary/secondary" button pairs
  src/components/PageHero.tsx
  src/pages/bug-bounty.tsx
  src/pages/community.tsx
  src/pages/index.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
  src/pages/what-is-ethereum.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12137 fix roadmap link [Fixes #12108]
  public/content/roadmap/index.md
Labels: content :fountain_pen:

#12141 Safe Design system to the list on the Design docs
  public/content/developers/docs/design-and-ux/index.md
Labels: content :fountain_pen:

#12153 fixed punctuation errors and improved sentence structure for better clarity
  public/content/contributing/adding-desci-projects/index.md
Labels: content :fountain_pen:

#12149 fix: README logo image src path
  README.md
Labels: documentation :book:

#12148 Fix a typo (Rewards and penalties page)
  public/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
Labels: content :fountain_pen:

#12100 Fix broken gas-tx image (pt-br)
  public/content/translations/pt-br/developers/docs/transactions/gas-tx.png
Labels: content :fountain_pen:

#12129 Remove broken links on get-involved page
  public/content/community/get-involved/index.md
Labels: content :fountain_pen:

#12082 Remove, replace, and update links on desci page
  public/content/desci/index.md
Labels: content :fountain_pen:

#12112 fixed the broken link to correct one stated in issue: Update USDC link on stablecoin.tsx #12077
  src/pages/stablecoins.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12018 Updates in style-guide and date format
  public/content/contributing/style-guide/content-standardization/index.md
  public/content/developers/docs/nodes-and-clients/client-diversity/index.md
Labels: content :fountain_pen:

#11359 Update correct link for DAI info
  src/pages/stablecoins.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11731 added aria label to main feedback widget fix #11725
  src/components/FeedbackWidget.tsx
  src/intl/en/common.json
Labels: translation :earth_africa:, review needed :eyes:

#12031 fix: search modal scroll position and overlay
  src/components/Search/SearchModal.tsx
  src/components/Search/utils.ts
Labels: review needed :eyes:

#12106 Fix #12101: Bug: missing space in history entries
  src/components/History/NetworkUpgradeSummary.tsx
Labels: review needed :eyes:

#12008 Updates in gas docs and history docs
  public/content/developers/docs/gas/index.md
  public/content/history/index.md
Labels: content :fountain_pen:

#12162 fix: initialize useTranslation
  src/components/FeedbackWidget.tsx
  src/intl/en/common.json
Labels: translation :earth_africa:, review needed :eyes:

#11687 Fix: padding of "What can Ethereum do?" section
  src/pages/what-is-ethereum.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11307 Update outdated Kurtosis ethereum package links & description
  public/content/developers/docs/development-networks/index.md
  src/lib/api/ghRepoData.ts
Labels: content :fountain_pen:, review needed :eyes:

#12163 fix: env var name in crowdin-import after Next.js migration
  src/scripts/crowdin-import.ts
Labels: review needed :eyes:, tooling :wrench:

#12127 Change miner to maximal in MEV
  public/content/developers/docs/mev/index.md
Labels: content :fountain_pen:

#12143 fix: removed skiff (defunct and shutting down in 6 months)
  src/pages/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11976 German import
  public/content/translations/de/community/code-of-conduct/index.md
  public/content/translations/de/community/get-involved/index.md
  public/content/translations/de/community/grants/index.md
  public/content/translations/de/community/language-resources/index.md
  public/content/translations/de/community/online/index.md
  public/content/translations/de/community/research/index.md
  public/content/translations/de/community/support/index.md
  public/content/translations/de/decentralized-identity/index.md
  public/content/translations/de/desci/index.md
  public/content/translations/de/developers/docs/blocks/index.md
  public/content/translations/de/developers/docs/evm/index.md
  public/content/translations/de/developers/docs/evm/opcodes/index.md
  public/content/translations/de/developers/docs/gas/index.md
  public/content/translations/de/developers/docs/networks/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/light-clients/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/node-architecture/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/de/guides/how-to-create-an-ethereum-account/index.md
  public/content/translations/de/guides/how-to-id-scam-tokens/index.md
  public/content/translations/de/guides/how-to-swap-tokens/index.md
  public/content/translations/de/guides/how-to-use-a-bridge/index.md
  public/content/translations/de/guides/how-to-use-a-wallet/index.md
  public/content/translations/de/guides/index.md
  public/content/translations/de/refi/index.md
  public/content/translations/de/roadmap/account-abstraction/index.md
  public/content/translations/de/roadmap/index.md
  public/content/translations/de/roadmap/merge/index.md
  public/content/translations/de/roadmap/merge/issuance/index.md
  public/content/translations/de/roadmap/single-slot-finality/index.md
  public/content/translations/de/roadmap/statelessness/index.md
  public/content/translations/de/staking/pools/index.md
  public/content/translations/de/staking/saas/index.md
  public/content/translations/de/staking/solo/index.md
  public/content/translations/de/staking/withdrawals/index.md
  src/intl/de/common.json
  src/intl/de/learn-quizzes.json
  src/intl/de/page-get-eth.json
  src/intl/de/page-languages.json
  src/intl/de/page-layer-2.json
  src/intl/de/page-learn.json
  src/intl/de/page-upgrades-index.json
  src/intl/de/page-wallets-find-wallet.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12092 Add Base as an Optimistic rollup [Fixes #11698]
  public/layer-2/base.png
  src/data/layer-2/layer-2.ts
  src/intl/en/page-layer-2.json
Labels: translation :earth_africa:, review needed :eyes:

#12168 Remove Skiff i18n JSON strings
  src/intl/az/page-dapps.json
  src/intl/en/page-dapps.json
  src/intl/es/page-dapps.json
  src/intl/fr/page-dapps.json
  src/intl/hu/page-dapps.json
  src/intl/tr/page-dapps.json
  src/intl/zh/page-dapps.json
Labels: translation :earth_africa:, review needed :eyes:

#10724 Update links to grant programs
  public/content/community/grants/index.md
Labels: content :fountain_pen:

#11985 Russian import
  public/content/translations/ru/community/get-involved/index.md
  public/content/translations/ru/community/grants/index.md
  public/content/translations/ru/community/language-resources/index.md
  public/content/translations/ru/community/online/index.md
  public/content/translations/ru/community/research/index.md
  public/content/translations/ru/community/support/index.md
  public/content/translations/ru/developers/docs/blocks/index.md
  public/content/translations/ru/developers/docs/evm/index.md
  public/content/translations/ru/developers/docs/evm/opcodes/index.md
  public/content/translations/ru/developers/docs/gas/index.md
  public/content/translations/ru/developers/docs/networks/index.md
  public/content/translations/ru/developers/docs/transactions/index.md
  public/content/translations/ru/guides/how-to-create-an-ethereum-account/index.md
  public/content/translations/ru/guides/how-to-swap-tokens/index.md
  public/content/translations/ru/guides/how-to-use-a-bridge/index.md
  public/content/translations/ru/guides/how-to-use-a-wallet/index.md
  src/intl/ru/common.json
  src/intl/ru/page-gas.json
  src/intl/ru/page-get-eth.json
  src/intl/ru/page-index.json
  src/intl/ru/page-learn.json
  src/intl/ru/page-wallets-find-wallet.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11999 Add growthepie.xyz to tools on layer 2 page
  public/layer-2/growthepie.png
  src/intl/en/page-layer-2.json
  src/pages/layer-2.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12136 LanguagePicker style adjustments
  src/components/LanguagePicker/MenuItem.tsx
Labels: review needed :eyes:

#11796 Fix typo on PBS roadmap page
  public/content/roadmap/pbs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11794 Fix typo on sidechains developer doc
  public/content/developers/docs/scaling/sidechains/index.md
Labels: content :fountain_pen:, review needed :eyes:

#12113 Added ETHSaafri event info for 2024
  src/data/community-events.ts
Labels: review needed :eyes:

#11542 Add Aurox wallet information
  public/wallets/aurox.png
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#12175 fix: add missing locales to Lang union type
  src/lib/types.ts
Labels: review needed :eyes:, tooling :wrench:

#12145 Update eth2book link
  public/content/developers/docs/consensus-mechanisms/pos/attestations/index.md
Labels: content :fountain_pen:

#11800 Fix a typo
  public/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11788 Update community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#12165 added translation to Dashboard and Eduction (in stablecoins page)
  src/intl/am/page-stablecoins.json
  src/intl/ar/page-stablecoins.json
  src/intl/az/page-stablecoins.json
  src/intl/bg/page-stablecoins.json
  src/intl/bn/page-stablecoins.json
  src/intl/ca/page-stablecoins.json
  src/intl/cs/page-stablecoins.json
  src/intl/da/page-stablecoins.json
  src/intl/de/page-stablecoins.json
  src/intl/el/page-stablecoins.json
  src/intl/en/page-stablecoins.json
  src/intl/es/page-stablecoins.json
  src/intl/fa/page-stablecoins.json
  src/intl/fi/page-stablecoins.json
  src/intl/fil/page-stablecoins.json
  src/intl/fr/page-stablecoins.json
  src/intl/gl/page-stablecoins.json
  src/intl/gu/page-stablecoins.json
  src/intl/he/page-stablecoins.json
  src/intl/hi/page-stablecoins.json
  src/intl/hr/page-stablecoins.json
  src/intl/hu/page-stablecoins.json
  src/intl/hy-am/page-stablecoins.json
  src/intl/id/page-stablecoins.json
  src/intl/ig/page-stablecoins.json
  src/intl/it/page-stablecoins.json
  src/intl/ja/page-stablecoins.json
  src/intl/ka/page-stablecoins.json
  src/intl/kk/page-stablecoins.json
  src/intl/km/page-stablecoins.json
  src/intl/kn/page-stablecoins.json
  src/intl/ko/page-stablecoins.json
  src/intl/lt/page-stablecoins.json
  src/intl/ml/page-stablecoins.json
  src/intl/mr/page-stablecoins.json
  src/intl/ms/page-stablecoins.json
  src/intl/nb/page-stablecoins.json
  src/intl/nl/page-stablecoins.json
  src/intl/pcm/page-stablecoins.json
  src/intl/pl/page-stablecoins.json
  src/intl/pt-br/page-stablecoins.json
  src/intl/pt/page-stablecoins.json
  src/intl/ro/page-stablecoins.json
  src/intl/ru/page-stablecoins.json
  src/intl/se/page-stablecoins.json
  src/intl/sk/page-stablecoins.json
  src/intl/sl/page-stablecoins.json
  src/intl/sr/page-stablecoins.json
  src/intl/sw/page-stablecoins.json
  src/intl/ta/page-stablecoins.json
  src/intl/th/page-stablecoins.json
  src/intl/tr/page-stablecoins.json
  src/intl/uk/page-stablecoins.json
  src/intl/ur/page-stablecoins.json
  src/intl/uz/page-stablecoins.json
  src/intl/vi/page-stablecoins.json
  src/intl/zh-tw/page-stablecoins.json
  src/intl/zh/page-stablecoins.json
  src/pages/stablecoins.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12174 add banner to community events page [fixes #11838]
  src/components/DevconGrantsBanner.tsx
  src/layouts/Static.tsx
Labels: review needed :eyes:

#11309 update general message passing bridges example
  public/content/developers/docs/bridges/index.md
Labels: content :fountain_pen:, review needed :eyes:

#12062 Fixes ERC4626 broken link
  public/content/developers/docs/standards/tokens/erc-4626/index.md
  public/content/translations/es/developers/docs/standards/tokens/erc-4626/index.md
  public/content/translations/fr/developers/docs/standards/tokens/erc-4626/index.md
  public/content/translations/it/developers/docs/standards/tokens/erc-4626/index.md
  public/content/translations/ja/developers/docs/standards/tokens/erc-4626/index.md
  public/content/translations/pt-br/developers/docs/standards/tokens/erc-4626/index.md
  public/content/translations/tr/developers/docs/standards/tokens/erc-4626/index.md
  public/content/translations/zh/developers/docs/standards/tokens/erc-4626/index.md
Labels: content :fountain_pen:

#12190 Fix typo(keccack to keccak)
  public/content/developers/docs/apis/json-rpc/index.md
  public/content/translations/de/developers/docs/apis/json-rpc/index.md
  public/content/translations/es/developers/docs/apis/json-rpc/index.md
  public/content/translations/fr/developers/docs/apis/json-rpc/index.md
  public/content/translations/hu/developers/docs/apis/json-rpc/index.md
  public/content/translations/it/developers/docs/apis/json-rpc/index.md
  public/content/translations/ja/developers/docs/apis/json-rpc/index.md
  public/content/translations/pt-br/developers/docs/apis/json-rpc/index.md
  public/content/translations/tr/developers/docs/apis/json-rpc/index.md
  public/content/translations/zh/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:

#12188 Devcon banner component update
  src/components/DevconGrantsBanner.tsx
Labels: review needed :eyes:

#12179 Added missing whitespace after numbered emojis in all languages [Fixe…
  public/content/contributing/design/index.md
  public/content/translations/de/contributing/design/index.md
  public/content/translations/es/contributing/design/index.md
  public/content/translations/fr/contributing/design/index.md
  public/content/translations/it/contributing/design/index.md
  public/content/translations/pt-br/contributing/design/index.md
  public/content/translations/tr/contributing/design/index.md
Labels: content :fountain_pen:

#12047 Update community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#12197 remove tornado cash translations
  src/intl/am/page-dapps.json
  src/intl/ar/page-dapps.json
  src/intl/az/page-dapps.json
  src/intl/bg/page-dapps.json
  src/intl/bn/page-dapps.json
  src/intl/ca/page-dapps.json
  src/intl/cs/page-dapps.json
  src/intl/de/page-dapps.json
  src/intl/el/page-dapps.json
  src/intl/en/page-dapps.json
  src/intl/es/page-dapps.json
  src/intl/fa/page-dapps.json
  src/intl/fi/page-dapps.json
  src/intl/fil/page-dapps.json
  src/intl/fr/page-dapps.json
  src/intl/hi/page-dapps.json
  src/intl/hr/page-dapps.json
  src/intl/hu/page-dapps.json
  src/intl/hy-am/page-dapps.json
  src/intl/id/page-dapps.json
  src/intl/ig/page-dapps.json
  src/intl/it/page-dapps.json
  src/intl/ja/page-dapps.json
  src/intl/km/page-dapps.json
  src/intl/kn/page-dapps.json
  src/intl/ko/page-dapps.json
  src/intl/ml/page-dapps.json
  src/intl/mr/page-dapps.json
  src/intl/ms/page-dapps.json
  src/intl/nl/page-dapps.json
  src/intl/pcm/page-dapps.json
  src/intl/pl/page-dapps.json
  src/intl/pt-br/page-dapps.json
  src/intl/pt/page-dapps.json
  src/intl/ro/page-dapps.json
  src/intl/ru/page-dapps.json
  src/intl/se/page-dapps.json
  src/intl/sl/page-dapps.json
  src/intl/sr/page-dapps.json
  src/intl/sw/page-dapps.json
  src/intl/tr/page-dapps.json
  src/intl/uk/page-dapps.json
  src/intl/vi/page-dapps.json
  src/intl/zh-tw/page-dapps.json
  src/intl/zh/page-dapps.json
Labels: translation :earth_africa:, review needed :eyes:

#11904 Update Nodes-as-a-Service list
  public/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:

#12128 Fix table overflow
  src/components/Table/index.tsx
  src/layouts/Static.tsx
Labels: review needed :eyes:

#12200 Deprecate /deprecated-software Page [Fixes #12193]
  public/_redirects
  public/content/deprecated-software/index.md
  public/content/translations/fr/deprecated-software/index.md
  public/content/translations/it/deprecated-software/index.md
  public/content/translations/tr/deprecated-software/index.md
  public/deprecated-software/parity-logo-5chdn.svg
  public/deprecated-software/sparkpool-logo-05f46574eac2ad_876.png
  src/data/crowdin/file-ids.json
  src/lib/utils/md.ts
  src/scripts/markdownChecker.ts
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:, abandoned

#12204 Fix fallback for locale display names
  src/components/LanguagePicker/useLanguagePicker.tsx
  src/intl/ar/page-languages.json
  src/intl/fa/page-languages.json
  src/intl/fil/page-languages.json
  src/intl/sl/common.json
  src/intl/uk/page-languages.json
Labels: translation :earth_africa:, review needed :eyes:

#12206 [hot-patch] Intl empty strings
  package.json
  src/components/LanguagePicker/useLanguagePicker.tsx
  src/data/published.json
  src/intl/ar/page-languages.json
  src/intl/fa/page-languages.json
  src/intl/fil/page-languages.json
  src/intl/sl/common.json
  src/intl/uk/page-languages.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, dependencies :package:, internal :house:, documentation :book:

#11772 fix H4 sizing on /staking page: [Fixes #11409]
  src/pages/staking/index.tsx
Labels: review needed :eyes:

#12221 [Hotfix] - Remove multichain
  src/pages/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12224 feat: add desktop nav menu animations
  src/components/Nav/Menu/LvlContent.tsx
  src/components/Nav/Menu/SubMenu.tsx
  src/components/Nav/Menu/index.tsx
  src/components/Nav/Menu/useNavMenu.ts
  src/components/Nav/Menu/useSubMenu.ts
Labels: review needed :eyes:

#12215 Fix markdown code format
  public/content/developers/tutorials/erc20-annotated-code/index.md
Labels: content :fountain_pen:

#12211 Fixing typo
  public/content/developers/tutorials/erc20-annotated-code/index.md
Labels: content :fountain_pen:

#12223 fix: footer social buttons strange outline [Fixes #12213]
  src/components/Footer.tsx
Labels: review needed :eyes:

#12210 Update paths for trailingSlash rule
  src/components/Breadcrumbs/index.tsx
  src/components/FeedbackWidget.tsx
  src/data/developer-docs-links.yaml
  src/hooks/useSurvey.ts
  src/layouts/RootLayout.tsx
  src/lib/utils/i18n.ts
  src/lib/utils/translations.ts
  src/lib/utils/url.ts
Labels: translation :earth_africa:, review needed :eyes:, tooling :wrench:

#12238 Azerbaijani Feb 20 (Essentials)
  src/intl/az/page-gas.json
  src/intl/az/page-wallets-find-wallet.json
Labels: translation :earth_africa:, review needed :eyes:

#12240 Chinese import Feb 20
  public/content/translations/zh/decentralized-identity/index.md
  public/content/translations/zh/defi/index.md
  public/content/translations/zh/desci/index.md
  public/content/translations/zh/developers/docs/apis/backend/index.md
  public/content/translations/zh/developers/docs/apis/javascript/index.md
  public/content/translations/zh/developers/docs/apis/json-rpc/index.md
  public/content/translations/zh/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/zh/developers/docs/data-and-analytics/index.md
  public/content/translations/zh/developers/docs/data-structures-and-encoding/index.md
  public/content/translations/zh/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/zh/developers/docs/data-structures-and-encoding/rlp/index.md
  public/content/translations/zh/developers/docs/data-structures-and-encoding/ssz/index.md
  public/content/translations/zh/developers/docs/data-structures-and-encoding/web3-secret-storage-definition/index.md
  public/content/translations/zh/developers/docs/development-networks/index.md
  public/content/translations/zh/developers/docs/ethereum-stack/index.md
  public/content/translations/zh/developers/docs/frameworks/index.md
  public/content/translations/zh/developers/docs/ides/index.md
  public/content/translations/zh/developers/docs/networking-layer/index.md
  public/content/translations/zh/developers/docs/networking-layer/portal-network/index.md
  public/content/translations/zh/developers/docs/programming-languages/dart/index.md
  public/content/translations/zh/developers/docs/programming-languages/delphi/index.md
  public/content/translations/zh/developers/docs/programming-languages/dot-net/index.md
  public/content/translations/zh/developers/docs/programming-languages/golang/index.md
  public/content/translations/zh/developers/docs/programming-languages/index.md
  public/content/translations/zh/developers/docs/programming-languages/java/index.md
  public/content/translations/zh/developers/docs/programming-languages/javascript/index.md
  public/content/translations/zh/developers/docs/programming-languages/python/index.md
  public/content/translations/zh/developers/docs/programming-languages/ruby/index.md
  public/content/translations/zh/developers/docs/programming-languages/rust/index.md
  public/content/translations/zh/developers/docs/smart-contracts/anatomy/index.md
  public/content/translations/zh/developers/docs/smart-contracts/compiling/index.md
  public/content/translations/zh/developers/docs/smart-contracts/composability/index.md
  public/content/translations/zh/developers/docs/smart-contracts/deploying/index.md
  public/content/translations/zh/developers/docs/smart-contracts/formal-verification/index.md
  public/content/translations/zh/developers/docs/smart-contracts/index.md
  public/content/translations/zh/developers/docs/smart-contracts/languages/index.md
  public/content/translations/zh/developers/docs/smart-contracts/libraries/index.md
  public/content/translations/zh/developers/docs/smart-contracts/security/index.md
  public/content/translations/zh/developers/docs/smart-contracts/testing/index.md
  public/content/translations/zh/developers/docs/smart-contracts/upgrading/index.md
  public/content/translations/zh/developers/docs/smart-contracts/verifying/index.md
  public/content/translations/zh/developers/docs/storage/index.md
  public/content/translations/zh/refi/index.md
  src/intl/zh/common.json
  src/intl/zh/page-gas.json
  src/intl/zh/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12248 fix: spelling and whitespace bugs
  public/content/developers/docs/development-networks/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/index.md
Labels: content :fountain_pen:

#12222 Fix dead link (OpenZeppelin Contracts Wizard)
  public/content/developers/tutorials/erc20-with-safety-rails/index.md
  public/content/translations/fr/developers/tutorials/erc20-with-safety-rails/index.md
  public/content/translations/it/developers/tutorials/erc20-with-safety-rails/index.md
  public/content/translations/pt-br/developers/tutorials/erc20-with-safety-rails/index.md
  public/content/translations/tr/developers/tutorials/erc20-with-safety-rails/index.md
Labels: content :fountain_pen:

#12247 Polish import Feb 20
  src/intl/pl/learn-quizzes.json
  src/intl/pl/page-gas.json
Labels: translation :earth_africa:, review needed :eyes:

#12134 Default locale prefix in url
  next-i18next.config.js
  next.config.js
  public/_redirects
  src/components/Breadcrumbs/index.tsx
  src/components/FeedbackWidget.tsx
  src/components/LanguagePicker/useLanguagePicker.tsx
  src/components/PageMetadata.tsx
  src/data/developer-docs-links.yaml
  src/hooks/useSurvey.ts
  src/layouts/RootLayout.tsx
  src/lib/constants.ts
  src/lib/utils/i18n.ts
  src/lib/utils/translations.ts
  src/lib/utils/url.ts
  src/middleware.ts
  src/pages/[...slug].tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, tooling :wrench:, internal :house:

#12261 Explain ENS in full
  public/content/web3/index.md
Labels: content :fountain_pen:

#12241 French import Feb 20
  public/content/translations/fr/community/get-involved/index.md
  public/content/translations/fr/community/online/index.md
  public/content/translations/fr/community/research/index.md
  public/content/translations/fr/community/support/index.md
  public/content/translations/fr/contributing/adding-products/index.md
  public/content/translations/fr/contributing/adding-staking-products/index.md
  public/content/translations/fr/contributing/design-principles/index.md
  public/content/translations/fr/contributing/index.md
  public/content/translations/fr/contributing/translation-program/how-to-translate/index.md
  public/content/translations/fr/contributing/translation-program/index.md
  public/content/translations/fr/contributing/translation-program/translators-guide/index.md
  public/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/fr/developers/docs/smart-contracts/anatomy/index.md
  public/content/translations/fr/developers/docs/smart-contracts/deploying/index.md
  public/content/translations/fr/developers/docs/smart-contracts/languages/index.md
  public/content/translations/fr/developers/docs/smart-contracts/security/index.md
  public/content/translations/fr/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/translations/fr/glossary/index.md
  public/content/translations/fr/history/index.md
  src/intl/fr/common.json
  src/intl/fr/glossary.json
  src/intl/fr/page-dapps.json
  src/intl/fr/page-stablecoins.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12242 Hungarian import Feb 20
  public/content/translations/hu/about/index.md
  public/content/translations/hu/community/online/index.md
  public/content/translations/hu/community/support/index.md
  public/content/translations/hu/decentralized-identity/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/hu/developers/docs/data-structures-and-encoding/index.md
  public/content/translations/hu/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/hu/developers/docs/data-structures-and-encoding/rlp/index.md
  public/content/translations/hu/developers/docs/data-structures-and-encoding/ssz/index.md
  public/content/translations/hu/developers/docs/data-structures-and-encoding/web3-secret-storage-definition/index.md
  public/content/translations/hu/developers/docs/networking-layer/index.md
  public/content/translations/hu/developers/docs/networking-layer/network-addresses/index.md
  public/content/translations/hu/developers/docs/networking-layer/portal-network/index.md
  public/content/translations/hu/enterprise/index.md
  public/content/translations/hu/enterprise/private-ethereum/index.md
  public/content/translations/hu/foundation/index.md
  public/content/translations/hu/glossary/index.md
  public/content/translations/hu/history/index.md
  public/content/translations/hu/whitepaper/index.md
  src/intl/hu/common.json
  src/intl/hu/glossary.json
  src/intl/hu/page-about.json
  src/intl/hu/page-assets.json
  src/intl/hu/page-bug-bounty.json
  src/intl/hu/page-index.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12243 Indonesian import Feb 20
  public/content/translations/id/decentralized-identity/index.md
  public/content/translations/id/desci/index.md
  public/content/translations/id/refi/index.md
  src/intl/id/page-developers-index.json
  src/intl/id/page-gas.json
  src/intl/id/page-get-eth.json
  src/intl/id/page-languages.json
  src/intl/id/page-layer-2.json
  src/intl/id/page-wallets-find-wallet.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12244 Italian import Feb 20
  src/intl/it/common.json
  src/intl/it/page-gas.json
  src/intl/it/page-get-eth.json
  src/intl/it/page-wallets-find-wallet.json
  src/intl/it/page-wallets.json
Labels: translation :earth_africa:, review needed :eyes:

#12245 Nigerian Pidgin import Feb 20
  src/intl/pcm/page-gas.json
  src/intl/pcm/page-get-eth.json
  src/intl/pcm/page-wallets-find-wallet.json
  src/intl/pcm/page-what-is-ethereum.json
Labels: translation :earth_africa:, review needed :eyes:

#12249 Spanish import Feb 20
  public/content/translations/es/developers/docs/programming-languages/delphi/index.md
  public/content/translations/es/developers/docs/programming-languages/dot-net/index.md
  public/content/translations/es/developers/docs/programming-languages/golang/index.md
  public/content/translations/es/developers/docs/programming-languages/java/index.md
  public/content/translations/es/developers/docs/programming-languages/python/index.md
  public/content/translations/es/developers/docs/programming-languages/ruby/index.md
  public/content/translations/es/developers/docs/programming-languages/rust/index.md
  public/content/translations/es/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  public/content/translations/es/developers/tutorials/all-you-can-cache/index.md
  public/content/translations/es/developers/tutorials/create-and-deploy-a-defi-app/index.md
  public/content/translations/es/developers/tutorials/deploying-your-first-smart-contract/index.md
  public/content/translations/es/developers/tutorials/downsizing-contracts-to-fight-the-contract-size-limit/index.md
  public/content/translations/es/developers/tutorials/eip-1271-smart-contract-signatures/index.md
  public/content/translations/es/developers/tutorials/erc-721-vyper-annotated-code/index.md
  public/content/translations/es/developers/tutorials/erc20-annotated-code/index.md
  public/content/translations/es/developers/tutorials/erc20-with-safety-rails/index.md
  public/content/translations/es/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  public/content/translations/es/developers/tutorials/guide-to-smart-contract-security-tools/index.md
  public/content/translations/es/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  public/content/translations/es/developers/tutorials/hello-world-smart-contract/index.md
  public/content/translations/es/developers/tutorials/how-to-implement-an-erc721-market/index.md
  public/content/translations/es/developers/tutorials/how-to-mock-solidity-contracts-for-testing/index.md
  public/content/translations/es/developers/tutorials/how-to-use-echidna-to-test-smart-contracts/index.md
  public/content/translations/es/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  public/content/translations/es/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  public/content/translations/es/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  public/content/translations/es/developers/tutorials/interact-with-other-contracts-from-solidity/index.md
  public/content/translations/es/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  public/content/translations/es/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  public/content/translations/es/developers/tutorials/logging-events-smart-contracts/index.md
  public/content/translations/es/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  public/content/translations/es/developers/tutorials/monitoring-geth-with-influxdb-and-grafana/index.md
  public/content/translations/es/developers/tutorials/nft-minter/index.md
  public/content/translations/es/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  public/content/translations/es/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/translations/es/developers/tutorials/run-node-raspberry-pi/index.md
  public/content/translations/es/developers/tutorials/secure-development-workflow/index.md
  public/content/translations/es/developers/tutorials/send-token-etherjs/index.md
  public/content/translations/es/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  public/content/translations/es/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  public/content/translations/es/developers/tutorials/short-abi/index.md
  public/content/translations/es/developers/tutorials/smart-contract-security-guidelines/index.md
  public/content/translations/es/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  public/content/translations/es/developers/tutorials/testing-erc-20-tokens-with-waffle/index.md
  public/content/translations/es/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  public/content/translations/es/developers/tutorials/token-integration-checklist/index.md
  public/content/translations/es/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
  public/content/translations/es/developers/tutorials/using-websockets/index.md
  public/content/translations/es/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  public/content/translations/es/developers/tutorials/waffle-say-hello-world-with-hardhat-and-ethers/index.md
  public/content/translations/es/developers/tutorials/waffle-test-simple-smart-contract/index.md
  public/content/translations/es/developers/tutorials/yellow-paper-evm/index.md
Labels: content :fountain_pen:

#12260 Remove manifest app previews and assets
  public/assets/manifest-homepage-screenshot-mobile.png
  public/assets/manifest-homepage-screenshot.png
  public/manifest.json
Labels: review needed :eyes:

#12254 Use `header` as H1 if `title` is missing in HubHero
  src/components/Hero/HubHero/index.tsx
Labels: review needed :eyes:

#12256 Add H1 to bug bounty page
  src/pages/bug-bounty.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12257 chore: update wallet-data
  public/wallets/brave.png
  public/wallets/mycrypto.png
  public/wallets/shapeshift.png
  public/wallets/status.png
  public/wallets/web3auth.png
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#12228 docs: adds more community QA process details
  docs/deploy-process.md
Labels: content :fountain_pen:, documentation :book:

#12229 added disclaimer (for Algorithimic stablecoins) to stablecoin page
  src/intl/en/page-stablecoins.json
  src/pages/stablecoins.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12231 Fix discord links
  public/content/developers/docs/apis/backend/index.md
  public/content/developers/docs/frameworks/index.md
Labels: content :fountain_pen:

#12232 Wallettable empty state
  src/components/FindWallet/WalletTable/WalletEmptyState.tsx
  src/components/FindWallet/WalletTable/index.tsx
  src/intl/en/page-wallets-find-wallet.json
  src/pages/wallets/find-wallet.tsx
Labels: feature :sparkles:, review needed :eyes:, epic 💪

#12234 Fix OG page images
  public/content/roadmap/index.md
  public/content/translations/id/roadmap/index.md
  public/content/translations/it/roadmap/index.md
  public/content/translations/ru/roadmap/index.md
  public/content/translations/tr/roadmap/index.md
  public/content/translations/zh-tw/roadmap/index.md
  public/upgrades/upgrade_doge.png
  src/components/PageMetadata.tsx
  src/lib/constants.ts
  src/lib/utils/metadata.ts
  src/pages/dapps.tsx
  src/pages/eth.tsx
  src/pages/layer-2.tsx
  src/pages/learn.tsx
  src/pages/quizzes.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/index.tsx
  src/pages/wallets/find-wallet.tsx
  src/pages/wallets/index.tsx
Labels: content :fountain_pen:, medium priority, review needed :eyes:, tooling :wrench:

#12259 SEO: add hreflangs
  src/components/PageMetadata.tsx
  src/lib/utils/url.ts
Labels: review needed :eyes:

#12271 chore: remove wallets
  public/wallets/aktionariat.png
  public/wallets/numio.png
  public/wallets/opera.png
  public/wallets/portis.png
  public/wallets/sequence.png
  src/data/wallets/wallet-data.ts
Labels: content :fountain_pen:, review needed :eyes:, epic 💪

#12277 chore: sort imports
  src/components/PageMetadata.tsx
Labels: review needed :eyes:

#12272 Hide contributor's profile link if the url doesn't exist
  src/components/FileContributors.tsx
Labels: review needed :eyes:

#12280 fix: cleanup dead link
  public/content/translations/es/developers/tutorials/erc20-with-safety-rails/index.md
Labels: content :fountain_pen:

#12274 Fix typo
  .github/ISSUE_TEMPLATE/suggest_glossary_term.yaml
Labels: tooling :wrench:

#12281 Fix URLs containing double slashes in path
  .all-contributorsrc
  README.md
  public/content/developers/docs/programming-languages/python/index.md
  public/content/translations/de/developers/docs/programming-languages/python/index.md
  public/content/translations/pt-br/developers/docs/programming-languages/python/index.md
  public/content/translations/tr/developers/docs/programming-languages/python/index.md
Labels: content :fountain_pen:, internal :house:, documentation :book:, SEO

#12298 Update outdated Security.txt
  public/.well-known/security.txt
Labels: SEO

#12295 Delete duplicates and restructure english content (mining developer docs)
  public/content/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/it/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  public/content/translations/it/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  public/content/translations/it/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  public/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  public/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  public/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining-algorithms/dagger-hashamoto/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining-algorithms/ethash/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining-algorithms/index.md
Labels: content :fountain_pen:

#12293 Remove View in English button from Translation Banner
  src/components/TranslationBanner.tsx
Labels: review needed :eyes:

#12297 Disable SVG URLs in AssetDownload
  src/components/AssetDownload/index.tsx
Labels: review needed :eyes:

#12191 feat: Wallet table desktop
  src/components/FindWallet/WalletTable/WalletEmptyState.tsx
  src/components/FindWallet/WalletTable/WalletMoreInfo.tsx
  src/components/FindWallet/WalletTable/index.tsx
  src/components/FindWallet/WalletTable/useWalletTable.tsx
  src/hooks/useLanguagesList.ts
  src/intl/en/page-wallets-find-wallet.json
  src/pages/wallets/find-wallet.tsx
Labels: feature :sparkles:, translation :earth_africa:, review needed :eyes:, high priority, tooling :wrench:, epic 💪

#12290 Update execution-bounty-hunters.json
  src/data/execution-bounty-hunters.json
Labels: review needed :eyes:

#12212 chore: add trailing slashes to useNav href's
  src/components/Nav/useNav.ts
Labels: review needed :eyes:

#11870 Update Block Explorer List to include Ethernow .md
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, review needed :eyes:

#12016 feat: Add new words to glossary list
  public/content/glossary/index.md
  src/intl/en/glossary.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12308 content: remove wallets without EIP-1559 support
  public/wallets/airgap.png
  public/wallets/bitcoindotcom.png
  public/wallets/coinwallet.png
  public/wallets/guarda.png
  public/wallets/zengo.png
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#12309 fix: removes extra forward slashes
  public/content/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  public/content/developers/tutorials/waffle-test-simple-smart-contract/index.md
  public/content/translations/es/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  public/content/translations/es/developers/tutorials/waffle-test-simple-smart-contract/index.md
  public/content/translations/fr/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  public/content/translations/fr/developers/tutorials/waffle-test-simple-smart-contract/index.md
  public/content/translations/ja/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  public/content/translations/pt-br/developers/tutorials/waffle-test-simple-smart-contract/index.md
  public/content/translations/ro/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
Labels: content :fountain_pen:

#12310 fix Ethereum&nbsp spelling in french learn page
  public/content/translations/fr/security/index.md
  src/intl/fr/page-learn.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12189 Dencun - initial updates
  public/content/history/index.md
  public/content/roadmap/danksharding/index.md
  public/content/roadmap/scaling/index.md
  src/components/DencunBanner.tsx
  src/components/History/NetworkUpgradeSummary.tsx
  src/data/NetworkUpgradeSummaryData.ts
  src/lib/types.ts
  src/pages/index.tsx
  src/pages/staking/index.tsx
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#12273 Add glossary definition for proto-danksharding
  public/content/glossary/index.md
  src/intl/en/glossary.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12316 i18n: common.json import
  src/intl/az/common.json
  src/intl/fa/common.json
  src/intl/ka/common.json
  src/intl/sk/common.json
  src/intl/sr/common.json
Labels: translation :earth_africa:, review needed :eyes:

#12275 i18n: update page-languages.json from Crowdin
  src/intl/am/page-languages.json
  src/intl/ar/page-languages.json
  src/intl/be/page-languages.json
  src/intl/bg/page-languages.json
  src/intl/bn/page-languages.json
  src/intl/bs/page-languages.json
  src/intl/ca/page-languages.json
  src/intl/da/page-languages.json
  src/intl/fa/page-languages.json
  src/intl/fi/page-languages.json
  src/intl/fil/page-languages.json
  src/intl/gl/page-languages.json
  src/intl/gu/page-languages.json
  src/intl/he/page-languages.json
  src/intl/hi/page-languages.json
  src/intl/hr/page-languages.json
  src/intl/hy-am/page-languages.json
  src/intl/id/page-languages.json
  src/intl/ig/page-languages.json
  src/intl/ka/page-languages.json
  src/intl/kk/page-languages.json
  src/intl/km/page-languages.json
  src/intl/kn/page-languages.json
  src/intl/ko/page-languages.json
  src/intl/lt/page-languages.json
  src/intl/ml/page-languages.json
  src/intl/mr/page-languages.json
  src/intl/ms/page-languages.json
  src/intl/nb/page-languages.json
  src/intl/ne-np/page-languages.json
  src/intl/nl/page-languages.json
  src/intl/pcm/page-languages.json
  src/intl/pt/page-languages.json
  src/intl/ro/page-languages.json
  src/intl/se/page-languages.json
  src/intl/sk/page-languages.json
  src/intl/sl/page-languages.json
  src/intl/sr/page-languages.json
  src/intl/sw/page-languages.json
  src/intl/ta/page-languages.json
  src/intl/th/page-languages.json
  src/intl/tk/page-languages.json
  src/intl/uk/page-languages.json
  src/intl/ur/page-languages.json
  src/intl/uz/page-languages.json
  src/intl/vi/page-languages.json
  src/intl/zh-tw/page-languages.json
Labels: translation :earth_africa:, review needed :eyes:

#12320 Fix empty translations
  src/intl/ar/page-languages.json
  src/intl/sl/common.json
Labels: translation :earth_africa:, review needed :eyes:

#12319 fix: fix hyperlink in glossary on consensus client (fixes #12318)
  src/intl/en/glossary.json
Labels: translation :earth_africa:, review needed :eyes:

#12324 Add x-default hreflang
  src/components/PageMetadata.tsx
Labels: review needed :eyes:

#12326 Fix md build paths
  src/data/developer-docs-links.yaml
  src/lib/utils/md.ts
Labels: review needed :eyes:
