Repository ethereum/ethereum-org-website, pull requests merged in 2024-01, with the labels that each got.

#11896 Updated community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11892 Add 2x multiplier banner for Dencun on bug bounty page
  src/components/Banners/BugBountyBanner.tsx
  src/pages/bug-bounty.tsx
Labels: content :fountain_pen:, review needed :eyes:

#11891 Fix Gitter Solidity Link due to Typo
  public/content/community/online/index.md
  public/content/community/support/index.md
  public/content/developers/docs/smart-contracts/languages/index.md
  public/content/translations/ca/community/support/index.md
  public/content/translations/de/community/online/index.md
  public/content/translations/de/community/support/index.md
  public/content/translations/de/developers/docs/smart-contracts/languages/index.md
  public/content/translations/el/community/online/index.md
  public/content/translations/el/community/support/index.md
  public/content/translations/es/community/online/index.md
  public/content/translations/es/community/support/index.md
  public/content/translations/es/developers/docs/smart-contracts/languages/index.md
  public/content/translations/fa/community/online/index.md
  public/content/translations/fa/community/support/index.md
  public/content/translations/fr/community/online/index.md
  public/content/translations/fr/community/support/index.md
  public/content/translations/fr/developers/docs/smart-contracts/languages/index.md
  public/content/translations/hu/community/online/index.md
  public/content/translations/hu/community/support/index.md
  public/content/translations/hu/developers/docs/smart-contracts/languages/index.md
  public/content/translations/id/community/support/index.md
  public/content/translations/id/developers/docs/smart-contracts/languages/index.md
  public/content/translations/it/community/online/index.md
  public/content/translations/it/community/support/index.md
  public/content/translations/it/developers/docs/smart-contracts/languages/index.md
  public/content/translations/ja/community/online/index.md
  public/content/translations/ja/community/support/index.md
  public/content/translations/ja/developers/docs/smart-contracts/languages/index.md
  public/content/translations/nl/community/online/index.md
  public/content/translations/nl/community/support/index.md
  public/content/translations/pl/community/online/index.md
  public/content/translations/pl/community/support/index.md
  public/content/translations/pl/developers/docs/smart-contracts/languages/index.md
  public/content/translations/pt-br/community/online/index.md
  public/content/translations/pt-br/community/support/index.md
  public/content/translations/pt-br/developers/docs/smart-contracts/languages/index.md
  public/content/translations/ro/community/support/index.md
  public/content/translations/ro/developers/docs/smart-contracts/languages/index.md
  public/content/translations/ru/community/online/index.md
  public/content/translations/ru/community/support/index.md
  public/content/translations/sw/community/online/index.md
  public/content/translations/sw/community/support/index.md
  public/content/translations/tr/community/online/index.md
  public/content/translations/tr/community/support/index.md
  public/content/translations/tr/developers/docs/smart-contracts/languages/index.md
  public/content/translations/uk/community/online/index.md
  public/content/translations/uk/community/support/index.md
  public/content/translations/zh-tw/community/online/index.md
  public/content/translations/zh-tw/community/support/index.md
  public/content/translations/zh/community/online/index.md
  public/content/translations/zh/community/support/index.md
  public/content/translations/zh/developers/docs/smart-contracts/languages/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11890 change the recipient field to 'to' field fixes[11889]
  public/content/developers/docs/transactions/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11909 change translation program invite link
  docs/translation-program.md
  public/content/contributing/translation-program/how-to-translate/index.md
  public/content/contributing/translation-program/index.md
  public/content/translations/de/contributing/translation-program/how-to-translate/index.md
  public/content/translations/de/contributing/translation-program/index.md
  public/content/translations/es/contributing/translation-program/index.md
  public/content/translations/fr/contributing/translation-program/how-to-translate/index.md
  public/content/translations/fr/contributing/translation-program/index.md
  public/content/translations/id/contributing/translation-program/index.md
  public/content/translations/it/contributing/translation-program/how-to-translate/index.md
  public/content/translations/it/contributing/translation-program/index.md
  public/content/translations/ja/contributing/translation-program/index.md
  public/content/translations/pt-br/contributing/translation-program/how-to-translate/index.md
  public/content/translations/pt-br/contributing/translation-program/index.md
  public/content/translations/sl/contributing/translation-program/index.md
  public/content/translations/tr/contributing/translation-program/how-to-translate/index.md
  public/content/translations/tr/contributing/translation-program/index.md
  public/content/translations/zh/contributing/translation-program/index.md
Labels: content :fountain_pen:

#11907 Update broken Discord link
  public/content/contributing/design/index.md
Labels: content :fountain_pen:

#11908 Update MeetupList.tsx to open links in new tabs [Fixes #11902]
  src/components/MeetupList.tsx
Labels: review needed :eyes:

#11903 Refactor Show/Hide component usage in layouts
  src/components/MdComponents.tsx
  src/layouts/Roadmap.tsx
  src/layouts/Staking.tsx
  src/layouts/Upgrade.tsx
  src/layouts/UseCases.tsx
  src/pages/staking/index.tsx
Labels: review needed :eyes:

#11887 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11882 Update a new Privacy and Scaling Explorations Team website address
  public/content/zero-knowledge-proofs/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11879 Fixed instances of duplicated words
  public/content/community/research/index.md
  public/content/developers/docs/smart-contracts/security/index.md
  public/content/staking/withdrawals/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11872 Specify that you can get one GitPOAP for each year
  README.md
Labels: documentation :book:

#11868 Add for Korean (ko) translated images for bucket 7
  public/content/translations/ko/energy-consumption/energy_consumption_pre_post_merge.png
  public/content/translations/ko/energy-consumption/index.md
  public/content/translations/ko/web3/web1.png
  public/content/translations/ko/web3/web2.png
  public/content/translations/ko/web3/web3.png
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11867 Add for Spanish (es) translated images for bucket 12 13 17
  public/content/translations/es/developers/docs/consensus-mechanisms/pos/attack-and-defense/reorg-schematic.png
  public/content/translations/es/developers/docs/consensus-mechanisms/pos/attestations/attestation_schematic.png
  public/content/translations/es/developers/docs/consensus-mechanisms/pos/keys/multiple-keys.png
  public/content/translations/es/developers/docs/consensus-mechanisms/pos/keys/validator-key-schematic.png
  public/content/translations/es/developers/docs/nodes-and-clients/eth1eth2client.png
  public/content/translations/es/developers/docs/nodes-and-clients/node-architecture/node-architecture-text-background.png
  public/content/translations/es/developers/docs/nodes-and-clients/nodes.png
  public/content/translations/es/developers/docs/nodes-and-clients/run-a-node/diagram.png
  public/content/translations/es/developers/docs/smart-contracts/verifying/source-code-verification.png
  public/content/translations/es/developers/docs/smart-contracts/verifying/source-code-verification.svg
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11866 Add for Ukrainian (uk) translated images for bucket 7
  public/content/translations/uk/energy-consumption/energy_consumption_pre_post_merge.png
  public/content/translations/uk/web3/web1.png
  public/content/translations/uk/web3/web2.png
  public/content/translations/uk/web3/web3.png
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11865 Add for Russian (ru) translated images for bucket 7 11
  public/content/translations/ru/developers/docs/accounts/accounts.png
  public/content/translations/ru/developers/docs/blocks/tx-block.png
  public/content/translations/ru/developers/docs/evm/evm.png
  public/content/translations/ru/developers/docs/gas/gas.png
  public/content/translations/ru/developers/docs/transactions/gas-tx.png
  public/content/translations/ru/developers/docs/transactions/tx.png
  public/content/translations/ru/energy-consumption/energy_consumption_pre_post_merge.png
  public/content/translations/ru/web3/web1.png
  public/content/translations/ru/web3/web2.png
  public/content/translations/ru/web3/web3.png
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11864 Add for Turkish (tr) translated images for bucket 7 11 12 13 17
  public/content/translations/tr/developers/docs/accounts/accounts.png
  public/content/translations/tr/developers/docs/blocks/tx-block.png
  public/content/translations/tr/developers/docs/consensus-mechanisms/pos/attack-and-defense/reorg-schematic.png
  public/content/translations/tr/developers/docs/consensus-mechanisms/pos/attestations/attestation_schematic.png
  public/content/translations/tr/developers/docs/consensus-mechanisms/pos/keys/multiple-keys.png
  public/content/translations/tr/developers/docs/consensus-mechanisms/pos/keys/validator-key-schematic.png
  public/content/translations/tr/developers/docs/evm/evm.png
  public/content/translations/tr/developers/docs/gas/gas.png
  public/content/translations/tr/developers/docs/nodes-and-clients/eth1eth2client.png
  public/content/translations/tr/developers/docs/nodes-and-clients/node-architecture/node-architecture-text-background.png
  public/content/translations/tr/developers/docs/nodes-and-clients/nodes.png
  public/content/translations/tr/developers/docs/nodes-and-clients/run-a-node/diagram.png
  public/content/translations/tr/developers/docs/smart-contracts/verifying/source-code-verification.png
  public/content/translations/tr/developers/docs/transactions/tx.png
  public/content/translations/tr/energy-consumption/energy_consumption_pre_post_merge.png
  public/content/translations/tr/web3/web2.png
  public/content/translations/tr/web3/web3.png
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11921 very small adjustments to the design tokens
  src/@chakra-ui/foundations/colors.ts
  src/@chakra-ui/semanticTokens.ts
Labels: review needed :eyes:

#11923 chore: remove deprecated env var usage
  src/components/PageMetadata.tsx
Labels: review needed :eyes:

#11925 Fix canonical English URLs to fix Algolia search crawling
  src/components/PageMetadata.tsx
Labels: review needed :eyes:

#11344 Update patricia-merkle-trie/index.md
  public/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11922 [HOTFIX] Deprecate OLD_CONTENT_DIR
  src/hooks/useClientSideGitHubContributors.ts
  src/hooks/useClientSideGitHubLastEdit.ts
  src/lib/constants.ts
Labels: review needed :eyes:, tooling :wrench:

#11932 Patch: fix typo
  public/content/translations/ar/social-networks/index.md
Labels: content :fountain_pen:

#11946 Staging -> dev
  public/.well-known/matrix/server
  public/.well-known/security.txt
  src/hooks/useClientSideGitHubContributors.ts
  src/hooks/useClientSideGitHubLastEdit.ts
  src/lib/constants.ts
Labels: review needed :eyes:, tooling :wrench:

#11930 Add resource to further reading section of scaling page
  public/content/developers/docs/scaling/index.md
Labels: content :fountain_pen:

#11929 Add article on data availability + rollups
  public/content/developers/docs/data-availability/index.md
Labels: content :fountain_pen:

#11913 Update community-events.json with Devcon 7 info
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11859 Update Verkle links
  public/content/roadmap/verkle-trees/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11858 Create event_listing GH issue template yaml
  .github/ISSUE_TEMPLATE/event_listing.yaml
Labels: tooling :wrench:

#11856 Add for Polish (pl) translated images for bucket 7
  public/content/translations/pl/energy-consumption/energy_consumption_pre_post_merge.png
  public/content/translations/pl/web3/web2.png
  public/content/translations/pl/web3/web3.png
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11855 Add for Indonesian (id) translated images for bucket7
  public/content/translations/id/energy-consumption/energy_consumption_pre_post_merge.png
  public/content/translations/id/web3/web2.png
  public/content/translations/id/web3/web3.png
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11854 Add for Hungarian (hu) translated images for buckets 7 and 11
  public/content/translations/hu/developers/docs/accounts/accounts.png
  public/content/translations/hu/developers/docs/blocks/tx-block.png
  public/content/translations/hu/developers/docs/evm/evm.png
  public/content/translations/hu/developers/docs/gas/gas.png
  public/content/translations/hu/developers/docs/transactions/gas-tx.png
  public/content/translations/hu/developers/docs/transactions/tx.png
  public/content/translations/hu/energy-consumption/energy_consumption_pre_post_merge.png
  public/content/translations/hu/web3/web2.png
  public/content/translations/hu/web3/web3.png
  src/data/placeholders/content-developers-docs-accounts-data.json
  src/data/placeholders/content-developers-docs-blocks-data.json
  src/data/placeholders/content-developers-docs-evm-data.json
  src/data/placeholders/content-developers-docs-gas-data.json
  src/data/placeholders/content-developers-docs-transactions-data.json
  src/data/placeholders/content-energy-consumption-data.json
  src/data/placeholders/content-web3-data.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11852 Add fr translated images for buckets 7, 11 and 12
  public/content/translations/fr/developers/docs/accounts/accounts.png
  public/content/translations/fr/developers/docs/blocks/tx-block.png
  public/content/translations/fr/developers/docs/evm/evm.png
  public/content/translations/fr/developers/docs/gas/gas.png
  public/content/translations/fr/developers/docs/nodes-and-clients/eth1eth2client.png
  public/content/translations/fr/developers/docs/nodes-and-clients/node-architecture/node-architecture-text-background.png
  public/content/translations/fr/developers/docs/nodes-and-clients/nodes.png
  public/content/translations/fr/developers/docs/nodes-and-clients/run-a-node/diagram.png
  public/content/translations/fr/developers/docs/transactions/gas-tx.png
  public/content/translations/fr/developers/docs/transactions/tx.png
  public/content/translations/fr/energy-consumption/energy_consumption_pre_post_merge.png
  public/content/translations/fr/web3/web2.png
  public/content/translations/fr/web3/web3.png
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11837 Fix grammatical errors in index.md
  public/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11851 Fix typos
  public/content/developers/docs/oracles/index.md
  public/content/translations/id/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  public/content/translations/ro/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
  src/intl/pcm/page-layer-2.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11828 Update page-dapps.json
  src/intl/en/page-dapps.json
Labels: translation :earth_africa:, review needed :eyes:

#11835 Fix broken link to EIP 4844 readiness checklist.
  public/content/roadmap/danksharding/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11842 Update attestation rewards to latest fork
  public/content/developers/docs/consensus-mechanisms/pos/attestations/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11916 Update page-layer-2.json
  src/intl/en/page-layer-2.json
Labels: translation :earth_africa:, review needed :eyes:

#11862 Fix country flag placement in meetup list [Fixes #11861]
  src/components/MeetupList.tsx
Labels: review needed :eyes:

#11956 Add and edit scripts for translation imports in NextJS repo
  package.json
  src/scripts/crowdin-import.ts
  src/scripts/markdownChecker.ts
Labels: review needed :eyes:, dependencies :package:, tooling :wrench:

#11959 Mardown checker fixes
  public/content/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  public/content/translations/de/developers/docs/intro-to-ether/index.md
  public/content/translations/de/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  public/content/translations/de/enterprise/index.md
  public/content/translations/es/contributing/index.md
  public/content/translations/es/decentralized-identity/index.md
  public/content/translations/es/developers/tutorials/hello-world-smart-contract/index.md
  public/content/translations/es/foundation/index.md
  public/content/translations/es/history/index.md
  public/content/translations/fa/desci/index.md
  public/content/translations/fa/social-networks/index.md
  public/content/translations/fr/developers/docs/data-and-analytics/index.md
  public/content/translations/fr/developers/docs/transactions/index.md
  public/content/translations/fr/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
  public/content/translations/fr/glossary/index.md
  public/content/translations/fr/social-networks/index.md
  public/content/translations/it/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  public/content/translations/it/developers/docs/data-and-analytics/index.md
  public/content/translations/it/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  public/content/translations/it/glossary/index.md
  public/content/translations/ja/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  public/content/translations/ja/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  public/content/translations/pl/developers/tutorials/how-to-use-slither-to-find-smart-contract-bugs/index.md
  public/content/translations/pl/glossary/index.md
  public/content/translations/pt-br/about/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/block-proposal/index.md
  public/content/translations/pt-br/developers/docs/intro-to-ether/index.md
  public/content/translations/pt-br/history/index.md
Labels: content :fountain_pen:, review needed :eyes:, dependencies :package:, tooling :wrench:

#11964 Fix: Edit path for markdown files
  src/layouts/Docs.tsx
  src/layouts/Static.tsx
  src/layouts/Tutorial.tsx
  src/layouts/UseCases.tsx
  src/lib/utils/editPath.ts
Labels: review needed :eyes:

#11965 fix: remove trailing slash from canonical url
  src/components/PageMetadata.tsx
Labels: review needed :eyes:

#11993 Fix typo (Brushbot => Flashbot)
  public/content/translations/ja/developers/docs/mev/index.md
Labels: content :fountain_pen:

#11751 Update community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#11728 Add EthDam for 2024 in Amsterdam
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11905 LTR/RTL fixes
  src/components/Breadcrumbs/index.tsx
  src/components/CodeModal.tsx
  src/components/DocsNav.tsx
  src/components/FeedbackCard.tsx
  src/components/Hero/HubHero/index.tsx
  src/components/Search/utils.ts
  src/components/TranslationBanner.tsx
  src/components/Trilemma/index.tsx
  src/hooks/useLocaleDirection.ts
  src/layouts/Docs.tsx
  src/layouts/Roadmap.tsx
  src/layouts/Staking.tsx
  src/layouts/Static.tsx
  src/layouts/Tutorial.tsx
  src/layouts/Upgrade.tsx
  src/layouts/UseCases.tsx
  src/pages/[...slug].tsx
  src/pages/_app.tsx
  src/pages/developers/tutorials.tsx
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#11958 Fix CalloutBanner imge sizing/layout bugs
  src/components/CalloutBanner.tsx
  src/pages/get-eth.tsx
  src/pages/stablecoins.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12002 fix: EthCatHerders broken discord link
  public/content/community/get-involved/index.md
Labels: content :fountain_pen:

#11988 Add ETHBerlin04
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11813 Add ETH Belgrade 2024 to community events
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11801 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11797 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11777 Updated ETHGlobal 2024 Season calendar
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#11705 Add Ethereumzuri.ch 2024 to the event list
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#12009 fix: Internal transaction term visibility in glossary list
  public/content/glossary/index.md
Labels: content :fountain_pen:

#11980 Update base64 image placeholders
  src/data/placeholders/content-developers-docs-accounts-data.json
  src/data/placeholders/content-developers-docs-blocks-data.json
  src/data/placeholders/content-developers-docs-consensus-mechanisms-pos-attack-and-defense-data.json
  src/data/placeholders/content-developers-docs-consensus-mechanisms-pos-attestations-data.json
  src/data/placeholders/content-developers-docs-consensus-mechanisms-pos-keys-data.json
  src/data/placeholders/content-developers-docs-evm-data.json
  src/data/placeholders/content-developers-docs-gas-data.json
  src/data/placeholders/content-developers-docs-nodes-and-clients-data.json
  src/data/placeholders/content-developers-docs-nodes-and-clients-node-architecture-data.json
  src/data/placeholders/content-developers-docs-nodes-and-clients-run-a-node-data.json
  src/data/placeholders/content-developers-docs-smart-contracts-verifying-data.json
  src/data/placeholders/content-developers-docs-transactions-data.json
  src/data/placeholders/content-energy-consumption-data.json
  src/data/placeholders/content-web3-data.json
Labels: review needed :eyes:

#11961 chore: update `web3_sha3` parameter
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:

#11878 Spelling fixes
  public/content/about/index.md
  src/intl/en/page-gas.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11967 January 2 Arabic (Essential pages)
  src/intl/ar/page-gas.json
  src/intl/ar/page-get-eth.json
  src/intl/ar/page-wallets-find-wallet.json
Labels: translation :earth_africa:, review needed :eyes:

#11968 Azerbaijani import (Exploring, Use Ethereum)
  public/content/translations/az/nft/index.md
  src/intl/az/page-dapps.json
  src/intl/az/page-languages.json
  src/intl/az/page-layer-2.json
  src/intl/az/page-stablecoins.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11970 Chinese simplified import (Exploring, Learn pages, Roadmap, Community)
  public/content/translations/zh/bridges/index.md
  public/content/translations/zh/community/code-of-conduct/index.md
  public/content/translations/zh/community/events/index.md
  public/content/translations/zh/community/get-involved/index.md
  public/content/translations/zh/community/grants/index.md
  public/content/translations/zh/community/language-resources/index.md
  public/content/translations/zh/community/online/index.md
  public/content/translations/zh/community/research/index.md
  public/content/translations/zh/community/support/index.md
  public/content/translations/zh/eips/index.md
  public/content/translations/zh/energy-consumption/index.md
  public/content/translations/zh/governance/index.md
  public/content/translations/zh/nft/index.md
  public/content/translations/zh/roadmap/account-abstraction/index.md
  public/content/translations/zh/roadmap/beacon-chain/index.md
  public/content/translations/zh/roadmap/index.md
  public/content/translations/zh/roadmap/merge/index.md
  public/content/translations/zh/roadmap/merge/issuance/index.md
  public/content/translations/zh/roadmap/pbs/index.md
  public/content/translations/zh/roadmap/security/index.md
  public/content/translations/zh/roadmap/single-slot-finality/index.md
  public/content/translations/zh/roadmap/statelessness/index.md
  public/content/translations/zh/roadmap/user-experience/index.md
  public/content/translations/zh/roadmap/verkle-trees/index.md
  public/content/translations/zh/security/index.md
  public/content/translations/zh/web3/index.md
  public/content/translations/zh/zero-knowledge-proofs/index.md
  src/intl/zh/page-community.json
  src/intl/zh/page-dapps.json
  src/intl/zh/page-stablecoins.json
  src/intl/zh/page-upgrades-get-involved.json
  src/intl/zh/page-upgrades-index.json
  src/intl/zh/template-usecase.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11971 Chinese traditional import (homepage, Community, Foundational docs, Smart contracts - basics)
  public/content/translations/zh-tw/community/code-of-conduct/index.md
  public/content/translations/zh-tw/community/events/index.md
  public/content/translations/zh-tw/community/get-involved/index.md
  public/content/translations/zh-tw/community/grants/index.md
  public/content/translations/zh-tw/community/language-resources/index.md
  public/content/translations/zh-tw/community/online/index.md
  public/content/translations/zh-tw/community/research/index.md
  public/content/translations/zh-tw/community/support/index.md
  public/content/translations/zh-tw/developers/docs/accounts/index.md
  public/content/translations/zh-tw/developers/docs/blocks/index.md
  public/content/translations/zh-tw/developers/docs/dapps/index.md
  public/content/translations/zh-tw/developers/docs/evm/index.md
  public/content/translations/zh-tw/developers/docs/evm/opcodes/index.md
  public/content/translations/zh-tw/developers/docs/gas/index.md
  public/content/translations/zh-tw/developers/docs/intro-to-ether/index.md
  public/content/translations/zh-tw/developers/docs/intro-to-ethereum/index.md
  public/content/translations/zh-tw/developers/docs/networks/index.md
  public/content/translations/zh-tw/developers/docs/smart-contracts/anatomy/index.md
  public/content/translations/zh-tw/developers/docs/smart-contracts/compiling/index.md
  public/content/translations/zh-tw/developers/docs/smart-contracts/deploying/index.md
  public/content/translations/zh-tw/developers/docs/smart-contracts/index.md
  public/content/translations/zh-tw/developers/docs/smart-contracts/languages/index.md
  public/content/translations/zh-tw/developers/docs/smart-contracts/libraries/index.md
  public/content/translations/zh-tw/developers/docs/smart-contracts/security/index.md
  public/content/translations/zh-tw/developers/docs/transactions/index.md
  public/content/translations/zh-tw/developers/docs/web2-vs-web3/index.md
  src/intl/zh-tw/common.json
  src/intl/zh-tw/page-community.json
  src/intl/zh-tw/page-developers-docs.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11816 Update: Scaffold-ETH-2 product information
  public/dev-tools/scaffold-eth.png
  public/dev-tools/scaffoldeth.png
  src/lib/api/ghRepoData.ts
Labels: review needed :eyes:

#11778 Patch Beacon Chain launch date in quiz
  src/intl/en/learn-quizzes.json
Labels: review needed :eyes:

#12010 style: hover color and rotation for search icon
  src/components/Search/index.tsx
Labels: review needed :eyes:

#11974 Farsi import (Roadmap, Community, Foundational docs)
  public/content/translations/fa/community/code-of-conduct/index.md
  public/content/translations/fa/community/get-involved/index.md
  public/content/translations/fa/community/grants/index.md
  public/content/translations/fa/community/language-resources/index.md
  public/content/translations/fa/community/online/index.md
  public/content/translations/fa/community/research/index.md
  public/content/translations/fa/community/support/index.md
  public/content/translations/fa/developers/docs/blocks/index.md
  public/content/translations/fa/developers/docs/dapps/index.md
  public/content/translations/fa/developers/docs/evm/index.md
  public/content/translations/fa/developers/docs/evm/opcodes/index.md
  public/content/translations/fa/developers/docs/gas/index.md
  public/content/translations/fa/developers/docs/networks/index.md
  public/content/translations/fa/developers/docs/transactions/index.md
  public/content/translations/fa/eips/index.md
  public/content/translations/fa/roadmap/account-abstraction/index.md
  public/content/translations/fa/roadmap/beacon-chain/index.md
  public/content/translations/fa/roadmap/danksharding/index.md
  public/content/translations/fa/roadmap/future-proofing/index.md
  public/content/translations/fa/roadmap/index.md
  public/content/translations/fa/roadmap/merge/index.md
  public/content/translations/fa/roadmap/merge/issuance/index.md
  public/content/translations/fa/roadmap/pbs/index.md
  public/content/translations/fa/roadmap/scaling/index.md
  public/content/translations/fa/roadmap/secret-leader-election/index.md
  public/content/translations/fa/roadmap/security/index.md
  public/content/translations/fa/roadmap/single-slot-finality/index.md
  public/content/translations/fa/roadmap/statelessness/index.md
  public/content/translations/fa/roadmap/user-experience/index.md
  public/content/translations/fa/roadmap/verkle-trees/index.md
  src/intl/fa/page-roadmap-vision.json
  src/intl/fa/page-upgrades-get-involved.json
  src/intl/fa/page-upgrades-index.json
  src/intl/fa/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12000 Add 2024 community events and refactor to typescript
  src/components/UpcomingEventsList.tsx
  src/data/community-events.json
  src/data/community-events.ts
  src/lib/types.ts
Labels: review needed :eyes:, tooling :wrench:, event :date:

#11972 Croatian import (Homepage, Essential pages)
  src/intl/hr/common.json
  src/intl/hr/page-get-eth.json
  src/intl/hr/page-wallets-find-wallet.json
Labels: translation :earth_africa:, review needed :eyes:

#11973 Czech import (Homepage, Essential pages)
  src/intl/cs/common.json
  src/intl/cs/page-get-eth.json
  src/intl/cs/page-wallets-find-wallet.json
Labels: translation :earth_africa:, review needed :eyes:

#11987 Turkish import
  public/content/translations/tr/bridges/index.md
  public/content/translations/tr/community/code-of-conduct/index.md
  public/content/translations/tr/community/get-involved/index.md
  public/content/translations/tr/community/grants/index.md
  public/content/translations/tr/community/language-resources/index.md
  public/content/translations/tr/community/online/index.md
  public/content/translations/tr/community/research/index.md
  public/content/translations/tr/community/support/index.md
  public/content/translations/tr/developers/tutorials/deploying-your-first-smart-contract/index.md
  public/content/translations/tr/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  public/content/translations/tr/developers/tutorials/how-to-use-tellor-as-your-oracle/index.md
  public/content/translations/tr/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  public/content/translations/tr/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  public/content/translations/tr/developers/tutorials/short-abi/index.md
  public/content/translations/tr/developers/tutorials/smart-contract-security-guidelines/index.md
  public/content/translations/tr/developers/tutorials/solidity-and-truffle-continuous-integration-setup/index.md
  public/content/translations/tr/developers/tutorials/token-integration-checklist/index.md
  public/content/translations/tr/developers/tutorials/using-websockets/index.md
  public/content/translations/tr/developers/tutorials/waffle-dynamic-mocking-and-testing-calls/index.md
  public/content/translations/tr/eips/index.md
  public/content/translations/tr/energy-consumption/index.md
  public/content/translations/tr/nft/index.md
  public/content/translations/tr/roadmap/account-abstraction/index.md
  public/content/translations/tr/roadmap/danksharding/index.md
  public/content/translations/tr/roadmap/future-proofing/index.md
  public/content/translations/tr/roadmap/index.md
  public/content/translations/tr/roadmap/merge/index.md
  public/content/translations/tr/roadmap/merge/issuance/index.md
  public/content/translations/tr/roadmap/scaling/index.md
  public/content/translations/tr/roadmap/secret-leader-election/index.md
  public/content/translations/tr/roadmap/security/index.md
  public/content/translations/tr/roadmap/statelessness/index.md
  public/content/translations/tr/security/index.md
  public/content/translations/tr/zero-knowledge-proofs/index.md
  src/intl/tr/common.json
  src/intl/tr/page-dapps.json
  src/intl/tr/page-index.json
  src/intl/tr/page-stablecoins.json
  src/intl/tr/page-upgrades-get-involved.json
  src/intl/tr/page-upgrades-index.json
  src/intl/tr/page-upgrades.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11998 Local fonts
  src/fonts/IBMPlexMono-Regular.ttf
  src/fonts/Inter-VariableFont_slnt,wght.ttf
  src/lib/fonts.ts
Labels: review needed :eyes:, tooling :wrench:

#12028 fix: remove unused property causing build breaks
  src/lib/api/calendarEvents.ts
  src/lib/interfaces.ts
Labels: review needed :eyes:, tooling :wrench:

#12025 Add `chromatic` back to the project
  package.json
  yarn.lock
Labels: dependencies :package:

#12040 Change yarn start to yarn dev and localhost:8000 to localhost:3000 in README file
  README.md
Labels: documentation :book:

#11960 Add back reverted quizzes: run-a-node, scaling, solo staking
  public/content/roadmap/scaling/index.md
  public/content/staking/solo/index.md
  src/components/Quiz/QuizWidget/useQuizWidget.tsx
  src/components/Quiz/useLocalQuizData.ts
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/lib/utils/translations.ts
  src/pages/run-a-node.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12037 fix(contributors): create shape for allTimeData json type
  src/lib/types.ts
  src/pages/contributing/translation-program/contributors.tsx
Labels: review needed :eyes:, tooling :wrench:

#12064 Bug Bounty text clarification
  src/intl/en/page-bug-bounty.json
Labels: translation :earth_africa:, review needed :eyes:

#12066 Unify GH tokens
  docs/api-keys.md
  src/lib/api/ghRepoData.ts
Labels: review needed :eyes:

#12075 fix: merge date on /it/what-is-ethereum
  src/intl/it/page-what-is-ethereum.json
Labels: translation :earth_africa:, review needed :eyes:

#12050 Fix i18n links not having the locale in hrefs
  package.json
  src/components/Link.tsx
  src/components/Staking/StakingHowSoloWorks.tsx
  src/components/Staking/StakingLaunchpadWidget.tsx
  yarn.lock
Labels: review needed :eyes:, dependencies :package:
