Repository ethereum/ethereum-org-website, pull requests merged in 2024-06, with the labels that each got.

#12974 refactor: sync existing stories with docs
  .eslintrc.json
  .storybook/i18next.ts
  .storybook/manager.ts
  .storybook/utils.ts
  src/components/Alert/Alert.stories.tsx
  src/components/BaseStories/Accordion.stories.tsx
  src/components/BaseStories/Checkbox.stories.tsx
  src/components/BaseStories/Link.stories.tsx
  src/components/BaseStories/Switch.stories.tsx
  src/components/BaseStories/Text.stories.tsx
  src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/components/Card/Card.stories.tsx
  src/components/FeedbackWidget/FeedbackWidget.stories.tsx
  src/components/Hero/ContentHero/ContentHero.stories.tsx
  src/components/Hero/HomeHero/HomeHero.stories.tsx
  src/components/Hero/HubHero/HubHero.stories.tsx
  src/components/Hero/MdxHero/MdxHero.stories.tsx
  src/components/Input/Input.stories.tsx
  src/components/Select/Select.stories.tsx
  src/components/Stat/Stat.stories.tsx
  src/components/Table/stories/Table.stories.tsx
  src/components/Tag/Tag.stories.tsx
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/icons/Icons.stories.tsx
  tsconfig.json
Labels: dependencies 📦, tooling 🔧, config ⚙️

#13097 Correct 2 things on page-developers
  src/intl/en/page-developers-index.json
  src/intl/pl/page-developers-docs.json
Labels: content 🖋️, translation 🌍

#13113 chore: import translations for hu (manual)
  public/content/translations/hu/defi/index.md
  public/content/translations/hu/developers/docs/accounts/index.md
  public/content/translations/hu/developers/docs/blocks/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/pos/attestations/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/pos/faqs/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/pos/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/pos/keys/index.md
  public/content/translations/hu/developers/docs/dapps/index.md
  public/content/translations/hu/developers/docs/evm/index.md
  public/content/translations/hu/developers/docs/evm/opcodes/index.md
  public/content/translations/hu/developers/docs/index.md
  public/content/translations/hu/developers/docs/intro-to-ether/index.md
  public/content/translations/hu/developers/docs/intro-to-ethereum/index.md
  public/content/translations/hu/developers/docs/networks/index.md
  public/content/translations/hu/developers/docs/transactions/index.md
  public/content/translations/hu/guides/how-to-id-scam-tokens/index.md
  public/content/translations/hu/roadmap/merge/index.md
  public/content/translations/hu/roadmap/statelessness/index.md
  public/content/translations/hu/smart-contracts/index.md
  public/content/translations/hu/staking/pools/index.md
  public/content/translations/hu/staking/saas/index.md
  public/content/translations/hu/web3/index.md
  public/content/translations/hu/whitepaper/index.md
  src/intl/hu/learn-quizzes.json
  src/intl/hu/page-developers-docs.json
  src/intl/hu/page-staking.json
  src/intl/hu/page-upgrades.json
  src/scripts/crowdin-import.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#13122 fix: typo [fixes #13117]
  public/content/staking/saas/index.md
Labels: content 🖋️

#13124 Update index.md
  public/content/community/grants/index.md
Labels: content 🖋️

#13129 chore: update Japanese translation for developers docs navigation
  src/intl/ja/page-developers-docs.json
Labels: translation 🌍

#13132 Added TUM Blockchain Conference to community-events.json
  src/data/community-events.json
Labels: event 📅

#13066 Performance: fix hydration issues on find wallets page
  src/components/FindWallet/MobileFiltersMenu.tsx
  src/components/FindWallet/WalletTable/SupportedLanguagesTooltip.tsx
  src/components/FindWallet/WalletTable/index.tsx
  src/hooks/useWalletTable.tsx
  src/lib/types.ts
  src/lib/utils/wallets.ts
  src/pages/wallets/find-wallet.tsx
Labels: tooling 🔧

#11787 Re-add ERC-223 to token standards (closes #12004, #10854)
  public/content/developers/docs/standards/index.md
  public/content/developers/docs/standards/tokens/erc-223/index.md
  public/content/developers/docs/standards/tokens/index.md
  src/data/developer-docs-links.yaml
  src/lib/utils/md.ts
Labels: content 🖋️, tooling 🔧, Status: Stale

#13146 update IA of standards section
  public/content/developers/docs/standards/index.md
  public/content/developers/docs/standards/tokens/erc-20/index.md
  public/content/developers/docs/standards/tokens/index.md
  src/data/developer-docs-links.yaml
Labels: content 🖋️

#12938 Update accounts developer docs
  public/content/developers/docs/accounts/index.md
Labels: content 🖋️, awaiting changes

#13040 Bump netlify/next runtime and fix api routes in middleware
  netlify.toml
  next.config.js
  package.json
  src/middleware.ts
  yarn.lock
Labels: dependencies 📦, config ⚙️

#13101 chore: update issue template and release drafter labels
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/event_listing.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/suggest_dapp.yaml
  .github/ISSUE_TEMPLATE/suggest_dev_tool.yaml
  .github/ISSUE_TEMPLATE/suggest_exchange.yaml
  .github/ISSUE_TEMPLATE/suggest_glossary_term.yaml
  .github/ISSUE_TEMPLATE/suggest_layer2.yaml
  .github/ISSUE_TEMPLATE/suggest_quiz.yaml
  .github/ISSUE_TEMPLATE/suggest_staking_product.yaml
  .github/ISSUE_TEMPLATE/suggest_tutorial.yaml
  .github/ISSUE_TEMPLATE/suggest_wallet.yaml
  .github/release-drafter.yml
Labels: tooling 🔧

#12940 Add info that explain Type 0 1 2 transactions [Fixes #7372]
  public/content/developers/docs/transactions/index.md
Labels: content 🖋️

#13133 fix: add url to dapp listing template
  .github/ISSUE_TEMPLATE/suggest_dapp.yaml
Labels: tooling 🔧

#13109 Clarify account in the context of a wallet
  public/content/developers/docs/accounts/index.md
Labels: content 🖋️

#13153 performance: get last edit/deploy locale timestamp for layouts on build time
  src/components/FileContributors.tsx
  src/components/Footer.tsx
  src/layouts/Docs.tsx
  src/layouts/Roadmap.tsx
  src/layouts/RootLayout.tsx
  src/layouts/Static.tsx
  src/layouts/Tutorial.tsx
  src/layouts/Upgrade.tsx
  src/lib/interfaces.ts
  src/lib/types.ts
  src/lib/utils/md.ts
  src/pages/404.tsx
  src/pages/[...slug].tsx
  src/pages/_app.tsx
  src/pages/assets.tsx
  src/pages/bug-bounty.tsx
  src/pages/community.tsx
  src/pages/contributing/translation-program/acknowledgements.tsx
  src/pages/contributing/translation-program/contributors.tsx
  src/pages/dapps.tsx
  src/pages/developers/index.tsx
  src/pages/developers/learning-tools.tsx
  src/pages/developers/local-environment.tsx
  src/pages/developers/tutorials.tsx
  src/pages/eth.tsx
  src/pages/gas.tsx
  src/pages/get-eth.tsx
  src/pages/index.tsx
  src/pages/layer-2.tsx
  src/pages/learn.tsx
  src/pages/quizzes.tsx
  src/pages/roadmap/vision.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/deposit-contract.tsx
  src/pages/staking/index.tsx
  src/pages/wallets/find-wallet.tsx
  src/pages/wallets/index.tsx
  src/pages/what-is-ethereum.tsx
Labels: tooling 🔧, epic 💪, roadmap 🛣️, needs dev approval 🧑‍💻

#11997 better described how gas is used when interacting with a smart contra…
  public/content/developers/docs/transactions/index.md
Labels: content 🖋️

#13172 Transaction mined -> validated since we're no longer PoW
  public/content/developers/docs/smart-contracts/anatomy/index.md
Labels: content 🖋️

#13164 refactor: move dep bugs to new card on /bug-bounty [Fixes #11570]
  src/intl/en/page-bug-bounty.json
  src/pages/bug-bounty.tsx
Labels: content 🖋️, translation 🌍

#13181 fixed issue 13180 - Galxe link
  public/content/contributing/index.md
Labels: content 🖋️

#13148 Add Veramo to /decentralized-identity
  public/content/decentralized-identity/index.md
Labels: content 🖋️

#13149 Removes Masca from /decentralized-identity page
  public/content/decentralized-identity/index.md
Labels: content 🖋️

#13139 Performance: find wallets first render optimizations
  src/components/FindWallet/MobileFiltersMenu.tsx
  src/components/FindWallet/WalletTable/index.tsx
  src/hooks/useWalletTable.tsx
  src/pages/wallets/find-wallet.tsx
Labels: tooling 🔧

#12585 docs: add Covalent Python and Typescript SDK info on docs page
  public/content/developers/docs/frameworks/index.md
Labels: question ❓, content 🖋️, needs product review 🕵️

#12662 Add Remix-IDE link to smart contract languages page
  public/content/developers/docs/smart-contracts/languages/index.md
Labels: content 🖋️

#13140 Adding Reth to bug bounty program
  public/images/upgrades/reth.png
  src/intl/en/page-bug-bounty.json
  src/pages/bug-bounty.tsx
Labels: content 🖋️, translation 🌍

#12953 Add Ethereum Ecosystem Sepolia faucet to dev docs /networks
  public/content/developers/docs/networks/index.md
Labels: content 🖋️

#11884 Add quiz about daos [Fixes #11836]
  public/content/dao/index.md
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
Labels: content 🖋️, translation 🌍

#12899 Blockchain Data Storage Strategies
  public/content/developers/docs/data-availability/blockchain-data-storage-strategies/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/lib/utils/md.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#12948 revert: remove Coin Wallet
  public/images/wallets/coinwallet.png
  src/data/wallets/wallet-data.ts
Labels: Status: Blocked 🛑, wallet 👛

#13162 content: add Shisui to list of Portal clients
  public/content/developers/docs/networking-layer/portal-network/index.md
Labels: content 🖋️

#13033 Adding Cerebrum DAO to the list of projects and removing CureDAO due to inactivity
  public/content/desci/index.md
Labels: content 🖋️

#13208 fix: ETHGlobal Discord link
  public/content/community/online/index.md
  public/content/translations/de/community/online/index.md
  public/content/translations/el/community/online/index.md
  public/content/translations/es/community/online/index.md
  public/content/translations/fa/community/online/index.md
  public/content/translations/fr/community/online/index.md
  public/content/translations/hu/community/online/index.md
  public/content/translations/it/community/online/index.md
  public/content/translations/ja/community/online/index.md
  public/content/translations/nl/community/online/index.md
  public/content/translations/pl/community/online/index.md
  public/content/translations/pt-br/community/online/index.md
  public/content/translations/ru/community/online/index.md
  public/content/translations/sw/community/online/index.md
  public/content/translations/tr/community/online/index.md
  public/content/translations/uk/community/online/index.md
  public/content/translations/zh-tw/community/online/index.md
  public/content/translations/zh/community/online/index.md
Labels: content 🖋️, translation 🌍

#12957 feat(storybook): bump to v8
  .gitignore
  .storybook/main.ts
  chromatic.config.json
  netlify.toml
  package.json
  src/components/Alert/Alert.stories.tsx
  src/components/Buttons/ButtonTwoLines/index.tsx
  src/components/Modal/Modal.stories.tsx
  yarn.lock
Labels: dependencies 📦, tooling 🔧, config ⚙️

#13221 Force to use sharp v0.32
  netlify.toml
  package.json
  yarn.lock
Labels: dependencies 📦, config ⚙️

#13224 Upgrade TS to v5.5
  package.json
  src/components/Codeblock.tsx
  src/pages/what-is-ethereum.tsx
  yarn.lock
Labels: dependencies 📦

#13171 Expanded the list of Russian-language resources
  public/content/community/language-resources/index.md
Labels: content 🖋️

#13141 Performance: lazy load menus
  src/components/Nav/Desktop/index.tsx
  src/components/Nav/index.tsx
Labels: config ⚙️

#13147 Update data for Ambire Wallet
  src/data/wallets/wallet-data.ts
Labels: update 🔄

#13161 Add sybil attack glossary item [Fixes #12096]
  public/content/decentralized-identity/index.md
  public/content/developers/docs/consensus-mechanisms/index.md
  public/content/developers/docs/oracles/index.md
  public/content/glossary/index.md
  src/intl/en/glossary-tooltip.json
  src/intl/en/glossary.json
Labels: content 🖋️, translation 🌍

#13175 indefinite article placed properly
  public/content/developers/docs/smart-contracts/testing/index.md
Labels: content 🖋️

#13203 event: add ethkl 2024 to community events
  src/data/community-events.json
Labels: event 📅

#13223 remove reference to unmaintained eEVM
  public/content/developers/docs/evm/index.md
  public/content/translations/de/developers/docs/evm/index.md
  public/content/translations/es/developers/docs/evm/index.md
  public/content/translations/fa/developers/docs/evm/index.md
  public/content/translations/fr/developers/docs/evm/index.md
  public/content/translations/hu/developers/docs/evm/index.md
  public/content/translations/id/developers/docs/evm/index.md
  public/content/translations/it/developers/docs/evm/index.md
  public/content/translations/ja/developers/docs/evm/index.md
  public/content/translations/pl/developers/docs/evm/index.md
  public/content/translations/pt-br/developers/docs/evm/index.md
  public/content/translations/ro/developers/docs/evm/index.md
  public/content/translations/ru/developers/docs/evm/index.md
  public/content/translations/tr/developers/docs/evm/index.md
  public/content/translations/zh-tw/developers/docs/evm/index.md
  public/content/translations/zh/developers/docs/evm/index.md
Labels: content 🖋️, translation 🌍

#13212 Fix charts using chart.js
  .storybook/i18next.ts
  src/components/EnergyConsumptionChart/EnergyConsumptionChart.stories.tsx
  src/components/EnergyConsumptionChart/index.tsx
  src/components/StatsBoxGrid/GridItem.tsx
  src/components/StatsBoxGrid/StatsBoxGrid.stories.tsx
  yarn.lock
Labels: content 🖋️, translation 🌍, dependencies 📦, documentation 📖, tooling 🔧

#13187 update /staking testnet references to Holesky [Fixes #13168]
  public/content/staking/withdrawals/index.md
  public/content/translations/ar/staking/withdrawals/index.md
  public/content/translations/bn/staking/withdrawals/index.md
  public/content/translations/cs/staking/withdrawals/index.md
  public/content/translations/de/staking/withdrawals/index.md
  public/content/translations/el/staking/withdrawals/index.md
  public/content/translations/es/staking/withdrawals/index.md
  public/content/translations/fa/staking/withdrawals/index.md
  public/content/translations/fil/staking/withdrawals/index.md
  public/content/translations/fr/staking/withdrawals/index.md
  public/content/translations/hi/staking/withdrawals/index.md
  public/content/translations/hu/staking/withdrawals/index.md
  public/content/translations/id/staking/withdrawals/index.md
  public/content/translations/it/staking/withdrawals/index.md
  public/content/translations/ja/staking/withdrawals/index.md
  public/content/translations/pl/staking/withdrawals/index.md
  public/content/translations/pt-br/staking/withdrawals/index.md
  public/content/translations/ru/staking/withdrawals/index.md
  public/content/translations/tr/staking/withdrawals/index.md
  public/content/translations/uk/staking/withdrawals/index.md
  public/content/translations/vi/staking/withdrawals/index.md
  public/content/translations/zh-tw/staking/withdrawals/index.md
  public/content/translations/zh/staking/withdrawals/index.md
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/components/Staking/WithdrawalCredentials.tsx
  src/intl/ar/page-staking.json
  src/intl/bn/page-staking.json
  src/intl/cs/page-staking.json
  src/intl/de/page-staking.json
  src/intl/el/page-staking.json
  src/intl/en/page-staking.json
  src/intl/es/page-staking.json
  src/intl/fa/page-staking.json
  src/intl/fil/page-staking.json
  src/intl/fr/page-staking.json
  src/intl/hi/page-staking.json
  src/intl/hu/page-staking.json
  src/intl/id/page-staking.json
  src/intl/it/page-staking.json
  src/intl/ja/page-staking.json
  src/intl/ko/page-staking.json
  src/intl/nl/page-staking.json
  src/intl/pl/page-staking.json
  src/intl/pt-br/page-staking.json
  src/intl/ru/page-staking.json
  src/intl/tr/page-staking.json
  src/intl/uk/page-staking.json
  src/intl/vi/page-staking.json
  src/intl/zh-tw/page-staking.json
  src/intl/zh/page-staking.json
Labels: content 🖋️, translation 🌍

#13217 replaced unaccesible link from intro to ethereum page
  public/content/developers/docs/intro-to-ethereum/index.md
  public/content/translations/it/developers/docs/intro-to-ethereum/index.md
Labels: content 🖋️, translation 🌍

#12373 Add 'Ethereum Ecosystem' CTA to ethereum.org
  src/intl/en/page-dapps.json
  src/pages/dapps.tsx
Labels: content 🖋️, translation 🌍, needs design approval 🧑‍🎨

#12779 update the position of the tooltip and set it near the label text
  src/components/FindWallet/WalletTable/WalletMoreInfoCategory.tsx
Labels: needs design approval 🧑‍🎨

#12972 Adjust wording on dev docs /consensus-mechanisms/pos
  public/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content 🖋️

#12875 refactor(Hero): sync styles to latest DS
  src/components/Hero/ContentHero/ContentHero.stories.tsx
  src/components/Hero/ContentHero/index.tsx
  src/components/Hero/HomeHero/index.tsx
  src/components/Hero/HubHero/index.tsx
Labels: needs design approval 🧑‍🎨

#13238 Regenerate yarn lock
  yarn.lock
Labels: dependencies 📦

#12952 performance: replace recharts charting lib with Chart.js
  .storybook/i18next.ts
  package.json
  src/components/EnergyConsumptionChart.tsx
  src/components/EnergyConsumptionChart/EnergyConsumptionChart.stories.tsx
  src/components/EnergyConsumptionChart/index.tsx
  src/components/Hero/ContentHero/ContentHero.stories.tsx
  src/components/Hero/HubHero/index.tsx
  src/components/StatsBoxGrid/GridItem.tsx
  src/components/StatsBoxGrid/StatsBoxGrid.stories.tsx
  src/components/StatsBoxGrid/index.tsx
  src/hooks/useIsClient.ts
  src/lib/utils/charts.ts
  yarn.lock
Labels: dependencies 📦, tooling 🔧

#13105 Fixed ether command on Ethereum Client APIs
  public/content/developers/docs/apis/javascript/index.md
Labels: content 🖋️

#13127 Fix typo in french translation of ZK rollups page.
  public/content/translations/fr/developers/docs/scaling/zk-rollups/index.md
Labels: content 🖋️, translation 🌍

#13255 fix: remove outdated subtext
  public/content/developers/docs/nodes-and-clients/node-architecture/index.md
Labels: content 🖋️

#13136 specified that part of the bounty gets burned and the remainder awarded to the validator
  public/content/developers/docs/intro-to-ethereum/index.md
Labels: content 🖋️

#13037 Added context to how the block max limit can be changed
  public/content/developers/docs/blocks/index.md
Labels: question ❓

#13241 add meeds to dapps
  public/images/dapps/meeds.png
  src/intl/en/page-dapps.json
  src/pages/dapps.tsx
Labels: content 🖋️, translation 🌍

#13237 style(theme/Tag): set background style on close button hover
  src/@chakra-ui/components/Tag/index.ts
Labels: dependencies 📦

#13173 fix: french typos
  public/content/translations/fr/refi/index.md
  public/content/translations/fr/roadmap/account-abstraction/index.md
  public/content/translations/fr/roadmap/beacon-chain/index.md
  public/content/translations/fr/roadmap/danksharding/index.md
  public/content/translations/fr/roadmap/future-proofing/index.md
  public/content/translations/fr/roadmap/index.md
  public/content/translations/fr/roadmap/merge/index.md
  public/content/translations/fr/roadmap/merge/issuance/index.md
Labels: question ❓, content 🖋️, translation 🌍, Status: Blocked 🛑, Update Crowdin

#13205 Fix heading styles in Glossary Definition and Tooltip
  .storybook/i18next.ts
  src/components/Glossary/GlossaryDefinition/index.tsx
  src/components/Glossary/GlossaryTooltip/GlossaryTooltip.stories.tsx
  src/components/Glossary/GlossaryTooltip/index.tsx
Labels: tooling 🔧

#13264 feat: list Atlas IDE on learning-tools [Closes #10662]
  public/images/dev-tools/atlas.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: content 🖋️, translation 🌍

#13263 Fix hydration issue on mobile
  src/components/Nav/index.tsx
  src/lib/utils/isDesktop.ts
Labels: tooling 🔧

#13201 Update node syncing content [Fixes #12003]
  public/content/developers/docs/nodes-and-clients/index.md
Labels: content 🖋️

#13135 added a link for the beacon deposit contract on etherscan
  public/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
Labels: content 🖋️

#13269 JSON RPC -> JSON-RPC
  public/content/developers/docs/apis/backend/index.md
  public/content/developers/docs/apis/javascript/index.md
  public/content/developers/docs/nodes-and-clients/index.md
  public/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/developers/docs/programming-languages/dart/index.md
  public/content/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/index.md
Labels: content 🖋️, translation 🌍

#13268 Add Hebrew resources
  public/content/community/language-resources/index.md
Labels: content 🖋️

#13267 feat: add DAppWorld to learning tools
  public/images/dev-tools/dapp-world.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: content 🖋️, translation 🌍
