Repository ethereum/ethereum-org-website, pull requests merged in 2024-07, with the labels that each got.

#13296 Hotfix: remove extra `]` in pt translation
  src/intl/pt/page-layer-2.json
Labels: translation 🌍

#13297 Back-merge hotfix `master` -> `dev`
  src/intl/pt/page-layer-2.json
Labels: translation 🌍

#13275 Remove deprecated Kovan links from tutorial [Fixes #10383]
  public/content/developers/tutorials/short-abi/index.md
Labels: content 🖋️

#13274 Documentation Formatting and Consistency [Fixes #12046]
  public/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content 🖋️

#13179 feat: Adds License section to about page
  public/content/about/index.md
Labels: question ❓, content 🖋️

#12117 Add community education resources to EIPs page
  public/content/eips/index.md
Labels: question ❓, content 🖋️

#13313 fix: remove `hu` entry from crowdin-import
  src/scripts/crowdin-import.ts
Labels: tooling 🔧

#13315 chore: import translations for de
  src/intl/de/page-get-eth.json
  src/intl/de/page-staking.json
  src/intl/de/page-wallets-find-wallet.json
  src/intl/de/page-wallets.json
Labels: translation 🌍

#13318 chore: import translations for fa
  src/intl/fa/common.json
  src/intl/fa/page-staking.json
  src/intl/fa/page-wallets.json
  src/intl/fa/page-what-is-ethereum.json
Labels: translation 🌍

#13317 chore: import translations for es
  public/content/translations/es/contributing/adding-desci-projects/index.md
  public/content/translations/es/contributing/adding-wallets/index.md
  public/content/translations/es/contributing/quizzes/index.md
  src/intl/es/common.json
  src/intl/es/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#13314 chore: import translations for cs
  public/content/translations/cs/dao/index.md
  public/content/translations/cs/desci/index.md
  src/intl/cs/common.json
  src/intl/cs/page-developers-index.json
  src/intl/cs/page-layer-2.json
  src/intl/cs/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#13121 performance: lazy load Codeblock component
  src/components/Codeblock.tsx
  src/components/TitleCardList.tsx
  src/lib/constants.ts
  src/lib/interfaces.ts
  src/pages/index.tsx
Labels: tooling 🔧

#13345 fix: spacing on /security InfoBanner
  public/content/security/index.md
Labels: content 🖋️

#13316 chore: import translations for el
  public/content/translations/el/bridges/index.md
  public/content/translations/el/community/events/index.md
  public/content/translations/el/community/get-involved/index.md
  public/content/translations/el/community/language-resources/index.md
  public/content/translations/el/dao/index.md
  public/content/translations/el/desci/index.md
  public/content/translations/el/eips/index.md
  public/content/translations/el/energy-consumption/index.md
  public/content/translations/el/governance/index.md
  public/content/translations/el/nft/index.md
  public/content/translations/el/roadmap/beacon-chain/index.md
  public/content/translations/el/roadmap/future-proofing/index.md
  public/content/translations/el/roadmap/index.md
  public/content/translations/el/roadmap/merge/index.md
  public/content/translations/el/roadmap/merge/issuance/index.md
  public/content/translations/el/roadmap/scaling/index.md
  public/content/translations/el/roadmap/security/index.md
  public/content/translations/el/roadmap/user-experience/index.md
  public/content/translations/el/security/index.md
  public/content/translations/el/zero-knowledge-proofs/index.md
  src/intl/el/common.json
  src/intl/el/page-developers-index.json
  src/intl/el/page-layer-2.json
  src/intl/el/page-roadmap-vision.json
  src/intl/el/page-upgrades-get-involved.json
  src/intl/el/page-upgrades-index.json
  src/intl/el/page-upgrades.json
  src/intl/el/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#13342 Update community-events.json
  src/data/community-events.json
Labels: event 📅

#13327 fix: broke link syntax
  public/content/community/get-involved/index.md
Labels: content 🖋️, Update Crowdin

#13311 fix: image paths for README embeds [Fixes #13308]
  README.md
Labels: documentation 📖

#13310 refactor: update "mining" verbiage to PoS terms
  public/content/developers/docs/apis/json-rpc/index.md
  public/content/developers/docs/consensus-mechanisms/poa/index.md
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/developers/docs/data-and-analytics/index.md
  public/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/developers/docs/evm/opcodes/index.md
  public/content/developers/docs/mev/index.md
  public/content/developers/docs/networking-layer/index.md
  public/content/developers/docs/oracles/index.md
  public/content/developers/docs/scaling/zk-rollups/index.md
  public/content/enterprise/index.md
Labels: content 🖋️

#13334 chore: import translations for pl
  public/content/translations/pl/nft/index.md
  src/intl/pl/common.json
  src/intl/pl/page-get-eth.json
  src/intl/pl/page-staking.json
  src/intl/pl/page-wallets-find-wallet.json
  src/intl/pl/page-wallets.json
  src/intl/pl/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#13335 chore: import translations for ru
  public/content/translations/ru/staking/dvt/index.md
  src/intl/ru/page-wallets.json
Labels: content 🖋️, translation 🌍

#13336 chore: import translations for uk
  public/content/translations/uk/roadmap/user-experience/index.md
  src/intl/uk/page-staking.json
Labels: content 🖋️, translation 🌍

#13339 chore: import translations for zh
  public/content/translations/zh/decentralized-identity/index.md
  public/content/translations/zh/desci/index.md
  public/content/translations/zh/developers/docs/blocks/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pos/attestations/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pos/faqs/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pos/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pos/keys/index.md
  public/content/translations/zh/developers/docs/dapps/index.md
  public/content/translations/zh/developers/docs/evm/index.md
  public/content/translations/zh/developers/docs/evm/opcodes/index.md
  public/content/translations/zh/developers/docs/gas/index.md
  public/content/translations/zh/developers/docs/networks/index.md
  public/content/translations/zh/guides/how-to-create-an-ethereum-account/index.md
  public/content/translations/zh/guides/how-to-id-scam-tokens/index.md
  public/content/translations/zh/guides/how-to-revoke-token-access/index.md
  public/content/translations/zh/guides/how-to-swap-tokens/index.md
  public/content/translations/zh/refi/index.md
  public/content/translations/zh/roadmap/account-abstraction/index.md
  public/content/translations/zh/roadmap/beacon-chain/index.md
  public/content/translations/zh/roadmap/danksharding/index.md
  public/content/translations/zh/roadmap/future-proofing/index.md
  public/content/translations/zh/roadmap/index.md
  public/content/translations/zh/roadmap/pbs/index.md
  public/content/translations/zh/roadmap/scaling/index.md
  public/content/translations/zh/roadmap/security/index.md
  public/content/translations/zh/roadmap/single-slot-finality/index.md
  public/content/translations/zh/roadmap/statelessness/index.md
  public/content/translations/zh/roadmap/user-experience/index.md
  public/content/translations/zh/social-networks/index.md
  public/content/translations/zh/whitepaper/index.md
  src/intl/zh/common.json
  src/intl/zh/learn-quizzes.json
  src/intl/zh/page-developers-docs.json
  src/intl/zh/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#13338 chore: import translations for zh-tw
  public/content/translations/zh-tw/bridges/index.md
  public/content/translations/zh-tw/community/code-of-conduct/index.md
  public/content/translations/zh-tw/community/events/index.md
  public/content/translations/zh-tw/community/get-involved/index.md
  public/content/translations/zh-tw/community/grants/index.md
  public/content/translations/zh-tw/community/language-resources/index.md
  public/content/translations/zh-tw/community/online/index.md
  public/content/translations/zh-tw/community/support/index.md
  public/content/translations/zh-tw/contributing/design-principles/index.md
  public/content/translations/zh-tw/contributing/design/index.md
  public/content/translations/zh-tw/contributing/index.md
  public/content/translations/zh-tw/contributing/translation-program/faq/index.md
  public/content/translations/zh-tw/contributing/translation-program/how-to-translate/index.md
  public/content/translations/zh-tw/contributing/translation-program/index.md
  public/content/translations/zh-tw/contributing/translation-program/mission-and-vision/index.md
  public/content/translations/zh-tw/contributing/translation-program/resources/index.md
  public/content/translations/zh-tw/contributing/translation-program/translators-guide/index.md
  public/content/translations/zh-tw/desci/index.md
  public/content/translations/zh-tw/developers/docs/blocks/index.md
  public/content/translations/zh-tw/developers/docs/consensus-mechanisms/poa/index.md
  public/content/translations/zh-tw/developers/docs/consensus-mechanisms/pow/index.md
  public/content/translations/zh-tw/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/translations/zh-tw/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/translations/zh-tw/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/zh-tw/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/zh-tw/developers/docs/dapps/index.md
  public/content/translations/zh-tw/developers/docs/evm/index.md
  public/content/translations/zh-tw/developers/docs/evm/opcodes/index.md
  public/content/translations/zh-tw/developers/docs/gas/index.md
  public/content/translations/zh-tw/developers/docs/networks/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/light-clients/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/zh-tw/developers/docs/transactions/index.md
  public/content/translations/zh-tw/governance/index.md
  public/content/translations/zh-tw/nft/index.md
  public/content/translations/zh-tw/roadmap/beacon-chain/index.md
  public/content/translations/zh-tw/roadmap/future-proofing/index.md
  public/content/translations/zh-tw/roadmap/index.md
  public/content/translations/zh-tw/roadmap/merge/index.md
  public/content/translations/zh-tw/roadmap/scaling/index.md
  public/content/translations/zh-tw/roadmap/security/index.md
  public/content/translations/zh-tw/roadmap/single-slot-finality/index.md
  public/content/translations/zh-tw/roadmap/user-experience/index.md
  public/content/translations/zh-tw/security/index.md
  public/content/translations/zh-tw/staking/dvt/index.md
  public/content/translations/zh-tw/zero-knowledge-proofs/index.md
  src/intl/zh-tw/common.json
  src/intl/zh-tw/learn-quizzes.json
  src/intl/zh-tw/page-contributing-translation-program-acknowledgements.json
  src/intl/zh-tw/page-contributing-translation-program-contributors.json
  src/intl/zh-tw/page-developers-docs.json
  src/intl/zh-tw/page-developers-index.json
  src/intl/zh-tw/page-layer-2.json
  src/intl/zh-tw/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#13301 Reth update
  public/content/community/support/index.md
  public/content/developers/docs/nodes-and-clients/index.md
  public/content/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/developers/docs/programming-languages/rust/index.md
  public/content/governance/index.md
Labels: feature ✨, content 🖋️, update 🔄

#13130 edited for clarity and succinctness in PoS consensus algorithm
  public/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content 🖋️

#12960 refactor(layouts): create story and update style for base layout
  .storybook/main.ts
  src/@chakra-ui/foundations/sizes.ts
  src/layouts/BaseLayout.tsx
  src/layouts/index.ts
  src/layouts/stories/BaseLayout.stories.tsx
  src/pages/_app.tsx
Labels: content 🖋️, dependencies 📦, tooling 🔧

#13182 Fixed or deleted dead links in docs/design-and-ux
  public/content/developers/docs/design-and-ux/index.md
Labels: content 🖋️

#13099 feat: Create stories for DS color scheme
  .storybook/main.ts
  src/@chakra-ui/stories/Colors.stories.tsx
Labels: tooling 🔧

#13344 fix: mardown syntax from crowdin import
  public/content/translations/es/contributing/quizzes/index.md
Labels: content 🖋️, translation 🌍

#13364 refactor: use @font-face import for mono font
  .storybook/preview-head.html
  public/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf
  src/lib/fonts.ts
  src/pages/_app.tsx
  src/styles/global.css
Labels: tooling 🔧

#13371 fix(Banners): fix child positioning in DismissableBanner
  .storybook/preview-head.html
  public/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf
  src/components/BannerNotification/DismissableBanner.stories.tsx
  src/components/Banners/BannerNotification.tsx
  src/components/Banners/BugBountyBanner/index.tsx
  src/components/Banners/DismissableBanner/index.tsx
  src/components/Banners/UpgradeBannerNotification.tsx
  src/layouts/Docs.tsx
  src/layouts/UseCases.tsx
  src/lib/fonts.ts
  src/pages/_app.tsx
  src/pages/wallets/find-wallet.tsx
  src/styles/global.css
Labels: tooling 🔧

#13347 feat: extend ShadCN initialization
  .prettierrc
  .storybook/ChakraDecorator.tsx
  .storybook/main.ts
  .storybook/modes.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/preview.tsx
  .storybook/types.ts
  components.json
  package.json
  src/components/ChakraThemeProvider.tsx
  src/components/Hero/HubHero/index.tsx
  src/components/ThemeProvider.tsx
  src/lib/utils/**/*.ts
  src/pages/_app.tsx
  src/styles/fonts.css
  src/styles/global.css
  src/styles/main.css
  tailwind.config.ts
  tailwind/ui/__stories__/accordion.stories.tsx
  tailwind/ui/accordion.tsx
  tailwind/ui/stack.tsx
  tsconfig.json
  yarn.lock
Labels: dependencies 📦, tooling 🔧, config ⚙️

#13343 Shadcn/Tailwind - initial setup
  .prettierrc
  .storybook/ChakraDecorator.tsx
  .storybook/main.ts
  .storybook/modes.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/preview.tsx
  .storybook/types.ts
  components.json
  package.json
  postcss.config.js
  src/@chakra-ui/styles.ts
  src/components/ActionCard.tsx
  src/components/AdoptionChart.tsx
  src/components/CardList.tsx
  src/components/CodeModal.tsx
  src/components/Codeblock.tsx
  src/components/DataProductCard.tsx
  src/components/EnergyConsumptionChart/index.tsx
  src/components/EthVideo.tsx
  src/components/Hero/HubHero/index.tsx
  src/components/Leaderboard.tsx
  src/components/Logo.tsx
  src/components/MeetupList.tsx
  src/components/Nav/Desktop/index.tsx
  src/components/Nav/Mobile/MenuFooter.tsx
  src/components/Nav/useNav.ts
  src/components/ProductList.tsx
  src/components/Simulator/screens/ConnectWeb3/Web3App.tsx
  src/components/Simulator/screens/CreateAccount/HomeScreen.tsx
  src/components/Simulator/screens/SendReceive/ReceiveEther.tsx
  src/components/StablecoinBoxGrid.tsx
  src/components/Staking/StakingProductsCardGrid/useStakingProductsCardGrid.ts
  src/components/ThemeProvider.tsx
  src/components/TitleCardList.tsx
  src/components/TranslationChartImage.tsx
  src/components/TranslationLeaderboard.tsx
  src/components/UpgradeStatus.tsx
  src/hooks/useColorModeValue.ts
  src/hooks/useNavMenuColors.ts
  src/lib/constants.ts
  src/lib/utils/cn.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/assets.tsx
  src/pages/bug-bounty.tsx
  src/pages/developers/index.tsx
  src/styles/fonts.css
  src/styles/global.css
  tailwind.config.ts
  tailwind/ui/__stories__/accordion.stories.tsx
  tailwind/ui/accordion.tsx
  tailwind/ui/stack.tsx
  tsconfig.json
  yarn.lock
Labels: dependencies 📦, tooling 🔧, config ⚙️

#13383 Change lowercase abbreviations to uppercase [Fixes #13362]
  public/content/developers/docs/networking-layer/portal-network/index.md
Labels: content 🖋️

#13306 Setup missing translations on /layer-2 and /stablecoins pages
  src/components/StablecoinsTable.tsx
  src/intl/en/page-layer-2.json
  src/intl/en/page-stablecoins.json
  src/pages/layer-2.tsx
Labels: content 🖋️, translation 🌍

#13307 setup missing staking translations
  src/components/ProductCard.tsx
  src/components/Staking/StakingComparison.tsx
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/components/Staking/StakingProductsCardGrid/StakingProductCard.tsx
  src/intl/en/common.json
  src/intl/en/page-staking.json
Labels: content 🖋️, translation 🌍

#13370 Add NodeGuardians in the Interactive games tutorial list
  public/images/dev-tools/node-guardians.jpg
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: content 🖋️, translation 🌍

#13397 Prettier + lintstaged
  .lintstagedrc.js
  .storybook/main.ts
  .storybook/types.ts
  package.json
  src/@chakra-ui/components/Popover.ts
  src/@chakra-ui/stories/Colors.stories.tsx
  src/components/ActionCard.tsx
  src/components/Banners/DismissableBanner/index.tsx
  src/components/ButtonDropdown.tsx
  src/components/DataProductCard.tsx
  src/components/EnergyConsumptionChart/index.tsx
  src/components/Image.tsx
  src/components/Nav/Desktop/index.tsx
  src/components/Nav/Menu/NextChevron.tsx
  src/components/Nav/Mobile/MenuFooter.tsx
  src/components/Nav/useNav.ts
  src/components/ProductCard.tsx
  src/components/ProductList.tsx
  src/components/Select/index.tsx
  src/components/Select/innerComponents.tsx
  src/components/Simulator/screens/ConnectWeb3/Web3App.tsx
  src/components/Simulator/screens/CreateAccount/HomeScreen.tsx
  src/components/Simulator/screens/CreateAccount/WordList.tsx
  src/components/StablecoinsTable.tsx
  src/components/Staking/StakingComparison.tsx
  src/components/Staking/StakingConsiderations/index.tsx
  src/components/Staking/StakingProductsCardGrid/StakingProductCard.tsx
  src/components/Staking/StakingProductsCardGrid/utils.ts
  src/components/Stat/index.tsx
  src/components/TitleCardList.tsx
  src/data/layer-2/layer-2.ts
  src/hooks/useColorModeValue.ts
  src/hooks/useEventListener.ts
  src/hooks/useNavMenuColors.ts
  src/hooks/useRtlFlip.ts
  src/lib/constants.ts
  src/lib/types.ts
  src/lib/utils/crypto.ts
  src/lib/utils/existsNamespace.ts
  src/lib/utils/gh.ts
  src/pages/assets.tsx
  src/pages/bug-bounty.tsx
  src/pages/dapps.tsx
  src/pages/layer-2.tsx
  src/scripts/crowdin-import.ts
  src/scripts/crowdin/getTranslationProgress.ts
  src/scripts/crowdin/import/utils.ts
  src/scripts/crowdin/source-files/fetchAndSaveFileIds.ts
  src/scripts/crowdin/translations/getTranslations.ts
  src/scripts/events-import.ts
  yarn.lock
Labels: dependencies 📦, tooling 🔧

#13394 Bump prettier
  package.json
  yarn.lock
Labels: dependencies 📦

#13379 Fix error on the Verkle trees page
  public/content/roadmap/verkle-trees/index.md
Labels: bug 🐛, content 🖋️

#13373 Setup "Go to top" button for translation
  src/components/Footer.tsx
  src/intl/en/common.json
Labels: content 🖋️, translation 🌍

#13396 Fix typo in EIPs learn page
  public/content/eips/index.md
Labels: content 🖋️

#13404 Add license to package.json
  package.json
Labels: dependencies 📦

#13407 Update index.md in About
  public/content/about/index.md
Labels: content 🖋️

#13395 Dune API to fetch total eth staked
  .env.example
  src/components/StatsBoxGrid/useStatsBoxGrid.tsx
  src/lib/api/fetchTotalEthStaked.ts
  src/lib/constants.ts
  src/lib/types.ts
Labels: tooling 🔧

#13075 Proposed UX articles
  public/content/developers/docs/design-and-ux/dex-design-best-practice/1.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/10.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/11.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/12.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/13.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/14.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/15.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/16.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/17.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/2.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/3.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/4.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/5.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/6.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/7.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/8.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/9.png
  public/content/developers/docs/design-and-ux/dex-design-best-practice/index.md
  public/content/developers/docs/design-and-ux/heuristics-for-web3/Image1.png
  public/content/developers/docs/design-and-ux/heuristics-for-web3/Image2.png
  public/content/developers/docs/design-and-ux/heuristics-for-web3/Image3.png
  public/content/developers/docs/design-and-ux/heuristics-for-web3/Image4.png
  public/content/developers/docs/design-and-ux/heuristics-for-web3/Image5.png
  public/content/developers/docs/design-and-ux/heuristics-for-web3/Image6.png
  public/content/developers/docs/design-and-ux/heuristics-for-web3/Image7.png
  public/content/developers/docs/design-and-ux/heuristics-for-web3/index.md
  src/data/developer-docs-links.yaml
  src/data/placeholders/content-developers-docs-design-and-ux-heuristics-for-web3-data.json
  src/intl/en/page-developers-docs.json
  src/lib/utils/md.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#13435 ci(workflows/chromatic): add tailwind paths for trigger
  .github/workflows/chromatic.yml
Labels: tooling 🔧

#13445 fix: wallet language filtering [Fixes #13385]
  src/hooks/useWalletTable.tsx
  src/pages/wallets/find-wallet.tsx
Labels: tooling 🔧

#13429 update create acc guide
  public/content/guides/how-to-create-an-ethereum-account/index.md
  public/content/guides/how-to-create-an-ethereum-account/wallet-box.png
  src/data/placeholders/content-guides-how-to-create-an-ethereum-account-data.json
Labels: content 🖋️

#13447 Remove console log from fetchGitHistory.ts
  src/lib/api/fetchGitHistory.ts
Labels: tooling 🔧

#13419 refactor: migrate buttons to tailwind
  .storybook/preview.tsx
  tailwind/ui/__stories__/Button.stories.tsx
  tailwind/ui/__stories__/ButtonTwoLines.stories.tsx
  tailwind/ui/buttons/Button.tsx
  tailwind/ui/buttons/ButtonTwoLines.tsx
Labels: tooling 🔧

#13451 fix: Recommend Holesky over Goerli on "run a node"
  public/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content 🖋️

#13454 fix typo
  public/content/guides/how-to-create-an-ethereum-account/index.md
Labels: content 🖋️

#13457 fix typo
  public/content/community/language-resources/index.md
Labels: content 🖋️

#13363 Update index.md
  public/content/roadmap/statelessness/index.md
Labels: content 🖋️

#13375 Update enterprise content
  public/content/enterprise/index.md
Labels: content 🖋️

#13350 fix: docs improvements
  docs/review-process.md
  public/content/community/research/index.md
  public/content/contributing/adding-products/index.md
  public/content/contributing/adding-wallets/index.md
Labels: content 🖋️, documentation 📖

#13413 Add Request Finance to payments category in dapps [Fixes #13112]
  public/images/dapps/requestFinance.png
  src/intl/en/page-dapps.json
  src/pages/dapps.tsx
Labels: content 🖋️, translation 🌍

#13409 Fix typo in "transactions" page, missing full stop
  public/content/developers/docs/transactions/index.md
Labels: content 🖋️

#13323 Update EOA address info [Fixes #11877]
  public/content/developers/docs/accounts/index.md
Labels: content 🖋️

#13298 Performance: lazy load stats using intersection obs
  src/components/LazyLoadComponent.tsx
  src/pages/index.tsx
Labels: config ⚙️

#13465 Bump @netlify/plugin-nextjs to latest
  package.json
  yarn.lock
Labels: dependencies 📦

#13485 Further deprecate `to` for `href`
  public/content/roadmap/index.md
  public/content/translations/de/roadmap/index.md
  public/content/translations/el/roadmap/index.md
  public/content/translations/es/roadmap/index.md
  public/content/translations/fa/roadmap/index.md
  public/content/translations/fr/roadmap/index.md
  public/content/translations/id/roadmap/index.md
  public/content/translations/it/developers/docs/scaling/state-channels/index.md
  public/content/translations/it/roadmap/index.md
  public/content/translations/ja/developers/docs/scaling/state-channels/index.md
  public/content/translations/ja/roadmap/index.md
  public/content/translations/pt-br/roadmap/index.md
  public/content/translations/ru/roadmap/index.md
  public/content/translations/tr/roadmap/index.md
  public/content/translations/uk/roadmap/index.md
  public/content/translations/zh-tw/roadmap/index.md
  public/content/translations/zh/roadmap/index.md
  src/components/ActionCard.tsx
  src/components/ButtonDropdown.tsx
  src/components/DeveloperDocsLinks.tsx
  src/components/DocLink.tsx
  src/components/DocsNav.tsx
  src/components/EventCard.tsx
  src/components/Footer.tsx
  src/components/GitStars.tsx
  src/components/Link.tsx
  src/components/Roadmap/RoadmapActionCard/RoadmapActionCard.stories.tsx
  src/components/Roadmap/RoadmapActionCard/index.tsx
  src/components/SideNav.tsx
  src/components/SideNavMobile.tsx
  src/components/StablecoinAccordion/index.tsx
  src/components/Staking/StakingComparison.tsx
  src/components/UpcomingEventsList.tsx
  src/data/community-events.json
  src/data/developer-docs-links.yaml
  src/data/placeholders/content-developers-docs-design-and-ux-dex-design-best-practice-data.json
  src/layouts/Roadmap.tsx
  src/layouts/Staking.tsx
  src/layouts/Upgrade.tsx
  src/layouts/UseCases.tsx
  src/lib/interfaces.ts
  src/lib/types.ts
  src/lib/utils/md.ts
  src/lib/utils/tutorial.ts
  src/pages/community.tsx
  src/pages/contributing/translation-program/acknowledgements.tsx
  src/pages/dapps.tsx
  src/pages/developers/tutorials.tsx
  src/pages/eth.tsx
  src/pages/index.tsx
  src/pages/learn.tsx
  src/pages/staking/index.tsx
  src/pages/wallets/index.tsx
  src/scripts/events-import.ts
  src/scripts/events/ethereum-events-import.ts
Labels: content 🖋️, translation 🌍, tooling 🔧, event 📅, Update Crowdin

#13390 Update community-meetups.json
  src/data/community-events.json
  src/data/community-meetups.json
Labels: event 📅, awaiting changes

#13424 Add Chronicle to Oracles list
  public/content/developers/docs/oracles/index.md
Labels: content 🖋️

#13452 Update wording for layer-2 question on wallets template
  .github/ISSUE_TEMPLATE/suggest_wallet.yaml
Labels: tooling 🔧

#13472 term correction
  public/content/roadmap/future-proofing/index.md
Labels: content 🖋️

#13473 fix grammar
  public/content/roadmap/merge/index.md
Labels: content 🖋️

#13474 fix typo
  public/content/roadmap/verkle-trees/index.md
Labels: content 🖋️

#13475 fix phrasing
  public/content/roadmap/index.md
Labels: content 🖋️

#13491 Add Etherscan to dev docs /apis/backend/
  public/content/developers/docs/apis/backend/index.md
Labels: content 🖋️

#13504 fix: typo in custom heading id on /defi
  public/content/defi/index.md
Labels: content 🖋️

#13484 add ethshenzhen event [Fixes #13446]
  src/data/community-events.json
Labels: event 📅

#13535 Update naming and link to core dev calls
  public/content/community/get-involved/index.md
Labels: content 🖋️

#13527 Delete Invalid Invite
  public/content/community/support/index.md
Labels: content 🖋️

#13526 Add link to Eth R&D Discord
  public/content/community/get-involved/index.md
Labels: content 🖋️

#13525 Clearer description for page-what-is-ethereum.json
  src/intl/en/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#13479 Add MEV to glossary
  public/content/glossary/index.md
  src/intl/en/glossary.json
Labels: content 🖋️, translation 🌍

#13411 Shadcn migration - footer, skiplink, list & link components
  package.json
  src/components/Footer.tsx
  src/components/SkipLink.tsx
  src/components/ThemeProvider.tsx
  src/components/ui/list.tsx
  src/layouts/BaseLayout.tsx
  src/styles/global.css
  tailwind.config.ts
  tailwind/Link.tsx
  yarn.lock
Labels: dependencies 📦

#13441 feat: set Checkbox component for ShadCN
  package.json
  src/layouts/BaseLayout.tsx
  tailwind.config.ts
  tailwind/ui/Checkbox.tsx
  tailwind/ui/__stories__/Checkbox.stories.tsx
  yarn.lock
Labels: dependencies 📦
