Repository ethereum/ethereum-org-website, pull requests merged in 2024-04, with the labels that each got.

#11627 Fix a typo
  public/content/translations/zh/developers/docs/development-networks/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11826 Corrections to Implementation Code in Dagger-Hashimoto Algorithm Documentation
  public/content/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/translations/es/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/translations/it/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/translations/tr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12607 fix: battle tested logic
  src/components/Staking/StakingProductsCardGrid/utils.ts
Labels: review needed :eyes:

#12609 Azerbaijani import
  public/content/translations/az/decentralized-identity/index.md
  public/content/translations/az/defi/index.md
  public/content/translations/az/desci/index.md
  public/content/translations/az/refi/index.md
  public/content/translations/az/smart-contracts/index.md
  public/content/translations/az/social-networks/index.md
Labels: content :fountain_pen:

#12611 Czech import
  public/content/translations/cs/bridges/index.md
  public/content/translations/cs/decentralized-identity/index.md
  public/content/translations/cs/defi/index.md
  public/content/translations/cs/desci/index.md
  public/content/translations/cs/energy-consumption/index.md
  public/content/translations/cs/governance/index.md
  public/content/translations/cs/nft/index.md
  public/content/translations/cs/refi/index.md
  public/content/translations/cs/security/index.md
  public/content/translations/cs/smart-contracts/index.md
  public/content/translations/cs/web3/index.md
  public/content/translations/cs/zero-knowledge-proofs/index.md
  src/intl/cs/common.json
  src/intl/cs/page-dapps.json
  src/intl/cs/page-gas.json
  src/intl/cs/page-index.json
  src/intl/cs/page-languages.json
  src/intl/cs/page-layer-2.json
  src/intl/cs/page-stablecoins.json
  src/intl/cs/page-wallets-find-wallet.json
  src/intl/cs/page-wallets.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12612 Farsi import
  public/content/translations/fa/roadmap/account-abstraction/index.md
  public/content/translations/fa/roadmap/danksharding/index.md
  public/content/translations/fa/roadmap/index.md
  public/content/translations/fa/roadmap/scaling/index.md
  public/content/translations/fa/roadmap/verkle-trees/index.md
  src/intl/fa/page-upgrades-index.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12615 Hungarian import
  public/content/translations/hu/developers/docs/bridges/index.md
  public/content/translations/hu/developers/docs/data-availability/index.md
  public/content/translations/hu/developers/docs/design-and-ux/index.md
  public/content/translations/hu/developers/docs/mev/index.md
  public/content/translations/hu/developers/docs/oracles/index.md
  public/content/translations/hu/developers/docs/smart-contracts/composability/index.md
  public/content/translations/hu/developers/docs/smart-contracts/formal-verification/index.md
  public/content/translations/hu/developers/docs/smart-contracts/testing/index.md
  public/content/translations/hu/developers/docs/smart-contracts/upgrading/index.md
  public/content/translations/hu/developers/docs/smart-contracts/verifying/index.md
  public/content/translations/hu/developers/docs/standards/index.md
  public/content/translations/hu/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/hu/developers/docs/standards/tokens/erc-20/index.md
  public/content/translations/hu/developers/docs/standards/tokens/erc-4626/index.md
  public/content/translations/hu/developers/docs/standards/tokens/erc-721/index.md
  public/content/translations/hu/developers/docs/standards/tokens/erc-777/index.md
  public/content/translations/hu/developers/docs/standards/tokens/index.md
  src/intl/hu/learn-quizzes.json
  src/intl/hu/page-learn.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12613 French import
  public/content/translations/fr/community/code-of-conduct/index.md
  public/content/translations/fr/community/get-involved/index.md
  public/content/translations/fr/community/grants/index.md
  public/content/translations/fr/community/online/index.md
  public/content/translations/fr/community/research/index.md
  public/content/translations/fr/community/support/index.md
  public/content/translations/fr/decentralized-identity/index.md
  public/content/translations/fr/defi/index.md
  public/content/translations/fr/desci/index.md
  public/content/translations/fr/developers/docs/blocks/index.md
  public/content/translations/fr/developers/docs/evm/index.md
  public/content/translations/fr/developers/docs/evm/opcodes/index.md
  public/content/translations/fr/developers/docs/gas/index.md
  public/content/translations/fr/developers/docs/networks/index.md
  public/content/translations/fr/developers/docs/transactions/index.md
  public/content/translations/fr/governance/index.md
  public/content/translations/fr/roadmap/danksharding/index.md
  public/content/translations/fr/roadmap/index.md
  public/content/translations/fr/roadmap/merge/index.md
  public/content/translations/fr/roadmap/scaling/index.md
  public/content/translations/fr/roadmap/verkle-trees/index.md
  public/content/translations/fr/security/index.md
  public/content/translations/fr/smart-contracts/index.md
  public/content/translations/fr/staking/saas/index.md
  public/content/translations/fr/staking/solo/index.md
  public/content/translations/fr/staking/withdrawals/index.md
  public/content/translations/fr/zero-knowledge-proofs/index.md
  src/intl/fr/page-languages.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12614 German import
  public/content/translations/de/bridges/index.md
  public/content/translations/de/energy-consumption/index.md
  public/content/translations/de/governance/index.md
  public/content/translations/de/nft/index.md
  public/content/translations/de/security/index.md
  public/content/translations/de/staking/saas/index.md
  public/content/translations/de/staking/solo/index.md
  public/content/translations/de/zero-knowledge-proofs/index.md
  src/intl/de/common.json
  src/intl/de/page-dapps.json
  src/intl/de/page-gas.json
  src/intl/de/page-stablecoins.json
  src/intl/de/page-wallets-find-wallet.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12641 Typo: Corrected typos regarding capitalization on Design Contribution page
  public/content/contributing/design/index.md
Labels: content :fountain_pen:

#12616 Indonesian import
  public/content/translations/id/bridges/index.md
  public/content/translations/id/eips/index.md
  public/content/translations/id/energy-consumption/index.md
  public/content/translations/id/governance/index.md
  public/content/translations/id/roadmap/account-abstraction/index.md
  public/content/translations/id/roadmap/danksharding/index.md
  public/content/translations/id/roadmap/index.md
  public/content/translations/id/roadmap/merge/index.md
  public/content/translations/id/roadmap/scaling/index.md
  public/content/translations/id/roadmap/single-slot-finality/index.md
  public/content/translations/id/roadmap/statelessness/index.md
  public/content/translations/id/roadmap/verkle-trees/index.md
  public/content/translations/id/security/index.md
  public/content/translations/id/staking/pools/index.md
  public/content/translations/id/staking/saas/index.md
  public/content/translations/id/staking/solo/index.md
  public/content/translations/id/staking/withdrawals/index.md
  public/content/translations/id/web3/index.md
  public/content/translations/id/zero-knowledge-proofs/index.md
  src/intl/id/common.json
  src/intl/id/page-upgrades-index.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12618 Korean import
  public/content/translations/ko/nft/index.md
  src/intl/ko/page-dapps.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12623 Vietnamese import
  public/content/translations/vi/nft/index.md
  src/data/placeholders/content-community-language-resources-data.json
  src/intl/vi/page-dapps.json
  src/intl/vi/page-gas.json
  src/intl/vi/page-get-eth.json
  src/intl/vi/page-stablecoins.json
  src/intl/vi/page-wallets-find-wallet.json
  src/intl/vi/page-wallets.json
  src/intl/vi/page-what-is-ethereum.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12629 move Brownie, pydevp2p, and py-wasm to Archived tools, update link to list of Vyper resources
  public/content/developers/docs/programming-languages/python/index.md
Labels: content :fountain_pen:

#12633 Fix Pocket Network Public Endpoints URL
  public/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/es/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/fa/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/fr/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/id/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/it/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/ja/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/pt-br/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/ro/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/ru/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/tr/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/zh/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:

#12635 Update community-meetups.json added Prague meetup
  src/data/community-meetups.json
Labels: review needed :eyes:

#12650 Update protocol announcement subscription link [Fixes #12627]
  public/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:

#12619 Polish import
  public/content/translations/pl/bridges/index.md
  public/content/translations/pl/energy-consumption/index.md
  public/content/translations/pl/governance/index.md
  public/content/translations/pl/security/index.md
  public/content/translations/pl/staking/pools/index.md
  public/content/translations/pl/staking/saas/index.md
  public/content/translations/pl/staking/solo/index.md
  public/content/translations/pl/zero-knowledge-proofs/index.md
  src/intl/pl/common.json
  src/intl/pl/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12622 Urdu import
  src/intl/ur/common.json
  src/intl/ur/page-index.json
Labels: translation :earth_africa:, review needed :eyes:

#11324 refactor: update Storybook docs and usage
  docs/applying-storybook.md
  src/components/Alert/Alert.stories.tsx
  src/components/Avatar/Avatar.stories.tsx
  src/components/BannerNotification/BannerNotification.stories.tsx
  src/components/BannerNotification/DismissableBanner.stories.tsx
  src/components/BaseStories/Checkbox.stories.tsx
  src/components/BaseStories/Heading.stories.tsx
  src/components/BaseStories/Link.stories.tsx
  src/components/BaseStories/Radio.stories.tsx
  src/components/BaseStories/Switch.stories.tsx
  src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/components/Buttons/Button.stories.tsx
  src/components/Buttons/ButtonTwoLines/ButtonTwoLines.stories.tsx
  src/components/Glossary/GlossaryDefinition/GlossaryDefinition.stories.tsx
  src/components/Glossary/GlossaryTooltip/GlossaryTooltip.stories.tsx
  src/components/Input/Input.stories.tsx
  src/components/Slider/Slider.stories.tsx
  src/components/Table/stories/Table.stories.tsx
  src/components/Tag/Tag.stories.tsx
  src/components/icons/Icons.stories.tsx
Labels: needs review 👀

#12665 feat: add external alchemy tutorial [Closes #8299]
  src/data/externalTutorials.json
Labels: review needed :eyes:

#12667 refactor: use emojis for labels
  .github/labeler.yml
Labels: tooling :wrench:

#12634 refactor: use weth.tkn.eth.limo link over weth.io
  public/content/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/translations/es/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/translations/fr/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/translations/fr/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/translations/id/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/translations/it/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/translations/it/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/translations/ja/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/translations/ja/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/translations/pt-br/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/translations/pt-br/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/translations/ro/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/translations/tr/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/translations/tr/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/translations/zh/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/translations/zh/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/wrapped-eth/index.md
Labels: content 🖋️

#12671 fix: Corrects rendering of links in bug-bounty page
  src/pages/bug-bounty.tsx
Labels: content 🖋️, needs review 👀

#12657 Fix hyperlink optimism design
  public/content/developers/docs/design-and-ux/index.md
  public/content/translations/es/developers/docs/design-and-ux/index.md
  public/content/translations/fr/developers/docs/design-and-ux/index.md
  public/content/translations/hu/developers/docs/design-and-ux/index.md
  public/content/translations/it/developers/docs/design-and-ux/index.md
  public/content/translations/ja/developers/docs/design-and-ux/index.md
  public/content/translations/tr/developers/docs/design-and-ux/index.md
  public/content/translations/zh/developers/docs/design-and-ux/index.md
Labels: content 🖋️

#12126 feat(docs): add `ethers-kt` to developer tooling docs
  public/content/developers/docs/apis/backend/index.md
  public/content/developers/docs/frameworks/index.md
  public/content/developers/docs/programming-languages/java/index.md
Labels: content 🖋️

#12390 Update security guidelines for Ethereum and cryptocurrency users page
  public/content/security/index.md
Labels: content 🖋️

#12553 feat: add ButtonDropdown components state variable
  src/components/ButtonDropdown.tsx
Labels: needs review 👀, needs dev approval 🧑‍💻, needs design approval 🧑‍🎨

#12605 ♻️ (apis/backend/index.md): Reorganize & update list of available libraries.
  public/content/developers/docs/apis/backend/index.md
Labels: content 🖋️

#12626 Typo: Corrected Ethereum.org -> ethereum.org on Design contribution page
  public/content/contributing/adding-wallets/index.md
  public/content/contributing/design/index.md
Labels: content 🖋️

#12631 feat: add masca to decentralized identity
  public/content/decentralized-identity/index.md
Labels: content 🖋️, needs product review 🕵️

#12632 feat: add awesome ethereum rust list
  public/content/developers/docs/programming-languages/rust/index.md
Labels: content 🖋️

#12660 Fix ToC items space
  src/components/UpgradeTableOfContents.tsx
Labels: needs review 👀

#12663 "ETH is valuable because" question changes
  src/intl/en/learn-quizzes.json
Labels: translation 🌍, needs review 👀

#12672 Fixed a typo on the evm diagram
  public/content/developers/docs/evm/evm.png
Labels: content 🖋️

#12673 fix: update Scaffold-ETH link
  public/content/developers/docs/dapps/index.md
  public/content/developers/docs/frameworks/index.md
  public/content/translations/de/developers/docs/dapps/index.md
  public/content/translations/de/developers/docs/frameworks/index.md
  public/content/translations/es/developers/docs/dapps/index.md
  public/content/translations/es/developers/docs/frameworks/index.md
  public/content/translations/fa/developers/docs/dapps/index.md
  public/content/translations/fr/developers/docs/dapps/index.md
  public/content/translations/fr/developers/docs/frameworks/index.md
  public/content/translations/hu/developers/docs/dapps/index.md
  public/content/translations/hu/developers/docs/frameworks/index.md
  public/content/translations/id/developers/docs/dapps/index.md
  public/content/translations/id/developers/docs/frameworks/index.md
  public/content/translations/it/developers/docs/dapps/index.md
  public/content/translations/it/developers/docs/frameworks/index.md
  public/content/translations/ja/developers/docs/dapps/index.md
  public/content/translations/ja/developers/docs/frameworks/index.md
  public/content/translations/pl/developers/docs/frameworks/index.md
  public/content/translations/pt-br/developers/docs/dapps/index.md
  public/content/translations/pt-br/developers/docs/frameworks/index.md
  public/content/translations/ro/developers/docs/dapps/index.md
  public/content/translations/ro/developers/docs/frameworks/index.md
  public/content/translations/ru/developers/docs/dapps/index.md
  public/content/translations/tr/developers/docs/dapps/index.md
  public/content/translations/tr/developers/docs/frameworks/index.md
  public/content/translations/zh-tw/developers/docs/dapps/index.md
  public/content/translations/zh/developers/docs/dapps/index.md
  public/content/translations/zh/developers/docs/frameworks/index.md
Labels: content 🖋️

#12687 Keyboard shortcut fix
  src/components/Nav/Menu/useNavMenu.ts
  src/lib/utils/keyboard.ts
Labels: needs review 👀

#12692 Hotfix: hide search
  src/components/Nav/Mobile/MenuFooter.tsx
  src/components/Nav/index.tsx
Labels: review needed :eyes:

#12683 Update SubQuery entry
  public/content/developers/docs/data-and-analytics/index.md
Labels: content 🖋️, LGTM

#12131 Major update to Enterprise applications live on Ethereum Mainnet
  public/content/enterprise/index.md
Labels: content 🖋️, LGTM

#12659 Fix: component padding on /stablecoins
  src/pages/stablecoins.tsx
Labels: content 🖋️, needs review 👀, needs design approval 🧑‍🎨

#12684 Update translator acknowledgements
  public/content/contributing/translation-program/index.md
  public/content/translations/tr/contributing/page-contributing-translation-program-acknowledgements.json
  public/content/translations/zh/contributing/page-contributing-translation-program-acknowledgements.json
  src/intl/de/page-contributing-translation-program-acknowledgements.json
  src/intl/en/page-contributing-translation-program-acknowledgements.json
  src/intl/en/page-contributing-translation-program-contributors.json
  src/intl/es/page-contributing-translation-program-acknowledgements.json
  src/intl/fr/page-contributing-translation-program-acknowledgements.json
  src/intl/id/page-contributing-translation-program-acknowledgements.json
  src/intl/it/page-contributing-translation-program-acknowledgements.json
  src/intl/pt-br/page-contributing-translation-program-acknowledgements.json
  src/intl/tr/page-contributing-translation-program-acknowledgements.json
  src/intl/zh/page-contributing-translation-program-acknowledgements.json
  src/pages/contributing/translation-program/acknowledgements.tsx
Labels: content 🖋️, translation 🌍, needs review 👀, LGTM

#12289 Add ethereum-json-rpc.com
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content 🖋️

#12636 revert: removal of old page-languages ns strings
  src/intl/cs/common.json
  src/intl/cs/page-languages.json
  src/intl/fr/common.json
  src/intl/fr/page-languages.json
  src/intl/zh/common.json
  src/intl/zh/page-languages.json
Labels: translation 🌍, needs review 👀, needs dev approval 🧑‍💻

#12705 Typo: Fixed a typo, a residual double quatation.
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content 🖋️

#12709 Fix some errors and typos across files
  public/content/developers/docs/consensus-mechanisms/pos/keys/index.md
  public/content/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/dagger-hashimoto/index.md
  public/content/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/developers/tutorials/deploying-your-first-smart-contract/index.md
  public/content/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  public/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  public/content/roadmap/secret-leader-election/index.md
  src/intl/en/glossary.json
Labels: content 🖋️, translation 🌍, needs review 👀

#12721 Update patricia merkle trie sample code
  public/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content 🖋️

#12719 Fix broken link on UI and UX page
  public/content/developers/docs/design-and-ux/index.md
  public/content/translations/es/developers/docs/design-and-ux/index.md
  public/content/translations/fr/developers/docs/design-and-ux/index.md
  public/content/translations/hu/developers/docs/design-and-ux/index.md
  public/content/translations/it/developers/docs/design-and-ux/index.md
  public/content/translations/ja/developers/docs/design-and-ux/index.md
  public/content/translations/tr/developers/docs/design-and-ux/index.md
  public/content/translations/zh/developers/docs/design-and-ux/index.md
Labels: content 🖋️

#12713 feat: add tracking for cta buttons in /find-wallet
  src/components/FindWallet/WalletTable/index.tsx
Labels: needs review 👀

#12728 fix: cryptography tooltip
  src/intl/en/page-what-is-ethereum.json
Labels: translation 🌍, needs review 👀

#12716 DS imp - Footer and Social icons
  src/components/Footer.tsx
Labels: needs review 👀

#12717 Fix hydration issue with tooltip and glossary tooltip
  src/components/Glossary/GlossaryTooltip/index.tsx
  src/components/Tooltip/index.tsx
Labels: needs review 👀

#12246 docs: Add covalent info into backend API libraries
  public/content/developers/docs/apis/backend/index.md
Labels: content 🖋️

#12666 fix: StablecoinsTable components dark mode text color not see#12648
  src/components/StablecoinsTable.tsx
Labels: feature :sparkles:, needs design approval 🧑‍🎨

#12748 fix: specification content detail
  public/content/developers/docs/consensus-mechanisms/pos/faqs/index.md
Labels: content 🖋️

#12658 Fix the unintended behaviour of clicking visit website on find wallet #12644
  src/components/FindWallet/WalletTable/index.tsx
Labels: needs review 👀

#12745 feat: Remove Gitcoin bounties from get involved page
  public/content/community/get-involved/index.md
  public/content/translations/ca/community/get-involved/index.md
  public/content/translations/de/community/get-involved/index.md
  public/content/translations/el/community/get-involved/index.md
  public/content/translations/es/community/get-involved/index.md
  public/content/translations/fa/community/get-involved/index.md
  public/content/translations/fr/community/get-involved/index.md
  public/content/translations/hu/community/get-involved/index.md
  public/content/translations/id/community/get-involved/index.md
  public/content/translations/it/community/get-involved/index.md
  public/content/translations/ja/community/get-involved/index.md
  public/content/translations/nl/community/get-involved/index.md
  public/content/translations/pl/community/get-involved/index.md
  public/content/translations/pt-br/community/get-involved/index.md
  public/content/translations/ro/community/get-involved/index.md
  public/content/translations/ru/community/get-involved/index.md
  public/content/translations/sw/community/get-involved/index.md
  public/content/translations/tr/community/get-involved/index.md
  public/content/translations/uk/community/get-involved/index.md
  public/content/translations/zh-tw/community/get-involved/index.md
  public/content/translations/zh/community/get-involved/index.md
Labels: content 🖋️

#12710 typo: Typo a residual parenthesis in EVM page
  public/content/developers/docs/evm/index.md
Labels: content 🖋️

#12757 Hotfix: revert hidden search modal
  src/components/Nav/Mobile/MenuFooter.tsx
  src/components/Nav/index.tsx
Labels: needs review 👀

#12759 remove pre-merge comment & add airgapped option
  public/content/developers/tutorials/run-node-raspberry-pi/index.md
Labels: content 🖋️

#12769 chore: fix some typos in comments
  public/content/enterprise/index.md
  public/content/privacy-policy/index.md
Labels: content 🖋️

#12770 typo: Change unprecise date on a social network page
  public/content/social-networks/index.md
Labels: content 🖋️

#12771 Apex wallet delist
  public/wallets/apex.png
  src/data/wallets/wallet-data.ts
Labels: needs review 👀

#12761 Added 2023 to Translatathon page
  public/content/contributing/translation-program/translatathon/index.md
Labels: content 🖋️

#12774 chore: remove redundant copy
  public/content/contributing/adding-wallets/index.md
Labels: content 🖋️

#12781 Fix bad syntax in json files
  src/intl/ml/page-about.json
  src/intl/ro/page-about.json
Labels: translation 🌍, needs review 👀

#12747 Updating wallet listing criteria
  .github/ISSUE_TEMPLATE/suggest_wallet.yaml
  public/content/contributing/adding-wallets/index.md
Labels: content 🖋️, tooling 🔧, LGTM

#11479 Content revision for blockchain bridges
  public/content/bridges/index.md
Labels: content 🖋️, needs review 👀

#11532 fix: address ambiguities in RLP spec description
  public/content/developers/docs/data-structures-and-encoding/rlp/index.md
Labels: content 🖋️, needs review 👀

#11537 Fix a typo "权益正明" in Chinese doc
  src/intl/zh/page-developers-docs.json
Labels: needs review 👀

#11574 feat: create Stat component and stories
  src/components/Stat/Stat.stories.tsx
  src/components/Stat/index.tsx
  src/components/Tooltip/index.tsx
  src/lib/constants.ts
Labels: content 🖋️, needs review 👀, dependencies 📦, documentation 📖, tooling 🔧, internal :house:, tooling :wrench:

#11630 Adding Consensys Staking to staking provider list
  src/components/icons/staking/ConsensysStakingGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: needs review 👀

#11697 Fix: wrong word in strong statelessness section
  public/content/roadmap/statelessness/index.md
Labels: content 🖋️, needs review 👀

#11779 Refine post-quantum security section
  public/content/zero-knowledge-proofs/index.md
Labels: content 🖋️, needs review 👀

#11791 Add Cyfrin Updraft as educational resource
  public/content/developers/docs/smart-contracts/index.md
Labels: content 🖋️, needs review 👀

#11860 Add Article on types of ZkEvms
  public/content/developers/docs/scaling/zk-rollups/index.md
Labels: content 🖋️, needs review 👀

#11871 Add Mempool Data Program .md
  public/content/developers/docs/data-and-analytics/index.md
Labels: content 🖋️, needs review 👀

#11850 Correct example trie structure [Fixes #6860]
  public/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/es/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/fr/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/it/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/ja/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/pt-br/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/tr/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/zh/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content 🖋️, translation 🌍, needs review 👀

#12015 fix(CallToAction): update and constrain prop object type shape
  src/components/Hero/CallToAction.tsx
  src/components/Hero/ContentHero/index.tsx
  src/components/Hero/HubHero/index.tsx
  src/lib/types.ts
  src/pages/layer-2.tsx
  src/pages/learn.tsx
Labels: content 🖋️, needs review 👀, tooling 🔧

#12029 Correct information about number of aggregators per attestation subnet
  public/content/developers/docs/consensus-mechanisms/pos/attestations/index.md
Labels: content 🖋️

#11792 Adding Cyfrin offerings
  public/content/developers/docs/smart-contracts/security/index.md
Labels: content 🖋️, needs review 👀

#11241 Add Figment to SaaS products [Closes #11160, Closes #12693]
  src/components/icons/Icons.stories.tsx
  src/components/icons/staking/FigmentGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: needs review 👀

#11683 Adding Crossmint as a Related Tool for Smart Contract deployment
  public/content/developers/docs/smart-contracts/deploying/index.md
Labels: content 🖋️, needs review 👀, needs product review 🕵️, product 🧰

#11684 Updating Ethereum Developer Frameworks to show Crossmint
  public/content/developers/docs/frameworks/index.md
Labels: content 🖋️, needs review 👀, needs product review 🕵️, product 🧰

#11685 Add crossmint to dev docs /dapps and /enterprise
  public/content/developers/docs/dapps/index.md
  public/content/enterprise/index.md
Labels: content 🖋️, needs review 👀, needs product review 🕵️, product 🧰

#12750 Institutional Everstake Institutional for SaaS
  src/data/staking-products.json
Labels: needs review 👀, LGTM

#12819 fix: everstake institutional discord
  src/data/staking-products.json
Labels: needs review 👀

#12815 chore: update MetaCartel references in /community pages
  public/content/community/get-involved/index.md
  public/content/community/grants/index.md
  public/content/translations/ca/community/get-involved/index.md
  public/content/translations/ca/community/grants/index.md
  public/content/translations/de/community/get-involved/index.md
  public/content/translations/de/community/grants/index.md
  public/content/translations/el/community/get-involved/index.md
  public/content/translations/el/community/grants/index.md
  public/content/translations/es/community/get-involved/index.md
  public/content/translations/es/community/grants/index.md
  public/content/translations/fa/community/get-involved/index.md
  public/content/translations/fa/community/grants/index.md
  public/content/translations/fr/community/get-involved/index.md
  public/content/translations/fr/community/grants/index.md
  public/content/translations/hu/community/get-involved/index.md
  public/content/translations/hu/community/grants/index.md
  public/content/translations/id/community/get-involved/index.md
  public/content/translations/id/community/grants/index.md
  public/content/translations/it/community/get-involved/index.md
  public/content/translations/it/community/grants/index.md
  public/content/translations/ja/community/get-involved/index.md
  public/content/translations/ja/community/grants/index.md
  public/content/translations/nl/community/get-involved/index.md
  public/content/translations/nl/community/grants/index.md
  public/content/translations/pl/community/get-involved/index.md
  public/content/translations/pl/community/grants/index.md
  public/content/translations/pt-br/community/get-involved/index.md
  public/content/translations/pt-br/community/grants/index.md
  public/content/translations/ro/community/get-involved/index.md
  public/content/translations/ro/community/grants/index.md
  public/content/translations/ru/community/get-involved/index.md
  public/content/translations/ru/community/grants/index.md
  public/content/translations/sl/community/grants/index.md
  public/content/translations/sw/community/get-involved/index.md
  public/content/translations/sw/community/grants/index.md
  public/content/translations/tr/community/get-involved/index.md
  public/content/translations/tr/community/grants/index.md
  public/content/translations/uk/community/get-involved/index.md
  public/content/translations/uk/community/grants/index.md
  public/content/translations/zh-tw/community/grants/index.md
  public/content/translations/zh/community/get-involved/index.md
  public/content/translations/zh/community/grants/index.md
Labels: content 🖋️

#12816 chore: remove deprecated DAOs from /community/get-involved/
  public/content/community/get-involved/index.md
  public/content/translations/ca/community/get-involved/index.md
  public/content/translations/de/community/get-involved/index.md
  public/content/translations/el/community/get-involved/index.md
  public/content/translations/es/community/get-involved/index.md
  public/content/translations/fa/community/get-involved/index.md
  public/content/translations/fr/community/get-involved/index.md
  public/content/translations/hu/community/get-involved/index.md
  public/content/translations/id/community/get-involved/index.md
  public/content/translations/it/community/get-involved/index.md
  public/content/translations/ja/community/get-involved/index.md
  public/content/translations/nl/community/get-involved/index.md
  public/content/translations/pl/community/get-involved/index.md
  public/content/translations/pt-br/community/get-involved/index.md
  public/content/translations/ro/community/get-involved/index.md
  public/content/translations/ru/community/get-involved/index.md
  public/content/translations/sw/community/get-involved/index.md
  public/content/translations/tr/community/get-involved/index.md
  public/content/translations/uk/community/get-involved/index.md
  public/content/translations/zh-tw/community/get-involved/index.md
  public/content/translations/zh/community/get-involved/index.md
Labels: content 🖋️

#12754 Move Blockscout away from faucets section
  public/content/developers/docs/networks/index.md
Labels: content 🖋️, LGTM

#12755 Update index.md to fix the unmatched opcodes in the notes of LOG2~LOG4
  public/content/developers/docs/evm/opcodes/index.md
Labels: content 🖋️

#12715 Remove doge from CallToContribute component
  src/components/CallToContribute.tsx
Labels: needs review 👀, needs design approval 🧑‍🎨

#12813 Add description for reaching out to wallet provider
  .github/ISSUE_TEMPLATE/suggest_wallet.yaml
Labels: tooling 🔧

#12718 Fix list item color in layouts
  src/layouts/Docs.tsx
  src/layouts/Static.tsx
  src/layouts/Tutorial.tsx
  src/layouts/Upgrade.tsx
  src/layouts/UseCases.tsx
Labels: design

#12780 feat: add year and banner to translathathon page [FIXES #12756]
  public/content/contributing/translation-program/translatathon/index.md
Labels: content 🖋️

#12788 Update definition of "Oracle" in "Oracles" Page
  public/content/developers/docs/oracles/index.md
Labels: content 🖋️

#12795 fix(Stat): wrap `Tooltip` child in button
  src/components/Stat/index.tsx
Labels: needs review 👀

#12822 Update reputation example for DXdao on /daos
  public/content/dao/index.md
Labels: content 🖋️

#12806 chore: April ja import
  public/content/translations/ja/community/code-of-conduct/index.md
  public/content/translations/ja/community/events/index.md
  public/content/translations/ja/community/get-involved/index.md
  public/content/translations/ja/community/grants/index.md
  public/content/translations/ja/community/language-resources/index.md
  public/content/translations/ja/community/online/index.md
  public/content/translations/ja/community/support/index.md
  public/content/translations/ja/guides/how-to-create-an-ethereum-account/index.md
  public/content/translations/ja/guides/how-to-id-scam-tokens/index.md
  public/content/translations/ja/guides/how-to-revoke-token-access/index.md
  public/content/translations/ja/guides/how-to-swap-tokens/index.md
  public/content/translations/ja/guides/how-to-use-a-bridge/index.md
  public/content/translations/ja/guides/how-to-use-a-wallet/index.md
  public/content/translations/ja/guides/index.md
  src/data/placeholders/content-developers-docs-evm-data.json
  src/intl/ja/learn-quizzes.json
  src/intl/ja/page-learn.json
Labels: content 🖋️, translation 🌍, needs review 👀

#12807 chore: April pl import
  public/content/translations/pl/decentralized-identity/index.md
  public/content/translations/pl/defi/index.md
  public/content/translations/pl/desci/index.md
  public/content/translations/pl/nft/index.md
  public/content/translations/pl/smart-contracts/index.md
  src/intl/pl/common.json
  src/intl/pl/page-dapps.json
  src/intl/pl/page-eth.json
  src/intl/pl/page-gas.json
  src/intl/pl/page-get-eth.json
  src/intl/pl/page-index.json
  src/intl/pl/page-layer-2.json
  src/intl/pl/page-stablecoins.json
  src/intl/pl/page-staking.json
  src/intl/pl/page-wallets-find-wallet.json
  src/intl/pl/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍, needs review 👀

#12808 chore: April pt-br import
  src/intl/pt-br/page-gas.json
  src/intl/pt-br/page-wallets-find-wallet.json
Labels: translation 🌍, needs review 👀

#12809 chore: April ru import
  public/content/translations/ru/nft/index.md
  src/intl/ru/common.json
  src/intl/ru/page-dapps.json
  src/intl/ru/page-eth.json
  src/intl/ru/page-gas.json
  src/intl/ru/page-index.json
  src/intl/ru/page-stablecoins.json
  src/intl/ru/page-wallets-find-wallet.json
  src/intl/ru/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍, needs review 👀

#12805 chore: April it import
  src/intl/it/common.json
  src/intl/it/page-dapps.json
  src/intl/it/page-gas.json
  src/intl/it/page-stablecoins.json
  src/intl/it/page-wallets-find-wallet.json
Labels: content 🖋️, translation 🌍, needs review 👀

#12803 chore: April fa import
  public/content/translations/fa/nft/index.md
  src/intl/fa/common.json
  src/intl/fa/page-dapps.json
  src/intl/fa/page-eth.json
  src/intl/fa/page-gas.json
  src/intl/fa/page-get-eth.json
  src/intl/fa/page-index.json
  src/intl/fa/page-stablecoins.json
  src/intl/fa/page-wallets-find-wallet.json
  src/intl/fa/page-wallets.json
  src/intl/fa/page-what-is-ethereum.json
  src/intl/fa/template-usecase.json
Labels: content 🖋️, translation 🌍, needs review 👀

#12802 chore: April nl import
  src/intl/nl/page-eth.json
  src/intl/nl/page-gas.json
  src/intl/nl/page-get-eth.json
  src/intl/nl/page-wallets-find-wallet.json
  src/intl/nl/page-wallets.json
  src/intl/nl/page-what-is-ethereum.json
Labels: translation 🌍, needs review 👀

#12801 chore: April zh-tw import
  public/content/translations/zh-tw/dao/index.md
  public/content/translations/zh-tw/decentralized-identity/index.md
  public/content/translations/zh-tw/defi/index.md
  public/content/translations/zh-tw/desci/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/bootnodes/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/light-clients/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/node-architecture/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/zh-tw/governance/index.md
  public/content/translations/zh-tw/refi/index.md
  public/content/translations/zh-tw/security/index.md
  public/content/translations/zh-tw/smart-contracts/index.md
  public/content/translations/zh-tw/staking/solo/index.md
  public/content/translations/zh-tw/web3/index.md
  public/content/translations/zh-tw/zero-knowledge-proofs/index.md
  src/intl/zh-tw/common.json
  src/intl/zh-tw/page-dapps.json
  src/intl/zh-tw/page-gas.json
  src/intl/zh-tw/page-layer-2.json
  src/intl/zh-tw/page-stablecoins.json
  src/intl/zh-tw/page-staking.json
  src/intl/zh-tw/page-wallets-find-wallet.json
Labels: content 🖋️, translation 🌍, needs review 👀

#12034 build: add Chakra CLI
  package.json
  tsconfig.json
  yarn.lock
Labels: dependencies 📦, internal 🏠, needs dev approval 🧑‍💻

#12800 chore: April zh import
  public/content/translations/zh/developers/tutorials/all-you-can-cache/index.md
  public/content/translations/zh/developers/tutorials/eip-1271-smart-contract-signatures/index.md
  public/content/translations/zh/developers/tutorials/erc-721-vyper-annotated-code/index.md
  public/content/translations/zh/developers/tutorials/erc20-annotated-code/index.md
  public/content/translations/zh/developers/tutorials/erc20-with-safety-rails/index.md
  public/content/translations/zh/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
  public/content/translations/zh/developers/tutorials/guide-to-smart-contract-security-tools/index.md
  public/content/translations/zh/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  public/content/translations/zh/developers/tutorials/how-to-mock-solidity-contracts-for-testing/index.md
  public/content/translations/zh/developers/tutorials/kickstart-your-dapp-frontend-development-wth-create-eth-app/index.md
  public/content/translations/zh/developers/tutorials/logging-events-smart-contracts/index.md
  public/content/translations/zh/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  public/content/translations/zh/developers/tutorials/secure-development-workflow/index.md
  public/content/translations/zh/developers/tutorials/sending-transactions-using-web3-and-alchemy/index.md
  public/content/translations/zh/developers/tutorials/waffle-test-simple-smart-contract/index.md
Labels: content 🖋️

#12804 chore: April hu import
  public/content/translations/hu/about/index.md
  public/content/translations/hu/bridges/index.md
  public/content/translations/hu/dao/index.md
  public/content/translations/hu/decentralized-identity/index.md
  public/content/translations/hu/defi/index.md
  public/content/translations/hu/desci/index.md
  public/content/translations/hu/developers/docs/scaling/index.md
  public/content/translations/hu/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/hu/developers/docs/scaling/plasma/index.md
  public/content/translations/hu/developers/docs/scaling/sidechains/index.md
  public/content/translations/hu/developers/docs/scaling/state-channels/index.md
  public/content/translations/hu/developers/docs/scaling/validium/index.md
  public/content/translations/hu/developers/docs/scaling/zk-rollups/index.md
  public/content/translations/hu/enterprise/index.md
  public/content/translations/hu/enterprise/private-ethereum/index.md
  public/content/translations/hu/foundation/index.md
  public/content/translations/hu/governance/index.md
  public/content/translations/hu/nft/index.md
  public/content/translations/hu/refi/index.md
  public/content/translations/hu/roadmap/account-abstraction/index.md
  public/content/translations/hu/roadmap/beacon-chain/index.md
  public/content/translations/hu/roadmap/danksharding/index.md
  public/content/translations/hu/roadmap/future-proofing/index.md
  public/content/translations/hu/roadmap/index.md
  public/content/translations/hu/roadmap/merge/index.md
  public/content/translations/hu/roadmap/scaling/index.md
  public/content/translations/hu/roadmap/security/index.md
  public/content/translations/hu/roadmap/single-slot-finality/index.md
  public/content/translations/hu/roadmap/statelessness/index.md
  public/content/translations/hu/roadmap/user-experience/index.md
  public/content/translations/hu/roadmap/verkle-trees/index.md
  public/content/translations/hu/security/index.md
  public/content/translations/hu/smart-contracts/index.md
  public/content/translations/hu/social-networks/index.md
  public/content/translations/hu/staking/saas/index.md
  public/content/translations/hu/staking/solo/index.md
  public/content/translations/hu/web3/index.md
  public/content/translations/hu/zero-knowledge-proofs/index.md
  src/intl/hu/common.json
  src/intl/hu/page-about.json
  src/intl/hu/page-assets.json
  src/intl/hu/page-bug-bounty.json
  src/intl/hu/page-dapps.json
  src/intl/hu/page-developers-index.json
  src/intl/hu/page-developers-learning-tools.json
  src/intl/hu/page-developers-local-environment.json
  src/intl/hu/page-eth.json
  src/intl/hu/page-gas.json
  src/intl/hu/page-get-eth.json
  src/intl/hu/page-layer-2.json
  src/intl/hu/page-roadmap-vision.json
  src/intl/hu/page-run-a-node.json
  src/intl/hu/page-stablecoins.json
  src/intl/hu/page-staking.json
  src/intl/hu/page-upgrades-get-involved.json
  src/intl/hu/page-upgrades-index.json
  src/intl/hu/page-upgrades.json
  src/intl/hu/page-wallets-find-wallet.json
  src/intl/hu/page-wallets.json
  src/intl/hu/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍, needs review 👀

#12827 langauge -> language
  src/intl/es/page-languages.json
  src/intl/ja/page-languages.json
  src/intl/pl/common.json
Labels: translation 🌍, needs review 👀

#12828 v8.5.1
  package.json
  src/data/published.json
Labels: needs review 👀, dependencies 📦

#12833 fix: merge/bc shipped banner
  public/content/roadmap/merge/index.md
  public/content/translations/ar/roadmap/merge/index.md
  public/content/translations/bg/roadmap/merge/index.md
  public/content/translations/de/roadmap/merge/index.md
  public/content/translations/es/roadmap/merge/index.md
  public/content/translations/fa/roadmap/merge/index.md
  public/content/translations/fr/roadmap/merge/index.md
  public/content/translations/hi/roadmap/merge/index.md
  public/content/translations/hr/roadmap/merge/index.md
  public/content/translations/hu/roadmap/merge/index.md
  public/content/translations/id/roadmap/merge/index.md
  public/content/translations/it/roadmap/merge/index.md
  public/content/translations/ja/roadmap/merge/index.md
  public/content/translations/ml/roadmap/merge/index.md
  public/content/translations/pl/roadmap/merge/index.md
  public/content/translations/pt-br/roadmap/merge/index.md
  public/content/translations/ro/roadmap/merge/index.md
  public/content/translations/ru/roadmap/beacon-chain/index.md
  public/content/translations/ru/roadmap/merge/index.md
  public/content/translations/sl/roadmap/merge/index.md
  public/content/translations/tr/roadmap/merge/index.md
  public/content/translations/uk/roadmap/merge/index.md
  public/content/translations/zh-tw/roadmap/merge/index.md
  public/content/translations/zh/roadmap/merge/index.md
Labels: content 🖋️

#12844 Remove unused dep
  package.json
  yarn.lock
Labels: dependencies 📦

#12841 Fix errors in developer tutorials
  public/content/developers/tutorials/deploying-your-first-smart-contract/index.md
  public/content/developers/tutorials/guide-to-smart-contract-security-tools/index.md
  public/content/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/index.md
  public/content/developers/tutorials/nft-minter/index.md
  public/content/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  public/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
Labels: content 🖋️

#12857 Fix mobile menu layout
  src/components/Nav/Mobile/MenuFooter.tsx
Labels: needs review 👀

#12862 Update non-English pageviews chart
  public/translation-program/pageviews-dark.png
  public/translation-program/pageviews-light.png
Labels: translation 🌍

#12865 fix: resolve invalid`/audits` link
  public/content/developers/docs/smart-contracts/libraries/index.md
Labels: content 🖋️

#12696 feat: Crowdin build automation
  .github/workflows/build-crowdin.yml
  src/scripts/crowdin/getTranslationProgress.ts
  src/scripts/crowdin/translations/triggerBuild.ts
Labels: needs review 👀, tooling 🔧

#12867 fix: latest contributor for dev docs
  src/hooks/useClientSideGitHubContributors.ts
Labels: needs review 👀, tooling 🔧

#12738 feat: Crowdin generateReviewReport script
  .github/workflows/generate-review-report.yml
  .gitignore
  package.json
  src/scripts/crowdin/reports/generateReviewReport.ts
Labels: needs review 👀, dependencies 📦, tooling 🔧, LGTM

#12858 Netlify lighthouse plugin config
  netlify.toml
Labels: internal 🏠, abandoned

#12842 fix: strip query params/hashes form matomo events
  src/lib/utils/matomo.ts
Labels: needs review 👀

#12698 feat: Crowdin import automation
  .github/workflows/get-translations.yml
  package.json
  src/scripts/crowdin/getTranslationProgress.ts
  src/scripts/crowdin/import/main.ts
  src/scripts/crowdin/import/types.ts
  src/scripts/crowdin/import/utils.ts
  src/scripts/crowdin/translations/constants.ts
  src/scripts/crowdin/translations/getApprovedBuckets.ts
  src/scripts/crowdin/translations/getTranslations.ts
  src/scripts/crowdin/translations/postLangPRs.ts
  src/scripts/crowdin/translations/types.ts
  src/scripts/crowdin/translations/utils.ts
  src/scripts/markdownChecker.ts
  yarn.lock
Labels: needs review 👀, dependencies 📦, internal 🏠, tooling 🔧, needs dev approval 🧑‍💻
