Repository ethereum/ethereum-org-website, pull requests merged in 2024-11, with the labels that each got.

#14201 Migrate WithdrawalsTabComparison to tailwind/shadcn
  src/components/Staking/WithdrawalsTabComparison.tsx
  src/components/ui/tabs.tsx
Labels: hacktoberfest

#14071 Migrate `DatesAndTimeline` component to Shadcn/Tailwind
  src/components/Translatathon/DatesAndTimeline.tsx
Labels: content 🖋️, translation 🌍, documentation 📖, tooling 🔧, event 📅, config ⚙️

#14272 feat: add clear wallet
  public/images/wallets/clearwallet.png
  src/data/wallets/wallet-data.ts
  src/lib/api/calendarEvents.ts
Labels: tooling 🔧

#14326 Fix mistranslations of Ethereum in imported translations
  public/content/translations/cs/staking/solo/index.md
  public/content/translations/sk/staking/solo/index.md
  public/content/translations/tl/governance/index.md
  public/content/translations/yo/guides/how-to-swap-tokens/index.md
  public/content/translations/yo/social-networks/index.md
  public/content/translations/yo/staking/solo/index.md
  src/intl/az/common.json
  src/intl/de/page-index.json
  src/intl/es/common.json
  src/intl/es/page-assets.json
  src/intl/fi/page-stablecoins.json
  src/intl/fil/page-staking.json
  src/intl/ha/common.json
  src/intl/ha/page-what-is-ethereum.json
  src/intl/kk/page-staking.json
  src/intl/pcm/common.json
  src/intl/pcm/page-wallets.json
  src/intl/sn/common.json
  src/intl/sn/page-index.json
  src/intl/sn/page-what-is-ethereum.json
  src/intl/sw/page-staking.json
  src/intl/sw/page-upgrades-index.json
  src/intl/tl/page-staking.json
  src/intl/tw/page-learn.json
  src/intl/yo/learn-quizzes.json
  src/intl/yo/page-gas.json
Labels: content 🖋️, translation 🌍, Update Crowdin

#14268 migration-RollupProductDevDoc.tsx-to-tailwind
  src/components/RollupProductDevDoc.tsx
Labels: hacktoberfest

#14359 fix: remove broken image url
  src/data/community-events.json
Labels: event 📅

#14357 Fix Dune Analytics SQL dialect in documentation
  public/content/developers/docs/data-and-analytics/index.md
  public/content/translations/de/developers/docs/data-and-analytics/index.md
  public/content/translations/es/developers/docs/data-and-analytics/index.md
  public/content/translations/fr/developers/docs/data-and-analytics/index.md
  public/content/translations/hu/developers/docs/data-and-analytics/index.md
  public/content/translations/it/developers/docs/data-and-analytics/index.md
  public/content/translations/ja/developers/docs/data-and-analytics/index.md
  public/content/translations/pt-br/developers/docs/data-and-analytics/index.md
  public/content/translations/tr/developers/docs/data-and-analytics/index.md
  public/content/translations/zh-tw/developers/docs/data-and-analytics/index.md
  public/content/translations/zh/developers/docs/data-and-analytics/index.md
Labels: content 🖋️, translation 🌍

#14148 refactor: rename quiz keys, use unique namespace
  src/components/Quiz/stories/QuizButtonGroup.stories.tsx
  src/components/Quiz/stories/QuizRadioGroup.stories.tsx
  src/data/placeholders/content-energy-consumption-data.json
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/data/wallets/wallet-data.ts
  src/intl/de/learn-quizzes.json
  src/intl/el/learn-quizzes.json
  src/intl/en/learn-quizzes.json
  src/intl/es/learn-quizzes.json
  src/intl/fa/learn-quizzes.json
  src/intl/fil/learn-quizzes.json
  src/intl/fr/learn-quizzes.json
  src/intl/hi/learn-quizzes.json
  src/intl/hu/learn-quizzes.json
  src/intl/id/learn-quizzes.json
  src/intl/ig/learn-quizzes.json
  src/intl/it/learn-quizzes.json
  src/intl/ja/learn-quizzes.json
  src/intl/ms/learn-quizzes.json
  src/intl/pl/learn-quizzes.json
  src/intl/pt-br/learn-quizzes.json
  src/intl/ru/learn-quizzes.json
  src/intl/tr/learn-quizzes.json
  src/intl/uk/learn-quizzes.json
  src/intl/zh-tw/learn-quizzes.json
  src/intl/zh/learn-quizzes.json
Labels: content 🖋️, translation 🌍

#14185 refactor: extract protected newToCrypto array
  .github/CODEOWNERS
  .github/workflows/wallets-check.yml
  src/data/wallets/new-to-crypto.ts
  src/data/wallets/wallet-data.ts
Labels: tooling 🔧

#14208 refactor: quiz template config
  src/components/Quiz/stories/QuizzesStats.stories.tsx
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/de/learn-quizzes.json
  src/intl/el/learn-quizzes.json
  src/intl/en/learn-quizzes.json
  src/intl/es/learn-quizzes.json
  src/intl/fa/learn-quizzes.json
  src/intl/fil/learn-quizzes.json
  src/intl/fr/learn-quizzes.json
  src/intl/hi/learn-quizzes.json
  src/intl/hu/learn-quizzes.json
  src/intl/id/learn-quizzes.json
  src/intl/ig/learn-quizzes.json
  src/intl/it/learn-quizzes.json
  src/intl/ja/learn-quizzes.json
  src/intl/ms/learn-quizzes.json
  src/intl/nl/learn-quizzes.json
  src/intl/pl/learn-quizzes.json
  src/intl/pt-br/learn-quizzes.json
  src/intl/ru/learn-quizzes.json
  src/intl/tr/learn-quizzes.json
  src/intl/uk/learn-quizzes.json
  src/intl/zh-tw/learn-quizzes.json
  src/intl/zh/learn-quizzes.json
  src/lib/types.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#13497 Add ChainName type for wallet network data
  .github/workflows/update-chains.yml
  src/data/chains.ts
  src/data/wallets/wallet-data.ts
  src/lib/constants.ts
  src/lib/types.ts
  src/scripts/update-chains.ts
Labels: tooling 🔧, needs dev approval 🧑‍💻

#13714 add cypherock x1 to wallet list
  public/images/wallets/cypherockx1.png
  src/data/wallets/wallet-data.ts
Labels: Status: Stale
