Repository ethereum/ethereum-org-website, pull requests merged in 2024-03, with the labels that each got.

#12327 Fix mining redirects
  public/_redirects
Labels: review needed :eyes:

#12328 hot-fix: add trailing slash to redirects
  src/middleware.ts
Labels: review needed :eyes:

#12331 Master -> staging
  src/middleware.ts
Labels: review needed :eyes:

#12333 [hotfix] change time for dencun from 1am to 1pm
  src/data/NetworkUpgradeSummaryData.ts
Labels: review needed :eyes:

#12334 [hotfix] change time for dencun from 1am to 1pm
  src/data/NetworkUpgradeSummaryData.ts
Labels: review needed :eyes:

#12323 Update name of zkEVM project
  public/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:

#12343 Update DAO Governance Broken Link
  public/content/desci/index.md
  public/content/translations/ar/desci/index.md
  public/content/translations/bn/desci/index.md
  public/content/translations/cs/desci/index.md
  public/content/translations/de/desci/index.md
  public/content/translations/el/desci/index.md
  public/content/translations/es/desci/index.md
  public/content/translations/fa/desci/index.md
  public/content/translations/fil/desci/index.md
  public/content/translations/fr/desci/index.md
  public/content/translations/hi/desci/index.md
  public/content/translations/hu/desci/index.md
  public/content/translations/id/desci/index.md
  public/content/translations/it/desci/index.md
  public/content/translations/ja/desci/index.md
  public/content/translations/kn/desci/index.md
  public/content/translations/ko/desci/index.md
  public/content/translations/mr/desci/index.md
  public/content/translations/nl/desci/index.md
  public/content/translations/pl/desci/index.md
  public/content/translations/pt-br/desci/index.md
  public/content/translations/pt/desci/index.md
  public/content/translations/ru/desci/index.md
  public/content/translations/sr/desci/index.md
  public/content/translations/tr/desci/index.md
  public/content/translations/uk/desci/index.md
  public/content/translations/zh-tw/desci/index.md
  public/content/translations/zh/desci/index.md
Labels: content :fountain_pen:

#12337 Added 5+ communities from Colombia on community-meetups.json
  src/data/community-meetups.json
Labels: review needed :eyes:

#12325 Re-add security_at_ethereum.org.asc
  public/security_at_ethereum.org.asc
Labels: review needed :eyes:

#11847 Update how to write and deploy an NFT tutorial to use OpenZeppelin 5.x
  public/content/developers/docs/smart-contracts/composability/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11820 Fix typo on bridges page (brazilian portuguese)
  public/content/translations/pt-br/bridges/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12348 Fix typo on DeSci page (Korean)
  public/content/translations/ko/desci/index.md
Labels: content :fountain_pen:

#12350 Fix typo in en/page-gas.json
  src/intl/en/page-gas.json
Labels: translation :earth_africa:, review needed :eyes:

#11802 added security course
  src/data/externalTutorials.json
Labels: review needed :eyes:

#12307 Clean up block explorers list (fixes #12306)
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/enterprise/index.md
  public/content/translations/de/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/de/enterprise/index.md
  public/content/translations/es/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/es/enterprise/index.md
  public/content/translations/fr/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/fr/enterprise/index.md
  public/content/translations/hu/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/hu/enterprise/index.md
  public/content/translations/it/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/it/enterprise/index.md
  public/content/translations/ja/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/ja/enterprise/index.md
  public/content/translations/pt-br/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/pt-br/enterprise/index.md
  public/content/translations/tr/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/tr/enterprise/index.md
  public/content/translations/zh/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/zh/enterprise/index.md
Labels: content :fountain_pen:

#12302 Fix typo in block document
  public/content/developers/docs/blocks/index.md
Labels: content :fountain_pen:

#12265 Content on /security for Twitter phishing scam
  public/content/security/index.md
  public/content/security/twitterPhishingScam.png
  src/data/placeholders/content-security-data.json
Labels: content :fountain_pen:, review needed :eyes:

#12264 Major update to #private-vs-public and #enterprise-developer-resource…
  public/content/enterprise/index.md
Labels: content :fountain_pen:

#12084 Fix staking pools Polish translation
  public/content/translations/pl/staking/pools/index.md
  src/intl/pl/page-staking.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11487 Add Swarm Foundation grants to community grants page
  public/content/community/grants/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11427 add DC Onchain to community meetups
  src/data/community-meetups.json
Labels: review needed :eyes:

#11064 Add Blockscout explorer to the list of explorers, Goerli and Sepolia resources
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/developers/docs/networks/index.md
  public/content/translations/de/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/es/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/fr/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/hu/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/id/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/it/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/ja/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/pl/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/pt-br/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/ro/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/tr/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/translations/zh/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, review needed :eyes:

#12357 correct one word in fr/developers/docs/smart-contracts/languages/index.md
  public/content/translations/fr/developers/docs/smart-contracts/languages/index.md
Labels: content :fountain_pen:

#10877 Fix error in nodes as a service page translation (pt-br)
  public/content/translations/pt-br/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12339 fix: infinite redirect loop at developers/docs/scaling [FIXES #12330]
  public/_redirects
Labels: review needed :eyes:

#12374 Fix CardList external links not opening in new tabs
  src/components/CardList.tsx
Labels: review needed :eyes:

#12380 fix: nav item hover zone, opening delay duration
  src/components/Nav/Menu/index.tsx
  src/components/Nav/index.tsx
  src/lib/constants.ts
Labels: review needed :eyes:, tooling :wrench:

#12383 Fix broken links to mining pages
  public/content/contributing/translation-program/content-buckets/index.md
  public/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/de/glossary/index.md
  public/content/translations/es/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/translations/es/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/es/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/es/glossary/index.md
  public/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/fr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/id/glossary/index.md
  public/content/translations/it/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/translations/it/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/it/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/it/glossary/index.md
  public/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/ja/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/ja/glossary/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/pt-br/glossary/index.md
  public/content/translations/tr/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/translations/tr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/tr/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/tr/glossary/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/ethash/index.md
  public/content/translations/zh/developers/docs/consensus-mechanisms/pow/mining/mining-algorithms/index.md
  public/content/translations/zh/glossary/index.md
  src/intl/en/glossary.json
  src/intl/fr/glossary.json
  src/intl/hu/glossary.json
  src/pages/developers/index.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12065 feat: build custom react-select component with Chakra [updated]
  package.json
  src/@chakra-ui/components/ReactSelect.ts
  src/@chakra-ui/components/index.ts
  src/components/CentralizedExchanges/index.tsx
  src/components/FindWallet/WalletTable/index.tsx
  src/components/FindWallet/WalletTable/useWalletTable.tsx
  src/components/Layer2/Layer2Onboard.tsx
  src/components/ReactSelect/ReactSelect.stories.tsx
  src/components/ReactSelect/index.tsx
  src/components/ReactSelect/innerComponents.tsx
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/hooks/useCentralizedExchanges.ts
  yarn.lock
Labels: review needed :eyes:, dependencies :package:, tooling :wrench:

#12384 fix: adds missing namespace prefix for quizzes title
  src/pages/quizzes.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12388 Fix translation typos
  public/content/translations/es/roadmap/danksharding/index.md
  public/content/translations/fr/roadmap/danksharding/index.md
  public/content/translations/it/roadmap/danksharding/index.md
  public/content/translations/pt-br/roadmap/danksharding/index.md
Labels: content :fountain_pen:

#12278 chore: use `href` instead of deprecated to `prop` in InlineLink usage
  src/components/CommunityEvents/index.tsx
  src/components/FileContributors.tsx
  src/components/History/NetworkUpgradeSummary.tsx
  src/components/Layer2/Layer2Onboard.tsx
  src/components/Layer2ProductCard.tsx
  src/components/MeetupList.tsx
  src/components/RandomAppList.tsx
  src/components/RollupProductDevDoc.tsx
  src/components/StablecoinAccordion/index.tsx
  src/components/Staking/StakingStatsBox.tsx
  src/components/StatsBoxGrid/GridItem.tsx
  src/components/TutorialMetadata.tsx
  src/components/UpcomingEventsList.tsx
  src/components/UpgradeBannerNotification.tsx
  src/pages/assets.tsx
  src/pages/contributing/translation-program/acknowledgements.tsx
  src/pages/contributing/translation-program/contributors.tsx
  src/pages/dapps.tsx
  src/pages/developers/index.tsx
  src/pages/developers/tutorials.tsx
  src/pages/eth.tsx
  src/pages/gas.tsx
  src/pages/languages.tsx
  src/pages/layer-2.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/deposit-contract.tsx
  src/pages/what-is-ethereum.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12395 fix(pages/dapps): remove duplicate import
  src/pages/dapps.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12403 [Test] - Remove text 300 from markdown docs
  src/components/MdComponents.tsx
  src/layouts/Docs.tsx
Labels: review needed :eyes:

#12404 ETH Rio changed to May
  src/data/community-events.ts
Labels: review needed :eyes:

#12392 Fix Ethereum typo on layer 2 page
  src/intl/en/page-layer-2.json
Labels: translation :earth_africa:, review needed :eyes:

#10997 refactor(FeedbackWidget): Improve structure with Chakra UI
  src/components/FeedbackWidget.tsx
  src/components/FeedbackWidget/FeedbackWidget.stories.tsx
  src/components/FeedbackWidget/FixedDot.tsx
  src/components/FeedbackWidget/index.tsx
  src/components/FeedbackWidget/useFeedbackWidget.ts
  src/data/crowdin/translation-buckets-dirs.json
Labels: content :fountain_pen:, review needed :eyes:

#10974 update tooltip component based on new DS
  src/@chakra-ui/components/Popover.ts
  src/@chakra-ui/components/components.utils.ts
  src/@chakra-ui/components/index.ts
  src/components/DencunBanner.tsx
  src/components/EthPriceCard.tsx
  src/components/FindWallet/WalletTable/WalletMoreInfoCategory.tsx
  src/components/Glossary/GlossaryTooltip/index.tsx
  src/components/Simulator/MoreInfoPopover.tsx
  src/components/Simulator/NotificationPopover.tsx
  src/components/Staking/StakingStatsBox.tsx
  src/components/StatsBoxGrid/GridItem.tsx
  src/components/Tooltip.tsx
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/index.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/deposit-contract.tsx
  src/pages/what-is-ethereum.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12408 Glossary Tooltip for mobile
  src/components/Glossary/GlossaryTooltip/index.tsx
Labels: review needed :eyes:

#12405 Upgrade TS
  package.json
  yarn.lock
Labels: dependencies :package:

#12406 Update content buckets page
  public/content/contributing/translation-program/content-buckets/index.md
Labels: content :fountain_pen:, translation :earth_africa:

#12401 fix: typo in history of ethereum page [Fixes #12400]
  public/content/history/index.md
Labels: content :fountain_pen:

#12418 refactor: remove the old `Select` component
  src/@chakra-ui/components/ReactSelect.ts
  src/@chakra-ui/components/Select.ts
  src/@chakra-ui/components/index.ts
  src/components/CentralizedExchanges/index.tsx
  src/components/FindWallet/WalletTable/index.tsx
  src/components/Layer2/Layer2Onboard.tsx
  src/components/ReactSelect/ReactSelect.stories.tsx
  src/components/ReactSelect/index.tsx
  src/components/Select/Select.stories.tsx
  src/components/Select/index.tsx
  src/components/Select/innerComponents.tsx
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/hooks/useCentralizedExchanges.ts
Labels: review needed :eyes:, tooling :wrench:

#12426 feat: add LocaleDateTime for markdown time
  src/components/LocaleDateTime.tsx
  src/components/MdComponents.tsx
Labels: review needed :eyes:

#12233 Update the diagrams with new system
  public/content/developers/docs/accounts/accounts.png
  public/content/developers/docs/blocks/tx-block.png
  public/content/developers/docs/consensus-mechanisms/pos/attack-and-defense/reorg-schematic.png
  public/content/developers/docs/consensus-mechanisms/pos/attestations/attestation_schematic.png
  public/content/developers/docs/consensus-mechanisms/pos/keys/multiple-keys.png
  public/content/developers/docs/consensus-mechanisms/pos/keys/validator-key-schematic.png
  public/content/developers/docs/evm/evm.png
  public/content/developers/docs/gas/gas.png
  public/content/developers/docs/networking-layer/cons_client_net_layer.png
  public/content/developers/docs/networking-layer/exe_client_net_layer.png
  public/content/developers/docs/nodes-and-clients/eth1eth2client.png
  public/content/developers/docs/nodes-and-clients/node-architecture/node-architecture-text-background.png
  public/content/developers/docs/nodes-and-clients/node-architecture/node_architecture.png
  public/content/developers/docs/nodes-and-clients/nodes.png
  public/content/developers/docs/nodes-and-clients/run-a-node/diagram.png
  public/content/developers/docs/smart-contracts/verifying/source-code-verification.png
  public/content/developers/docs/transactions/gas-tx.png
  public/content/developers/docs/transactions/tx.png
  src/data/placeholders/content-developers-docs-accounts-data.json
  src/data/placeholders/content-developers-docs-blocks-data.json
  src/data/placeholders/content-developers-docs-consensus-mechanisms-pos-attack-and-defense-data.json
  src/data/placeholders/content-developers-docs-consensus-mechanisms-pos-attestations-data.json
  src/data/placeholders/content-developers-docs-consensus-mechanisms-pos-keys-data.json
  src/data/placeholders/content-developers-docs-evm-data.json
  src/data/placeholders/content-developers-docs-gas-data.json
  src/data/placeholders/content-developers-docs-networking-layer-data.json
  src/data/placeholders/content-developers-docs-nodes-and-clients-data.json
  src/data/placeholders/content-developers-docs-nodes-and-clients-node-architecture-data.json
  src/data/placeholders/content-developers-docs-nodes-and-clients-run-a-node-data.json
  src/data/placeholders/content-developers-docs-smart-contracts-verifying-data.json
  src/data/placeholders/content-developers-docs-transactions-data.json
Labels: content :fountain_pen:, review needed :eyes:, ui design :nail_care:, design, design system

#12397 fix: add 301 redirect for /deprecated-software
  public/_redirects
Labels: review needed :eyes:

#12430 Fix typos in glossary terms
  public/content/translations/ca/energy-consumption/index.md
  public/content/translations/id/energy-consumption/index.md
  public/content/translations/nl/energy-consumption/index.md
  public/content/translations/ro/energy-consumption/index.md
  src/intl/en/glossary-tooltip.json
  src/intl/en/glossary.json
  src/intl/fr/glossary.json
  src/intl/hu/glossary.json
  src/intl/it/glossary.json
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#12396 Footer navigation update [Closes #11955, Closes #12376]
  src/components/Footer.tsx
  src/intl/en/common.json
  src/lib/types.ts
Labels: translation :earth_africa:, review needed :eyes:, tooling :wrench:

#12411 Join in-tandem upgrades as one entry in `/history`; add naming explainer
  public/content/history/index.md
  public/content/translations/de/history/index.md
  public/content/translations/es/history/index.md
  public/content/translations/fr/history/index.md
  public/content/translations/hu/history/index.md
  public/content/translations/id/history/index.md
  public/content/translations/it/history/index.md
  public/content/translations/pt-br/history/index.md
  public/content/translations/tr/history/index.md
  public/content/translations/zh/history/index.md
  src/components/DencunBanner.tsx
  src/data/NetworkUpgradeSummaryData.ts
Labels: content :fountain_pen:, review needed :eyes:

#12433 feat: add ETHSofia to community events
  src/data/community-events.ts
Labels: review needed :eyes:

#12434 zkSync broken link update
  public/content/developers/docs/scaling/zk-rollups/index.md
Labels: content :fountain_pen:

#12435 Disable Bug Bounty Banner
  src/pages/bug-bounty.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12438 feat: update history page for dencun
  public/content/history/index.md
  src/data/NetworkUpgradeSummaryData.ts
Labels: content :fountain_pen:, review needed :eyes:

#12441 Updated reference to translations file [Fixes #12429]
  README.md
Labels: documentation :book:

#12442 Update published date
  src/data/published.json
Labels: review needed :eyes:

#12413 Add `/roadmap/dencun/` page
  public/content/roadmap/dencun/index.md
  src/lib/utils/md.ts
Labels: content :fountain_pen:, review needed :eyes:

#12445 chore: remove repetitive words
  public/content/roadmap/merge/index.md
  public/content/whitepaper/index.md
Labels: content :fountain_pen:

#12451 Dencun wrap-up
  public/content/community/research/index.md
  public/content/history/index.md
  public/content/roadmap/danksharding/index.md
  public/content/roadmap/scaling/index.md
  src/components/DencunBanner.tsx
  src/pages/index.tsx
  src/pages/staking/index.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12453 Public key infrastructure -> Public key cryptography
  public/content/decentralized-identity/index.md
  public/content/translations/ar/decentralized-identity/index.md
  public/content/translations/bn/decentralized-identity/index.md
  public/content/translations/cs/decentralized-identity/index.md
  public/content/translations/de/decentralized-identity/index.md
  public/content/translations/el/decentralized-identity/index.md
  public/content/translations/es/decentralized-identity/index.md
  public/content/translations/fa/decentralized-identity/index.md
  public/content/translations/fil/decentralized-identity/index.md
  public/content/translations/fr/decentralized-identity/index.md
  public/content/translations/hi/decentralized-identity/index.md
  public/content/translations/hu/decentralized-identity/index.md
  public/content/translations/id/decentralized-identity/index.md
  public/content/translations/it/decentralized-identity/index.md
  public/content/translations/ja/decentralized-identity/index.md
  public/content/translations/kn/decentralized-identity/index.md
  public/content/translations/ko/decentralized-identity/index.md
  public/content/translations/mr/decentralized-identity/index.md
  public/content/translations/nl/decentralized-identity/index.md
  public/content/translations/pl/decentralized-identity/index.md
  public/content/translations/pt-br/decentralized-identity/index.md
  public/content/translations/pt/decentralized-identity/index.md
  public/content/translations/ru/decentralized-identity/index.md
  public/content/translations/sr/decentralized-identity/index.md
  public/content/translations/tr/decentralized-identity/index.md
  public/content/translations/uk/decentralized-identity/index.md
  public/content/translations/zh-tw/decentralized-identity/index.md
  public/content/translations/zh/decentralized-identity/index.md
Labels: content :fountain_pen:

#12456 Max blobs per block should be 6 not 1
  public/content/roadmap/danksharding/index.md
Labels: content :fountain_pen:

#12209 refactor: remove luxon package, replace with JS Intl library
  package.json
  src/components/CommunityEvents/index.tsx
  src/components/Footer.tsx
  src/layouts/Docs.tsx
  src/layouts/Static.tsx
  src/layouts/Tutorial.tsx
  src/layouts/Upgrade.tsx
  src/lib/utils/time.ts
  src/pages/developers/tutorials.tsx
  yarn.lock
Labels: review needed :eyes:, dependencies :package:

#12364 Remove here strings (<<<) from GH workflows
  .github/workflows/get-crowdin-contributors.yml
  .github/workflows/get-translation-progress.yml
Labels: tooling :wrench:

#12217 Add opcode info in compiling-smart-contracts
  public/content/developers/docs/smart-contracts/compiling/index.md
Labels: content :fountain_pen:

#12410 typo: change "asset" to "assert" in glossary
  src/intl/en/glossary.json
  src/intl/fr/glossary.json
  src/intl/hu/glossary.json
  src/intl/it/glossary.json
Labels: translation :earth_africa:, review needed :eyes:

#12417 refactor: migrate clipboard to chakra useClipboard [Fixes: #12020]
  package.json
  src/components/CopyToClipboard.tsx
  yarn.lock
Labels: review needed :eyes:, dependencies :package:

#12419 correction page-layer-2.json
  src/intl/ru/page-layer-2.json
Labels: translation :earth_africa:, review needed :eyes:

#12420 List 4EVERLAND to /enterprise products and services
  public/content/enterprise/index.md
Labels: content :fountain_pen:

#12423 Fix tooltip positioning and closing in mobile
  src/components/Tooltip/index.tsx
Labels: review needed :eyes:

#12465 Performance: import lodash submodules
  src/@chakra-ui/components/Avatar.ts
  src/@chakra-ui/components/components.utils.ts
  src/components/Contributors.tsx
  src/components/FindWallet/WalletFilterSidebar/WalletFilterFeature/index.tsx
  src/components/MeetupList.tsx
  src/components/Quiz/QuizWidget/QuizSummary.tsx
  src/components/Quiz/QuizWidget/useQuizWidget.tsx
  src/components/RandomAppList.tsx
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/StatsBoxGrid/GridItem.tsx
  src/components/TranslationLeaderboard.tsx
  src/hooks/useCentralizedExchanges.ts
  src/pages/developers/learning-tools.tsx
  src/pages/layer-2.tsx
  src/pages/wallets/find-wallet.tsx
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#12485 fix: popup layer close button z-index issueShow error
  src/components/Quiz/QuizzesModal.tsx
Labels: review needed :eyes:

#12512 Fix zkSync zkPorter Broken Link
  public/content/developers/docs/scaling/validium/index.md
  public/content/translations/es/developers/docs/scaling/validium/index.md
  public/content/translations/fr/developers/docs/scaling/validium/index.md
  public/content/translations/it/developers/docs/scaling/validium/index.md
  public/content/translations/ja/developers/docs/scaling/validium/index.md
  public/content/translations/pt-br/developers/docs/scaling/validium/index.md
  public/content/translations/tr/developers/docs/scaling/validium/index.md
  public/content/translations/zh/developers/docs/scaling/validium/index.md
Labels: content :fountain_pen:

#12516 Add opcode tutorials to externalTutorials.json [Closes #12250]
  src/data/externalTutorials.json
Labels: review needed :eyes:

#12517 Fix typo in dev docs /smart-contracts/testing/
  public/content/developers/docs/smart-contracts/testing/index.md
Labels: content :fountain_pen:

#12499 Add BlockTrident to execution bounty hunters
  src/data/execution-bounty-hunters.json
Labels: review needed :eyes:

#12509 Fix typo on the Gas and fees page
  public/content/developers/docs/gas/index.md
  public/content/translations/de/developers/docs/gas/index.md
  public/content/translations/es/developers/docs/gas/index.md
  public/content/translations/fr/developers/docs/gas/index.md
Labels: content :fountain_pen:

#12479 Performance: lazy load the `Emoji` & `SearchModal` components
  src/components/Emoji.tsx
  src/components/Search/index.tsx
Labels: review needed :eyes:

#12477 Remove dead sepolia faucet - https://testnet-faucet.com/sepolia/
  public/content/developers/docs/networks/index.md
  public/content/translations/de/developers/docs/networks/index.md
  public/content/translations/es/developers/docs/networks/index.md
  public/content/translations/fa/developers/docs/networks/index.md
  public/content/translations/fr/developers/docs/networks/index.md
  public/content/translations/hu/developers/docs/networks/index.md
  public/content/translations/it/developers/docs/networks/index.md
  public/content/translations/pt-br/developers/docs/networks/index.md
  public/content/translations/ru/developers/docs/networks/index.md
  public/content/translations/zh-tw/developers/docs/networks/index.md
  public/content/translations/zh/developers/docs/networks/index.md
Labels: content :fountain_pen:

#12474 Update opcode reference for Dencun
  public/content/developers/docs/evm/opcodes/index.md
Labels: content :fountain_pen:

#12468 Performance: import `RootLayout` submodule for bundle optimization
  src/pages/_app.tsx
Labels: content :fountain_pen:, review needed :eyes:

#12498 Delete expired links: Enterprise page
  public/content/enterprise/index.md
  public/content/enterprise/private-ethereum/index.md
  public/content/translations/de/enterprise/index.md
  public/content/translations/de/enterprise/private-ethereum/index.md
  public/content/translations/es/enterprise/index.md
  public/content/translations/es/enterprise/private-ethereum/index.md
  public/content/translations/fr/enterprise/index.md
  public/content/translations/fr/enterprise/private-ethereum/index.md
  public/content/translations/hu/enterprise/index.md
  public/content/translations/hu/enterprise/private-ethereum/index.md
  public/content/translations/id/enterprise/index.md
  public/content/translations/id/enterprise/private-ethereum/index.md
  public/content/translations/it/enterprise/index.md
  public/content/translations/it/enterprise/private-ethereum/index.md
  public/content/translations/ja/enterprise/index.md
  public/content/translations/ja/enterprise/private-ethereum/index.md
  public/content/translations/pl/enterprise/index.md
  public/content/translations/pl/enterprise/private-ethereum/index.md
  public/content/translations/pt-br/enterprise/index.md
  public/content/translations/pt-br/enterprise/private-ethereum/index.md
  public/content/translations/ro/enterprise/index.md
  public/content/translations/ro/enterprise/private-ethereum/index.md
  public/content/translations/tr/enterprise/index.md
  public/content/translations/tr/enterprise/private-ethereum/index.md
  public/content/translations/zh/enterprise/index.md
  public/content/translations/zh/enterprise/private-ethereum/index.md
Labels: content :fountain_pen:

#12496 Remove broken links from /enterprise/*
  public/content/enterprise/private-ethereum/index.md
  public/content/translations/ar/enterprise/index.md
  public/content/translations/bn/enterprise/index.md
  public/content/translations/cs/enterprise/index.md
  public/content/translations/de/enterprise/private-ethereum/index.md
  public/content/translations/es/enterprise/private-ethereum/index.md
  public/content/translations/fi/enterprise/index.md
  public/content/translations/fr/enterprise/private-ethereum/index.md
  public/content/translations/hu/enterprise/private-ethereum/index.md
  public/content/translations/id/enterprise/private-ethereum/index.md
  public/content/translations/it/enterprise/private-ethereum/index.md
  public/content/translations/ja/enterprise/private-ethereum/index.md
  public/content/translations/ko/enterprise/index.md
  public/content/translations/lt/enterprise/index.md
  public/content/translations/ml/enterprise/index.md
  public/content/translations/nb/enterprise/index.md
  public/content/translations/pl/enterprise/private-ethereum/index.md
  public/content/translations/pt-br/enterprise/private-ethereum/index.md
  public/content/translations/ro/enterprise/private-ethereum/index.md
  public/content/translations/se/enterprise/index.md
  public/content/translations/sk/enterprise/index.md
  public/content/translations/tr/enterprise/private-ethereum/index.md
  public/content/translations/uk/enterprise/index.md
  public/content/translations/vi/enterprise/index.md
  public/content/translations/zh-tw/enterprise/index.md
  public/content/translations/zh/enterprise/private-ethereum/index.md
Labels: content :fountain_pen:

#12495 Remove broken links from /community/grants/
  public/content/community/grants/index.md
  public/content/translations/de/community/grants/index.md
  public/content/translations/el/community/grants/index.md
  public/content/translations/es/community/grants/index.md
  public/content/translations/fa/community/grants/index.md
  public/content/translations/fr/community/grants/index.md
  public/content/translations/hu/community/grants/index.md
  public/content/translations/it/community/grants/index.md
  public/content/translations/ja/community/grants/index.md
  public/content/translations/nl/community/grants/index.md
  public/content/translations/pl/community/grants/index.md
  public/content/translations/pt-br/community/grants/index.md
  public/content/translations/ru/community/grants/index.md
  public/content/translations/tr/community/grants/index.md
  public/content/translations/uk/community/grants/index.md
  public/content/translations/zh-tw/community/grants/index.md
  public/content/translations/zh/community/grants/index.md
Labels: content :fountain_pen:

#12385 Fix broken /layer-2 links
  public/content/roadmap/danksharding/index.md
  public/content/translations/de/roadmap/danksharding/index.md
  public/content/translations/es/roadmap/danksharding/index.md
  public/content/translations/fa/roadmap/danksharding/index.md
  public/content/translations/fr/roadmap/danksharding/index.md
  public/content/translations/hu/roadmap/danksharding/index.md
  public/content/translations/id/roadmap/danksharding/index.md
  public/content/translations/it/roadmap/danksharding/index.md
  public/content/translations/ja/roadmap/danksharding/index.md
  public/content/translations/pt-br/roadmap/danksharding/index.md
  public/content/translations/ru/roadmap/danksharding/index.md
  public/content/translations/tr/roadmap/danksharding/index.md
  public/content/translations/zh-tw/roadmap/danksharding/index.md
  public/content/translations/zh/roadmap/danksharding/index.md
Labels: content :fountain_pen:

#12469 feat: add Everstake to staking pools [Closes #11825]
  src/components/icons/staking/EverstakeGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: review needed :eyes:

#12492 Add NapulETH Open Village to events [Closes #12427]
  src/data/community-events.ts
Labels: review needed :eyes:

#12491 Add ETHBratislava to events
  src/data/community-events.ts
Labels: review needed :eyes:

#12463 Import from ethereum events sheet
  .github/workflows/import-community-events.yml
  package.json
  src/components/UpcomingEventsList.tsx
  src/data/community-events.json
  src/data/community-events.ts
  src/lib/types.ts
  src/scripts/events-import.ts
  src/scripts/events/ethereum-events-import.ts
Labels: review needed :eyes:, dependencies :package:, tooling :wrench:, event :date:

#12511 feat: add matomo event to glossary tooltip
  src/components/Glossary/GlossaryTooltip/index.tsx
Labels: review needed :eyes:

#12490 Update Kiln staking information
  src/data/staking-products.json
Labels: review needed :eyes:

#12472 Replit tutorials
  src/data/externalTutorials.json
Labels: review needed :eyes:

#12263 fix: hydration warnings on glossary
  src/components/Glossary/GlossaryDefinition/index.tsx
Labels: review needed :eyes:

#12539 Update non-English pageviews chart
  public/translation-program/pageviews-dark.png
  public/translation-program/pageviews-light.png
Labels: translation :earth_africa:

#12538 Update page-bug-bounty.json
  src/intl/en/page-bug-bounty.json
Labels: translation :earth_africa:, review needed :eyes:

#12501 Performance: use inter static fonts
  public/fonts/inter/cyrillic-ext.woff2
  public/fonts/inter/cyrillic.woff2
  public/fonts/inter/greek-ext.woff2
  public/fonts/inter/greek.woff2
  public/fonts/inter/latin-ext.woff2
  public/fonts/inter/latin.woff2
  public/fonts/inter/vietnamese.woff2
  src/fonts/Inter-VariableFont_slnt,wght.ttf
  src/lib/fonts.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/styles/global.css
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#10737 Fix typo on zh hello-world-smart-contract
  public/content/translations/zh/developers/tutorials/hello-world-smart-contract/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#10365 add Node RPC docs to the list
  public/content/developers/docs/apis/backend/index.md
Labels: content :fountain_pen:, review needed :eyes:, abandoned

#12547 Update expired link: layer 2 page
  .github/ISSUE_TEMPLATE/suggest_layer2.yaml
  public/content/contributing/adding-layer-2s/index.md
  public/content/translations/de/contributing/adding-layer-2s/index.md
  public/content/translations/es/contributing/adding-layer-2s/index.md
  public/content/translations/fr/contributing/adding-layer-2s/index.md
  public/content/translations/it/contributing/adding-layer-2s/index.md
  public/content/translations/ja/contributing/adding-layer-2s/index.md
  public/content/translations/pt-br/contributing/adding-layer-2s/index.md
  public/content/translations/tr/contributing/adding-layer-2s/index.md
  public/content/translations/zh/contributing/adding-layer-2s/index.md
  src/data/layer-2/layer-2.ts
Labels: content :fountain_pen:, review needed :eyes:, tooling :wrench:

#12527 Add new tutorial videos for Dart language
  public/content/developers/docs/programming-languages/dart/index.md
Labels: content :fountain_pen:

#12555 IconButton `isSecondary` warning
  src/components/Nav/Mobile/HamburgerButton.tsx
Labels: review needed :eyes:

#12546 Fix a mistake in the English-Japanese translation in the MEV doc
  public/content/translations/ja/developers/docs/mev/index.md
Labels: content :fountain_pen:

#12500 Discord GFI webhook
  src/lib/utils/gh.ts
  src/pages/api/gfi-issues-webhook.ts
Labels: review needed :eyes:

#12402 Add EthereumJS client as an execution client
  public/content/developers/docs/nodes-and-clients/index.md
Labels: content :fountain_pen:

#12557 Refactor: update "needs triage 📥" GitHub label
  .github/workflows/issue-triage-label.yml
  docs/github-issue-triage-process.md
Labels: tooling :wrench:

#10276 Add 3xpl to the list of block explorers
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content :fountain_pen:, review needed :eyes:, abandoned

#12533 feat: update glossary term definitions [FIXES #12365]
  src/intl/en/glossary-tooltip.json
  src/intl/en/glossary.json
Labels: translation :earth_africa:, review needed :eyes:

#12535 fix: StakingConsiderations components disappearing and overlapping
  src/components/Staking/StakingConsiderations/index.tsx
Labels: review needed :eyes:

#12543 docs: Add docs for covalent's Golang SDK
  public/content/developers/docs/programming-languages/golang/index.md
Labels: content :fountain_pen:

#12548 docs: update broken link of consensus client analysis #12412
  public/content/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/es/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/fr/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/it/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/ja/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/pt-br/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/tr/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/zh/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content :fountain_pen:

#12551 Fixed Discord Link and Content Update
  README.md
  public/content/contributing/index.md
  public/content/translations/de/community/online/index.md
  public/content/translations/de/contributing/index.md
  public/content/translations/es/about/index.md
  public/content/translations/es/contributing/design-principles/index.md
  public/content/translations/es/contributing/index.md
  public/content/translations/fr/contributing/index.md
  public/content/translations/id/contributing/translation-program/index.md
  public/content/translations/it/contributing/index.md
  public/content/translations/ja/contributing/index.md
  public/content/translations/pt-br/contributing/index.md
  public/content/translations/tr/community/online/index.md
  public/content/translations/tr/contributing/index.md
  public/content/translations/zh/contributing/index.md
  src/pages/contributing/translation-program/acknowledgements.tsx
Labels: content :fountain_pen:, review needed :eyes:, documentation :book:

#12041 Update readme for Netlify and NextJS
  README.md
  public/preview-deploy.png
Labels: review needed :eyes:, documentation :book:

#11566 Add Trust Wallet
  public/wallets/trustwallet.png
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#12226 Keyboard nav: nav menu number shortcuts
  src/components/Nav/Menu/index.tsx
  src/components/Nav/Menu/useNavMenu.ts
  src/lib/constants.ts
Labels: translation :earth_africa:, review needed :eyes:, tooling :wrench:

#12394 Make Argent Open Source.
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#12208 refactor: useLanguagePicker warning and fallback
  src/components/LanguagePicker/useLanguagePicker.tsx
Labels: review needed :eyes:

#8203 Add Learn page on Wrapped Ether (WETH)
  public/content/defi/index.md
  public/content/developers/docs/standards/tokens/erc-20/index.md
  public/content/wrapped-eth/index.md
  src/intl/en/common.json
  src/intl/en/page-eth.json
  src/intl/en/page-get-eth.json
  src/layouts/Static.tsx
  src/lib/utils/gh.ts
  src/lib/utils/md.ts
  src/pages/eth.tsx
  src/pages/get-eth.tsx
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:, needs technical content review 🧑‍🏫

#10490 refactor(Trilemma): update Chakra implementations
  src/components/Trilemma/Triangle.tsx
  src/components/Trilemma/index.tsx
Labels: review needed :eyes:, refactor ♻️, needs design review 🧑‍🎨

#10891 Adds SubQuery to Data Analytics
  public/content/developers/docs/data-and-analytics/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10984 doc: fix Stack size typo in Understanding the Yellow Paper EVM's spec…
  public/content/developers/tutorials/yellow-paper-evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#10995 add link for furder reading on evm
  public/content/developers/docs/evm/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11025 fix wrong Chinese Simplified (zh) of blocks Learn pages
  public/content/translations/zh/developers/docs/blocks/index.md
Labels: content :fountain_pen:, translation :earth_africa:, review needed :eyes:

#11182 Update index.md - add codehawks/cyfrin
  public/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#12286 Adds useful links/resources to dev docs smart-contract/security page
  public/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:

#12291 chore: add catapulta to frameworks
  public/content/developers/docs/frameworks/index.md
Labels: content :fountain_pen:

#12369 Delete the word "whether"
  public/content/developers/docs/nodes-and-clients/light-clients/index.md
Labels: content :fountain_pen:

#12370 ERC4526 withdraw event documentation wrong field name for shares
  public/content/developers/docs/standards/tokens/erc-4626/index.md
Labels: content :fountain_pen:

#12541 chore: make Filters clickable on mobile to open filters menu
  src/components/FindWallet/WalletTable/index.tsx
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:

#12554 Add: Road to DEVCON: Zero-Knowledge Proofs Unveiled
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#12562 Update workflow to commit to branch and post as PR
  .github/workflows/import-community-events.yml
Labels: tooling :wrench:

#12566 fix: typo
  src/intl/en/common.json
Labels: translation :earth_africa:, review needed :eyes:

#12568 Update oasis_std link to reference latest version on `/rust` page
  public/content/developers/docs/programming-languages/rust/index.md
  public/content/translations/de/developers/docs/programming-languages/rust/index.md
  public/content/translations/es/developers/docs/programming-languages/rust/index.md
  public/content/translations/fr/developers/docs/programming-languages/rust/index.md
  public/content/translations/hu/developers/docs/programming-languages/rust/index.md
  public/content/translations/id/developers/docs/programming-languages/rust/index.md
  public/content/translations/it/developers/docs/programming-languages/rust/index.md
  public/content/translations/ja/developers/docs/programming-languages/rust/index.md
  public/content/translations/pl/developers/docs/programming-languages/rust/index.md
  public/content/translations/pt-br/developers/docs/programming-languages/rust/index.md
  public/content/translations/ro/developers/docs/programming-languages/rust/index.md
  public/content/translations/tr/developers/docs/programming-languages/rust/index.md
  public/content/translations/zh/developers/docs/programming-languages/rust/index.md
Labels: content :fountain_pen:

#12575 Add Spheron on the decentralized storage docs
  public/content/developers/docs/storage/index.md
Labels: content :fountain_pen:

#12219 Add missing info about `safe` and `finalized` blocks
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:

#12584 Update community-events.json
  src/data/community-events.json
Labels: review needed :eyes:, event :date:

#12588 fix: hero column order
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:, needs design review 🧑‍🎨

#12593 fix: wallets data dates consistency causing crashes in Safari
  src/data/wallets/wallet-data.ts
  src/lib/types.ts
Labels: review needed :eyes:, tooling :wrench:

#12589 chore: removes Coin98 wallet
  public/wallets/coin98.png
  src/data/wallets/wallet-data.ts
Labels: review needed :eyes:

#12594 Fix Tooltip overwritten prop
  src/components/Glossary/GlossaryTooltip/index.tsx
  src/components/Tooltip/index.tsx
Labels: review needed :eyes:

#12595 `staging` -> `dev`
  src/components/Glossary/GlossaryTooltip/index.tsx
  src/components/Tooltip/index.tsx
  src/data/wallets/wallet-data.ts
  src/lib/types.ts
  src/pages/wallets/find-wallet.tsx
Labels: review needed :eyes:, tooling :wrench:

#12601 fix: markdown syntax
  public/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:

#11302 Update index.md - added ImmuneBytes as an auditing service company
  public/content/developers/docs/smart-contracts/security/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11320 Use Examples Returning Non-Trivial Response
  public/content/developers/docs/apis/json-rpc/index.md
  public/content/translations/de/developers/docs/apis/json-rpc/index.md
  public/content/translations/es/developers/docs/apis/json-rpc/index.md
  public/content/translations/fr/developers/docs/apis/json-rpc/index.md
  public/content/translations/hu/developers/docs/apis/json-rpc/index.md
  public/content/translations/it/developers/docs/apis/json-rpc/index.md
  public/content/translations/ja/developers/docs/apis/json-rpc/index.md
  public/content/translations/pt-br/developers/docs/apis/json-rpc/index.md
  public/content/translations/tr/developers/docs/apis/json-rpc/index.md
  public/content/translations/zh/developers/docs/apis/json-rpc/index.md
Labels: content :fountain_pen:, review needed :eyes:

#11341 Copy/content polishes on `/roadmap/account-abstraction/`
  public/content/roadmap/account-abstraction/index.md
Labels: content :fountain_pen:, review needed :eyes:

#12596 fix: typo
  public/content/wrapped-eth/index.md
Labels: content :fountain_pen:

#11477 refactor(StakingProductsCardGrid): update types, logic, and UI composition
  src/components/Staking/StakingProductsCardGrid.tsx
  src/components/Staking/StakingProductsCardGrid/StakingProductCard.tsx
  src/components/Staking/StakingProductsCardGrid/index.tsx
  src/components/Staking/StakingProductsCardGrid/types.ts
  src/components/Staking/StakingProductsCardGrid/useStakingProductsCardGrid.ts
  src/components/Staking/StakingProductsCardGrid/utils.ts
Labels: review needed :eyes:
