Repository ethereum/ethereum-org-website, pull requests merged in 2024-09, with the labels that each got.

#13677 Adding Grandine to various pages
  public/content/community/support/index.md
  public/content/contributing/adding-staking-products/index.md
  public/content/developers/docs/nodes-and-clients/index.md
  public/content/governance/index.md
Labels: content 🖋️

#13265 test(storybook): create stories for Logo.tsx
  src/components/Logo/Logo.stories.tsx
  src/components/Logo/index.tsx
Labels: Status: Stale

#13480 feat: update Rabby Wallet
  src/data/wallets/wallet-data.ts
Labels: Status: Stale

#13514 Updated: 0chain Info [Fixes #13324]
  public/content/developers/docs/storage/index.md
Labels: content 🖋️, Status: Stale

#13780 Update index.md (docs/consensus-mechanisms/pos)
  public/content/developers/docs/consensus-mechanisms/pos/index.md
Labels: content 🖋️

#13772 Update index.md
  public/content/developers/docs/design-and-ux/heuristics-for-web3/index.md
Labels: content 🖋️

#13782 Create story tests for CallToContribute component [#13733]
  .storybook/i18next.ts
  src/components/CallToContribute/CallToContribute.stories.tsx
  src/components/CallToContribute/index.tsx
  src/styles/global.css
Labels: tooling 🔧

#13771 Add links to subitems in design and ux docs
  public/content/developers/docs/design-and-ux/index.md
Labels: content 🖋️

#13770 Update index.md
  public/content/developers/docs/design-and-ux/dex-design-best-practice/index.md
Labels: content 🖋️

#13769 updating resources design and ux
  public/content/developers/docs/design-and-ux/index.md
Labels: content 🖋️

#13608 Docs: fix typos
  public/content/contributing/translation-program/translatathon/details/index.md
  public/content/cookie-policy/index.md
Labels: content 🖋️

#13721 Update README.md
  README.md
Labels: documentation 📖

#13741 Added veramo as framework
  public/content/developers/docs/frameworks/index.md
Labels: content 🖋️

#13799 Fix chromatic errors with tooltip stories
  .storybook/preview.tsx
  src/components/Glossary/GlossaryTooltip/GlossaryTooltip.stories.tsx
  src/components/Tooltip/Tooltip.stories.tsx
Labels: tooling 🔧

#13800 [staging] Fix sb tooltip provider
  .storybook/preview.tsx
  src/components/Glossary/GlossaryTooltip/GlossaryTooltip.stories.tsx
  src/components/Tooltip/Tooltip.stories.tsx
Labels: tooling 🔧

#13786 Change portal network image to table
  public/content/developers/docs/networking-layer/portal-network/index.md
Labels: content 🖋️

#13806 Homepage: enable atom feeds
  src/lib/api/fetchRSS.ts
  src/lib/constants.ts
  src/lib/types.ts
Labels: tooling 🔧

#13817 ui: round inner meter in ui/progress
  src/components/ui/progress.tsx
Labels: design, design system

#13822 Design system: button theming
  src/@chakra-ui/components/Button.ts
  src/@chakra-ui/foundations/shadows.ts
  src/components/FeedbackCard.tsx
  src/components/Homepage/BentoCard.tsx
  src/components/ui/buttons/Button.tsx
  src/pages/index.tsx
  tailwind.config.ts
Labels: design system

#13825 Design system: nav bar/button theming
  src/components/Nav/Desktop/index.tsx
  src/components/Nav/index.tsx
  src/components/Search/SearchButton.tsx
  src/components/Search/index.tsx
  src/styles/docsearch.css
Labels: design system

#13828 Migrate EthPriceCard, update associate color tokens
  src/components/EthPriceCard.tsx
  src/components/ui/alert.tsx
  src/pages/eth.tsx
  src/styles/colors.css
  src/styles/docsearch.css
  src/styles/global.css
  src/styles/semantic-tokens.css
  src/theme.ts
  tailwind.config.ts
Labels: design system

#13695 feat(hooks): build local `useBreakpointValue` and `useMediaQuery` hooks
  src/components/EnergyConsumptionChart/index.tsx
  src/components/Simulator/WalletHome/NFTList.tsx
  src/hooks/useBreakpointValue.ts
  src/hooks/useMediaQuery.ts
  tailwind.config.ts
  tailwind/screens.ts
Labels: tooling 🔧

#13821 Design system color theming updates
  src/@chakra-ui/components/Button.ts
  src/@chakra-ui/foundations/shadows.ts
  src/@chakra-ui/semanticTokens.ts
  src/@chakra-ui/stories/Colors.stories.tsx
  src/components/Banners/DismissableBanner/index.tsx
  src/components/EthPriceCard.tsx
  src/components/FeedbackCard.tsx
  src/components/Homepage/BentoCard.tsx
  src/components/Nav/Desktop/index.tsx
  src/components/Nav/index.tsx
  src/components/Quiz/QuizzesStats.tsx
  src/components/Search/SearchButton.tsx
  src/components/Search/SearchInputButton.tsx
  src/components/ui/alert.tsx
  src/components/ui/buttons/Button.tsx
  src/components/ui/command.tsx
  src/pages/eth.tsx
  src/pages/index.tsx
  src/styles/colors.css
  src/styles/docsearch.css
  src/styles/global.css
  src/styles/semantic-tokens.css
  src/theme.ts
  tailwind.config.ts
Labels: design system

#13620 [ShadCN] refactor(mdComponents): convert components to ShadCN
  src/components/MdComponents.tsx
  src/components/MdComponents/MdComponents.stories.tsx
  src/components/MdComponents/index.tsx
  src/layouts/Docs.tsx
  src/layouts/Staking.tsx
  src/layouts/Static.tsx
  src/layouts/Tutorial.tsx
  src/layouts/Upgrade.tsx
Labels: tooling 🔧

#13829 Design system, gradient updates
  public/content/contributing/index.md
  public/content/translations/it/contributing/index.md
  public/content/translations/ja/contributing/index.md
  public/content/translations/zh-tw/contributing/index.md
  src/components/Banners/ContributorsQuizBanner.tsx
  src/components/CalloutBanner.tsx
  src/components/Layer2/Layer2Onboard.tsx
  src/components/Staking/StakingCommunityCallout.tsx
  src/components/Staking/StakingComparison.tsx
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/components/Translatathon/TranslatathonCalendar.tsx
  src/components/UpgradeStatus.tsx
  src/layouts/Roadmap.tsx
  src/layouts/Staking.tsx
  src/pages/bug-bounty.tsx
  src/pages/dapps.tsx
  src/pages/developers/learning-tools.tsx
  src/pages/eth.tsx
  src/pages/gas.tsx
  src/pages/get-eth.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
  src/pages/wallets/find-wallet.tsx
  src/pages/what-is-ethereum.tsx
  src/styles/semantic-tokens.css
  src/theme.ts
  tailwind.config.ts
Labels: content 🖋️, translation 🌍, design system, Update Crowdin

#13855 Patches from homepage review
  src/components/StatsBoxGrid/useStatsBoxGrid.tsx
  src/intl/en/page-index.json
  src/pages/index.tsx
Labels: content 🖋️, translation 🌍

#13861 refactor use clipboard
  src/components/Homepage/useHome.ts
  src/hooks/useClipboard.ts
  src/pages/index.tsx
Labels: tooling 🔧

#13833 feat: list desci article/video ref [Closes #11091]
  public/content/desci/index.md
Labels: content 🖋️

#13852 Refactor: reuse `screens` config file
  src/hooks/useBreakpointValue.ts
  src/lib/types.ts
  src/lib/utils/screen.ts
  src/styles/config.ts
  tailwind.config.ts
  tailwind/screens.ts
Labels: tooling 🔧

#13808 Updated meta titles for SEO
  public/content/dao/index.md
  public/content/defi/index.md
  public/content/developers/docs/gas/index.md
  public/content/guides/how-to-use-a-wallet/index.md
  public/content/nft/index.md
  public/content/smart-contracts/index.md
  src/intl/en/common.json
  src/intl/en/page-gas.json
  src/intl/en/page-get-eth.json
  src/intl/en/page-index.json
  src/intl/en/page-layer-2.json
  src/intl/en/page-run-a-node.json
  src/intl/en/page-stablecoins.json
  src/intl/en/page-staking.json
  src/intl/en/page-wallets-find-wallet.json
  src/intl/en/page-wallets.json
  src/intl/en/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#13708 [ShadCN] feat: create table component set with ShadCN
  src/components/MdComponents/index.tsx
  src/components/Table/index.tsx
  src/components/Table/stories/mockMdxData.tsx
  src/components/ui/Table.tsx
  src/components/ui/__stories__/Table/Table.stories.tsx
  src/components/ui/__stories__/Table/mockMdxData.tsx
  src/layouts/Docs.tsx
  src/layouts/Tutorial.tsx
Labels: dependencies 📦

#13228 Tutorial: Server components and agents for web3 apps
  public/content/developers/tutorials/server-components/fig-1.svg
  public/content/developers/tutorials/server-components/fig-2.svg
  public/content/developers/tutorials/server-components/index.md
  src/data/placeholders/content-developers-tutorials-server-components-data.json
  src/lib/utils/md.ts
Labels: content 🖋️, tooling 🔧

#13819 Update content/developers/docs/mev/index.md
  public/content/developers/docs/mev/index.md
Labels: content 🖋️

#13860 adding line about ethereum.org will never message you
  public/content/about/index.md
  public/content/community/support/index.md
  public/content/security/index.md
Labels: content 🖋️

#13881 Fix md files
  public/content/developers/docs/gas/index.md
  public/content/smart-contracts/index.md
Labels: content 🖋️

#13831 add ETHSydney hackathon
  src/data/community-events.json
Labels: event 📅

#13844 Homepage code example redesign
  src/components/CodeModal.tsx
  src/components/Codeblock.tsx
  src/components/ui/skeleton.tsx
  src/data/CreateWallet.ts
  src/data/SimpleDomainRegistry.sol
  src/hooks/useClipboard.ts
  src/pages/index.tsx
Labels: tooling 🔧, needs dev approval 🧑‍💻, needs design approval 🧑‍🎨

#13859 Shadcn migration - MeetupList
  src/components/MeetupList.tsx
Labels: needs design approval 🧑‍🎨

#13843 Md layouts tw migration & unification
  public/content/roadmap/index.md
  src/components/Hero/CallToAction.tsx
  src/components/Hero/ContentHero/index.tsx
  src/components/Image.tsx
  src/components/LeftNavBar/index.tsx
  src/layouts/ContentLayout.tsx
  src/layouts/Roadmap.tsx
  src/layouts/Staking.tsx
  src/layouts/Upgrade.tsx
  src/layouts/UseCases.tsx
  src/layouts/index.ts
  src/layouts/md/Roadmap.tsx
  src/layouts/md/Staking.tsx
  src/layouts/md/Translatathon.tsx
  src/layouts/md/Upgrade.tsx
  src/layouts/md/UseCases.tsx
  src/layouts/md/index.ts
  src/layouts/stories/ContentLayout.stories.tsx
  src/lib/interfaces.ts
  src/pages/run-a-node.tsx
Labels: content 🖋️, tooling 🔧, config ⚙️

#13889 Homepage string updates
  src/intl/en/common.json
  src/intl/en/page-community.json
  src/intl/en/page-index.json
Labels: content 🖋️, translation 🌍

#13781 new MEV diagram on the MEV page
  public/content/developers/docs/mev/index.md
  public/content/developers/docs/mev/mev.png
  src/data/placeholders/content-developers-docs-mev-data.json
Labels: content 🖋️

#13901 Revert "Merge pull request #13808"
  public/content/dao/index.md
  public/content/defi/index.md
  public/content/developers/docs/gas/index.md
  public/content/guides/how-to-use-a-wallet/index.md
  public/content/nft/index.md
  public/content/smart-contracts/index.md
  src/intl/en/common.json
  src/intl/en/page-gas.json
  src/intl/en/page-get-eth.json
  src/intl/en/page-index.json
  src/intl/en/page-layer-2.json
  src/intl/en/page-run-a-node.json
  src/intl/en/page-stablecoins.json
  src/intl/en/page-staking.json
  src/intl/en/page-wallets-find-wallet.json
  src/intl/en/page-wallets.json
  src/intl/en/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#13902 Homepage patches
  src/components/BigNumber/index.tsx
  src/lib/utils/rss.ts
  src/pages/index.tsx
Labels: tooling 🔧

#13904 Migrate Slider usage to new Swiper
  package.json
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/index.tsx
  src/components/Swiper/index.tsx
  src/pages/index.tsx
  src/pages/what-is-ethereum.tsx
  yarn.lock
Labels: dependencies 📦

#13907 Staging -> dev
  package.json
  public/content/dao/index.md
  public/content/defi/index.md
  public/content/developers/docs/gas/index.md
  public/content/developers/docs/mev/index.md
  public/content/developers/docs/mev/mev.png
  public/content/guides/how-to-use-a-wallet/index.md
  public/content/nft/index.md
  public/content/smart-contracts/index.md
  src/@chakra-ui/components/components.utils.ts
  src/@chakra-ui/components/index.ts
  src/components/BigNumber/index.tsx
  src/components/MdComponents/index.tsx
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/index.tsx
  src/components/Swiper/index.tsx
  src/components/ui/divider.tsx
  src/data/community-events.json
  src/data/placeholders/content-developers-docs-mev-data.json
  src/intl/en/common.json
  src/intl/en/page-gas.json
  src/intl/en/page-get-eth.json
  src/intl/en/page-index.json
  src/intl/en/page-layer-2.json
  src/intl/en/page-run-a-node.json
  src/intl/en/page-stablecoins.json
  src/intl/en/page-staking.json
  src/intl/en/page-wallets-find-wallet.json
  src/intl/en/page-wallets.json
  src/intl/en/page-what-is-ethereum.json
  src/layouts/Docs.tsx
  src/layouts/Tutorial.tsx
  src/lib/utils/rss.ts
  src/pages/bug-bounty.tsx
  src/pages/community.tsx
  src/pages/dapps.tsx
  src/pages/eth.tsx
  src/pages/gas.tsx
  src/pages/get-eth.tsx
  src/pages/index.tsx
  src/pages/roadmap/vision.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/index.tsx
  src/pages/wallets/index.tsx
  src/pages/what-is-ethereum.tsx
  yarn.lock
Labels: content 🖋️, translation 🌍, dependencies 📦, tooling 🔧, event 📅

#13894 Add translations for homepage
  src/intl/fr/common.json
  src/intl/fr/page-index.json
  src/intl/it/page-index.json
  src/intl/nl/common.json
  src/intl/nl/page-index.json
  src/intl/pt-br/common.json
  src/intl/pt-br/page-index.json
  src/intl/tr/page-index.json
  src/intl/zh/common.json
  src/intl/zh/page-index.json
Labels: translation 🌍

#13911 Rename README
  README.md
Labels: documentation 📖

#13909 Homepage: matomo events
  src/components/Buttons/SvgButtonLink.tsx
  src/components/Homepage/BentoCard.tsx
  src/components/Homepage/useBentoBox.ts
  src/components/Homepage/useHome.ts
  src/components/ui/card.tsx
  src/lib/interfaces.ts
  src/pages/index.tsx
Labels: tooling 🔧

#13908 Fix: "Select" naming collision
  src/components/CentralizedExchanges/index.tsx
  src/components/Layer2/Layer2Onboard.tsx
  src/components/Select/Select.stories.tsx
  src/components/Select/index.tsx
  src/components/Select/innerComponents.tsx
  src/components/Staking/StakingLaunchpadWidget.tsx
  src/hooks/useCentralizedExchanges.ts
Labels: tooling 🔧

#13912 Add Homepage buckets translations in multiple languages
  src/intl/de/common.json
  src/intl/de/page-index.json
  src/intl/el/common.json
  src/intl/el/page-index.json
  src/intl/es/common.json
  src/intl/es/page-index.json
  src/intl/fi/common.json
  src/intl/fi/page-index.json
  src/intl/he/common.json
  src/intl/he/page-index.json
  src/intl/hu/common.json
  src/intl/hu/page-index.json
  src/intl/it/common.json
  src/intl/ja/common.json
  src/intl/ja/page-index.json
  src/intl/km/common.json
  src/intl/km/page-index.json
  src/intl/ko/common.json
  src/intl/ko/page-index.json
  src/intl/nb/common.json
  src/intl/nb/page-index.json
  src/intl/ne-np/common.json
  src/intl/ne-np/page-index.json
  src/intl/pl/common.json
  src/intl/pl/page-index.json
  src/intl/pt/common.json
  src/intl/pt/page-index.json
  src/intl/ru/common.json
  src/intl/ru/page-index.json
  src/intl/se/common.json
  src/intl/se/page-index.json
  src/intl/tr/common.json
  src/intl/uk/common.json
  src/intl/uk/page-index.json
Labels: translation 🌍

#13913 Fix integration keys in translations
  src/intl/de/page-index.json
  src/intl/el/page-index.json
  src/intl/es/page-index.json
  src/intl/fi/page-index.json
  src/intl/fr/page-index.json
  src/intl/hu/page-index.json
  src/intl/it/page-index.json
  src/intl/ja/page-index.json
  src/intl/km/page-index.json
  src/intl/ko/page-index.json
  src/intl/nb/page-index.json
  src/intl/ne-np/page-index.json
  src/intl/nl/page-index.json
  src/intl/pl/page-index.json
  src/intl/pt-br/page-index.json
  src/intl/pt/page-index.json
  src/intl/ru/page-index.json
  src/intl/se/page-index.json
  src/intl/tr/page-index.json
  src/intl/uk/page-index.json
  src/intl/zh/page-index.json
Labels: translation 🌍, Update Crowdin

#13836 Homepage: add "values" section with marquee
  src/components/BannerGrid/index.tsx
  src/components/Hero/HomeHero/index.tsx
  src/components/Homepage/ValuesMarquee.tsx
  src/components/Homepage/useValuesMarquee.ts
  src/components/Tooltip/index.tsx
  src/components/icons/eth-glyph-solid.svg
  src/hooks/usePrefersReducedMotion.ts
  src/intl/en/page-index.json
  src/pages/index.tsx
  src/styles/global.css
  src/styles/semantic-tokens.css
  tailwind.config.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#13927 deprecate: primary-light/dark color tokens
  src/styles/docsearch.css
  src/styles/global.css
  tailwind.config.ts
Labels: design system

#13690 Update history/index.md: Fix description of EIP-1052
  public/content/history/index.md
Labels: content 🖋️

#13856 Add ETH Riyadh 2024 event information
  src/data/community-events.json
Labels: event 📅

#13917 change image after rebranding
  public/content/guides/how-to-create-an-ethereum-account/wallet-box.png
Labels: content 🖋️

#13926 refactor: menu color tokens
  src/components/Nav/Menu/MenuContent.tsx
  src/components/Nav/Mobile/LvlAccordion.tsx
  src/components/Nav/Mobile/MenuBody.tsx
  src/styles/semantic-tokens.css
  tailwind.config.ts
Labels: design system, needs design approval 🧑‍🎨

#13858 updating guides hub to mention connect to projects (based on UXR)
  public/content/guides/index.md
Labels: content 🖋️, Update Crowdin

#13597 Shadcn migration - `/get-eth` page
  src/components/BannerGrid/index.tsx
  src/components/CentralizedExchanges/index.tsx
  src/components/ui/buttons/Button.tsx
  src/pages/get-eth.tsx
Labels: tooling 🔧, config ⚙️

#13933 desktop and mobile 16 px font
  src/styles/global.css
Labels: a11y ♿️, design

#13963 Remove TitleCardList
  src/components/TitleCardList.tsx
  src/lib/interfaces.ts
Labels: tooling 🔧

#13953 theme: use 16px font for alert descriptions
  src/components/ui/alert.tsx
Labels: needs design approval 🧑‍🎨

#13983 Chromatic reduce snapshot tests
  .storybook/modes.ts
  src/components/CallToContribute/CallToContribute.stories.tsx
  src/components/Quiz/stories/QuizSummary.stories.tsx
  src/components/Quiz/stories/QuizzesList.stories.tsx
Labels: tooling 🔧

#13971 Shadcn migration - button dropdown
  package.json
  src/components/ButtonDropdown.tsx
  src/components/FeedbackWidget/FixedDot.tsx
  src/components/LeftNavBar/index.tsx
  src/components/MdComponents/MdComponents.stories.tsx
  src/components/MdComponents/index.tsx
  src/components/MobileButtonDropdown.tsx
  src/components/Staking/StakingConsiderations/index.tsx
  src/components/ui/dropdown-menu.tsx
  src/layouts/ContentLayout.tsx
  src/pages/staking/index.tsx
  yarn.lock
Labels: dependencies 📦

#13984 Shadcn migration - tabs
  package.json
  src/components/Tabs.tsx
  src/components/ui/tabs.tsx
  src/pages/get-eth.tsx
  src/pages/what-is-ethereum.tsx
  yarn.lock
Labels: dependencies 📦

#13959 Shadcn migration - heros
  src/components/Hero/ContentHero/index.tsx
  src/components/Hero/MdxHero/index.tsx
  src/lib/types.ts
Labels: tooling 🔧

#13998 fix: markdown table syntax
  public/content/developers/docs/nodes-and-clients/index.md
Labels: content 🖋️

#13950 remove augur from Dapps page [Fixes #13941]
  public/images/dapps/augur.png
  src/intl/en/page-dapps.json
  src/pages/dapps.tsx
Labels: content 🖋️, translation 🌍
