Repository ethereum/ethereum-org-website, pull requests merged in 2024-12, with the labels that each got.

#14451 Hotfix solo staking quiz key
  public/content/staking/solo/index.md
  public/content/translations/cs/staking/solo/index.md
  public/content/translations/de/staking/solo/index.md
  public/content/translations/el/staking/solo/index.md
  public/content/translations/es/staking/solo/index.md
  public/content/translations/fa/staking/solo/index.md
  public/content/translations/fil/staking/solo/index.md
  public/content/translations/fr/staking/solo/index.md
  public/content/translations/ha/staking/solo/index.md
  public/content/translations/hi/staking/solo/index.md
  public/content/translations/hu/staking/solo/index.md
  public/content/translations/id/staking/solo/index.md
  public/content/translations/it/staking/solo/index.md
  public/content/translations/ja/staking/solo/index.md
  public/content/translations/ko/staking/solo/index.md
  public/content/translations/ms/staking/solo/index.md
  public/content/translations/nl/staking/solo/index.md
  public/content/translations/pcm/staking/solo/index.md
  public/content/translations/pl/staking/solo/index.md
  public/content/translations/pt-br/staking/solo/index.md
  public/content/translations/pt/staking/solo/index.md
  public/content/translations/ru/staking/solo/index.md
  public/content/translations/sk/staking/solo/index.md
  public/content/translations/tl/staking/solo/index.md
  public/content/translations/tr/staking/solo/index.md
  public/content/translations/uk/staking/solo/index.md
  public/content/translations/uz/staking/solo/index.md
  public/content/translations/vi/staking/solo/index.md
  public/content/translations/yo/staking/solo/index.md
  public/content/translations/zh-tw/staking/solo/index.md
  public/content/translations/zh/staking/solo/index.md
Labels: content 🖋️, translation 🌍

#14228 SEO update meta titles
  public/content/dao/index.md
  public/content/defi/index.md
  public/content/developers/docs/gas/index.md
  public/content/guides/how-to-use-a-wallet/index.md
  public/content/nft/index.md
  public/content/smart-contracts/index.md
  src/components/PageMetadata.tsx
  src/intl/en/page-gas.json
  src/intl/en/page-get-eth.json
  src/intl/en/page-index.json
  src/intl/en/page-layer-2.json
  src/intl/en/page-learn.json
  src/intl/en/page-run-a-node.json
  src/intl/en/page-stablecoins.json
  src/intl/en/page-staking.json
  src/intl/en/page-wallets-find-wallet.json
  src/intl/en/page-wallets.json
  src/lib/interfaces.ts
  src/pages/[...slug].tsx
  src/pages/layer-2/index.tsx
  src/pages/layer-2/networks.tsx
  src/pages/learn.tsx
  src/pages/run-a-node.tsx
  src/pages/stablecoins.tsx
Labels: content 🖋️, translation 🌍, tooling 🔧, Status: Stale

#14501 Translation fixes from Crowdin
  public/content/contributing/style-guide/content-standardization/index.md
  public/content/defi/index.md
  public/content/developers/docs/apis/json-rpc/index.md
  public/content/developers/docs/evm/index.md
  public/content/developers/docs/intro-to-ether/index.md
  public/content/developers/docs/scaling/plasma/index.md
  public/content/developers/docs/smart-contracts/security/index.md
  public/content/developers/docs/smart-contracts/testing/index.md
  public/content/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/fr/web3/index.md
  public/content/translations/it/developers/docs/mev/index.md
  public/content/translations/pcm/nft/index.md
  public/content/translations/ro/developers/tutorials/erc-721-vyper-annotated-code/index.md
  public/content/translations/ro/glossary/index.md
  public/content/translations/ro/nft/index.md
  public/content/translations/sw/nft/index.md
  public/content/translations/uk/nft/index.md
  public/content/translations/vi/nft/index.md
  src/intl/en/glossary.json
  src/intl/es/common.json
  src/intl/es/glossary.json
  src/intl/es/learn-quizzes.json
  src/intl/es/page-dapps.json
  src/intl/es/page-wallets-find-wallet.json
  src/intl/fa/glossary.json
  src/intl/fr/page-index.json
  src/intl/tr/glossary.json
Labels: content 🖋️, translation 🌍, Update Crowdin

#14518 Updated ETHCluj event date
  src/data/community-events.json
Labels: event 📅

#14499 changes in content
  public/content/developers/docs/smart-contracts/testing/index.md
Labels: content 🖋️

#14370 Implemented a page for payments use-case
  public/_redirects
  public/content/payments/computer.png
  public/content/payments/eth_robot.png
  public/content/payments/index.md
  public/content/payments/walking.png
  src/components/ButtonDropdown.tsx
  src/components/Nav/Mobile/LvlAccordion.tsx
  src/components/Nav/useNav.ts
  src/data/placeholders/content-payments-data.json
  src/intl/en/common.json
  src/intl/en/template-usecase.json
  src/layouts/md/UseCases.tsx
  src/lib/utils/md.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#14478 Switch to weekly active addresses and smaller growthepie API endpoint
  src/lib/api/fetchGrowThePie.ts
Labels: tooling 🔧

#14455 Update Binance US exchange availability by state
  src/hooks/useCentralizedExchanges.ts
Labels: tooling 🔧

#14447 workflow: updates to actions/upload-artifact@v4
  .github/workflows/generate-review-report.yml
Labels: tooling 🔧

#14496 Update community-events.json to add upcoming ETHLisbon event
  src/data/community-events.json
Labels: event 📅

#14488 Fix Broken Link on Decentralized finance (DeFi).
  public/content/defi/index.md
Labels: content 🖋️

#14524 chore: import translations for hi
  public/content/translations/hi/defi/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/bootnodes/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/light-clients/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/node-architecture/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/hi/developers/docs/smart-contracts/composability/index.md
  public/content/translations/hi/developers/docs/smart-contracts/formal-verification/index.md
  public/content/translations/hi/developers/docs/smart-contracts/testing/index.md
  public/content/translations/hi/developers/docs/smart-contracts/upgrading/index.md
  public/content/translations/hi/developers/docs/smart-contracts/verifying/index.md
  public/content/translations/hi/whitepaper/index.md
Labels: content 🖋️, translation 🌍

#14492 Fix: Custom quiz explanation override [Fixes #14490]
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/lib/types.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#14489 Removing Broken Link on Introduction to smart contracts page
  public/content/smart-contracts/index.md
Labels: content 🖋️

#14533 Client Diversity Page Update
  public/content/developers/docs/nodes-and-clients/client-diversity/index.md
Labels: content 🖋️

#13615 Update tutorial name and add some missing punctuation
  public/content/community/research/index.md
  public/content/contributing/index.md
  public/content/developers/docs/networking-layer/network-addresses/index.md
  public/content/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/developers/docs/standards/tokens/erc-223/index.md
  public/content/developers/docs/standards/tokens/erc-4626/index.md
  public/content/developers/docs/transactions/index.md
  public/content/guides/how-to-use-a-bridge/index.md
  public/content/roadmap/statelessness/index.md
  src/intl/en/page-contributing-translation-program-acknowledgements.json
  src/intl/en/page-learn.json
Labels: content 🖋️, translation 🌍, Status: Stale

#14321 Migrated stat component to shadcn/tailwind
  src/components/Stat/index.tsx
Labels: Status: Stale

#14335 migrated `TutorialMetadata.tsx` to shadcn/tailwind
  src/components/TutorialMetadata.tsx
Labels: Status: Stale

#14312 migrate ProductList component to tailwind
  src/components/ProductList.tsx
Labels: Status: Stale

#14233 feat: migrate Layer2ProductCard to tailwind and shadcn
  src/components/Layer2ProductCard.tsx
Labels: hacktoberfest

#14102 migrated trilemma modal to shadcn ui sheet component
  src/components/Trilemma/index.tsx
  src/components/Trilemma/useTrilemma.tsx
Labels: dependencies 📦, Status: Stale, hacktoberfest

#14226 feat: migrate HorizontalCard to tailwind
  src/components/HorizontalCard.tsx
  src/components/Stat/index.tsx
  src/pages/eth.tsx
  src/pages/gas.tsx
  src/pages/stablecoins.tsx
  src/pages/wallets/index.tsx
Labels: hacktoberfest

#14398 Migrate stablecoinboxgrid component to shadcn/tailwind
  src/components/StablecoinBoxGrid.tsx
Labels: Status: Stale

#14090 Migrate staking/stakinghowsoloworks to shadcn/tailwind
  src/components/Staking/StakingHowSoloWorks.tsx
Labels: Status: Stale

#14244 Migrate ActionCard.tsx to tailwind
  src/components/ActionCard.tsx
  src/pages/community.tsx
  src/pages/contributing/translation-program/acknowledgements.tsx
  src/pages/eth.tsx
Labels: Status: Stale, hacktoberfest

#14371 Migrate StablecoinAccordion/AccordionCustomItem Component to tailwind/shadcn
  src/components/StablecoinAccordion/AccordionCustomItem.tsx
  src/components/StablecoinAccordion/index.tsx
  src/components/StablecoinAccordion/utils.ts
  tailwind/ui/accordion.tsx
Labels: Status: Stale

#14372 Migrate StableCoinAccordion/index to tailwind/shadcn
  src/components/StablecoinAccordion/AccordionCustomItem.tsx
  src/components/StablecoinAccordion/index.tsx
Labels: Status: Stale

#14163 [ShadCN] Migrate Modal component to ShadCN/Tailwind
  src/components/FileContributors.tsx
  src/components/Modal/index.tsx
  src/components/Quiz/QuizzesModal.tsx
  src/components/Quiz/stories/QuizModal.stories.tsx
  src/components/Simulator/SimulatorModal.tsx
  src/components/Simulator/index.tsx
  src/components/ui/__stories__/Modal.stories.tsx
  src/components/ui/dialog-modal.tsx
  src/pages/developers/tutorials.tsx
  src/pages/quizzes.tsx
Labels: hacktoberfest

#14547 refactor: migrated TranslationLeaderboard to shadcn
  next.config.js
  src/components/TranslationLeaderboard.tsx
Labels: config ⚙️
