Repository ethereum/ethereum-org-website, pull requests merged in 2024-08, with the labels that each got.

#13559 feat: create ShadCN Radio Component
  package.json
  tailwind/ui/Checkbox.tsx
  tailwind/ui/RadioGroup.tsx
  tailwind/ui/__stories__/RadioGroup.stories.tsx
  yarn.lock
Labels: dependencies 📦

#13562 [HotFix] Translatathon updates
  public/content/contributing/translation-program/translatathon/details/index.md
  public/content/contributing/translation-program/translatathon/index.md
  public/content/contributing/translation-program/translatathon/translatathon-hubs/index.md
  public/content/contributing/translation-program/translatathon/translatathon-hubs/local-communities.png
  public/images/translatathon/kipu-logo.png
  src/components/Translatathon/LocalCommunitiesList.tsx
  src/components/Translatathon/TranslatathonCalendar.tsx
  src/components/Translatathon/TranslatathonPrizes.tsx
  src/components/Translatathon/TranslationHubCallout.tsx
  src/data/placeholders/content-contributing-translation-program-translatathon-local-communities-data.json
  src/layouts/Translatathon.tsx
  src/lib/utils/md.ts
Labels: content 🖋️, tooling 🔧

#13583 Local communities pages hotfix into staging
  public/content/contributing/translation-program/translatathon/details/index.md
  public/content/contributing/translation-program/translatathon/index.md
  public/content/contributing/translation-program/translatathon/translatathon-hubs/index.md
  public/content/contributing/translation-program/translatathon/translatathon-hubs/local-communities.png
  public/images/translatathon/kipu-logo.png
  src/components/Translatathon/LocalCommunitiesList.tsx
  src/components/Translatathon/TranslatathonCalendar.tsx
  src/components/Translatathon/TranslatathonPrizes.tsx
  src/components/Translatathon/TranslationHubCallout.tsx
  src/data/placeholders/content-contributing-translation-program-translatathon-local-communities-data.json
  src/layouts/Translatathon.tsx
  src/lib/utils/md.ts
Labels: content 🖋️, tooling 🔧

#13584 Merge translatathon hub into dev
  public/content/contributing/translation-program/translatathon/details/index.md
  public/content/contributing/translation-program/translatathon/index.md
  public/content/contributing/translation-program/translatathon/translatathon-hubs/index.md
  public/content/contributing/translation-program/translatathon/translatathon-hubs/local-communities.png
  public/images/translatathon/kipu-logo.png
  src/components/Translatathon/LocalCommunitiesList.tsx
  src/components/Translatathon/TranslatathonCalendar.tsx
  src/components/Translatathon/TranslatathonPrizes.tsx
  src/components/Translatathon/TranslationHubCallout.tsx
  src/data/placeholders/content-contributing-translation-program-translatathon-local-communities-data.json
  src/layouts/Translatathon.tsx
  src/lib/utils/md.ts
Labels: content 🖋️, tooling 🔧

#13380 Update learn-quizzes.json to fix vague explanation (issue #13247)
  src/intl/en/learn-quizzes.json
Labels: content 🖋️, translation 🌍

#13425 Add Alloy, successor to ethers-rs
  public/content/developers/docs/programming-languages/rust/index.md
  public/content/translations/de/developers/docs/programming-languages/rust/index.md
  public/content/translations/es/developers/docs/programming-languages/rust/index.md
  public/content/translations/fr/developers/docs/programming-languages/rust/index.md
  public/content/translations/hu/developers/docs/programming-languages/rust/index.md
  public/content/translations/it/developers/docs/programming-languages/rust/index.md
  public/content/translations/ja/developers/docs/programming-languages/rust/index.md
  public/content/translations/pt-br/developers/docs/programming-languages/rust/index.md
  public/content/translations/ro/developers/docs/programming-languages/rust/index.md
  public/content/translations/tr/developers/docs/programming-languages/rust/index.md
  public/content/translations/zh/developers/docs/programming-languages/rust/index.md
Labels: content 🖋️, translation 🌍, Status: Blocked 🛑, needs product review 🕵️

#13510 chore: remove dead link
  public/content/developers/docs/nodes-and-clients/index.md
Labels: Update Crowdin

#13516 Replacing invalid dummy values with valid ones
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content 🖋️

#13506 fix typo
  public/content/developers/docs/smart-contracts/formal-verification/index.md
Labels: content 🖋️

#13570 Fix svg imports in SB
  .storybook/main.ts
  next.config.js
  src/assets.d.ts
  src/components/FeedbackWidget/index.tsx
Labels: tooling 🔧, config ⚙️

#13589 Add link to the Execution API Inspector page.
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content 🖋️

#13517 Add ETHVenice Event
  src/data/community-events.json
Labels: event 📅

#13515 Update: Twitter Icon [Fixes #12379]
  src/components/FindWallet/WalletTable/WalletSocialLinks.tsx
  src/components/Footer.tsx
  src/components/Quiz/QuizWidget/QuizButtonGroup.tsx
  src/components/Quiz/QuizzesStats.tsx
  src/components/SocialListItem.tsx
Labels: dependencies 📦

#13262 Create story tests for MergeInfoGraphic component [#13242]
  .storybook/i18next.ts
  src/@chakra-ui/components/Accordion.ts
  src/components/MergeInfographic/MergeInfographic.stories.tsx
  src/components/ui/__stories__/Heading.stories.tsx
Labels: tooling 🔧, Status: Stale

#13449 Shadcn migration - mobile menu
  package.json
  src/components/FeedbackWidget/useFeedbackWidget.ts
  src/components/Nav/Mobile/ExpandIcon.tsx
  src/components/Nav/Mobile/FooterButton.tsx
  src/components/Nav/Mobile/FooterItemText.tsx
  src/components/Nav/Mobile/HamburgerButton.tsx
  src/components/Nav/Mobile/LvlAccordion.tsx
  src/components/Nav/Mobile/MenuAccordion.tsx
  src/components/Nav/Mobile/MenuBody.tsx
  src/components/Nav/Mobile/MenuFooter.tsx
  src/components/Nav/Mobile/MenuHeader.tsx
  src/components/Nav/Mobile/index.tsx
  src/components/Nav/index.tsx
  src/components/Nav/useNav.ts
  src/components/ui/sheet.tsx
  src/hooks/useDisclosure.ts
  src/hooks/useNavMenuColors.ts
  src/hooks/useNavMenuColorsTw.ts
  tailwind.config.ts
  yarn.lock
Labels: content 🖋️, translation 🌍, dependencies 📦, documentation 📖, tooling 🔧

#13464 Sentry
  .env.example
  instrumentation.ts
  next.config.js
  package.json
  sentry.client.config.ts
  yarn.lock
Labels: dependencies 📦, config ⚙️

#13156 DS implementation - Table of Contents
  src/components/TableOfContents/ItemsList.tsx
  src/components/TableOfContents/TableOfContents.stories.tsx
  src/components/TableOfContents/TableOfContentsLink.tsx
  src/components/TableOfContents/index.tsx
  src/lib/utils/toc.ts
Labels: tooling 🔧, needs design approval 🧑‍🎨

#13326 readme: add tip about how to build in other languages
  README.md
Labels: documentation 📖

#13611 Add Translatathon scoring, points & ecosystem content info
  README.md
  public/content/contributing/translation-program/translatathon/details/index.md
  src/components/MergeInfographic/MergeInfographic.stories.tsx
  src/components/Translatathon/TranslatathonPrizes.tsx
Labels: content 🖋️, documentation 📖

#13626 `master` -> `dev`
  public/content/contributing/translation-program/translatathon/details/index.md
  src/components/Search/index.tsx
  src/components/Translatathon/DatesAndTimeline.tsx
  src/components/Translatathon/LocalCommunitiesList.tsx
  src/components/Translatathon/TranslatathonPrizes.tsx
Labels: content 🖋️

#13627 fixed incorrect URL
  public/content/developers/docs/nodes-and-clients/light-clients/index.md
Labels: content 🖋️

#13621 Typo in NFT page
  public/content/nft/index.md
Labels: content 🖋️

#13625 Update verkle testnet number
  public/content/roadmap/verkle-trees/index.md
Labels: content 🖋️

#13374 Feat: redesign events page ✨
  public/images/events/event-placeholder.png
  src/components/EventCard.tsx
  src/components/MeetupList.tsx
  src/components/UpcomingEventsList.tsx
  src/intl/en/page-community.json
Labels: content 🖋️, translation 🌍, tooling 🔧, needs design approval 🧑‍🎨

#13593 [ShadCN] feat: create switch component with ShadCN
  package.json
  tailwind/ui/Switch.tsx
  tailwind/ui/__stories__/Switch.stories.tsx
  yarn.lock
Labels: dependencies 📦

#13531 Shadcn migration - language picker
  package.json
  src/components/LanguagePicker/MenuItem.tsx
  src/components/LanguagePicker/MobileCloseBar.tsx
  src/components/LanguagePicker/NoResultsCallout.tsx
  src/components/LanguagePicker/ProgressBar.tsx
  src/components/LanguagePicker/index.tsx
  src/components/LanguagePicker/localeToDisplayInfo.ts
  src/components/LanguagePicker/useLanguagePicker.tsx
  src/components/Nav/Desktop/index.tsx
  src/components/Nav/Mobile/MenuFooter.tsx
  src/components/ui/badge.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/popover.tsx
  src/components/ui/progress.tsx
  src/hooks/useDisclosure.ts
  tailwind.config.ts
  yarn.lock
Labels: dependencies 📦, tooling 🔧

#13541 Shadcn migration - search modal
  .eslintrc.json
  .storybook/preview.tsx
  package.json
  src/components/Nav/index.tsx
  src/components/Search/SearchButton.tsx
  src/components/Search/SearchModal.tsx
  src/components/Search/index.tsx
  src/components/Search/utils.ts
  src/pages/_app.tsx
  src/styles/docsearch.css
  src/styles/global.css
  yarn.lock
Labels: dependencies 📦, tooling 🔧, config ⚙️

#13646 Add Solidity docs to Translatathon ecosystem content
  public/content/contributing/translation-program/translatathon/details/index.md
Labels: content 🖋️

#13650 Update index.md
  public/content/contributing/translation-program/translatathon/details/index.md
Labels: content 🖋️

#13632 feat: adds twFlipForRtl cn export to useRtlFlip
  src/hooks/useRtlFlip.ts
Labels: tooling 🔧

#13663 Hotfix color theme
  src/components/AdoptionChart.tsx
  src/components/Nav/useNav.ts
  src/hooks/useColorModeValue.ts
  src/hooks/useNavMenuColorsTw.ts
Labels: tooling 🔧

#13641 refactor: consolidate css imports into global.css
  .eslintrc.json
  src/pages/_app.tsx
  src/styles/global.css
Labels: config ⚙️

#13664 Add ethgastracker
  public/content/developers/docs/gas/index.md
Labels: content 🖋️

#13654 Update community-events.json
  src/data/community-events.json
Labels: event 📅

#13578 remove: chainshot uni from bootcamps
  src/intl/ar/page-developers-learning-tools.json
  src/intl/az/page-developers-learning-tools.json
  src/intl/bg/page-developers-learning-tools.json
  src/intl/bn/page-developers-learning-tools.json
  src/intl/ca/page-developers-learning-tools.json
  src/intl/cs/page-developers-learning-tools.json
  src/intl/de/page-developers-learning-tools.json
  src/intl/el/page-developers-learning-tools.json
  src/intl/en/page-developers-learning-tools.json
  src/intl/es/page-developers-learning-tools.json
  src/intl/fa/page-developers-learning-tools.json
  src/intl/fi/page-developers-learning-tools.json
  src/intl/fil/page-developers-learning-tools.json
  src/intl/fr/page-developers-learning-tools.json
  src/intl/hi/page-developers-learning-tools.json
  src/intl/hr/page-developers-learning-tools.json
  src/intl/hu/page-developers-learning-tools.json
  src/intl/id/page-developers-learning-tools.json
  src/intl/ig/page-developers-learning-tools.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/kn/page-developers-learning-tools.json
  src/intl/ko/page-developers-learning-tools.json
  src/intl/ml/page-developers-learning-tools.json
  src/intl/mr/page-developers-learning-tools.json
  src/intl/ms/page-developers-learning-tools.json
  src/intl/nl/page-developers-learning-tools.json
  src/intl/pcm/page-developers-learning-tools.json
  src/intl/pl/page-developers-learning-tools.json
  src/intl/pt-br/page-developers-learning-tools.json
  src/intl/pt/page-developers-learning-tools.json
  src/intl/ro/page-developers-learning-tools.json
  src/intl/ru/page-developers-learning-tools.json
  src/intl/sl/page-developers-learning-tools.json
  src/intl/sr/page-developers-learning-tools.json
  src/intl/sw/page-developers-learning-tools.json
  src/intl/tr/page-developers-learning-tools.json
  src/intl/uk/page-developers-learning-tools.json
  src/intl/vi/page-developers-learning-tools.json
  src/intl/zh-tw/page-developers-learning-tools.json
  src/intl/zh/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: content 🖋️, translation 🌍

#13613 Add Ethereum for Elixir developers page
  public/content/contributing/translation-program/content-buckets/index.md
  public/content/developers/docs/programming-languages/elixir/index.md
  public/content/developers/docs/programming-languages/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/lib/utils/md.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#13617 Shadcn migration - alert
  src/components/Alert/Alert.stories.tsx
  src/components/ui/__stories__/Alert.stories.tsx
  src/components/ui/alert.tsx
  src/styles/global.css
Labels: needs design approval 🧑‍🎨

#13688 Update ethstaked data endpoint
  src/lib/api/fetchTotalEthStaked.ts
Labels: tooling 🔧

#13672 [Storybook] fix(.storybook/preview): sync theme from global with storage key
  .storybook/preview.tsx
  .storybook/withNextThemes.ts
Labels: tooling 🔧

#13692 fix: term typo/casing, rm term from defn
  src/intl/en/glossary-tooltip.json
  src/intl/en/glossary.json
Labels: content 🖋️, translation 🌍

#13696 chore: remove lucide-react dep
  package.json
  src/components/ui/dialog.tsx
  yarn.lock
Labels: dependencies 📦

#13701 Update community-events.json
  src/data/community-events.json
Labels: event 📅

#13630 Shadcn migration - tooltip
  package.json
  src/components/Glossary/GlossaryTooltip/GlossaryTooltip.stories.tsx
  src/components/Glossary/GlossaryTooltip/index.tsx
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/index.tsx
  src/components/ui/popover.tsx
  src/components/ui/tooltip.tsx
  src/pages/_app.tsx
  yarn.lock
Labels: dependencies 📦

#13700 Adding Vyper to Bug Bounty Program
  public/images/upgrades/solidity.png
  public/images/upgrades/vyper.png
  src/intl/en/page-bug-bounty.json
  src/pages/bug-bounty.tsx
Labels: content 🖋️, translation 🌍, Update Crowdin

#13376 add use bridge content [Fixes #12450]
  public/content/bridges/index.md
Labels: content 🖋️, Status: Stale

#13605 Removed pointer from bootcamps at developers Learning page (Fixes #13521)
  public/images/dev-tools/pointer.png
  src/intl/ar/page-developers-learning-tools.json
  src/intl/az/page-developers-learning-tools.json
  src/intl/bn/page-developers-learning-tools.json
  src/intl/ca/page-developers-learning-tools.json
  src/intl/cs/page-developers-learning-tools.json
  src/intl/de/page-developers-learning-tools.json
  src/intl/el/page-developers-learning-tools.json
  src/intl/en/page-developers-learning-tools.json
  src/intl/es/page-developers-learning-tools.json
  src/intl/fa/page-developers-learning-tools.json
  src/intl/fi/page-developers-learning-tools.json
  src/intl/fil/page-developers-learning-tools.json
  src/intl/fr/page-developers-learning-tools.json
  src/intl/hi/page-developers-learning-tools.json
  src/intl/hu/page-developers-learning-tools.json
  src/intl/id/page-developers-learning-tools.json
  src/intl/ig/page-developers-learning-tools.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/kn/page-developers-learning-tools.json
  src/intl/ko/page-developers-learning-tools.json
  src/intl/mr/page-developers-learning-tools.json
  src/intl/ms/page-developers-learning-tools.json
  src/intl/nl/page-developers-learning-tools.json
  src/intl/pcm/page-developers-learning-tools.json
  src/intl/pl/page-developers-learning-tools.json
  src/intl/pt-br/page-developers-learning-tools.json
  src/intl/pt/page-developers-learning-tools.json
  src/intl/ro/page-developers-learning-tools.json
  src/intl/ru/page-developers-learning-tools.json
  src/intl/sr/page-developers-learning-tools.json
  src/intl/sw/page-developers-learning-tools.json
  src/intl/tr/page-developers-learning-tools.json
  src/intl/uk/page-developers-learning-tools.json
  src/intl/vi/page-developers-learning-tools.json
  src/intl/zh-tw/page-developers-learning-tools.json
  src/intl/zh/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: content 🖋️, translation 🌍

#13357 Updated solo staking section
  .storybook/preview.tsx
  public/content/staking/solo/index.md
  src/components/Staking/StakingGuides.tsx
  src/components/Staking/StakingHierarchy.tsx
  src/data/staking-products.json
  src/intl/en/page-staking.json
  src/pages/staking/index.tsx
Labels: content 🖋️, translation 🌍, Status: Stale

#13749 Fix workflow [test]
  .github/workflows/wallets-check.yml
Labels: tooling 🔧

#13751 Re-add rabby & update workflow
  .github/workflows/wallets-check.yml
  src/data/wallets/wallet-data.ts
Labels: tooling 🔧
