Repository ethereum/ethereum-org-website, pull requests merged in 2024-10, with the labels that each got.

#14015 Removed Atom Editor from IDE List page
  public/content/developers/docs/ides/index.md
Labels: content 🖋️, Update Crowdin

#14022 fix: dropdown intl bugs
  src/hooks/useStakingConsiderations.ts
  src/intl/en/page-staking.json
  src/layouts/md/Roadmap.tsx
Labels: content 🖋️, translation 🌍, tooling 🔧, Update Crowdin

#14029 Import warning
  .eslintrc.json
  .storybook/i18next.ts
  .storybook/utils.ts
Labels: tooling 🔧, config ⚙️

#14050 fix: Docs layout component to resolve content overflow on mobile
  src/layouts/Docs.tsx
Labels: hacktoberfest

#14049 Fixes wrong shisui (portal network client) address
  public/content/developers/docs/networking-layer/portal-network/index.md
Labels: content 🖋️, hacktoberfest

#14034 deprecate: BeaconChainActions component
  public/content/translations/ca/roadmap/beacon-chain/index.md
  public/content/translations/nl/roadmap/beacon-chain/index.md
  public/content/translations/sw/roadmap/beacon-chain/index.md
  src/components/BeaconChainActions.tsx
  src/layouts/md/Upgrade.tsx
Labels: content 🖋️, translation 🌍

#13991 Add ETH Pura Vida to Event list
  src/data/community-events.json
Labels: event 📅

#13940 chore(typo): build in => builtin
  public/content/developers/docs/nodes-and-clients/bootnodes/index.md
Labels: content 🖋️

#13964 fix: typos
  src/intl/en/common.json
  src/intl/en/page-dapps.json
Labels: content 🖋️, translation 🌍

#13997 Removed deprecated eth_coinbase from json-rpc docs[#13996]
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content 🖋️, hacktoberfest

#14054 Staging -> dev
  src/components/Homepage/ValuesMarquee.tsx
  src/components/ui/tabs.tsx
  src/hooks/useStakingConsiderations.ts
  src/intl/en/page-staking.json
  src/layouts/md/Roadmap.tsx
  src/pages/get-eth.tsx
Labels: content 🖋️, translation 🌍, tooling 🔧

#14062 feat: Deleted /enterprise/private-ethereum/ and the menu link to it
  public/_redirects
  public/content/enterprise/private-ethereum/index.md
  public/content/translations/de/enterprise/private-ethereum/index.md
  public/content/translations/es/enterprise/private-ethereum/index.md
  public/content/translations/fr/enterprise/private-ethereum/index.md
  public/content/translations/hu/enterprise/private-ethereum/index.md
  public/content/translations/id/enterprise/private-ethereum/index.md
  public/content/translations/it/enterprise/private-ethereum/index.md
  public/content/translations/ja/enterprise/private-ethereum/index.md
  public/content/translations/pl/enterprise/private-ethereum/index.md
  public/content/translations/pt-br/enterprise/private-ethereum/index.md
  public/content/translations/ro/enterprise/private-ethereum/index.md
  public/content/translations/tr/enterprise/private-ethereum/index.md
  public/content/translations/zh/enterprise/private-ethereum/index.md
  src/components/Nav/useNav.ts
  src/intl/en/common.json
Labels: content 🖋️, translation 🌍

#13704 Feat: add stablecoins quiz [Fixes #13649]
  src/components/Quiz/stories/QuizzesStats.stories.tsx
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/lib/utils/translations.ts
  src/pages/stablecoins.tsx
Labels: feature ✨, content 🖋️, Update Crowdin

#14083 Fix: Update Links to Source Dashboards in Metrics Section
  src/components/StatsBoxGrid/useStatsBoxGrid.tsx
Labels: hacktoberfest

#14075 Deprecate _buildspace
  public/images/dev-tools/buildspace.png
  src/intl/ar/page-developers-learning-tools.json
  src/intl/az/page-developers-learning-tools.json
  src/intl/bg/page-developers-learning-tools.json
  src/intl/bn/page-developers-learning-tools.json
  src/intl/ca/page-developers-learning-tools.json
  src/intl/cs/page-developers-learning-tools.json
  src/intl/de/page-developers-learning-tools.json
  src/intl/el/page-developers-learning-tools.json
  src/intl/en/page-developers-learning-tools.json
  src/intl/es/page-developers-learning-tools.json
  src/intl/fa/page-developers-learning-tools.json
  src/intl/fi/page-developers-learning-tools.json
  src/intl/fil/page-developers-learning-tools.json
  src/intl/fr/page-developers-learning-tools.json
  src/intl/hi/page-developers-learning-tools.json
  src/intl/hu/page-developers-learning-tools.json
  src/intl/id/page-developers-learning-tools.json
  src/intl/ig/page-developers-learning-tools.json
  src/intl/it/page-developers-learning-tools.json
  src/intl/ja/page-developers-learning-tools.json
  src/intl/kn/page-developers-learning-tools.json
  src/intl/ko/page-developers-learning-tools.json
  src/intl/mr/page-developers-learning-tools.json
  src/intl/ms/page-developers-learning-tools.json
  src/intl/nl/page-developers-learning-tools.json
  src/intl/pcm/page-developers-learning-tools.json
  src/intl/pl/page-developers-learning-tools.json
  src/intl/pt-br/page-developers-learning-tools.json
  src/intl/pt/page-developers-learning-tools.json
  src/intl/ro/page-developers-learning-tools.json
  src/intl/ru/page-developers-learning-tools.json
  src/intl/sl/page-developers-learning-tools.json
  src/intl/sr/page-developers-learning-tools.json
  src/intl/sw/page-developers-learning-tools.json
  src/intl/tr/page-developers-learning-tools.json
  src/intl/uk/page-developers-learning-tools.json
  src/intl/vi/page-developers-learning-tools.json
  src/intl/zh-tw/page-developers-learning-tools.json
  src/intl/zh/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: content 🖋️, translation 🌍, hacktoberfest

#14087 Add Updraft to learning tools page [fixes #13638]
  public/images/dev-tools/cyfrin-updraft.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: content 🖋️, translation 🌍, hacktoberfest

#14078 Added Armiarma to the nodes and clients section under the tracking nodes in the network segment.
  public/content/developers/docs/nodes-and-clients/index.md
Labels: content 🖋️, hacktoberfest

#14086 Add Ethseer to the Block Explorers section
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content 🖋️, hacktoberfest

#14068 chore: add listing policy for online communities [Fixes #10790]
  public/content/community/online/index.md
Labels: content 🖋️, hacktoberfest

#14153 fix: crowdin-ci workflow
  src/scripts/crowdin/translations/getTranslations.ts
  src/scripts/crowdin/translations/utils.ts
Labels: tooling 🔧

#13667 Typo in "how to write and deploy an NFT" page and removing link for Azure Blockchain Workbench
  public/content/developers/docs/ides/index.md
  public/content/developers/tutorials/how-to-write-and-deploy-an-nft/index.md
  src/data/community-events.json
Labels: content 🖋️, event 📅

#14171 Disable ethstaker feed
  src/lib/constants.ts
Labels: tooling 🔧

#14174 chore: list EthStaker blog link only, without fetching latest
  src/lib/constants.ts
Labels: tooling 🔧

#14176 markdown checker fixes
  public/content/translations/cs/developers/docs/intro-to-ether/index.md
  public/content/translations/cs/developers/docs/scaling/state-channels/index.md
  public/content/translations/ml/nft/index.md
  public/content/translations/te/defi/index.md
  public/content/translations/te/roadmap/account-abstraction/index.md
  public/content/translations/te/roadmap/danksharding/index.md
  public/content/translations/te/roadmap/dencun/index.md
  public/content/translations/te/roadmap/pbs/index.md
  public/content/translations/te/roadmap/secret-leader-election/index.md
  public/content/translations/te/roadmap/single-slot-finality/index.md
  public/content/translations/te/roadmap/statelessness/index.md
  public/content/translations/te/roadmap/verkle-trees/index.md
  public/content/translations/vi/smart-contracts/index.md
Labels: content 🖋️, translation 🌍, Update Crowdin

#14177 revert: faulty imports
  public/content/translations/es/developers/docs/scaling/state-channels/index.md
  public/content/translations/es/developers/docs/standards/tokens/erc-777/index.md
  public/content/translations/fr/developers/docs/scaling/state-channels/index.md
  public/content/translations/fr/developers/docs/standards/tokens/erc-777/index.md
  public/content/translations/hu/developers/docs/scaling/state-channels/index.md
  public/content/translations/hu/developers/docs/standards/tokens/erc-777/index.md
  public/content/translations/it/developers/docs/scaling/state-channels/index.md
  public/content/translations/it/developers/docs/standards/tokens/erc-777/index.md
  public/content/translations/zh/developers/docs/scaling/state-channels/index.md
  public/content/translations/zh/developers/docs/standards/tokens/erc-777/index.md
Labels: content 🖋️, translation 🌍

#14175 Upgrade `@netlify/plugin-nextjs` to latest
  package.json
  yarn.lock
Labels: dependencies 📦

#14173 fix: rm broken links, simplify to single callout
  public/content/developers/docs/intro-to-ether/index.md
Labels: content 🖋️

#14168 Catch errors on xml fetch
  src/lib/api/fetchRSS.ts
Labels: tooling 🔧

#14186 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: tooling 🔧

#14181 fix: ethstaker blog xml feed
  src/lib/constants.ts
Labels: tooling 🔧

#14189 Hotfix rss feed
  src/lib/constants.ts
Labels: tooling 🔧

#14070 This pull request fixes a broken link causing a "Page Not Found" error Fixes #13992
  src/intl/bg/page-developers-tutorials.json
  src/intl/ca/page-developers-tutorials.json
  src/intl/de/page-developers-tutorials.json
  src/intl/el/page-developers-tutorials.json
  src/intl/en/page-developers-tutorials.json
  src/intl/es/page-developers-tutorials.json
  src/intl/fr/page-developers-tutorials.json
  src/intl/hi/page-developers-tutorials.json
  src/intl/hr/page-developers-tutorials.json
  src/intl/hu/page-developers-tutorials.json
  src/intl/id/page-developers-tutorials.json
  src/intl/it/page-developers-tutorials.json
  src/intl/ja/page-developers-tutorials.json
  src/intl/ml/page-developers-tutorials.json
  src/intl/pl/page-developers-tutorials.json
  src/intl/pt-br/page-developers-tutorials.json
  src/intl/ro/page-developers-tutorials.json
  src/intl/ru/page-developers-tutorials.json
  src/intl/sl/page-developers-tutorials.json
  src/intl/tr/page-developers-tutorials.json
  src/intl/uk/page-developers-tutorials.json
  src/intl/zh/page-developers-tutorials.json
  src/pages/developers/tutorials.tsx
Labels: content 🖋️, translation 🌍, hacktoberfest

#14179 Data loader
  .env.example
  src/data/mocks/attestantPosts.json
  src/data/mocks/communityEvents.json
  src/data/mocks/ethPrice.json
  src/data/mocks/ethereumEcosystemData.json
  src/data/mocks/ethereumStablecoinsData.json
  src/data/mocks/frameworksListData.json
  src/data/mocks/gfissues.json
  src/data/mocks/growThePieData.json
  src/data/mocks/rssData.json
  src/data/mocks/stakingStatsData.json
  src/data/mocks/totalEthStaked.json
  src/data/mocks/totalValueLocked.json
  src/lib/api/calendarEvents.ts
  src/lib/api/fetchEthPrice.ts
  src/lib/api/fetchGrowThePie.ts
  src/lib/api/fetchTotalEthStaked.ts
  src/lib/api/fetchTotalValueLocked.ts
  src/lib/utils/data/cacheAsyncFn.ts
  src/lib/utils/data/dataLoader.ts
  src/lib/utils/data/loadMockData.ts
  src/lib/utils/env.ts
  src/lib/utils/runOnlyOnce.ts
  src/pages/[...slug].tsx
  src/pages/developers/local-environment.tsx
  src/pages/index.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/index.tsx
  src/pages/what-is-ethereum.tsx
Labels: Status: Blocked 🛑, tooling 🔧, config ⚙️

#13948 add learnweb3 [Fixes #10138]
  public/images/dev-tools/learnweb3.png
  src/intl/en/page-developers-learning-tools.json
  src/pages/developers/learning-tools.tsx
Labels: content 🖋️, translation 🌍

#14198 Updated POAP section of README
  README.md
Labels: documentation 📖, hacktoberfest

#14199 Fixed the image source in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: hacktoberfest

#14211 Patch: include mocks in Netlify deploys
  netlify.toml
Labels: config ⚙️

#14039 Shadcn Migration - DocsNav
  src/components/DocsNav.tsx
Labels: hacktoberfest

#14167 Migrate SocialListItem.tsx to tailwind
  src/components/SocialListItem.tsx
Labels: hacktoberfest

#14165 fix: update links from goerli to holesky
  public/content/developers/docs/networks/index.md
  public/content/translations/cs/developers/docs/networks/index.md
  public/content/translations/de/developers/docs/networks/index.md
  public/content/translations/es/developers/docs/networks/index.md
  public/content/translations/fa/developers/docs/networks/index.md
  public/content/translations/fr/developers/docs/networks/index.md
  public/content/translations/hu/developers/docs/networks/index.md
  public/content/translations/it/developers/docs/networks/index.md
  public/content/translations/ja/developers/docs/networks/index.md
  public/content/translations/pt-br/developers/docs/networks/index.md
  public/content/translations/ru/developers/docs/networks/index.md
  public/content/translations/tr/developers/docs/networks/index.md
  public/content/translations/zh-tw/developers/docs/networks/index.md
  public/content/translations/zh/developers/docs/networks/index.md
Labels: content 🖋️, translation 🌍

#14214 Master -> staging
  src/lib/constants.ts
  src/pages/index.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/index.tsx
  src/pages/wallets/find-wallet.tsx
Labels: tooling 🔧

#14220 Fix json file
  src/intl/pt/page-developers-local-environment.json
Labels: translation 🌍

#14047 New design for Staking cards #13115
  src/components/SocialListItem.tsx
  src/components/Staking/StakingProductsCardGrid/StakingProductCard.tsx
  src/components/Staking/StakingProductsCardGrid/index.tsx
  src/components/Staking/StakingProductsCardGrid/types.ts
  src/components/icons/staking/AbyssGlyphIcon.tsx
  src/components/icons/staking/AllnodesGlyphIcon.tsx
  src/components/icons/staking/AnkrGlyphIcon.tsx
  src/components/icons/staking/AuditedIcon.tsx
  src/components/icons/staking/AvadoGlyphIcon.tsx
  src/components/icons/staking/BattleTestedIcon.tsx
  src/components/icons/staking/BedrockGlyphIcon.tsx
  src/components/icons/staking/BugBountyIcon.tsx
  src/components/icons/staking/CautionProductGlyphIcon.tsx
  src/components/icons/staking/ChainLaboGlyphIcon.tsx
  src/components/icons/staking/ConsensysStakingGlyphIcon.tsx
  src/components/icons/staking/DefaultOpenSourceGlyphIcon.tsx
  src/components/icons/staking/EconomicalIcon.tsx
  src/components/icons/staking/EthpoolGlyphIcon.tsx
  src/components/icons/staking/EverstakeGlyphIcon.tsx
  src/components/icons/staking/FigmentGlyphIcon.tsx
  src/components/icons/staking/GreenCheckProductGlyphIcon.tsx
  src/components/icons/staking/KilnGlyphIcon.tsx
  src/components/icons/staking/LaunchnodesGlyphIcon.tsx
  src/components/icons/staking/LidoGlyphIcon.tsx
  src/components/icons/staking/LiquidityTokenIcon.tsx
  src/components/icons/staking/MultiClientIcon.tsx
  src/components/icons/staking/OpenSourceStakingIcon.tsx
  src/components/icons/staking/P2PGlyphIcon.tsx
  src/components/icons/staking/PermissionlessIcon.tsx
  src/components/icons/staking/RockXGlyphIcon.tsx
  src/components/icons/staking/RocketPoolGlyphIcon.tsx
  src/components/icons/staking/SelfCustodyIcon.tsx
  src/components/icons/staking/SenseiNodeGlyphIcon.tsx
  src/components/icons/staking/SquidGlyphIcon.tsx
  src/components/icons/staking/StafiGlyphIcon.tsx
  src/components/icons/staking/StakefishGlyphIcon.tsx
  src/components/icons/staking/StakewiseGlyphIcon.tsx
  src/components/icons/staking/StakingDappnodeGlyphIcon.tsx
  src/components/icons/staking/StereumGlyphIcon.tsx
  src/components/icons/staking/TrustlessIcon.tsx
  src/components/icons/staking/UnknownProductGlyphIcon.tsx
  src/components/icons/staking/WagyuGlyphIcon.tsx
  src/components/icons/staking/WarningProductGlyphIcon.tsx
  src/hooks/useStakingConsiderations.tsx
  src/intl/en/page-staking.json
Labels: content 🖋️, translation 🌍, tooling 🔧, hacktoberfest

#14235 Revalidate on demand
  netlify.toml
  src/pages/api/revalidate.ts
  src/pages/index.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/index.tsx
  src/pages/wallets/find-wallet.tsx
Labels: config ⚙️

#14000 Shadcn migrate - BugBountyCards
  src/components/BugBountyCards.tsx
Labels: needs design approval 🧑‍🎨, hacktoberfest

#14036 Shadcn migration - DocLink
  src/components/DocLink.tsx
Labels: needs design approval 🧑‍🎨, hacktoberfest

#14018 migrate ProductCard component to tailwind
  src/components/ProductCard.tsx
  src/components/ui/command.tsx
Labels: content 🖋️, dependencies 📦, tooling 🔧, needs design approval 🧑‍🎨, config ⚙️, hacktoberfest

#14100 feat: add DeFi quiz [Fixes #13648]
  public/content/defi/index.md
  src/components/Quiz/stories/QuizzesStats.stories.tsx
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/lib/utils/translations.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#13987 Migrate layer 2 page to shadcn, and updates for layer 2 migration
  public/images/layer-2/learn-hero.png
  src/components/Callout.tsx
  src/components/Translatathon/ApplyNow.tsx
  src/data/placeholders/content-guides-how-to-create-an-ethereum-account-data.json
  src/intl/en/page-layer-2-learn.json
  src/lib/utils/translations.ts
  src/pages/dapps.tsx
  src/pages/layer-2/learn.tsx
  src/pages/wallets/index.tsx
  src/pages/what-is-ethereum.tsx
Labels: content 🖋️, translation 🌍, tooling 🔧

#14265 Update dev branch
  netlify.toml
  src/pages/api/revalidate.ts
  src/pages/index.tsx
  src/pages/stablecoins.tsx
  src/pages/staking/index.tsx
  src/pages/wallets/find-wallet.tsx
Labels: config ⚙️

#14237 i18n: init Akan Twi (tw) locale
  i18n.config.json
  src/intl/tw/common.json
  src/intl/tw/page-index.json
  src/intl/tw/page-learn.json
  src/intl/tw/page-what-is-ethereum.json
Labels: translation 🌍, config ⚙️

#14238 i18n: init Shona (sn) locale
  i18n.config.json
  src/intl/sn/common.json
  src/intl/sn/page-index.json
  src/intl/sn/page-learn.json
  src/intl/sn/page-what-is-ethereum.json
Labels: translation 🌍, config ⚙️

#14239 i18n: init Hausa (ha) locale
  i18n.config.json
  public/content/translations/ha/dao/index.md
  public/content/translations/ha/nft/index.md
  src/intl/ha/common.json
  src/intl/ha/page-dapps.json
  src/intl/ha/page-developers-index.json
  src/intl/ha/page-developers-learning-tools.json
  src/intl/ha/page-developers-local-environment.json
  src/intl/ha/page-eth.json
  src/intl/ha/page-gas.json
  src/intl/ha/page-get-eth.json
  src/intl/ha/page-index.json
  src/intl/ha/page-layer-2.json
  src/intl/ha/page-learn.json
  src/intl/ha/page-run-a-node.json
  src/intl/ha/page-stablecoins.json
  src/intl/ha/page-staking.json
  src/intl/ha/page-wallets-find-wallet.json
  src/intl/ha/page-wallets.json
  src/intl/ha/page-what-is-ethereum.json
  src/intl/ha/template-usecase.json
Labels: content 🖋️, translation 🌍, config ⚙️

#14241 i18n: init Yoruba (yo) locale
  i18n.config.json
  public/content/translations/yo/dao/index.md
  public/content/translations/yo/decentralized-identity/index.md
  public/content/translations/yo/defi/index.md
  public/content/translations/yo/desci/index.md
  public/content/translations/yo/guides/how-to-create-an-ethereum-account/index.md
  public/content/translations/yo/guides/how-to-id-scam-tokens/index.md
  public/content/translations/yo/guides/how-to-revoke-token-access/index.md
  public/content/translations/yo/guides/how-to-swap-tokens/index.md
  public/content/translations/yo/guides/how-to-use-a-bridge/index.md
  public/content/translations/yo/guides/how-to-use-a-wallet/index.md
  public/content/translations/yo/guides/index.md
  public/content/translations/yo/nft/index.md
  public/content/translations/yo/refi/index.md
  public/content/translations/yo/smart-contracts/index.md
  public/content/translations/yo/social-networks/index.md
  public/content/translations/yo/staking/dvt/index.md
  public/content/translations/yo/staking/pools/index.md
  public/content/translations/yo/staking/saas/index.md
  public/content/translations/yo/staking/solo/index.md
  public/content/translations/yo/staking/withdrawals/index.md
  public/content/translations/yo/web3/index.md
  src/intl/yo/common.json
  src/intl/yo/learn-quizzes.json
  src/intl/yo/page-dapps.json
  src/intl/yo/page-developers-index.json
  src/intl/yo/page-developers-learning-tools.json
  src/intl/yo/page-developers-local-environment.json
  src/intl/yo/page-eth.json
  src/intl/yo/page-gas.json
  src/intl/yo/page-get-eth.json
  src/intl/yo/page-index.json
  src/intl/yo/page-layer-2.json
  src/intl/yo/page-learn.json
  src/intl/yo/page-run-a-node.json
  src/intl/yo/page-stablecoins.json
  src/intl/yo/page-staking-deposit-contract.json
  src/intl/yo/page-staking.json
  src/intl/yo/page-wallets-find-wallet.json
  src/intl/yo/page-wallets.json
  src/intl/yo/page-what-is-ethereum.json
  src/intl/yo/template-usecase.json
Labels: content 🖋️, translation 🌍, config ⚙️

#14229 Fix mistranslations of Ethereum
  public/content/translations/ja/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  public/content/translations/pl/glossary/index.md
  public/content/translations/sr/nft/index.md
  public/content/translations/sr/social-networks/index.md
  public/content/translations/sr/web3/index.md
  public/content/translations/zh-tw/whitepaper/index.md
  src/intl/am/page-index.json
  src/intl/bs/common.json
  src/intl/bs/page-what-is-ethereum.json
  src/intl/ca/page-what-is-ethereum.json
  src/intl/el/page-developers-local-environment.json
  src/intl/es/common.json
  src/intl/fi/page-dapps.json
  src/intl/fi/page-stablecoins.json
  src/intl/hi/page-index.json
  src/intl/hr/page-developers-docs.json
  src/intl/hr/page-developers-index.json
  src/intl/lt/common.json
  src/intl/nl/page-developers-local-environment.json
  src/intl/pcm/common.json
  src/intl/pcm/page-stablecoins.json
  src/intl/sk/page-eth.json
  src/intl/sr/page-developers-local-environment.json
  src/intl/sr/page-run-a-node.json
  src/intl/sr/page-what-is-ethereum.json
  src/intl/sw/common.json
  src/intl/sw/page-gas.json
  src/intl/sw/page-staking.json
  src/intl/sw/page-what-is-ethereum.json
  src/intl/te/common.json
  src/intl/uz/common.json
  src/intl/vi/page-gas.json
  src/intl/zh-tw/page-developers-local-environment.json
Labels: content 🖋️, translation 🌍, Update Crowdin

#14257 remove Token Sets
  public/images/dapps/set.png
  src/intl/en/page-dapps.json
  src/pages/dapps.tsx
Labels: content 🖋️, translation 🌍

#14256 feat: address overflow resolved [Fixes #14092]
  src/layouts/Tutorial.tsx
Labels: hacktoberfest

#13876 [ShadCN] Migrate Quiz Components to ShadCN/Tailwind
  src/components/Quiz/QuizItem.tsx
  src/components/Quiz/QuizWidget/AnswerIcon.tsx
  src/components/Quiz/QuizWidget/QuizButtonGroup.tsx
  src/components/Quiz/QuizWidget/QuizConfetti.tsx
  src/components/Quiz/QuizWidget/QuizContent.tsx
  src/components/Quiz/QuizWidget/QuizProgressBar.tsx
  src/components/Quiz/QuizWidget/QuizRadioGroup.tsx
  src/components/Quiz/QuizWidget/QuizSummary.tsx
  src/components/Quiz/QuizWidget/index.tsx
  src/components/Quiz/QuizzesList.tsx
  src/components/Quiz/QuizzesModal.tsx
  src/components/Quiz/QuizzesStats.tsx
  src/components/Quiz/stories/QuizzesList.stories.tsx
  src/components/icons/Icons.stories.tsx
  src/components/icons/quiz/CorrectIcon.tsx
  src/components/icons/quiz/GreenTickIcon.tsx
  src/components/icons/quiz/IncorrectIcon.tsx
  src/components/icons/quiz/StarConfettiIcon.tsx
  src/components/icons/quiz/TrophyIcon.tsx
  src/components/icons/utils.ts
  src/components/ui/flex.tsx
  src/pages/developers/learning-tools.tsx
Labels: hacktoberfest

#14223 Migrate StakingCommunityCallout Component to tailwind/shadcn
  src/components/Staking/StakingCommunityCallout.tsx
Labels: hacktoberfest

#14269 chore: update lang types from i18n config
  src/lib/types.ts
Labels: tooling 🔧
