Repository ethereum/ethereum-org-website, pull requests merged in 2024-05, with the labels that each got.

#12863 Performance - contributors component refactor
  src/components/FileContributors.tsx
  src/components/SideNav.tsx
  src/components/SideNavMobile.tsx
  src/layouts/Docs.tsx
Labels: needs review 👀

#12772 Add Lighthouse CI Action
  .github/workflows/lighthouse-ci.yml
Labels: tooling 🔧

#12843 Remove unnecessary backslash
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content 🖋️

#10936 Accordion made according to DS style in figma [issue #10748]
  src/@chakra-ui/components/Accordion.ts
  src/@chakra-ui/components/components.utils.ts
  src/@chakra-ui/components/index.ts
  src/components/BaseStories/Accordion.stories.tsx
  src/components/ExpandableCard.tsx
  src/components/FindWallet/LanguageSupportFilter.tsx
  src/components/FindWallet/WalletFilterFeature.tsx
  src/components/Nav/Mobile/LvlAccordion.tsx
  src/components/Nav/Mobile/MenuBody.tsx
  src/components/StablecoinAccordion/AccordionCustomItem.tsx
  src/components/StablecoinAccordion/index.tsx
Labels: needs review 👀, needs dev approval 🧑‍💻

#12895 Patch workflow job names
  .github/workflows/build-crowdin.yml
  .github/workflows/get-crowdin-contributors.yml
  .github/workflows/get-leaderboard-reports.yml
  .github/workflows/get-translation-progress.yml
  .github/workflows/get-translations.yml
  .github/workflows/import-community-events.yml
Labels: tooling 🔧

#12896 Simple correction: has -> have
  public/content/roadmap/single-slot-finality/index.md
Labels: content 🖋️

#12893 fix(theme): reposition `extendBaseTheme` call for Chakra CLI
  src/@chakra-ui/theme.ts
  src/components/Buttons/Button.stories.tsx
  src/pages/_app.tsx
Labels: content 🖋️, needs review 👀

#12909 remove svg and xlsx files from crowdin import
  src/scripts/crowdin-import.ts
  src/scripts/crowdin/import/utils.ts
Labels: needs review 👀, tooling 🔧

#11764 Add ethereumjs to list of execution clients
  public/content/developers/docs/nodes-and-clients/index.md
Labels: content 🖋️, needs review 👀

#12056 Workdround for brave i18 redirection [Fixes #12027]
  i18n.config.json
Labels: internal :house:

#12058 Change operator `||` to `??` where reading environmental valuable [Fixes #12057]
  next.config.js
Labels: internal :house:

#12094 add further reading [Fixes #11699]
  public/content/nft/index.md
Labels: content 🖋️

#12095 replace a broken link [Fixes #11403]
  public/content/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/de/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/es/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/fr/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/id/developers/docs/scaling/layer-2-rollups/index.md
  public/content/translations/it/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/ja/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/pl/developers/docs/scaling/layer-2-rollups/index.md
  public/content/translations/pt-br/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/ro/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/sl/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/tr/developers/docs/scaling/optimistic-rollups/index.md
  public/content/translations/zh/developers/docs/scaling/optimistic-rollups/index.md
Labels: content 🖋️

#12114 add ValleyDAO to desci page
  public/content/desci/index.md
Labels: content 🖋️

#12910 convert iframe to YouTube component
  public/content/dao/index.md
Labels: content 🖋️

#12869 Update execution-bounty-hunters.json
  src/data/execution-bounty-hunters.json
Labels: needs review 👀

#12864 fix: dead link in Dart language in index.md file
  public/content/developers/docs/programming-languages/dart/index.md
Labels: content 🖋️

#12891 SpeedRunEthereum banner on developers page
  public/dev-tools/speed-run-ethereum-banner.png
  src/intl/en/page-developers-index.json
  src/pages/developers/index.tsx
Labels: translation 🌍, needs review 👀

#12861 Performance - enable NEXT_FORCE_EDGE_IMAGES
  netlify.toml
Labels: internal 🏠

#12904 Update community-events.json
  src/data/community-events.json
Labels: needs review 👀, event 📅

#12915 Update stalebot
  .github/workflows/stale.yml
Labels: tooling 🔧

#12181 Add ethereum-ecosystem.com to tools on layer 2 page [Fixes #11700]
  public/layer-2/ethereumecosystem.png
  src/intl/en/page-layer-2.json
  src/intl/fr/page-layer-2.json
  src/pages/layer-2.tsx
Labels: content 🖋️, translation 🌍, needs review 👀, Stale

#12214 Set up translation for Ethereum in numbers on /what-is-ethereum [Fixes #11726]
  src/intl/en/page-what-is-ethereum.json
  src/pages/what-is-ethereum.tsx
Labels: content 🖋️, translation 🌍, needs review 👀, Stale

#12287 fix: fixed date format
  src/components/UpcomingEventsList.tsx
Labels: needs review 👀

#12564 docs: add Wake framework
  public/content/developers/docs/frameworks/index.md
  public/content/developers/docs/programming-languages/python/index.md
  public/content/developers/docs/smart-contracts/testing/index.md
Labels: content 🖋️, needs product review 🕵️

#12786 Added a HighContrast variant for tags
  src/@chakra-ui/components/Tag/index.ts
  src/@chakra-ui/components/Tag/utils.ts
  src/components/FindWallet/WalletTable/index.tsx
Labels: needs review 👀

#12798 Update zkSync Layer 2 purpose to "universal", description, and Logo
  public/layer-2/zksync.png
  src/data/layer-2/layer-2.ts
  src/intl/en/page-layer-2.json
Labels: translation 🌍, needs review 👀

#12836 add updated tutorials from speedrunethereum.com
  src/data/externalTutorials.json
Labels: needs review 👀

#12874 Update Swap ETH for USDC/DAI link on stablecoin page [FIXES #12873]
  src/pages/stablecoins.tsx
Labels: content 🖋️, needs review 👀, needs grooming

#12694 Update docs post EIP-4844
  public/content/developers/docs/data-availability/index.md
  public/content/developers/docs/scaling/optimistic-rollups/index.md
Labels: content 🖋️

#12908 Contributors quiz callout banner
  public/content/contributing/index.md
  public/people-learning.png
  src/components/Banners/ContributorsQuizBanner.tsx
  src/components/MdComponents.tsx
Labels: content 🖋️, needs review 👀

#11821 added Supra Oracle information to docs
  public/content/developers/docs/oracles/index.md
Labels: content 🖋️, needs review 👀

#11576 Content revisions for dev docs /scaling/
  public/content/developers/docs/scaling/index.md
Labels: content 🖋️, needs review 👀

#12928 Revert autoclosing stale issues
  .github/workflows/stale.yml
Labels: tooling 🔧

#12853 refactor(theme/typography): update typography with DS
  .storybook/preview.ts
  src/@chakra-ui/components/Heading.ts
  src/@chakra-ui/components/Text.ts
  src/@chakra-ui/foundations/typography.ts
  src/@chakra-ui/styles.ts
  src/components/BaseStories/Heading.stories.tsx
  src/components/BaseStories/Text.stories.tsx
  src/components/Hero/HubHero/index.tsx
Labels: needs review 👀

#12930 fix: German resource link href
  public/content/translations/de/staking/solo/index.md
Labels: content 🖋️

#12266 build(deps): bump Next to v14 with Netlify build Workaround
  netlify.toml
  package.json
  src/lib/utils/md.ts
  yarn.lock
Labels: needs review 👀, dependencies 📦, internal 🏠, internal :house:

#11474 Add Morph to dev docs `/scaling/zk-rollups/`
  public/content/developers/docs/scaling/zk-rollups/index.md
Labels: content 🖋️, needs review 👀, Status: Stale, needs product review 🕵️

#10800 Adding page for proof-of-authority in consensus-mechanisms in the developers docs
  public/content/developers/docs/consensus-mechanisms/index.md
  public/content/developers/docs/consensus-mechanisms/poa/index.md
  public/content/developers/docs/consensus-mechanisms/pos/index.md
  public/content/developers/docs/consensus-mechanisms/pow/index.md
  public/content/developers/docs/scaling/sidechains/index.md
  src/data/developer-docs-links.yaml
  src/intl/en/page-developers-docs.json
  src/lib/utils/md.ts
Labels: content 🖋️, translation 🌍, needs review 👀

#12951 Set up translation for roadmap menu
  src/intl/en/common.json
  src/layouts/Roadmap.tsx
Labels: translation 🌍, needs review 👀

#12901 feat(Heading): create a wrapper for default sizes
  src/components/Heading/Heading.stories.tsx
  src/components/Heading/index.tsx
Labels: needs review 👀

#12944 refactor: replace `@chakra-ui/addon` with local setup
  .storybook/ChakraDecorator.tsx
  .storybook/i18next.ts
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/types.ts
  package.json
  src/components/Buttons/Button.stories.tsx
  yarn.lock
Labels: needs review 👀, dependencies 📦

#11486 Update references in dev docs /smart-contracts/security/
  public/content/developers/docs/smart-contracts/security/index.md
Labels: content 🖋️, needs review 👀

#12943 fix(storybook): fix alias paths with tsconfig plugin
  .storybook/main.ts
  package.json
  src/components/Hero/ContentHero/ContentHero.stories.tsx
  src/components/Hero/HomeHero/HomeHero.stories.tsx
  src/components/Hero/HubHero/HubHero.stories.tsx
  yarn.lock
Labels: needs review 👀, dependencies 📦

#12931 fix: add locale to useSurvey URL being logged
  src/hooks/useSurvey.ts
Labels: needs review 👀, tooling 🔧

#12955 Update EIP-1559 transaction type information for wallets
  .github/ISSUE_TEMPLATE/suggest_wallet.yaml
  public/content/contributing/adding-wallets/index.md
Labels: content 🖋️, tooling 🔧

#12971 Update `yarn.lock` file
  yarn.lock
Labels: dependencies 📦

#12824 Added Moralis to enterprise products and services
  public/content/enterprise/index.md
Labels: content 🖋️, low priority, needs product review 🕵️, product 🧰

#10994 Update dev docs EVM intro
  public/content/developers/docs/evm/index.md
Labels: content 🖋️, needs review 👀

#12834 remove outdated speedrunethereum tutorials
  src/data/externalTutorials.json
Labels: needs review 👀, abandoned

#12871 ✨ feat: Improve documentation for ERC-4626 interface
  public/content/developers/docs/standards/tokens/erc-4626/index.md
  public/content/developers/docs/standards/tokens/erc-4626/map-of-erc-4626.png
Labels: content 🖋️, design, needs design approval 🧑‍🎨

#12958 Added Modular Crypto Link under resources
  public/content/community/language-resources/index.md
Labels: content 🖋️

#12935 fix: ButtonLink onClick handler
  src/components/Buttons/ButtonLink.tsx
  src/components/FindWallet/WalletTable/index.tsx
Labels: needs review 👀

#12934 feat: add non-English PR flagging workflow
  .github/workflows/non-english-warning.yml
  src/scripts/crowdin/translations/utils.ts
Labels: needs review 👀, tooling 🔧

#13005 Comment out TranslationBanner components until logic is fixed
  src/layouts/RootLayout.tsx
Labels: needs review 👀

#13004 add AllWalletDev to get-involved page
  public/content/community/get-involved/index.md
Labels: content 🖋️

#12973 Fix typo in intro to ether developer doc
  public/content/developers/docs/intro-to-ether/index.md
Labels: content 🖋️

#12967 fix: replaced `add a community event` url on /community/events/
  public/content/community/events/index.md
Labels: content 🖋️

#12954 Performance: fix compression issues by adjusting middleware matcher
  netlify.toml
  src/middleware.ts
Labels: needs review 👀, internal 🏠

#13006 Performance: select styles optimization
  src/components/Select/context.ts
  src/components/Select/index.tsx
  src/components/Select/innerComponents.tsx
Labels: needs review 👀

#13009 fix: path syntax (add missing quotation)
  .github/workflows/non-english-warning.yml
Labels: tooling 🔧

#12116 Add lazy-etherscan to the list of block explorers [Issue #12115]
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content 🖋️

#13008 Update pageview charts and number of translators
  public/content/contributing/translation-program/index.md
  public/translation-program/pageviews-dark.png
  public/translation-program/pageviews-light.png
Labels: content 🖋️, translation 🌍

#12982 Update community-meetups.json
  src/data/community-meetups.json
Labels: needs review 👀

#12926 fix: typos
  public/content/developers/docs/data-structures-and-encoding/rlp/index.md
  public/content/developers/docs/nodes-and-clients/index.md
  public/content/translations/es/security/index.md
  public/content/translations/fr/bridges/index.md
  public/content/translations/fr/dao/index.md
  public/content/translations/fr/decentralized-identity/index.md
  public/content/translations/fr/defi/index.md
  public/content/translations/fr/desci/index.md
  public/content/translations/ro/developers/docs/evm/index.md
Labels: content 🖋️

#12933 fix: override box-shadow to none to avoid tooltip border #12597
  src/@chakra-ui/components/Popover.ts
Labels: needs review 👀

#12932 List Oxorio audit team
  public/content/developers/docs/smart-contracts/security/index.md
Labels: content 🖋️

#12942 Get GitHub file contributors during getStaticProps, cache to avoid rate limit
  .gitignore
  src/components/CrowdinContributors.tsx
  src/components/FileContributors.tsx
  src/components/GitHubContributors.tsx
  src/hooks/useClientSideGitHubContributors.ts
  src/hooks/useClientSideGitHubLastEdit.ts
  src/layouts/Docs.tsx
  src/layouts/Tutorial.tsx
  src/lib/api/fetchGitHistory.ts
  src/lib/interfaces.ts
  src/lib/types.ts
  src/lib/utils/md.ts
  src/pages/[...slug].tsx
Labels: content 🖋️, needs review 👀, dependencies 📦, tooling 🔧

#13017 Clean unused components
  src/components/MdComponents.tsx
  src/components/Pill.tsx
  src/components/SharedStyledComponents.tsx
Labels: needs review 👀

#13018 Fix: add explicit matcher for the root path to work on dev mode
  src/middleware.ts
Labels: needs review 👀

#13022 feat: update labeler
  .github/labeler.yml
Labels: tooling 🔧

#13025 Update broken Crowdin link on translated Translation program page
  public/content/translations/es/contributing/translation-program/how-to-translate/index.md
  public/content/translations/es/contributing/translation-program/index.md
  public/content/translations/fr/contributing/translation-program/how-to-translate/index.md
  public/content/translations/fr/contributing/translation-program/index.md
  public/content/translations/it/contributing/translation-program/how-to-translate/index.md
  public/content/translations/it/contributing/translation-program/index.md
  public/content/translations/pt-br/contributing/translation-program/how-to-translate/index.md
  public/content/translations/pt-br/contributing/translation-program/index.md
Labels: translation 🌍

#12455 Add auto-linked headers on glossary page [Fixes #12393]
  src/components/Glossary/GlossaryDefinition/index.tsx
  src/components/IdAnchor.tsx
  src/components/MdComponents.tsx
Labels: Status: Blocked 🛑, dev required

#12444 feat: setup Storybook Interaction Testing
  .storybook/i18next.ts
  .storybook/manager.ts
  .storybook/preview.ts
  .storybook/theme.ts
  package.json
  src/components/FeedbackWidget/FeedbackWidget.stories.tsx
  src/components/FeedbackWidget/FixedDot.tsx
  src/components/FeedbackWidget/index.tsx
  src/components/Quiz/QuizWidget/QuizButtonGroup.tsx
  src/components/Quiz/QuizWidget/QuizContent.tsx
  src/components/Quiz/QuizWidget/QuizRadioGroup.tsx
  src/components/Quiz/QuizWidget/QuizWidget.stories.tsx
  src/components/Quiz/QuizWidget/index.tsx
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/index.tsx
  tsconfig.json
  yarn.lock
Labels: dependencies 📦, needs design approval 🧑‍🎨, config ⚙️

#12969 Deprecate CrowdinContributors, GitHubContributors
  src/components/CrowdinContributors.tsx
  src/components/FileContributors.tsx
  src/components/GitHubContributors.tsx
  src/layouts/Docs.tsx
  src/layouts/Tutorial.tsx
  src/lib/interfaces.ts
  src/lib/types.ts
  src/lib/utils/contributors.ts
  src/lib/utils/crowdin.ts
  src/lib/utils/md.ts
  src/pages/[...slug].tsx
Labels: content 🖋️, tooling 🔧

#13057 fix: typo on attack and defence doc (Chinese Simplified)
  public/content/translations/zh/developers/docs/consensus-mechanisms/pos/attack-and-defense/index.md
Labels: content 🖋️, translation 🌍

#13003 Add NFTScan to /nft
  public/content/nft/index.md
Labels: content 🖋️

#13056 fix: glossary typos
  src/intl/en/glossary.json
Labels: content 🖋️, translation 🌍

#13020 fix: workflow skips dev/staging/master branches
  .github/workflows/non-english-warning.yml
Labels: tooling 🔧

#13061 Fix typo on Ethereum mainnet for enterprise page
  public/content/enterprise/index.md
Labels: content 🖋️

#12968 Update zero knowledge proofs index.md
  public/content/zero-knowledge-proofs/index.md
Labels: content 🖋️

#11212 fix: Implement DS styles and unify modals
  src/@chakra-ui/components/Modal.ts
  src/components/CodeModal.tsx
  src/components/FeedbackWidget/index.tsx
  src/components/FileContributors.tsx
  src/components/Modal.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/index.tsx
  src/components/Quiz/QuizWidget/QuizButtonGroup.tsx
  src/components/Quiz/QuizWidget/QuizRadioGroup.tsx
  src/components/Quiz/QuizWidget/index.tsx
  src/components/Quiz/QuizzesModal.tsx
  src/components/Simulator/SimulatorModal.tsx
  src/components/Simulator/Template.tsx
  src/data/crowdin/combined-translators.json
  src/pages/developers/tutorials.tsx
  src/pages/index.tsx
  src/pages/quizzes.tsx
Labels: content 🖋️, refactor ♻️, tooling 🔧, needs dev approval 🧑‍💻, needs design approval 🧑‍🎨

#13071 Update nodes as a service developer doc (all that node)
  public/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content 🖋️

#13058 adds back to top button [Fixes #12194]
  .gitignore
  src/components/Footer.tsx
Labels: needs dev approval 🧑‍💻, needs design approval 🧑‍🎨

#12983 Token standards IA refactor
  public/content/developers/docs/standards/tokens/erc-20/index.md
  public/content/developers/docs/standards/tokens/index.md
  src/data/developer-docs-links.yaml
  src/data/placeholders/content-developers-docs-standards-tokens-erc-4626-data.json
Labels: content 🖋️

#13070 Adding ETHMilan 2024
  src/data/community-events.json
Labels: event 📅

#13076 Update index.md
  public/content/developers/docs/apis/backend/index.md
Labels: content 🖋️

#12639 refactor(ContentHero): update and apply component usage
  src/components/Hero/ContentHero/ContentHero.stories.tsx
  src/components/Hero/ContentHero/index.tsx
  src/components/Hero/HubHero/HubHero.stories.tsx
  src/components/Hero/HubHero/index.tsx
  src/components/Hero/MdxHero/index.tsx
  src/layouts/Upgrade.tsx
  src/lib/types.ts
  src/pages/community.tsx
  src/pages/layer-2.tsx
  src/pages/learn.tsx
Labels: content 🖋️, tooling 🔧, needs design approval 🧑‍🎨

#12922 Crowdin CI v2
  .github/workflows/build-crowdin.yml
  .github/workflows/crowdin-ci.yml
  .github/workflows/get-translations.yml
  src/scripts/crowdin/import/utils.ts
  src/scripts/crowdin/translations/awaitLatestBuild.ts
  src/scripts/crowdin/translations/constants.ts
  src/scripts/crowdin/translations/getApprovedBuckets.ts
  src/scripts/crowdin/translations/getBucketDirectoryIds.ts
  src/scripts/crowdin/translations/postLangPRs.ts
  src/scripts/crowdin/translations/triggerBuild.ts
  src/scripts/crowdin/translations/utils.ts
  src/scripts/markdownChecker.ts
Labels: tooling 🔧

#12668 feat(storybook): build story modes
  .storybook/modes.ts
  .storybook/preview.ts
  src/components/Hero/ContentHero/ContentHero.stories.tsx
  src/components/Hero/HomeHero/HomeHero.stories.tsx
  src/components/Hero/HubHero/HubHero.stories.tsx
  src/components/Hero/MdxHero/MdxHero.stories.tsx
Labels: tooling 🔧
