Repository ethereum/ethereum-org-website, pull requests merged in 2025-08, with the labels that each got.

#15934 Add ephemery testnet to networks
  public/content/developers/docs/networks/index.md
Labels: content 🖋️

#15935 let's update some of these links and add new links to blockscout (open source!)
  public/content/developers/docs/data-and-analytics/index.md
  public/content/developers/docs/gas/index.md
  public/content/developers/docs/intro-to-ether/index.md
  public/content/developers/docs/mev/index.md
  public/content/developers/docs/scaling/optimistic-rollups/index.md
  public/content/developers/docs/smart-contracts/verifying/index.md
  public/content/developers/tutorials/erc20-annotated-code/index.md
  public/content/developers/tutorials/erc20-with-safety-rails/index.md
  public/content/developers/tutorials/how-to-mint-an-nft/index.md
  public/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
  public/content/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  public/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/guides/how-to-id-scam-tokens/index.md
  src/components/History/NetworkUpgradeSummary.tsx
Labels: content 🖋️

#15976 Fix typo from 'Pectra 7702'
  public/content/roadmap/pectra/7702/index.md
Labels: content 🖋️

#15962 Fix typo from 'Using Ethereum for web2 authentication'
  public/content/developers/tutorials/ethereum-for-web2-auth/index.md
Labels: content 🖋️

#15963 Add inbound link to Merkle Partricia Trie page on Ethereum Account page
  public/content/developers/docs/accounts/index.md
Labels: content 🖋️

#16014 feat: translate countries in get-eth dropdown
  src/data/exchangesByCountry.ts
  src/hooks/useCentralizedExchanges.ts
  src/intl/en/common.json
  src/lib/utils/intl.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#15946 Apps learn page
  app/[locale]/apps/[application]/_components/ScreenshotSwiper.tsx
  app/[locale]/apps/[application]/page.tsx
  app/[locale]/apps/categories/[catetgoryName]/page.tsx
  app/[locale]/apps/page.tsx
  app/[locale]/learn/page.tsx
  public/content/developers/docs/dapps/index.md
  public/content/developers/docs/intro-to-ether/index.md
  public/content/developers/docs/intro-to-ethereum/index.md
  public/content/what-are-apps/developers-eth-blocks.png
  public/content/what-are-apps/index.md
  public/images/dapps/farcaster.png
  src/components/BrowseApps/index.tsx
  src/components/LeftNavBar/index.tsx
  src/components/MdComponents/index.tsx
  src/data/placeholders/content-what-are-apps-data.json
  src/intl/en/common.json
  src/intl/en/page-learn.json
  src/intl/en/template-usecase.json
  src/layouts/ContentLayout.tsx
  src/layouts/md/UseCases.tsx
  src/lib/interfaces.ts
Labels: content 🖋️, translation 🌍, tooling 🔧, config ⚙️

#15941 feat: Enterprise contact form
  .env.example
  app/[locale]/enterprise/_components/ContactForm/index.tsx
  app/[locale]/enterprise/_components/ContactForm/lazy.tsx
  app/[locale]/enterprise/_components/ContactForm/loading.tsx
  app/[locale]/enterprise/constants.ts
  app/[locale]/enterprise/page.tsx
  app/api/enterprise-contact/route.ts
  package.json
  pnpm-lock.yaml
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
  src/intl/en/page-enterprise.json
  src/lib/utils/sanitize.ts
Labels: content 🖋️, translation 🌍, dependencies 📦, tooling 🔧

#15947 docs: fix broken documentation link to Chainstack
  public/content/developers/docs/apis/backend/index.md
Labels: content 🖋️

#15978 2025 Translatathon
  public/content/contributing/translation-program/translatathon/details/index.md
  public/content/contributing/translation-program/translatathon/index.md
  public/content/contributing/translation-program/translatathon/terms-and-conditions/index.md
  public/content/contributing/translation-program/translatathon/translatathon-hubs/index.md
  public/content/contributing/translation-program/translatathon/translatathon-hubs/local-communities.png
  src/components/Translatathon/CountdownBanner.tsx
  src/components/Translatathon/DatesAndTimeline.tsx
  src/components/Translatathon/LocalCommunitiesList.tsx
  src/components/Translatathon/StepByStepInstructions.tsx
  src/components/Translatathon/TranslatathonInANutshell.tsx
  src/components/Translatathon/TranslatathonPrizes.tsx
  src/components/Translatathon/TranslationHubCallout.tsx
  src/components/Translatathon/constants.ts
  src/layouts/md/Translatathon.tsx
Labels: content 🖋️

#16051 Upgrade sharp
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦

#16054 setup /trillion-dollar-security for translation
  app/[locale]/trillion-dollar-security/page.tsx
  src/intl/en/page-trillion-dollar-security.json
Labels: content 🖋️, translation 🌍, Update Crowdin

#16055 Setup /start for translation
  app/[locale]/start/page.tsx
  src/components/StartWithEthereumFlow/ConnectYourWallet/index.tsx
  src/components/StartWithEthereumFlow/DownloadAWallet/index.tsx
  src/components/StartWithEthereumFlow/LetUseSomeApps/index.tsx
  src/components/StartWithEthereumFlow/ShareModal.tsx
  src/intl/en/page-start.json
  src/lib/utils/translations.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#16044 Fix accordion's icon rotation
  .storybook/main.ts
  src/components/ui/accordion.tsx
Labels: tooling 🔧

#16061 Sentry setup
  app/global-error.tsx
  app/layout.tsx
  instrumentation-client.ts
  instrumentation.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  sentry.edge.config.ts
  sentry.server.config.ts
Labels: dependencies 📦, config ⚙️

#16068 /10year translations
  app/[locale]/10years/_components/NFTMintCard/index.tsx
  app/[locale]/10years/page.tsx
  src/intl/en/page-10-year-anniversary.json
Labels: content 🖋️, translation 🌍

#16090 Setup apps translation
  app/[locale]/apps/[application]/page.tsx
  app/[locale]/apps/_components/AppsTable.tsx
  app/[locale]/apps/_components/CategoriesNav.tsx
  app/[locale]/apps/_components/SuggestAnApp.tsx
  app/[locale]/apps/_components/TopApps.tsx
  app/[locale]/apps/categories/[catetgoryName]/page.tsx
  app/[locale]/apps/page.tsx
  src/data/apps/categories.ts
  src/intl/en/page-apps.json
Labels: content 🖋️, translation 🌍

#16122 seo: use descriptive link label
  src/intl/en/page-index.json
Labels: content 🖋️, translation 🌍

#16116 chore: conclude test; use original
  app/[locale]/stablecoins/page.tsx
  src/intl/en/page-stablecoins.json
Labels: content 🖋️, translation 🌍

#15894 chore(docs): Fix Typo in src/data/audio/smart-contracts/script.md
  src/data/audio/smart-contracts/script.md
Labels: Status: Stale

#16032 feat: ContentHero design update
  app/[locale]/layer-2/learn/_components/learn.tsx
  app/[locale]/layer-2/networks/_components/networks.tsx
  public/images/heroes/translatathon-hero.png
  public/images/heroes/translatathon-hero.svg
  src/components/Hero/ContentHero/ContentHero.stories.tsx
  src/components/Hero/ContentHero/index.tsx
  src/layouts/Static.tsx
  src/layouts/md/Roadmap.tsx
  src/layouts/md/Staking.tsx
  src/layouts/md/Translatathon.tsx
  src/layouts/md/Upgrade.tsx
  src/layouts/md/UseCases.tsx
  src/lib/types.ts
Labels: tooling 🔧

#16057 setup /roadmap for translation
  app/[locale]/roadmap/_components/ReleaseCarousel.tsx
  app/[locale]/roadmap/_components/roadmap.tsx
  src/data/roadmap/releases.tsx
  src/intl/en/page-roadmap.json
Labels: content 🖋️, translation 🌍, tooling 🔧

#16042 feat: /what-is-ethereum revamp
  app/[locale]/what-is-ethereum/page.tsx
  public/images/translatathon/walking.png
  src/components/EnergyConsumptionChart/index.tsx
  src/components/IntlStringElements.tsx
  src/components/TableOfContents/ItemsList.tsx
  src/components/TableOfContents/TableOfContentsLink.tsx
  src/components/TableOfContents/TableOfContentsMobile.tsx
  src/components/TableOfContents/index.tsx
  src/components/ui/section.tsx
  src/intl/en/page-energy-consumption.json
  src/intl/en/page-what-is-ethereum.json
  src/lib/utils/translations.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#16136 Translatathon leaderboard
  app/[locale]/contributing/translation-program/translatathon/leaderboard/_components/Leaderboard.tsx
  app/[locale]/contributing/translation-program/translatathon/leaderboard/page.tsx
  public/content/contributing/translation-program/translatathon/details/index.md
  src/components/Translatathon/ApplyNow.tsx
  src/data/mocks/translatathonTranslators.json
  src/layouts/md/Translatathon.tsx
  src/lib/api/fetchTranslatathonTranslators.ts
Labels: content 🖋️, tooling 🔧

#16153 feat: add wrapeth.com link to /wrapped-eth
  public/content/wrapped-eth/index.md
  src/layouts/Static.tsx
Labels: content 🖋️
