Repository ethereum/ethereum-org-website, pull requests merged in 2025-02, with the labels that each got.

#14730 Add ETHDubai 2025 conference and hackathon dates
  src/data/community-events.json
Labels: event 📅

#14364 feat: list origin ether on /pools [Closes #13565]
  src/components/icons/staking/OriginEtherGlyphIcon.tsx
  src/components/icons/staking/index.ts
  src/data/staking-products.json
Labels: Status: Stale

#14249 Update best-practices.md
  docs/best-practices.md
Labels: documentation 📖, Status: Stale

#14394 Update community-meetups.json
  src/data/community-meetups.json
Labels: Status: Stale

#14782 Update Translation program stats
  public/content/contributing/translation-program/index.md
Labels: content 🖋️, translation 🌍

#14679 fix: OOG cases
  public/content/developers/docs/gas/index.md
Labels: content 🖋️

#14769 Fixing typo
  public/content/developers/docs/oracles/index.md
  public/content/developers/docs/scaling/state-channels/index.md
Labels: content 🖋️

#14716 fixed typo on the oracles files
  public/content/developers/docs/oracles/index.md
Labels: content 🖋️

#14729 Adding EthDam III Hackathon in May '25
  src/data/community-events.json
Labels: event 📅

#14688 docs: Fix incorrect Devcon year Update index.md
  public/content/history/index.md
Labels: content 🖋️

#14728 Fix typos on learn page
  src/intl/en/page-learn.json
Labels: content 🖋️, translation 🌍

#14727 Update ethereum.org roadmap
  public/content/about/index.md
Labels: content 🖋️

#14724 Update index.md Peera community forums has a new domain and name
  public/content/community/online/index.md
Labels: content 🖋️

#14715 Update index.md
  public/content/developers/docs/evm/index.md
Labels: content 🖋️

#14721 Added a missing punctuation to improve clarity in documentation
  public/content/developers/docs/scaling/index.md
Labels: content 🖋️

#14719 Fix typos and grammar in index.md
  public/content/translations/pt-br/developers/docs/dapps/index.md
Labels: content 🖋️, translation 🌍, Update Crowdin

#14687 docs: Fix typo in Terms of Use Update index.md
  public/content/terms-of-use/index.md
Labels: content 🖋️

#14686 docs: Fix hyphenation in "pseudo-random" Update index.md
  public/content/whitepaper/index.md
Labels: content 🖋️

#14698 Fix typos and grammar in README.md
  public/content/translations/pt-br/developers/tutorials/a-developers-guide-to-ethereum-part-one/index.md
Labels: content 🖋️, translation 🌍

#14685 docs: Fix incorrect article Update index.md
  public/content/zero-knowledge-proofs/index.md
Labels: content 🖋️

#14681 fix: typo in Deneb summary section on `The history of Ethereum` page
  public/content/history/index.md
Labels: content 🖋️

#14375 Updated further reading section of DA page
  public/content/developers/docs/data-availability/index.md
Labels: content 🖋️, Status: Stale

#14376 Add resources on rollup interoperability to bridges for developers page
  public/content/developers/docs/bridges/index.md
Labels: content 🖋️, Status: Stale

#14477 Add Coin98 Wallet Extensions
  src/data/wallets/wallet-data.ts
Labels: abandoned

#14389 Add resources to governance page
  public/content/governance/index.md
Labels: content 🖋️, Status: Stale

#14388 Add EIP-7503 resources to ZKPs page
  public/content/zero-knowledge-proofs/index.md
Labels: content 🖋️, Status: Stale

#14387 Add resources to account abstraction page
  public/content/roadmap/account-abstraction/index.md
Labels: content 🖋️, Status: Stale

#14386 Add resources to bridges page
  public/content/bridges/index.md
Labels: content 🖋️, Status: Stale

#14234 Docs: Fix Typo
  README.md
Labels: documentation 📖, Status: Stale

#13877 Word choice
  public/content/bridges/index.md
Labels: content 🖋️

#13903 docs: update ca/defi/index.md
  public/content/translations/ca/defi/index.md
Labels: content 🖋️, translation 🌍, Status: Stale

#13848 Update index
  public/content/community/online/index.md
Labels: content 🖋️, Status: Stale

#13976 Shadcn migration - tag codebase migration
  public/content/developers/docs/design-and-ux/index.md
  public/content/translations/es/developers/docs/design-and-ux/index.md
  public/content/translations/fa/developers/docs/design-and-ux/index.md
  public/content/translations/fr/developers/docs/design-and-ux/index.md
  public/content/translations/hu/developers/docs/design-and-ux/index.md
  public/content/translations/it/developers/docs/design-and-ux/index.md
  public/content/translations/ja/developers/docs/design-and-ux/index.md
  public/content/translations/tr/developers/docs/design-and-ux/index.md
  public/content/translations/zh/developers/docs/design-and-ux/index.md
  src/components/Banners/BugBountyBanner/index.tsx
  src/components/FindWalletProductTable/WalletInfo.tsx
  src/components/LanguagePicker/MenuItem.tsx
  src/components/Layer2NetworksTable/NetworkMaturityTooltip.tsx
  src/components/MdComponents/index.tsx
  src/components/Pill.tsx
  src/components/ProductCard.tsx
  src/components/Quiz/QuizItem.tsx
  src/components/StablecoinAccordion/AccordionCustomItem.tsx
  src/components/StablecoinAccordion/utils.ts
  src/components/Staking/StakingProductsCardGrid/StakingProductCard.tsx
  src/components/Tag/Tag.stories.tsx
  src/components/Tag/index.tsx
  src/components/TutorialMetadata.tsx
  src/components/TutorialTags.tsx
  src/components/ui/__stories__/Tag.stories.tsx
  src/components/ui/badge.tsx
  src/components/ui/buttons/Button.tsx
  src/components/ui/tag.tsx
  src/data/wallets/wallet-data.ts
  src/layouts/md/Roadmap.tsx
  src/pages/developers/tutorials.tsx
  src/pages/gas.tsx
Labels: content 🖋️, translation 🌍

#14164 fix: re-entrancy attack definition link formatting in glossary
  src/intl/en/glossary.json
Labels: content 🖋️, translation 🌍, Status: Stale

#14166 Updated index.md to include RedStone Oracles in the list of Oracles.
  public/content/developers/docs/oracles/index.md
Labels: content 🖋️, Status: Stale

#14232 docs[zh]: fix link format public/content/translations/zh/roadmap/index.md
  public/content/translations/zh/roadmap/index.md
Labels: content 🖋️, translation 🌍, Status: Stale

#14327 chore: Typo Corrections in Chat and Translatahon Documentation
  docs/applying-storybook.md
  public/content/contributing/translation-program/translatathon/details/index.md
  public/content/contributing/translation-program/translatathon/index.md
  public/content/contributing/translation-program/translatathon/terms-and-conditions/index.md
Labels: content 🖋️, documentation 📖, Status: Stale

#14841 Remove Crack & Stack from dapps page
  public/images/dapps/crackandstack.png
  src/intl/en/page-dapps.json
  src/pages/dapps.tsx
Labels: content 🖋️, translation 🌍

#14377 Update further reading section on scaling page
  public/content/developers/docs/scaling/index.md
Labels: content 🖋️, Status: Stale

#14378 Update further reading section on optimistic rollups page
  public/content/developers/docs/scaling/optimistic-rollups/index.md
Labels: content 🖋️, Status: Stale

#14871 feat: add X-Frame-Options to header
  next.config.js
Labels: config ⚙️

#14775 Add docs on Pectra
  public/content/roadmap/index.md
  public/content/roadmap/pectra/index.md
  src/lib/utils/md.ts
Labels: content 🖋️, tooling 🔧

#14915 [ShadCN]: Move Color Stories to Tailwind
  .storybook/main.ts
  src/@chakra-ui/stories/Colors.stories.tsx
  src/styles/colors.stories.tsx
Labels: tooling 🔧

#14930 Hotfix incorrect quizkey
  public/content/translations/cs/staking/solo/index.md
  public/content/translations/zh/staking/solo/index.md
Labels: content 🖋️, translation 🌍

#14931 [ShadCN]: remove Chakra Provider and Dependencies
  .eslintrc.json
  .github/workflows/chromatic.yml
  .storybook/ChakraDecorator.tsx
  .storybook/main.ts
  .storybook/types.ts
  package.json
  src/@chakra-ui/components/Accordion.ts
  src/@chakra-ui/components/Avatar.ts
  src/@chakra-ui/components/Badge.ts
  src/@chakra-ui/components/Breadcrumb.ts
  src/@chakra-ui/components/Button.ts
  src/@chakra-ui/components/Checkbox.ts
  src/@chakra-ui/components/Heading.ts
  src/@chakra-ui/components/Input.ts
  src/@chakra-ui/components/Link.ts
  src/@chakra-ui/components/Modal.ts
  src/@chakra-ui/components/Popover.ts
  src/@chakra-ui/components/Progress.ts
  src/@chakra-ui/components/Radio.ts
  src/@chakra-ui/components/Switch.ts
  src/@chakra-ui/components/Table.ts
  src/@chakra-ui/components/Tabs.ts
  src/@chakra-ui/components/Tag/index.ts
  src/@chakra-ui/components/Tag/utils.ts
  src/@chakra-ui/components/Text.ts
  src/@chakra-ui/components/components.utils.ts
  src/@chakra-ui/components/index.ts
  src/@chakra-ui/foundations/colors.ts
  src/@chakra-ui/foundations/index.ts
  src/@chakra-ui/foundations/shadows.ts
  src/@chakra-ui/foundations/sizes.ts
  src/@chakra-ui/foundations/spacing.ts
  src/@chakra-ui/foundations/typography.ts
  src/@chakra-ui/semanticTokens.ts
  src/@chakra-ui/theme.ts
  src/components/Nav/useNav.ts
  src/components/Simulator/icons/EthTokenIcon.tsx
  src/components/ThemeProvider.tsx
  src/components/ui/__stories__/Table/mockMdxData.tsx
  src/hooks/useLocaleDirection.ts
  src/pages/index.tsx
  src/styled.d.ts
  src/styles/docsearch.css
  src/styles/global.css
  src/styles/semantic-tokens.css
  src/theme.ts
  tailwind.config.ts
  tsconfig.json
  yarn.lock
Labels: dependencies 📦, tooling 🔧, config ⚙️

#14927 maintenance to designer docs
  public/content/developers/docs/design-and-ux/index.md
Labels: content 🖋️

#14902 Update suggest_quiz.yaml
  .github/ISSUE_TEMPLATE/suggest_quiz.yaml
Labels: tooling 🔧

#14926 Deprecate allow list
  src/lib/constants.ts
  src/lib/utils/md.ts
Labels: tooling 🔧

#13783 Tutorial: Using zero-knowledge for a secret state
  public/content/developers/tutorials/secret-state/index.md
  public/content/developers/tutorials/secret-state/mprocs.png
  src/components/Banners/BugBountyBanner/index.tsx
Labels: content 🖋️, tooling 🔧

#14379 Update further reading section on ZK-rollups page
  public/content/developers/docs/scaling/zk-rollups/index.md
Labels: content 🖋️, Status: Stale

#14380 Update further reading section of validiums page
  public/content/developers/docs/scaling/validium/index.md
Labels: content 🖋️, Status: Stale

#14382 Add resources + info to data/analytics page
  public/content/developers/docs/data-and-analytics/index.md
Labels: content 🖋️, Status: Stale

#14383 Update further reading section on EIP-1559 page
  public/content/developers/docs/gas/index.md
Labels: content 🖋️, Status: Stale

#14384 Update validator keys page
  public/content/developers/docs/consensus-mechanisms/pos/keys/index.md
Labels: content 🖋️, Status: Stale

#14385 Update further reading section on PoS rewards/penalties page
  public/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
Labels: content 🖋️, Status: Stale

#14890 feat: add Pectra to /history
  public/content/history/index.md
  src/data/NetworkUpgradeSummaryData.ts
  src/data/mocks/l2beatData.json
  src/pages/[locale]/layer-2/networks.tsx
Labels: content 🖋️

#14912 Update consensus client listings
  public/content/developers/docs/nodes-and-clients/index.md
Labels: content 🖋️

#14974 v9.6.0
  package.json
  src/data/published.json
Labels: dependencies 📦

#14986 Release candidate 9.6.0
  .all-contributorsrc
  README.md
  src/components/CentralizedExchanges/index.tsx
  src/components/DocsNav.tsx
Labels: documentation 📖
