Repository ethereum/ethereum-org-website, pull requests merged in 2025-05, with the labels that each got.

#15363 fix: metadataBase to use SITE_URL
  src/lib/utils/metadata.ts
Labels: tooling 🔧

#15403 Import translation fixes from 1st QA round
  src/intl/it/common.json
  src/intl/it/page-index.json
  src/intl/zh-tw/page-index.json
Labels: translation 🌍

#15430 Master -> staging
  app/page.tsx
  middleware.ts
  src/data/chains.ts
  src/data/translationProgress.json
  src/intl/it/common.json
  src/intl/it/page-index.json
  src/intl/zh-tw/page-index.json
  src/middleware.ts
Labels: translation 🌍

#15431 Staging -> dev
  app/[locale]/get-eth/page.tsx
  app/page.tsx
  middleware.ts
  src/lib/utils/metadata.ts
  src/middleware.ts
Labels: tooling 🔧

#15433 hot-fix: update rss feed link for ethpandaops
  src/lib/constants.ts
Labels: tooling 🔧

#15436 correct post-pectra slashing penalty
  public/content/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/index.md
Labels: content 🖋️

#15192 refactor(ui): chunk deposit address spacing by 4
  app/[locale]/staking/deposit-contract/_components/deposit-contract.tsx
Labels: Status: Stale

#15404 feat: add geodework blog to homepage feeds
  src/lib/constants.ts
Labels: tooling 🔧

#15393 add ethgastracker
  public/images/resources/gas.png
  src/components/Resources/useResources.tsx
  src/intl/en/page-resources.json
Labels: content 🖋️, translation 🌍

#15358 Fix typo
  public/content/roadmap/pectra/7702/index.md
Labels: content 🖋️

#15406 docs (`stack.md`): remove part about Algolia
  docs/stack.md
Labels: documentation 📖

#15298 fix: update Algolia documentation link in stack.md
  docs/stack.md
Labels: documentation 📖

#15437 fix /roadmap/vision namespace missing
  src/lib/utils/translations.ts
Labels: tooling 🔧

#15338 fixing old year mention 2024 -> 2025
  README.md
Labels: documentation 📖

#15342 doc: re-write the point to external article reference
  public/content/guides/how-to-swap-tokens/index.md
Labels: content 🖋️

#15319 Update page-bug-bounty.json language
  src/intl/en/page-bug-bounty.json
Labels: content 🖋️, translation 🌍

#15297 Fix typos
  public/content/translations/de/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/de/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  public/content/translations/es/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/fr/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/id/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/it/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/it/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  public/content/translations/ja/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/pl/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  public/content/translations/pt-br/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/pt-br/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
  public/content/translations/ro/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/sl/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/sl/governance/index.md
  public/content/translations/tr/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/zh/developers/docs/standards/tokens/erc-1155/index.md
  public/content/translations/zh/developers/tutorials/calling-a-smart-contract-from-javascript/index.md
Labels: content 🖋️, translation 🌍

#15054 feat: revamp find-wallet header
  src/components/DataTable/index.tsx
  src/components/FindWalletProductTable/FindWalletsNoResults.tsx
  src/components/FindWalletProductTable/hooks/useWalletColumns.tsx
  src/components/FindWalletProductTable/index.tsx
  src/components/ProductTable/Filters.tsx
  src/components/ProductTable/MobileFilters.tsx
  src/components/ProductTable/PresetFilters.tsx
  src/components/ProductTable/index.tsx
  src/components/ui/table.tsx
  src/data/roadmap/releases.tsx
  src/intl/en/page-wallets-find-wallet.json
  src/lib/utils/wallets.ts
Labels: content 🖋️, translation 🌍, high priority, tooling 🔧

#15391 add prediction market page to use cases [Fixes #15360]
  public/content/prediction-markets/index.md
  public/images/dapps/auger.png
  public/images/dapps/kalshi.png
  public/images/use-cases/prediction-markets.png
  src/components/Content/prediction-markets/PredictionMarketLists.tsx
  src/components/Nav/useNav.ts
  src/intl/en/common.json
  src/intl/en/template-usecase.json
  src/layouts/md/UseCases.tsx
Labels: content 🖋️, translation 🌍, high priority

#15440 v10.3.0
  package.json
  src/data/published.json
Labels: dependencies 📦

#15444 patch: pectra complete, update language
  public/content/history/index.md
Labels: content 🖋️

#15253 fix: correct Spanish translation of UX/UI in footer [FIXES #15173]
  src/intl/es/common.json
Labels: translation 🌍, Status: Stale

#15448 hotfix layer 2
  app/[locale]/layer-2/_components/layer-2.tsx
  src/components/Layer2NetworksTable/NetworksSubComponent.tsx
  src/components/Layer2NetworksTable/hooks/useNetworkColumns.tsx
  src/lib/types.ts
Labels: tooling 🔧

#14690 Fix developers/tutorials page
  app/[locale]/developers/tutorials/_components/tutorials.tsx
Labels: high priority

#15457 no cache for fetchGrowThePie due to response size
  src/lib/api/fetchGrowThePie.ts
Labels: tooling 🔧

#15439 Fix go to top [Fixes #15412]
  src/components/Footer.tsx
  src/components/ui/buttons/Button.tsx
  src/lib/utils/scrollIntoView.ts
Labels: tooling 🔧

#14898 feat: use new design for FileContributors
  app/[locale]/bug-bounty/_components/bug-bounty.tsx
  app/[locale]/bug-bounty/page.tsx
  app/[locale]/dapps/_components/dapps.tsx
  app/[locale]/dapps/page.tsx
  app/[locale]/eth/_components/eth.tsx
  app/[locale]/eth/page.tsx
  app/[locale]/gas/_components/gas.tsx
  app/[locale]/gas/page.tsx
  app/[locale]/get-eth/_components/get-eth.tsx
  app/[locale]/get-eth/page.tsx
  app/[locale]/layer-2/learn/_components/learn.tsx
  app/[locale]/layer-2/learn/page.tsx
  app/[locale]/learn/_components/learn.tsx
  app/[locale]/learn/page.tsx
  app/[locale]/roadmap/vision/_components/vision.tsx
  app/[locale]/roadmap/vision/page.tsx
  app/[locale]/run-a-node/_components/run-a-node.tsx
  app/[locale]/run-a-node/page.tsx
  app/[locale]/staking/_components/staking.tsx
  app/[locale]/staking/page.tsx
  app/[locale]/wallets/_components/wallets.tsx
  app/[locale]/wallets/page.tsx
  app/[locale]/what-is-ethereum/_components/what-is-ethereum.tsx
  app/[locale]/what-is-ethereum/page.tsx
  src/components/FileContributors.tsx
  src/intl/en/common.json
  src/layouts/ContentLayout.tsx
  src/layouts/Static.tsx
  src/layouts/Tutorial.tsx
  src/layouts/md/Roadmap.tsx
  src/layouts/md/Staking.tsx
  src/layouts/md/Translatathon.tsx
  src/layouts/md/Upgrade.tsx
  src/layouts/md/UseCases.tsx
  src/layouts/stories/ContentLayout.stories.tsx
  src/lib/api/fetchGitHistory.ts
  src/lib/md/data.ts
  src/lib/types.ts
  src/lib/utils/contributors.ts
  src/lib/utils/crowdin.ts
  src/lib/utils/gh.ts
Labels: content 🖋️, translation 🌍, high priority, tooling 🔧

#15483 Master
  app/[locale]/layer-2/_components/layer-2.tsx
  app/[locale]/layer-2/page.tsx
  src/components/Layer2NetworksTable/NetworksSubComponent.tsx
  src/components/Layer2NetworksTable/hooks/useNetworkColumns.tsx
  src/lib/api/fetchGrowThePie.ts
  src/lib/types.ts
Labels: tooling 🔧

#15468 feat: implement real-world-assets page
  public/content/real-world-assets/index.md
  src/components/Nav/useNav.ts
  src/intl/en/common.json
  src/intl/en/template-usecase.json
  src/layouts/md/UseCases.tsx
Labels: content 🖋️, translation 🌍

#15340 Update index.md, break sentence and improve readability
  public/content/guides/index.md
Labels: content 🖋️

#15303 Fix typo in python example code
  public/content/developers/docs/data-structures-and-encoding/rlp/index.md
Labels: content 🖋️, Status: Stale

#15450 Adding in third-party consolidation tooling, augmented FAQ
  public/content/roadmap/pectra/maxeb/index.md
Labels: content 🖋️

#15307 fix: improve some translations in pt-BR [Fixes #15306]
  .all-contributorsrc
  public/content/translations/pt-br/whitepaper/index.md
  src/components/LanguagePicker/MenuItem.tsx
Labels: content 🖋️, translation 🌍, Status: Stale

#15350 fix: quotes escaping in German gas page link [FIXES #15349]
  src/intl/de/page-gas.json
Labels: translation 🌍

#15294 docs(readme): added for ease of reading (Back to top)
  README.md
Labels: documentation 📖, Status: Stale

#15237 cosmetic:Fixed mobile view for action card
  src/components/ActionCard.tsx
Labels: Status: Stale

#15446 Update some EthereumJS related links
  public/content/developers/docs/programming-languages/javascript/index.md
Labels: content 🖋️

#15503 fix: remove stray string
  public/content/real-world-assets/index.md
Labels: content 🖋️

#15502 fix: /dapps page patches
  app/[locale]/dapps/_components/dapps.tsx
  public/content/developers/docs/programming-languages/python/index.md
  public/content/guides/how-to-swap-tokens/index.md
Labels: content 🖋️

#15200 SEO: filter invalid locales from alternates
  i18n.config.json
  src/lib/utils/translations.ts
Labels: tooling 🔧, config ⚙️

#15504 fix: prevent cookie transfers during external data loads
  app/[locale]/_components/home.tsx
  public/content/developers/tutorials/the-graph-fixing-web3-data-querying/index.md
  src/data/placeholders/content-developers-tutorials-the-graph-fixing-web3-data-querying-data.json
  src/lib/api/fetchRSS.ts
Labels: content 🖋️, tooling 🔧

#15522 fix: home page metadata
  app/[locale]/page.tsx
  src/lib/utils/metadata.ts
Labels: tooling 🔧

#15523 Fixed typo: "really dummy" → "real dummy"
  public/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md
Labels: content 🖋️

#14830 Fix: rss image parsing logic
  src/lib/api/fetchRSS.ts
Labels: tooling 🔧, Status: Stale

#14880 Setup ContributorsQuizBanner for translation
  src/components/Banners/ContributorsQuizBanner.tsx
  src/intl/en/common.json
Labels: content 🖋️, translation 🌍, Status: Stale, Update Crowdin

#14938 Add family wallet
  public/images/wallets/family.png
  src/data/wallets/wallet-data.ts
Labels: Status: Stale

#15520 fix: markdown table format in developers docs
  public/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content 🖋️

#15493 update grants page
  public/content/community/grants/index.md
Labels: content 🖋️, Update Crowdin

#15507 Update community-events.json
  src/data/community-events.json
Labels: event 📅
