Repository ethereum/ethereum-org-website, pull requests merged in 2025-03, with the labels that each got.

#13239 Update node clients content [Fixes #13199]
  public/content/developers/docs/nodes-and-clients/node-architecture/index.md
  public/content/developers/docs/nodes-and-clients/node-architecture/node-architecture-text-background.png
  public/content/developers/docs/nodes-and-clients/node-architecture/node_architecture.png
  src/data/placeholders/content-developers-docs-nodes-and-clients-node-architecture-data.json
Labels: content 🖋️

#15031 docs: fix minor stylistic issue in "Adding products" section
  docs/review-process.md
Labels: documentation 📖

#15023 fix url
  public/content/history/index.md
Labels: content 🖋️

#15019 fix: dead link in doc
  public/content/developers/docs/smart-contracts/testing/index.md
Labels: content 🖋️

#14985 update X accounts after ethereum foundation split
  public/content/community/online/index.md
Labels: content 🖋️

#14894 docs(roadmap): add PeerDAS context to EIP-7691 description
  public/content/roadmap/pectra/index.md
Labels: content 🖋️

#14956 fix Aaderyn -> Aderyn in all the translations as well
  public/content/developers/docs/smart-contracts/security/index.md
  public/content/translations/cs/developers/docs/smart-contracts/security/index.md
  public/content/translations/el/developers/docs/smart-contracts/security/index.md
  public/content/translations/es/developers/docs/smart-contracts/security/index.md
  public/content/translations/fa/developers/docs/smart-contracts/security/index.md
  public/content/translations/fr/developers/docs/smart-contracts/security/index.md
  public/content/translations/hi/developers/docs/smart-contracts/security/index.md
  public/content/translations/hu/developers/docs/smart-contracts/security/index.md
  public/content/translations/it/developers/docs/smart-contracts/security/index.md
  public/content/translations/ja/developers/docs/smart-contracts/security/index.md
  public/content/translations/nl/developers/docs/smart-contracts/security/index.md
  public/content/translations/pcm/developers/docs/smart-contracts/security/index.md
  public/content/translations/pt-br/developers/docs/smart-contracts/security/index.md
  public/content/translations/tr/developers/docs/smart-contracts/security/index.md
  public/content/translations/zh-tw/developers/docs/smart-contracts/security/index.md
  public/content/translations/zh/developers/docs/smart-contracts/security/index.md
Labels: content 🖋️, translation 🌍

#14943 Update index.md
  public/content/developers/docs/data-availability/blockchain-data-storage-strategies/index.md
Labels: content 🖋️

#14941 refactor: create import alias for `.storybook` directory
  .eslintrc.json
  .storybook/main.ts
  src/components/Hero/ContentHero/ContentHero.stories.tsx
  src/components/Hero/HomeHero/HomeHero.stories.tsx
  src/components/Hero/HubHero/HubHero.stories.tsx
  src/components/Hero/MdxHero/MdxHero.stories.tsx
  src/components/MdComponents/MdComponents.stories.tsx
  src/components/MergeInfographic/MergeInfographic.stories.tsx
  src/components/Simulator/__stories__/Explanation.stories.tsx
  src/layouts/stories/BaseLayout.stories.tsx
  src/layouts/stories/ContentLayout.stories.tsx
  tsconfig.json
Labels: tooling 🔧, config ⚙️

#14502 Added Kiwi app to the dapp repository [Issue #14463]
  public/images/dapps/kiwinews.png
  src/intl/en/page-dapps.json
  src/pages/[locale]/dapps.tsx
Labels: content 🖋️, translation 🌍, Status: Stale

#15040 docs: fix wording in "YouTube and X" section
  public/content/community/online/index.md
Labels: content 🖋️

#15041 docs: fix verb agreement in benefits section
  public/content/decentralized-identity/index.md
Labels: content 🖋️

#15042 docs: fix grammar issue with article usage before "time zone"
  public/content/defi/index.md
Labels: content 🖋️

#15043 docs: fix 404 links
  public/content/translations/id/developers/docs/nodes-and-clients/index.md
  public/content/translations/ro/developers/docs/nodes-and-clients/index.md
  public/content/translations/ru/developers/docs/nodes-and-clients/index.md
  src/pages/[locale]/bug-bounty.tsx
  src/pages/[locale]/dapps.tsx
Labels: content 🖋️, translation 🌍

#15048 docs: fix typo in documentation
  public/content/developers/tutorials/erc20-with-safety-rails/index.md
Labels: content 🖋️

#13448 add further reading and video for /desci
  src/pages/[locale]/dapps.tsx
Labels: content 🖋️, Status: Stale

#15097 AI agents page
  public/content/ai-agents/index.md
  public/images/ai-agents/ai16z.png
  public/images/ai-agents/aiagenttoolkit.png
  public/images/ai-agents/aixbt.png
  public/images/ai-agents/bankr.png
  public/images/ai-agents/botto.png
  public/images/ai-agents/clanker.png
  public/images/ai-agents/cookiefun.png
  public/images/ai-agents/game.png
  public/images/ai-agents/hero-image.png
  public/images/ai-agents/heyanon.png
  public/images/ai-agents/luna.png
  src/components/Content/ai-agents/AiAgentProductLists.tsx
  src/components/Content/ai-agents/BuildYourOwnAIAgent.tsx
  src/components/Nav/useNav.ts
  src/components/ProductList.tsx
  src/intl/en/common.json
  src/intl/en/template-usecase.json
  src/layouts/md/UseCases.tsx
Labels: content 🖋️, translation 🌍

#14942 Resource dashboard MVP
  .github/ISSUE_TEMPLATE/suggest_resource.yaml
  public/_redirects
  public/content/contributing/adding-resources/index.md
  public/images/resources/beaconcha-in.png
  public/images/resources/blobsguru.png
  public/images/resources/blocknative.png
  public/images/resources/blockscout.webp
  public/images/resources/cryptowerk.png
  public/images/resources/defi-llama.png
  public/images/resources/defi-market-cap.png
  public/images/resources/defi-scan.png
  public/images/resources/eas.png
  public/images/resources/eigenphi.png
  public/images/resources/eth-glyph-black.png
  public/images/resources/eth-glyph-blue-circle.png
  public/images/resources/eth-glyph-e-org.png
  public/images/resources/eth-glyph-rainbow.frame.png
  public/images/resources/etherealize.png
  public/images/resources/etherscan.png
  public/images/resources/ethproofs.png
  public/images/resources/ethstaker.png
  public/images/resources/farcaster.png
  public/images/resources/growthepie.png
  public/images/resources/l2beat.png
  public/images/resources/mev-watch.png
  public/images/resources/nftgo.png
  public/images/resources/nodewatch.png
  public/images/resources/rated-network.png
  public/images/resources/relayscan.png
  public/images/resources/rwa.png
  public/images/resources/stablecoins-wtf.png
  public/images/resources/supermajority.png
  public/images/resources/txcity.png
  public/images/resources/ultrasound-money.png
  public/images/resources/visa-onchain-analytcs.png
  src/components/AreaChart/index.tsx
  src/components/BarChart/index.tsx
  src/components/RadialChart/index.tsx
  src/components/Resources/index.tsx
  src/components/Resources/types.ts
  src/components/Resources/useResources.tsx
  src/components/icons/arrows-fullscreen.svg
  src/components/icons/heart-pulse.svg
  src/components/icons/privacy.svg
  src/components/icons/stack.svg
  src/components/ui/Link.tsx
  src/components/ui/accordion.tsx
  src/intl/en/page-index.json
  src/intl/en/page-resources.json
  src/lib/constants.ts
  src/lib/utils/translations.ts
  src/pages/[locale]/index.tsx
  src/pages/[locale]/resources.tsx
  src/styles/global.css
  src/styles/semantic-tokens.css
Labels: content 🖋️, translation 🌍, tooling 🔧

#15112 deleting deadlinks
  public/content/developers/docs/design-and-ux/index.md
Labels: content 🖋️

#15113 Updating AA page
  public/content/roadmap/account-abstraction/index.md
Labels: content 🖋️

#15149 fix: markdown syntax
  public/content/translations/fr/developers/docs/smart-contracts/upgrading/index.md
  public/content/translations/zh-tw/history/index.md
Labels: content 🖋️, translation 🌍

#15151 ignore content & intl folder from server build
  next.config.js
Labels: config ⚙️

#15169 Add EthAsia event
  src/data/community-events.json
Labels: event 📅

#15167 Update community-events.json
  src/data/community-events.json
Labels: event 📅

#15165 Update link to Fluffy on the Portal Network page
  public/content/developers/docs/networking-layer/portal-network/index.md
Labels: content 🖋️

#15160 Tech debt
  next.config.js
  public/content/developers/docs/design-and-ux/dex-design-best-practice/index.md
  public/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
  public/content/developers/tutorials/waffle-test-simple-smart-contract/index.md
  src/components/Contributors.tsx
  src/components/DataTable/index.tsx
  src/components/EventCard.tsx
  src/components/ListenToPlayer/PlayerWidget/index.tsx
  src/components/ListenToPlayer/index.tsx
  src/components/ProductTable/index.tsx
  src/components/Quiz/QuizWidget/useQuizWidget.tsx
  src/components/StablecoinsTable.tsx
  src/components/Translatathon/CountdownBanner.tsx
  src/components/icons/listen-to/expand.tsx
  src/components/icons/staking/BedrockGlyphIcon.tsx
  src/components/icons/staking/EthpoolGlyphIcon.tsx
  src/components/ui/Link.tsx
  src/lib/utils/data/dataLoader.ts
Labels: content 🖋️, tooling 🔧, config ⚙️

#15105 docs: fix grammatical error
  public/content/bridges/index.md
Labels: content 🖋️

#15139 fix: rm dead link from archive-nodes page
  public/content/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/el/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/es/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/fa/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/fr/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/hu/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/it/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/ja/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/pt-br/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/tr/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/archive-nodes/index.md
  public/content/translations/zh/developers/docs/nodes-and-clients/archive-nodes/index.md
Labels: content 🖋️, translation 🌍, Update Crowdin

#15070 docs: fixed grammatical issues in "Blockchain Bridges" section
  public/content/bridges/index.md
Labels: content 🖋️

#15108 Fix typo on weak subjectivity article
  public/content/developers/docs/consensus-mechanisms/pos/weak-subjectivity/index.md
Labels: content 🖋️

#14960 Grammar & Wording Fixes in Docs
  docs/applying-storybook.md
  docs/best-practices.md
  docs/header-ids.md
  docs/translation-program.md
Labels: documentation 📖, Status: Stale

#15103 Remove Waffle from local environments page (#15098)
  public/images/dev-tools/waffle.png
  src/data/mocks/frameworksListData.json
  src/intl/ar/page-developers-local-environment.json
  src/intl/az/page-developers-local-environment.json
  src/intl/bg/page-developers-local-environment.json
  src/intl/bn/page-developers-local-environment.json
  src/intl/ca/page-developers-local-environment.json
  src/intl/cs/page-developers-local-environment.json
  src/intl/de/page-developers-local-environment.json
  src/intl/el/page-developers-local-environment.json
  src/intl/en/page-developers-local-environment.json
  src/intl/es/page-developers-local-environment.json
  src/intl/fa/page-developers-local-environment.json
  src/intl/fi/page-developers-local-environment.json
  src/intl/fil/page-developers-local-environment.json
  src/intl/fr/page-developers-local-environment.json
  src/intl/ha/page-developers-local-environment.json
  src/intl/hi/page-developers-local-environment.json
  src/intl/hr/page-developers-local-environment.json
  src/intl/hu/page-developers-local-environment.json
  src/intl/id/page-developers-local-environment.json
  src/intl/ig/page-developers-local-environment.json
  src/intl/it/page-developers-local-environment.json
  src/intl/ja/page-developers-local-environment.json
  src/intl/kn/page-developers-local-environment.json
  src/intl/ko/page-developers-local-environment.json
  src/intl/ml/page-developers-local-environment.json
  src/intl/mr/page-developers-local-environment.json
  src/intl/ms/page-developers-local-environment.json
  src/intl/nl/page-developers-local-environment.json
  src/intl/pcm/page-developers-local-environment.json
  src/intl/pl/page-developers-local-environment.json
  src/intl/pt-br/page-developers-local-environment.json
  src/intl/pt/page-developers-local-environment.json
  src/intl/ro/page-developers-local-environment.json
  src/intl/ru/page-developers-local-environment.json
  src/intl/sl/page-developers-local-environment.json
  src/intl/sr/page-developers-local-environment.json
  src/intl/sw/page-developers-local-environment.json
  src/intl/tl/page-developers-local-environment.json
  src/intl/tr/page-developers-local-environment.json
  src/intl/uk/page-developers-local-environment.json
  src/intl/uz/page-developers-local-environment.json
  src/intl/vi/page-developers-local-environment.json
  src/intl/yo/page-developers-local-environment.json
  src/intl/zh-tw/page-developers-local-environment.json
  src/intl/zh/page-developers-local-environment.json
  src/lib/api/ghRepoData.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#15184 Mdx table components not rendering issue
  public/content/developers/docs/evm/opcodes/index.md
  src/components/MdComponents/index.tsx
  src/components/ui/mdx-table-components.tsx
  src/components/ui/table.tsx
  src/layouts/Docs.tsx
  src/layouts/Tutorial.tsx
Labels: content 🖋️

#15186 /pt-br/what-is-ethereum broken link breaking page
  src/intl/pt-br/page-what-is-ethereum.json
Labels: translation 🌍

#15183 Patch - remove cache function
  app/[locale]/[...slug]/page.tsx
  app/[locale]/developers/docs/[[...doc]]/page.tsx
  app/[locale]/developers/tutorials/[...tutorial]/page.tsx
  next.config.js
  src/i18n/loadMessages.ts
  src/i18n/request.ts
  src/layouts/index.ts
Labels: config ⚙️

#15191 Listen to feature slug normalizing
  src/data/listen-to-feature/playlist.ts
Labels: content 🖋️, translation 🌍, config ⚙️

#14851 Setup /layer-2 page for translation
  src/components/Banners/BugBountyBanner/index.tsx
  src/data/networks/networks.ts
  src/data/wallets/wallet-data.ts
  src/intl/cs/page-layer-2.json
  src/intl/de/page-layer-2.json
  src/intl/el/page-layer-2.json
  src/intl/en/page-layer-2.json
  src/intl/fr/page-layer-2.json
  src/intl/ha/page-layer-2.json
  src/intl/hu/page-layer-2.json
  src/intl/it/page-layer-2.json
  src/intl/ja/page-layer-2.json
  src/intl/ru/page-layer-2.json
  src/intl/tl/page-layer-2.json
  src/intl/uz/page-layer-2.json
  src/intl/yo/page-layer-2.json
  src/intl/zh-tw/page-layer-2.json
  src/intl/zh/page-layer-2.json
  src/pages/[locale]/layer-2/index.tsx
Labels: content 🖋️, translation 🌍, Status: Stale

#15196 Staging patches -> dev
  app/[locale]/[...slug]/page.tsx
  app/[locale]/developers/docs/[[...doc]]/page.tsx
  app/[locale]/developers/tutorials/[...tutorial]/page.tsx
  next.config.js
  public/content/developers/docs/evm/opcodes/index.md
  src/components/MdComponents/index.tsx
  src/components/ui/mdx-table-components.tsx
  src/components/ui/table.tsx
  src/data/listen-to-feature/playlist.ts
  src/i18n/loadMessages.ts
  src/i18n/request.ts
  src/intl/pt-br/page-what-is-ethereum.json
  src/layouts/Docs.tsx
  src/layouts/Tutorial.tsx
  src/layouts/index.ts
Labels: content 🖋️, translation 🌍, config ⚙️

#15197 build: skip "Cache hit gfissues" log output
  src/lib/utils/data/cacheAsyncFn.ts
Labels: tooling 🔧

#15202 Hotfix reading time for tutorials
  app/[locale]/[...slug]/page.tsx
  src/lib/md/data.ts
Labels: tooling 🔧

#15189 Event patches
  src/data/community-events.json
Labels: event 📅
