Repository ethereum/ethereum-org-website, pull requests merged in 2025-06, with the labels that each got.

#15476 RSS feed error handling
  app/[locale]/page.tsx
  src/lib/api/fetchPosts.ts
  src/lib/api/fetchRSS.ts
  src/lib/constants.ts
Labels: tooling 🔧

#15605 Back-merge `master` into `dev`
  app/[locale]/10years/_components/TenYearGlobe.tsx
  app/[locale]/10years/page.tsx
  app/[locale]/page.tsx
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦

#15612 remove old info from withdrawal page
  public/content/staking/withdrawals/index.md
Labels: content 🖋️

#15584 fix: Error (500) and Not Found (404) routing logic
  app/[locale]/[...slug]/page.tsx
  app/[locale]/error.tsx
  app/[locale]/page.tsx
  app/not-found.tsx
  src/components/NotFoundPage/index.tsx
  src/components/icons/refresh-cw.svg
  src/intl/en/common.json
  src/lib/types.ts
  src/lib/utils/md.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#15618 fix: react-hooks/exhaustive-deps
  src/hooks/useRefWidth.ts
Labels: tooling 🔧

#15614 fix: skip attestant xml attempt
  app/[locale]/page.tsx
  src/lib/constants.ts
Labels: tooling 🔧

#15627 fix: 10years metadata, feat: add custom og image
  .all-contributorsrc
  .env.example
  README.md
  app/[locale]/10years/page.tsx
  docs/api-keys.md
  public/content/community/online/index.md
  public/content/staking/saas/index.md
  public/content/staking/withdrawals/index.md
  public/images/10-year-anniversary/10-year-logo.png
  public/images/10-year-anniversary/10-year-og.png
  src/data/community-events.json
  src/data/community-meetups.json
  src/intl/en/page-10-year-anniversary.json
  src/lib/api/fetchGFIs.ts
  src/lib/api/fetchGitHistory.ts
  src/lib/api/fetchGrowThePie.ts
  src/lib/api/ghRepoData.ts
  src/lib/utils/metadata.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#15585 Events cleanup and update
  src/data/community-events.json
Labels: event 📅

#15619 /10years translation setup
  app/[locale]/10years/_components/AdoptionSwiper.tsx
  app/[locale]/10years/_components/CountDown.tsx
  app/[locale]/10years/_components/InnovationSwiper.tsx
  app/[locale]/10years/_components/Stories.tsx
  app/[locale]/10years/_components/TenYearGlobe.tsx
  app/[locale]/10years/_components/TenYearHero.tsx
  app/[locale]/10years/_components/TenYearHomeBanner.tsx
  app/[locale]/10years/_components/data.tsx
  app/[locale]/10years/page.tsx
  src/intl/en/page-10-year-anniversary.json
  src/lib/utils/translations.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#15609 config: update eslint 8.57.1, pnpm 10.11.1
  .eslintrc.json
  .mise.toml
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/components/FindWalletProductTable/hooks/useWalletFilters.tsx
  src/components/Quiz/QuizWidget/index.tsx
  src/components/ui/chart.tsx
  src/hooks/useClipboard.ts
  src/lib/utils/wallets.ts
  src/scripts/markdownChecker.ts
Labels: dependencies 📦, tooling 🔧, config ⚙️

#15640 refactor: /start page to server component, extract intl strings
  app/[locale]/start/_components/start.tsx
  app/[locale]/start/page.tsx
  src/components/StartWithEthereumFlow/ShareModal.tsx
  src/components/StartWithEthereumFlow/index.tsx
  src/intl/en/page-start.json
Labels: content 🖋️, translation 🌍

#13567 Create story tests for BannerGrid components [#13046]
  src/components/BannerGrid/BannerGrid.stories.tsx
Labels: tooling 🔧, Status: Stale

#14409 New article: ETH Supply[Issue #13644]
  public/content/eth/supply/index.md
Labels: content 🖋️, dependencies 📦, Status: Stale

#15630 feat: elevate speedrunethereum, add quickstarts
  app/[locale]/developers/page.tsx
  src/components/CopyToClipboard.tsx
  src/intl/en/page-developers-index.json
Labels: content 🖋️, translation 🌍

#15653 fix 10year banner translations
  app/[locale]/10years/_components/CountDown.tsx
  app/[locale]/10years/_components/TenYearHomeBanner.tsx
  app/[locale]/10years/_components/utils.ts
  app/[locale]/10years/page.tsx
  app/[locale]/page.tsx
  src/intl/en/page-10-year-anniversary.json
  src/lib/types.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#15657 v10.6.1
  package.json
  src/data/published.json
Labels: dependencies 📦

#15666 Back merge `staging` into `dev`
  app/[locale]/10years/_components/TenYearHomeBanner.tsx
  src/data/community-events.json
Labels: event 📅

#15683 Update copy for event CTA
  app/[locale]/10years/page.tsx
  src/intl/en/page-10-year-anniversary.json
Labels: content 🖋️, translation 🌍

#15687 fix: sorting using pre-translated dates
  src/lib/utils/rss.ts
Labels: tooling 🔧

#15706 update grants page: removal of dead projects
  public/content/community/grants/index.md
Labels: content 🖋️

#15320 Tutorial: Using Ethereum for web2 authentication
  public/content/developers/tutorials/ethereum-for-web2-auth/fig-01-saml.png
  public/content/developers/tutorials/ethereum-for-web2-auth/fig-02-eth-logon.png
  public/content/developers/tutorials/ethereum-for-web2-auth/fig-03-eas-data.png
  public/content/developers/tutorials/ethereum-for-web2-auth/fig-04-saml-no-eth.png
  public/content/developers/tutorials/ethereum-for-web2-auth/fig-05-saml-w-signature.png
  public/content/developers/tutorials/ethereum-for-web2-auth/fig-06-saml-sig-n-email.png
  public/content/developers/tutorials/ethereum-for-web2-auth/index.md
  src/data/placeholders/content-developers-tutorials-ethereum-for-web2-auth-data.json
Labels: content 🖋️, Status: Stale

#15703 Typo fix: "returns `true` of the client is mining" → "returns `true` if the client is mining"
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content 🖋️

#15711 Add Claude GitHub action
  .github/workflows/claude.yml
Labels: tooling 🔧

#15707 feat: add enterprise cta to home activity
  app/[locale]/page.tsx
  src/intl/en/page-index.json
Labels: content 🖋️, translation 🌍

#15701 chore: content updates and typo fixes
  app/[locale]/roadmap/_components/ReleaseCarousel.tsx
  public/content/enterprise/use-cases/index.md
  public/content/translations/ja/developers/docs/design-and-ux/heuristics-for-web3/index.md
Labels: content 🖋️, translation 🌍

#15642 refactor: nav to server component; add loading states
  src/components/LanguagePicker/index.tsx
  src/components/Nav/Client/index.tsx
  src/components/Nav/Desktop/index.tsx
  src/components/Nav/Menu/index.tsx
  src/components/Nav/Mobile/index.tsx
  src/components/Nav/index.tsx
  src/components/Nav/useNavigation.ts
  src/components/Nav/useThemeToggle.ts
  src/components/Search/index.tsx
  src/components/SkipLink.tsx
  src/components/ui/skeleton.tsx
  src/intl/en/common.json
  src/layouts/BaseLayout.tsx
  tailwind.config.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#15635 updates a broken link in the docs/ds-implementation.md
  docs/ds-implementation.md
Labels: documentation 📖

#15692 config: add dotenv dep for workflows
  .github/workflows/chromatic.yml
  .github/workflows/crowdin-ci.yml
  .github/workflows/generate-review-report.yml
  .github/workflows/get-crowdin-contributors.yml
  .github/workflows/get-leaderboard-reports.yml
  .github/workflows/get-translation-progress.yml
  .github/workflows/import-community-events.yml
  .github/workflows/update-chains.yml
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, tooling 🔧, config ⚙️
