Repository ethereum/ethereum-org-website, pull requests merged in 2025-01, with the labels that each got.

#14563 Update index.md - added missing word for clarity
  public/content/staking/solo/index.md
Labels: content 🖋️

#14562 issue #14561 issue fixed, spelling corrected
  src/intl/en/page-learn.json
Labels: content 🖋️, translation 🌍

#14553 Migrate filecontributors to shadcn
  package.json
  src/components/FileContributors.tsx
  src/components/ui/dialog-modal.tsx
  src/components/ui/scroll-area.tsx
  yarn.lock
Labels: dependencies 📦

#14609 add ECH newsletter
  src/lib/constants.ts
Labels: tooling 🔧

#14565 Remove explicit locales in internal url navigation
  public/content/translations/bn/dapps/index.md
  public/content/translations/bn/eth/index.md
  public/content/translations/bn/wallets/index.md
  public/content/translations/de/developers/docs/transactions/index.md
  public/content/translations/el/learn/index.md
  public/content/translations/fa/learn/index.md
  public/content/translations/fi/dapps/index.md
  public/content/translations/fi/learn/index.md
  public/content/translations/ig/learn/index.md
  public/content/translations/ig/what-is-ethereum/index.md
  public/content/translations/it/developers/docs/programming-languages/javascript/index.md
  public/content/translations/it/eth/index.md
  public/content/translations/nl/learn/index.md
  public/content/translations/pl/learn/index.md
  public/content/translations/pt-br/developers/docs/transactions/index.md
  public/content/translations/ru/learn/index.md
  public/content/translations/se/dapps/index.md
  public/content/translations/se/learn/index.md
  public/content/translations/sk/dapps/index.md
  public/content/translations/sk/eth/index.md
  public/content/translations/sk/learn/index.md
  public/content/translations/sk/wallets/index.md
  public/content/translations/sk/what-is-ethereum/index.md
Labels: content 🖋️, translation 🌍

#14528 error in solidity code
  public/content/developers/docs/smart-contracts/security/index.md
Labels: content 🖋️

#14619 fix: typos in documentation files
  public/content/developers/docs/networking-layer/portal-network/index.md
Labels: content 🖋️

#14611 Fix typos on homepage
  src/intl/en/page-index.json
Labels: content 🖋️, translation 🌍

#14548 fix: fix typos
  public/content/developers/docs/data-availability/blockchain-data-storage-strategies/index.md
  public/content/developers/docs/design-and-ux/heuristics-for-web3/index.md
  src/components/Heading/index.tsx
  src/components/icons/icon-base.tsx
  src/styles/global.css
Labels: content 🖋️

#14605 Fixed broken link on Contributing Page
  public/content/contributing/index.md
Labels: content 🖋️

#14616 txCosts using layer2Data
  src/lib/api/fetchGrowThePie.ts
Labels: tooling 🔧

#14621 lowercased growthepie (instead of Growthepie or GrowThePie)
  src/components/Layer2NetworksTable/NetworksSubComponent.tsx
  src/components/Layer2NetworksTable/hooks/useNetworkColumns.tsx
  src/components/StatsBoxGrid/useStatsBoxGrid.tsx
  src/data/networks/networks.ts
  src/lib/api/fetchGrowThePieMaster.ts
  src/pages/layer-2/networks.tsx
Labels: tooling 🔧

#14627 0xPARC rss removal
  public/images/0xparc-logo.svg
  src/data/mocks/rssData.json
  src/lib/constants.ts
  src/lib/utils/rss.ts
Labels: tooling 🔧

#14672 update russian homepage
  src/intl/ru/page-index.json
Labels: translation 🌍

#14648 docs: fix typo in uniswap
  public/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content 🖋️

#14650 Correct a missing ')' in docs
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
Labels: content 🖋️

#14651 fix typo on eth page
  src/intl/en/page-eth.json
Labels: content 🖋️, translation 🌍

#14637 docs: Fixed Duplicate
  public/content/contributing/translation-program/content-buckets/index.md
Labels: content 🖋️

#14634 Broken link index.md
  public/content/translations/zh/defi/index.md
Labels: content 🖋️, translation 🌍

#14652 Fix typos on homepage
  src/intl/en/page-index.json
Labels: content 🖋️, translation 🌍

#13758 Update index.md of Merkle-Patricia Trie doc
  public/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content 🖋️, Status: Stale, awaiting changes

#14639 Migrate stablecoins page to Tailwind/Shadcn
  src/components/ui/flex.tsx
  src/pages/stablecoins.tsx
  yarn.lock
Labels: dependencies 📦

#14631 fix rss parsing logic
  src/lib/api/fetchRSS.ts
Labels: tooling 🔧

#14774 Event cleanup
  src/data/community-events.json
Labels: event 📅

#14749 [ShadCN]: Migrate Avatar to ShadCN
  package.json
  src/components/ui/__stories__/Avatar.stories.tsx
  src/components/ui/avatar.tsx
  yarn.lock
Labels: dependencies 📦

#14021 Shadcn migration - toc
  src/components/TableOfContents/ItemsList.tsx
  src/components/TableOfContents/ItemsListMobile.tsx
  src/components/TableOfContents/TableOfContentsLink.tsx
  src/components/TableOfContents/TableOfContentsMobile.tsx
  src/components/TableOfContents/index.tsx
  src/layouts/Docs.tsx
  src/layouts/Static.tsx
  src/layouts/Tutorial.tsx
  src/lib/utils/toc.ts
Labels: tooling 🔧
