Repository ethereum/ethereum-org-website, pull requests merged in 2025-07, with the labels that each got.

#15741 feat: Icon updates, Lucide icon alignment
  app/[locale]/developers/tutorials/_components/tutorials.tsx
  app/[locale]/stablecoins/page.tsx
  app/[locale]/staking/deposit-contract/_components/deposit-contract.tsx
  public/content/translations/fa/zero-knowledge-proofs/index.md
  src/components/BigNumber/index.tsx
  src/components/CardList.tsx
  src/components/CodeModal.tsx
  src/components/Codeblock.tsx
  src/components/CopyToClipboard.tsx
  src/components/EthPriceCard.tsx
  src/components/Homepage/CodeExamples.tsx
  src/components/Layer2NetworksTable/NetworksSubComponent.tsx
  src/components/Leaderboard.tsx
  src/components/ListenToPlayer/PlayerWidget/index.tsx
  src/components/ListenToPlayer/TopOfPagePlayer/index.tsx
  src/components/Nav/Client/index.tsx
  src/components/Nav/Mobile/ExpandIcon.tsx
  src/components/Nav/Mobile/MenuFooter.tsx
  src/components/ProductTable/MobileFilters.tsx
  src/components/RadialChart/index.tsx
  src/components/Simulator/WalletHome/AddressPill.tsx
  src/components/StablecoinsTable.tsx
  src/components/icons/listen-to/arrow.svg
  src/components/icons/listen-to/autoplay.svg
  src/components/icons/listen-to/collapse.svg
  src/components/icons/listen-to/expand.svg
  src/components/icons/listen-to/index.ts
  src/components/icons/listen-to/pause-circle.svg
  src/components/icons/listen-to/play-circle.svg
  src/components/icons/translate.svg
  src/components/ui/Link.tsx
  src/components/ui/buttons/Button.tsx
Labels: content 🖋️, translation 🌍, documentation 📖, design system, needs design approval 🧑‍🎨, config ⚙️

#14969 Add lychee ci
  .github/workflows/lychee-cron.yml
Labels: tooling 🔧, Status: Stale

#15509 fix: validium DA post-4844
  public/content/developers/docs/scaling/validium/index.md
Labels: content 🖋️, Status: Stale

#15550 e2e tests playwright & chromatic
  .github/workflows/playwright.yml
  .gitignore
  chromatic.config.json
  docs/e2e-testing.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/Nav/Client/index.tsx
  src/components/Nav/Mobile/HamburgerButton.tsx
  src/components/Nav/index.tsx
  src/components/ProductTable/Filters.tsx
  src/components/ProductTable/MobileFilters.tsx
  src/components/ProductTable/PresetFilters.tsx
  src/components/Search/SearchInputButton.tsx
  src/components/Search/SearchModal.tsx
  tests/e2e/.gitignore
  tests/e2e/find-wallet.spec.ts
  tests/e2e/fixtures/index.ts
  tests/e2e/fixtures/testData.ts
  tests/e2e/global.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/pages/BasePage.ts
  tests/e2e/pages/FindWalletPage.ts
  tests/e2e/pages/HomePage.ts
  tests/e2e/pages/MdPage.ts
  tests/e2e/pages/index.ts
  tests/e2e/whitepaper.spec.ts
Labels: dependencies 📦, documentation 📖, tooling 🔧, config ⚙️

#15820 Raw files load optimization
  .eslintrc.json
  app/[locale]/page.tsx
  public/code-examples/CreateWallet.js
  public/code-examples/SimpleDomainRegistry.sol
  public/code-examples/SimpleToken.sol
  public/code-examples/SimpleWallet.sol
  src/components/CodeModal.tsx
  src/components/Homepage/CodeExamples.tsx
  src/lib/interfaces.ts
Labels: tooling 🔧, config ⚙️

#15823 fix: update UN World Food Programme statistics on Enterprise page
  src/intl/en/page-enterprise.json
Labels: content 🖋️, translation 🌍, Update Crowdin

#15813 add addresses and Calibur (Uniswap)
  public/content/roadmap/pectra/7702/index.md
Labels: content 🖋️

#15812 change link to chainlink docs
  public/content/developers/docs/oracles/index.md
Labels: content 🖋️

#15838 v10.8.0
  package.json
  src/data/published.json
Labels: dependencies 📦

#13330 Add SQD to tooling
  app/[locale]/enterprise/_components/FeatureCard.tsx
  public/content/developers/docs/data-and-analytics/index.md
Labels: content 🖋️, Status: Stale, needs product review 🕵️, product 🧰

#13532 Update: ERC-20 Token Standard description [Fixes #13218]
  public/content/developers/docs/standards/tokens/erc-20/index.md
Labels: content 🖋️

#13563 Add video series
  app/[locale]/learn/page.tsx
  public/content/developers/docs/intro-to-ethereum/index.md
  src/intl/en/page-learn.json
Labels: content 🖋️, translation 🌍

#15608 Add RANDAO explanation to Node Architecture page
  public/content/developers/docs/nodes-and-clients/node-architecture/index.md
Labels: content 🖋️, Status: Stale

#15551 feat: update ambiguous wording about RPC block parameter
  public/content/developers/docs/apis/json-rpc/index.md
Labels: content 🖋️

#15549 docs: add Web3.js sunset warning to JavaScript API documentation
  public/content/developers/docs/apis/javascript/index.md
Labels: content 🖋️, translation 🌍, Update Crowdin

#15548 fix: correct terminology in accounts page for consistency between tra…
  public/content/developers/docs/accounts/index.md
Labels: content 🖋️, Status: Stale

#15511 feat: Enhance Language Picker UX for improved discoverability and clarity
  src/components/LanguagePicker/MenuItem.tsx
  src/components/LanguagePicker/index.tsx
  src/components/LanguagePicker/useLanguagePicker.tsx
  src/intl/en/common.json
Labels: content 🖋️, translation 🌍, needs design approval 🧑‍🎨, Update Crowdin

#15496 Fix incorrect line-height in card text
  src/components/Staking/StakingProductsCardGrid/StakingProductCard.tsx
Labels: Status: Stale

#15858 fix: correct grammatical error in DeFi page
  public/content/defi/index.md
Labels: content 🖋️

#15867 patch: node_hash reversion
  public/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
Labels: content 🖋️

#15875 Deploy Torch 10y
  .env.example
  app/[locale]/10years/_components/10y.svg
  app/[locale]/10years/_components/CurrentTorchHolderCard.tsx
  app/[locale]/10years/_components/TorchHistoryCard.tsx
  app/[locale]/10years/_components/TorchHistorySwiper/index.tsx
  app/[locale]/10years/_components/TorchHistorySwiper/lazy.tsx
  app/[locale]/10years/_components/TorchHistorySwiper/loading.tsx
  app/[locale]/10years/page.tsx
  app/api/torch-webhook/route.ts
  package.json
  pnpm-lock.yaml
  public/images/10-year-anniversary/torch-cover.png
  public/images/10-year-anniversary/torch-cover.webp
  public/images/10-year-anniversary/torch-overlay.png
  public/videos/torch.mp4
  src/data/Torch.json
  src/data/mocks/fetchedTorchHolders.json
  src/intl/en/page-10-year-anniversary.json
  src/lib/api/fetchTorchHolders.ts
  src/lib/torch/config.ts
  src/lib/torch/index.ts
Labels: content 🖋️, translation 🌍, dependencies 📦, tooling 🔧

#15885 Hotfix torch
  app/[locale]/10years/_components/CurrentTorchHolderCard.tsx
  app/[locale]/10years/_components/TorchHistoryCard.tsx
  app/[locale]/10years/_components/TorchHistorySwiper/index.tsx
  app/[locale]/10years/page.tsx
  next.config.js
  src/components/ui/avatar.tsx
  src/lib/torch/etherscan.ts
  src/lib/torch/index.ts
Labels: tooling 🔧, config ⚙️

#15888 Hotfix twitter avatar
  src/components/ui/avatar.tsx
  src/lib/torch/index.ts
Labels: tooling 🔧

#14210 run-a-node index.md - Update guide with prettier links and add EthPillar
  public/content/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content 🖋️, Status: Stale

#15901 master -> staging
  app/[locale]/10years/_components/CurrentTorchHolderCard.tsx
  app/[locale]/10years/_components/TorchHistoryCard.tsx
  app/[locale]/10years/_components/TorchHistorySwiper/index.tsx
  app/[locale]/10years/page.tsx
  next.config.js
  src/components/ui/avatar.tsx
  src/lib/torch/etherscan.ts
  src/lib/torch/index.ts
Labels: tooling 🔧, config ⚙️

#15902 staging -> dev
  app/[locale]/10years/_components/CurrentTorchHolderCard.tsx
  app/[locale]/10years/_components/TorchHistoryCard.tsx
  app/[locale]/10years/_components/TorchHistorySwiper/index.tsx
  app/[locale]/10years/page.tsx
  next.config.js
  src/components/ui/avatar.tsx
  src/data/Torch.json
  src/lib/api/fetchTorchHolders.ts
  src/lib/torch/etherscan.ts
  src/lib/torch/index.ts
Labels: tooling 🔧, config ⚙️

#13300 Create story for Trilemma component [#13250]
  .storybook/next-intl.ts
  src/components/Trilemma/Trilemma.stories.tsx
Labels: tooling 🔧, Status: Stale

#15027 feat(Morpho): adding morpho app
  app/[locale]/dapps/_components/dapps.tsx
  public/images/dapps/morpho.png
  src/intl/en/page-dapps.json
Labels: content 🖋️, translation 🌍, Status: Stale

#14341 Add Allnodes
  public/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md
Labels: content 🖋️, Status: Stale

#13982 Create Story for DeveloperDocsLinks COmponent
  .storybook/main.ts
  src/components/DeveloperDocsLinks/DeveloperDocsLinks.stories.tsx
  src/components/DeveloperDocsLinks/index.tsx
Labels: tooling 🔧, Status: Stale

#15853 added TUM Blockchain Conference to community-events.json
  src/data/community-events.json
Labels: event 📅

#15912 Text consistency fix
  src/intl/en/page-stablecoins.json
Labels: content 🖋️, translation 🌍

#14162 Add smart contract quiz fixes #13776
  public/content/smart-contracts/index.md
  src/components/FeedbackWidget/FixedDot.tsx
  src/components/Quiz/stories/QuizzesStats.stories.tsx
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/intl/en/learn-quizzes.json
  src/lib/utils/translations.ts
Labels: content 🖋️, needs dev approval 🧑‍💻

#15955 10y
  app/[locale]/10years/_components/CountDown/index.tsx
  app/[locale]/10years/_components/NFTMintCard/Connected.tsx
  app/[locale]/10years/_components/NFTMintCard/Connection.tsx
  app/[locale]/10years/_components/NFTMintCard/GasFeeInformation.tsx
  app/[locale]/10years/_components/NFTMintCard/GasPriceDisplay.tsx
  app/[locale]/10years/_components/NFTMintCard/Mint.tsx
  app/[locale]/10years/_components/NFTMintCard/Prechecks.tsx
  app/[locale]/10years/_components/NFTMintCard/index.tsx
  app/[locale]/10years/_components/NFTMintCard/views/MintAlreadyMinted.tsx
  app/[locale]/10years/_components/NFTMintCard/views/MintConnect.tsx
  app/[locale]/10years/_components/NFTMintCard/views/MintError.tsx
  app/[locale]/10years/_components/NFTMintCard/views/MintSuccess.tsx
  app/[locale]/10years/_components/NFTMintCardWrapper.tsx
  app/[locale]/10years/_components/TenYearHomeBanner.tsx
  app/[locale]/10years/_components/utils/nftMintDate.ts
  app/[locale]/10years/page.tsx
  package.json
  pnpm-lock.yaml
  public/content/10years/terms-and-conditions/index.md
  public/images/10-year-anniversary/10y-cover.png
  public/images/10-year-anniversary/10y-curved-heading.svg
  public/videos/10y-video.mp4
  src/components/YouTube.tsx
  src/config/rainbow-kit.ts
  src/data/contracts/TenYearsNFT.json
  src/data/contracts/TenYearsNFT.ts
  src/hooks/useGasPrice.ts
  src/hooks/useNetworkContract.ts
  src/intl/en/common.json
  src/lib/torch/config.ts
  src/lib/torch/index.ts
Labels: content 🖋️, translation 🌍, dependencies 📦, tooling 🔧

#15957 Hotfix static torchbearers data
  .env.example
  app/[locale]/10years/_components/TorchHistoryCard.tsx
  app/[locale]/10years/page.tsx
  next.config.js
  public/images/10-year-anniversary/torchbearers/0x0c004944e16e9065Da1c7dB49F9964E2a3ac8892.jpg
  public/images/10-year-anniversary/torchbearers/0x11adBC1B3fd5cb5F29B0052b4AfFe725645b5e4C.jpg
  public/images/10-year-anniversary/torchbearers/0x36ACC9E5248f33B030d3eA3465AC1f99E55868Ec.jpg
  public/images/10-year-anniversary/torchbearers/0x54bae63e59B422Dd7C047E375f051D60C37cb60F.jpg
  public/images/10-year-anniversary/torchbearers/0x648aA14e4424e0825A5cE739C8C68610e143FB79.jpg
  public/images/10-year-anniversary/torchbearers/0x7a16fF8270133F063aAb6C9977183D9e72835428.jpg
  public/images/10-year-anniversary/torchbearers/0x88C2C3C9E64a1299e6417C24Fa2ae773c6cEa47c.jpg
  public/images/10-year-anniversary/torchbearers/0xA307A15d113D9763C6fc84768AC34909438bB2EE.jpg
  public/images/10-year-anniversary/torchbearers/0xcc2047a4108033Cb48727B8C69914F40cC0bBC1B.jpg
  src/components/ui/avatar.tsx
  src/data/torchHolders.json
  src/lib/api/fetchTorchHolders.ts
  src/lib/torch/index.ts
Labels: tooling 🔧, config ⚙️

#15861 fix: outdated max-eb copy in solo staking faq
  public/content/staking/solo/index.md
Labels: content 🖋️

#15905 feat: respect doNotTrack preference for Matomo
  src/lib/utils/matomo.ts
Labels: tooling 🔧
