Repository ethereum/ethereum-org-website, pull requests merged in 2025-10, with the labels that each got.

#14629 Add dAppBooster info
  src/data/externalTutorials.json
  src/intl/en/page-developers-local-environment.json
  src/intl/es/page-developers-local-environment.json
Labels: content 🖋️, translation 🌍, tooling 🔧

#16412 docs: fix Uniswap whitepaper links
  public/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content 🖋️

#16422 docs: removed dead Ethereum2077 blog link
  public/content/eips/index.md
Labels: content 🖋️

#16427 Update package manager instructions in README.md
  README.md
Labels: documentation 📖

#16440 docs: fixed outdated links
  public/content/refi/index.md
Labels: content 🖋️

#16441 Remove content buckets page
  public/_redirects
  public/content/contributing/translation-program/content-buckets/index.md
  public/content/contributing/translation-program/faq/index.md
  public/content/contributing/translation-program/how-to-translate/index.md
  public/content/contributing/translation-program/index.md
  public/content/contributing/translation-program/resources/index.md
Labels: content 🖋️, translation 🌍, Update Crowdin

#16447 docs: updated some outdated links
  public/content/roadmap/account-abstraction/index.md
Labels: content 🖋️

#14923 fix(a11y): add title tags to SVG components in run-a-node page
  app/[locale]/run-a-node/_components/run-a-node.tsx
Labels: bug 🐛

#16436 [hot-fix] add timeout and retry logic to data fetch
  app/[locale]/enterprise/page.tsx
  app/[locale]/page.tsx
  app/[locale]/staking/page.tsx
  netlify.toml
  src/components/Staking/StakingStatsBox.tsx
  src/data/mocks/beaconchainApr.json
  src/data/mocks/beaconchainEpoch.json
  src/data/mocks/ethPrice.json
  src/data/mocks/totalEthStaked.json
  src/lib/api/fetchBeaconchainEpoch.ts
  src/lib/api/fetchBeaconchainEthstore.ts
  src/lib/api/fetchEthStakedBeaconchain.ts
  src/lib/constants.ts
  src/lib/types.ts
  src/lib/utils/data/utils.ts
Labels: tooling 🔧, config ⚙️

#16449 fix: order of workflow actions—install deps before netlify step
  .github/workflows/playwright.yml
Labels: tooling 🔧

#16456 docs: fixing some broken links
  public/content/roadmap/scaling/index.md
Labels: content 🖋️
