Repository ethereum/ethereum-org-website, pull requests merged in 2025-04, with the labels that each got.

#15164 refactor(resources): refine page design to Figma spec
  src/components/Resources/index.tsx
  src/intl/en/page-resources.json
  src/pages/[locale]/index.tsx
  src/pages/[locale]/resources.tsx
Labels: content 🖋️, translation 🌍

#15265 Dev staging
  app/[locale]/_components/home.tsx
  app/[locale]/resources/_components/resources.tsx
  src/components/Resources/index.tsx
  src/intl/en/page-resources.json
Labels: content 🖋️, translation 🌍

#15264 Staging
  app/[locale]/_components/home.tsx
  app/[locale]/resources/_components/resources.tsx
  src/components/Resources/index.tsx
  src/intl/en/page-resources.json
Labels: content 🖋️, translation 🌍

#15259 Fix misspellings of Ethereum in translations
  public/content/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  public/content/translations/es/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  public/content/translations/it/developers/docs/smart-contracts/security/index.md
  public/content/translations/it/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  public/content/translations/ja/developers/tutorials/hello-world-smart-contract-fullstack/index.md
  public/content/translations/pcm/governance/index.md
  public/content/translations/pcm/staking/pools/index.md
  public/content/translations/pt-br/community/research/index.md
  public/content/translations/pt-br/whitepaper/index.md
  public/content/translations/ro/developers/docs/security/index.md
  public/content/translations/sk/staking/solo/index.md
  public/content/translations/sw/community/support/index.md
  public/content/translations/sw/roadmap/merge/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/index.md
  src/intl/am/page-index.json
  src/intl/es/common.json
  src/intl/fi/common.json
  src/intl/hi/page-index.json
  src/intl/hi/page-upgrades-index.json
  src/intl/pt/page-staking-deposit-contract.json
  src/intl/sl/page-index.json
  src/intl/sw/page-dapps.json
  src/intl/sw/page-developers-learning-tools.json
  src/intl/sw/page-eth.json
  src/intl/sw/page-roadmap-vision.json
  src/intl/sw/page-run-a-node.json
  src/intl/te/common.json
  src/intl/tr/page-run-a-node.json
  src/intl/uz/page-developers-index.json
Labels: content 🖋️, translation 🌍, Update Crowdin

#15284 dapps cleanup
  app/[locale]/dapps/_components/dapps.tsx
  app/[locale]/get-eth/_components/get-eth.tsx
  public/images/dapps/across.png
  public/images/dapps/hop.png
  public/images/dapps/stargate.png
  src/components/StablecoinAccordion/useStablecoinAccordion.ts
  src/data/networks/cex-layer-2-onboard.ts
  src/intl/en/page-dapps.json
  src/intl/en/page-stablecoins.json
Labels: content 🖋️, translation 🌍

#14549 Update testnet documentation
  public/content/developers/docs/apis/json-rpc/index.md
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/developers/docs/development-networks/index.md
  public/content/developers/docs/networks/index.md
  public/content/roadmap/dencun/index.md
Labels: content 🖋️

#15283 Content updates
  public/content/roadmap/account-abstraction/index.md
  public/content/roadmap/future-proofing/index.md
  public/content/roadmap/scaling/index.md
  public/content/social-networks/index.md
Labels: content 🖋️

#15287 creating organizer event playbook
  public/content/community/events/index.md
  public/content/community/events/organizing/index.md
  src/components/Banners/EventsOrganizerBanner.tsx
  src/layouts/Static.tsx
Labels: content 🖋️

#15263 feat: add warpcast link to footer
  package.json
  src/components/Footer.tsx
  src/components/ui/breadcrumb.tsx
  yarn.lock
Labels: dependencies 📦

#15280 Update Openzeppelin docs link (version)
  public/content/developers/docs/standards/tokens/erc-1155/index.md
Labels: content 🖋️

#15279 fix rlp example for fr and pt-br
  public/content/translations/fr/developers/docs/data-structures-and-encoding/rlp/index.md
  public/content/translations/pt-br/developers/docs/data-structures-and-encoding/rlp/index.md
Labels: content 🖋️, translation 🌍

#15268 docs: add RLP link to SSZ documentation
  public/content/developers/docs/data-structures-and-encoding/ssz/index.md
Labels: content 🖋️

#15295 Hotfix get eth page
  app/[locale]/get-eth/page.tsx
Labels: config ⚙️

#15299 revert: staking summit listing
  src/data/community-events.json
Labels: event 📅

#15296 Update error page content and structure
  app/[locale]/error.tsx
  src/intl/en/common.json
Labels: content 🖋️, translation 🌍

#15305 Pectra Upgrade Modifications
  public/content/roadmap/pectra/index.md
Labels: content 🖋️

#15311 add subpage to pectra for maxeb
  public/content/roadmap/pectra/index.md
  public/content/roadmap/pectra/maxeb/0x00-wd.png
  public/content/roadmap/pectra/maxeb/0x01-wd.png
  public/content/roadmap/pectra/maxeb/consolidation.png
  public/content/roadmap/pectra/maxeb/conversion.png
  public/content/roadmap/pectra/maxeb/index.md
  src/data/placeholders/content-roadmap-pectra-maxeb-data.json
Labels: content 🖋️

#15329 Pectra content release candidate
  public/content/roadmap/pectra/index.md
  public/content/roadmap/pectra/maxeb/0x00-wd.png
  public/content/roadmap/pectra/maxeb/0x01-wd.png
  public/content/roadmap/pectra/maxeb/consolidation.png
  public/content/roadmap/pectra/maxeb/conversion.png
  public/content/roadmap/pectra/maxeb/index.md
  src/data/consensus-bounty-hunters.json
  src/data/execution-bounty-hunters.json
  src/data/placeholders/content-roadmap-pectra-maxeb-data.json
Labels: content 🖋️

#15330 Release Pectra updates
  public/content/roadmap/pectra/index.md
  public/content/roadmap/pectra/maxeb/0x00-wd.png
  public/content/roadmap/pectra/maxeb/0x01-wd.png
  public/content/roadmap/pectra/maxeb/consolidation.png
  public/content/roadmap/pectra/maxeb/conversion.png
  public/content/roadmap/pectra/maxeb/index.md
  src/data/community-events.json
  src/data/consensus-bounty-hunters.json
  src/data/execution-bounty-hunters.json
  src/data/placeholders/content-roadmap-pectra-maxeb-data.json
Labels: content 🖋️, event 📅

#15331 add 7702 subpage
  public/content/roadmap/pectra/7702/index.md
  public/content/roadmap/pectra/index.md
Labels: content 🖋️

#15310 Roadmap page
  app/[locale]/roadmap/_components/ReleaseCarousel.tsx
  app/[locale]/roadmap/_components/roadmap.tsx
  app/[locale]/roadmap/page.tsx
  package.json
  public/content/roadmap/index.md
  public/images/roadmap/roadmap-pectra.png
  src/components/ExpandableCard.tsx
  src/components/icons/roadmap/AccountAbstractionIcon.tsx
  src/components/icons/roadmap/BetterUserExperienceIcon.tsx
  src/components/icons/roadmap/CheaperTransactionsIcon.tsx
  src/components/icons/roadmap/DankshardingIcon.tsx
  src/components/icons/roadmap/ExtraSecurityIcon.tsx
  src/components/icons/roadmap/FutureProofingIcon.tsx
  src/components/icons/roadmap/ProposerBuilderSeparationIcon.tsx
  src/components/icons/roadmap/SecretLeaderElectionIcon.tsx
  src/components/icons/roadmap/SingleSlotFinalityIcon.tsx
  src/components/icons/roadmap/StakingWithdrawalsIcon.tsx
  src/components/icons/roadmap/StatelessnessIcon.tsx
  src/components/icons/roadmap/VerkleTreesIcon.tsx
  src/components/icons/roadmap/index.ts
  src/components/ui/carousel.tsx
  src/data/roadmap/releases.tsx
  src/intl/en/page-roadmap.json
  src/lib/utils/date.ts
  src/lib/utils/translations.ts
  src/styles/semantic-tokens.css
  tailwind.config.ts
  yarn.lock
Labels: content 🖋️, translation 🌍, dependencies 📦, tooling 🔧

#15355 v10.2.0
  package.json
  src/data/published.json
Labels: dependencies 📦

#15356 Release candidate v10.2.0
  .all-contributorsrc
  .gitignore
  README.md
  app/[locale]/gas/_components/gas.tsx
  app/[locale]/roadmap/_components/ReleaseCarousel.tsx
  app/[locale]/roadmap/_components/roadmap.tsx
  app/[locale]/roadmap/page.tsx
  package.json
  public/content/roadmap/index.md
  public/images/roadmap/roadmap-pectra.png
  src/components/DocLink/index.tsx
  src/components/ExpandableCard.tsx
  src/components/Quiz/stories/QuizzesStats.stories.tsx
  src/components/icons/roadmap/AccountAbstractionIcon.tsx
  src/components/icons/roadmap/BetterUserExperienceIcon.tsx
  src/components/icons/roadmap/CheaperTransactionsIcon.tsx
  src/components/icons/roadmap/DankshardingIcon.tsx
  src/components/icons/roadmap/ExtraSecurityIcon.tsx
  src/components/icons/roadmap/FutureProofingIcon.tsx
  src/components/icons/roadmap/ProposerBuilderSeparationIcon.tsx
  src/components/icons/roadmap/SecretLeaderElectionIcon.tsx
  src/components/icons/roadmap/SingleSlotFinalityIcon.tsx
  src/components/icons/roadmap/StakingWithdrawalsIcon.tsx
  src/components/icons/roadmap/StatelessnessIcon.tsx
  src/components/icons/roadmap/VerkleTreesIcon.tsx
  src/components/icons/roadmap/index.ts
  src/components/ui/carousel.tsx
  src/data/chains.ts
  src/data/published.json
  src/data/quizzes/index.ts
  src/data/quizzes/questionBank.ts
  src/data/roadmap/releases.tsx
  src/data/translationProgress.json
  src/intl/en/learn-quizzes.json
  src/intl/en/page-learn.json
  src/intl/en/page-roadmap.json
  src/lib/utils/date.ts
  src/lib/utils/translations.ts
  src/styles/semantic-tokens.css
  tailwind.config.ts
  yarn.lock
Labels: content 🖋️, translation 🌍, dependencies 📦, documentation 📖, tooling 🔧
