Repository ethereum/ethereum-org-website, pull requests merged in 2025-09, with the labels that each got.

#16050 No locale prefix for default locale
  next-sitemap.config.js
  src/components/Matomo.tsx
  src/i18n/routing.ts
  src/lib/utils/matomo.ts
  src/lib/utils/url.ts
Labels: tooling 🔧, config ⚙️

#16111 Optimize mobile nav
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  package.json
  pnpm-lock.yaml
  src/components/ClientOnly.tsx
  src/components/LanguagePicker/Desktop.tsx
  src/components/LanguagePicker/LanguagePickerFooter.tsx
  src/components/LanguagePicker/LanguagePickerMenu.tsx
  src/components/LanguagePicker/MenuItem.tsx
  src/components/LanguagePicker/MobileCloseBar.tsx
  src/components/LanguagePicker/index.tsx
  src/components/LanguagePicker/useLanguagePicker.tsx
  src/components/MediaQuery.tsx
  src/components/Nav/Client/index.tsx
  src/components/Nav/DesktopNav.tsx
  src/components/Nav/Menu/index.tsx
  src/components/Nav/Mobile/ExpandIcon.tsx
  src/components/Nav/Mobile/LvlAccordion.tsx
  src/components/Nav/Mobile/MenuBody.tsx
  src/components/Nav/Mobile/MenuFooter.tsx
  src/components/Nav/Mobile/index.tsx
  src/components/Nav/MobileMenu/ExpandIcon.tsx
  src/components/Nav/MobileMenu/FooterButton.tsx
  src/components/Nav/MobileMenu/FooterItemText.tsx
  src/components/Nav/MobileMenu/HamburgerButton.tsx
  src/components/Nav/MobileMenu/LvlAccordion.tsx
  src/components/Nav/MobileMenu/MenuAccordion.tsx
  src/components/Nav/MobileMenu/MenuHeader.tsx
  src/components/Nav/MobileMenu/ThemeToggleFooterButton.tsx
  src/components/Nav/MobileMenu/TrackedCollapsible.tsx
  src/components/Nav/MobileMenu/index.tsx
  src/components/Nav/MobileNav.tsx
  src/components/Nav/ThemeToggleButton.tsx
  src/components/Nav/index.tsx
  src/components/Nav/loading.tsx
  src/components/Nav/types.ts
  src/components/Nav/useNavigation.ts
  src/components/Search/index.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/sheet-close-on-navigate.tsx
  src/components/ui/sheet.tsx
  src/intl/en/common.json
  src/lib/nav/buildNavigation.ts
  src/lib/nav/links.ts
  src/lib/nav/localeToDisplayInfo.ts
  src/lib/types.ts
  tests/e2e/pages/BasePage.ts
Labels: content 🖋️, translation 🌍, dependencies 📦, tooling 🔧

#16112 Add links to my portfolio
  public/content/developers/tutorials/all-you-can-cache/index.md
  public/content/developers/tutorials/creating-a-wagmi-ui-for-your-contract/index.md
  public/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
  public/content/developers/tutorials/erc20-annotated-code/index.md
  public/content/developers/tutorials/erc20-with-safety-rails/index.md
  public/content/developers/tutorials/ethereum-for-web2-auth/index.md
  public/content/developers/tutorials/ipfs-decentralized-ui/index.md
  public/content/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  public/content/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  public/content/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/developers/tutorials/scam-token-tricks/index.md
  public/content/developers/tutorials/secret-state/index.md
  public/content/developers/tutorials/server-components/index.md
  public/content/developers/tutorials/short-abi/index.md
  public/content/developers/tutorials/uniswap-v2-annotated-code/index.md
Labels: content 🖋️

#16180 Release candidate
  app/[locale]/10years/_components/NFTMintCard/index.tsx
  instrumentation-client.ts
  public/content/developers/tutorials/all-you-can-cache/index.md
  public/content/developers/tutorials/creating-a-wagmi-ui-for-your-contract/index.md
  public/content/developers/tutorials/erc-721-vyper-annotated-code/index.md
  public/content/developers/tutorials/erc20-annotated-code/index.md
  public/content/developers/tutorials/erc20-with-safety-rails/index.md
  public/content/developers/tutorials/ethereum-for-web2-auth/index.md
  public/content/developers/tutorials/ipfs-decentralized-ui/index.md
  public/content/developers/tutorials/merkle-proofs-for-offline-data-integrity/index.md
  public/content/developers/tutorials/optimism-std-bridge-annotated-code/index.md
  public/content/developers/tutorials/reverse-engineering-a-contract/index.md
  public/content/developers/tutorials/scam-token-tricks/index.md
  public/content/developers/tutorials/secret-state/index.md
  public/content/developers/tutorials/server-components/index.md
  public/content/developers/tutorials/short-abi/index.md
  public/content/developers/tutorials/uniswap-v2-annotated-code/index.md
  public/content/roadmap/fusaka/index.md
  public/content/wrapped-eth/index.md
  sentry.edge.config.ts
  sentry.server.config.ts
  src/data/roadmap/releases.tsx
  src/intl/en/page-10-year-anniversary.json
  src/layouts/Static.tsx
Labels: content 🖋️, translation 🌍

#16194 chore: remove /en/ and/or domain prefix from internal links
  .github/ISSUE_TEMPLATE/suggest_dapp.yaml
  .github/ISSUE_TEMPLATE/suggest_dev_tool.yaml
  .github/ISSUE_TEMPLATE/suggest_exchange.yaml
  .github/ISSUE_TEMPLATE/suggest_layer2.yaml
  .github/ISSUE_TEMPLATE/suggest_quiz.yaml
  .github/ISSUE_TEMPLATE/suggest_resource.yaml
  .github/ISSUE_TEMPLATE/suggest_staking_product.yaml
  .github/ISSUE_TEMPLATE/suggest_tutorial.yaml
  .github/ISSUE_TEMPLATE/suggest_wallet.yaml
  CONTRIBUTING.md
  README.md
  app/[locale]/10years/_components/NFTMintCard/views/MintAlreadyMinted.tsx
  app/[locale]/10years/_components/NFTMintCard/views/MintSuccess.tsx
  docs/header-ids.md
  docs/stack.md
  docs/translation-program.md
  public/.well-known/security.txt
  public/content/community/events/organizing/index.md
  public/content/contributing/style-guide/content-standardization/index.md
  public/content/developers/docs/consensus-mechanisms/pos/keys/index.md
  public/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/developers/docs/standards/tokens/erc-223/index.md
  public/content/developers/tutorials/creating-a-wagmi-ui-for-your-contract/index.md
  public/content/developers/tutorials/secret-state/index.md
  public/content/privacy/index.md
  public/content/translations/el/developers/docs/consensus-mechanisms/pos/keys/index.md
  public/content/translations/el/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/el/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/es/developers/docs/consensus-mechanisms/pos/keys/index.md
  public/content/translations/es/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/es/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/fa/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/fa/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/fr/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/fr/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/ga/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/hu/developers/docs/consensus-mechanisms/pos/keys/index.md
  public/content/translations/hu/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/hu/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/it/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/it/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/ja/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/ja/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/pt-br/developers/docs/consensus-mechanisms/pos/keys/index.md
  public/content/translations/pt-br/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/tr/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/tr/developers/docs/standards/tokens/erc-223/index.md
  public/content/translations/zh-tw/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/zh/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md
  public/content/translations/zh/developers/docs/standards/tokens/erc-223/index.md
Labels: content 🖋️, translation 🌍, documentation 📖, tooling 🔧

#16155 intl: extract missing /enterprise strings
  app/[locale]/enterprise/page.tsx
  src/intl/en/page-enterprise.json
Labels: content 🖋️, translation 🌍

#16191 chore: :memo: update docs Prysm domain to prysm.offchainlabs.com
  public/content/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/developers/docs/nodes-and-clients/index.md
  public/content/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/index.md
  public/content/translations/de/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/el/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/el/developers/docs/nodes-and-clients/index.md
  public/content/translations/el/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/es/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/es/developers/docs/nodes-and-clients/index.md
  public/content/translations/es/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/fa/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/fa/developers/docs/nodes-and-clients/index.md
  public/content/translations/fa/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/fr/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/fr/developers/docs/nodes-and-clients/index.md
  public/content/translations/fr/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/ga/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/ga/developers/docs/nodes-and-clients/index.md
  public/content/translations/ga/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/index.md
  public/content/translations/hi/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/hu/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/hu/developers/docs/nodes-and-clients/index.md
  public/content/translations/hu/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/id/developers/docs/nodes-and-clients/index.md
  public/content/translations/it/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/it/developers/docs/nodes-and-clients/index.md
  public/content/translations/it/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/ja/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/ja/developers/docs/nodes-and-clients/index.md
  public/content/translations/ja/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/pt-br/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/pt-br/developers/docs/nodes-and-clients/index.md
  public/content/translations/pt-br/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/ro/developers/docs/nodes-and-clients/index.md
  public/content/translations/ru/developers/docs/nodes-and-clients/index.md
  public/content/translations/tr/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/tr/developers/docs/nodes-and-clients/index.md
  public/content/translations/tr/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/index.md
  public/content/translations/zh-tw/developers/docs/nodes-and-clients/run-a-node/index.md
  public/content/translations/zh/developers/docs/nodes-and-clients/client-diversity/index.md
  public/content/translations/zh/developers/docs/nodes-and-clients/index.md
  public/content/translations/zh/developers/docs/nodes-and-clients/run-a-node/index.md
Labels: content 🖋️, translation 🌍

#16156 intl: extract missing /apps/categories/[catetgoryName] string
  app/[locale]/apps/categories/[catetgoryName]/page.tsx
  src/intl/en/page-apps.json
Labels: content 🖋️, translation 🌍

#16165 Minor text corrections/improvements
  public/content/community/events/organizing/index.md
  public/content/contributing/translation-program/playbook/index.md
  public/content/developers/docs/consensus-mechanisms/pos/index.md
  public/content/developers/tutorials/server-components/index.md
  public/content/smart-contracts/index.md
  public/content/what-are-apps/index.md
  src/intl/en/page-what-is-ethereum.json
Labels: content 🖋️, translation 🌍

#15607 feat(glossary): add token factory definition [FIXES #14397]
  public/content/glossary/index.md
  src/intl/en/glossary.json
Labels: content 🖋️, translation 🌍, Status: Stale

#15948 Add DeGov.Ai DAOs and Launcher to Ethereum website
  public/content/dao/index.md
Labels: content 🖋️

#15953 docs: update faucet links and formatting in /developers/docs/networks/
  public/content/developers/docs/networks/index.md
Labels: content 🖋️

#14717 Added the free or paid badge to each developer bootcamp card
  app/[locale]/developers/learning-tools/_components/learning-tools.tsx
  src/components/LearningToolsCardGrid.tsx
  src/components/ProductCard.tsx
  src/data/wallets/wallet-data.ts
  src/intl/en/page-developers-learning-tools.json
  src/lib/types.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#14783 Update wallet-data.ts - Coin Wallet
  src/data/wallets/wallet-data.ts
Labels: update 🔄

#14827 add NuFi to the list of Ethereum wallets
  public/images/wallets/nufi.png
  src/data/wallets/wallet-data.ts
Labels: wallet 👛

#15229 Update link to Fluffy on the Portal Network page
  public/content/translations/es/developers/docs/networking-layer/portal-network/index.md
  public/content/translations/fa/developers/docs/networking-layer/portal-network/index.md
  public/content/translations/fr/developers/docs/networking-layer/portal-network/index.md
Labels: content 🖋️, translation 🌍

#16252 docs: fix outdated links
  public/content/developers/docs/smart-contracts/anatomy/index.md
Labels: content 🖋️

#16254 docs: fix broken link to composability article
  public/content/developers/docs/smart-contracts/composability/index.md
Labels: content 🖋️

#16233 Find wallets optimizations
  app/[locale]/apps/[application]/page.tsx
  app/[locale]/wallets/find-wallet/page.tsx
  package.json
  pnpm-lock.yaml
  src/components/ChainImages/index.tsx
  src/components/FindWalletProductTable/FindWalletProductTable.stories.tsx
  src/components/FindWalletProductTable/PersonaTags.tsx
  src/components/FindWalletProductTable/WalletInfo.tsx
  src/components/FindWalletProductTable/hooks/useWalletColumns.tsx
  src/components/FindWalletProductTable/index.tsx
  src/components/Layer2NetworksTable/hooks/useNetworkColumns.tsx
  src/components/Layer2NetworksTable/index.tsx
  src/components/ProductTable/Filter.tsx
  src/components/ProductTable/Filters.tsx
  src/components/ProductTable/List.tsx
  src/components/ProductTable/MobileFilters.tsx
  src/components/ProductTable/PresetFilters.tsx
  src/components/ProductTable/index.tsx
  src/lib/product-table/index.ts
  src/lib/types.ts
  src/lib/utils/wallets.ts
Labels: dependencies 📦, tooling 🔧

#16211 deprecate: optimism apps portal link
  .github/ISSUE_TEMPLATE/suggest_layer2.yaml
  public/content/contributing/adding-layer-2s/index.md
Labels: content 🖋️, tooling 🔧

#16157 refactor: TabNav; deprecate CategoriesNav, ResourcesNav
  app/[locale]/apps/_components/CategoriesNav.tsx
  app/[locale]/apps/categories/[catetgoryName]/page.tsx
  app/[locale]/resources/_components/ResourcesNav.tsx
  app/[locale]/resources/page.tsx
  app/[locale]/resources/types.ts
  app/[locale]/resources/utils.tsx
  src/components/BoxGrid.tsx
  src/components/CardList.tsx
  src/components/Hero/CallToAction.tsx
  src/components/PageHero.tsx
  src/components/Staking/StakingComparison.tsx
  src/components/Staking/StakingProductsCardGrid/types.ts
  src/components/SubpageCard.tsx
  src/components/ui/Link.tsx
  src/components/ui/TabNav.tsx
  src/components/ui/TruncatedText.tsx
  src/components/ui/buttons/Button.tsx
  src/components/ui/link-box.tsx
  src/hooks/useStakingConsiderations.tsx
  src/lib/types.ts
  src/lib/utils/matomo.ts
Labels: tooling 🔧

#16280 docs: fix broken links
  public/content/developers/docs/smart-contracts/testing/index.md
Labels: content 🖋️

#16273 add Karma Funding Map to grants list
  public/content/community/grants/index.md
Labels: content 🖋️

#16288 docs: update outdated Alchemy NFT API docs link
  public/content/developers/docs/standards/tokens/erc-1155/index.md
Labels: content 🖋️

#16289 fix: stablecoin accordion indicator
  src/components/StablecoinAccordion/AccordionCustomItem.tsx
  src/intl/en/page-stablecoins.json
Labels: content 🖋️, translation 🌍

#16291 docs: Update Plural Funding link
  public/content/zero-knowledge-proofs/index.md
Labels: content 🖋️

#16295 [Text] Add missing space
  public/content/nft/index.md
Labels: content 🖋️

#15409 Add resource to learn zk via game in index.md
  public/content/zero-knowledge-proofs/index.md
Labels: content 🖋️, Status: Stale

#16304 docs: fix outdated Medium links
  public/content/developers/docs/web2-vs-web3/index.md
Labels: content 🖋️

#15220 fix: incorrect `Promise<>` usage in `params`
  app/[locale]/what-is-ethereum/page.tsx
Labels: Status: Stale

#16296 Create Peerdas page
  public/content/roadmap/fusaka/index.md
  public/content/roadmap/fusaka/peerdas/index.md
  public/content/roadmap/fusaka/peerdas/polynomial.png
  public/content/roadmap/fusaka/peerdas/subnets.png
Labels: content 🖋️

#16315 Update docs
  CLAUDE.md
  docs/applying-storybook.md
  docs/best-practices.md
  docs/code-conventions.md
  docs/stack.md
Labels: documentation 📖

#16298 rearranged page to fit upcoming blog post structure, added non-core EIPs
  app/[locale]/community/page.tsx
  public/content/roadmap/fusaka/average-blob-count-per-block.webp
  public/content/roadmap/fusaka/index.md
  src/data/placeholders/content-roadmap-fusaka-data.json
  src/data/placeholders/content-roadmap-fusaka-peerdas-data.json
Labels: content 🖋️

#16238 feat: What is ethereum network page
  app/[locale]/founders/page.tsx
  app/[locale]/what-is-ethereum/page.tsx
  app/[locale]/what-is-the-ethereum-network/page-jsonld.tsx
  app/[locale]/what-is-the-ethereum-network/page.tsx
  public/images/man-and-dog-playing.png
  public/images/what-is-ethereum-network/computer_alone.png
  public/images/what-is-ethereum-network/what-is-ethereum-network.png
  src/components/Banners/BugBountyBanner/index.tsx
  src/components/CommentCard/index.tsx
  src/components/ui/Link.tsx
  src/intl/en/common.json
  src/intl/en/page-what-is-the-ethereum-network.json
  src/lib/nav/buildNavigation.ts
  src/lib/utils/contributors.ts
  src/lib/utils/metadata.ts
Labels: content 🖋️, translation 🌍, tooling 🔧

#16341 docs: fix outdated Alchemy docs link
  public/content/developers/tutorials/eip-1271-smart-contract-signatures/index.md
Labels: content 🖋️

#16358 patch: h1 and superscript
  public/content/roadmap/fusaka/index.md
  public/content/roadmap/fusaka/peerdas/index.md
Labels: content 🖋️

#16346 docs: fix typo and update outdated reference
  public/content/developers/tutorials/erc20-annotated-code/index.md
Labels: content 🖋️

#16347 docs: fix broken and outdated links
  public/content/community/get-involved/index.md
Labels: content 🖋️

#16357 staking home -> stkaing homepage
  src/intl/en/common.json
  src/intl/en/page-staking.json
  src/intl/pcm/common.json
  src/intl/pcm/page-staking.json
Labels: content 🖋️, translation 🌍

#16360 fix: update wallet filter text from "Sell for fiat" to "Sell for cash"
  src/intl/en/page-wallets-find-wallet.json
Labels: content 🖋️, translation 🌍

#16361 add headers ids for what-are-apps page
  public/content/what-are-apps/index.md
Labels: content 🖋️

#16364 add resource
  public/content/roadmap/fusaka/index.md
  public/content/roadmap/fusaka/peerdas/index.md
Labels: content 🖋️

#16365 docs: update outdated Alchemy links
  public/content/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/index.md
Labels: content 🖋️

#16366 Fix grammar: add "by" after "given" in "given a celebrity"
  public/content/security/index.md
Labels: content 🖋️

#16368 patch: markdown syntax
  public/content/contributing/style-guide/content-standardization/index.md
Labels: content 🖋️

#16371 docs: fix outdated NIST SP 800-154 link
  public/content/developers/tutorials/guide-to-smart-contract-security-tools/index.md
Labels: content 🖋️

#16383 docs: fix broken Dune links
  public/content/developers/tutorials/learn-foundational-ethereum-topics-with-sql/index.md
Labels: content 🖋️

#16390 refactor: /bug-bounty page
  app/[locale]/bug-bounty/_components/bug-bounty.tsx
  app/[locale]/bug-bounty/page.tsx
  src/components/BugBountyCards.tsx
  src/intl/en/page-bug-bounty.json
Labels: content 🖋️, translation 🌍

#16391 feat: /bug-bounty page content additions [Closes #16247]
  app/[locale]/bug-bounty/page.tsx
  src/intl/en/page-bug-bounty.json
Labels: content 🖋️, translation 🌍

#16316 fix: rm Promise/await page param type
  app/[locale]/10years/page.tsx
  app/[locale]/[...slug]/page.tsx
  app/[locale]/apps/[application]/page.tsx
  app/[locale]/apps/categories/[catetgoryName]/page.tsx
  app/[locale]/apps/page.tsx
  app/[locale]/assets/page.tsx
  app/[locale]/bug-bounty/page.tsx
  app/[locale]/collectibles/page.tsx
  app/[locale]/community/page.tsx
  app/[locale]/contributing/translation-program/acknowledgements/page.tsx
  app/[locale]/contributing/translation-program/contributors/page.tsx
  app/[locale]/contributing/translation-program/translatathon/leaderboard/page.tsx
  app/[locale]/developers/learning-tools/page.tsx
  app/[locale]/developers/local-environment/page.tsx
  app/[locale]/developers/page.tsx
  app/[locale]/developers/tutorials/page.tsx
  app/[locale]/enterprise/page.tsx
  app/[locale]/eth/page.tsx
  app/[locale]/founders/page.tsx
  app/[locale]/gas/page.tsx
  app/[locale]/get-eth/page.tsx
  app/[locale]/layer-2/learn/page.tsx
  app/[locale]/layer-2/networks/page.tsx
  app/[locale]/layer-2/page.tsx
  app/[locale]/learn/page.tsx
  app/[locale]/page.tsx
  app/[locale]/quizzes/page.tsx
  app/[locale]/resources/page.tsx
  app/[locale]/roadmap/page.tsx
  app/[locale]/roadmap/vision/page.tsx
  app/[locale]/run-a-node/page.tsx
  app/[locale]/stablecoins/page.tsx
  app/[locale]/staking/deposit-contract/page.tsx
  app/[locale]/staking/page.tsx
  app/[locale]/start/page.tsx
  app/[locale]/trillion-dollar-security/page.tsx
  app/[locale]/wallets/find-wallet/page.tsx
  app/[locale]/wallets/page.tsx
  app/[locale]/what-is-ethereum/page.tsx
  src/lib/types.ts
Labels: tooling 🔧

#16348 Updating list of l2 networks
  public/images/layer-2/blast.png
  public/images/layer-2/ink.png
  public/images/layer-2/mode.png
  public/images/layer-2/taiko.png
  public/images/layer-2/unichain.png
  src/data/mocks/growThePieBlockspaceData.json
  src/data/mocks/growThePieData.json
  src/data/mocks/growThePieMasterData.json
  src/data/mocks/l2beatData.json
  src/data/networks/networks.ts
  src/intl/en/page-layer-2.json
  src/lib/api/fetchGrowThePieBlockspace.ts
Labels: content 🖋️, translation 🌍, tooling 🔧
